[2021-05-28 10:57] G-kodes commented on #1698
I don't know what the current discussion around this is but is it not optimal to generate and maintain a physical xml file instead of trying to programmatically generate one per request? I am currently using Wagtail  for a very large site ([The South African SDG Hub](https://sasdghub.up.ac.za)), and while I could make a quick, hacky fix my increasing the timeout on my reverse proxy, that doesn't r

[2021-05-28 15:24] #7203 closed

[2021-05-28 15:46] #7206 closed

[2021-05-28 16:06] thibaudcolas commented on #4968
I have just set up French and Finnish translations for a few pages on the documentation of our Sphinx theme, https://sphinx-wagtail-theme.readthedocs.io/, as a trial:

- https://sphinx-wagtail-theme.readthedocs.io/fr/latest/
- https://sphinx-wagtail-theme.readthedocs.io/fi/latest/

This follows the RTD guides to the letter. It was pretty straightforward, there is very little configuration needed o

[2021-05-29 15:25] xeroticikot opened #7226 "StreamField javascript error for comment in production"
I'm using wagtail latest 2.13, django version 3.1.6 running on nginx server, ubuntu 20.04 OS.
In my local machine, there are no issues, but in production, I'm getting the following browser errors and the streamfield contents are not loading properly on page editing from admin. Below are the console errors -
[code]

[2021-05-29 23:56] alejandrorbraun commented on #6534
I'm also having this issue.

[2021-05-30 09:48] ehmadzubair commented on #4297
Really appreciate the work you're doing with Wagtail. Is this issue under somebody's radar?

[2021-05-30 12:52] allcaps commented on #6677
@hardcodd Thanks for working on this! I've merged your PR via https://github.com/wagtail/wagtail/commit/fd4ed6aaeb2a5697b2f75637ff85e6b0acea5dc6

[2021-05-30 12:52] #6677 closed

[2021-05-31 09:26] mikaelclaesson commented on #5422
Is this still an issue? And if so, are there any plans for a fix? We have started looking at workarounds for our specific scenario and what we've come up with so far feels less than ideal.

How are others tackling this? By downgrading to ES5? My understanding is that it has been EOL for two years now.

I would be very grateful for any news or suggestions.

[2021-05-31 22:15] ababic commented on #7201
@Warqus. I'm not sure I'm following what you are trying to do here. How is `site` being set on `EntityType` if you do not display a field for it? If the unique restriction is set on the `site` and `identifier` combination, but `site` is always `None` - that's equivalent to just putting a unique restraint on `identifier`.

[2021-05-31 22:37] ababic commented on #7175
For anyone looking to do this before a change lands in Wagtail, you can bypass this validation in the CMS by creating `Site` objects via the Django shell.

[2021-06-01 09:44] Warqus commented on #7201
@ababic Thanks for the reply. EntityTypeCategory has a field Site which is choosable. Before saving EntityType, the site on EntityType is set to the same site as EntityTypeCategory.

[code]

Wagtail does not support multi tenancy yet. That's why I add site to each model. Each user has permission to certain sites and it makes sure they can or cannot see certain types. EntityType and EntityTypeCateg

[2021-06-01 10:50] xeroticikot commented on #7226
Also on local machine admin urls giving below like messages -
[code]

[2021-06-01 12:22] gasman commented on #7226
I think you're running into issues with outdated versions of Javascript code being cached. In particular, this error:
[code]
would happen if you've upgraded `wagtail-instance-selector` to 2.1 or above (which contains instance_selector_telepath.js), but your browser is still using an old version of [instance_selector_widget.js](https://github.com/ixc/wagtail-instance-selector/blob/master/instance_s

[2021-06-01 12:22] #7226 closed

[2021-06-01 12:30] ababic commented on #7201
@Warqus okay, that all makes sense. It appears that the problem lies in your custom code somewhere. Validation will take place before saving happens - so perhaps you need to look at overriding `clean()` or `full_clean()` to set the `site` value instead. I would also consider ditching the `site` field completely... if the `EntityTypeCategory` itself has that relationship, and all `EntityType` are a

[2021-06-01 12:43] xeroticikot commented on #7226
Thank you so much for pointing that out. I've deleted the cached static files from static folder & did "collectstatic" for production & it solved the issue. Though I'm using "whitenoise.storage.CompressedManifestStaticFilesStorage".

[2021-06-01 15:09] cspollar opened #7230 "Unable to copy tagged page (subclass of a subclass)"
### Issue Summary

Copying a page that inherits from a page that inherits from a page with ClusterTaggableManager fails with the following error. In other words, a subclassed page can be copied, but not a subclassed subclassed page. Please see code snippet below.

```ValueError: Cannot add [] (<class 'modelcluster.queryset.FakeQuerySet'>). Expected <class 'django.db.models.base.ModelBase'> or str.

[2021-06-01 18:08] robicano22 commented on #5770
should the script from @thaxy be placed in the root app or in the app where I've registered the page w/ the nested inline panels?

[2021-06-02 03:47] TabishB commented on #5770
@robicano22 Hey, I think i've ran into this issue the same time as you. I've added @thaxy's file inside the static folder of my app. For example `/<your_app_name>/static/wagtailadmin/js/expanding_formset.js`. This seems to override the js file the wagtailadmin static folder.

[2021-06-02 10:17] mrts commented on #3631
As of Wagtail 1.11 the issue still exists - page preview fails when hostname is incorrect. This is just FYI, the issue can remain closed.

[2021-06-02 10:41] xeroticikot opened #7231 "Wagtail admin won't login without any error"
### Issue Summary

When DEBUG=False and settings set to production, wagtail admin won't login even after providing correct credentials without any error. I've implemented django-allauth for frontend authentication, that also acting the same way. So, I've set a debug file for production errors. Here's the errors getting generated.
[debug.log](https://github.com/wagtail/wagtail/files/6583793/debug.l

[2021-06-02 11:26] gasman commented on #7231
Hi @xeroticikot - we can't provide troubleshooting support over Github issues, sorry. Please use the [Wagtail tag on Stack Overflow](https://stackoverflow.com/questions/tagged/wagtail) for support queries, or see [the Support page in the documentation](https://docs.wagtail.io/en/stable/support.html) for other options.

[2021-06-02 11:26] #7231 closed

[2021-06-02 13:48] enzedonline opened #7233 "User section showing in wrong part of menu after upgrading to 2.13.x"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Since upgrading from 2.12.4, the admin user avatar and sub-menu shows in the main part of the menu with the previous area blank:

![image](https://user-images.githubusercontent.com/72310199/120491002-2d38df00-c3b9-11eb-89d2-b0d10e35e1cc.png)

### Steps to Reproduce

The error doesn't show on my dev server (Windows) but shows af

[2021-06-02 14:15] gasman commented on #7233
Hi @enzedonline,
If this is only happening on the production server, then it's very likely this is a deployment issue (such as failing to run `./manage.py collectstatic` after upgrading) rather than a Wagtail bug. You may be able to get more help on [our support channels](https://docs.wagtail.io/en/stable/support.html).

[2021-06-02 14:15] #7233 closed

[2021-06-03 02:46] awhileback opened #7234 "modeladmin CreateView set to conditionally pre-populate an inline panel produces duplicate inlines upon create, but not thereafter."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Imagine a drip email marketing functionality, in which non-developers are able to build query sets from dropdown menus and append them as inline panels on an email form.  That's what this is ;).  Of course, people tend to forget things, and the first thing that needs to be included in an email marketing rule is to exclude peopl

[2021-06-03 13:21] gasman commented on #5422
We don't currently have a fix for this on our roadmap - my impression is that most interest has moved on to the Postgres backend, and people are either using that or living with less-optimal search results.

We'd be very happy to accept a pull request to address this - or, since the problem and potential fix here is fairly well understood, I think this is something that Torchbox would be willing t

[2021-06-03 13:44] gasman commented on #7201
I think this is a general Django coding issue rather than a Wagtail-specific one - form-level validation (which is what Wagtail's admin forms catch and handle cleanly) can't catch errors that only arise during the `save()` step.

[2021-06-03 13:44] #7201 closed

[2021-06-03 16:08] robicano22 commented on #5770
@TabishB  thanks for reaching out. Excuse my ignorance on this, but I still can't override the expanding_formset function.

I've placed @thaxy 's snippet in the source app for the wagatil admin, as well as in the app where I've defined the models with the nested inline panels, at the proper directory path (see below), but the issues persist.

`/<admin-source-app>/static/wagtailadmin/js/expanding_f

[2021-06-04 08:12] onno-timmerman opened #7235 "User primary key UUID and wagtail 2.13 comments"
I integrated wagtail in a project where the user has a UUID as primary key. This was working fine in 2.12 but in 2.13 we got the new comment system. This give a bug with a UUID key.

'''TypeError: keys must be str, int, float, bool or None, not UUID'''

If you turn of the comment system:
WAGTAILADMIN_COMMENTS_ENABLED = False

Then the problem go's away

### Technical details
* Wagtail version:2.13

[2021-06-04 08:18] gasman commented on #7235
Hi @onno-timmerman - this has been fixed in Wagtail 2.13.1. #7216

[2021-06-04 08:18] #7235 closed

[2021-06-04 08:34] onno-timmerman commented on #7235
yeah I just see it in the release notes :)

[2021-06-04 09:39] Allan-Nava commented on #1196
Any news?

[2021-06-04 10:13] gasman commented on #7234
Hi @awhileback,
I think this is because the `queryset_rules` relation in django-drip-campaigns - being not specifically built for Wagtail - is a ForeignKey rather than a ParentalKey. InlinePanels are only designed for ParentalKey relations - these have different behaviours regarding how forms are processed and the order in which models are saved, and these differences are key to various bits of Wa

[2021-06-04 12:07] jffr opened #7237 "StreamBlock code example results in a syntax error"
### Pertinent section of the Wagtail docs

https://docs.wagtail.io/en/stable/topics/streamfield.html#streamblock

### Details

[code]

The example snippet above results into the following unexpected expression syntax error: `']' or ',' expected`.
My guess is that the `carousel` StreamBlock should actually contain a list of tuples:

[code]

[2021-06-04 16:28] awhileback commented on #7234
Hey gasman, thanks for the reply, now that you mention it I remembered why there was a need to run a fork of the drip app. Sorry, it's been awhile since I got this working initially. I did sub-class the InlinePanel model and change it to a ParentalKey to get it to work.

https://github.com/awhileback/django-drip-campaigns/blob/e708f3d55bef4bca1ac167d43223f028da852fd3/drip/models.py#L365

[2021-06-04 17:11] cspollar commented on #4549
I am unable to reproduce this bug use using the steps described above. I had older projects that were impacted, but after updating them, it appears validation errors are raised as expected. Can this issue be closed?

## Technical details
Python version: 3.8.3
Django version: 3.2.4
Wagtail version: 2.13.1
Browser version: Chrome/91.0.4472.77 on Mac OS

[2021-06-04 17:42] gasman commented on #4549
Thanks @cspollar! Yep, looks like this has indeed been fixed - not sure exactly when, but it looks like the relevant bit of activation in Draftail (i.e. the bit that normalises a single empty paragraph to `null`) now happens on page load rather than on focus.

[2021-06-04 17:42] #4549 closed

[2021-06-04 17:49] gasman commented on #7237
Oops, good catch! PR now opened at #7238 - thanks for reporting!

[2021-06-04 18:04] #7237 closed

[2021-06-06 15:20] gasman opened #7240 "A shortcut for accessing StreamField blocks by name"
### Is your proposal related to a problem?

It's common for people to want to retrieve a block of a particular type from a StreamField value - for example, if 'hero image' is one of the block types defined in a page's content, a developer may want to pull out the first such hero image for use in listings or as a social share image. ([An example of this in the wild](https://stackoverflow.com/questi

[2021-06-06 17:59] Scotchester commented on #7240
This seems like a great idea! What do you think about calling it `blocks_by_type`? Just `by_type` feels a little ambiguous to me.

[2021-06-07 09:12] lery12 commented on #2198
@kevindice
This option would work if your SMTP provider allows sending mails from different e-mails.
Most reputable SMTP providers won't allow this.

The "reply_to" header has to get set in ..\wagtail\admin\mail.py function send_mail

[2021-06-07 20:28] tbrlpld opened #7241 "Improve visibility of error messages"
### Is your proposal related to a problem?

When ever I have validation errors when trying to save a page (or other model) in the Wagtail admin, I find it hard to identify the field with the error.

I believe this is particularly hard for me as I have a form of "deuteranomalia" which causes "red" for me to be less saturated than for other people. As a result, the small red error text appears basic

[2021-06-08 14:30] KevBarbour commented on #5405
@thibaudcolas honestly I understand the reasoning behind not making a ton of work, but why is it so hard to have .left and .right images: centered, side by side, correct aspect ratios, with descriptive text beneath them? I think it is logical to provide these in the docs as default, as it is definitely the most likely use of this function. The best I can get so far (haven't tried creating new cont

[2021-06-09 12:57] CCWongVR commented on #6764
I just resolved this same issue and the solution is pretty simple, especially if you have a GUI to interact with the database (I'm using HeidiSQL). For reference, I'm on Wagtail 2.13.1 and Django 3.2.4.

1) Drop the wagtailembeds_embed table.
2) Remove all 'wagtailembeds' migrations from the django_migrations table.
3) Run 'python manage.py migrate'.

It'll just rebuild the whole table cleanly.

[2021-06-09 21:51] simonjoeca opened #7243 "draft title changed/updated but wagtail admin still searches the old title"
### Issue Summary

When a draft title is changed/updated and draft is saved, the wagtail admin still searches the old title instead of the changed/updated one.

The issue stays till the page is published.

### Steps to Reproduce

1. Edit a page's title, remove some old word and add new word, save draft;
2. In wagtail admin, search for the newly added word in the new title, the page won't appear;
3

[2021-06-09 22:01] cspollar opened #7244 "500 error while filtering search results in admin"
### Issue Summary

Malformed query strings cause the app to crash while filtering search results in the admin.

Manually adding a period to the content_type in the URL's query string will cause the admin site to 500.

This is a minor issue, the only downside is occasional noisy logs and confused users that are trying to be clever while searching.

I've created a pull request to address this issue.

[2021-06-10 16:02] onno-timmerman opened #7246 "Firefox problem with collections select field in Admin"
### Issue Summary
I recently switched to Firefox browser (89.0). When I want to use the select field for selecting a collection the behavior is kinda strange. Sometimes opening the select field it works fine. Other times the select field get stuck and you can select an item. An other occasions the selection is erratic.

* Wagtail version: 2.13.0
* Browser version: Firefox 89

[2021-06-11 00:09] jkevingutierrez opened #7248 "Nested StructBlocks in a StreamBlock are not showing the ValidationError in the field"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

In Wagtail 2.13.1, having a required field in a nested StructBlock shows the message "The page could not be saved due to validation errors" at the top of the page, but it doesn't show the message "This field is required." in the failing field.

Looks like the issue is happening with any ValidationError, not just the required er

[2021-06-11 00:29] jkevingutierrez commented on #7219
This would be also useful for StreamBlocks  or StreamFields or blocks/fields that receive a list of blocks.

The "+" and the title of the button "Add" could be a big ambiguous. It would be great to have the ability to change that text

![image](https://user-images.githubusercontent.com/6220055/121613416-049c8f00-ca22-11eb-81ab-b1667579ba00.png)

[2021-06-11 13:09] #7230 closed

[2021-06-11 14:18] yyken opened #7250 "Improve StreamBlockValidationError API for use in custom validation methods"
When validating StreamField using the validators attribute, I always got below exception

[code]

My validator function like below:

[code]

### Issue Summary

I try to modify **StreamBlockValidationErrorAdapter** class

[code]

and change validator function as below:

[code]

then all work properly.

but I don't know how to test **block_errors**

I hope this helps.

### Technical details

* Pytho

[2021-06-14 13:15] murray3k opened #7252 "Empty InlinePanel with Tags raises exception instead of showing an error"
### Issue Summary

Saving a Page with an empty InlinePanel, containing a Tag-Field, raises the infamous `['ManagementForm data is missing or has been tampered with']` ValidationError. Not a critcal bug at all, but still annoying.

### Steps to Reproduce

1. Have models like this:
[code]
2. Create a BlogPage
3. Add an empty RelatedThing (`title` and `tags` empty)
4. Save draft

**Any other relevant

[2021-06-14 14:28] darkcloud1801 commented on #4602
What is the status of this?

[2021-06-14 16:39] #7163 closed

[2021-06-14 22:13] Mayanktaker opened #7255 "WAGTAIL_ALLOW_UNICODE_SLUGS returning hyphens/dashes"
### Issue Summary

Fresh Install of Wagtail. Trying to convert my Hindi characters in slug url which is auto generated by Wagtail, to English Characters so when I share the url on social media, it dont mess with %%%%. I want to convert my slugs to ascii when make a post/page. I am using WAGTAIL_ALLOW_UNICODE_SLUGS=False
it should convert the unicode Hindi language url to English(like Django Autosl

[2021-06-15 07:36] devRawnie commented on #3412
I used a ParentalManyToManyField and extended the ClusterableModel, and it is saving the details now

[2021-06-15 10:30] gasman commented on #7255
Hi @Mayanktaker - thanks for the report.

This is the intended behaviour - as per #1443, Wagtail does not perform any kind of transliteration on non-ASCII titles. It seems that the overall preference for transliterating vs keeping the original unicode varies between languages (see also https://github.com/wagtail/wagtail/issues/3311#issuecomment-276115890) - but since people who do want to preserve

[2021-06-15 19:01] Mayanktaker commented on #7255
Hi @gasman ,
Thanks for opening the PR.
I was in Django and Autoslug works fine for me. Now shifting to wagtail but I want transliteration in url.
Have a look at this [](https://pypi.org/project/django-autoslug/)
Can I use this with wagtail slug ?

[2021-06-15 19:05] gasman commented on #7255
No, the slug generation happens client-side, so django-autoslug wouldn't be suitable for this. (Also, django-autoslug relies on the [unidecode](https://pypi.org/project/Unidecode/) library for transliteration, and we can't use that because its licence is incompatible with Wagtail's.)

[2021-06-16 09:26] markhorgan opened #7259 "Value too long for type character varying(200)"
I followed the getting started guide [here](https://docs.wagtail.io/en/stable/getting_started/tutorial.html?_ga=2.31194298.443541839.1623832932-1104313589.1622803984). I set it up to use Postgres instead of sqlite but when I run `./manage.py migrate` I get the following error:

[code]

Wagtail version: 2.13.1
Django version: 3.2.4
Python version: 3.9.4

[2021-06-16 09:36] thibaudcolas commented on #4968
Discussed in today’s core team meeting – confirmed it made sense to use Transifex for this, as a separate project. Django does this as well, although in a separate repository. For Wagtail, it should be fine to keep it all in the same repository.

Based on the [documentation analytics](https://plausible.io/docs.wagtail.io/), here are popular pages to translate:

<details>

<summary>View top 20 page

[2021-06-16 09:39] thibaudcolas commented on #4968
I see @children1987 had translated a lot of the editor manual to zh-Hans (simplified chinese?) a couple of years ago. I don’t think it would have changed much since so this could be a good one to use as a trial of all of the above, assuming we can find a simple way to move changes in RST files to Transifex: https://github.com/children1987/wagtail/tree/master/docs/editor_manual.

[2021-06-16 09:48] markhorgan commented on #7259
I made a mistake with the database configuration.

[2021-06-16 15:34] hpoul opened #7260 "Allow creating of language variants of a page in edit mode"
### Is your proposal related to a problem?

Currently when editing a page a language selector is shown if there are existing translations. The only way to create a new language variant is to go to the page list select More -> Translate.

### Describe the solution you'd like

It would be nice if the language switcher shows all configured site languages, and if a page translation does not exist for

[2021-06-16 21:03] mattlangeman commented on #285
Thanks to @PetrDlouhy for his code above. Here is modification that allows richtext images to use a picture tag with webp support.

[code]

[2021-06-17 06:14] adsee42 commented on #5580
Hi, any update on this?
I would love to have an "add emoji" button!

[2021-06-17 15:08] favoyang commented on #6853
@imansyed000 LGTB, wait for a core member to review.

[2021-06-18 14:50] gasman commented on #6664
Thanks @thenewguy! I'd be inclined to treat stale embeds in the same way as an embed that has never been fetched at all - if the re-fetch fails then I think it's reasonable enough to propagate that failure back to the end-user. From a quick look I think that can be done as a two-line change to `get_embed` - exclude embeds with a `cache_until` in the past [when fetching](https://github.com/wagtail/

[2021-06-18 15:43] fpoulain opened #7261 "Form media are not included in account edition with settings panels"
### Issue Summary

I added some fields including a `RichTextField` to a custom `User` model. Then I added a `UserSettingsPanel(BaseSettingsPanel)` in a new tab, registered via `register_account_settings_panel`.

All worked but I was unable to get the Draftail editor.

The bug is very close to #4466. But I am unsure what is the way to properly fix it, due to panels. Moreover it seems that `form` is

[2021-06-18 15:43] gasman commented on #7244
Fixed in #6755

[2021-06-18 15:43] #7244 closed

[2021-06-18 15:59] gasman commented on #6675
Fixed in #6676.

[2021-06-18 15:59] #6675 closed

[2021-06-21 13:34] #7177 closed

[2021-06-21 19:40] Tijani-Dia commented on #7240
I tried to address this.

I don't get this point however. Is it related to the fact that a block can exist in `_raw_data` and not in `_bound_blocks`?

[2021-06-21 20:09] Scotchester opened #7267 "Commenting JS blocks loading of Draftail in a custom image model's RichTextField"
### Issue Summary

If I add a `RichTextField` to a custom image model, when the form renders (either post-upload or by going to the image’s edit page), I am getting this JavaScript console error:

[code]

Switching to a plain `CharField`, the error goes away.

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Edit `home/models.py` as follows:
[code]
3. `makemigration

[2021-06-21 20:10] gasman commented on #7240
@Tijani-Dia Yes, it's related to that. If one of the blocks in the stream is really expensive to evaluate (such as an image gallery containing 100 images), then a simple implementation of `blocks_by_type` that loops over all blocks to build a dict will end up doing that evaluation, even if the caller is doing something like `page.body.blocks_by_type()['heading']` which never looks at that block. I

[2021-06-21 21:10] chosak commented on #7240
So the StreamField documentation uses both "name" and "type" when referring to the key used to identify blocks.

[From the docs](https://docs.wagtail.io/en/stable/topics/streamfield.html):

What can be confusing is that this name/type is distinct from what developers sometimes think of when they think of "block type" (or at least what I think of), which is _the class name of the subclass of a `Str

[2021-06-22 09:51] Tijani-Dia commented on #7240
Alright @gasman, even if I have to admit that I'm worrying about this lol.

@chosak Thanks for your great feedback. Indeed I didn't make much difference between block type and block name. thanks for your enlightenment on this.  I also think that renaming `blocks_by_type` to `blocks_by_name` will be less confusing.

I'm waiting to see to

[2021-06-22 14:11] zoearthmoon opened #7275 "how to overwrite wagtail function?"
hello~
i want to overwrite wagtail function
example:
in wagtail/users/views/users.py
there is a function called "index"

    def index(request, *args):

i want to edit it and change users column
how i can do that?

i have try use

thanks for help~

[2021-06-22 14:14] gasman commented on #7275
Hi @zoearthmoon - please use the [Wagtail tag on Stack Overflow](https://stackoverflow.com/questions/tagged/wagtail) for support queries, or see [the Support page in the documentation](https://docs.wagtail.io/en/stable/support.html) for other options.

[2021-06-22 14:14] #7275 closed

[2021-06-23 12:33] bestasholli opened #7278 "Streamfield can't render (show) own content blocks since version 2.13 in some cases"
### Issue Summary

Wagtail  >2.13 StreamField performance and functionality updates caused issue with stream-fields with large amount of blocks (content). Streamfield field stays collapsed and can't open. This only happens in streamfields with lots of content (some other pages are working properly, one of the pages that is not working contains content of  54904 chars). Also, the problem happens in

[2021-06-23 12:54] gasman commented on #7278
Hi @bestasholli - thanks for the report. However, this doesn't give us enough detail to troubleshoot the issue. Usually, "...is not defined" JS errors would be a sign that you're running outdated Javascript from the previous version, perhaps because you didn't run `./manage.py collectstatic` after upgrading or because you have the old files cached - the fact that this is only happening in producti

[2021-06-23 12:54] #7278 closed

[2021-06-23 15:44] thenewguy opened #7280 "Orderable missing db_index"
[Orderable](https://github.com/wagtail/wagtail/blob/431549c427fa1c0c21a2c4113e4fb77af1dde648/wagtail/core/models/__init__.py#L2343) doesn't specify `db_index=True` on it's `sort_order` field.

Since it sets the default ordering to this field, it probably should.

[2021-06-23 16:32] thenewguy opened #7282 "InlinePanel breaks when pointed at a relation with non-AutoField primary keys"
I have a relation managed using an inline panel (`InlinePanel('inline_assignments', label='Assignments')`) assigned to pages like the following:
[code]

All is well - they can be added to the page.  The relation can be updated and deleted.

However, this relation cannot be used:
[code]

It can be assigned when the page is created.  However, the assignment cannot be edited or removed - the interfac

[2021-06-24 11:27] zerolab opened #7284 "Site history report n+1s"
While checking Scout APM for a client project with lots of different authors and overall activity, I've noticed that the site history report has a few N+1s.

![wagtail-log-views-report-n-plus-one](https://user-images.githubusercontent.com/31622/123254960-349a6680-d4e7-11eb-87ec-a0f0ea452c5e.png)

[2021-06-25 08:56] #7267 closed

[2021-06-25 13:11] gasman commented on #6664
Fixed in #7279

[2021-06-25 13:11] #6664 closed

[2021-06-25 14:32] cnk commented on #7248
I can confirm this issue exists (on Wagtail 2.13.2). One more detail, if the missing data is in the first StructBlock in the list, the "this field is required" is rendered correctly. But if the missing data is in a StructBlock later in the list, the error message is not rendered on the relevant field.

[2021-06-25 15:26] gasman opened #7287 "Remove finders kwarg from get_embed"
The `finders` kwarg on `get_embed` is undocumented and only used in tests:

https://github.com/wagtail/wagtail/blob/2b8049fbd42b4fe132db29857aed21e95378e9bf/wagtail/embeds/embeds.py#L12

It also doesn't receive a 'finder' object as per `get_finders` - it's a callable with its own calling convention.

Tests that follow a different code path to real-world code are of questionable usefulness - we sho

[2021-06-25 23:05] rudeb0t commented on #7248
I am having a similar issue to this one, except mine involves multi column blocks.

[code]
This worked setup fine up until 2.12.5. I have hundreds of pages using this page model (multi column with rich text content) and upon upgrading to 2.13.1 editing pages and saving them results in validation error. I also found that if more than one column has a rich text block only the first column will have

[2021-06-25 23:09] gasman commented on #7248
@rudeb0t Are you using the `wagtailcolumnblocks` package? Apparently that still needs updating for Wagtail 2.13 compatibility: https://github.com/squareweave/wagtailcolumnblocks/issues/8

[2021-06-25 23:28] rudeb0t commented on #7248
@gasman Yes, I have version 2.2.0 installed.

[2021-06-25 23:35] rudeb0t commented on #7248
@gasman Looks like I am hitting this issue as well as the one in squareweave/wagtailcolumnblocks#8 because my "regular" nested `StructBlock` content is also having validation errors.

[2021-06-25 23:50] gasman commented on #7248
@rudeb0t The issue here is about validation errors not showing when they _should_ be shown - it sounds like what you're describing is the opposite. In any case, I can only investigate that further if you can provide a test case that doesn't depend on wagtailcolumnblocks - otherwise, the default assumption is that this is a bug in that package.

[2021-06-26 00:42] rudeb0t commented on #7248
@gasman I have edited my comment above to clarify. I have several other blocks derived from my example `CustomStyledBlock` above and these are nested inside a `StructBlock` subclass like the one showed by the OP. I am having this exact same issue with the validation errors not showing up in the fields. Also have to add that I do not use custom forms for any of the blocks, if that helps.

[2021-06-26 02:26] adsee42 opened #7289 "spin animation in styleguide may have useless translateY(0.6em)"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
![image](https://user-images.githubusercontent.com/54787881/123499430-37bd6000-d669-11eb-8621-22e3ac216ded.png)

I don't get that translate. Is this intended behavior?
And in `core.css`, not `translateY`, just `rotate`.

It's also affecting buttons:
![image](https://user-images.githubusercontent.com/54787881/123499290-435c5700-d

[2021-06-26 19:53] #6108 closed

[2021-06-26 20:17] thibaudcolas opened #7290 "Wagtail userbar should support tab navigation matching ARIA practices for menu"
### Issue Summary

Follow-up to #6108 / #6994. Our user bar follows the ARIA menu [keyboard interactions](https://w3c.github.io/aria-practices/#keyboard-interaction-12), with the exception of Tab and Shift-Tab handling:

### Steps to Reproduce

1. Go to a page with the userbar
2. Open the userbar
3. Tab or shift-tab

---

I think Shift-Tab should move focus back to the user bar trigger. For Tab, i

[2021-06-27 19:45] cnk commented on #7248
I transplanted a demonstration of the error I am seeing into a more basic Wagtail project. Please see https://github.com/cnk/wagtail-tutorial/tree/ErrorDisplayIssue%237248#round-3-errors-not-displayed-for-deeply-nested-blocks

[2021-06-28 10:23] #6887 closed

[2021-06-28 13:04] #7261 closed

[2021-06-28 15:32] roodie opened #7293 "Error while copying pages when the user does not have publishing permissions for the original location"
### Issue Summary

Error during article copy if you have a particular set of permissions - if the given user has only editing (and no publishing) permissions on the page tree they copying FROM, but has publication permissions on the page tree they copying TO, then the copy form omits the "alias" checkbox, thus the copy action fails with the following error message:

`Traceback (most recent call la

[2021-06-28 17:12] gasman commented on #7248
It looks like the error in @cnk's test case is caused by a mismatch in the definition of `ListBlockValidationError` between the backend and frontend code - the backend code builds up the error structure as a list with the same length as the data, and error-free items represented with `None`:

https://github.com/wagtail/wagtail/blob/1750c01d053c2c42ab76a4b67f51412847bf64e7/wagtail/core/blocks/list_

[2021-06-28 17:23] MrWeeble opened #7294 "Elements that were styled with custom colours in 2.12.x revert to wagtail teal in 2.13.x"
### Issue Summary

We have added a custom theme to wagtail by setting a primary colour hue to a colour that matches our brand. We have just updated to 2.13.2, and some elements have become unthemed

### Steps to Reproduce

1. install wagtail 2.12.3 (also tested with 2.12.5)

2. create a css file containing

[code]

3. include it with `@hooks.register("insert_global_admin_css")` as per documentatio

[2021-06-29 11:10] gasman commented on #7248
@jkevingutierrez I can't replicate the bug under 2.13.1 following your test case. Can you confirm that the bug definitely occurs with the combination of blocks you describe? (I notice a couple of syntax errors in your code as posted, so I suspect that what you've posted here isn't exactly the setup you tested with.)

Here's what I tried:

* From a fresh `wagtail start myproject` project, edit home

[2021-06-29 12:00] bva-mike opened #7297 "Comment system stops publication of some entries with "The page could not be saved due to validation errors" message"
### Issue Summary

I can no longer publish some entries in wagtail which have a comment attached, i get a red banner at the top stating "The page could not be saved due to validation errors", but the validation error(s) are not highlighted anywhere on the entry. If i turn off the commenting system with `WAGTAILADMIN_COMMENTS_ENABLED = False` the issue no longer occurs and all effected entries are

[2021-06-29 13:36] gasman commented on #7280
Hi @thenewguy,
I'm not sure that it will make any real difference, given that we'll almost always be filtering those queries on the model's ParentalKey, and each parent instance is only going to have a few hundred children at most. On a site that's large enough for indexing to be significant, it's likely that you'll have thousands of pages with ~10 child objects on each, meaning that the `sort_ord

[2021-06-29 13:36] #7280 closed

[2021-06-29 14:01] gasman commented on #7294
Thanks for reporting @MrWeeble! Looks like this was introduced in this commit: bbbc31ff600a032aa0b7a247e1d951b77a17f89e

[2021-06-29 14:34] zerolab commented on #7297
Hey @bva-mike, would you be able to narrow this down in which Wagtail version it happens. ie. is it between 2.13 and 2.13.2 or, 2.13.1 and 2.13.2?

[2021-06-29 15:37] bva-mike commented on #7297
hey @zerolab i'm pretty sure it happened between 2.13 & 2.13.1

[2021-06-29 17:29] jacobtoppm commented on #7297
Hey @bva-mike , thanks for raising this! This is a bit of a mysterious one. To help narrow it down:
- Have any of the affected comments been added programatically, rather than through the Wagtail admin?
- Do all of the affected comments have a `contentpath` and non-empty `text`?
- Is the issue with users saving pages with their own comments, or with other people's comments?
I did see a similar iss

[2021-06-30 09:29] bva-mike commented on #7297
Hey @jacobtoppm

- All the comments have been added through WT admin
- Yeah looking at the table it _seems_ ok (attached screenshot)
- Ah! A step further: it seems the user who made the comment can publish the page and/or resolve the comment and publish, but other users can do neither

![image](https://user-images.githubusercontent.com/51820538/123936578-3653a680-d98d-11eb-867a-eb03e0a89303.png)

[2021-06-30 10:48] jacobtoppm commented on #7297
I can't reproduce this locally, I'm afraid - I've tried just now with two users. Would you mind double checking that you're definitely on 2.13.2, rather a pre-release version, as this definitely was an issue with the release candidates?

Otherwise, do you have any custom forms or edit handlers on the affected pages?

[2021-06-30 16:55] SunnyR opened #7303 "Custom user interface colors not applying correctly."
### Issue Summary

I recently implemented the Custom user interface colors for wagtail to have a blue skin however, in some sections of the admin interface the color's don't seem to be applying correctly. I've used django-debug-toolbar to look into any overiding tremplates or static files being loaded, removed any third-party apps as well, and still see the issue.

* **Any other relevant informati

[2021-06-30 17:00] gasman commented on #7303
Hi @SunnyR - thanks for the report. This has been reported earlier in #7294 and a fix is now awaiting review - #7298

[2021-06-30 17:00] #7303 closed

[2021-07-01 05:41] joegarlick commented on #2172
I would LOVE this added! :) I keep wanting to use OR type logic for field inputs for better CMS admin UX for the front-end solutions I am designing.

[2021-07-01 08:54] zerolab commented on #2172
fwiw, https://github.com/octavenz/wagtail-advanced-form-builder does this for the form builder (and end-user input)

[2021-07-01 11:44] bva-mike commented on #7297
hey @jacobtoppm yeah i think we're definitely on 2.13.2 im just going on what the version number is in the Admin UI though, screenshot below.

![image](https://user-images.githubusercontent.com/51820538/124118332-1ee9eb80-da69-11eb-8ec1-4a4d0f080a80.png)

we do have a some AutoCompleteSelectMultipleWidget's on most page type models:

![image](https://user-images.githubusercontent.com/51820538/1241

[2021-07-01 12:37] jacobtoppm commented on #7297
Hey @bva-mike

Thanks for answering all these questions. I've tried a few more configurations - publish rather than save, non-admin users, but still can't reproduce the issue as yet.
- Does this occur with all users trying to publish/save another user's comments on your site, or only some/in some circumstances?
- If only sometimes, is it on all page types or some? Does it occur only when publishin

[2021-07-01 17:20] bva-mike commented on #7297
Hey @jacobtoppm

I think i might have fund the issue... steps to reproduce:

1. user 1: add comment to text within RichTextField within StreamBlock
2. user 1: publish entry
3. user 1: edit previous entry
3. user 1: remove previous text from within RichTextField within StreamBlock, (important: but keep comment there unresolved)
4. user 1: publish entry
3. user 2: edit previous entry
4. user 2: pusb

[2021-07-01 19:12] jacobtoppm commented on #7297
Thanks @bva-mike ! It turns out it's slightly more general than that - you just need to edit any next in or preceding another user's comment in a rich text field or block. I've created a PR that should fix the issue, which hopefully we'll get in 2.13.3.

[2021-07-01 20:35] joegarlick commented on #2172
Cool, our use case isn't for building forms on the front-end but for conditional logic for fields in the CMS admin for building more modular templates.

[2021-07-01 20:45] joegarlick commented on #6041
We woudl also love this. Time and time again we come up against this restriction and our content designers are having to do things like add links below a table when they should be in a cell. Linked content is much better for SEO and the user and I hope this gets implemented soon.

[2021-07-02 09:38] #7297 closed

[2021-07-02 09:48] frontendr commented on #5126
Can confirm that @brylie's `NestedInlinePanel` works like a charm in 2.13.2. It also feels very natural to set the children's widgets but I'm not sure about the consequences. The only thing I've changed is to initialise the `widgets` with `super().widget_overrides()` instead of an empty dict.

[2021-07-02 10:22] wefhi commented on #451
If you need this kind of functionality for ModelAdmin I recommend you override WagtailModelAdmin with your CustomModelAdmin and use it instead of ModelAdmin

[code]

This code guarentees that after pressing "save" you will be redirected back to edit view instead of index

[2021-07-02 10:29] bva-mike commented on #7297
@jacobtoppm ah cool! Thanks for the help/fix!

[2021-07-02 10:50] jacobtoppm commented on #7297
@bva-mike No problem! Thanks for helping me pin it down

[2021-07-02 11:00] gasman commented on #7248
Just a little nudge on this...
I'm hoping to get the 2.13.3 release out early next week, which will include the ListBlock fix from #7295 which fixes @cnk's test case. I'm open to the possibility that there's a separate bug here that affects non-ListBlock setups, but without a reproducible test case I'm not able to confirm that.

If anyone's able to provide such a test case by Monday (or confirm th

[2021-07-02 11:06] #7294 closed

[2021-07-03 14:53] cvhorie opened #7311 "wagtail editing multiple pages"
### Is your proposal related to a problem?

I am the content provider/inputter into a Wagtail based website.
The content is an hierachical database, In general, the pages and children pages are identical in structure and very similar in content.  They are arranged:
R.001 Text a
   R.001 a
   R.001 b
   R.001 c
   R.001 d
   R.001 e
R.002 Text b
   R.002 a
   R.002 b
   R.002 c
   R.002 d
   R.002

[2021-07-03 14:57] cvhorie commented on #7311
PS the indentation before R.001 a etc has been deleted, so making the hierarchy levels less visible - CVH

[2021-07-03 22:15] kkomninos opened #7312 "Pip install -e step in setting up the Wagtail codebase section is not working on Windows"
Trying to set up the Wagtail codebase from the documentation, stucks in a pip error on Windows.

### Pertinent section of the Wagtail docs

https://docs.wagtail.io/en/stable/contributing/developing.html#setting-up-the-wagtail-codebase

### Details

The documentation instructs to clone the project from git and then install packages using pip.

The command:
`$ pip install -e '.[testing,docs]' -U`
 l

[2021-07-05 09:52] gasman commented on #7248
Closing for now - happy to reopen if more reproducible test cases surface that aren't addressed by #7295.

[2021-07-05 09:52] #7248 closed

[2021-07-05 15:45] gasman commented on #7312
Thanks for the report @kkomninos! Looking at previous PRs (#3461, #6768), the quotes were added to ensure compatibility with zsh. Looks like we need to give both versions, then - I'll open a PR for this.

[2021-07-05 16:47] zerolab commented on #7284
fixed in #7308

[2021-07-05 16:52] gasman commented on #7284
@zerolab I think site history (as opposed to page history) still needs fixing separately. I did have a fix as part of https://github.com/gasman/wagtail/commits/feature/model-audit-log , but ended up having to roll it back due to other non-deterministic weirdness going on in that branch...

[2021-07-05 16:53] #7312 closed

[2021-07-05 17:38] zerolab commented on #7284
Indeed. My reopening of the issue (and deleting the incorrect comment) is a reflection of that. Got overly excited 🤣

[2021-07-05 17:59] zerolab commented on #7284
How far along is the model audit log? Don't want to submit a PR for this if the other work will come through in time for 2.14

[2021-07-05 18:02] gasman commented on #7284
Model audit log is only at the proof-of-concept stage right now and not expected to be done for 2.14, so feel free to go ahead with a PR.

[2021-07-05 20:53] kkomninos opened #7317 "Broken links in getting_started tutorial"
### Several sections in getting_started/tutorial.md

https://github.com/wagtail/wagtail/blob/main/docs/getting_started/tutorial.md#where-next

### Details

There are 8 internal links that point to github documentation pages and are all **broken**. It seems that the extensions are missing from the links.

E.g. all the links at the bottom of the page in section Where Next are broken.

I have checked

[2021-07-06 08:09] zerolab commented on #7317
Closing due to reasons outlined in #7316

[2021-07-06 08:09] #7317 closed

[2021-07-06 14:12] #7284 closed

[2021-07-06 19:54] zerolab commented on #7010
Fixed in f54e7e1 via #7068

[2021-07-06 19:54] #7010 closed

[2021-07-07 13:01] davidjamesharris opened #7319 "Scheduling publishing admin UX"
### Is your proposal related to a problem?

I've had a few conversations with clients who report that "Scheduled publishing isn't working!"

Having investigated, these are always editor error: they set a scheduled publishing date in the future, but left the page in “draft” rather than choosing "publish".

As the button label is “publish” their behaviour and expectations are:

 - set a scheduled da

[2021-07-07 16:27] Pomax commented on #7168
The "sync to ..." option essentially promises to keep everything in sync, so it's reasonable to assume that this includes keeping the slugs in sync - it would probably make sense to instead add an opt-out to the admin interface for the "promote" tab, so that for pags that know they're locale aliasses with "sync to ..." turned on, the slug field is greyed out with a "this field is automatically syn

[2021-07-07 16:34] Scotchester commented on #7319
Think it'd be possible to dynamically change the label of the Publish button to something like "Schedule to be published at <datetime>` if the "Go live date/time" field is populated and that datetime is in the future? The button label would wrap to a second line, but that doesn't seem so bad.

Devtools mockup:

![Scheduled publishing interface with a go live date/time of midnight tomorrow and the

[2021-07-07 16:36] gasman commented on #7319
Just changing the text of the 'Publish' button (as suggested in #2366) probably wouldn't be sufficient in itself, since that action is hidden behind the drop-up menu and is likely to go unseen by a user who assumes that the default "safe draft" button is the right one.

A couple of other possibilities for extra signposting:

* At the point that a user fills in (or changes) the go-live date field,

[2021-07-07 16:39] Scotchester commented on #7319
@gasman A very good point!

[2021-07-07 16:58] RealOrangeOne commented on #7319
Perhaps moving the scheduling to be handled entirely under the dropdown as an action?

"Publish at..." would show some sort of schedule modal to enter the date / time to schedule, thus removing them from the "Settings" tab.

When a user visits a page currently scheduled, rather than "Save draft" by default they'd see something like "Update scheduled content", which would update the content which w

[2021-07-07 17:15] Allan-Nava commented on #6055
But for this problem?

File "/Users/joi/.local/share/virtualenvs/seafy-portal-lite-IIjt4mo4/lib/python3.7/site-packages/django/template/base.py", line 163, in _render
    return self.nodelist.render(context)
  File "/Users/joi/.local/share/virtualenvs/seafy-portal-lite-IIjt4mo4/lib/python3.7/site-packages/django/template/base.py", line 936, in render
    bit = node.render_annotated(context)
  File

[2021-07-07 17:25] gasman commented on #6055
Yes, this should go to the support channel too - we don't provide a debugging service here.

[2021-07-07 18:45] gasman commented on #7319
@RealOrangeOne Handling it as a parameter of the publish action rather than part of the page data does make a lot of sense, yep. We do need to account for the possibility that the editor setting the go-live date might not be the person with publish permission, though - it might have to go through a moderation workflow.

I don't know how common that setup is in practice, though (i.e. on a site that

[2021-07-08 13:20] hpoul commented on #6378
[Not sure about the right place to ask this question](https://stackoverflow.com/questions/68050653/how-to-make-title-of-images-translatable-in-wagtail) (sorry). But did this RFC consider how things outside the page tree could be translated. Ie. if I have a custom Image class containing "alt" text. Is it really the best solution to duplicate the images to translate alt text and tags? Or is the pref

[2021-07-08 16:17] marts opened #7323 "Allow long URLs migration fails upgrading wagtail to 2.13.3"
### Issue Summary

Hello, I'm upgrading an existing Wagtail site 2.7.3 to 2.13.3. All worked fine on my test database, but when running the migrations on production data I encountered the following error when `wagtailembeds.0008_allow_long_urls` was applied:

[code]

After a bit of digging, I found that my production data has a couple of Embed objects with `thumbnail_url` lengths greater than 200.

[2021-07-08 17:19] gasman commented on #7323
Thanks for the report @marts! I think your suggested fix is correct - the AlterField operation in question is only needed [as a workaround for a MySQL issue](https://github.com/wagtail/wagtail/pull/6999), and is immediately followed by changing it to a TextField where max_length doesn't apply. Other than the addition of `default=""`, the field definition here _should_ have matched the previous sta

[2021-07-08 22:38] teddyward commented on #1775
It's been 5 years since this happened, but I appreciate the time and effort that you all put into documentation and following up on GH issues, since finding this on Google was a great time saver for me today ❤️

[2021-07-09 07:34] thibaudcolas commented on #7217
Hi @noampolak, thank you for taking the time to report this. I’m 90% sure this is the same issue as https://github.com/wagtail/wagtail/issues/6385#issuecomment-702729761, so will close this now and link to your report over there.

One other thing worth mentioning is that the editor doesn’t support having two entities on the same piece of text – in your example, if the editor didn’t crash, the link

[2021-07-09 07:34] #7217 closed

[2021-07-09 07:34] thibaudcolas commented on #6385
Similar issue to my first point: #7217.

[2021-07-09 12:57] thibaudcolas opened #7325 "High-contrast mode: Dashboard icons are hard to see and should use link text color"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this. Details from his report:

---

Icons have a low opacity which makes them difficult to see on dark backgrounds.

Current: `opacity: .2; color: #fff`
Proposed: `opacity: 1; color: Lin

[2021-07-09 13:01] thibaudcolas opened #7326 "High-contrast mode: SVG icons within links, buttons, plain text, should match text colour"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

---

Current: `fill: currentColor`
Proposed: `fill: LinkText`, or `fill: CanvasText`.

Places to fix:

- [ ] Main navigation icons
- [ ] Pagination left/right arrows
- [ ] Breadcru

[2021-07-09 13:03] thibaudcolas commented on #7325
Marking as a good first issue – I think the proposed fix could work well with the [forced-colors](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors) media query, without expert knowledge of Wagtail required. Note testing this does require having access to Windows high-contrast mode.

[2021-07-09 13:04] thibaudcolas commented on #7326
Marking as a good first issue – I think the proposed fix could work well with the [forced-colors](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors) media query, or even applied directly whenever the icon and text color match already. Note testing this does require having access to Windows high-contrast mode.

[2021-07-09 13:09] thibaudcolas opened #7327 "Hamburger menu doesn’t work for keyboard and high-contrast mode users"
The hamburger markup is not a link nor button, which breaks keyboard support, and styling for high-contrast mode users.

See for example with high-contrast mode – the button should be styled with an "active" color:

![Current](https://user-images.githubusercontent.com/877585/125082245-e5dff580-e0be-11eb-8568-a9d22de320bd.png)

---

The solution for this is to change the markup so this toggle is a

[2021-07-09 13:14] thibaudcolas opened #7328 "High-contrast mode: Breadcrumb separator should match link text colour"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

---

Current: `color: #00585a`
Proposed: `color: LinkText`

(will also need hover/active styles)

Current:

![Current](https://user-images.githubusercontent.com/877585/125083195-fb

[2021-07-09 13:15] thibaudcolas commented on #7328
Marking as a good first issue – I think the proposed fix could work well with the [forced-colors](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors) media query, without expert knowledge of Wagtail required. Note testing this does require having access to Windows high-contrast mode.

[2021-07-09 13:30] thibaudcolas opened #7329 "High-contrast mode: Explorer wagtail icon is hard to see on dark background"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

---

We could watch out for dark background and swap to a light variant?

![Current](https://user-images.githubusercontent.com/877585/125085202-36a51d80-e0c2-11eb-9002-5a25fb4af3c2

[2021-07-09 17:09] thibaudcolas opened #7331 "High-contrast mode: Comments icon should match link colour"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

---

Current:

![Current](https://user-images.githubusercontent.com/877585/125113646-d40f4a00-e0e0-11eb-9a5a-3d6cc38800eb.png)

Proposed:

![Proposed](https://user-images.githubuse

[2021-07-09 17:10] thibaudcolas commented on #7331
Marking as a good first issue – I think the proposed fix could work well with the [forced-colors](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors) media query, or even applied directly whenever the icon and text color match already. Note testing this does require having access to Windows high-contrast mode.

[2021-07-09 17:15] thibaudcolas opened #7332 "Collapsible panels in edit UIs are impossible to open or close with keyboards or screen readers"
Spotted thanks to a high-contrast mode audit by @kbayliss. In the "Edit" UI, the open/close trigger for panels is a `<div>`. This means it doesn’t look clickable in high-contrast mode… and doesn’t support keyboard interactions, whether `tab` or with a screen reader.

This is a major blocker for people who rely on either forms of navigation – if the panels are collapsed by default, then the fields

[2021-07-09 18:01] jessemenn opened #7333 "ModelAdmin IndexView not keyboard navigable"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

The default ModelAdmin IndexView isn't keyboard navigable. Without using a mouse, there's no way to use the edit or delete (or, presumably, other added buttons of that view) of a particular item. This also affects screen reader users.

### Steps to Reproduce

1. Use ModelAdmin to register a menu item.
2. Try to tab to an item's

[2021-07-10 19:26] thibaudcolas commented on #5405
@KevBarbour I think we’re well aware of the limitations, hence why I’m recommending StreamField. Personally I’d love to make images in rich text ”just work”, but I know it’ll take a lot of effort. The underlying issues (https://github.com/springload/draftail/issues/158, #4223) aren’t ones I can just suggest anyone goes making a PR for.

More fundamentally, images in rich text predate StreamField,

[2021-07-10 19:35] thibaudcolas commented on #5405
How about the following CSS? Does this help? https://play.tailwindcss.com/HduhOCYDhB

[code]

[code]

[2021-07-12 12:01] kaedroho opened #7335 "Set up auto-assignment bot"
PRs often get stuck for a while waiting for someone to review. To help mitigate this, we introduced a list of reviewers who can be directly assigned PRs to review. The idea is once someone is made responsible for reviewing a PR, it's more likely to be done quickly. The reviewer has the option of reviewing the PR or passing it on to someone else on the list.

The next problem is actually assigning

[2021-07-12 12:06] kaedroho opened #7336 "Change release notification to link to latest major release notes"
Wagtail has a notifcation on the dashboard that is shown if the Wagtail installation is out of date:

![image](https://user-images.githubusercontent.com/1093808/125284628-95aca180-e311-11eb-82cf-797a38e2d7d1.png)

This notification always links to the latest patch release. So clicking the link in the above screenshot will take the user to https://docs.wagtail.io/en/stable/releases/2.13.3.html

The

[2021-07-12 12:07] kaedroho commented on #7336
@gasman please could you add a separate link to the major release notes to releases.wagtail.io/latest.txt ?

[2021-07-12 16:08] gasman commented on #7139
Fixed in #7276.

[2021-07-12 16:08] #7139 closed

[2021-07-12 16:39] gasman commented on #7250
Hi @yyken - thanks for the report.

I don't think this is a bug - the `StreamBlockValidationError` class is designed primarily for use by [the StreamField.clean method](https://github.com/wagtail/wagtail/blob/c6017abca042031fb2f7931b406a4c12e7a9e8a4/wagtail/core/blocks/stream_block.py#L130), and is not documented separately. Based on the code there, `non_block_errors` should be an `ErrorList` obje

[2021-07-13 09:52] #7323 closed

[2021-07-13 12:09] gasman commented on #7323
This fix is now released as 2.12.6 and 2.13.4.

[2021-07-13 12:19] marts commented on #7323
@gasman much appreciated, thanks

[2021-07-13 15:15] gasman commented on #7336
@kaedroho Sure. I figure we might as well add the data for the latest LTS release at the same time, so that we can potentially add a settings flag for people on LTS releases to ignore notifications for non-LTS upgrades - how about the following structure?

[code]

If that looks good, let me know and I'll upload that to mark today's (non-urgent) 2.13.4 release.

[2021-07-13 15:30] Pomax opened #7339 "Redirects do not restore query arguments if they had to be removed to find a valid redirect"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

In https://github.com/wagtail/wagtail/blob/main/wagtail/contrib/redirects/middleware.py#L43-L55, the code removes query arguments to find a redirect:

[code]
However, we also see that if it finds redirect after removing query arguments, it does not then restore the query arguments for the redirect target. Those arguments have n

[2021-07-14 12:16] #5300 closed

[2021-07-14 12:17] gasman commented on #2379
Completed in #7334.

[2021-07-14 12:17] #2379 closed

[2021-07-14 14:24] loleg commented on #4602
When 3 year old issues like this get closed, everyone involved should get a slice of (delicious, and moist) cake. :cake:

[2021-07-14 16:27] th3hamm0r opened #7341 "Remove "data-block-key" attributes from the richtext-HTML at the frontend"
### Is your proposal related to a problem?

I think starting with #7043 the frontend gets bloated with `data-block-key="..."` attributes on each paragraph of every richtext field. For example:
[code]
Is this metadata required on the frontend? Otherwise it would be nice if it gets filtered.

### Describe the solution you'd like

The `richtext` template filter could be a good place, I think, to remo

[2021-07-14 17:13] kaedroho commented on #7336
@gasman Looks good to me!

[2021-07-15 08:43] jacobtoppm commented on #7341
Hi @th3hamm0r, thanks for commenting. The block key (added by commenting, but actually a Draftail property) is not currently used on the frontend, although we have discussed potentially using it in the future for a "comment on preview/live" functionality, so could safely be removed for now. I would be happy to review a PR adding this to the `richtext` filter (or perhaps instead the `expand_db_html

[2021-07-15 10:25] kaedroho commented on #6378
Hi @hpoul, yep, the preferred way is to move the alt text into a field on the page itself, this has the extra benefit of allowing editors to set context-specific alt text as well.

[2021-07-15 10:42] th3hamm0r commented on #7341
@jacobtoppm Thanks for your fast response! Although it does not sound too hard, after looking through the relevant code, I think that's a bit too much for my first code contribution to wagtail.
It probably requires a new rewriter class added to `FRONTEND_REWRITER`, which could be added to `wagtail.core.rich_text.rewriters`. But since the whole block-key logic, especially `BLOCK_KEY_NAME`, which I

[2021-07-15 11:27] gasman commented on #7336
OK, done (but it may take 24h for the cache to clear).

[2021-07-15 11:36] jacobtoppm commented on #7341
@th3hamm0r We definitely need a better system of frontend rewriters. I believe @gasman made some progress towards that. However, in the meantime, though, I suppose we could either take the easy but messy route and move the `BLOCK_KEY_NAME` into core (not a great option), or add a hook based registration system (say something like `register_rich_text_rewriter`) to decouple the two. If we did the la

[2021-07-15 11:37] donhauser opened #7342 "Custom buttons and views for objects in `ModelAdmin`"
### Is your proposal related to a problem?

Example:
Imagine you have a model like "Organisation" consisting of attributes like name, employees and so on and you want to create multiple views for it (through the admin panel), e.g. a "list of employees", "organisation overview".
Now, since you are using `ModelAdmin`, you would like to have a "employee list" and "overview" button beneath each organi

[2021-07-15 13:39] gasman commented on #3062
This was one of the goals of the telepath StreamField rewrite - ensuring that when block definitions are nested, the generated HTML would scale linearly with the number of block definitions, rather than quadratically. With that released in 2.13, I think we can close this now.

[2021-07-15 13:39] #3062 closed

[2021-07-15 13:56] gasman commented on #1336
Implemented as part of the telepath StreamField rewrite in 2.13.

[2021-07-15 13:56] #1336 closed

[2021-07-15 13:59] gasman commented on #4473
These UI updates are now complete as of the telepath StreamField rewrite in 2.13.

[2021-07-15 13:59] #4473 closed

[2021-07-15 14:23] sonnybaker opened #7343 "Namespace reverse accessor for comments on Page and User models"
This is something I previously raised on Slack, but it's been nagging away at me so I wanted the input of the larger community before I worked on any sort of PR - I hope that's okay.

### The problem

Wagtail 2.13 introduced commenting within the Page editor as a feature (and it's ace!). The `Comment` model creates a relationship between `User` and `Page` using `related_name="comments"`:

[code]

[2021-07-16 10:45] devRawnie commented on #2719
Re-visiting this in 2021. Would love such a feature, with the option to define actions in a subclass of ModelAdmin class, and apply those to multiple instances.

[2021-07-16 14:09] MajorFailz opened #7344 "Wagtail model ChooserBlock cannot be optional"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When adding a `ChooserBlock` with a `target_model` field specified, the field works as intended when a model has been selected however if the field is left blank (and required=False) the admin bugs out complaining that it was provided a blank (not None) value for the id. Having a look at the source the method `value_from_form`

[2021-07-16 19:42] su-zm commented on #2268
@easherma is it publicly available?

[2021-07-16 19:59] easherma commented on #2268
It’s been awhile but I think I did something similar. I don’t think I did
it as a separate library

On Fri, Jul 16, 2021 at 2:42 PM su-zm ***@***.***> wrote:

--
Eric Sherman
224-402-0004

[2021-07-16 20:01] su-zm commented on #2268
Thanks, will make an attempt and see how far it goes!

[2021-07-17 00:39] dkirkham commented on #2268
For what it is worth, I implemented some code in a rich text validator which takes a target character count as a limit, separate to the underlying database length limit in the field. It also does a rough adjustment for formatting that creates line breaks.

It doesn't attempt to provide a real-time indication of the character count.

See https://gist.github.com/dkirkham/a1fc6d3a04754d5bb816cf97401f

[2021-07-18 17:03] thenewguy commented on #4890
@gasman I just stumbled on this again and would like to fix it.  Should it just display the user timezone or should it offer a dropdown of timezones?

[2021-07-18 17:14] thenewguy commented on #4890
[Is this the best place to hook in](https://github.com/wagtail/wagtail/blob/ee8291d238a1c18002fba56fedaf914a3b19a5ad/wagtail/admin/edit_handlers.py#L788)?

Would a multifield widget that outputs an additional timezone dropdown be sufficient.  That should be enough to produce an aware datetime the user can control.

It could get fancy in javascript by detecting the users timezone as the default - b

[2021-07-19 07:39] jaap3 commented on #6215
I tried adding a basic color block by wrapping a Django form field like so:

[code]

but it looks somewhat strange:

Firefox: ![Screenshot 2021-07-19 at 09 09 34](https://user-images.githubusercontent.com/48517/126118202-caa33062-f9a6-4dd5-b552-b50cf02e79c7.png)

Chrome: ![Screenshot 2021-07-19 at 09 15 36](https://user-images.githubusercontent.com/48517/126118554-0ddbb2b0-8640-4949-8098-a453cc21a

[2021-07-19 08:49] th3hamm0r opened #7348 "Breadcrumbs: home icon not displayed for restricted site tree"
### Issue Summary

If a user only has access to a subtree, the breadcrumbs at the top don't show the home icon correctly.
Superuser:
![Superuser](https://user-images.githubusercontent.com/468164/126130390-16aa5b65-1360-47fc-ba27-8a7564bc4a27.png)

User with subtree-only access:
![User with subtree-only access](https://user-images.githubusercontent.com/468164/126130471-4ba4451f-8f0f-41a5-a78e-47d68

[2021-07-19 12:01] gasman commented on #4890
I'm not sure what the right answer is, but it should follow the principle of not creating unnecessary work for editors (even if that work is just "having to think about timezones where they didn't before"). If an organisation is based in New York, only has editors in New York and has their accounts set to New York time by default, then a timezone-aware datetime chooser that _doesn't_ default to Ne

[2021-07-20 21:23] cnk opened #7353 "Using non_block_errors in ListBlock"
While testing 2.14rc1, I saw this in the release notes: "Allow ListBlock to raise validation errors that are not attached to an individual child block"  I thought I would try converting some code to using it. I am not 100% sure I am using it correctly, but I did notice one oddity.

Page validation correctly notes (at the top of the edit form): The page could not be saved due to validation errors.

[2021-07-20 21:26] cnk commented on #7353
Related to #7322

[2021-07-21 10:41] brylie opened #7354 "Ensure developers can modify and extend Wagtail Admin UI using only Django/Python code"
As Wagtail moves forward with improvements to the Admin user interface, the project invests in an increasing amount of JavaScript. The driving idea is that Wagtail Admin UI should feel "[less like a webform and more like an app](https://www.youtube.com/watch?v=CQ7Gx8b7ac4&t=381s)", as has been articulated on the Wagtail draft 2023 roadmap. While this goal is undoubtedly laudable, we should clearly

[2021-07-21 11:07] brylie opened #7355 "Wagtail community discussion platform"
While there is a [Wagtail support mailing list](https://groups.google.com/g/wagtail), there isn't an "official" community discussion platform listed on the Wagtail website or documentation.

![image](https://user-images.githubusercontent.com/17307/126479586-6034244d-4936-4ee4-9f90-bbcd3fca5540.png)

Providing a more general discussion platform with broader topics and an engaging user interface mig

[2021-07-21 14:59] gasman commented on #7354
Thanks for the suggestion @brylie! Ever since putting together the "Zen of Wagtail" page for the docs, it's been at the back of my mind to do a 'design principles' document in the same vein - perhaps in the Contributing section of the docs - for guidelines specific to the development of Wagtail itself, rather than ones aimed at site implementers. Will see what I can come up with...

A couple more

[2021-07-21 18:09] RealOrangeOne commented on #7355
What's wrong with Slack? In my experience it's a great place where people needing help get help, people who know things provide help, and there's lots of related discussions on working groups, community updates etc.

[2021-07-22 21:21] #7353 closed

[2021-07-22 21:54] heydonovan opened #7363 "WARNING: tablib 0.14.0 does not provide the extra 'xlsx'"
### Issue Summary

I'm using the license scanning feature from GitLab, which does all sorts of things behind the scenes, but it errors out on this tablib issue. I've replicated it outside of this with a `requirements.in` file with just `wagtail` in it:

[code]

And if I try to install that manually:

[code]

How do we get wagtail to not include those brackets? Cause it works just fine if I go that

[2021-07-22 22:11] gasman commented on #7363
Hi @heydonovan,
It looks like tablib only started specifying optional dependencies in version 1.0.0, which is why they're not recognised in 0.14.0. It could probably be fixed by changing Wagtail to require `tablib[xls,xlsx]>=1.0.0` instead, but this seems like a bit of an esoteric case...

* Is there a reason why this tool is choosing to install the oldest available version of tablib, rather than

[2021-07-22 22:13] heydonovan commented on #7363
The tool just takes whatever is in requirements.txt. I think it's better to ask why wagtail requires such an old version of tablib. That's what I was trying to show in my example, that even outside their tool, that warning is still thrown.

Here is the error from the license scanning tool though:

[code]

[2021-07-22 22:28] gasman commented on #7363
It doesn't - the dependency is `tablib[xls,xlsx]>=0.14.0`, so while it _can_ work with a version of tablib as old as that, any real-world installation of wagtail will use the newest available version. That's why I'm puzzled why it's choosing to install the oldest possible version allowed by the dependency. (But then I don't know what this tool is supposed to be doing - maybe it does make sense in

[2021-07-22 23:14] heydonovan commented on #7363
Oh interesting! Thought wagtail was enforcing that version for some reason. Looks like I’ve more digging to do.

I’ll get back to you once I’ve more information. Thanks!

[2021-07-22 23:39] heydonovan commented on #7363
You can close this, figured it out. From the pip-tools README:

[code]

Once I deleted the `requirements.txt`, and re-ran it, it had the latest version of tablib:

[code]

[2021-07-22 23:41] #7363 closed

[2021-07-23 07:11] brylie commented on #7355
Slack is good for short-lived conversations, particularly for people who have a Slack client running. Anything beyond the latest few discussion threads tends to get buried in the Slack UX. Slack also lacks some key UX elements for community engagement like reply-by-email and recent activity summary email.

The suggestion here isn't to replace Slack. I just believe the Wagtail community could be be

[2021-07-23 09:31] tomdyson commented on #7355
Thanks for this, @brylie. We have an agenda point to discuss it at next week's core team meeting.

[2021-07-23 13:29] fabienheureux opened #7364 "Make more panels collapsible"
### Is your proposal related to a problem?

Currently, it seems that only `MultiFieldPanel` are collapsible.
https://docs.wagtail.io/en/stable/reference/pages/panels.html#multifieldpanel

However, more panel types can support being collapsible, for example using `StreamFieldPanel("body", classname="collapsible multi-field")` to match [this selector ](https://github.com/wagtail/wagtail/blob/3513229

[2021-07-23 13:36] gasman commented on #7364
Thanks for the suggestion @fabienheureux! Would you be willing to submit a PR with this change?

[2021-07-23 13:40] fabienheureux commented on #7364
Absolutely, I wanted to first check that it was not working this way on purpose.

[2021-07-23 16:14] thibaudcolas commented on #7333
Thank you @jessemenn, re-reading this I remember testing it as well after you had mentioned it and finding out the same thing.

I believe a potential workaround we had discussed was to follow the same pattern as page listings – have the title of the item be a link to the edit view, so focus can be moved within each row. Then, we can use `:focus-within` on the row to reveal the buttons that are cur

[2021-07-23 16:19] thibaudcolas commented on #7333
Marking this as a good first issue as I believe this would be possible for someone to pick up with minimal Wagtail knowledge – the problem can be replicated directly in our bakerydemo development environment.

It looks like we would need to change this line to wrap `item` in an anchor tag: https://github.com/wagtail/wagtail/blob/952264a2abffd1c01e08611bae26ceaf8d958d43/wagtail/contrib/modeladmin/t

[2021-07-23 17:00] thibaudcolas opened #7366 "Page editing actions dropdown doesn’t support keyboard or screen reader navigation"
### Issue Summary

Initially reported by @jessemenn. On the page editing UI, the actions dropdown is very brittle with keyboard and screen reader navigation:

- The dropdown’s toggle button isn’t focusable
- Items within the dropdown are focusable even when hidden.

### Steps to Reproduce

1. Go to the page editing UI on any Wagtail site
2. Reach the "Save draft" button
3. Try to reach any action

[2021-07-23 19:15] Stormheg commented on #3949
We discussed having keyboard shortcuts in our accessibility team meeting today. There is definitely interest in having this, first step would probably be to create a cheat sheet panel like in Tom's mockup and some way to register them.

There is also the issue that many areas of Wagtail are not currently useable with a keyboard. This is an accessibility issue that we are working on 😅

[2021-07-23 19:58] gasman commented on #784
Completed in #5419.

[2021-07-23 19:58] #784 closed

[2021-07-24 02:59] michael-yin opened #7369 "Missing `default_auto_field` in `wagtail.contrib.postgres_search`"
### Issue Summary

If user create new project with Django command, they will have

`DEFAULT_AUTO_FIELD = 'django.db.models.BigAutoField'`

In settings.py, and if they use `postgres_search`, they will see

[code]

### Technical details

In other Wagtail builtin app, the `app.py` have

[code]

I think we might need add it to the `wagtail/contrib/postgres_search/apps.py` to resolve this.

Thx.

[2021-07-24 14:18] ababic opened #7370 "Ability to arrange StructBlock sub-blocks in rows or fieldsets"
### Is your proposal related to a problem?

With panels/edit handlers, we have `FieldRowPanel` and `MultiFieldPanel` to help add some useful structure to complicated models, but there is no equivalent for blocks, which means `StructBlock` rendering is syntactically and visually flat.

It would be great if Wagtail had a baked-in way to add more visual and syntactical structure to the UI presented b

[2021-07-24 15:20] Scotchester commented on #7370
This would be wonderful!

[2021-07-24 16:43] gasman commented on #7370
To be frank, panels / edit handlers are my least favourite thing in Wagtail - they're taking something that should be simple and familiar (putting form fields inside `<div>`s) and wrapping it in an abstraction that's inflexible and very un-Django-y. In fairness, in the case of InlinePanel they're also hiding some messy formset management from the end-user, but the fact that they're also turning th

[2021-07-24 16:59] OneEyeDoll opened #7371 "TaggableManager is broken"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I can't add TaggableObject to the panel, because when i do so an error appears.

### Steps to Reproduce

Add to Models.py this new model:
`class BlogPageTag(TaggedItemBase):
    content_object = ParentalKey(
        'BlogPage',
        related_name='tagged_items',
        on_delete=models.CASCADE,
    )
`
Then add to another Mo

[2021-07-24 17:07] gasman commented on #7371
Are you following the example on https://docs.wagtail.io/en/stable/reference/pages/model_recipes.html#tagging ? That uses `ClusterTaggableManager`, not `TaggableManager`.

[2021-07-24 17:08] OneEyeDoll commented on #7371
Yeah, i'm sorry. The problem was with InlineField, with PanelField everything seems good. Except that it won't save new tags.

[2021-07-24 17:09] #7371 closed

[2021-07-24 17:39] ababic commented on #7370
I know I've mentioned panels quite a but here, but it's not the only inspiration here. [crispy-form's `Layout` feature](https://django-crispy-forms.readthedocs.io/en/latest/layouts.html) is closer in spirit to what I'm going for.

I don't know about other developers, but I have a strong resistance to breaking into template customisation in order to achieve something. More often than not, to me, th

[2021-07-25 07:44] ababic commented on #7370
Personally, I don't feel like that really is what people want. Flexibility is important, but as a developer building and maintaining Wagtail site after Wagtail site, I'm far more concerned with consistency and maintainability. If there are limitations, I can manage those with clients / DMs / designers, and still deliver something pretty impressive.

If we really wanted to offer that level of flexi

[2021-07-25 11:26] zerolab commented on #7364
#6187 discusses this in more detail and #6342 is the implementation which is very similar to #7365. @fabienheureux  can you check #6342 and bring in the home template changes and see double check the documentation changes?

[2021-07-26 07:20] fabienheureux commented on #7364
Thanks for this comment @zerolab, sure I will update my PR shortly.
I searched for open issues about this topic but did not think of searching in PR...

[2021-07-26 11:18] tombola commented on #5580
It looks like (as predicted), the monkeypatch suggested by @thibaudcolas [above](#issuecomment-574693649) may no longer be working with current versions of wagtail, as per this issue from the wagtail-readinglevel package (that the above example was taken from).

https://github.com/wagtail/wagtail/issues/5580#issuecomment-574693649

[2021-07-26 11:56] hpoul opened #7373 "Page aliases have null values in last_published_at and first_published_at"
Not sure if this is intended behavior, but when creating page aliases which are published, both `last_published_at` and `first_published_at` are null.

### Steps to Reproduce

1. Create a new page, publish it.
2. Copy the page with "keep in sync" (ie. create an alias)
3. Select 'Publish page'

I would have expected this to have either the current date, or the values from the original Page in `last

[2021-07-26 12:30] jaap3 opened #7374 "Reduce the amount of Excel file read/writing libraries"
Wagtail has a fairly large number of (in)direct dependencies. By installing Wagtail in an empty virtualenv I ended up with 32 unique Python packages. Of those 32 packages 4 deal with reading/writing Excel files.

1. `XlsxWriter` (referenced directly in Wagtail's `setup.py`)
    _XlsxWriter is a Python module for writing files in the Excel 2007+ XLSX file format_
2. `openpyxl` (referenced directly

[2021-07-26 12:34] dragon-dxw commented on #7344
I've hit much the same error. My fix (based on yours) was simply:
[code]

[2021-07-26 12:35] jaap3 commented on #7374
Additional info:

In commit 41bf6010dff29c3990dbe6e6deed4a641ea0dd56 Wagtail started using `openpyxl` to verify the generated Excel files. The reason to keep using XlsxWriter was performance and a nicer API.

The `tablib` dependency (and the resulting `openpyxl`, `xlwt` and `xlrd`) dependencies were added in commit 301d1bc7f52fffc18b8cb34fbde01633bc1599ee.

[2021-07-26 12:56] gasman commented on #7374
The `[xls]` option on tablib is probably redundant and should be removed - I don't think Wagtail ever does anything with .xls files.

Beyond that, I don't see the duplication of functionality between XlsxWriter and openpyxl to be an issue. That's just the nature of writing software in a language with a rich package ecosystem... Wagtail should use whichever packages are best for the job - which hap

[2021-07-26 13:15] jaap3 commented on #7374
Wagtail directly uses `openpyxl` (in non test code) here: https://github.com/wagtail/wagtail/blob/99f05d67cb97465127c095fc2664ff161e1b049a/wagtail/contrib/redirects/base_formats.py#L203

and `xlrd` here: https://github.com/wagtail/wagtail/blob/99f05d67cb97465127c095fc2664ff161e1b049a/wagtail/contrib/redirects/base_formats.py#L182

The main reason for my request to reduce the amount of libraries us

[2021-07-26 13:52] tombola commented on #5580
This example from @alxbridge updates the approach for more recent wagtail versions
https://github.com/vixdigital/wagtail-readinglevel/pull/32

[2021-07-27 13:28] thibaudcolas commented on #5580
Clever! This approach seems to rely on defining those extensions as entities, whose JS files will then be loaded as configured.  This seems to then register an entity server-side, and a `control` client-side using the API monkeypatch. I was surprised this doesn’t result in two buttons in the editor toolbar, but I guess this might be working since [Draftail v1.4.0](https://github.com/springload/dra

[2021-07-27 19:31] DEWaller opened #7378 "Ability to change page content type via admin"
### Is your proposal related to a problem?

Whenever changes to a projects requirements are made where it becomes necessary to partition a page or group of pages into a new page model. Currently this can only be achieved, as far as I know, my modifying the database directly which is not ideal especially if a large number of pages need to be changed.

### Describe the solution you'd like

Ideally,

[2021-07-27 19:35] RealOrangeOne commented on #7378
This would be pretty difficult to achieve, as the fields are unlikely to be identical. Copying the fields over in the shell shouldn't be too difficult, but making it user-friendly and generic may be difficult.

Could potentially do it with an intermediary step which specifies which fields to map, but that's a much larger amount of work, and probably makes sense to exist externally of Wagtail for a

[2021-07-28 08:42] DEWaller commented on #7378
That was my thought as well, the point about model differences, leading to product instability which is definitely not wanted. The scenario where this would be useful such as a page and child pages requiring the same page model but with a specific template section e.g.  section navigation (I use wagtailmenus to help build multi-lingual navigation). I'm very new to Python, Django, and Wagtail so I

[2021-07-29 14:10] zerolab commented on #4700
#7050 addresses the bit for inserting custom fields/panels

https://github.com/wagtail/wagtail/blob/0790f3b1108c35d8b1469fccfe5f4c01be107592/wagtail/admin/views/account.py#L191-L210

[2021-07-30 10:08] #6641 closed

[2021-07-30 11:51] helenb commented on #6641
Yay! :)

[2021-07-31 15:39] iscilyas commented on #1196
I just ran into the same issue myself. Django seems to have all the smarts already in place, it seems like a bad idea for wagtail to do anything but just use the django code.

With this trivial diff everything works both for vanilla sitemaps and multilanguage:

[code]
=====

For a full example of how to use (since the documentation seems rather spotty):

project/sitemaps.py

[code]

project/urls.p

[2021-08-01 08:08] cfinnberg opened #7386 "Can't write accented letters in a RichTextField editor with Firefox"
### Issue Summary

Hi, I'm just testing a new site I want to build.I can't write accented letters (á,é,í,à,è,ä, ...) in a RichTextField editor with Firefox. I make them pressing first on the "tilde" key (´) and then press the letter you want to write with the accent. But as soon I press this last key, the accented letter I want to write is shown for a fraction of a second and then disappears.

Vid

[2021-08-01 21:33] tomkins opened #7387 "ConfigException - "UNDERLINE" is not in the config and has no fallback"
### Issue Summary

Not entirely sure *how* this happens - it's something I can sort of recreate by hacking around with the data sent in the admin edit form, but can't recreate in the same way as an end user. I've seen it on 2 different projects with Sentry reports.

Somehow underline content is coming through rich text fields, maybe through a copy/paste (but it seems to strip invalid styles for me

[2021-08-02 01:43] boatcoder commented on #866
The link from above has changed to:

https://github.com/torchbox/verdant-rca/blob/d9ede994dbd1ef68eaa159ec930fd89a351c1329/django-verdant/rca/image_formats.py#L4-L25 Which might help the next person that comes along and reads this thread.

[2021-08-02 17:29] vsalvino commented on #7370
`BlockGroup` seems like it can already be accomplished by how panels or edit_handlers are defined on the model, to control nesting, etc. Or at a deeper level, by nesting blocks within streamblocks. It is technically possible and works well, although the UI is a bit wonky. We have created custom CSS in the wagtail admin to make it look more visually aligned, and I plan to eventually upstream this C

[2021-08-03 02:51] mjmare commented on #7202
I think validation is not documented for regular fields as well.

[2021-08-03 18:36] tomkins opened #7392 "MultiValueDictKeyError for page previews with multiple tabs open"
### Issue Summary

When previewing page content, if you've got 2 different previews open for different page types - the preview view can load the data intended for a different page.

98c66359a812d466217980a0cf27e2a58f9f951d changed various URL patterns from arg style to kwarg style (see https://github.com/wagtail/wagtail/commit/98c66359a812d466217980a0cf27e2a58f9f951d#diff-5e79bdeed19a7c36a903b8e5

[2021-08-03 19:16] tomkins commented on #1697
We've recently had this occur when sharing preview links, hopefully recreatable with #7392.

[2021-08-04 16:00] bmoe872 opened #7399 "Make number of snippets shown in list view adjustable via `SnippetViewSet`"
### Is your proposal related to a problem?

It would be great to be able to adjust the number of snippets shown in the list page. Sometimes being able to see ALL the snippets is helpful.

### Describe the solution you'd like

I think adjusting the code here:
https://github.com/wagtail/wagtail/blob/b8a86ac15de331654024f3b4590088f0b88626fc/wagtail/snippets/views/snippets.py#L145

To accept a setting

[2021-08-04 16:27] nmorduch opened #7400 "Sorting/filtering throughout the admin"
### Problem

It can be frustrating to try to find things like:
- All active users
- All users with admin permissions
- All active users with admin permissions
- Active users who haven't logged in in the past year
- All pages of Foo type that are children of a specific page
- In the history of a page, only the times it has been published, or only actions by a specific person

### Solution I'd like

[2021-08-04 16:33] gasman commented on #7400
Currently working on some improvements to the [generic index view](https://github.com/wagtail/wagtail/blob/main/wagtail/admin/views/generic/models.py#L14-L30) that should make it much easier to build views with properly-working sortable tables, and adding filtering shouldn't be a massive leap from there. Some preliminary work on this is already in flight on #7381 and #7397 - the rest to follow sho

[2021-08-04 16:34] nmorduch commented on #7400
I'm excited to hear that! Thanks @gasman!

[2021-08-04 16:36] nmorduch opened #7401 "Hide disabled workflow tasks when adding tasks to a workflow"
### Problem

This isn't really a big deal for me, but it's a little annoying: I've disabled many builtin workflow tasks and added a small number that we actually use. In the list of workflow tasks (/admin/workflows/tasks/index/), the disabled tasks are hidden unless I click "show disabled tasks," which is a setup that works well for me. However, when adding tasks to a workflow, the list of existin

[2021-08-04 17:13] bmoe872 commented on #7399
I like this suggestion! I think that makes way more sense to do it on a per_model basis!

[2021-08-04 17:28] awhileback commented on #7370
If for no other reason, the fact that Python requires indent style of the user, and by extension Python IDEs handle proper style indents in the code for you. Which gives a code definition of nested list items a structure that can be visualized by the developer who did not create the list.

Honestly, the existing Wagtail implementation for model form fields is pretty good, in my opinion.  It's easy

[2021-08-04 19:29] gasman commented on #7370
Revisiting this in the light of my latest work on template components (#7397), I'm now more confident that we can make this work without stepping over anyone's ideological red lines... :-)

My concern with building a Python abstraction for layout is that as soon as someone comes up with a use-case that ought to be trivial at the HTML level but doesn't fit the assumptions you've made in the abstrac

[2021-08-04 19:46] gasman commented on #7370
For what it's worth, we're not as sold on React as you might think - especially in cases like this, where Django developers have a preconceived idea of how things should work - in terms of forms and templates - and have a reasonable expectation that they should be able to hack around with it on those terms without having to learn React. That doesn't mean that we're entirely ruling out using React

[2021-08-04 20:19] awhileback commented on #7370
Your javascript leeriness is appreciated, because I share it! I have no intention personally of learning React to tinker with admin animations.  My personal work with Wagtail in fact does not concern templating at all, I work on middle/back end logic and give the user a basic Bootstrap template setup with the instructions to customize their Bootstrap colors and buttons if that's enough, or contrac

[2021-08-04 20:58] vsalvino commented on #7370
@awhileback be careful what you call "clever" — our dynamic use of generating streamfield dropdown values has created some major problems with Django migrations because it is too "clever" (or something like that) 🤣

[2021-08-04 21:02] awhileback commented on #7370
Well, I don't want to derail the discussion, but I don't care about a few extra migrations as much as I care about a user/editor saying "ooh, that's nice, don't have to mess with CSS files."

[2021-08-05 03:02] QiYuTechDev opened #7402 "TextBlock autoresize broken on firefox"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

TextBlock autoresize broken on firefox (90.0.2)

### Steps to Reproduce

* create new empty page with Textblock field
* fill TextBlock fields with multi line text (at least > 3 lines)
* save as draft
* close the edit
* re-edit the create page (currently it seems the TextBlock is not autoresize)

### Technical details

* Python

[2021-08-05 07:28] Pomax opened #7404 "Extending `routablepageurl` or creating a new `localizedroutablepageurl` tag"
The `routablepageurl` tag is fairly crucial in resolving page URLs that are "soft routes" from `wagtail.contrib.routable_page`, but this tag is not locale-aware and so the following code is simply going to find the `/en/` URL, even when the user is on some other locale:

[code]

Can we make wagtail-localise wrap-and-reserve this tag such that its invocation is identical but the result is the corre

[2021-08-05 08:29] mojeto opened #7405 "Add a settings flag for people on LTS releases to ignore notifications for non-LTS upgrades"
### Is your proposal related to a problem?

We run LTS version of Wagtail and because of that our content editors see upgrade available banner
![image](https://user-images.githubusercontent.com/5433957/128315792-d8d4c955-9fdf-43cb-8d19-50691d3385b6.png)
most of the time to the point they learn to ignore it.

### Describe the solution you'd like

Add configuration to display upgrade available banne

[2021-08-05 09:57] gasman commented on #7405
Hi @mojeto - thanks for the suggestion. This is covered by the existing issue #3938.

[2021-08-05 09:57] #7405 closed

[2021-08-05 14:24] gasman commented on #7404
I may well be missing something, but isn't this the same situation as a straightforward `{% pageurl home_page %}` - it depends where your `home_page` variable came from, and if it's come from somewhere that hasn't already taken locale into account then you have to correct that with `{% pageurl home_page.localized %}`? Or in this case:

    {% routablepageurl home_page.localized 'category-view' cat

[2021-08-05 16:00] Pomax commented on #7404
Ah, looks like I also filed this on the wrong repo, this was supposed to go in the wagtail-localize repo

[2021-08-05 16:06] gasman commented on #7404
@Pomax Looks like @kaedroho moved it here - the main Wagtail repo _is_ the correct place for this, as it relates to [the localisation mechanisms in Wagtail core](https://docs.wagtail.io/en/stable/advanced_topics/i18n.html) rather than the translation workflow provided by wagtail-localize.

[2021-08-05 16:33] tbrlpld opened #7406 "Duplicate section "Integration into existing Django project""
There are currently two sections in the docs on how to integrate Wagtail into and existing Django project.

### Pertinent section of the Wagtail docs

Getting started: https://docs.wagtail.io/en/stable/getting_started/integrating_into_django.html

Advanced topic: https://docs.wagtail.io/en/stable/advanced_topics/add_to_django_project.html

(Insert the permalink of the section heading in the Wagtai

[2021-08-05 16:57] Pomax commented on #7404
oh interesting. I would have assumed it the exact opposite way: core has no reason to add or update that tag, until wagtail-localize is loaded alongside, making it the wagtail-localize code's responsibility to overload (or offer a second tag) because that functionality is not needed when users don't have wagtail-localize as an installed app?

[2021-08-06 13:35] tbrlpld commented on #5814
I am currently running into this issue as well

[2021-08-06 14:07] brylie opened #7410 "Make it easier to use a custom user model with user create/edit/account settings forms"
### Is your proposal related to a problem?

When a project creates a custom user model where `first_name` and `last_name` are optional, the Wagtail forms still display the fields as being required. In order to make the form fields optional, the developer must override the `WAGTAIL_USER-EDIT_FORM` and `WAGTAIL_USER_CREATION_FORM` with custom-defined models. They must also somehow override the Accou

[2021-08-07 17:47] enzedonline opened #7414 "Error message for unique together violation shows field names instead of verbose names"
In the snippet admin page, if the model has a unique together constraint that is violated on save, the error message displayed shows the field name rather than the verbose name:

![image](https://user-images.githubusercontent.com/72310199/128609069-af11384e-1ad2-4364-8ab8-9513433f6474.png)

Aside from readability, the verbose name can be translated while the field name is not. Helps on multi-lingu

[2021-08-08 00:00] #7333 closed

[2021-08-08 18:04] gasman opened #7415 "Parsing cache_until field fails on Twitter embeds"
Reported on Slack #support: Trying to embed a twitter link within a RichField paragraph triggers a 500 error.

[code]

The response returned by Twitter's oembed endpoint is:
[code]

so it looks like we aren't handling `cache_age` being returned as a string rather than an int.

Checking `cache_age` was added in #7279, so this is most likely a 2.14 regression.

[2021-08-08 20:03] RealOrangeOne commented on #7415
Should Wagtail be coercing all these inputs into a stable type for consumers?

Currently it also just passes through the rest of the arguments as whatever types they come from from the upstream API. Unfortunately the [oembed spec](https://oembed.com) doesn't mention anything about what type fields should be.

[2021-08-09 10:11] gasman commented on #7406
Good spot! I think you're right that this shouldn't be part of "Getting started" - we fairly often see people who have skipped to this part without learning the basic Wagtail concepts and end up asking "why does my page only have a title field" type questions. We should definitely encourage people to work through the process of setting up a standalone Wagtail project even if their eventual goal is

[2021-08-09 13:11] tbrlpld commented on #7406
That's fair. My suggestion to keep the version from the "advanced topics" was mostly based on the assumption that that section will more into the "how-to guides" section while "getting started" will be more for "tutorials". But I totally understand how that would be confusing to have a fairly simple guide in a section called "advanced".

[2021-08-09 15:27] enzedonline opened #7417 "Allow filtered input on fieldpanels by supplying a regex code of allowed characters"
### Is your proposal related to a problem?

Fields that have validation that prohibits certain characters (slug field for example) still allow those characters to be input and then kick back to the editor after submission. Not good UX for the editor and seems a little counter-intuitive (and frustrating for the editor).

### Describe the solution you'd like

It would be a better experience to filte

[2021-08-09 15:39] krzysztofjeziorny opened #7419 "Support for Pymemcache"
Django with the version 3.2 [supports](https://docs.djangoproject.com/en/3.2/releases/3.2/#pymemcache-support) `Pymemcache`, and `MemcachedCache` is deprecated:

([source](https://docs.djangoproject.com/en/3.2/topics/cache/#memcached))

Are there any plans for implementing Pymemcache?

[2021-08-09 21:27] RealOrangeOne commented on #7419
Is there anything Wagtail needs to do to support this explicitly? Just pymemcache as a cache backend should "just work", as the compatibilities are handled by Django, right?

[2021-08-09 21:32] zerolab commented on #7419
That should be the case indeed.

The only `MemcachedCache` reference we have is in the docs for the rendition cache example: https://docs.wagtail.io/en/stable/advanced_topics/performance.html#caching-image-renditions

[2021-08-10 08:04] RealOrangeOne commented on #7419
If you're having a specific issue though, we'd love to hear about it!

[2021-08-10 09:44] krzysztofjeziorny commented on #7419
Setting `PyMemcacheCache` as a backend gives now:

[code]

Maybe it's my site's specific? `MemcachedCache` still works though.
I'm on Django 3.2.6 and Wagtail 2.13.4.

[2021-08-10 13:00] zerolab commented on #7419
@krzysztofjeziorny can you include the full traceback please? the bit you've shared doesn't provide much information

[2021-08-10 14:05] krzysztofjeziorny commented on #7419
@zerolab Sure, here's the traceback.

[code]

[2021-08-10 16:47] RealOrangeOne commented on #7419
The issue there appears to be that `pymemcache` cannot connect to the socket, which it appears to be looking for in `/` for some reason.

Is your `CACHES` definitely setup correctly? See https://docs.djangoproject.com/en/3.2/topics/cache/#memcached. Also if you open the shell and try to use `caches.get` / `caches.set` (ie the Django native APIs https://docs.djangoproject.com/en/3.2/topics/cache/#b

[2021-08-10 19:41] krzysztofjeziorny commented on #7419
It works when `LOCATION` is set to an ip:port (`'LOCATION': '127.0.0.1:11211',`)
It fails with setting of a sock file.

[code]

`MemcachedCache`, `python-memcached` 1.59
`PyMemcacheCache`, `pymemcache` 3.5.0

[2021-08-10 19:44] RealOrangeOne commented on #7419
Huh that's strange!

Can't tell from here whether it's a Django bug or a `PyMemcache` bug, but fairly confident it's not a Wagtail given you can reproduce it without touching Wagtail at all.

Best thing to do is try a minimal example using just `PyMemcache` (https://pymemcache.readthedocs.io/en/latest/getting_started.html). If you see the issue, it's a `PyMemcache` bug. If you don't, it's probably

[2021-08-10 19:58] MrCordeiro opened #7424 "StreamField of StreamBlocks not being rendered at the editor"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I have a StreamField with the following structure:

- StreamField > StreamBlock > StructBlock

This is to create a list of customizable price cards. We used a StreamBlock instead of a ListBlock because ListBlocks are not translatable on Wagtail 2.12. Since we updated to Wagtail 2.14, the following error appear when trying to ed

[2021-08-10 20:00] krzysztofjeziorny commented on #7419
You're absolutely right, @RealOrangeOne. Thanks for pointing me in the right direction! I'm closing it here.

[2021-08-10 20:00] #7419 closed

[2021-08-10 20:06] gasman commented on #7424
Hi @MrCordeiro - thanks for the report. Just to confirm, have you been able to replicate the bug outside of your existing project by following the "Steps to Reproduce" given here?

[2021-08-10 22:22] MrCordeiro commented on #7424
The problem was in the `icon` Meta option, which should be receiving a tuple.
Sorry for the false alarm (´。＿。｀)

[2021-08-10 22:22] #7424 closed

[2021-08-12 07:20] mixxorz opened #7429 "Allow ordering by multiple fields on the Wagtail API"
### Is your proposal related to a problem?

The Wagtail API does not allow ordering by multiple fields at the same time. For example, let's say I want a list of blog pages sorted by type and in reverse chronological order. This is currently not possible in the API.

### Describe the solution you'd like

`[GET] /api/v2/pages/?type=blog.BlogPage&order=-published_at,blog_type`

The result should be t

[2021-08-12 08:57] jacksorjacksor opened #7430 ""Blog Index and Posts" section of tutorial: specify 'PUBLISH' when making new child pages"
In the "Blog Index and Posts" section of the "Getting Started" tutorial, please add "Make sure you specify 'PUBLISH' when making new child pages instead of 'SAVE DRAFT' for this tutorial" or similar.

### Pertinent section of the Wagtail docs

https://docs.wagtail.io/en/stable/getting_started/tutorial.html#blog-index-and-posts

### Details

In the "Getting Started" tutorial, the learner is instruc

[2021-08-12 10:45] nicklee opened #7432 "Screenreader: Login screen username label doesn't exist"
### Issue Summary

When trying to login to wagtail using JAWs the username field doesn't have a label, making it tricky to understand what's required

### Steps to Reproduce

1. Load a wagtail admin login screen in JAWS (/admin usually)
2. Navigate to the username field
3. Only "Edit" will be announced for the input field,

This should be "Enter username"

* I have confirmed that this issue can be

[2021-08-12 12:53] #7415 closed

[2021-08-12 15:39] igrekus opened #7434 "AttributeError: 'NoneType' object has no attribute '_inc_path' when creating a new child page after a failed previous attempt"
### Issue Summary

I was creating fixtures for a legacy site and stumbled upon an error when creating a new child page for a parent page after a failed (an exception from the code I was debugging was raised) previous attempt to create this child page.

### Steps to Reproduce

1. Define parent and child pages for a project
2. Create parent page
3. Click add child page
4. Make child page creation fa

[2021-08-12 16:01] ephes opened #7435 "Broken Links in Documentation"
### Issue Summary

I was reading the [Page models](https://docs.wagtail.io/en/stable/topics/pages.html) documentation today and noticed that the links to all panel types reference documentation did not work. Here's an [example](https://docs.wagtail.io/reference/pages/panels.html#wagtail.admin.edit_handlers.FieldPanel).

### Steps to Reproduce

1. Go to the [page models documentation page](https://

[2021-08-12 16:04] gasman commented on #7435
Thanks for the report @ephes! There's an open PR dealing with this at #7390.

[2021-08-12 16:04] #7435 closed

[2021-08-12 16:07] ephes commented on #7435
Oh ok, ups - did a quick search in the open issues, but missed the PR :).

[2021-08-12 16:23] gasman commented on #7434
Hi @igrekus - yep, it's not unknown for the tree state to get corrupted in this way when errors occur during page creation. The [`manage.py fixtree` command](https://docs.wagtail.io/en/stable/reference/management_commands.html#fixtree) should be able to fix these issues when they occur.
Any instances where this happening as a result of working with pages within Wagtail itself would be our top prio

[2021-08-12 16:23] #7434 closed

[2021-08-12 20:19] CullenSharp commented on #7430
Hello, I'd like to take this issue on.

[2021-08-12 20:49] igrekus commented on #7434
Sorry for bothering you once again, @gasman , out of curiosity -- isn't it possible to increment `numchild` counter after successful child page creation?

Thanks for provided fix, I've missed it in the docs!

[2021-08-12 20:55] gasman commented on #7434
`numchild` should automatically be incremented on page creation, as long as you go through [the Treebeard API](https://django-treebeard.readthedocs.io/en/latest/api.html) when creating it - usually that would be the `add_child` method.

    new_page = MyPage(title="Hello world")
    # populate other fields of new_page as required
    parent_page.add_child(instance=new_page)

[2021-08-13 16:34] jacobtoppm commented on #7430
Addressed in https://github.com/wagtail/wagtail/commit/2d741386c4f384f1825b9d45522e03806391c239, thanks for raising!

[2021-08-13 16:34] #7430 closed

[2021-08-13 17:19] robicano22 commented on #3062
We are still having this issue, and I'm trying to figure out why...I upgraded from 2.11 to 2.13 - using pip3 from the CLI - this morning but am still lacking performance improvements.  A page still loads in the Admin with hundreds of script tags and takes more than 1 minute to get there.  I'm a bit newer to wagtail and Python/Django in general.  Let me know what else I should provide.  TIA

[2021-08-14 13:07] Clarity-89 commented on #2635
@dperetti do you have any sample app done with Wagtail and django-ajax-selects? I'm using it to select an m2m value but for some reason it doesn't get saved to the db.

[2021-08-16 07:33] solarissmoke opened #7439 "Allow limiting the number of instances of a page model, on a per-site basis"
We find ourselves very frequently creating page classes that we only want to be used once per site (e.g., a `HomePage` class).

The current `max_count` property doesn't allow us to enforce this requirement on multi-tenant sites, because it [counts the pages globally](https://github.com/wagtail/wagtail/blob/8413d00bdd03c447900019961d604186e17d2870/wagtail/core/models/__init__.py#L1408-L1409). We us

[2021-08-16 14:52] kmohrf commented on #5968
Though unrelated to the REST API router: another documented interface that does not respect the `WAGTAIL_APPEND_SLASH` setting is the [`RoutablePageMixin`](https://docs.wagtail.io/en/latest/reference/contrib/routablepage.html#module-wagtail.contrib.routable_page.models). Both the `get_resolver` and `route` functions are based on the assumption that the slash is appended to URLs and ignore the `WAG

[2021-08-17 09:49] itbabu opened #7441 "Enable download all PO files at once in Transifex"
### Is your proposal related to a problem?

Hello,
I have just completed the Italian translation, but I would like to test it locally.
There is a Transifex feature that would allow me to [download all PO files at once](https://docs.transifex.com/projects/downloading-translations#downloading-a-zip-file-with-all-translation-files). But it is not enabled.

Here [the italian page](https://www.transife

[2021-08-17 10:13] gasman commented on #7441
Hi @itbabu - I don't think Transifex provides the feature you're looking for. The documentation you linked to is referring to "a ZIP file containing the source file and all the translation files **from a single resource**" - e.g. being able to download a ZIP file containing the translations for wagtailadmin in all languages - and that _is_ available, under "resources". There's no mention of being

[2021-08-17 10:13] #7441 closed

[2021-08-18 10:09] fabienheureux opened #7443 "Switch Wagtail's image model"
Following a question I had on Slack, I have written a little gist to help migrating from the Wagtail's default image model to a custom one.
This is a migration I extracted from a project I am working on, with a step by step description on how-to migrate without breaking a live website.

However, I am not 100% sure if my approach is the right one, I had a few issues when creating a new image model

[2021-08-18 20:19] thibaudcolas commented on #7366
Based on reviewing available resources, it seems there are two documented ARIA patterns we could use for this:

- Progressive disclosure, similar to https://www.w3.org/TR/wai-aria-practices-1.1/examples/disclosure/disclosure-navigation.html
- Or the menubar & menu pattern: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-1/menubar-1.html

In both cases there are many more keyb

[2021-08-18 20:37] thibaudcolas opened #7447 "High-contrast mode: Success/Warning/Error help-block content needs a border to be more identifiable"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

In high-contrast mode, our help blocks don’t have a background, so it’s harder to visually identify them:

![Current](https://user-images.githubusercontent.com/877585/129968683-95f

[2021-08-18 20:42] thibaudcolas opened #7448 "High-contrast mode: icon buttons with no text appear squashed"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

Our buttons with icon only don’t render correctly in high-contrast mode:

![7448-1](https://user-images.githubusercontent.com/877585/129969264-48acc84e-142c-4d46-85aa-8f3d06a31e99.

[2021-08-18 20:47] thibaudcolas opened #7449 "High-contrast mode: buttons with `.disabled` class look active in high-contrast mode"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

Button with `.disabled` class, rather than attribute:

![7449](https://user-images.githubusercontent.com/877585/129969904-fde7b6eb-7638-4422-84fc-913c35bf30e8.png)

We should inste

[2021-08-18 20:52] thibaudcolas opened #7450 "High-contrast mode: dropdown menu needs custom styles"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

There are two issues – first, the trigger needs a border so it can be identified as a button:

![7450 png](https://user-images.githubusercontent.com/877585/129970426-4283f203-4f58-

[2021-08-18 20:53] thibaudcolas opened #7451 "High-contrast mode: Switches do not visually convey their state"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

On and off switch states are identical:

![7451](https://user-images.githubusercontent.com/877585/129970697-5d5f468f-dad1-4138-a858-1935d7d204c8.png)

Fixing this would likely be a

[2021-08-18 21:02] thibaudcolas opened #7452 "High-contrast mode: Search form should define a border"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

Current:

![7452-Current](https://user-images.githubusercontent.com/877585/129971704-41466372-e232-4ea4-90eb-2a1197f5eecf.png)

Proposed:

![7452-proposed](https://user-images.gith

[2021-08-18 21:04] thibaudcolas opened #7453 "High-contrast mode: active tab can’t be determined"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

In layouts using tabs, it’s impossible to tell which tab the user is currently in:

![7453](https://user-images.githubusercontent.com/877585/129971971-ce3d5a1c-155e-49f5-b84c-b95ba

[2021-08-18 21:06] thibaudcolas opened #7454 "High-contrast mode: tag field shouldn’t override background"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

![7454](https://user-images.githubusercontent.com/877585/129972161-bf89ab4e-46a1-40c8-95ee-727c80e2158b.png)

---

I would expect we’d want the field with a border of the appropria

[2021-08-18 21:08] thibaudcolas opened #7455 "High-contrast mode: vertical separation between field panels is lost"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

Bringing back this vertical separation would just be a matter of adding a border. Current:

![7455-Current](https://user-images.githubusercontent.com/877585/129972397-2ead82f7-0142

[2021-08-18 21:19] thibaudcolas opened #7456 "High-contrast mode: sidebar needs visual separation with main content"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

Due to how high-contrast mode works, there is no visual separation between the sidebar and the main content:

![7456-Current](https://user-images.githubusercontent.com/877585/12997

[2021-08-18 21:21] thibaudcolas opened #7457 "High-contrast mode: StreamField block chooser menu buttons do not look like buttons"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

We should add a border matching the background so they stand out more in high-contrast mode:

![7457](https://user-images.githubusercontent.com/877585/129973881-de19cd28-3dbe-4770-

[2021-08-18 21:25] thibaudcolas commented on #7326
Additionally adding the case of icons in text:

![7326-2](https://user-images.githubusercontent.com/877585/129974341-ef5322b4-1f06-41e9-83f4-7afce4d8e80f.png)

[2021-08-18 21:36] thibaudcolas opened #7458 "High-contrast mode: comments dropdown needs a border"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

Without the border, it’s hard to tell where the dropdown is:

![7458](https://user-images.githubusercontent.com/877585/129975416-17e505a2-0e15-4603-ae38-820385b0af63.png)

The bord

[2021-08-18 21:37] thibaudcolas opened #7459 "High-contrast mode: Comment buttons should use button text colour"
This is a bug specific to [Windows high-contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/). cc @kbayliss who did the testing for this.

Current: `color: #007d7e`
Proposed: `color: ButtonText; border: 1px solid;`

![7459](https://user-images.githubusercontent.com/877585/129975545-aa9216c8-7551-46c9-8c9f-1d359f03c04a

[2021-08-18 21:38] thibaudcolas commented on #7366
As part of refactoring this we should also make sure to consistently use the same element (button or link) for all menu items, so screen reader announcements and high-contrast mode display is more consistent:

![7366](https://user-images.githubusercontent.com/877585/129975685-4b93eb30-903f-409a-8364-fa5c579b3367.png)

[2021-08-19 04:18] RakeshPotnuru commented on #7459
Hey @thibaudcolas, I am getting into open source. Can I work on this?

[2021-08-19 07:20] Chakita commented on #7458
@thibaudcolas  May I work on this issue?

[2021-08-19 08:29] Chakita commented on #7455
@thibaudcolas May I work on this issue?
I am new to open source, any guidance will be greatly appreciated! :)

[2021-08-19 11:49] Adyyousf commented on #7459
hey @thibaudcolas I want to fix that.

[2021-08-19 12:39] Adyyousf commented on #7458
Hello @thibaudcolas I'm new to open source. Can i work on this issue.

[2021-08-19 13:32] itbabu commented on #7441
ok thanks, i'll do a test with a fork of wagtail repo.

[2021-08-19 14:58] zerolab commented on #7458
@Adyyousf thanks for offering. Please, do go ahead.

A general note for anyone who sees this - if you do not see a pull request referencing an open issue and the issue doesn't have a "Design decision needed", it means it is up for grabs and you can work on it. Ideally put a note on the open issue that you're working on it and will have a PR (shortly) in case others think about doing the same.

[2021-08-19 18:29] #7392 closed

[2021-08-20 05:30] prakhar-asaiya commented on #7459
Hey @thibaudcolas, can I take this issue?

[2021-08-20 12:30] brylie commented on #7410
After digging in a bit more in our downstream issue, @Upasanadhameliya mentions:

[2021-08-20 14:18] thibaudcolas commented on #7458
@Adyyousf that would be a pretty smashing first contribution! If you haven’t already, have a look at our [Contributing to Wagtail](https://docs.wagtail.io/en/latest/contributing/index.html) guide first. For this specific issue, I expect the change is needed here:

https://github.com/wagtail/wagtail/blob/aff898ad8d12f9e9169e7364a776485c6ea56011/client/scss/components/_comments-notification-dropdown

[2021-08-20 14:21] thibaudcolas commented on #7459
@RakeshPotnuru Yes!If you haven’t already, have a look at our [Contributing to Wagtail](https://docs.wagtail.io/en/latest/contributing/index.html) guide first. For this specific issue, I expect the change is needed somewhere around here:

https://github.com/wagtail/wagtail/blob/c652e67c5e428998935e16a79b8255fd13966020/client/scss/components/_forms.scss#L470-L521

Note testing this properly will re

[2021-08-20 14:22] thibaudcolas commented on #7455
Hi @Chakita, if you’re keen that would be a smashing first contribution. If you haven’t already, have a look at our [Contributing to Wagtail](https://docs.wagtail.io/en/latest/contributing/index.html) guide first.

Once you’re set up to contribute to Wagtail, have a look through our styles and test the CMS in Windows high-contrast mode as shown in my screenshot, and let us know if you can figure o

[2021-08-20 14:31] RakeshPotnuru commented on #7459
@thibaudcolas
Ok, I will work on this.

[2021-08-20 14:43] prakhar-asaiya commented on #7452
Hey @thibaudcolas, can I take this up?

[2021-08-20 15:21] thibaudcolas commented on #7452
Hi @prakhar-asaiya, definitely! Please take a look at our [Contributing to Wagtail](https://docs.wagtail.io/en/latest/contributing/index.html) guide first.

Once you’re set up, I would expect the change to be needed somewhere around here:

https://github.com/wagtail/wagtail/blob/95693efc108c30ffecb6bbc1e563efb9e1183559/client/scss/components/_header.scss#L100-L106

It’ll be worth reviewing options

[2021-08-21 07:07] prakhar-asaiya commented on #7452
Hi @thibaudcolas , I was thinking to add outline: 1px solid transparent. This seemed to work in wagtail bakerydemo, as it showed a border in only WHCM. Could you please look into this and tell me whether this the right direction or not?

[2021-08-21 10:29] thibaudcolas commented on #7452
@prakhar-asaiya ah yes, I hadn’t thought of this but that sounds like a great idea. Or `border: 1px solid transparent`? Either way please also add a comment in the code so we note this is for high-contrast moe.

Could you take screenshots of the result and post them here for reference?

[2021-08-21 14:00] prakhar-asaiya commented on #7452
Sure @thibaudcolas. Here the the screenshots for reference as tested on wagtail bakerydemo.
So this is how it looks originally without adding border :
![Screenshot (40)](https://user-images.githubusercontent.com/63089922/130324067-b3987705-6abe-423b-a33f-9a76a0f5120b.png)
And this is how it looks after adding border :
![Screenshot (38)](https://user-images.githubusercontent.com/63089922/130324079-

[2021-08-21 14:08] RakeshPotnuru commented on #7459
@thibaudcolas
I am facing issues setting up the project in my local system, I asked in the slack support channel but no one responding.
Docs are not helping.
So can you please guide me?

[2021-08-23 10:21] lb- commented on #7331
Fixed via fb66c1fd1732f462a1983edb5410192a9b8963da / #7460

[2021-08-23 10:21] #7331 closed

[2021-08-23 10:21] lb- commented on #7329
Fixed via fb66c1fd1732f462a1983edb5410192a9b8963da / #7460

[2021-08-23 10:21] #7329 closed

[2021-08-23 10:21] lb- commented on #7326
Fixed via fb66c1fd1732f462a1983edb5410192a9b8963da / #7460

[2021-08-23 10:21] #7326 closed

[2021-08-24 20:12] startprojekt commented on #5770
Hey @robicano22 in my case I created an extra "wagtail_hacks" app and put it **before** any wagtail applications in INSTALLED_APPS. In "wagtail_hacks" folder you simply place @thaxy 's file i.e. "wagtail_hacks/static/wagtailadmin/js/expanding_formset.js"

[2021-08-29 07:59] FDGod99 commented on #7456
hey @thibaudcolas , im new in open source project, can i work on this?

[2021-08-29 08:00] FDGod99 commented on #7457
hey @thibaudcolas ! im getting into open source technology , Can i work on this?

[2021-08-30 09:15] lb- commented on #7432
Fixed via f1b3bbc52f2944dde0a37d1c33b47f44d03d4a76 & #7468

[2021-08-30 09:15] #7432 closed

[2021-08-30 09:56] #7348 closed

[2021-08-30 10:12] #7455 closed

[2021-08-30 10:14] lb- commented on #7455
Fixed via #7472

[2021-08-30 10:24] lb- opened #7473 "Upgrade Wagtail's build tooling to latest Node LTS"
### Is your proposal related to a problem?

Currently, Wagtail's front end tooling is using Node version 10, this is no longer officially supported.

https://nodejs.org/en/about/releases/

### Describe the solution you'd like

Upgrade the Wagtail's `nvm` version and packages to the latest LTS on Node (14 or possibly 16).

### Describe alternatives you've considered

Leave as is.

### Additional co

[2021-08-30 15:33] #7364 closed

[2021-08-30 15:38] #6187 closed

[2021-08-30 15:39] #2123 closed

[2021-08-30 18:05] ocuna commented on #6294
This happened to me.   Probably because I didn't finish the last paragraph "Start Developing"
https://docs.wagtail.io/en/v2.14.1/getting_started/integrating_into_django.html#start-developing
I opened the site up, deleted the default home page.  I couldn't create a new site and I didn't see any new page types and didn't understand that I needed to create those.  I was unsure if Wagtail would genera

[2021-08-30 18:34] awhileback commented on #7343
I have found an actively used and maintained Django package related to this that cannot be used with wagtail.

https://github.com/Radi85/Comment

It’s an ajax comment system that attaches to models via GenericRelation, and it also uses the names “comments” and “comment.”

steps to reproduce my errors:

install the above package per its docs, add comments field to an existing wagtail page model, po

[2021-08-30 18:52] awhileback opened #7476 "Namespace conflict between "comment" / "comments" and admin comments introduced in 2.13"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

This has been reported (#7343) but the person reporting it did not tag it as a bug and I think it should be a bug.

### Steps to Reproduce

1. install wagtail, make a basic page model
2. install [django-comments-dab](https://github.com/Radi85/Comment), add it to that page model to add comment functionality to said page
3. add s

[2021-08-31 00:09] tbrlpld commented on #7143
This appears to be closed by #7302

[2021-08-31 00:13] #7143 closed

[2021-08-31 01:11] #7473 closed

[2021-08-31 02:22] lb- opened #7479 "Add support for non_field_errors in Workflow action modal form"
### Is your proposal related to a problem?

* When adding [non field errors](https://docs.djangoproject.com/en/3.2/ref/forms/api/#django.forms.Form.non_field_errors) to a Workflow action form (e.g. on the form.clean method), these validation errors do not show up in the UI.
* This means the user cannot submit the form but is not provided any feedback as to why.

### Describe the solution you'd lik

[2021-08-31 05:06] Desaiakshata commented on #7454
I would like to work on this issue

[2021-08-31 10:16] #7479 closed

[2021-08-31 10:40] lb- commented on #7387
I have been able to reproduce with the steps provided, looking at PR now.

[2021-08-31 10:45] #6824 closed

[2021-08-31 11:02] #7387 closed

[2021-08-31 12:15] Caylu commented on #5503
Hope to see this getting implemented someday **soon**.

[2021-08-31 12:20] Caylu opened #7482 "Formatting including hyperlink support in Table cells"
The Table Cell have pretty limited functionality. Where just new row or column can be added or deleted.

Currently, table cells cannot have links, formatting like superscript or subscript, bold, underlined text, background and foreground color

We use images where we need some formatted table. But this is not an elegant solution.

Proper formatting options for the table cells will be a nice additi

[2021-08-31 13:23] zerolab commented on #7482
There is an early draft/WIP PR #7470 that should hopefully cover this

[2021-08-31 13:23] gasman commented on #7482
Hi @Caylu - this is being worked on in https://github.com/wagtail/wagtail/pull/7470.

[2021-08-31 13:23] #7482 closed

[2021-08-31 17:07] hazho opened #7483 "UX and security Improvement"
in the Forms listing page of WagtailAdmin, it is better to change the (Origin) to (actions) and the origin text that indicates the location of model and parent App, to text of each Actions (currently "Edit"), isn't it?
![image](https://user-images.githubusercontent.com/20362375/131545748-eb43dc35-1a9b-43f7-bf29-7ec4cda4bbe5.png)

[2021-08-31 17:09] hazho commented on #7483
The Origin members are links to edit pages that been built by, therefore the "Edit" text is better..!
or at least this change should be for non-SuperUsers view

[2021-08-31 17:20] awhileback commented on #7476
addition to this: if the user has overridden the save method of a page model, `super().save(*args, **kwargs)` will try to save 'comments' even if the wagtail comments are disabled via settings.  So I guess I have to downgrade wagtail at this point until there's a fix.

[2021-08-31 21:32] lb- commented on #7401
@nmorduch I have implemented the simpler desired solution, would love your thoughts https://github.com/wagtail/wagtail/pull/7486

[2021-08-31 22:05] #7456 closed

[2021-08-31 22:06] lb- commented on #7456
Implemented via #7475

[2021-09-01 04:06] sih4sing5hong5 opened #7487 "Internationalisation didn't support language locale containing both script and region."
### Issue Summary

The `wagtail_urls` always 302 redirects to `LANGUAGE_CODE` locale if current locale contains both script and region, like `en-latn-us` or `en-Latn-US`.

Given `settings.py`
[code]

- The response of `http://localhost:8001/en-us/` is 200 `Welcome to your new Wagtail site!`.
- The response of `http://localhost:8001/fr/` is 200 `Welcome to your new Wagtail site!`.
- The response of

[2021-09-01 09:59] gasman commented on #7487
Hi @sih4sing5hong5 - thanks for the report.
It looks like the behaviour you describe is entirely within the `i18n_patterns` function, so this is Django's responsibility rather than Wagtail's. Specifically, `en-Latn-US` does not match Django's [`language_code_prefix_re `](https://github.com/django/django/blob/af10e97531a59e4af09b5ec0c1a3ea476f2b6015/django/utils/translation/trans_real.py#L46) patte

[2021-09-01 09:59] #7487 closed

[2021-09-01 10:22] lb- commented on #7399
@gasman  would love your thoughts on this rough implementation.

* `register_snippet` becomes a potential 'partial' function so it can be used as currently documented and also used with an arg passed with a config class.
* However, this will fail if you call it as a function with only one arg (however, this use case is not in the documentation, only the decorator approach is documented).
* Not sur

[2021-09-01 15:24] nickmoreton commented on #7369
Is it worth me submitting a PR for this in light of it been added to 2.15 milestone? not sure how much time I have available but happy to dive in.

[2021-09-01 16:07] gasman commented on #7369
@nickmoreton Sure! We'll get it sorted some time in the run up to the 2.15rc1 release (some time in early October), but if you can get it crossed off the list sooner than that, it would be much appreciated :-)

[2021-09-01 16:09] nickmoreton commented on #7369
Thanks taking a look now, I found some time :)

[2021-09-01 22:37] it-management opened #7490 "Allow to get_admin_display_title() return SafeString"
It's almost working until there are quotations mark inside ;-). Which is possible to handle easy.
But there are special cases where it doesn't work at all.

For example wagtail.admin.views.pages.edit.EditView.add_save_confirmation_message() method:
[code]
should by:
[code]

[2021-09-01 22:46] gasman commented on #7490
I can't see us ever wanting to support this formally - there are too many possible edge cases (including the title in plaintext emails, JSON, passing it to Javascript...) for us to guarantee that it will work reliably. Additionally, in the fairly near future we're considering making the admin display title an explicit database field (so that it's always available without having to fetch the specif

[2021-09-01 22:46] #7490 closed

[2021-09-02 21:04] lb- opened #7492 "Workflow - Disable Tasks warning shows an incorrect 'task is in progress on X pages' value"
### Issue Summary

When disabling a Workflow Task, there is a warning that says `This task is in progress on # pages.`, however the number of pages is incorrect and appears to reflect the tasks in progress across ALL pages.

### Steps to Reproduce

1. In an existing Wagtail project (does not have to have custom Workflow Tasks)
2. Sign in as an admin user
3. Check you have at least one Workflow in

[2021-09-02 22:29] lb- commented on #7492
Branch with a fix, no unit tests done yet though.
https://github.com/lb-/wagtail/tree/fix/7492-disabled-workflow-task-message

[2021-09-03 23:12] tbrlpld commented on #2768
I have just tried either spelling:
`parent_page_types = ['wagtailcore.page']` or `parent_page_types = ['wagtailcore.Page']` both work to limit the creation under the root page.

I guess the only thing left is adding this to the docs.

[2021-09-04 12:31] Stormheg commented on #6170
Looks like we forgot to 'officially' drop IE11 support in Wagtail 2.14.
Internet Explorer 11 is still listed as supported in the docs:

- https://docs.wagtail.io/en/latest/contributing/developing.html?highlight=IE#browser-and-device-support
- https://docs.wagtail.io/en/latest/editor_manual/browser_issues.html#ie11

[2021-09-04 22:54] wassafshahzad commented on #7458
I will start working on it and hopefully a PR will be up shortly

[2021-09-06 07:56] mixxorz opened #7497 "Wagtail API: Greater than/less than filters"
### Is your proposal related to a problem?

On my project, I have an `EventPage`. This page has a start date and an end date. I want to be able to get all the event pages that are happening today. This is not currently possible out of the box with the Wagtail API.

### Describe the solution you'd like

Allow the use of `__gt`, `__gte`, `__lt`, and `__lte` field lookups when filtering on the Wagtai

[2021-09-06 11:06] Desaiakshata commented on #7454
I have an error on running `npm run lint:css`  : Expected a dollar-variable (e.g. $var) to be used as a media feature value   scss/media-feature-value-dollar-variable. Here is the code change: `@media (forced-colors:active) {
    .field-content .tagit .tagit-choice, .tagit, .tagit .tagit-new .ui-widget-content {
        forced-color-adjust: none;
        box-shadow: inset 1000px 0 0 0 #000;

[2021-09-07 08:52] #2768 closed

[2021-09-07 10:44] #6123 closed

[2021-09-07 10:45] lb- commented on #6123
Resolved via #6868

[2021-09-07 13:51] enzedonline opened #7502 "External link in richtext editor should have option to open in new tab"
### Is your proposal related to a problem?

Currently, an external link in a rich text field sends the visitor to the linked site in the same tab. This is really bad practice, you've lost the visitor as soon as that happens.

### Describe the solution you'd like

Either treat all external links to be opened in new tabs or, preferably, have a checkbox (true by default) to open the link in a new tab

[2021-09-07 13:59] gasman commented on #7502
Hi @enzedonline - please see the discussion on #1167. Wagtail deliberately does not offer this out of the box as it goes against UX best practice, but it can be configured via custom code.

[2021-09-07 13:59] #7502 closed

[2021-09-07 14:52] enzedonline commented on #1167
I understand the concern about site wide policies etc, the problem is that you may need to link to internal urls using the external link option because the target isn't a wagtail page. For example, I have a site with a lot of Django pages which it should be able to be linked to from a rich text block. If the site wide policy was to open all 'external' links in new tab then you'd have the same prob

[2021-09-07 14:55] Desaiakshata commented on #7366
I can work on this issue

[2021-09-07 14:55] enzedonline commented on #4474
I understand the concern about site wide policies etc, the problem is that you may need to link to internal urls using the external link option because the target isn't a wagtail page. For example, I have a site with a lot of Django pages which it should be able to be linked to from a rich text block. If the site wide policy was to open all 'external' links in new tab then you'd have the same prob

[2021-09-07 16:29] awhileback opened #7503 "page copy "exclude_fields" inconsistent"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

In investigating issues related to the other issue I recently posted about the namespace clash between "comments" and external library/plugin user page "comments" I found an issue relating to the page copy function.

When copying a page, modelcluster doesn't like a GenericRelation field so I customized the "copy" function to ad

[2021-09-08 10:42] tomdyson commented on #7355
Apologies for the slow response on this, @brylie. We had the discussion a few weeks ago but (for non-work reasons) I've been late with my action to respond to you here.

We agree with your central point that "the Wagtail community could be better served for asynchronous conversations by a discussion platform". In particular we're keen that these conversations should be permanent and searchable.

W

[2021-09-08 11:18] tomdyson commented on #7355
Done! Thanks to @gasman:

https://github.com/wagtail/wagtail/discussions

[2021-09-08 11:48] #7355 closed

[2021-09-08 11:49] brylie commented on #7355
Yes, really important! :smiley:

[2021-09-08 15:24] gasman commented on #7369
Fixed in #7489

[2021-09-08 15:24] #7369 closed

[2021-09-08 20:05] bwilliams3 opened #7506 "GroupApprovalTask email notifications go to inactive users"
Hello -- I'm not sure if this was by design, but our desired behavior would be that inactive users do not receive any email notifications from Wagtail. If the appropriate fix is as simple as updating the query below, I can submit a PR:

https://github.com/wagtail/wagtail/blob/cee245e7015b8462f2aa921e42803cd7d0962b8b/wagtail/admin/mail.py#L364

[2021-09-09 02:04] aliceni commented on #4636
Hi, I have this issue again.
![image](https://user-images.githubusercontent.com/41408550/132610114-b8ea0d89-7d4d-47c4-bb6d-525ebe205f4d.png)

[2021-09-09 05:54] aliceni opened #7508 "Document Chooser with Populate Title"
Hi, I found that Document Chooser cannot populate the updated file title but Image Chooser does.
I think its good to add this feature and its not hard to implement it because the function already exists in image-chooser-modal.js

[2021-09-09 08:38] RakeshPotnuru commented on #7452
@prakhar-asaiya
I am trying to set up the project locally but I am having issues.
When I compile and run `npm start` nothing is happening after the message `webpack compiled successfully`.
 Can you please help me?

[2021-09-09 09:12] zerolab commented on #7508
The relevant bits in the image chooser code are:

https://github.com/wagtail/wagtail/blob/main/wagtail/images/static_src/wagtailimages/js/image-chooser-modal.js#L116-L130

[2021-09-09 10:09] gasman commented on #4636
@aliceni I'm not able to replicate this - the file at `https://releases.wagtail.io/latest.txt` is being fetched correctly when I try, and showing the correct HTTP headers. Perhaps something in your network setup is blocking that URL and serving something else in its place?

[2021-09-09 15:42] gasman commented on #7506
Hi @bwilliams3 - thanks for the report. Yes, I think the intended behaviour would be to leave inactive users out of the notifications.

One thing to be careful of here is that we need to support [custom user models](https://docs.wagtail.io/en/stable/advanced_topics/customisation/custom_user_models.html), and in their most basic form (inheriting from Django's AbstractBaseUser rather than AbstractUs

[2021-09-10 15:15] gasman commented on #7240
@chosak That sounds fair. The distinction between 'types' and 'names' is a bit blurred, partly due to the detail that when you write something like `blocks.CharBlock()` in a block definition, you're instantiating CharBlock even though you're not notionally creating any objects, just writing a definition. And that's not something we're going to solve here...

I'm happy to go with `blocks_by_name` a

[2021-09-10 17:52] bwilliams3 commented on #7506
@gasman Thanks for that context and direction. I realized that the `def send_notification` function is related to comment subscribers and the workflow/task notifications are generated from `class EmailNotificationMixin`, so I added that `is_active` check and created unit tests for each in #7510. If you'd prefer a different approach, let me know.

[2021-09-10 21:12] Scotchester opened #7511 "Modify SVG icon handling so that they can be used in CSS"
### Is your proposal related to a problem?

Some of the last icons that need to be migrated from our icon font to SVG (see: #6107) are currently inserted via CSS `content` properties.

In taking a look at the way these are used, it doesn't seem like these can be addressed by our preferred method of inlining the SVGs in the template, so we need to figure out a way to keep inserting them via CSS.

W

[2021-09-11 04:18] lb- commented on #7506
Fixed via #7510 & fb4a5a6961c20ab9d0b2bdd0aa8374af9d61cb2d

[2021-09-11 07:25] pupattan opened #7513 "unable to find the view live buttons when wagtail is integrated into existing django project"
I followed the link and integrated wagtail to my existing django project .
I am unable to find the view live buttons for pages. https://docs.wagtail.io/en/stable/getting_started/integrating_into_django.html
Unable to see VIew live buttons while or Live buttons
Note : I am not overriding any settings or header config

![image](https://user-images.githubusercontent.com/19246595/132940075-6caabcb0-94

[2021-09-11 07:32] pupattan commented on #7513
I have fixed using the following in setting.py. It should be mentioned in the documentation
[code]

[2021-09-11 07:47] gasman commented on #7513
WAGTAIL_CONTENT_LANGUAGES and WAGTAIL_I18N_ENABLED do not affect the presence of the "view live" button - most likely, the problem was that you hadn't created a site record under Settings -> Sites.

For future support queries, please use the [Wagtail tag on Stack Overflow](https://stackoverflow.com/questions/tagged/wagtail), or see [the Support page in the documentation](https://docs.wagtail.io/en

[2021-09-11 07:47] #7513 closed

[2021-09-12 15:09] vladox opened #7515 "Calling update_or_create on model manager throws DoesNotExist exception"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When creating pages programmatically by invoking update_or_create on model manager an exception is raised.

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Edit models.py as follows:
[code]
3. Create custom management command as follows:

[code]

4. On running the custom management command follo

[2021-09-12 15:21] vladox commented on #7515
a public repo with a dockerized example is available here: https://github.com/elpatiostudio/wagtail_test_update_or_create

[2021-09-13 03:09] aliceni commented on #4636
@gasman I don't think this URL this blocked by my network because I can access this file. This problem still happens when I start a new wagtail project - using wagtail v2.14.1 and django v3.2.7.

[2021-09-13 07:34] gasman commented on #7515
Hi @vladox - this behaviour is expected. `add_child` must be passed an _unsaved_ Page instance, because a page is not valid until it has been assigned a place in the tree.

[2021-09-13 07:34] #7515 closed

[2021-09-13 07:52] vladox commented on #7515
Hi @gasman thanks for the answer! Is this documented somewhere? Because I couldn't find any mention to it. I'll be glad to contribute it if not already documented. Thanks!

[2021-09-13 10:12] #7506 closed

[2021-09-13 10:17] jacobtoppm commented on #7343
I'd be open to a PR namespacing these. I think it's less clear cut on `Page`, which is a Wagtail model, but in any case doing so on `User` definitely makes sense.

[2021-09-13 12:11] sonnybaker commented on #7343
Thanks @jacobtoppm - I'd be happy to work on the PR.

[2021-09-13 14:09] frontendr commented on #6069
@gasman, sorry for replying to a closed issue but I believe this is not the case. According to the [docs](https://docs.djangoproject.com/en/3.2/topics/db/multi-db/#database-routers), a router determines which connection is used for read or write operations and whether a relation is allowed between two objects. The `allow_migrate()` method simply allows or denies a migration based on its arguments.

[2021-09-13 15:45] frontendr commented on #6069
@gasman I Just started on a PR and already noticed that the [`get_fill_filter_spec_migrations()`](https://github.com/wagtail/wagtail/blob/fb4a5a6961c20ab9d0b2bdd0aa8374af9d61cb2d/wagtail/images/utils.py#L11) already uses this db_alias in its migration methods which is called in the [images.0015_fill_filter_spec_field](https://github.com/wagtail/wagtail/blob/main/wagtail/images/migrations/0015_fill

[2021-09-13 17:37] ocuna opened #7516 "Documentation on RoutablePageMixin should include information on dynamic slug URL parameters"
### Pertinent section of the Wagtail docs

https://docs.wagtail.io/en/stable/reference/contrib/routablepage.html#module-wagtail.contrib.routable_page.models

### Details

It was difficult for me to understand how to add parameters to the @route decorators.  Some tutorials online did provide some assistance, but they often recommend the Wagtail Documentation.  I couldn't find the necessary document

[2021-09-13 17:38] ocuna commented on #7516
Here are some links from around the web that helped me find the answers:
https://learnwagtail.com/tutorials/routable-page-categories-and-years/
https://www.youtube.com/watch?v=g_csyhvWrBg
https://www.accordbox.com/blog/wagtail-tutorials-routable-page/
https://stackoverflow.com/questions/54185499/wagtail-custom-url-based-on-slugs-using-routablepagemixin

[2021-09-13 20:20] hazho opened #7517 "Custom Icon is not shown in the chooser related blocks and their elements"
hey guys, the icon replacement is not work for choosers' chosen elements, I investigated and found that the telepath is responsible of it, exactly at
<i class="icon icon-'+c.escapeHtml(l.blockDef.meta.icon)+'"></i>  area in the file /static/wagtailadmin/js/telepath/blocks.js , everything is quite fine in the chosen except the meta.icon attrib

* Python version: Run 3.8.
* Django version: 3.2.5
* W

[2021-09-13 21:00] gasman commented on #7517
Hi @hazho,
When you make a bug report, _please_ fill in all the requested information in the bug report form:

* what you did (including any code you wrote)
* what you expected to happen
* what happened instead

If the problem is something visual, including screenshots helps too.

If you don't do this, we have to reconstruct your bug report from just a few key words (icon, chooser, telepath), and

[2021-09-13 21:00] #7517 closed

[2021-09-14 06:50] surajaiswal13 commented on #7328
Hello Sir, Can I work on this Issue, This could be my Open Source Contribution

[2021-09-14 07:27] frontendr commented on #6069
Ongoing development: https://github.com/frontendr/wagtail/commit/eed08e171a6dc3b46e95dec08d25276ccc211764

[2021-09-14 09:34] #7492 closed

[2021-09-15 09:28] onno-timmerman opened #7519 "Textarea field does not have the correct default height in the Wagtail page editor"
I notice that often the default height of the textarea is to small. If you translate a page and a textarea is multiline then the height look something like this. You need to enter the textarea and add a line to see it complete.

<img width="390" alt="" src="https://user-images.githubusercontent.com/178425/133407896-b5f8e869-ddff-4c02-a19e-c67419d6a68c.png">

[2021-09-15 16:05] #4288 closed

[2021-09-16 16:29] geoffroy-noel-ddh opened #7522 "Better support for custom navigation structure via redirects & placeholder pages"
### Use case

Pages a,b,c are directly under the site root. They are also listed in my primary nav (dynamically generated) on the home page. I want to add an entry r in my menu, so it becomes: a | b | r | c. That entry will redirect to a page R hosted on a third party website.

### Suggestion

Add a **checkbox** to the redirect entry screen. If ticked it means that the redirect will happen even if

[2021-09-16 18:37] pvetch commented on #7522
As a point of reference, the TYPO3 CMS adopts the approach of different page types for this and other use cases involving internal / external redirects. https://docs.typo3.org/m/typo3/tutorial-editors/master/en-us/Pages/PageTypes/Index.html#pages-types

[2021-09-17 09:34] zerolab commented on #7522
fwiw, this is what I've used previously (alternative 4):

[code]

[2021-09-17 12:37] geoffroy-noel-ddh commented on #7522
Thanks both for the feedback. Alternative 4 seems like a good option then.

Possibly with get_url_parts() that returns the target URL to avoid unnecessary HTTP redirects, so it really works like an alias. Provided Wagtail won't be confused by having more than one item in the tree with same url...

[2021-09-17 13:14] zerolab commented on #7522
I can't think of other systems that support this, other than effective redirects (i.e. redirects that take effect even if a page with the redirect path exists)

Given you can accomplish the "insert R entry in the tree" using "proxy page model" and/or [core page aliases](https://docs.wagtail.io/en/stable/editor_manual/copying_aliasing_existing_pages.html#aliasing-page-label), I am not sure the "tic

[2021-09-17 14:38] surajaiswal13 commented on #7328
Sir " Can you Suggest something what can i do for hover/active styles "
I have Implemented

    .arrow_right_icon {
        @include svg-icon(1em);
        color: LinkText;
        transform: scale(1.75) translate(0.3em, 0.1em);
    }

also it is working fine in high contrast mode When normal it is in Yellow color and when hovered it gets black in color

[2021-09-19 04:18] #7327 closed

[2021-09-19 04:46] #7290 closed

[2021-09-19 07:25] akshay-kapase commented on #7508
Is this already done?

[2021-09-19 14:13] zerolab commented on #7508
@akshay-kapase no. Feel free to pick this up.

[2021-09-20 13:36] gasman commented on #7202
The current implementation of validation for StructBlock / ListBlock / StreamBlock was not really intended to be used for custom validation in end-user code - it was only designed to deal with propagating errors that occur in FieldBlocks, and there are some design decisions that made sense in that context but are more dubious when the error originates from the StructBlock / ListBlock / StreamBlock

[2021-09-20 23:18] lb- commented on #4453
I encountered this issue myself today, adding custom permissions via `permissions_for_user` on a `Page` model does not seem to be used in other places throughout the UI.

Most likely due to not using page.specific

https://github.com/wagtail/wagtail/blob/main/wagtail/core/models/__init__.py#L1958
[code]

[2021-09-21 12:08] Vruttant commented on #7508
Hi, Can I work on this issue?

[2021-09-22 08:44] MySecondLanguage opened #7531 "Image queryset for current user who uploaded the image"
In wagtail, `ImageChooserPanel` i can filter for current user-uploaded images and that is what I already implemented using `construct_image_chooser_queryset` hooks

But I have not found any solution to show only current user-uploaded images in wagtail image admin here.

I notice, in the wagtail sidebar image gallery, it shows all the images image which is uploaded by another user.

Here you go for

[2021-09-23 12:29] lb- commented on #6170
@Stormheg  I just noticed this tonight also and have put up a PR https://github.com/wagtail/wagtail/pull/7535

Probably not a big issue we missed this one, gives users another month or so to migrate, but we definitely want to drop IE11 for our 2.15 LTS

[2021-09-23 15:08] joshuadavidthomas commented on #5126
+1 that the `NestedInlinePanel` provided above fixes the issue for 2.14.1. Like @brylie above, it appears none of the settings carry forward; I am trying to limit the number of forms by setting `max_num`, but it doesn't appear to do anything.

Copying and overriding the default `admin/templates/wagtailadmin/edit_handlers/inline_panel.js`, I threw a few console.logs in there to see what was going o

[2021-09-23 16:51] joshuadavidthomas commented on #5770
+1 on the modifications from @thaxy and @the5thbeatle, though I had to edit it to `.replace(new RegExp(``${pre}\\\\u002D__prefix__``, 'g'), ``${pre}\\u002D${formCount}``)` added after the first `RegExp` line from @thaxy's script.

[2021-09-24 10:28] th3hamm0r opened #7537 "Preview error when using StreamField with EditHandler on per-request basis"
### Issue Summary

We're using `EditHandler`s, which show/hide fields depending on the user's permission. This is based on the example in wagtail's tests (see https://github.com/wagtail/wagtail/blob/main/wagtail/tests/testapp/models.py#L1418).

**Problem:**
Unfortunately, there are multiple places in wagtail's codebase, where `BaseFormEditHandler.get_form_class()` is called, without binding the cu

[2021-09-24 11:26] th3hamm0r commented on #7537
Ok, `multiple places in wagtail's codebase` is what I've found after a quick search for "get_edit_handler().get_form_class()", but it seems that only the preview's usage is a real issue, since it can be overridden easily with custom edit handlers.

Actually I only found one place in the workflow's `EditView` (see https://github.com/wagtail/wagtail/blob/main/wagtail/admin/views/workflows.py#L141),

[2021-09-24 16:30] alramalho opened #7539 "Page programatic chagnes not reflected in admin backoffice"
### Issue Summary

When I call the `save` method on the Page class, the changes are not reflected in the admin interface.

### Steps to Reproduce

1. Programatically call the `save` method on any page
2. Check the same page in backoffice

`Expected: `
The `updated on` tab would reflect the time when save was called

`Actual:`
It doesn't

`Notes:`
I am actually calling the save method as `page.save

[2021-09-24 16:42] gasman commented on #7539
Hi @alramalho,
As per https://docs.wagtail.io/en/stable/reference/pages/model_reference.html#pagerevision , you need to call `page.save_revision()`. This is necessary to accommodate pages being saved as draft - the Page model itself reflects the live published state of the page, so the admin backend needs to use the page revision history to retrieve the up-to-date version including any draft edits

[2021-09-24 16:42] #7539 closed

[2021-09-27 14:29] jnns opened #7541 "Wagtail tries to add PostgreSQL search utils to non-Postgres database"
Wagtail's `postgres_search` makes it impossible to run Wagtail on a multi-database setup if one of the configured databases is not Postgres.

I have two databases declared in `settings.DATABASES`; one runs on PostgreSQL and the other on MySQL. (The latter is used to import data from an old Wordpress installation and uses [unmanaged models](https://docs.djangoproject.com/en/3.2/ref/models/options/#

[2021-09-27 19:24] rosslaird opened #7542 ""Approve with Comment" in Workflow does not send approval notification email"
When selecting "Approve with Comment" and entering a comment, Wagtail does not send a notification email to the owner of the page being approved. [LB on Wagtail Slack](https://wagtailcms.slack.com/archives/C81FGJR2S/p1632577325123200) has provided the detail here:  it seems the main issue is that the built-in ```GroupApprovalTask``` and its notification ```BaseGroupApprovalTaskStateEmailNotifier``

[2021-09-27 22:18] #7537 closed

[2021-09-28 08:54] yanndinendal commented on #4445
It could also be useful to have an `InlineRichTextField` which would allow editors to add bold, italic and links but prevent them adding line breaks (`br`), or other blocks like like `ul`, `ol`, ...
And especially **not** wrap the output in a `<p>` tag.

[2021-09-28 10:20] zerolab commented on #4445
I can see how `InlineRichTextField` would relate to https://github.com/wagtail/rfcs/pull/60

[2021-09-28 17:05] nmorduch opened #7546 "[slim-sidebar] Can't scroll sidebar vertically"
Sidebar doesn't scroll vertically (needed when the page isn't tall enough to show all the items.) Scrolling on it just scrolls the page, regardless of whether the sidebar is expanded or collapsed.

I'm using up-to-date docker-wagtail-develop on a Mac and checked this on `main` in FF dev edition 93 and Chrome 93

[2021-09-29 02:59] anurag629 commented on #7450
sir, please assign me.
I want to contribute

[2021-09-29 08:45] dinoperovic opened #7549 "WAGTAILADMIN_PERMITTED_LANGUAGES setting not respected"
### Issue Summary

`WAGTAILADMIN_PERMITTED_LANGUAGES` setting is not respected when `UserProfile.preferred_language` is left empty which happens by default and can't be changed when the setting contains only one language.

### Steps to Reproduce

1. Configure the project settings:
[code]
2. In 'Chrome', go to settings -> languages and move 'Spanish' to the top (This sets 'Accept-Language' header t

[2021-09-29 09:53] gasman commented on #7549
Hi @dinoperovic - thanks for the report.

Setting WAGTAILADMIN_PERMITTED_LANGUAGES to a list that doesn't contain the default LANGUAGE_CODE seems like an odd setup, and I'm not sure why that would happen in practice - what's the use-case for that?

The main intent of the WAGTAILADMIN_PERMITTED_LANGUAGES setting is to avoid the dropdown being cluttered with a load of languages that only have 10% co

[2021-09-29 11:16] dinoperovic commented on #7549
@gasman I agree this setup is odd (it is a requirement from a client) but regardless the same is true for a setup such as this:
[code]

Using `Accept-Language: it` will render the admin in Italian (If the user has not set the preferred language)

Having explained the intent of this setting I do get your reasoning behind it, seems I have misunderstood it :)

I just prefer having the admin fixed to

[2021-09-29 15:48] #7401 closed

[2021-09-29 16:19] #7549 closed

[2021-09-29 22:12] lb- commented on #7366
Some improvement has been made to this, thanks to @Desaiakshata  https://github.com/wagtail/wagtail/commit/997ac738b0bd04db0e737a11fa6304586865eab5

[2021-09-30 08:57] #5482 closed

[2021-09-30 08:58] lb- commented on #5482
Resolved via #7488

[2021-09-30 09:47] lb- commented on #7328
This has been fixed via fb66c1fd1732f462a1983edb5410192a9b8963da
<img width="1520" alt="Screen Shot 2021-09-30 at 7 46 58 pm" src="https://user-images.githubusercontent.com/1396140/135429446-a3177091-43a8-4a46-81d5-94f805ad9d05.png">

[2021-09-30 09:47] #7328 closed

[2021-09-30 09:49] lb- commented on #7508
FYI, #7534 enhances the image title population with an override function, it might be good to copy this approach for the document files.

See also #4945 for context

[2021-09-30 09:50] lb- commented on #7454
Fixed via 22cdd89b682c2c5e181002038bcaf8daf1db63b7 #7499

[2021-09-30 09:50] #7454 closed

[2021-09-30 09:53] lb- commented on #5914
Due to #6170 likely happening in 2.15 I have removed the good first issue label

[2021-09-30 09:54] lb- commented on #4945
Picked this up again, another attempt to get this resolved via #7508

[2021-09-30 11:18] lb- commented on #6499
fixed via 92381698d0215d9f26c71a52c61ddeb429fb96e7  & https://github.com/wagtail/wagtail/pull/6500

[2021-09-30 11:18] #6499 closed

[2021-09-30 11:35] thibaudcolas commented on #4225
I’m going to close this now since things have moved a bit compared to three years ago – we’re now displaying Wagtail’s version number in the Settings menu.

If people want to add other environment metadata, they can override that templat (https://github.com/wagtail/wagtail/blob/main/wagtail/admin/templates/wagtailadmin/shared/menu_settings_menu_item.html), or use our branding overrides (https://do

[2021-09-30 11:35] #4225 closed

[2021-09-30 12:38] thibaudcolas commented on #6885
I forget how and when we went about this, but it looks like the current highlighting styles match the requirements outlined above of providing high enough contrast, while not messing with spacing. So I’ll close this now.

Screenshot for reference:

![wagtail docs highlight screenshot, with high-contrast grey over yellow background for highlighted text](https://user-images.githubusercontent.com/877

[2021-09-30 12:38] #6885 closed

[2021-09-30 12:40] SakshiUppoor commented on #7451
Hi, I would like to work on this issue.

[2021-09-30 17:19] th3hamm0r opened #7556 "Add transaction.atomic to modifying views"
### Is your proposal related to a problem?

Currently, the majority of all modifying views in wagtail, which often contain many different db reads and writes, don't use a wrapping DB-transaction. So errors in the middle of the processing could result in a partially saved state.

For example:
Publishing a page (implemented [here](https://github.com/wagtail/wagtail/blob/4ab7080fb8e3def96ec6e82df20c9

[2021-10-01 04:24] hammygoonan opened #7558 "Use Full URL for ImageRenditionField."
### Is your proposal related to a problem?

I'm a big fan of the new `full_url` field that images have and would like them to be easily used in the API.

Assuming one's frontend app is living on a different domain to the Wagtail API then the default relative URLs aren't as useful.

### Describe the solution you'd like

Add `full_url` to the output of `ImageRenditionField`.

I propose it just repla

[2021-10-01 20:30] gasman commented on #4830
This was fixed in 2.13: https://docs.wagtail.io/en/stable/releases/2.13.html#updated-handling-of-non-required-streamfields

[2021-10-01 20:30] #4830 closed

[2021-10-01 21:10] gasman commented on #5914
Closing as we will no longer be supporting IE11 as of 2.15.

[2021-10-01 21:10] #5914 closed

[2021-10-01 21:15] gasman commented on #5297
Closing as IE11 support is being dropped in 2.15.

[2021-10-01 21:15] #5297 closed

[2021-10-01 21:15] gasman commented on #6447
Closing as IE11 support is being dropped in 2.15.

[2021-10-01 21:15] #6447 closed

[2021-10-02 03:19] umarfarukabu commented on #5768
Can someone tell how to resolve that issue with  LookupError: No installed app with label 'wagtailimages'

[2021-10-02 03:45] monalisha31 commented on #7447
@zerolab can i work on this?

[2021-10-02 11:57] wweverma1 commented on #7457
@thibaudcolas Can I start working on this issue?

[2021-10-02 15:01] zerolab commented on #7457
Go for it.

If you haven’t already, have a look at our [Contributing to Wagtail](https://docs.wagtail.io/en/latest/contributing/index.html) guide first.

[2021-10-02 19:07] wweverma1 commented on #7457
@zerolab okay I've starting working on it.
Will be sharing a PR by tomorrow.

[2021-10-02 19:16] wweverma1 commented on #7457
@zerolab how can I reproduce this issue?
Like I wanted to know on which page is this issue?

[2021-10-02 20:36] zerolab commented on #7457
If you use https://github.com/wagtail/bakerydemo then you can creat or edit a blog post with the body field which uses SteamField

[2021-10-03 10:11] SakshiUppoor commented on #7325
I would like to work on this issue.

[2021-10-03 21:31] lb- commented on #7542
Further notes about the code

* wagtail/admin/mail.py -> register_signal_handlers uses GroupApprovalTaskStateSubmissionEmailNotifierhttps://github.com/wagtail/wagtail/blob/main/wagtail/admin/mail.py#L381
* wagtail/admin/mail.py -> register_signal_handlers uses GroupApprovalTaskStateSubmissionEmailNotifier https://github.com/wagtail/wagtail/blob/main/wagtail/admin/mail.py#L346
* That notifier's get

[2021-10-04 11:35] #6170 closed

[2021-10-04 12:37] gasman commented on #5191
As of #7409, views that use wagtail.admin.views.generic.models.IndexView (including sites, groups, locales) now handle these correctly. Ideally we'd address the remaining ones by porting them to generic views...

On the chevrons, I went with the Apple approach of up arrow = ascending order. I don't think we're quite there with the design decisions yet, though, since there are actually four cases t

[2021-10-04 13:28] zerolab commented on #5191
How about something like https://fontawesome.com/v6.0/icons/sort but with chevrons for 3 ("listing can be ordered on this column)?

4 ("listing cannot be ordered on this column") can continue without any icon

[2021-10-04 13:34] gasman commented on #5191
Sounds good to me! So, single chevron + teal for the currently active column, double chevrons + grey (maybe with teal on hover) for other columns that can be ordered, and grey text for non-orderable.

[2021-10-05 13:35] jacobtoppm commented on #7542
By default, I don't believe we send any approval notifications unless an implementor connects the signal handlers themselves (comment or no comment), to avoid spam. If we wanted to send them only if there has been a comment, that's also an option!

[2021-10-06 08:10] jacobtoppm commented on #7542
@lb- Apologies, I should have been clearer! I mean we don't send approval notifications for `TaskState`, just once for the entire workflow.

[2021-10-06 08:39] lb- commented on #7542
Ahh yep, that makes sense now, thank you.
I guess we could cover this with a docs example maybe, I agree that this could be frustrating for people on every single task approval.

[2021-10-06 09:40] hazho commented on #5958
there are many other issues detailing this one and new PRs already processed, therefore, I'll be closing this one

[2021-10-06 09:40] #5958 closed

[2021-10-06 09:53] #4945 closed

[2021-10-06 19:50] rosslaird commented on #7542
Speaking as someone who has enough knowledge to install and use Wagtail but not enough programming skill to dig down into what might (or might not) be happening with approval notifications, my experience is that notifications generally... just work. So, when I see options for approving with a comment, requesting changes, and so on, I expect those to just work — and when they don't work as expected

[2021-10-07 05:44] lb- commented on #4937
@kaedroho  not sure if we wanted to be louder about this but I have added 02d6d27a9c687c8d5e24ddba6d59b98a96e4d04d to the release notes.

Feel free to update if you think that is not sufficient

[2021-10-08 21:32] #7451 closed

[2021-10-09 17:11] Ash-Crow opened #7584 "Admin filters don't use the color-primary variables"
Hi !

### Issue Summary
<img align="right" width="200" src="https://user-images.githubusercontent.com/765956/136667005-c7132877-101a-46f0-8199-dca401db6cad.png">
The filters in the admin panel have hard-coded colors in the CSS, so they stay teal even if the primary color is changed.

The colors are a bit lighter than the ones defined by the variables (see the attached picture), but I think using t

[2021-10-10 12:33] indreshp135 opened #7587 "RichTextEditor doesnot render at correct location when clusterable model of orderables is used."
### Issue Summary

When I was trying to create multiple cards decks which contain multiple cards in it, whenever I add a new card RichTextEditor gets appended to card 0 in the deck.

Also reordering and delete is not working for cards.

![image](https://user-images.githubusercontent.com/63254562/136695710-2745a1e3-74e4-420d-82b6-55f142d10fd0.png)

Here is the code.

[code]

* I have confirmed that

[2021-10-12 04:46] lb- commented on #7587
Looks like this could be the same issue as #5770

[2021-10-12 21:37] #7587 closed

[2021-10-12 21:37] #5770 closed

[2021-10-13 08:32] phildexter opened #7592 "Unpublish / Delete / Move a page should optionally cascade to other locales"
There is a use case where as a user unpublishes / deletes a page, they want to also unpublish / delete that same page on many locales.

A solution to this would be that on the confirmation "Are you sure" screen, to show the other locales with checkboxes to select them to be deleted also.

**Unpublishing**
When unpublishing the user currently gets to choose if subpages should also be unpublished. W

[2021-10-13 08:46] phildexter opened #7593 "Refine audit logging for alias pages"
Currently when using alias pages, the site history report gets pretty busy as any change to a page with alias pages is shown multiple times (one per alias page). This is making things tricky for those who have many locales.

It's also not that useful more generally to log every publish or change as a change to every alias page.

The suggestion is that for alias pages we should only log actions on

[2021-10-13 09:28] phildexter opened #7594 "Alias pages do not get a first_published_at date"
As reported by Pomax here: https://github.com/wagtail/wagtail-localize/issues/449

[2021-10-13 11:37] winterleitner opened #7595 "Finding pages by HTML Path - redirect missing port"
### Issue Summary

When using the ` /api/v2/pages/find/?html_path=/ ` endpoint of the v2 API I encountered an issue where my specific wagtail port was not included in the redirect url.

Example:
`http://localhost:8000/api/v2/pages/find/?html_path=/`
redirects to
`http://localhost/api/v2/pages/3`
instead of
`http://localhost:8000/api/v2/pages/3`

### Steps to Reproduce

1. Run Wagtail on any non-st

[2021-10-15 01:17] shariq1989 commented on #7458
I have started working on this issue since no one has commented in a while. I will test and push a PR soon.

[2021-10-15 07:49] #7584 closed

[2021-10-15 08:25] #7508 closed

[2021-10-16 01:30] thibaudcolas commented on #6709
This sounds a lot like #7573 :) Coming in Wagtail 2.15.

[2021-10-16 01:30] #6709 closed

[2021-10-16 01:31] #216 closed, assigned to nobody

[2021-10-16 01:33] thibaudcolas commented on #121
It’s here :) #7573 https://docs.wagtail.io/en/latest/releases/2.15.html#bulk-actions

[code]

[2021-10-16 01:33] #121 closed

[2021-10-16 11:52] shariq1989 commented on #7447
@monalisha31, please respond if you are still planning on working on this otherwise I can finish it up.

[2021-10-16 18:36] allcaps opened #7622 "Site history displays "Draft saved" for saved snippets"
### Issue Summary

The 2.15rc has audit logging for all models.

When a snippet is saved, it displays "Draft saved" in site history. Should be "Saved", as snippets does not have a workflow and thus does not have a 'draft' state.

### Steps to Reproduce

1. Use Wagtail 2.15rc and bakerydemo
2. Edit a snippet. Eg: http://127.0.0.1:8000/admin/breads/breadtype/edit/15/
3. Go to Site history at http://

[2021-10-17 03:05] lb- opened #7624 "Avoid UPPERCASE labels in Wagtail's admin interface"
### Is your proposal related to a problem?

* Some screen readers will read UPPERCASE as an abbreviation (e.g. space out the word, reading a single letter at a time).
* UI and accessibility guidelines recommend either 'Title Case' or 'Sentence case' for button labels

### Describe the solution you'd like

* Remove all usage of CSS transform to upper case on buttons throughout Wagtail
* Recommendat

[2021-10-17 20:47] allcaps opened #7625 "Multi upload to single upload redirect"
### Issue Summary

With wagtail==2.15rc1,

The multi image upload always redirects to the single file upload.
`http://127.0.0.1:8000/admin/images/multiple/add/ -> http://127.0.0.1:8000/admin/images/add/`

And the multi document upload always redirects to the single document upload.
`http://127.0.0.1:8000/admin/documents/multiple/add/ -> http://127.0.0.1:8000/admin/documents/add/`

On wagtail 2.14.

[2021-10-18 10:12] tr-j opened #7627 "Add JS example for 'Form widget client-side API'"
### Pertinent section of the Wagtail docs

https://docs.wagtail.io/en/latest/reference/streamfield/widget_api.html

### Details
There is a python example of the adapter, but there is no corresponding javascript component. The documentation states:
"The JavaScript object associated with a widget instance should provide a single method:" and "The value returned by render is a ‘bound widget’ object a

[2021-10-18 14:18] jeromelebleu opened #7628 "Wrong log action on edit in ModelAdmin"
### Issue Summary

The log action used in ModelAdmin when an instance is edited is [`wagtail.edit`](https://github.com/wagtail/wagtail/blob/v2.15rc1/wagtail/contrib/modeladmin/views.py#L741), which is registered and translated to ["Save draft"](https://github.com/wagtail/wagtail/blob/v2.15rc1/wagtail/core/wagtail_hooks.py#L100). There is no draft in ModelAdmin thus the action doesn't fit, it shoul

[2021-10-18 14:25] #7628 closed, assigned to nobody

[2021-10-18 21:37] webquest-nz opened #7630 "Documentation link links to no content"
### Pertinent section of the Wagtail docs
The url https://docs.wagtail.io/reference/pages/model_reference.html#wagtail.core.models.Page linked from https://docs.wagtail.io/en/stable/topics/pages.html goes nowhere.  Does anyone know when the wagtail documentation will be back online ?  All I get is a maze drawn in ascii art.

(Insert the permalink of the section heading in the Wagtail docs. Choose

[2021-10-18 21:43] gasman commented on #7630
Thanks for reporting! The correct link is https://docs.wagtail.io/en/stable/reference/pages/model_reference.html#wagtail.core.models.Page - we'll fix the broken link.

[2021-10-18 22:25] gasman commented on #7630
It turns out this was already fixed in #7390 on the 'latest' branch, but it didn't get ported over to 'stable' - unfortunately our docs hosting platform (readthedocs) doesn't make it easy to retrospectively change existing versions of docs without us putting out a whole new Wagtail release, so it's likely that it'll stay this way until we release 2.15 at the start of November.

[2021-10-18 22:25] #7630 closed

[2021-10-19 09:08] andreaslans opened #7631 "TableBlock leading to javascript error in admin"
### Issue Summary

We just upgraded an old Wagtail instance to `2.13.2`. When reloading the admin we get no visible blocks at all in the body section where a streamfield with all our blocks normally are present.

The error when editing a page in the admin:
[code]

We can see that register is run when importing the TableBlock from our own TableBlock which overrides the template.
[code]

[2021-10-19 11:24] frjo opened #7632 "Date picker for scheduled publishing clash with browsers built in pickers"
### Issue Summary

Date picker for scheduled publishing clash with browsers built in pickers. This make it impossible to set a date. It behaves slightly different in different browsers but the end result is the same.

### Steps to Reproduce

Go to the settings tab for a page in Wagtail admin. Try to set up scheduled publishing.

In Safari for macOS:

https://user-images.githubusercontent.com/19139

[2021-10-19 13:02] #7632 closed, assigned to nobody

[2021-10-20 13:10] gasman opened #7633 "Deprecation path for switching to new database search backend"
We need to consider the developer experience implications of someone upgrading to Wagtail 2.15 and being switched over from `wagtail.search.backends.db` - which doesn't require the `update_index` management command - to `wagtail.search.backends.database`, which does. In the most basic scenario:

* A developer starts a project on Wagtail <=2.14, and does not make any configuration changes to search

[2021-10-21 12:59] sowinski opened #7637 "Can't use turkish special character as a slug "İ""
Wagtail can handle all my special characters as a slug for man page. Only one letter from the Turkish alphabet is not working.

For example the city İkizce can't be used as a slug because of the first letter.

Even cyrillic letter like кривий-ріг working fine.

To reproduce the issue. Just create a new wagtail page and use İkizce as a slug.

### Technical details

* Python version: 3.7.3
* Django

[2021-10-21 14:13] sowinski commented on #7637
Thank you. I will ask the Django guys what they think about that.

But I think if wikipedia can handle this. Django should also be able to handle this.
https://en.wikipedia.org/wiki/%C4%B0kizce

[2021-10-21 21:59] gasman commented on #7637
There is no workaround, other than using a plain letter 'i' - Django is behaving correctly, according to its own validation rules for slugs. The page I linked to is an explanation of the current behaviour, which you'll need to understand if you're going to propose an alternative handling of slugs to Django.

[2021-10-22 16:25] DanielSwain opened #7640 "Form created in Wagtail admin broken until `clean_name` added to form field(s) proactively"
I don't know whether this is a bug, but I've recently noticed while working on the command line on a few sites the following (or similar) message coming up after I ran `manage.py xxxxxxx`:
`main.EmailFormField: Added `clean_name` on 15 form field(s)`  (where 15 is any number of fields)

In the [release notes for 2.10](https://docs.wagtail.io/en/latest/releases/2.10.html?highlight=clean_name#clean-

[2021-10-22 16:27] hazho opened #7643 "Stream and Struct Blocks' Keyboard shortcuts"
### Discussed in https://github.com/wagtail/wagtail/discussions/7642

<div type='discussions-op-text'>

<sup>Originally posted by **hazho** October 23, 2021</sup>
I think, in this era (with lots of competitors in the market) we should provide the basic features of editing for edit_handler, such as the keyboard shortcuts..!
----------------------
need to take dicision about:
- what actions(events)

[2021-10-22 16:39] #7643 closed, assigned to nobody

[2021-10-22 21:32] Scotchester opened #7646 "Accessibility and UI issues with typed table block"
Starting this issue to catalogue issues that remain in the [typed table block](https://docs.wagtail.io/en/latest/reference/contrib/typed_table_block.html) UI, especially accessibility-related ones.

I am already working on a few of these, denoted below.

**Note:** We also know we need to take a harder look at how the ARIA Grid pattern might serve this interface well, and using that may nullify som

[2021-10-26 11:52] gasman opened #7654 "TypedTableBlock - columns inserted after a deletion don't save"
### Issue Summary

If a column of a TypedTableBlock is inserted in the same position as one that has just been deleted, it ends up omitted from the saved data.

### Steps to Reproduce

1. Start a new page with a page type that has a StreamField with a TypedTableBlock on it
2. Create a table with three columns and one row of data; save as draft
3. Delete the second column (do not save yet)
4. Inser

[2021-10-27 15:17] #7640 closed, assigned to nobody

[2021-10-28 09:08] #7654 closed, assigned to nobody

[2021-10-28 09:54] #7633 closed, assigned to kaedroho

[2021-10-31 12:15] lb- commented on #3653
Adding +1 to this, just spent an hour on this one, would be very good to get this fixed.

[2021-10-31 12:32] gajus11 opened #7664 "Inconsistent output from RichTextField and RichTextBlock"
### Issue Summary

Inconsistent output from RichTextField and RichTextBlock (Wagtail API v2).

For example if we use Internal link handled by PageLinkHandler:

RichTextField output:
`<html><body><p data-block-key=\"ca20z\">Test internal link</p><p data-block-key=\"d12am\"><a href=\"/\">Home</a></p></body></html>`

RichTextBlock output:
`<p data-block-key=\"s1g1a\">Test internal link</p><p data-blo

[2021-10-31 14:11] gastlich opened #7666 "cache_page/never_cache decorator misbehaves with wagtail"
### Issue Summary
I use combination of `never_cache` and `cache_page` decorators to cache page in memcached, but fully prevent caching in users' browsers.

From my investigation, it looks like setting `never_cache` and `cache_page` decorators on Page's `serve` method produces different headers than setting the same decorators on Django's view.

The issue prevents the page to be cached in memcached

[2021-11-01 21:20] tbrlpld commented on #7336
@gasman I have created #7671 to adjust the `latest.txt` according to your comment. Let me know if that works.

[2021-11-02 12:31] gasman commented on #7664
This is covered by #2695 (and the discussion there gives some workarounds).

[2021-11-02 12:31] #7664 closed

[2021-11-04 10:30] gasman commented on #7631
Closing due to lack of updates - happy to take another look if you can provide details for reproducing this issue.

[2021-11-04 10:30] #7631 closed

[2021-11-04 10:34] hash3liZer opened #7678 "Wagtail binary doesn't get detected on PATH on MacOS when installed from PIP"
The wagtail command doesn't get detected on MacOS (Tested on Big SuR) when installed through pip. I tried with both sudo and non-sudo privileges but no success. At the end i'd to clone into latest release tag `2.14.2` from GitHub and install it manually using `python3 setup.py install` and it worked fine after that.

### Steps to Reproduce
On MAC, simply run:
[code]

[2021-11-04 13:25] danhayden opened #7680 "wagtail 2.15 missing "Enable ordering of child pages" in table-headers"
### Issue Summary

I have upgraded a wagtail project from 2.14.2 to 2.15 and now seem to have no way to sort child pages.

The sort feature appears to have been replaced by the bulk actions feature.. Was it intentional to remove sorting?

Sort option showing in 2.14:
![wagtail 2 14](https://user-images.githubusercontent.com/1385253/140320581-4c2f7950-6944-4688-bafc-d24da1e97101.png)

### Steps to

[2021-11-04 13:34] gasman commented on #7680
Hi @danhayden,
This can now be found in the More dropdown - "Sort menu order".

[2021-11-04 13:34] #7680 closed

[2021-11-04 13:37] danhayden commented on #7680
I have just noticed that the sort feature can be found in the more menu..

![wagtail 2 15 more menu](https://user-images.githubusercontent.com/1385253/140322461-5f4ffa9b-bbc7-40f9-83b8-a3594a4f19e5.png)

I find this UI a little odd, when you select 'Sort menu order' you then lose the bulk actions with no clear way to get them back

![wagtail 2 15 more menu 2](https://user-images.githubusercontent.

[2021-11-04 13:39] danhayden commented on #7680
Thanks @gasman, I had spotted it when play around a little more. Is there a way to restore the bulk actions options after selecting 'Sort menu order'

[2021-11-04 13:45] gasman commented on #7678
Hi @hash3liZer - I think this is a Python setup issue rather than a Wagtail one. Assuming you installed Python from one of the packages on https://www.python.org/downloads/macos/, within the /Applications/Python 3.x folder you should find a script named `Update Shell Profile.command` - running this should fix the issue.

If you need further assistance, please visit [our support channels](https://d

[2021-11-04 13:45] #7678 closed

[2021-11-04 14:46] gasman opened #7681 "Stray checkbox on locked pages report"
### Issue Summary

The Locked Pages report (and possibly others inheriting from PageReportView) has a stray additional column with a checkbox, presumably from the bulk actions feature, which causes the column headings to get out of step:

![Screenshot 2021-11-04 at 14 38 33](https://user-images.githubusercontent.com/85097/140334621-38a41691-f20d-48b5-b38c-3d2d7ed69519.png)

Thanks to @Tijani-Dia f

[2021-11-04 19:27] allcaps commented on #7680
Yes, click the sort icon.

https://user-images.githubusercontent.com/1969342/140406689-0abc72f1-3e7a-46b7-8f12-0f99ed655559.mov

[2021-11-07 16:25] laymonage commented on #7681
Hi, I made a PR for this in #7687. Let me know if there are any other changes needed. Thanks!

[2021-11-08 11:21] lb- opened #7688 "csrf_token missing for admin dashboard workflow actions (resulting in 403)"
### Issue Summary

When a `POST` is made to the workflow URLs `admin/pages/workflow/action/` via the dashboard buttons (e.g. Approve) it does not contain the `csrfToken` resulting in a 403 each time.

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Create a new page & publish
3. Edit that same page but this time put to moderator's approval
4. Go to the dashboard (a

[2021-11-08 11:56] mpoli commented on #7688
I experience this same issue with:

python 3.10
django 3.2.9
**wagtail 2.15**
chrome 95
cookiecutter-django installation

[2021-11-08 14:33] helderco commented on #7410
Yes, my user model has a single `name`, not `first_name` and `last_name`. When the account view was multiple forms, I used the `construct_account_menu_items` hook to modify the url for the change name view.

How do I replace/modify the `NameEmailSettingsPanel` now? The only solution I can see is to override the entire `wagtail.admin.views.account.account` view, which is I hope is temporary until s

[2021-11-08 15:03] helderco commented on #7410
If at least `django.contrib.auth.base_user.AbstractBaseUser.REQUIRED_FIELDS`is respected in making these fields optional, then I can use css to hide first_name and last_name, although it's not ideal.

[2021-11-08 15:25] helderco commented on #7410
There's already a `settings.WAGTAIL_USER_CUSTOM_FIELDS`, used in `wagtail.users.forms.UserCreationForm` and `wagtail.users.forms.UserEditForm`, so fixing `wagtail.admin.forms.account.NameEmailForm` is easy.

[2021-11-08 15:42] #3804 closed

[2021-11-08 15:45] aliceni81 opened #7690 "Wagtail 2.15 Bulk Publish for Inherited Page"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
Assume we have two classes:
class A(Page):
  name = models.CharField(max_length=255)

class B(A):
  nickname = models.CharField(max_length=255)

When do bulk action of publishing the pages with B, an error will occur:
![image](https://user-images.githubusercontent.com/81170508/140770606-161a016f-52c2-4bda-b45d-0cd78ba99310.png)

[2021-11-08 15:46] brylie commented on #7410
@helderco, could you give an example of using WAGTAIL_USER_CUSTOM_FIELDS to customize the UserCreationForm and UserEditForm? Resolving this issue might only need an update to the Wagtail docs.

cc: @gasman

[2021-11-08 15:48] helderco commented on #7410
No, not the docs. The current `wagtail.admin.forms.account.NameEmailForm` would have to be adapted to support `settings.WAGTAIL_USER_CUSTOM_FIELDS` and `django.contrib.auth.base_user.AbstractBaseUser.REQUIRED_FIELDS`.

[2021-11-08 15:57] helderco commented on #7410
I've just realised that I'm using my own overrides in `settings.WAGTAIL_USER_EDIT_FORM` and `settings.WAGTAIL_USER_CREATION_FORM` because the default form (`wagtail.users.forms.UserEditForm`) adds the fields `settings.WAGTAIL_USER_CUSTOM_FIELDS`, it doesn't replace the default `first_name` and `last_name`fields.

[2021-11-08 16:16] #4968 closed

[2021-11-08 19:24] tbrlpld opened #7692 "`default_app_config` in `__init__.py` deprecated since Django 3.2"
### Is your proposal related to a problem?

Since Django 3.2 it is not necessary anymore to declare a `default_app_config` is only a single app config is present in the `apps.py`.

With that declaration, Django throws deprecation warnings like so:
[code]

### Describe the solution you'd like

Only define `default_app_config` for Django versions before 3.2.

[code]

### Additional context

See also

[2021-11-09 09:23] rik-dekker opened #7693 "Keyboard navigation breaks with links in paragraph in Chrome on MacOS"
### Describe the bug

If there is a link in a paragraph, text selection and navigation with keyboard starts behaving oddly in Chrome on MacOS. Doesn’t seem to affect Firefox). Examples:

- Double click doesn’t work for selecting a word
- CMD+ALT+ARROW KEY doesn’t work for navigating
- ALT+ARROW KEY doesn’t move the cursor past the link or skips to next paragraph

### Which terms did you search for

[2021-11-09 09:24] rik-dekker commented on #7693
I was unsure if this is a Wagtail or a Draftail issue, so I’ve submitted another bug report in the Draftail repo: https://github.com/springload/draftail/issues/451

[2021-11-09 23:03] gasman commented on #7690
If the steps to reproduce are indeed as @zerolab describes, then this is _arguably_ logically correct, and could happen anywhere that a page is published without going through the edit form (e.g. a moderator approving it from the dashboard or edit bird, and possibly also scheduled publishing). It arises because draft / submitted revisions are saved as JSON in wagtailcore_pagerevisions, where the s

[2021-11-10 13:07] jmichalicek opened #7700 "Wagtail 2.15: Image renditions for re-oriented images are scaled and cropped using un-oriented dimensions"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Renditions of images which need rotated by `willow.auto_orient()` are being created based on the dimensions of the unoriented image. For example an image from Android phone held in portrait creates the image with exif data stating the landscape dimensions and an orientation value of 6. So my phone says portrait photos are 4032x

[2021-11-10 16:03] #7681 closed

[2021-11-10 16:29] zerolab commented on #7700
Reference note: transforms added in #6843

[2021-11-10 18:25] gasman commented on #7690
It seems the bug is more basic than either of the above cases - it doesn't require inheritance, or having a draft previously saved before adding the required field:

Starting from a new project with home/models.py edited to:
[code]
run

    ./manage.py makemigrations
    ./manage.py migrate
    ./manage.py createsuperuser
    ./manage.py runserver

Log in, create a "My Page" as a child of the home

[2021-11-10 18:44] Piezoid commented on #5846
I got this error with `loaddata` on a non default sqlite3 database, freshly migrated from zero.

[2021-11-10 18:58] gasman commented on #7690
Even worse :-( If the specific page type _doesn't_ contain any required fields, then [this line](https://github.com/wagtail/wagtail/blob/33445188e76692419897cf3fd22dbbc64b029d90/wagtail/admin/views/pages/bulk_actions/publish.py#L37) causes it to save and publish a new revision derived from the basic `Page` object, meaning that all other fields are blanked. Looks like we're missing a `page.specific

[2021-11-10 19:04] zerolab commented on #7690
Ugh, great sleuthing @gasman. Was just testing the previous case.

One option would be to use the specific qs in https://github.com/wagtail/wagtail/blob/33445188e76692419897cf3fd22dbbc64b029d90/wagtail/admin/views/pages/bulk_actions/page_bulk_action.py#L16

[2021-11-10 22:21] tbrlpld commented on #7336
@gasman Do you have a preferred name for the LTS upgrade notification flag setting?

Or should that whole topic be covered in a separate PR?

[2021-11-10 22:29] #7688 closed

[2021-11-10 22:31] lb- commented on #7688
Fix coming in 2.15.1

[2021-11-11 04:06] jmichalicek commented on #7700
Just passing in `willow.image` at https://github.com/wagtail/wagtail/blob/main/wagtail/images/models.py#L475 didn't quite work. While it solved my immediate issue, other filters and operations were relying on that being an actual `wagtail.images.models.Image` model, not just any object with `width` and `height` properties.

I have created a draft pull request with a proposed fix where I have added

[2021-11-11 10:36] kunambi opened #7705 "Auto-collapsing StreamField blocks in the admin while editing a page"
### Is your proposal related to a problem?

My clients love the Wagtail CMS but are getting increasingly frustrated when editing their pages. The major complain is that it's very difficult to have an overview of all the StreamField blocks as their pages become more content-rich.

### Describe the solution you'd like

Previously we used [wagtail-react-streamfield](https://github.com/wagtail/wagtail

[2021-11-12 17:23] gasman commented on #7336
@tbrlpld A separate PR for the LTS handling makes sense, I think.

[2021-11-13 12:04] mortenthansen commented on #4083
Still no progress on this issue? I have the same problem in 2021 when using a DenyAll default permission for DRF.

[2021-11-15 16:31] Pomax opened #7710 "cross-link group policies and users, so you can edit one from the other"
### Describe the solution you'd like

It would be nice if you could edit a group from a user's "roles" tab on the user's edit page, and be able to see all users that are in a group from a group's edit page.

On the user page, linking the group names to their edit pages would probably more enough, for the groups it would probably make sense to add a "see all users in this group" on the group overvi

[2021-11-16 05:43] sighmon opened #7711 "Add a duplicate/copy button to inline panels"
### Is your proposal related to a problem?

Our staff is frustrated adding lots of culsterable/orderable inline panels with similar fields.

### Describe the solution you'd like

A Duplicate button, similar to the [StreamField Blocks](https://github.com/wagtail/wagtail/search?q=DuplicateButton) duplicate button, next to the `up`, `down`, and `delete` buttons.

![inline-panel-duplicate-button](http

[2021-11-16 12:10] fabienheureux opened #7712 "Duplicate streamfield block duplicates UUID"
### Issue Summary
I noticed streamfield's  blocks uuid can be not unique.

It can be an issue, in my case in a headless setup, I cache blocks based on their UUIDs.

### Steps to Reproduce
For example, let's consider a streamfield, containing a structblock, containing a streamblock.
Duplicating an instance of this structblock, with existing streamblocks, cause the nested streamblock UUIDs to remain

[2021-11-17 01:03] krisinvorce commented on #7449
Hi, I would love to work on this issue, could you assign it to me?

[2021-11-17 08:15] fabienheureux commented on #7712
To add to this, I tried to de bug a bit and I placed a console.log in this file: https://github.com/wagtail/wagtail/blob/main/client/src/components/StreamField/blocks/StreamBlock.js#L294
Just after line 294

It appears that the `id` of a block is removed when duplicating but not its nested block
[code]

[2021-11-17 09:18] fabienheureux commented on #7712
I tried to fix this @gasman but I am very new to StreamField JavaScript's architecture.
https://github.com/wagtail/wagtail/pull/7713/files

From my point of view, it seems to work (ids are properly removed, and then added server side).
However, I might lack some knowledge to know where exactly do this change.

Let me know if you are happy with these changes, I will cleanup the PR and write a few t

[2021-11-17 09:59] lb- commented on #7519
We need to work out if this broke in 2.15 or if it is something that has always been an issue.

See https://github.com/wagtail/wagtail/pull/7375#issuecomment-902905005

A refined way to initialise tab content was introduced in 2.15 that was meant to resolve the default height of text areas.

@onno-timmerman  - it is not super clear in your screenshot, is this a problem with StreamField text area o

[2021-11-17 11:14] thibaudcolas commented on #4445
I believe this would be [RFC 46](https://github.com/wagtail/rfcs/pull/46). I’ve made a draft attempt at implementing this (https://github.com/wagtail/wagtail/pull/7249), it worked well, just didn’t have the time to finish it.

[2021-11-17 14:29] tmsndrs opened #7714 "Warn users when they create a redirect for an existing page"
Currently the redirect just fails if a page exists with the url defined in the redirect.

[2021-11-17 16:10] minusf opened #7715 "comments icon overlap with field help text"
### Issue Summary

Just after the `1200px` breakpoint there is a small window where the higher `z-index` `object-help` eclipses the comment icon: (notice the non-clickable mouse cursor)

![comment-icon](https://user-images.githubusercontent.com/3632883/142236522-45199978-c9da-40dd-992d-1acd449dd534.png)

I am not sure about the solution but i think i would prefer the comment icon not to dance arou

[2021-11-17 18:19] brylie opened #7716 "AttributeError: 'User' object has no attribute 'first_name' with slim sidebar"
### Issue Summary

We have a [custom user model](https://github.com/WesternFriend/WF-website/blob/65d6a87c377cbdf6320c872b873fc3457f78bd98/accounts/models.py#L11) where we have removed the `first_name` and `last_name` attributes. When enabling the slim sidebar, we get the following traceback

[code]

### Steps to Reproduce

1. define a custom user model without the `first_name` or `last_name` fiel

[2021-11-17 20:38] #7325 closed

[2021-11-18 11:40] bmihelac commented on #6555
Same issue is present in wagtail 2.13

Proposed fix works, but `get_form_fields` should be added to `AbstractForm` subclass:

[code]

[2021-11-18 12:09] gasman commented on #7710
The second half of this exists already, as the "View users in this group" button in the top right of the group edit page - added in #5854.

[2021-11-18 17:47] Pomax commented on #7710
ah, yes so it does

[2021-11-19 12:03] m5seppal opened #7720 "PostgreSQL partial_match not working in PageChooserPanel and SnippetChooserPanel"
We just updated to Wagtail 2.15.1 and updated to use new database search backend. Previously we have used wagtail.contrib.postgres_search.backend and partial match has never worked us, thus we have actually overridden search for PageChooserPanel and SnippetChooserPanel with our own implementation to make the search usable without using Elasticsearch. In the newest 2.15.1 there is no mention that p

[2021-11-22 08:43] quinox commented on #6746
I'm not saying this should or shouldn't be changed, just adding my 2 cents: I'm running into a similar problem, I can work around it but it feels a bit wrong.

My scenario: when running `python manage.py makemigrations` I normally switch to the Dummy database: this prevents issues under certain conditions in my setup, and `makemigrations` is completely database-independent so it shouldn't matter.

[2021-11-22 09:03] aliceni81 opened #7722 "Silenced System Checks for "search_fields contains non-existent field""
I set many-to-many relationship fields as index.FilterField in search_fields of the Page.
Whenever I start to run the program, the warnings "**search_fields contains non-existent field**" will display.
![image](https://user-images.githubusercontent.com/81170508/142832607-dece4658-aa15-438b-b596-f0aaca4aacf2.png)

Is there any solution to this problem?

[2021-11-22 09:23] gasman commented on #7722
This means that the `search_fields` definition contains a name that does not correspond to an actual field. This may be because the field has been removed, or there's a typo in the name - you should remove the entry or fix the mistake as appropriate.

If you think the message is appearing when it shouldn't be, please open a new issue giving steps to reproduce the problem.

[2021-11-22 09:23] #7722 closed

[2021-11-22 20:52] vsalvino opened #7724 "Wagtail Brand Font"
The issue of font choice recently came up in https://github.com/wagtail/sphinx_wagtail_theme/issues/120

@allcaps mentioned in a discussion on slack about Wagtail finding a font for use in docs, and elsewhere, that is distinctly Wagtail. Generally speaking I think providing reusable resources of any kind is a net positive for helping strengthen the Wagtail ecosystem.

Currently there is a mix on f

[2021-11-23 08:31] ACMCMC opened #7725 "Search fails on MySQL with missing `invert` attribute"
### Issue Summary

When doing a three-word (or more) search query, such as:

[code]

It errors with `AttributeError: 'CombinedLexeme' object has no attribute 'invert'`.

Originally reported by @cnk on #7719.

### Steps to Reproduce

1. In the `wagtail.search.tests.test_backends.BackendTests.test_search_and_operator` method, change the search query to `"JavaScript Definitive Guide"` instead of `"Ja

[2021-11-23 08:35] ACMCMC commented on #7725
I have found the solution. I will submit a PR solving the issue and reference it.

[2021-11-23 09:12] ACMCMC opened #7727 "Wrong SQL syntax generated on multiword MySQL search queries"
### Issue Summary

When doing a three-word (or more) search query, such as:

[code]

It errors with `django.db.utils.ProgrammingError: (1064, "syntax error, unexpected '+'")`.

This is caused by the query getting translated to `'++W1 +W2 +W3'`.

This issue appears when #7725 is solved. Found by the report of @cnk on #7719.

### Steps to Reproduce

1. In the wagtail.search.tests.test_backends.Backe

[2021-11-23 09:13] ACMCMC commented on #7727
I will submit a PR with the solution soon 🥰

[2021-11-23 10:06] bitwise-gmbh commented on #1336
Could you explain, how StreamField block can now be collapsed since the implementation in 2.13?

[2021-11-23 10:22] gasman commented on #1336
@bitwise-gmbh That isn't implemented yet - there's a separate ticket for that at #7705.

[2021-11-23 10:34] bitwise-gmbh commented on #7705
I get the very same feedback. People love putting together content using StreamField but get overwhelmed by the confusing amount of visible editing fields.

A solution would be highly appreciated.

Thank you for your great work on Wagtail!