[2018-08-08 15:00] balazs-endresz commented on #4724
Thanks for the tips but hooks wouldn't be quite ideal in my case either. And while the example I gave alone might not warrant any changes to wagtail but calling methods from `.specific` consistently would be nice in general. (Especially since as you pointed out that e.g. `copy()` is called after `.specific` at some other place already.)

[2018-08-08 15:12] Meteor0id commented on #2943
Adjusting the editor interface colorscheme is definetly a missing feature. What I am hoping to see is a simple way to modify this just like we have for replacing the wagtail logo.
Using admin templates.

[https://docs.wagtail.io/en/v2.1.2/advanced_topics/customisation/admin_templates.html](https://docs.wagtail.io/en/v2.1.2/advanced_topics/customisation/admin_templates.html)

[2018-08-08 16:46] axper commented on #3863
@Pomax Can you please tell more details on how you solved this issue? I'm getting the same kind of stack trace here.

[2018-08-08 23:08] Pomax commented on #3863
it really was a matter of having both a dev and prod instance that both needed to run v2 rather than having one set to v2, and the other to v1, with migrations that belonged to v1 being used with the v2 instance. The solution was to first upgrade the v1 instance to v2, making sure to fix migrations so they pointed to the new app names instead of the old app names.

[2018-08-09 21:41] loicteixeira commented on #4650
I would like to work on this in September if nobody has had a go at it by then.

However some aspect of the RFC are still vague and I would like to discuss them.

**1. Immutability (of revisions and revision events):**

Are we talking immutability in principle (i.e. the model is mutable but we don't mutate it) or enforced immutability (i.e. it isn't possible to mutate the model via the ORM)?

The

[2018-08-09 22:52] coredumperror commented on #4473
Did any of this ever end up getting implemented? I would LOVE to have a StreamField UI that looks like this for the new feature I'm building.

If not this feature in particular, does anything else provide something similar for Wagtail 2.x? I'd use Wagtail ClearStream, but that hasn't ben updated in over a year, so I'm guessing it's not 2.x compatible.

[2018-08-10 11:40] BertrandBordage commented on #4473
@coredumperror Yes, I’m developing it since May :)
The corresponding pull request will arrive next week.

[2018-08-10 15:27] loicteixeira commented on #4698
Thanks for the report @allcaps. Fix merged in aac33358834ce77e221b0b26db1af36898a7e9c8.

[2018-08-10 15:27] #4698 closed

[2018-08-10 16:46] axper commented on #3863
Upgrading to latest Wagtail 2.2 version fixed this for me.

[2018-08-12 08:59] robslotboom opened #4729 "AppRegistryNotReady("Apps aren't loaded yet.")"
### After updating wagtail from 2.1 to 2.2 I get an AppRegistryNotReady error when migrating.

Removing **from .sitemap_generator import Sitemap**
from **wagtail/contrib/sitemaps/__init__.py**
fixed the problem.

Maybe it has something to do with the User model; I use a custom one.

[2018-08-13 14:18] gasman commented on #4729
Hi @robslotboom,
I think this is because you have `wagtail.contrib.sitemaps` in INSTALLED_APPS - this hasn't been required since Wagtail 1.10. However, there was never a release note to explicitly tell people to remove it, so I think it's appropriate for us to fix this so that `wagtail.contrib.sitemaps` in INSTALLED_APPS doesn't break... I'll work on a fix now.

[2018-08-13 14:32] robslotboom commented on #4729
Hi @gasman,

Does this mean I can remove wagtail.contrib.sitemaps from INSTALLED_APPS?

[2018-08-13 14:35] gasman commented on #4729
@robslotboom Yes, you can. (You may need to add `'django.contrib.sitemaps'` if it's not there already, though.)

[2018-08-13 14:36] robslotboom commented on #4729
Hi @gasman,

Thanks.

[2018-08-13 15:30] #4729 closed

[2018-08-13 15:37] robslotboom commented on #4729
Hi @gasman,

Removing wagtail.contrib.sitemaps from INSTALLED_APPS is indeed solving this for the time being.

[2018-08-14 10:29] k0nG commented on #4519
Thanks @lb- this issue and your docs above were really helpful to me.

Just one note on the syntax, when I was using this on my `ModelAdmin` I have to first instantiate the class before I can access `url_helper`. So your first example would become:

[code]

I hope that helps.

[2018-08-14 14:55] Meteor0id commented on #2943
I wouldn't worry with the gray just yet. For now let's focus on a way to let the user replace all instances of only the primairy and secondary color:

all occurences of:
#358c8b;
#43b1b0;

What I am not usre about is how we could give the user an easy way to define these. They are currently hardcoded all over the place. They could probably simply be replaced by a variable, but the user will need a

[2018-08-14 15:49] Meteor0id commented on #2353
I see @inyoka had the same idea I had. I noticed this issue report after writing the pull request.
If it does getmerged, you should soon be able to overwrite that wagtail branding logo with an image as well, just like you would with the branding_logo in other places on wagtail admin.

if it gets merged, you can create a file `dashboard/templates/wagtailadmin/userbar/base.html`:
[code]

[2018-08-14 16:32] gasman opened #4732 "FieldComparison.field_label should pick up labels from InlinePanel"
For ParentalKey relations (which don't have a `verbose_name` property), FieldComparison creates a verbose_name from the field name:

https://github.com/wagtail/wagtail/blob/7ad79c9a4a7ec89a7d353db442268f24d08064c6/wagtail/admin/compare.py#L26-L28

This isn't ideal, particularly when `related_query_name` has been set on the relation - see https://github.com/wagtail/wagtail/pull/4579#issuecomment-41

[2018-08-15 03:44] linxuanmax commented on #2893
@BertrandBordage There is something in the code that I don't understand, Please give me a tip,
 what's the " self.attr " in "class BaseReadOnlyPanel"  about func  "def render", looking forward to your reply!

[2018-08-15 10:48] jorenham opened #4733 "manage.py update_index gives stacktrace with elasticsearch"
When I run `manage.py update_index` I get the following error. I am able to use the search correctly  (it gives no results of course).

[code]

* Python version: 3.5.
* Django version: 1.11.
* Wagtail version: 1.13.4
* Elasticsearch version: 5.6.10

Am I missing something?

[2018-08-15 10:54] BertrandBordage commented on #2893
@linxuanmax `self.attr` is the name you passed in `ReadOnlyPanel`, i.e. `get_parent` in my example.

[2018-08-15 11:25] gasman commented on #4733
Hi @jorenham - thanks for the report.
Could you try commenting out `search_fields` definitions on your page models, to see if there's a particular one causing the issue?

[2018-08-15 11:37] jorenham commented on #4733
I found the culprit, a typo of the field name within `SearchField`.

[2018-08-15 11:55] kaedroho commented on #4733
This should definitely give a better error. We should add a system check so the field names are checked when running any management command.

[2018-08-15 11:56] gasman commented on #4733
There is a check - not sure why it didn't show up in this case:
https://github.com/wagtail/wagtail/commit/1dad100695060435b597545cd61c3ee420afee9f

(@jorenham, do you have anything in your settings that would cause warnings to be hidden...?)

[2018-08-15 11:56] jorenham commented on #4733
@gasman No nothing specific

[2018-08-15 13:18] Meteor0id commented on #2353
Note that I have not yet provided a way of customizing the background color (that bluish glow effect around the button). There is however another issue open discussing ways to customize wagtails color scheme. The background color for the userbar should be part of that.

The shape of the userbar button can also quite easily be manipulated in css / scss. However there first needs to be a consensus o

[2018-08-15 13:20] Meteor0id commented on #4694
Geweldig idea.

[2018-08-15 13:43] roelio commented on #4473
Hi @BertrandBordage
Will the backend part be backward compatible, because we want to create a solution that helps with migrating data on structure changes in a streamfield, or should we wait for this update?

[2018-08-15 15:25] Meteor0id opened #4734 "custom information block per model in the editors interface"
Customizable templates for the editor interface, one for each page model.

Say I set up a website for a small news agency. The news agency wants authors(editors) who are new to the organisation to follow the guidelines on how to write a proper article for their website. It would be helpful to them if they could place some text in the admin interface for a certain page model (Article) in which they

[2018-08-15 15:33] gasman commented on #4734
Hi @Meteor0id,
Wouldn't `HelpPanel` achieve what you want? https://github.com/wagtail/wagtail/pull/4374

[2018-08-15 15:34] gasman commented on #2335
Implemented in #4374

[2018-08-15 15:34] #2335 closed

[2018-08-15 16:33] Meteor0id commented on #4734
I see HelpPanel is defined in the docs, but no explanation is included of what it does. In the changelog of wagtail 2.1 I find one sentence hinting what I does.
I will try it out when I get around to it, quite possbily this does achive what I want, I hand't tried that panel type yet.

(will let know in a month or so)

[2018-08-15 16:39] tomdyson commented on #4734
The linked PR includes screenshots demonstrating HelpPanel in use:

https://github.com/wagtail/wagtail/pull/4374

There's also a good video tutorial on making the most of help text here:

https://www.youtube.com/watch?v=ciYNMcv3lE0

[2018-08-15 17:47] jorenham commented on #4733
@gasman The typo was `desciption`, so nothing strange.
But apparently I have just missed the warning completely, as my server is configured to ignore all warnings :sweat_smile:.

[2018-08-15 17:49] gasman commented on #4733
Ah, OK - mystery solved then :-)

[2018-08-15 17:49] #4733 closed

[2018-08-16 09:47] shimulch opened #4735 "Field 'file_hash' doesn't have a default value"
### Issue Summary

New file_hash field in wagtailimages Image model having issue with mysql database (v5.7) when uploading images through wagtail admin.

### Steps to Reproduce

1) Install following version described in Technical Details
2) Try to upload an image.

After looking into wagtail source it seems like, this issue lies in field definition

[code]
Possibly MySQL strict mode is throwing er

[2018-08-16 10:09] gasman commented on #3863
Fixed in #4648

[2018-08-16 10:09] #3863 closed

[2018-08-16 10:28] gasman commented on #4711
Hi @einsfr - thanks for the report!

This has been fixed in Wagtail 2.2 - we now pass `parent_page_id` to the JS within a JSON dict, rather than inlining it with a template tag. 61a04dfb5e73781d162d778aa5f79a3176db7f26

[2018-08-16 10:28] #4711 closed

[2018-08-16 14:04] BertrandBordage commented on #4473
Hi @roelio,
Some parts of the backend code are modified, but the database structure stays exactly the same.
Does that answer your question?

[2018-08-16 14:14] gasman commented on #4735
Hi @shimulch - thanks for the report.

The `file_hash` field does not exist on Image in Wagtail 2.1.3 - it was added in 2.2. Is it possible that you're running Wagtail 2.1.3 against a database that was created for Wagtail 2.2? This would explain the error you're seeing (since Django would normally supply a default value for the field, but doesn't know about the existence of `file_hash` here).

[2018-08-16 14:14] roelio commented on #4473
@BertrandBordage Yes it does!
Thanks for your response and looking forward to the new UI for Streamfields it will make wagtail even sweeter :smile:

[2018-08-16 16:50] Meteor0id commented on #2353
I disagree with @alexgleason. It does make sense to implement. Some users might want to provide their icon or logo as an image, not as a font. Using the same methos as for the branding_logo on the admin page makes perfect sense.

Provided PR introduces that option, and the option to easily use a font, and the documentation on how to do so. Just waiting for it to get reviewd.

[2018-08-16 17:02] shimulch commented on #4735
@gasman You were right. Somehow our pipenv lock file were changed. Which led to different version of wagtail when migrating between servers.

Sorry for not checking out that. Anyway, we love wagtail.

[2018-08-16 17:25] #4735 closed

[2018-08-17 10:49] m1kola opened #4738 "Image upload fails with django-storage backends on Wagtail 2.2"
### Issue Summary

Image upload fails with `django-storage` backends on Wagtail 2.2. I can reproduce it with Google Cloud Storage backend, but there was also at least one report in Slack about the issues with Azure Storage.

I suspect projects that use other storage backends that expect file to be rewinded to the beginning before uploading it will also have issues.

It seems that the issue was int

[2018-08-17 16:01] m1kola commented on #4738
Should be fixed in #4739

I also proposed changed in django-storages for Google Cloud backend: https://github.com/jschneier/django-storages/pull/561

[2018-08-18 16:52] Meteor0id opened #4740 "More control over ordering of child pages (lock order or order based on different rule)"
I ordered a couple of pages to the position I like them to be in. Than I decided some of the page titles could be phrased better, so I modified some titles.
Unfortunatly, by modifying the title of a page, the ordering I just did is overwritten, and the last edited page is placed at the top after each edit.

In many cases this might be desired behavior, but in some it is not, and means I have to ma

[2018-08-20 02:53] BertrandBordage commented on #4473
Great news everyone!
You can test the new StreamField right now!
See what it looks like in these demo videos:
https://youtu.be/OyPCdqBO4y0
https://youtu.be/ZLIwkfZtTno

Please install [wagtail-react-streamfield](https://github.com/noripyt/wagtail-react-streamfield), it’s a super-easy two-steps setup. You can also check out [react-streamfield](https://github.com/noripyt/react-streamfield), which is

[2018-08-20 07:50] m1kola commented on #4738
PR for Azure Storage backend in django-storages: https://github.com/jschneier/django-storages/pull/562

[2018-08-20 11:09] Bachstelze opened #4742 "Feature request: Language Tool integration"
I want to integrate https://github.com/languagetool-org/languagetool a style and grammar checker into the frontend editor like in the demo https://languagetool.org . Have there been dicussions about the integration of such a service?
If not i would welcome some hints for the architecture design of the integration to fit well with the new editor and future development of it.

[2018-08-20 11:54] Bachstelze commented on #4742
A good starting point would be:
https://github.com/vixdigital/wagtail-plugin-base

[2018-08-20 14:49] ollywillans commented on #4473
This is great, Bertrand, congrats!

Were you indicating in the demo that there's currently no way of seeing
where required content is missing in a contracted streamfield block? Is
this something we need to design?

I'm keen to input (in Ben's absence, he's on holiday for a couple of weeks)
into the design tweaks. How do you want feedback and do you have a list of
stuff left to do so I don't talk a

[2018-08-20 14:55] BertrandBordage commented on #4473
@ollywillans It’s planned, the idea is to automatically open the blocks containing errors and highlight the whole block with a light red color.

[2018-08-20 20:39] coredumperror commented on #4473
I'm curious: have you tested this new code against a StreamField that has a complex block hierarchy? My site's main page StreamField has blocks that can have multiple different subblocks, each of which can have multiple different subblocks of their own. The current StreamField code is really, really bad at rendering the edit form (80+ seconds to render when template caching is disabled, which is p

[2018-08-20 21:50] BertrandBordage commented on #4473
@coredumperror I tested again complex block hierarchy, but obviously to a limit. I never faced an edit page taking more than 10 seconds to load, so your case seems to be pretty extreme. I would be interested to learn more about the specific needs requiring that many blocks in a single page.

For now, some of the template rendering from the current StreamField implementation is kept in the new Stre

[2018-08-20 22:52] roelio commented on #4473
While trying the new stream field UI I encountered problems with the following model:
[code]
- When trying to add blockA I get an error in console: `wagtail-react-streamfield.js:1 Uncaught TypeError: Cannot read property 'subBlockA' of undefined`  (It seems to happen at https://github.com/noripyt/react-streamfield/blob/master/src/BlockContent.js#L117 because the `childBlocksByType` is empty)
- Add

[2018-08-21 09:49] gasman commented on #4717
Hi @vl4dt,
What version of the Elasticsearch server and client library are you running? (Find the server version by visiting http://localhost:9200/ ; find the client library version by running `pip show elasticsearch`)

[2018-08-21 11:37] BertrandBordage commented on #4473
@roelio: Hum, weird, I’ll have to make a test for a use case like this and fix it. In theory it should work, so it appears to be a bug. Could you please open an issue on wagtail-react-streamfield?

[2018-08-21 14:10] #4738 closed

[2018-08-21 16:17] #4616 closed

[2018-08-21 18:20] rasca commented on #2840
I need wagtail and allauth as well. Have you found any workarounds?

[2018-08-21 18:34] kakulukia commented on #2840
We postponed the feature. I’d didn’t have the time to look into the issue.

[2018-08-22 11:02] #4584 closed

[2018-08-22 11:53] tmsndrs opened #4744 "Menu crops content at an odd place."
The left hand menu crops menu content at an odd position. This is causing a usability issue where admin/editors aren't always aware of all of the menu items and the ability to scroll.

<img width="176" alt="screen shot 2018-08-22 at 12 26 49" src="https://user-images.githubusercontent.com/7290588/44460923-dba77700-a606-11e8-9525-75fd4323fe73.png">

This is due to nav-main element having a seemingl

[2018-08-22 12:01] ChristophTrappe commented on #4660
+1 I'm facing the same problem. Is there a fix available for this issue?

[2018-08-23 13:42] thibaudcolas commented on #4660
@ChristophTrappe not that I'm aware of. Fixing this requires updating some of Wagtail's client-side code that is compiled for releases, so I wouldn't expect anyone to attempt patching over Wagtail's internals for this.

If you or anyone else wants to attempt to fix this bug, here are the steps I think it would take:

- Check if the API endpoint used by the explorer menu (`/admin/api/v2beta/pages/?

[2018-08-23 13:46] thibaudcolas commented on #4658
If anyone wants to work on this on the dev-side (assuming we've decided it is a desirable addition), a good first step would be to fix #4660. For this button to work as intended, we would need to add "can the user add child pages" permission info to the API that powers this menu, similarly to what is needed for #4660.

[2018-08-24 09:18] martmatwarne opened #4748 "Conflicting CurrentSiteMiddleware and SiteMiddleware"
I'm trying to develop a multisite website that also uses Wagtail. Using the '[django.contrib.sites.middleware.CurrentSiteMiddleware](https://docs.djangoproject.com/en/2.1/ref/contrib/sites/#site-middleware)' doesn't work because it appears to conflict with wagtail.core.middleware.SiteMiddleware as they both set request.site either to the standard django Site model or the Wagtail Site model respect

[2018-08-24 10:54] gasman commented on #4748
Thanks for the report @martmatwarne! There's a plan to eliminate Wagtail's `request.site` variable outlined here: https://github.com/wagtail/wagtail/issues/3834#issuecomment-340009510 - it probably makes sense to have some documentation of this in the meantime if this doesn't get implemented in the near future, though.

[2018-08-24 14:12] thibaudcolas commented on #4744
I think this is addressed by #4746.

I've tried to refactor the menu's styles many times (while working on the explorer menu's new version, and later on) and agree that they should be redone from the ground up. It looks just fine for a Wagtail site that's just been created, but breaks down as soon as the menu has too much content, or the screen has too little space. It also feels weird on mobile t

[2018-08-24 14:19] thibaudcolas commented on #2353
In my opinion, it would be better if `branding_logo` was replaced with a setting that only allows providing the logo as an image's URL/path rather than customising the HTML (and potentially CSS).

Then, it will be possible to:

- Only set the custom logo once for all of the places where logos are used (admin menu, userbar, 404 page)
- Always render logos as square, reducing the risk for issues lik

[2018-08-24 22:05] gasman commented on #4256
Completed in #4362.

[2018-08-24 22:05] #4256 closed

[2018-08-25 19:15] dpetrov opened #4750 "empty RichText fields renders as <p></p>"
### Issue Summary

An empty RichText fields on my models are rendering as `<p></p>` the first time they are saved. If I edit the page again and save it, it renders fine (as empty element).

### Steps to Reproduce

1. `wagtail start myproject`
2. Edit models.py as follows

[code]

3. Add a new page and add title only and render the field as:

[code]

* I have confirmed that this issue can be reprod

[2018-08-26 01:32] twoblokeswithapostie commented on #4750
You need to add richtext filter to your {{ self.body }} tag. Like this {{ self.body|richtext }}. I believe it's located in wagtailcore_tags, but I'd need to check.

[2018-08-26 08:54] dpetrov commented on #4750
@twoblokeswithapostie that will just render it as HTML, but still will be empty. So I have currently:

[code]

which evaluates to true

[2018-08-26 09:26] gasman commented on #4750
Hi @dpetrov - thanks for the report! I think this is covered by #4549.

[2018-08-26 09:26] #4750 closed

[2018-08-26 09:29] dpetrov commented on #4750
It does indeed, I've missed it somehow. Thanks for pointing it out.

[2018-08-26 17:48] Meteor0id commented on #4744
Yes, that is exactly what I addressed in my PR #4746. Please pull?

[2018-08-26 21:07] BertrandBordage commented on #4473
@coredumperror Please test with the latest version of wagtail-react-streamfield. It contains very little template rendering (except when using `ChooserBlock`s everywhere) so it’s way faster to load. I just tested with 100 `RichTextBlock`, it takes 1 s to load vs 5 s for the current Wagtail StreamField.

[2018-08-27 11:49] daredevil82 opened #4752 "Master README.md not accurate regarding django version support"
The current [README on master](https://github.com/wagtail/wagtail/blob/6604cdfdaebff52b5c2446136e8ebc66412cee28/README.md) is not accurate as far as django versions supported from the release available on pypi.  Specifically, [`pip install wagtail`](https://pypi.org/project/wagtail/) installs v 2.2.1, which is _not_ compatible with django 2.1.x.

This is a significant issue for incoming users to w

[2018-08-27 18:32] coredumperror commented on #4473
Sounds awesome! I'll give it a shot as soon as I can get a free moment.

[2018-08-27 21:47] arthurio opened #4753 "Make the name of the Site settings configurable in the templates' context."
### Issue Summary

As mentioned in the [Site settings docs](https://docs.wagtail.io/en/v2.2.1/reference/contrib/settings.html#using-the-settings), it's possible to use `{{ settings }}` (or `{{ settings(...) }}` for jinja2). However, in our case, we already use `settings` in our context to access the django settings. I know we can do all sorts of workaround to make it work in our case, but I think

[2018-08-27 22:31] dprothero commented on #4650
*At least* in principle. I've only been hacking on Django for a couple years and have never needed to enforce immutability, so I can't speak to how feasible it would be.

No, I would not envision that. The expandability is purely additive. The events/states managed within the Wagtail core would not be something that could be changed.

So, while not (theoretically) possible for built-in, this certa

[2018-08-28 15:52] gasman commented on #4753
Hi @arthurio,
Thanks for the suggestion! Rather than having a setting for this, could we perhaps update the tag to support the syntax `{% get_settings as mycustomvariable %}`? I think that would be more consistent with how other custom tags work.

We aren't accepting new features on the 1.13.x branch, I'm afraid - it would have to be based on master.

[2018-08-28 16:33] gasman commented on #2353
Given that the default Wagtail logo has custom JS behaviour of its own, it seems a bit unfair to deny that option to custom logos...

I think it would make sense to offer both options: have a setting for an image URL which overrides the Wagtail logo if specified, but keep them in `branding_logo` blocks that can be overridden for fancier customisations. Of course, at that point it becomes more acce

[2018-08-29 16:52] ddiazpinto commented on #2048
In my opinion, the best approach is to have an specific field for each **structural block type**:
 - ```StructField``` for ```StructBlock```
 - ```ListField``` for ```ListBlock```
 - ```StreamField``` for ```StreamBlock```

Regarding to the wagtail admin views:
 - ```StructField``` wouldn't need to include a "new" button, just render the block form.
 - ```ListField``` wouldn't need to show the *st

[2018-08-29 18:08] alexgleason commented on #4306
@coredumperror's workaround fixed it for me. Just pass `required=False` into the StreamBlock. Thank you!

I see this is tagged `some-day`. If this is a complicated issue to fix, I think noting the issue in the docs might be worth it. There's a StackOverflow question about it which points to the docs, which aren't correct: https://stackoverflow.com/questions/47336893/how-can-i-make-a-wagtail-stream

[2018-08-29 18:51] vgpena commented on #1836
+1 on this, I think I'll be adding https://github.com/cfpb/wagtail-sharing to provide this functionality, but would be lovely to have Previews available for logged-in users via a direct link.

[2018-08-29 20:14] tomdyson commented on #1836
Draft versions are available to logged-in users via a direct link. The URL format is

/admin/pages/{{Page ID}}/view_draft/

and it's accessible from the explorer, for pages that have draft states (i.e. they have unpublished changes). Perhaps it should be more obvious?

![screenshot 2018-08-29 21 11 13](https://user-images.githubusercontent.com/15543/44812866-44c35780-abd0-11e8-92b2-1af42193fa12.pn

[2018-08-29 21:26] vgpena commented on #1836
Thanks @tomdyson! I juuust realized that the Draft link is readily available on the parent page -- I think editors are hitting Save Draft and then Preview right on the page they're editing.

![captura de pantalla 2018-08-29 a la s 2 22 21 p m](https://user-images.githubusercontent.com/1166226/44816418-17a68300-ab97-11e8-897a-d70014765bc3.png)

I think another link on the page that links out to the

[2018-08-29 21:44] Benoss commented on #2048
This would be an awesome feature to have for the upcoming LTS :)

[2018-08-30 01:46] arthurio commented on #4273
I believe this is a known Django bug and not a wagtail one. This bug has been opened for 9 years (https://code.djangoproject.com/ticket/11154) but some non agreed upon workarounds exist, see this [gist](https://gist.github.com/magopian/7543724), referenced from [stackoverflow](https://stackoverflow.com/questions/15037642/django-proxy-model-permissions-do-not-appear).

[2018-08-30 19:42] coredumperror commented on #4473
Finally got a chance to try this out, and WOW, it is nice! I absolutely adore the improved UI, and the performance is significantly better.

Our really complex StreamField-based page, FlexPage, takes about 75 seconds to load when `DEBUG = True` and template caching is disabled (our default development settings). But react-streamfield under the same settings takes only about 45 seconds! Still not g

[2018-08-30 20:05] BertrandBordage commented on #4473
@coredumperror Good to see it works great on your extreme configuration :) The performance will be even better in the upcoming version thanks to an optimisation of `ChooserPanel`s.

Please open issues on the [wagtail-react-streamfield](https://github.com/noripyt/wagtail-react-streamfield) repository until it is merged into Wagtail.

1. The confirm dialog was partially fixed in 0.8.4, but I saw ano

[2018-08-31 01:12] Adrian-Turjak commented on #4473
@BertrandBordage

Is there any way around this? We use the richtext field quite a bit and it would be really useful to see the first few words/characters from a richtext field visible as the title (with a faded css trail off or ellipses).

The bugs I reported (and some minor style gripes) aside I'm very happy with the new streamfield you are working on! A huge improvement! Can't wait to see the fi

[2018-08-31 10:38] MarkJRB opened #4757 "AttributeError when linking to Root"
### Issue Summary

When adding a link to a rich text field and setting the link to the root page, the edit page in the wagtail admin containing that rich text field is no longer accessible, instead giving an AttributeError.

### Steps to Reproduce

1. Start a new project with `wagtail start test`
2. Edit models.py as follows:
[code]
3. Edit the default page in the admin, and click the "Link" butto

[2018-08-31 19:46] BertrandBordage commented on #4473
@Adrian-Turjak No way around this for now. I’ll have to find out a solution in coordination with @thibaudcolas.

[2018-09-01 07:51] brylie opened #4758 "How to allow user to select OR create related entity?"
The Django admin allows a user to either select OR create a related entity, via the inline form/modal. Wagtail seems to also have both form elements for selecting or creating related entities, but the docs only show those elements in isolation.

How can we have an inline relationship page element to allow users to either select an existing entity or create a new one?

[2018-09-01 14:34] dentemm commented on #2087
Thanks @paolodina , used your technique as well!

[2018-09-03 14:01] Meteor0id opened #4759 "Creating and deleting models can lead to a broken tree in the database"
### Issue Summary

On my development server I see my site has records which don't match up. It first occured after deleting a number of pages in Wagtail, thus it is likely a bug within Wagtail.

Looking at the table "wagtailcore_page" , the table does NOT match what is shown in wagtail.

In the attachment, notice that "digitale rechten" is a child of "achtergrond & verdieping", yet numchild indica

[2018-09-03 14:07] Meteor0id commented on #4759
![migrations leading up to wagtail bug](https://user-images.githubusercontent.com/34976212/44991146-828afc00-af93-11e8-9b7d-432b523e15f9.PNG)

[2018-09-03 14:10] Meteor0id commented on #4759
![error can be pathed using fixtree](https://user-images.githubusercontent.com/34976212/44991286-e01f4880-af93-11e8-9a06-55ee40058cd4.PNG)

[2018-09-03 14:15] tomdyson commented on #4759
The requirement to reproduce the issue on a fresh Wagtail project isn't about severity, it's about our ability to fix it. If you can't reproduce it, it's very hard for us to help.

[2018-09-03 14:50] rberrima commented on #3527
Hello, do we know the status on the request for an auto save functionality in Wagtail?

[2018-09-03 17:11] peterb154 commented on #1824
I ran into the same issue where the table wagtailsearch_editorspick did not live in my database but was defined as a model. So when I ran `manage.py flush`, I hit the same error

Looking at the output of `./manage.py sqlflush` you can see the SQL statement that django tries to run.(note that I have wagtail integrated with another application called css_portal).

When I execute that command in the

[2018-09-03 19:55] Meteor0id commented on #4759
By no, I emant I have not tried it yet, because I just havent had the time. I could just write the issue report in a month or so, but by than I would have forgotten de details.
Better to write this up right away, and come back to it when I have time to do more testing, or when someone else encounteres the same issue.

[2018-09-03 20:54] BertrandBordage commented on #3527
@tomdyson It’s on the 2017-2018 roadmap we created last year ;) https://github.com/wagtail/wagtail/projects/2
We should probably rename it to 2018-2019 Roadmap :s

[2018-09-03 20:55] tomdyson commented on #3527
Whoops, sorry!

[2018-09-04 08:29] rberrima commented on #3527
Thanks a lot guys!

[2018-09-04 11:56] #3700 closed

[2018-09-04 12:27] olopost opened #4760 "Link to UNC path not working"
### Issue Summary
Insert a external link in the RichTextField with url like UNC Path [(UNC Path link to Mozilla)](http://kb.mozillazine.org/Links_to_local_pages_don%27t_work) doesn't work with error message Enter à valid URL

UNC path can be useful for internal enterprise KB

### Steps to Reproduce

1. Edit a page in admin interface
2. Add RichTextField
3. Clic on add a link
4. Select external lin

[2018-09-04 14:10] mdamien opened #4762 "Wagtail website broken link for "Static site generation""
### Issue Summary

In the [page about the features](https://wagtail.io/features/), the link to the docs about "Static site generation" is broken.

### Steps to Reproduce

1. Go to https://wagtail.io/features/
2. Scroll to the "Static site generation" section
3. Click on the "full guide here" link (http://docs.wagtail.io/en/latest/reference/contrib/staticsitegen.html)

* I have confirmed that this

[2018-09-04 15:06] kaedroho opened #4763 "Add "Auto-Submitted: auto-generated" header to outgoing notification emails"
Often the email address that Wagtail uses for outgoing notification emails is also a monitored mailbox. If Wagtail sends an email to a user that is on holiday, their email server may send an automated "out of office" response to that mailbox which is useless and could get annoying if there are many Wagtail users.

According to RFC 3834, setting the "Auto-Submitted" header to "auto-generated" shoul

[2018-09-04 16:30] tomdyson commented on #4762
I've updated the Wagtail-bakery link too:

https://github.com/wagtail/wagtail-bakery

[2018-09-04 16:30] gasman commented on #4760
Thanks @olopost! I think it's appropriate for Wagtail to not accept `file:///` URLs by default (because in normal circumstances a `file:///` URL appearing on a web page would be a mistake or even malicious) but it would be good for Wagtail to allow developers to customise this behaviour.

[2018-09-04 22:42] Meteor0id opened #4764 "Feature request: a Category class, similar in many ways to the Page class, but without rendering a view and without a url_path"
Some things can only be achieved using the Page class at this time. But sometimes one might which to cherry pick some functionality the Page class has, while leaving other functionality behind.

For example one thing I would like to have are categories. There are Pages which have no URL_path to visit, do not render, and have no editable content other than the title, but which are part of the pages

[2018-09-04 23:11] Meteor0id opened #4766 "Feature Request: Annotations to drafts"
I don't see this a lot in CMS world, yet it is quite a fundamental tool in content managment.

I find myself empowered to do a whole lot of work at my desk, in a CMS. I can look at drafts, delete them, edit them, publish them, sceduale to publish something.. but what I cant do in most CMS, and also not in Wagtail, is simply discuss the content before it goes live. I find myself walking over to som

[2018-09-04 23:15] zerolab commented on #4764
I think https://posts-by.lb.ee/building-a-configurable-taxonomy-in-wagtail-django-94ca1080fb28 describes what you are looking for, achieved with Treebeard's MP_Node and ModelAdmin rather than Page models

[2018-09-05 00:17] Meteor0id commented on #4764
I am hoping a class for this can be added to Wagtail natively (in the future). Glad to see this stackoverflow question, suggesting I am not the first to look for something like this.

@zerolab I was pointed to that same article by its author earlier today. It is certainly an approach to what I am requesting here, but it is still missing the same ease of ordering in Wagtails interface like I would

[2018-09-05 09:04] khink commented on #542
In addition, i'd like to add somebody outside our organization (preferably from the core team) as maintainer on PyPI.

[2018-09-05 12:42] Meteor0id commented on #3804
@thibaudcolas mentions "Too much nesting" as one of the root causes. I like to add this is not just nesting in CSS, it also stems from nesting of tempalte tags and extending templates.

For example:
When editing a page, the header wraps aroudn the entire top portion of the page, like one might expect.
Yet when listing sub pages, a different template is used to generate the page, and the top portio

[2018-09-05 12:47] Meteor0id commented on #3804
I forgot to meantion:
Too much use of Javascript! Things like toggeling .account can be done with a display:none checkbox and some simple CSS. This does not require javascript to toggle.

[2018-09-05 16:56] Meteor0id commented on #4764
A category class would be quite similar to why there is a root note. To quote Gasman on that:

That's excatly what I am proposing to add further down in the tree as well, a page only there to aid navigation. A categroy page would be editable in some ways, such as locking it, scedualling when it goes public, changing its privacy, etc. It has all the fields a Page has, minus the url_path. It cannot

[2018-09-05 21:09] Meteor0id commented on #4757
Seems you are linking to the actual root page, which you are not supposed to link to.

In @gasman 's words:

This is also clearly stated in the documentation. That said, It is odd the link element would even let you choose Root.
The page you should be linking should be one level deeper, that will be the actual home page for your site.

[2018-09-05 22:39] gasman commented on #4757
Hi @MarkJRB - thanks for the report. This is a combination of two bugs, both already covered by #4605 - as @Meteor0id says, 'Root' should not be selectable at all here, but Wagtail should also handle this case gracefully and return an empty link rather than crashing out.

[2018-09-05 22:39] #4757 closed

[2018-09-06 11:58] gasman commented on #4764
Hi @Meteor0id,
There are a couple of things here that I don't think will be architecturally possible:

* Having a model in the page tree that _doesn't_ inherit from the base `Page` model. This would mean tree methods like `Page.get_children()` would have to be aware of all other models that might appear in the tree, perform separate queries on each such model, and return the results in a custom da

[2018-09-06 11:58] #4764 closed

[2018-09-06 12:41] climberd commented on #4474
I have had a similar task: **wanted to add "rel"="nofollow" and target="_blank" to all external links.**

**My solution**

In wagtail_hooks.py file:
`
from draftjs_exporter.dom import DOM
from wagtail.core import hooks
import wagtail.admin.rich_text.editors.draftail.features as draftail_features
from wagtail.admin.rich_text.converters.html_to_contentstate import ExternalLinkElementHandler, PageLin

[2018-09-06 14:59] gasman commented on #4763
Fixed in #4765

[2018-09-06 14:59] #4763 closed

[2018-09-06 16:30] gasman commented on #4752
Hi @daredevil82 - thanks for the report. I don't think there's much we can do here, though - Wagtail's Github presence is ultimately a resource for developers _of_ Wagtail rather than Wagtail implementors, and if we held back updates to the readme so that it reflected the last release version, then we'd be faced with the opposite problem, i.e. developers thinking that Django 2.1 support is still a

[2018-09-06 16:30] #4752 closed

[2018-09-07 13:49] philipjc opened #4767 "Image Chooser Panel Upload in with Google Chrome"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When attempting to save an image to a blog post, for example, I am able to select 'choose an image' from the UI, but when I select one of the images, a Chrome pop-up for 'do you want to leave the page' appears. This does not happen in Firefox.

### Steps to Reproduce

1. (for example) Start a new project with `wagtail start myp

[2018-09-07 14:01] gasman commented on #4767
Hi @philipjc,
Did you upgrade from an earlier version of Wagtail? It sounds like you have an outdated copy of the file `/static/wagtailadmin/js/modal-workflow.js` cached in your browser - please clear your browser cache and retry.

[2018-09-07 14:05] philipjc commented on #4767
This is the case, thank you!

[2018-09-07 14:05] #4767 closed

[2018-09-07 21:30] hypercodex commented on #4515
I can confirm that this is occurring.

Python 3.6.5
Django==2.0.8
Wagtail v2.2.2

[2018-09-07 21:34] hypercodex commented on #4515
@rafaponieman Can you provide more code examples of your workaround?

[2018-09-08 01:40] hypercodex commented on #4515
Found a solution that worked for me! The trick was making sure that my existing apps were listed before the various wagtail apps in settings.py. Placing the wagtail apps above my apps apparently was the source of this exception in my codebase.

[2018-09-08 13:55] Meteor0id opened #4768 "Could we make a DateBlock, TimeBlock and a DateTimeBlok accept a list of formats?"
Formulating this as a question because I am not sure if it was a concious decision to limit a DateBlock to one single format. Maybe there is a database limitation I don't know about.

[http://docs.wagtail.io/en/v2.2.2/topics/streamfield.html#dateblock](http://docs.wagtail.io/en/v2.2.2/topics/streamfield.html#dateblock)

Format accepts one single format, which must be one of the formats specified i

[2018-09-08 22:16] Meteor0id commented on #4768
It seems wagtail uses the 'format' argument on DateInput as a restriction to which foramt may be accepted. Django however does not use 'format' as a restriction on their DateInput, but merly as an input suggestion.

At line 44 over here, wagtail uses js to correct the input agains 'format'. I think it should however correct the format agains any of the formats provided in DATE_INPUT_FORMATS. Thus

[2018-09-10 03:43] scottb0t opened #4769 "upgrade to 2.2.2 imagechooserpanel not setting image"
### Issue Summary
After upgrading wagtail to 2.2.2, I am unable to set images with image chooser in admin interface.
When I try to choose an image, Instead of setting the image foreignkey in the DB it links to the images json information.
e.g. I click on an image in an "imagechooserpanel" and it sends me to "http://site.com/admin/images/chooser/10/" where I see the json describing the image.

###

[2018-09-10 07:52] JaredOzzy opened #4770 "Remove '+' button For Streamfield Item if 'max_num' is set"
Hi there, i have been working with streamfields quite often recently and thought this would be a nice implementation.

Currently if you set 'max_num' property in the Blocks.py or Models.py on a specific streamfield there will always be a '+' icon with the ability to add a new streamfield item in the CMS, if you add a new item you will then only afterwards get the Validation Error Message.

My sugg

[2018-09-10 08:05] gasman commented on #4769
Hi @scottb0t,
This is a browser caching issue - you have an outdated copy of the file /static/wagtailadmin/js/modal-workflow.js cached in your browser. Please clear your browser cache and retry.

(duplicate: #4767)

[2018-09-10 08:05] #4769 closed

[2018-09-10 09:36] bcdickinson opened #4772 "Preview dummy requests don't include the "Authorization" header"
### Issue Summary

We're using [django-basic-auth-ip-whitelist](https://pypi.org/project/django-basic-auth-ip-whitelist/) to limit access to a site. For us, this breaks page previews, because the `Authorization` header isn't included in the dummy request that Wagtail constructs. This is because our templates depend on attributes of `request` that are set by middleware.

This is related to #3546, b

[2018-09-10 16:03] rafaponieman commented on #4515
Hi @hypercodex, sorry for the delay!

This is what I did:

On my wagtail_hooks.py file

[code]

Then my UserEditView class:
[code]

[2018-09-11 04:06] scottb0t commented on #4769
ahhh... I forgot to collectstatic.
I should have known. Thanks!

[2018-09-11 20:56] gasman commented on #4717
Closing due to lack of response - will be happy to investigate further if you can supply the requested info.

[2018-09-11 20:56] #4717 closed

[2018-09-11 20:57] gasman commented on #4734
Closing for now... will assume that HelpPanel does the job unless we hear otherwise.

[2018-09-11 20:57] #4734 closed

[2018-09-11 20:59] gasman commented on #4235
Will close this for now - happy to reopen if we get some clear steps to reproduce this.

[2018-09-12 15:42] gasman commented on #4772
Fixed in #4773

[2018-09-12 15:42] #4772 closed

[2018-09-12 19:17] tiffanynwyeung commented on #4752
Apologies for resurrecting a closed topic, but as someone who was excited to read about Django 2.1 support in not only the master branch README, but also on https://docs.wagtail.io/en/latest/getting_started/integrating_into_django.html, it's extremely frustrating to go through the trouble of finding out that wagtail is actually incompatible with my project when there is official documentation that

[2018-09-12 21:13] gasman commented on #4515
Have made an attempt to fix this, by splitting up `wagtail.admin.forms` into submodules and only importing the relevant submodule where possible (so that `wagtail.admin.edit_handlers` can import the model-form-hacking stuff without also importing the auth forms): https://github.com/gasman/wagtail/tree/admin-forms-circular-dependency

I'm not totally happy with the result, though: I was hoping we c

[2018-09-14 02:39] Meteor0id opened #4776 "Not able to pass arbitrairy arguments to embed finders through get_embed()"
Say I'm having a crazy night, and I decide to try something like:

[code]
Maybe I have been drinking, maybe I just couldn't sleep and decided to try some silly programming.
Either way I am in for a long night if I really care about detail, because as it is right now, get_embed() only takes a url and two kwargs max_width and finder.

But does it really need to? I dont think it does right? It could

[2018-09-14 21:37] gasman commented on #4515
Solved it! #4777

(It's a bit of a hack - we swap out `wagtail.admin.forms` in `sys.modules` with a class that pretends to be the module, but implements a `__getattr__` method to lazily fill in definitions at the point they're accessed. At least we only have to have it in place until Wagtail 2.5...)

[2018-09-15 16:37] hnykda commented on #537
Is there any progress on this? It seems quite silent. I would be happy to work on this if I knew the status.

[2018-09-16 18:04] alexgleason opened #4778 "Feature request: Add `prepopulated_fields` support to ModelAdmin"
Wagtail's ModelAdmin doesn't support this field, found in Django's ModelAdmin: https://docs.djangoproject.com/en/2.1/ref/contrib/admin/#django.contrib.admin.ModelAdmin.prepopulated_fields

I have a use case for it in Wagtail, where normal Django models need a slug associated with them.

![screenshot from 2018-09-16 14 03 34](https://user-images.githubusercontent.com/3639540/45599425-515df300-b9b9-

[2018-09-17 16:19] bcdickinson opened #4779 "BaseCompositeEditHandler can't handle forms that have dynamic fields"
### Short version

I think Wagtail should look at the fields a form actually has when binding edit handlers to instances, but instead it looks at the `form._meta.excludes` and `form._meta.fields` lists, effectively ignoring any modifications in `form.__init__`.

### Long version

I have a setting model where not all of the fields are meaningful for every site in my application:

[code]
[code]

As

[2018-09-18 14:48] thibaudcolas commented on #3804
Thank you for your thoughts @Meteor0id. You're very right to mention there are maintainability issues with the HTML too. One is what you mention. Another is overuse of `table` elements for layout. There are more.

For the milestone, we mark things as "some-day" by default, they only get to another milestone if they are scheduled as part of a release. The things tracked on this issue are separate i

[2018-09-18 15:06] patrick91 commented on #3804
Could be worth having a look at for the e2e tests http://cypress.io/ :)

[2018-09-18 15:30] m1kola opened #4780 "Layout for the default widget for FileField looks broken"
### Issue Summary

Layout for the default widget for FileField looks broken. The template seems to come from Django itself.

### Steps to Reproduce

1. Create a page with a `models.FileField`. For example:
[code]
2. Add a `FieldPanel` into `content_panels`:
[code]

**Result:**

![filefield](https://user-images.githubusercontent.com/509198/45698499-10eca980-bb60-11e8-93ff-af900d5f595d.png)

### Tec

[2018-09-18 16:12] m1kola commented on #4780
I think, it happens because `FieldPanel` generates a form using Django's [`ClearableFileInput`](https://docs.djangoproject.com/en/2.0/ref/forms/widgets/#django.forms.ClearableFileInput) widget and Wagtail doesn't provide styles for it.

[2018-09-19 12:59] BertrandBordage opened #4782 "Date/time widgets should not have autocomplete"
Currently, the date & time inputs have no `autocomplete` attribute defining whether old data should be suggested or not. This results in the following issue for editors with an intensive use of Wagtail’s admin:
![4100844026-capture](https://user-images.githubusercontent.com/1119169/45754567-435bdc80-bc1c-11e8-97bc-7cef0ec1e396.png)
`FieldPanel` or something close to it should pass the additional H

[2018-09-19 21:55] BigE commented on #2834
I came across this issue trying to accomplish something similar. In my situation, I'm wanting to change the URL for tracking purposes through Google Tag Manager rather than redirecting for some other purpose. My solution to this is actually using the [RoutablePageMixin](https://docs.wagtail.io/en/stable/reference/contrib/routablepage.html) with the form page and creating a new routeable method for

[2018-09-20 13:27] abadger1406 commented on #3546
(nw) dave@big5:/home/nw$ tail -f logs/uwsgi.log
  File "/home/Env/nw/lib/python3.6/site-packages/wagtail/core/models.py", line 1324, in serve_preview
    return self.serve(request)
  File "/home/Env/nw/lib/python3.6/site-packages/wagtail/contrib/forms/models.py", line 237, in serve
    form = self.get_form(page=self, user=request.user)
AttributeError: 'WSGIRequest' object has no attribute 'user'

[2018-09-20 13:46] gasman commented on #3546
@abadger1406 That one's a bit puzzling - `request.user` would be missing if something failed during the middleware stage, but in that case I can't see how it would proceed to the form page model's `serve` method. Can you post the complete traceback, please?

[2018-09-20 17:04] tmfwhovamber opened #4783 "Update Your First Wagtail Site for Wagtail 2.0"
### Issue Summary

Doing a fresh install of Wagtail 2 is impossible because it appears that `start` hasn't been updated from what was in Wagtail 1

Following the directions from **Your First Wagtail Site** https://docs.wagtail.io/en/v2.2.2/getting_started/tutorial.html:

`pip install wagtail` - installs Wagtail 2.2.2
`wagtail start mysite`
`cd mysite`
At this point, my `pip list` looks like this:

[2018-09-20 17:17] tomdyson commented on #4783
Somehow you have an old `requirements.txt`. The Wagtail 2.2.2 version looks like this:

[code]

See https://github.com/wagtail/wagtail/blob/stable/2.2.x/wagtail/project_template/requirements.txt

Did you run the all the commands in the same virtualenv? How are you creating your virtualenv?

[2018-09-20 17:46] tmfwhovamber commented on #4783
I have created completely new virtualenvs each time with virtualenvwrapper https://virtualenvwrapper.readthedocs.io/en/latest/install.html

I started on this quest because I was trying to duplicate a problem with the text editor not showing up in my project where I've upgraded to python 3, django 2, and Wagtail 2. So, I switched from a Wagtail 2 (python 3, django 2) editor to a Wagtail 2 editor. I

[2018-09-20 18:02] tmfwhovamber commented on #4783
Ok, I was TOTALLY thinking that I just did this wrong somehow - maybe I'd created a virtualenv without passing which python and it defaulted to python 2, and somehow that defaulted something to Wagtail 1.# and resulted in some weird requirements thing. So, I destroyed all of those virtualenvs, I destroyed all of the new wagtail site directories, and started completely fresh with a virtualenv with

[2018-09-20 18:28] tmfwhovamber commented on #4783
Additionally, I've got this in settings.base.py:
![screen shot 2018-09-20 at 2 28 16 pm](https://user-images.githubusercontent.com/11076085/45839133-7c11b980-bce1-11e8-86b7-8ee30377dc28.png)

[2018-09-20 19:11] tomdyson commented on #4783
@tmfwhovamber could you please go through these steps, and report back with the output from the `pip list`, `which wagtail` and `less requirements.txt` commands?

[code]

to clear up afterwards, you can do

[code]

[2018-09-20 21:59] coredumperror opened #4784 "Why does ParentalManyToManyField not support prefetch_related()? Can that be fixed?"
I just ran into this exception when trying to use prefetch_related() on a `ParentalManyToManyField` called `sponsors` on my `EventPage` page model:

```'sponsors' does not resolve to an item that supports prefetching - this is an invalid parameter to prefetch_related().```

Why does this happen? It's going to be pretty important for performance on my site to be able to prefetch all the many-to-man

[2018-09-20 22:20] zerolab commented on #4784
A similar issue/question raised at https://github.com/wagtail/django-modelcluster/issues/101

[2018-09-21 06:44] ram40193 commented on #4254
i got the same error when i hit async request to my local http server at more than 100 times in one go. if below 100 it is giving no error. If anyone has come across the same issue and resolved?
[Error1.docx](https://github.com/wagtail/wagtail/files/2404194/Error1.docx)

[2018-09-21 09:47] mixxorz opened #4785 "Wagtail Sitemaps does not allow for Django Sitemap instances"
### Issue Summary

When adding custom entries as Sitemap instances to Wagtail Sitemaps, it errors out with:

[code]

Caused by this line: https://github.com/wagtail/wagtail/blob/088d3ffc219c6a06a5d3daff7ece2a8c9b92f683/wagtail/contrib/sitemaps/views.py#L23

According to the [Django docs](https://github.com/wagtail/wagtail/blob/088d3ffc219c6a06a5d3daff7ece2a8c9b92f683/wagtail/contrib/sitemaps/views

[2018-09-21 14:03] tmfwhovamber commented on #4783
![screen shot 2018-09-21 at 10 00 28 am](https://user-images.githubusercontent.com/11076085/45885827-7968a000-bd85-11e8-91a6-831c9d6fa07e.png)
![screen shot 2018-09-21 at 10 00 44 am](https://user-images.githubusercontent.com/11076085/45885829-7c639080-bd85-11e8-8d31-c5a63f50ed17.png)
![screen shot 2018-09-21 at 10 00 55 am](https://user-images.githubusercontent.com/11076085/45885837-7e2d5400-bd85

[2018-09-21 14:19] tmfwhovamber commented on #4783
Ok, so I figured this out! Apparently the requirements were being pulled from my globally installed Wagtail 1.12.2 and not my locally installed virtualenv Wagtail 2.0. So, when I uninstalled wagtail globally,  rm the Wagtail app made with it, and made a new one with the locally installed Wagtail, then it pulled the requirements folder appropriately.
I guess, lesson is: make sure that you don't hav

[2018-09-21 14:19] #4783 closed

[2018-09-21 14:37] tomdyson commented on #4783
Great - well done @tmfwhovamber! I wondered if that might be the issue - that's why I wanted to see the output of `which wagtail` after you'd `pip install`ed it. Good luck with the next bit.

[2018-09-22 21:54] alexgleason opened #4786 "Tags are case-sensitive, and it's very hard to store and query them case-insensitively"
Tags are provided by [django-taggit](https://django-taggit.readthedocs.io/en/latest/). It has a setting, `TAGGIT_CASE_INSENSITIVE`, which is supposed to make storing and retrieving tags ignore its case. This setting has multiple issues:

1. It doesn't do anything about tags currently in the database.
    * Setting this option to True while you have tags like `economics` and `Economics` won't make

[2018-09-23 14:15] Speedy1991 commented on #4659
Forgot this issue - this will be the gist to follow:
https://gist.github.com/Speedy1991/8d2783a90562e098c0d9220b260b13f8

[2018-09-25 14:26] HvandenBerg opened #4787 "Enhancement: force new user to change password"
This is not an issue but a suggestion. Wouldn't it be nice to add a feature to force new users to change their password on first log in? Make this optional in the user account?

[2018-09-25 14:35] gasman commented on #4787
Hi @HvandenBerg - thanks for the suggestion. This is covered by an existing issue: #1577

[2018-09-25 14:35] #4787 closed

[2018-09-26 06:00] loicteixeira commented on #4650
Thank you for your answers @dprothero.

Just to keep everybody in the loop, life got in the way in September and I hadn't got time to work on this in the end. We had a chat with @chosak and he might have some time to pick it up.

Also, I would like to paste @kaedroho [comment on the RFC](https://github.com/wagtail/rfcs/pull/29#issuecomment-412490072) which many of us might have missed:

[2018-09-26 13:06] ruthnphillips commented on #4254
FWIW, I ran into similar issue when using a Firefox browser, but didnt see any erros when I used Chrome.

[2018-09-26 15:58] Pomax commented on #4254
@ram40193 @ruthnphillips close issues are not the right place to talk about this. If you have an error case that is not solved by the above comments, then you have a new issue and you should probably ask about it on stackoverflow first (with an mcve) as the preferred support solution, only using github once it turns it out it really is a bug in wagtail.

[2018-09-27 07:11] mortadagzar opened #4789 "Circular ImportError in Django 2"
My  project supposed to be very basic!, it contains a model as bellow:

from BlogApp.forms import Qouteform
from django.db import models

class Qoute(models.Model):
    title=models.CharField(max_length=200,null=False)
    author=models.CharField(max_length=200)
    text=models.TextField(blank=True, null=True)
    picture=models.ImageField(blank=True,null=True,upload_to='images')
    created_at =

[2018-09-27 08:34] gasman commented on #4789
Hi @mortadagzar,
Your code contains a circular import (BlogApp.forms imports BlogApp.models, and BlogApp.models imports BlogApp.forms) - this is not a Wagtail bug.

[2018-09-27 08:34] #4789 closed

[2018-09-27 09:00] mortadagzar commented on #4789
Thanks @gasman , but I still didn’t get it :)

[2018-09-27 13:05] victoriachan opened #4791 "KeyError when saving a page containing a document link to a deleted document in a rich text field"
### Issue Summary

`KeyError` when saving a page containing a document link to a deleted document in a rich text field. This affects all rich text fields regardless of whether it is a streamfield block or not.

### Steps to Reproduce

1. Edit the rich text field on a page
2. Add a document link using the 'document' button
3. Save page
4. Delete the document from the site
5. Edit the page with the

[2018-09-27 16:40] okal commented on #492
Any hope of this happening? :-) Trying to find out why moderation emails aren't going through, but there doesn't seem to be a way to figure that out in retrospect.

[2018-09-28 05:30] yogesh-kamble opened #4792 "Error 'Site' object has no attribute 'settings' after integrating into existing Django project"
I followed integration docs from here
[http://docs.wagtail.io/en/v2.2.2/getting_started/integrating_into_django.html](http://docs.wagtail.io/en/v2.2.2/getting_started/integrating_into_django.html)
and integrated wagtail into saleor project.

But when I try to access home page I get following error

Request Method: | GET
-- | --
http://localhost:8000/en/
2.0.8
AttributeError
'Site' object has no at

[2018-09-28 09:05] jjanssen opened #4794 "Updating user information shows a confusing success message"
### Issue Summary

When updating some personal information of a user without touching the password it shows a confusing success message.

![image](https://user-images.githubusercontent.com/287422/46198964-fd82d080-c30d-11e8-96dd-acb1f7c02e42.png)

It says I would have been logged out for security reasons, which makes total sense if I would have changed the password. But when refreshing the page it

[2018-09-28 10:47] victoriachan commented on #4791
That's great. Thank you, Matthew!

[2018-09-28 18:56] c4collins commented on #2204
Would it be possible to also have this work like this?

    class Meta:
        value_class = 'QuickLinkValue'

[2018-09-28 20:59] gasman commented on #2204
@c4collins Yes, that would be a fairly simple addition: in `_to_struct_value`, check whether `self.meta.value_class` is a string, and if so, call `django.utils.module_loading.import_string` on it before using it. (In this case, you'd have to give the full dotted path within the `value_class` string, but that's probably unavoidable.) Patches welcome!

[2018-09-28 21:41] #4515 closed

[2018-09-29 11:30] c4collins commented on #2204
Done: https://github.com/wagtail/wagtail/pull/4797

I sometimes forget I can just poke around myself.

[2018-09-30 21:51] jasonhkennedy commented on #3827
@gasman It looks like this issue can be closed since #4367 was closed.

[2018-10-01 06:54] gasman commented on #3827
@jasonhkennedy You're right - thanks!

[2018-10-01 07:43] jayden2 commented on #3546
After upgrading to 2.2.2 from 2.0 I have noticed this on production only:

An odd thing I've also noticed is if I change the sites port to say 200, and then refresh the preview page the page loads. Then on subsequent loads the above error happens.

[2018-10-01 11:10] toptalo commented on #1708
Here browser support table: https://caniuse.com/#feat=svg-img
Please add this future ASAP

[2018-10-01 15:37] loicteixeira commented on #4794
I've added the `Security` label because even though it might not be an issue in this particular case, the fact that the message claim to have logged you out but didn't might hide a bigger problem where you also doesn't get logged out when you should.

[2018-10-01 15:50] loicteixeira commented on #4786
Sadly those are all issues with the underlying library, not with Wagtail itself. Therefore I would encourage you to open a similar discussion on the `django-taggit` repository (fixing the issue in the package would certainly require less effort than replacing it or recreating it).

I'll leave this issue open though as you describe a common pain point when developing a website with Wagtail.

[2018-10-01 15:53] alexgleason commented on #4786
Thanks @loicteixeira. My concern is that these issues have been raised with django-taggit multiple times and I don't think they are going to be resolved upstream. I've opened an issue here because I think it's worth considering a different way of handling tags in Wagtail. Perhaps switching to a different tag library or developing something just for Wagtail.

[2018-10-01 15:56] loicteixeira commented on #4784
Thank you for the report @coredumperror and the link to modelcluster repo @zerolab. Since it's indeed an issue related to modelcluster itself, I encourage you to continue the discussion there.

[2018-10-01 15:56] #4784 closed

[2018-10-01 15:59] loicteixeira commented on #4770
Thank for the suggestion @JaredOzzy.

@BertrandBordage worked on a new UI for StreamField (see #4473 and [noripyt/wagtail-react-streamfield](https://github.com/noripyt/wagtail-react-streamfield)) which should handle this case and hopefully be merged to Wagtail soon.

[2018-10-01 15:59] #4770 closed

[2018-10-01 16:03] BertrandBordage commented on #4770
noripyt/wagtail-react-streamfield is indeed already hiding the + button when max_num is reached!

[2018-10-02 07:12] JaredOzzy commented on #4770
Great Stuff!

[2018-10-02 20:13] loicteixeira commented on #4786
I hear you. For reference, can you link to the issues created on the `django-taggit` repo please?

[2018-10-03 13:51] nmorduch commented on #4786
If we consider the route of replacement, it could be worth considering replacing tags with m2ms and [wagtail-autocomplete](https://github.com/wagtail/wagtail-autocomplete) which would require some work for integration into core but has autocompletion, on-the-fly creation, and the flexibility of being able to make your own tag model

cc @harrislapiroff @emilyhorsman

[2018-10-04 15:42] nmorduch opened #4798 "Add wagtail-autocomplete to core"
_Note: I'm assigning this to myself but it is actually for @harrislapiroff (whom I was unable to assign)_

Make a PR to include wagtail-autocomplete in Wagtail admin (not contrib)

[2018-10-04 15:44] nmorduch commented on #4786
Opened issue #4798 for @harrislapiroff to add wagtail-autocomplete to core as discussed in the core team meeting yesterday. Whether or not that also closes this issue is a decision I will leave to someone else.

[2018-10-04 16:50] fpoulain opened #4799 "Inheriting from a custom page model called Page leads to problems"
### Issue Summary

Inheriting from a custom page model called Page leads to problems:
- An error occurs when I try to create a child-of-root page using the inherited model.
- A migration, from "when I inherit from wagtail Page model" to "when I inherit from my custom Page model" removes the page_ptr field and break many things ;
- it seems that page_ptr is lost/added when migrated from one to anot

[2018-10-05 09:59] gasman commented on #4759
@Paulmolin FYI, running `./manage.py fixtree`should be able to fix errors of this type.

[2018-10-05 10:07] Paulmolin commented on #4759
@gasman Thank you for the tip, I will try this!

I just found out that there was a `find_problems` method in mp_tree. The documentation explains that problems can occur when:

1. your code breaks and you get incomplete transactions (always use transactions!)
2. changing the ``steplen`` value in a model (you must :meth:`dump_bulk` first, change ``steplen`` and then :meth:`load_bulk`

I keep investi

[2018-10-05 16:16] tufelkinder commented on #4608
This is so nonsensical, I can't understand it. How is it that you can bold, italic, and change sizes via h2, h3, h4, etc, but you can't do a simple font size adjustment, change font faces from a set list, or change text alignment? How do you decide where something "should be defined"?

How, exactly, are you supposed to infer from one page body to the next which elements of a paragraph should be ce

[2018-10-05 17:41] gasman commented on #4608
@tufelkinder Please see https://docs.wagtail.io/en/stable/getting_started/the_zen_of_wagtail.html. Wagtail is a content management system, not a web design tool: its whole purpose is to provide a way to input editorial content independently of any particular presentation of that content. If you're making decisions about fonts and layout at the point of entering content, you're not using Wagtail fo

[2018-10-05 18:52] tufelkinder commented on #4608
Thank you, that is a very helpful response and example.

I have read and agree with the basic premises presented in the Zen of Wagtail as failure to follow these principles results in a site looking mish-mashed and sad, which is what most user-administered Wix or Wordpress sites become over time. However, giving users administratively-selected formatting options that correspond to specific styles

[2018-10-07 19:27] #4605 closed

[2018-10-07 19:28] thibaudcolas commented on #4605
Fixed in #4800, should be released as part of Wagtail 2.3.

[2018-10-07 20:00] thibaudcolas opened #4802 "Highlight broken links to pages and documents in rich text"
### Issue Summary

As of #4795 and #4800, it is possible for rich text to contain links to pages and documents that were deleted. The rich text processing has access to the information to determine that those links point to missing things. It would be nice to surface this information to the end user so they realise the links are broken, and can hopefully remove them or replace them with links that

[2018-10-07 20:05] thibaudcolas commented on #4802
This would be done in the React components for links and documents, around:

https://github.com/wagtail/wagtail/blob/7cd73c472f0ad0adfe843c0eeff2d601df0198f2/client/src/components/Draftail/decorators/Document.js#L10-L22

https://github.com/wagtail/wagtail/blob/7cd73c472f0ad0adfe843c0eeff2d601df0198f2/client/src/components/Draftail/decorators/Link.js#L14-L36

and:

https://github.com/wagtail/wagtai

[2018-10-08 14:32] thibaudcolas commented on #4588
I just realised this is a duplicate of #2674!

[2018-10-08 14:32] #4588 closed

[2018-10-08 14:33] thibaudcolas commented on #2674
Adding my feature request text from #4588:

### Issue Summary

At the moment, images and embeds in rich text (Draftail) are not editable. They can be inserted, and removed, but there is no way to edit an existing image/embed reference like we can for links and documents.

It would be nice if the Draftail image and embed blocks were enhanced to support editing – at the minimum, have an "Edit" butto

[2018-10-09 06:18] gasman commented on #4590
Hi @linxuanmax - please use the [Wagtail tag on Stack Overflow](https://stackoverflow.com/questions/tagged/wagtail) for support queries.

[2018-10-10 10:46] gasman commented on #4758
Creating a new object within a modal is possible for images and documents; adding the same functionality for snippets is addressed by #396.

[2018-10-10 10:46] #4758 closed

[2018-10-10 11:55] #4791 closed

[2018-10-10 16:11] #2218 closed

[2018-10-10 16:35] gasman commented on #4794
The logging-out behaviour is explained here: https://docs.djangoproject.com/en/2.1/topics/auth/default/#session-invalidation-on-password-change. It's an implementation detail of Django sessions, and not something which is done deliberately for security reasons - Django's built-in views/forms for changing the user's _own_ password include a call to `update_session_auth_hash` to prevent the user fro

[2018-10-11 12:19] gasman commented on #2224
Completed in #4788.

[2018-10-11 12:19] #2224 closed

[2018-10-11 22:27] probabble opened #4806 "Fonts loaded from CSS break in private S3 bucket with django-storages"
https://github.com/wagtail/wagtail/blob/7c82594c2911257710297ca9e4419e9ffbfbbf71/wagtail/admin/static_src/wagtailadmin/scss/_font-icons.scss#L4

Because these urls are generated outside Django's staticfiles app, they don't get the additional request parameters necessary to successfully authenticate with S3. These should be loaded in an alternate way, or at least with a backup that loads fonts with

[2018-10-12 02:19] mikrokode opened #4807 "Error open it in Visual Studio"
I was just downloaded your code, try to open it in visual studio 2017, but the error appear, may i know how to solve it ?

![error](https://user-images.githubusercontent.com/26881536/46844107-38a1fb00-ce08-11e8-8b74-b3e6574ed3ba.jpg)

[2018-10-12 02:35] mikrokode commented on #4807
Friend,

What IDE your are using to develop this project?

[2018-10-12 11:40] gasman commented on #4806
Hi @probabble - thanks for the report.
Happy to hear other opinions on this, but my inclination is that this isn't Wagtail's problem to solve - the issue is not specific to fonts, but would affect any static file URLs that appear within CSS such as images, and I don't think it's feasible for us to avoid (or find workarounds for) static file references within CSS.

(As it happens our use of images

[2018-10-12 11:40] #4806 closed

[2018-10-12 13:40] gasman opened #4809 "manage.py migrate fails on StreamFields with '' as default value"
### Issue Summary

If a StreamField with `blank=False` is added to a model with existing instances, and the empty string is specified as the one-off default value when running `./manage.py makemigrations`, the subsequent `./manage.py migrate` fails with `AttributeError: 'str' object has no attribute 'get_prep_value'`.

It looks like this bug was introduced by https://github.com/wagtail/wagtail/com

[2018-10-12 14:56] bcdickinson commented on #4809
Hi Matthew, thanks for the mention! I can also reproduce this with `blank=True` in the streamfield definition:

[code]

`./manage.py makemigrations` and `./manage.py migrate`:

[code]

So, I don't think the user-specified default of `''` is important here.

[2018-10-12 16:18] chosak commented on #4809
@loicteixeira wisely worried about this on https://github.com/wagtail/wagtail/pull/4727#discussion_r218838730!

Would changing [this line](https://github.com/wagtail/wagtail/commit/dc0ae76eecffbed8f4fa370f556733fac5182eb7#diff-e00903c0335a4ff5e33c87a29a3756b3R246) to `if not value` suffice?

[2018-10-12 17:58] gasman commented on #4809
@chosak I think so, yes. There is the edge case of an empty StreamValue with a `raw_text` property (which is falsy but should not be translated to an empty list), but that should only occur at the top level where it's handled by `StreamField.get_prep_value`, so I think we're good. https://github.com/wagtail/wagtail/blob/7c82594c2911257710297ca9e4419e9ffbfbbf71/wagtail/core/fields.py#L99-L104

[2018-10-12 18:12] BertrandBordage commented on #2893
Here is an updated version of my `ReadOnlyPanel` for Wagtail > 2.0:

[code]

[2018-10-12 19:48] probabble commented on #4806
@gasman ok ... but https://docs.wagtail.io/en/v2.2.2/advanced_topics/deploying.html#cloud-storage recommends I set it up the way I had it when I encountered this problem, and I haven't found a clear path to enabling ManifestStaticFilesStorage and S3Boto3 storage at the same time. Currently trying

[code]

Either the docs should warn users that this is currently unsupported ( due to a problem with

[2018-10-14 05:03] mikrokode commented on #4807
Thanks man.

[2018-10-15 21:02] fazpu opened #4811 "Make the library compatible with drf-yasg library"
https://github.com/axnsan12/drf-yasg is the best swagger generator out there by far.

Unfortunately, it is not possible to integrate with wagtail due to the current API design.

The error when generating swagger schema:
[code]

[2018-10-16 10:42] gasman commented on #4792
Hi @yogesh-kamble - thanks for the report.

It looks like something in your project is setting `request.site`, most likely because you have `django.contrib.sites.middleware.CurrentSiteMiddleware` enabled, and this is conflicting with Wagtail's `request.site` variable. There's a plan to eliminate Wagtail's `request.site` detailed at https://github.com/wagtail/wagtail/issues/3834#issuecomment-340009

[2018-10-16 10:42] #4792 closed

[2018-10-16 12:01] #4809 closed

[2018-10-16 20:38] chosak opened #4815 "Redirects to Pages with no Site redirect to URL of None"
### Issue Summary

Redirects to Wagtail Pages that don't live under a Site result in an HTTP 301/302 response to a URL of `None`. These should probably return an HTTP 404 instead.

This can happen both on new redirects to un-Sited pages as well as when a working redirect to a Sited page gets broken if the page gets moved out of a Site.

### Steps to Reproduce

1. Create a new Wagtail project using

[2018-10-17 08:19] fransbernhard commented on #4488
Hi @robslotboom ! Could you upload or link to your SiteAccountAdminGroup modal code?

[2018-10-17 09:39] robslotboom commented on #4488
Hi @fransbernhard,

Currently I’m not working on this project but maybe the attached file will solve your issue.

Cheers,
Rob
[wagtail_hooks.txt](https://github.com/wagtail/wagtail/files/2486726/wagtail_hooks.txt)

[2018-10-17 09:41] robslotboom commented on #4488
Hi Frans,

Have a look at github.

Best regards,

Rob

[2018-10-17 12:34] robslotboom commented on #4488
Hi @fransbernhard,

I guess it has something to do with changes in Wagtail itself.
Currently I don’t use this code anymore because I’m waiting for a ‘choose’ permission type in Wagtail

[2018-10-18 16:39] alexrayu commented on #4690
Installing the Wagtail as per instructions results in a non-working setup. When asking for help, users are redirected to StackOverflow instead.

[2018-10-18 22:43] inostia opened #4822 "`update_index` throws `AttributeError` on TableBlock when value is `None`"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

`update_index` fails on StreamField TableBlock when its value is `None`, due to this line: https://github.com/wagtail/wagtail/blob/master/wagtail/contrib/table_block/blocks.py#L79

Throws `AttributeError: 'NoneType' object has no attribute 'get'`

### Steps to Reproduce

1. Add a StreamField to a page
2. Add a TableBlock and le

[2018-10-18 23:53] gasman commented on #4690
Hi @alexrayu,
It simply isn't possible for the instructions to cover every situation that might occur on every platform, such as selecting the correct Python version when multiple versions are installed, as in the case here. This is not a Wagtail-specific issue, and so it's appropriate to ask on Stack Overflow, where there's a larger pool of people available to help, and better tools for gathering

[2018-10-19 04:16] alfuhigi opened #4823 "account setting language provider need to support Arabic"
https://github.com/wagtail/wagtail/blob/9afcd1a8be0d1538dfdcfdf5af277c50d57d7044/wagtail/admin/utils.py#L27

+ support Arabic language

`
WAGTAILADMIN_PROVIDED_LANGUAGES = WAGTAILADMIN_PROVIDED_LANGUAGES+ [('ar', ugettext_lazy('Arabic'))]
`

[2018-10-19 05:07] alfuhigi commented on #4823
pull request

[2018-10-19 05:07] #4823 closed

[2018-10-19 05:19] tomdyson commented on #4690
@alexrayu thanks for taking the time to respond. We appreciate your perspective on this. FWIW, this wouldn't have helped the original issue creator, who wasn't following the instructions and had already installed Wagtail outside the virtualenv. On the other hand, we certainly want to make sure that our standard instructions work in default environments. Would you be happy to submit a PR with your

[2018-10-19 07:20] alexrayu commented on #4690
@tomdyson Thanks, I have corrected my commands list for the future.

[2018-10-19 13:06] robslotboom commented on #2655
I agree with this but why not replace the html alignement attributes by alignment classes.

[2018-10-20 11:33] kuntalk opened #4830 "Not able to make StreamField as blank"
I want to keep the streamfield as blank, I have given blank and null as true but then also in admin panel it shows as a mandatory field. What is the way to keep it as non-mandatory field?

* Python version: 3.6
* Django version: 2.0
* Wagtail version: 2.2.2

[2018-10-21 03:51] yihuang commented on #3668
Maybe it's sufficient to create a symlink in locale directory from ``zh_Hans`` to ``zh_CN``, does it works with transifex tool?

[2018-10-21 09:29] ajostergaard opened #4834 "Wagtail Bakery 404"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Welcome to Wagtail’s documentation says: "If you’d like to get a quick feel for Wagtail, [explore the Wagtail Bakery](https://docs.wagtail.io/divio.com/wagtail), a fully-functional interactive demo (hosted at Divio Cloud)." Unfortunately the link is dead.

### Steps to Reproduce

1. Go to https://docs.wagtail.io/en/latest/
2. C

[2018-10-21 09:36] gasman commented on #4834
Hi @ajostergaard - thanks for the report! The link is just missing an `https://`- it should be https://divio.com/wagtail . Will fix that now...

[2018-10-21 09:39] gasman commented on #4834
Fixed in 38ed301e03b8a955769da207664b6d47cb91b2b0

[2018-10-21 09:39] #4834 closed

[2018-10-21 19:08] thenewguy commented on #1495
It would be helpful if the css was bundled with wagtail so one could just include it at the top of their template

[code]

[2018-10-22 22:08] thenewguy opened #4835 "Routable Page Preview Subpages"
It is difficult to preview routable page sub pages.

Per https://github.com/wagtail/wagtail/blob/master/wagtail/contrib/routable_page/models.py#L125 the index is previewed.  It would be preferable if the editors could preview subpages as well.

Perhaps a query param could hold the subpath to resolve? I.e. `/dashboard/pages/5/edit/preview/?routable_subpath='foo/123/'`

[2018-10-23 10:12] gasman commented on #4835
Hi @thenewguy - thanks for the suggestion. Wagtail does support [defining multiple 'preview modes' for a page type](https://docs.wagtail.io/en/v2.2.2/reference/pages/model_reference.html#wagtail.core.models.Page.preview_modes), which then show up as a list under the Preview button in the page editor - it would make sense to hook into that functionality here. Perhaps RoutablePageMixin should allow

[2018-10-23 16:16] bmoe872 commented on #396
Is there any preferred approach to this? e.g. following the same logic that the imagechooserpanel has? I'd be interested in this functionality as well. I'm not sure what the UI patterns are that @tmsndrs mentioned. I'd be willing to give this a shot, but would love some more direction.

[2018-10-24 04:18] yumikohey commented on #4125
What is the reason that I am still getting this error even I am working on a Django 2.1.1 project?

[2018-10-24 05:00] markfinger opened #4838 "AttributeError at /admin/login/ - 'LoginView' object has no attribute 'get_redirect_url'"
Hi, a bug was recently introduced that introduces a hard crash when visiting the admin login view as an anon user.

Related commit: https://github.com/wagtail/wagtail/commit/aac33358834ce77e221b0b26db1af36898a7e9c8

I don't know the larger context, but I'd guess that adding a `hasattr` check should suffice as a workaround/fix.

We can replicate this with wagtail 2.2.2 and 2.3. We've downgraded to

[2018-10-24 12:28] chosak commented on #4838
@markfinger thanks for the bug report. Can you confirm the version of Django that you're using?

It looks to me like LoginView.get_redirect_url wasn't added until [this change](https://github.com/django/django/commit/16431b03f801788d791bbb24d6fb266c3591ab07) in Django 1.11.3 (to fix [this ticket](https://code.djangoproject.com/ticket/28229)), also released to the master (Django 2.0+) branch [here]

[2018-10-24 17:54] scroogeT commented on #4785
Can you please clarify where in code will I be applying the fix because I cannot get it to work with my project here. I think I must be doing something wrong.

Can you provide more context ?

[2018-10-24 17:54] brylie opened #4841 "Prevent users from creating 'index' pages?"
Apologies if this has already been answered, but I couldn't find any related issue.

While working through the Wagtail tutorial, we create a `BlogIndexPage`, and subsequently Blog posts. Once the Blog index is created, there is no need to create another `BlogIndexPage`. How can I restrict users from creating secondary index pages? E.g. is it possible to keep the `BlogIndexPage` from showing up as

[2018-10-24 22:55] LennartC commented on #4660
I wrote a small workaround that hides the pages in the list for which the user doesn't have edit rights, which is what I want in a multitenancy setup.
This example only works on the top level, but if you remove the if statement it works on all levels.

[code]

And then add `url(r'^admin/api/v2beta/', admin_api_fix.urls)` to the urlpatterns in urls.py, above the `r'^admin/'` pattern.

[2018-10-24 23:39] markfinger commented on #4838
Thanks, @chosak. I've upgraded from `django==1.11` to `django==1.11.16`, and the problems are no longer evident with `wagtail==2.2.2`.

[2018-10-24 23:39] #4838 closed

[2018-10-25 04:34] mixxorz commented on #4785
I've monkey-patched the offending function `prepare_sitemaps` in my code to resolve this.

[code]

[2018-10-25 06:01] timonweb commented on #4841
Set `is_creatable = False` on your BlogIndex model class and you’re all set :)

[2018-10-25 06:18] brylie commented on #4841
Ok, so simple! This snippet would be a good aside in the intro tutorial, as I'm probably not the only person with this question ☺

[2018-10-25 08:29] zerolab commented on #4785
@mixxorz submit a PR?

[2018-10-25 09:21] brylie commented on #4841
Ah, really clever solution! This should be added to the docs, if it isn't there already (I am still reading). Could it be a 'Wagtail recipe'?

[2018-10-25 09:28] timonweb commented on #4841
I came up with it myself, don't know if it's in the docs.

[2018-10-25 10:03] timonweb commented on #4841
Here we go, I've created a quick tutorial on my blog: https://timonweb.com/tutorials/prevent-users-from-creating-certain-page-types-in-wagtail-cms/.

[2018-10-25 19:13] robslotboom opened #4846 "Local date time issue for AdminDateTimeInput"
### Issue Summary

After updating to wagtail 2.3 my local date time works only partial.

### Steps to Reproduce

#### settings.py

[code]
#### formats.py for dutch

[code]

Create a page and set go_live_at to a day in september.
Edit page and set go_live_at to a day in October.

Publish and you get an error because of an invalid date.
Look at the input displaying **okt** which is right.

![error](

[2018-10-25 22:17] gasman commented on #4846
Hi @robslotboom - thanks for the report.

Have you been able to replicate this on a fresh Wagtail installation? Also, what version of Wagtail were you running before the upgrade?

[2018-10-26 07:41] sir-sigurd commented on #4841
You could also try something like this

[code]

[2018-10-26 18:58] BORN2LOSE commented on #4433
Has anyone started working on this task ?
Ping @gasman

[2018-10-26 19:55] jotaemei commented on #4433
@BORN2LOSE , @gasman, I held back after a few attempts for clarification in Slack were ignored. My concern was that if I implemented this, and then it were merged (which would affect hundreds of files), it would trip up all the other committers.  Can anyone confirm?

[2018-10-27 07:30] nott commented on #4489
I'm going to work on this during the sprint in Minsk

[2018-10-27 07:34] FedorSelitsky commented on #4146
I'm going to work on this.

[2018-10-27 07:37] gasman commented on #4489
@nott This has already been addressed by #4814 - it's just waiting for one of us to review it (and if you want to sanity-check that PR, that would be good too :-) )

[2018-10-27 07:41] nott commented on #4489
@gasman great
i'll take a look

[2018-10-27 07:49] nott commented on #1930
I'm going to work on this during sprint in Minsk.

[2018-10-27 08:07] nott commented on #1930
Frontend cache has been moved

Looks like this is the new location:
https://github.com/wagtail/wagtail/blob/1f7e16a1725c1ef7e2d8976c344a3659702e92f8/wagtail/contrib/frontend_cache/backends.py#L37-L65

[2018-10-27 09:04] zerolab commented on #4841
The 'unofficial way', as covered by tests is to override `can_create_at` and augment the parent check with a `not cls.objects.exists()`

https://github.com/wagtail/wagtail/blob/master/wagtail/tests/testapp/models.py#L862

Will work on adding `max_count` and updating the documentation to settle on one solution.

[2018-10-27 09:35] gasman commented on #4489
Fixed in #4814

[2018-10-27 09:35] #4489 closed

[2018-10-27 09:45] nott commented on #3838
I'm going to work on this during the sprint in Minsk

[2018-10-27 10:18] gasman commented on #4690
The docs have now been updated in #4849 to cover creating/activating a virtualenv.

[2018-10-27 12:14] gasman commented on #4841
Implemented in #4852

[2018-10-27 12:14] #4841 closed

[2018-10-27 13:02] gasman commented on #3921
Completed in #4840

[2018-10-27 13:02] #3921 closed

[2018-10-27 13:06] robslotboom commented on #4846
Hi @gasman,

Yes. Created a default project using wagtail start testsite.

I changed/added the following settings:

## settings/base.py
[code]
## testsite/locale/nl/formats.py

[code]

Change go live at to 13 sept works fine.

![success](https://user-images.githubusercontent.com/8074866/47604385-72265900-d9f9-11e8-8602-bd0e52f39096.jpeg)

Though Sep is an English abbreviation.

Then I change it to

[2018-10-27 13:12] robslotboom commented on #4846
No idea why it is closed so I reopen this issue.

[2018-10-27 13:45] thibaudcolas commented on #3458
Closing this now with the merge of #4788.

[2018-10-27 13:45] #3458 closed

[2018-10-27 13:48] gasman commented on #4162
Completed in #4854.

[2018-10-27 13:48] #4162 closed

[2018-10-27 14:01] thibaudcolas commented on #3522
I could still reproduce this, although in my testing there needs to be at least two fields on the panel. Full snippet:

[code]

[2018-10-27 14:01] thibaudcolas commented on #3522
Also fix attempt over at #4855.

[2018-10-27 15:13] jotaemei commented on #4433
OK, @zerolab .  Thank you!!

[2018-10-27 15:23] thenewguy opened #4857 "Global option to change InlinePanel's default use of select widgets for relation fields"
InlinePanel with a ForeignKey can catch you by surprise because it defaults to use a select widget.  There should be a global way to limit how many records are rendered to html or either an option to use something like a "raw id widget"

[2018-10-27 15:44] thibaudcolas commented on #3522
Fixed in #4855. This will be released in v2.4.

[2018-10-27 15:44] #3522 closed

[2018-10-27 16:26] fpoulain opened #4861 "Wagtail admin failure after upgrade to 2.3"
### Issue Summary

Wagtail admin fails after upgrading to 2.3.

The trace:
[code]

### Steps to Reproduce

It works well after downgrading to Wagtail 2.2.2.

No. It might due to some nesting in StreamBlocks. I wasn't able to provide a minimal example reproducing the bug.

### Technical details

* Python version: Run `python --version`.
[code]

* Django version: Look in your requirements.txt, or ru

[2018-10-27 21:47] gasman commented on #4861
Hi @fpoulain,
Are you using `wagtail-react-streamfield` on your project? It seems there's a compatibility issue which would cause this error: https://github.com/noripyt/wagtail-react-streamfield/issues/17

[2018-10-27 22:54] thenewguy commented on #2893
@BertrandBordage any chance of making this pip installable?

[2018-10-28 08:33] thibaudcolas commented on #4483
+1 for a new documentation section "Developing extensions for Wagtail". There is lots we could add in there.

[2018-10-28 09:00] robslotboom commented on #4846
Hi @zerolab,

As I mentioned above: The previous version was Wagtail 2.2.2

[2018-10-28 09:12] fpoulain commented on #4861
Yes I am. Sorry I missed it in the report.

It seems to be the same bug.

[2018-10-28 09:13] gasman commented on #4861
Thanks for the confirmation - closing as this is a wagtail-react-streamfield bug.

[2018-10-28 09:13] #4861 closed

[2018-10-28 09:44] robslotboom commented on #4846
Am I right this is fixed in the development version but not yet in 2.3?

[2018-10-28 10:42] thibaudcolas commented on #2353
Here's an example of the kind of issue the current implementation causes. The mobile nav has a different width when the page explorer is open, and custom icons end up having the "Dashboard" link displayed differently based on that:

![logo-customisation-2353](https://user-images.githubusercontent.com/877585/47614837-45387b80-dab7-11e8-9898-ce8e23db02fb.gif)

The default logo doesn't have this issu

[2018-10-28 11:37] jjanssen commented on #4058
Hi @benenright

Whilst further implementing this during the Minsk sprint some questions came to mind which is probably essential for the bigger picture. Especially for our mobile strategy. Right now the designs reflect on the desktop state which has 2 types of filtering on the search page.

Example screenshot from the Bakery Demo:
![image](https://user-images.githubusercontent.com/287422/47615256-

[2018-10-28 11:55] #4699 closed

[2018-10-28 12:39] m1kola commented on #4055
Would be great to take have a solution for file field. See discussion in #4790

[2018-10-28 12:42] gasman commented on #2353
@thibaudcolas It's possible that people are already making non-trivial customisations (i.e. ones that go beyond setting an image) by overriding the `branding_logo`, and they'll be unhappy about us removing existing functionality. Is there any reason we can't keep the `branding_logo` block(s) in place, but make it clear in the docs that setting an image URL is the preferred route for simple logo cu

[2018-10-28 13:14] benjaoming opened #4867 "Read The Docs default version should be "latest""
### Issue Summary

Thanks for accurately tracking documentation for individual releases with tags! This is important!

Currently, navigating to `https://docs.wagtail.io/`, redirects to `https://docs.wagtail.io/en/v2.3/`. This way, we will have humans and search engines remember and spread URLs as permalinks to a version that's going to be replaced.

Instead, use `https://docs.wagtail.io/en/latest/

[2018-10-28 13:44] shurph opened #4869 "Feature request: ImageRenditionField: extract fields preparation from to_representation"
I suppose it could be pretty good to use some separate method in the [ImageRenditionField ](https://github.com/wagtail/wagtail/blob/db6d368/wagtail/images/api/fields.py#L31) to prepare the dict for a presentation. Something like `def prepare_values(self, image, thumbnail)`.

Just to prevent an unnecessary copy&paste/scaffolding.

Here is an example of a project-specific class which is based on `Im

[2018-10-28 13:53] gasman commented on #4867
Hi @benjaoming,
`latest` is not a suitable choice for the default, as this tracks the git master which might not match the status of the current release. (For example, during the Wagtail 2.3 development, several people followed the 'latest' documentation by mistake and were misled into thinking Django 2.1 support was already available - see #4752.)

Redirecting to `stable` would be an option, but

[2018-10-28 13:53] #4867 closed

[2018-10-28 14:28] zerolab commented on #3868
FWIW, #4856 finishes work to add a new template tag `image_url` that uses the dynamic serve view. This allows [serving renditions outside the main request](http://docs.wagtail.io/en/latest/advanced_topics/images/image_serve_view.html#generating-dynamic-image-urls-in-python)

Hope it helps

[2018-10-28 14:36] m1kola commented on #4146
Fixed in #4850

[2018-10-28 14:36] #4146 closed

[2018-10-28 14:57] zerolab opened #4870 "Improve documentation for developer up on Windows"
This was an issue at the Minsk sprint.

I think we can do better that this and help/enable more developers get up and running and contributing to Wagtail.

Related: https://github.com/wagtail/vagrant-wagtail-develop/issues/20

[2018-10-28 15:07] davojta opened #4871 "[Discussion] choose appropriate tool for WCAG auto testing / visual regression tests"
Problem:
*  Wagtail need a tool for auto frontend tests
* wagtail need auto testing for wcag

Here is the cypress test for wagtail - https://github.com/davojta/test-cypress-for-wagtail

There are several solutions for wcag testing:

* pa11yjs
* axe-core

There also some options for visual regression testing

* cypress
* web driver
* puppeteer

To be updated later )

[2018-10-28 15:27] #4483 closed, assigned to nobody

[2018-10-28 15:33] thibaudcolas commented on #4871
To add a bit more context, here are the things we want to test accessibility-wise at the moment:

- Icon font replacement to SVG, https://github.com/wagtail/wagtail/issues/4199#issuecomment-358640129, #4821
- Document outline & landmarks,  https://github.com/wagtail/wagtail/issues/4199#issuecomment-358640129
- Textual labels to icon-only elements, https://github.com/wagtail/wagtail/issues/4199#iss

[2018-10-28 16:45] benjaoming commented on #4867
@gasman

RTD can configure this behavior.

![image](https://user-images.githubusercontent.com/374612/47618941-17fcc500-dad9-11e8-8c8a-f5ae5620dd3e.png)

Then, there are also humans who will copy-paste links to Stack Overflow -- but having just googled `link:docs.wagtail.io`, it doesn't seem that bad. You can review the results on StackOverflow here:

https://www.google.com/search?hl=en&q=%22docs.w

[2018-10-28 16:46] benjaoming commented on #4867
The obvious disadvantage of setting the default branch is obviously that it has to be updated at each release.

[2018-10-28 20:04] BertrandBordage commented on #2893
@thenewguy You can create a repo then install it with `pip install https://github.com/thenewgui/wagtail-readonlyfield/archive/master.tar.gz`.

To answer more seriously, a PR with an more elegant integration of this (without inline styling) is welcome!

[2018-10-29 10:49] mikemonteith commented on #4051
We're still "pre-release" at the moment while we experiment with this, but here's a small wagtail plugin that will do smartquote replacements on all text input fields on page-edit pages. https://github.com/nhsuk/wagtail-smartquotes/

We've identified a need to do smartquote replacements to help our editors use correct punctuation. I think the right place to do this is in the editor and not on the

[2018-10-29 15:26] allcaps commented on #4846
What is your browser language? You might want to drop 'django.middleware.locale.LocaleMiddleware' if you only want to use Dutch. Maybe set `LANGUAGE_CODE = 'nl-NL'`

[2018-10-30 11:05] jjanssen opened #4875 "User overview could benefit from having last login date"
Right now the user overview shows the following:
- Name
- Username
- Level
- Status

![image](https://user-images.githubusercontent.com/287422/47713351-61185a80-dc3a-11e8-9543-4c8a3f84819d.png)

In larger environments and having a lot of users it can be a maintenance burden to see which users are actually using the system. It would be more manageable to actually see from this overview when a user

[2018-10-30 12:09] robslotboom commented on #4846
Hi @allcaps,

Safari on OSX with dutch in language settings.
Can’t drop LocaleMiddleware because of multiple languages.
Also tried nl-NL without success.
All worked well in the previous version of Wagtail 2.2.2

 Looks like the issue [#4672](url
https://github.com/wagtail/wagtail/pull/4675) mentioned by @zerolab.

[2018-10-31 04:40] noahbjohnson commented on #4875
#4879

[2018-10-31 18:52] dougfir-lc opened #4881 "Pages named "before" raise slug validation errors on save"
### Issue Summary

Naming a new page "**before**" or "**Before**" seem to leave the slug field blank on save, thus raising a page validation error. Manually entering the slug and saving the page a second time resolves the issue. I have tested this in versions 1.13.1 and 2.2.

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Create a child page (in this case a homepa

[2018-10-31 19:19] gasman commented on #4881
Hi @dougfir-lc - thanks for the report.

This will be because "before" is on the list of stopwords that get removed by Django's URLify function:

https://github.com/django/django/blob/b9cf764be62e77b4777b3a75ec256f6209a57671/django/contrib/admin/static/admin/js/urlify.js#L172

We should add a special case (probably in [cleanForSlug](https://github.com/wagtail/wagtail/blob/0dacda913337d6a24c962b906

[2018-10-31 19:22] #4815 closed

[2018-10-31 22:07] lightstrike opened #4882 "ImageChooserPanel regression with Django 2.1"
### Issue Summary

Hitting `TypeError: render() got an unexpected keyword argument 'renderer'` when I try to launch an `ImageChooserPanel` inside a stream field block. Seems to have the same root Django issue as identified with [django-autocomplete-light](https://github.com/yourlabs/django-autocomplete-light/issues/1026). Downgrading to Django 2.0.8 seems to have fixed the issue.

I haven't been a

[2018-10-31 23:40] gasman commented on #4882
Hi @lightstrike,
Are you using the `wagtail-react-streamfield` package? This has a known compatibility issue: https://github.com/noripyt/wagtail-react-streamfield/issues/17

[2018-11-01 02:38] lightstrike commented on #4882
I am not, using the built-in `ImageChooserPanel` and `ImageChooserBlock`.

Here's what popped up in Sentry:

![screenshot from 2018-10-31 19-37-10](https://user-images.githubusercontent.com/1368742/47829388-77aad880-dd44-11e8-8a6f-c4369b34cbb1.png)

[2018-11-01 08:46] gasman commented on #4882
What versions of `django-taggit` and Wagtail are you running?

[2018-11-01 16:56] gasman commented on #4846
It looks like the problem here is that the localisation behaviour added in 2.3 (#4675) doesn't match the behaviour prior to 2.1 (#4337):

* In Wagtail 2.0 and earlier, the datetimepicker used translated day / month names within its UI, but always used English names when writing back to the form field;
* In Wagtail 2.1 and 2.2, localisation was lost as part of the jquery-datetimepicker upgrade (#43

[2018-11-01 18:17] lightstrike commented on #4882
`wagtail`: `2.3`
`django-taggit`: `0.22.2`

[2018-11-01 18:49] gasman commented on #4882
That's the problem then - you need to upgrade to django-taggit 0.23.

[2018-11-01 18:49] #4882 closed

[2018-11-01 18:51] robslotboom commented on #4846
Hi @gasman,

To be sure I entered a site created with 2.0.1 and added some dates.
You are right, the abbreviated names are English...
I’m afraid I overlooked this because most abbreviations are the same in Dutch.

![dates](https://user-images.githubusercontent.com/8074866/47872452-eb191c80-de0e-11e8-8975-80709d15f4c2.jpeg)

[2018-11-01 22:59] thibaudcolas commented on #4744
#4746 is merged, this will be fixed in Wagtail v2.4!

[2018-11-01 22:59] #4744 closed

[2018-11-04 19:47] brylie commented on #3989
In case this `add_child_button_text` property is not added to the Page model, is there a recipe for overriding the text of the 'Add Child Page' button currently?

[2018-11-05 19:24] alfuhigi opened #4885 "upload image that name's is ads.jpg"
Hi everyone !

I am try to upload images has name "ads" but image show blank image as screenshot in jpg or png

## 1
![alt text](https://aljf.s3.amazonaws.com/media/images/2.original.png)

## 2
![alt text](https://aljf.s3.amazonaws.com/media/images/3.original.png)

## 3
![alt text](https://aljf.s3.amazonaws.com/media/images/EF.original.jpg)

[2018-11-05 19:59] chosak commented on #4885
@alfuhigi do you happen to have an adblocker enabled in your browser? I suspect the filename may be triggering a block if so. Does this same image render if embedded into some other HTML document not served by Wagtail?

[2018-11-05 22:24] ladrua opened #4886 "Orderable CSS bug in admin"
![bilde](https://user-images.githubusercontent.com/1674550/48030520-9d275000-e151-11e8-9686-a438e6b8a905.png)
When `Orderable` model with `ParentalKey` and when there are non added It seems like there is a bug with the div height.

Wagtail 2.3 - Django 2.1.3

[2018-11-06 01:05] alfuhigi commented on #4885
Oops my fault !

thanks @chosak ! , you are right the adblocker is enabled. it detected images as ads

[2018-11-06 07:17] #4885 closed

[2018-11-07 22:05] thenewguy opened #4888 "add signals for draft submission and when a page is scheduled to be published"
I have found the need to run tasks when drafts are submitted and now when pages are scheduled to be published.  These hooks/signals are missing.

The wagtail.core.signals.page_published/page_unpublished signals seem to indicate these other signals would be generally useful.

I am currently sending the draft signals like this:
[code]

They are defined like so:
[code]

It would be simple to send the

[2018-11-07 22:08] thenewguy commented on #4888
It would also be helpful to provide a signal that is triggered with the page is unscheduled for publishing too

[2018-11-07 22:47] thenewguy commented on #4888
Here is what I've come up with that is consistent with the other signals.  It could be implemented more efficiently in wagtail proper

Signals
[code]

Receiver to send it
[code]

[2018-11-08 11:54] sir-sigurd opened #4889 "InlinePanel considers error message as form when handling max_num"
### Steps to Reproduce

Using https://github.com/wagtail/bakerydemo:
1. add `min_num=1, max_num=1` to [InlinePanel of Location.hours_of_operation](https://github.com/wagtail/bakerydemo/blob/428092df6d4b764d3769952ef2a6b4949767bae2/bakerydemo/locations/models.py#L173)
2. open any location in admin
3. remove all "hours of operation"
4. click "save draft"
5. there is no "hours of operation" forms and

[2018-11-08 16:58] thenewguy opened #4890 "Display timezone with scheduled publishing widget in page editor"
It would be helpful if the timezone currently in use for the editor was displayed when setting the date/time for scheduled publishing

[2018-11-08 21:45] allcaps opened #4891 "Welcome page shows Wagtail Space UFO"
The welcome page shows the Wagtail Space UFO (logo for the [https://wagtail.space](https://wagtail.space/2019/) events). The purpose of this page is to 1) confirm creation of the wagtail project is a success. 2) give the developer pointers what to do next. So an event logo is bit out of context here.

Also, the Wagtail UFO is based on a free image pack that requires attribution. The event uses the

[2018-11-08 23:42] ladrua commented on #4886
[code]
**OS:** macOS
**Browser:** Firefox 63.0.1, Safari 11.0.2

[2018-11-09 00:10] ladrua commented on #4886
If I put the `InlinePanel` inside a `MultiFieldPanel`
[code]
It looks like this:
<img width="341" alt="bilde" src="https://user-images.githubusercontent.com/1674550/48234923-f397c700-e3bb-11e8-80cd-07bb160c1b79.png">

Thats better in many ways I think, but unclear to me if that is a requirement for a `InlinePanel`

[2018-11-09 03:46] nmorduch commented on #4780
I'm only getting the file input, with no checkbox for clearing it. It's still in a div with `.clearable_file_input` so I'm really not sure why the checkbox input isn't there.

<img width="1030" alt="image" src="https://user-images.githubusercontent.com/1051450/48242106-a873b900-e3a7-11e8-93f1-cd484237ede0.png">

[2018-11-09 05:03] #4087 closed

[2018-11-09 12:46] jjanssen commented on #4891
**Animation reference:**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/287422/48263244-c5e76800-e425-11e8-8f06-610b04e09bdb.gif)

[2018-11-09 15:42] strindhaug commented on #3728
@BertrandBordage I'm on wagtail wagtail 2.3 and elasticsearch 2.4.1 and have basically the same setup as in the above example, and I get the `FieldError: Cannot filter search results with field "category_id". Please add index.FilterField('category_id') to Article.search_fields.` message.
But if I try to do as your workaround, i get warnings with every migration; and when not using elastic search l

[2018-11-09 16:36] gasman commented on #4886
Afraid I can't reproduce this as described - perhaps you have some custom CSS or a third-party add-on in your project that's causing this?

Here are the steps I tried:

    mkvirtualenv orderablecss
    pip install wagtail==2.3 Django==2.1.3
    wagtail start orderablecss
    cd orderablecss

Update home/models.py to include the Links / SitePage definition:

    from django.db import models

    f

[2018-11-09 16:36] #4886 closed

[2018-11-12 00:50] nbuonin commented on #2768
For me, both `parent_page_types = ['wagtailcore.page']` and `parent_page_types = [Page]` work.

[2018-11-12 09:21] brylie commented on #2768
This should also be added to the docs 📖

[2018-11-12 16:15] benenright commented on #4473
Hi @BertrandBordage

Well done for your work over the summer on the new Streamfield!

Sorry to only now come back with my feedback on the new UI... it's looking great but I wanted to mention some (hopefully not too controversial) potential styling changes that would bring it a bit closer to my [prototype](http://playground.torchboxapps.com/ben-wagtail/pages/streamfield.html)  - nothing major but t

[2018-11-12 22:36] jonnyscholes commented on #4473
Hi @benenright I know your feedback was for @BertrandBordage but I'm really excited by this new streamfield direction so I have a couple of comments on your comments :D

RE 1. Totally agree here - perhaps making it match the width of the darker [pink accent in the field header](https://user-images.githubusercontent.com/1259367/48378338-70ac9e80-e724-11e8-99c3-aeec8227ab6f.png)?

In addition to thi

[2018-11-13 11:32] gasman commented on #396
@lmorillas No, the status is exactly as you see here - feel free to pick this task up!

[2018-11-13 11:41] gasman commented on #4891
Fixed in #4892

[2018-11-13 11:41] #4891 closed

[2018-11-14 15:49] chosak opened #4899 "Stop removing stopwords from auto-generated page slugs"
### Issue Summary

When a new Wagtail page is saved without the user entering a slug, its slug is auto-generated from the page's title. Wagtail's slug generation uses a copy of the logic used by [Django's `SlugField`](https://docs.djangoproject.com/en/2.1/ref/contrib/admin/#django.contrib.admin.ModelAdmin.prepopulated_fields) (the Wagtail codebase contains a copy of the "bit of JavaScript" mention

[2018-11-14 16:23] gasman commented on #4881
Hi @chosak,
I don't have any strong opinion on whether it's better to keep or remove stopwords in slugs, but I do strongly feel that editors shouldn't be _expected_ to care about the details of slugs, and features that a user doesn't care about should get out of the user's way to the greatest extent possible. On that basis, I'd consider the current bug (failure to automatically deal with a title l

[2018-11-15 02:24] kaedroho opened #4904 "Bulk delete button on snippets"
The snippets interface has gained a bulk delete button recently (https://screenshots.firefox.com/Tfj3Gk0okTr0GMqr/localhost)

This button looks very out of place to me, and has a red hover colour when no snippets are selected (which seems weird to me as the button doesn't do anything in this state).

Could the button be hidden when no snippets are selected? and also moved above the snippets listin

[2018-11-15 13:56] JanMalte commented on #2953
This bug still exists. Any news?

[2018-11-16 14:02] chosak commented on #4881
@gasman thanks; that makes sense to me. I was hoping there might be time to consider larger changes to URLify before 2.4, but I can see the value in moving forward with this fix to address it for now.

[2018-11-16 17:42] alexgleason opened #4908 "Ability to subclass `draftail.ModalWorkflowSource` with custom modal options"
I'm new to both React and Draft.js/Draftail, so I'm sorry in advance if I've misunderstood anything.

I wan't to create a new ModalWorkflow that pops up when you click a toolbar icon in Draftail. It's not as easy as calling `ModalWorkflow` - `ModalWorkflowSource` encapsulates a lot of the necessary behavior.

I was hoping for an API like this:

[code]

It seems like `getChooserConfig` is a public

[2018-11-16 21:32] brylie opened #4909 "Add documentation for ParentalKey"
## Issue Summary
The ParentalKey class seems to be missing documentation. There is no docstring, and searching the Wagtail docs site turns up few relevant results.

[2018-11-17 18:56] brylie opened #4910 "Feature request: Navigation menu editor"
# Issue Summary
Sites typically need navigation menus. As such, it is often the job of a content manager to determine the layout of menu items, i.e. how they are hierarchically organized. To my knowledge, Wagtail does not have a 'menu editing' UI.

This is a feature request for a standardized way to define empty menu, e.g. by a WagtailMenu class, that would then appear in the Admin UI under a Menu

[2018-11-17 22:33] alexgleason opened #4911 "Expose `getSelectedBlocksList` and `getSelectionText` as globals"
See [DraftUtils.js](https://github.com/wagtail/wagtail/blob/882f8f3cf8ddd79c30e611a48882b309e90dad0c/client/src/components/Draftail/DraftUtils.js).

It would be great to have these exposed like `window.draftail.utils.getSelectionText` and `window.draftail.utils.getSelectedBlocksList`.

Chances are, if you're making a Draftail plugin, you'll need to use these. Maybe `window.draftail.utils` can be d

[2018-11-18 10:42] DzMkh commented on #2759
@gasman Hi,
Is it possible somehow to exclude fields from form for Page-models depending on some conditions?

Right now I have only 1 solution:
[code]

Bu it only hides input instead of removing field panel at all. I need somehow override **exclude** in **Meta**.

[2018-11-18 21:12] zerolab commented on #4910
Hi @brylie,

While you are asking for a core-driven approach, I would like to point you towards a contributed extension - https://github.com/rkhleics/wagtailmenus - as it ticks all the boxes for the above.

I think it is worth making use of the Wagtail module ecosystem, while keeping its core lean and extensible. Wagtail needs a better ecosystem discovery mechanism, on or linked from wagtail.io

[2018-11-18 22:00] brylie commented on #4910
Ah, thanks for the recommendation. I hadn't found that.

I agree with a lean and extensible core philosophy, but also appreciate when contrib ecosystem gets commitment from core developers around common project needs.

By way of counter-example, I have been working in Meteor.js for about four years. One key thing many projects need is a router. However, the Meteor core developers never committed t

[2018-11-19 02:56] izakp commented on #4347
Same problem here - it makes it impossible to use `generate_signature` in a models.py file without using a lazy import - my use case it adding a custom property to a Model that gets an image url using `generate_signature` and returning it via an `APIField` for that model.

[2018-11-19 11:09] zerolab commented on #4347
I do not see why not move the two functions to wagtail.images.utils
You are welcome to open a pull request ;)

[2018-11-19 13:32] eviltnan opened #4913 "Modeladmin doesn't discover proxy models"
### Issue Summary

Modeladmin PermissionHelper looking up for permission objects with self.opts.app_label/self.opts.model_name, which is not correct for proxy models.

### Steps to Reproduce

1. start new project
2. declare custom model in models.py, which extends existing model using proxy model mechanism
3. declare custom model admin for that model
4. admin won't show up in the menu

looks like

[2018-11-20 14:18] litobro opened #4914 "Exception for ContentType.get_object_for_this_type() not handled in core/models.py"
### Issue Summary

Wagtail occasionally produces a "X matching query does not exist." on the live pages of the site.

### Steps to Reproduce

1. This is a partial migration from an existing site with existing tables. Some of those existing tables are for user forms and are empty.
2. Start a new app.
3. Edit models.py in an app to have an empty model, in my case it's called "Volunteer" and has stan

[2018-11-20 22:55] renanrcns opened #4918 "Duplicated extra HTML tags with overwriting image_to_html function"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Rendering an overwritten image tag with extra fields makes it duplicate the extra fields.

### Steps to Reproduce

I create a caption field for my image field (using a custom image field as the documentation explains):
**models.py**
[code]
Then to actually show that caption with every image I overwrite the image_to_html functio

[2018-11-21 03:08] dfirst commented on #3282
Hi everyone. I want to propose an idea of how to make wagtail apps more flexible. Here is raw proof of concept with tests passes:
https://github.com/dfirst/wagtail/tree/PROPOSE_forking_wagtail_apps
Short summary of idea:
1. Use dynamic imports of classes we want to be customizable.
2. For customization i used idea of locale fork of wagtail and dynamic importer. First importer check if class exists

[2018-11-21 16:15] alexgleason commented on #1158
Just wanted to share my solution for a workaround.

https://github.com/ProjectTIER/projecttier.org/blob/cb402b0102cdcb830e24341f15615e74814fb8fd/project_tier/urls.py#L14

https://github.com/ProjectTIER/projecttier.org/blob/cb402b0102cdcb830e24341f15615e74814fb8fd/project_tier/core/views.py#L1-L22

Therefore, visiting `/document/view/<mydoc>` will make the document viewable rather than downloaded.

[2018-11-21 20:55] coredumperror opened #4919 "Some StreamFields are broken with js initializer errors, but not because of using FieldPanel."
### Issue Summary

When the Settings form on my site is set up to use a StreamField, they appear fine when first rendered, but clicking any of the Block buttons in their UI causes a javascript error. This is the exact same symptoms as #3444 and #1207, but we *are* using `StreamFieldPanel`, so the cause is not due to using `FieldPanel`. This did not happen when I first developed the feature that us

[2018-11-21 21:21] kaedroho opened #4920 "Page.copy() not copying many to many fields"
Spotted in: https://github.com/wagtail/wagtail/pull/4827

According to [this comment](https://github.com/wagtail/wagtail/blob/1ff6a5003aff7e511d45d03b1371d2da3667eaee/wagtail/core/models.py#L1070) M2M fields should be handled as child objects and therefore the new page should have all the same links as the old one.

[2018-11-21 21:29] gasman commented on #4920
(marking as Needs Info as this needs to be confirmed with a reproduction / test case)

[2018-11-21 22:42] tim1724 commented on #4909
That's because it's not part of Wagtail per se. ParentalKey is defined in [django-modelcluster](https://pypi.org/project/django-modelcluster/).

But modelcluster's documentation is fairly minimal and it might be a good idea to cover it directly in the Wagtail documentation. It's pretty central to Wagtail after all.

[2018-11-21 22:45] tim1724 commented on #4890
Yes please!

This tripped me up last night while setting up a new site. It took me an embarrassingly long time to realize that my `publish_scheduled_pages` cron job was working just fine and that I had neglected to set the timezone in my user preferences.

[2018-11-21 23:12] DzMkh commented on #1680
@loicteixeira
Thanks for the information.
Also I found the similar question on SO and I left a comment with implementation basing on your tip.
The [link](https://stackoverflow.com/a/53421701/9160338) =)

[2018-11-23 02:41] XiangxiangXu commented on #1407
Remark: In wagtail 2.0+, one should use wagtail.**documents**.models instead of wagtail.**wagtaildocs**.models.

[2018-11-23 11:55] victoriachan commented on #1049
Agree that "external link" heading seems wrong. What about in addition to "Internal link | External link | Email link" options, we just add an "Anchor link" option which actually is almost identical to External link except it accepts and only accepts anchor links (for current page)?

[2018-11-23 15:31] patjouk commented on #4735
Happened to us too two times: in August and again yesterday. Wagtail is pinned to 2.1.3 in our PIpefile.

[2018-11-26 08:49] mnowotka commented on #1708
I also vote for the ability to upload SVG images and I don't need image manipulation stuff for SVG.

[2018-11-26 11:53] tombola commented on #4735
Also of note, If you have upgraded to/past 2.2, and you have any custom image models you will need to run `makemigrations` to add the file hash for the model.

[2018-11-26 16:34] mnowotka opened #4925 "'register_page_listing_buttons' can only add a button but not remove one."
Hello,

First of all, I'm really sorry not to follow a bug template but what I want to describe is not a bug. Also, I can't find any information about a mailing list, slack channel or any other blessed way to reach wagtail developers.

I'm creating a wagtail-based administrative back-end but the front-end is rendered by a separate app consuming the wagtail REST API so in my case "View draft" and "

[2018-11-26 17:02] zerolab commented on #4925
Hey @mnowotka,

please see https://github.com/wagtail/wagtail#community-support for information on reaching the wider Wagtail community (and the core developers too).

I think this could be a useful addition. IMHO, we should follow the register + construct hooks pattern that `register_admin_menu_item ` and `construct_main_menu` or more recently `register_page_action_menu_item ` + `construct_page_a

[2018-11-26 18:06] gasman commented on #1708
Thanks all for the feedback. It sounds like the feature most people here are asking for (namely: ability to upload and choose SVG images, and then render an `<img>` tag on the template with the appropriate URL) is something that can be achieved easily by defining a snippet model with a `FileField` - no need for it to integrate with the wagtailimages app, or to make any other core changes to Wagtai

[2018-11-27 23:02] ntravis opened #4928 "TravisCI is deprecating containerized infrastructure"
### Issue Summary

TravisCI announced they are deprecating the container-based infrastructure (denoted by `sudo: false`, see this [blog](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration) for more info). They are going to be implementing the deprecation fairly quickly, quoted below from the linked blog:

[code]

It appears pretty easy to handle (just remove `sudo: false

[2018-11-28 11:07] #4928 closed

[2018-11-28 15:58] gasman commented on #4918
Hi @renanrcns,
The attributes returned by `editor_attributes` need to be on the outermost element (i.e. `<feature>`).

[2018-11-28 15:58] #4918 closed

[2018-11-28 16:29] gasman commented on #4919
Hi @coredumperror - thanks for the report. I can confirm that this can be reproduced on a fresh project with a trivial StreamField in a settings object...

    @register_setting
    class SocialMediaSettings(BaseSetting):
        stuff = StreamField([
            ('text', blocks.CharBlock()),
        ])

[2018-11-28 17:06] gasman commented on #4919
Oops, looks like I made the same mistake as everyone else and forgot to use StreamFieldPanel :-) Adding this now works as expected:

    @register_setting
    class SocialMediaSettings(BaseSetting):
        stuff = StreamField([
            ('text', blocks.CharBlock()),
        ])

        panels = [
            StreamFieldPanel('stuff'),
        ]

Unfortunately that does mean there's not enough

[2018-11-28 17:06] #4919 closed

[2018-11-29 14:08] ChristophTr opened #4931 "Page.copy() should copy Parental Many to Many fields"
### Issue Summary

Looking at the relevant code in `Page.copy`, unfortunately it doesn't look like we're doing anything to deal with those fields when copying revisions. `exclude_fields_in_copy` does not work on Parental M2M relations also, due to this limitation.

### Steps to Reproduce

1. Open the wagtail bakery demo (admin) and edit the first 'Bread' page by adding some ingredients (as it is a

[2018-11-29 15:39] gasman commented on #4846
PR created: #4932

[2018-11-29 23:16] ec-raphael opened #4934 "Site Configuration Unstable"
### Issue Summary

Site configuration intermittently changing. I don't understand why or how.

Another symptom (this is the _actual_ problem for me) is that when using the rest API, pages' "html_url" switch intermittently between the correct url and `null`.

### Steps to Reproduce

Kindof unclear to me how to reproduce... but it's happening on what is supposed to be the production instance of a si

[2018-11-29 23:54] gasman commented on #4934
Hi @ec-raphael,
Unfortunately this is not something we can handle as a Wagtail bug report - there's clearly something fundamentally broken in the hosting environment, as the log messages seem to show that it's failing on basic template variable lookups, rather that Wagtail being at fault.

I'd suggest trying to deploy the [bakerydemo](https://github.com/wagtail/bakerydemo) project - which comes wi

[2018-11-29 23:54] #4934 closed

[2018-11-30 12:11] #4881 closed

[2018-11-30 16:36] #4785 closed

[2018-12-02 02:50] BertrandBordage commented on #4473
Hi @benenright & @jonnyscholes!

Thank you very much for your detailed comments. I carefully considered each one of them, and tried to make the best compromise with all the rest of the discussion within the Wagtail community in the past two years.

Please both of you look at https://noripyt.github.io/react-streamfield/example/

As you can see, the more visible difference is probably the white back

[2018-12-02 05:10] BertrandBordage commented on #4473
I just published wagtail-react-streamfield version 1.0.0 :)
Here’s what it looks like, including @benenright & @jonnyscholes latest suggestions:

![image](https://user-images.githubusercontent.com/1119169/49335948-7b0dda00-f5f8-11e8-96e4-ae919afcb31a.png)

As you can see, this screenshot shows both the `SIMPLE` and `COLLAPSIBLE` layouts used together.

The current status is very stable, so I’m mak

[2018-12-02 07:01] jsma commented on #161
For the specific use case of simply renaming the title field or changing the help text on a per-page basis, could this be solved as simply as changing the following:

https://github.com/wagtail/wagtail/blob/a134302548e0ade89e1acac65fc88395587f3f74/wagtail/admin/edit_handlers.py#L518-L521

To this?
[code]

This lets me do:
[code]
This is what I get:

<img width="1061" alt="screen shot 2018-12-01 at

[2018-12-02 21:46] brylie opened #4936 "Improved user experience with ForeignKey field displayed in FieldPanel?"
I have a project with the following models:

- Article - inherits Page
- Author - regular Django model with two fields (first and last name)
- ArticleAuthor - many-to-many child of Page with FK to Author (using [InlinePanel](http://docs.wagtail.io/en/v2.0/reference/pages/panels.html#inlinepanel))

When selecting the Author while editing an Article, I am presented with a dropdown select menu of art

[2018-12-03 04:46] jonnyscholes commented on #4473
Hey @BertrandBordage this looks great! Thanks for taking the time to work through all of everyones comments and finding a balance - it's a hard thing to do and is very much appreciated!

I think @benenright's first comment still holds and giving the "+" buttons on the left some more space is probably the only thing I'd see changed at this point. And whilst I can see how making them smaller might h

[2018-12-03 12:42] kaedroho opened #4937 "Tracking issue for search autocomplete API (RFC 27)"
This issue is to track progress on implementing the new autocomplete API in Wagtail.

Phase 1: Groundwork:

- [x] Implement AutocompleteField
- [x] Implement .autocomplete() method on search backends and BackendAutocompleteQueryCompiler class

Phase 2: Elasticsearch:

- [x] Implement indexing support for AutocompleteField
- [x] Implement ElasticsearchAutocompleteQueryCompiler

Phase 2: PostgreSQL

[2018-12-03 15:22] BertrandBordage commented on #4937
@kaedroho I see you assigned me. Was it for “Implement indexing support for AutocompleteField”? It’s already done and merged :slightly_smiling_face: (checked the list item)

[2018-12-03 17:20] kaedroho commented on #4937
Oh, I couldn't find any mention of it in the code. Thanks!

[2018-12-03 19:10] gasman commented on #4006
Have just rediscovered this bug... An extra source of confusion is that the Search / Upload tabs within the chooser don't work, because both modals use the same element IDs and so the tab controls end up activating the panels on the unseen modal.

![duplicate_image_chooser](https://user-images.githubusercontent.com/85097/49395620-f2458a00-f72e-11e8-9761-827ed8a52bcd.gif)

[2018-12-04 16:52] gasman opened #4940 "System check for missing core page fields in search_fields"
### Issue Summary

It's possible to accidentally set a page model's `search_fields` to a list that is missing the core Page fields such as `content_type` (either by forgetting the `search_fields = Page.search_fields + ...` incantation, or by not being careful enough with mixin classes). This causes an error when one of those results is returned in the Wagtail admin search, because it performs a fa

[2018-12-04 17:21] BertrandBordage commented on #4473
Thank you @jonnyscholes!

You’re totally right. I initially had bugs related to the size of these add buttons, that’s why I kept them this way, with a narrow width. Now this bugs are resolved (they were coming from react-beautiful-dnd if I remember well), so I gave it a new try.

And it’s working great! I used your 34×34px suggestion, it worked really well. With 44 or 40px it was too big. I worked

[2018-12-04 18:39] gasman commented on #4914
Hi @litobro - thanks for the report. Unfortunately, without specific steps for reproducing this on a fresh Wagtail instance there's not much we can do to investigate this - my best guess is that you've run `dumpdata`/`loaddata` at some point and run into #1366. If you are able to replicate this on a new project, please update and we'll be happy to reopen and investigate further.

[2018-12-04 18:39] #4914 closed

[2018-12-04 19:03] kaedroho commented on #4937
@BertrandBordage Are you sure about that? I'm looking at the indexing code and can't see it: https://github.com/wagtail/wagtail/blob/master/wagtail/contrib/postgres_search/backend.py#L94-L96

[2018-12-04 19:38] BertrandBordage commented on #4937
Aaaaah, sorry, you’re right. Brain fart.

[2018-12-04 21:35] jonnyscholes commented on #4473
@BertrandBordage Awesome! Nothing I can think of :) submit away! 🎉🎉

[2018-12-04 22:31] jwogrady opened #4941 "no such table: main.wagtailcore_page__old"
### Issue Summary

While completing the tutorial started getting this error.

return Database.Cursor.execute(self, query, params)
django.db.utils.OperationalError: no such table: main.wagtailcore_page__old

### Steps to Reproduce

Follow the Extend the HomePage model section in the [tutorial](http://docs.wagtail.io/en/v2.3/getting_started/tutorial.html).

I've started a clean project, performed th

[2018-12-05 00:00] Meteor0id commented on #4766
Last week I was an event where a few start-up presented new ideas for media. Among it a few on-line tools. I can't say I saw anything new or surprising, but I did see a variant of my own idea. An annotation system for web content.

They use it in a completely different way, and I am not a fan of it. They select trustworthy users of a news site, and allow they to make annotations on articles of the

[2018-12-05 12:04] brylie commented on #4936
On further consider, the desired behavior would be similar to Wagtail snippets. The main difference would be that I added an 'Authors' section to the Wagtail Admin menu, rather than having Authors appear under the Snippets section.

[2018-12-05 12:17] gasman commented on #4941
Hi @jwogrady - thanks for the report. This is a new one on me... as far as I can see, a table name ending in `__old` is an internal Django implementation detail when running schema migrations on SQLite databases (see [docs](https://docs.djangoproject.com/en/2.1/topics/migrations/#sqlite), [source code](https://github.com/django/django/blob/196b420fcb0cbdd82970e2b9aea80251bde82056/django/db/backend

[2018-12-05 15:51] BertrandBordage commented on #4473
Here is the PR, published last night :smile:
https://github.com/wagtail/wagtail/pull/4942

[2018-12-05 16:30] alexgleason opened #4943 "HiddenInput fields are visible"
### Issue Summary

Wagtail's admin CSS doesn't properly style hidden inputs. See the screenshot (the second field, "Entity key").

![screenshot from 2018-12-05 11 24 01](https://user-images.githubusercontent.com/3639540/49527805-a7d42280-f880-11e8-8de8-8b18f2e7f468.png)

In markup, it's `<input type="hidden">` which is fine, but the label and the whole div still show up.

### Steps to Reproduce

[

[2018-12-05 16:39] gasman commented on #4943
Hi @alexgleason,
Is this form rendered with your own template? If so, you should loop over `visible_fields` and `hidden_fields` separately ([see Django docs](https://docs.djangoproject.com/en/2.1/topics/forms/#looping-over-hidden-and-visible-fields)), and only use the Wagtail styled includes for the visible ones. As far as I'm aware Wagtail's own forms always do this (see for example https://githu

[2018-12-05 16:52] alexgleason commented on #4943
Thanks for the info. I'm experiencing some separate issues now but I'll close this.

After switching to this:

[code]
Draftail breaks out of the ul tag  and the labels disappear.

![screenshot from 2018-12-05 11 49 14](https://user-images.githubusercontent.com/3639540/49529425-f931e100-f883-11e8-8f36-f94fb63752bd.png)

Sticking with my hacked CSS for now. I may open a separate issue for the Drafta

[2018-12-05 17:02] gasman commented on #4943
Ah, it's entirely possible that the `visible_fields` / `hidden_fields` mechanism is treating the Draftail widget as a hidden field, because that's what the underlying `<input>` field is. Our chooser widget classes define `is_hidden = False` to override this, and the Draftail widget may well need this added too...

https://github.com/wagtail/wagtail/blob/a9f33aa99eae37824eb604b6146f7faaa523bbfa/wag

[2018-12-05 18:42] jwogrady commented on #4941
@gasman thanks for the reply.  I rebooted my computer and started over with a clean project and venv, but still getting the same error.  All I'm doing is 'wagtail start podum', creating the super user, and runserver.  So basically, everything through step #5.  However, saving a draft and publishing triggers the error.  Here is my code. https://github.com/jwogrady/podum

[2018-12-05 21:49] Zurnaz commented on #4941
I'm getting the same thing on a fresh wagtail setup.

I also found uploading an image using the image tab in admin starts causing errors on the page /admin/images/ with "no such table: main.wagtailimages_image__old"

 [Link to traceback](https://gist.github.com/Zurnaz/d43aba6436900ced408b649d1b8fa87d)

[2018-12-06 11:05] k0nG commented on #4941
I think this might be related to https://code.djangoproject.com/ticket/29182 ?

[2018-12-06 12:10] gasman commented on #4941
Thanks @k0nG! I can confirm that I'm seeing this issue as described when running against sqlite 3.26.0. Unfortunately it looks like the only workaround for now is to downgrade to an earlier version of sqlite - presumably there'll be a Django patch release in the next few days to mitigate this.

Will close this issue, then, as it's outside of Wagtail's control.

[2018-12-06 12:10] #4941 closed

[2018-12-06 18:06] fpoulain opened #4944 "Oembed support for decentralized peertube instances"
Hi,

I would like to extend wagtail/embeds/oembed_providers.py in order to include peertube instances. Btw there is for now more than 300 instances and it will probably grow with years.
See e.g. https://instances.joinpeertube.org

So logically I think we should script the needed stuff to build an extension to oembed_providers.py. It could be quite easy using https://instances.joinpeertube.org/api/

[2018-12-06 18:51] jwogrady commented on #4941
@gasman, @k0nG, @Zurnaz thanks for your help. Thought I was going crazy!

Looks like the brew formula updated to SQLite3 `2.26.0` from `2.25.3` formula 5 days ago; around the time I started getting errors.  So expect anyone who brew installs or updates python will experience the same issue.

[code]

[2018-12-06 19:15] fpoulain commented on #4944
Another approach is a specific finder, based on URI filtering rather than on url/fqdn. Here follows one I quickly did:

[code]

What do you think about it?

[2018-12-06 19:33] jwogrady commented on #4941
Confirming that rolling back to sqlite to 3.25.3 worked for me.

Here is how I downgraded sqlite on my mac with brew....

[code]

[2018-12-06 20:06] DanielSwain opened #4945 "Feature Request: Refine the creation of the default file title when uploading an image"
As follows:

- Remove filename extension (including the period) from default image title
- Replace underscores and dashes with spaces.  These characters are many times found in image filenames but would not typically be in a title.
- Title case the title

[2018-12-07 11:08] kaedroho opened #4947 "Confusing error when forgotten to install elasticsearch-py"
If ``elasticsearch-py`` is not installed, the developer is given the following error:

``wagtail.search.backends.InvalidSearchBackendError: Could not find backend 'wagtail.search.backends.elasticsearch5':``

This is confusing as it implies that the backend name is mispelt, which it's not.

Instead, the underlying error should be raised:

``ModuleNotFoundError: No module named 'elasticsearch'```

W

[2018-12-07 12:46] Collederas opened #4949 "Change Page Type UI"
### Issue Summary

Cannot change page type after it has been created.

### Steps to Reproduce

1. Create a cutstom Page mode in the models.py of your app. Migrate
2. Create a new page with that type in Wagtail admin.
3. Create a new cutstom Page mode in the models.py of your app. Migrate
4. Try to change the type of your previously created page to this new type. You can't.

This feature would be a

[2018-12-07 14:02] gasman commented on #1083
The deployment docs have been updated considerably since this ticket was opened. The instructions for old-school hosting on nginx/apache still defer to the Django docs, but that's a feature rather than a bug - better to do that than to duplicate work and risk having outdated instructions that we aren't actively testing for ourselves.

[2018-12-07 14:02] #1083 closed

[2018-12-07 14:11] gasman commented on #839
Django's use of computationally-intensive hash functions (with a work factor that's regularly raised in new Django releases) will tend to mitigate password brute-force attacks. Additional measures, such as rate-limiting or blocking after a certain number of failed logins, would be better handled outside of Wagtail core I think.

[2018-12-07 14:11] #839 closed

[2018-12-07 14:22] gasman commented on #977
As of #4862 both image and document models have `file_size` and `file_hash` fields.

On further consideration, `file_content_type` isn't really necessary as Python's standard mechanism for [guessing content types](https://docs.python.org/3.7/library/mimetypes.html) only checks file extensions, so this won't be adding any new information that we can't derive already.

That just leaves `file_origina

[2018-12-07 16:41] gasman commented on #4944
Thanks for the suggestion @fpoulain! As this is probably a fairly "niche" interest, I'd suggest implementing it as an installable add-on package outside of Wagtail itself - that way, it can be developed and improved independently of Wagtail's release cycle. I'm happy to hear other opinions about whether peertube support should be part of core Wagtail, though.

[2018-12-07 16:41] #4944 closed

[2018-12-08 01:40] michael-yin commented on #517
@kaedroho @melinath @DDiran

I have built a whoosh backend for Wagtail [wagtail-whoosh](https://github.com/michael-yin/wagtail-whoosh)

Right now it can work Wagtail 2.0 - 2.1 , it can pass all Wagtail search backend unit tests. And I will keep making it work with latest Wagtail.

It is built to support small Wagtail project or Wagtail project based on Mysql db.

Please create issue if you have an

[2018-12-08 09:38] kaedroho commented on #517
Hey @michael-yin This looks awesome, thanks for building it!

Would you be happy/is it ready for us to do a detailed review of it? If there are no major issues, I'd be happy to link to it from the Wagtail core docs and consider this issue closed!

[2018-12-09 22:12] allcaps commented on #4945
Title case is an English thing to do and not very useful in other languages. We should keep other languages in mind when 'improving' this feature. What about multi language setups? It would be cool if the filename convert rules are configurable via settings file.

[2018-12-10 11:49] michael-yin commented on #517
Hi, @kaedroho

This project now works fine from Wagtail 2.0 to Wagtail 2.1.

And I plan to make it work with the latest stable Wagtail version.

But I also have a problem which might need your help.

In Wagtail 2.2, some low level API has changed, `SearchQueryShortcut` and `Term` has been changed to other class.

I did a simple test it seems some methods also been removed.

Now I know there are tw

[2018-12-11 02:42] jumpyoshim commented on #1824
I faced the same problem. When will it be fixed?
In some cases,  I have to give up using wagtail.

Requirements:
[code]

[2018-12-11 12:20] gasman commented on #517
I think there'd be definite advantages to this being part of Wagtail core rather than just a third-party extension - we can set it as the default backend on the project template so that new projects get full-featured search out of the box, rather than the limited database-only backend.

[2018-12-11 17:35] mulatuG opened #4953 "Wagtail page creation error"
Environment:

Request Method: GET
Request URL: http://127.0.0.1:8000/admin/pages/add/it/coursepage/10/

Django Version: 2.1.4
Python Version: 3.7.0
Installed Applications:
['home',
 'search',
 'iot',
 'it',
 'wagtail.contrib.forms',
 'wagtail.contrib.redirects',
 'wagtail.embeds',
 'wagtail.sites',
 'wagtail.users',
 'wagtail.snippets',
 'wagtail.documents',
 'wagtail.images',
 'wagtail.search',

[2018-12-11 19:00] gasman commented on #4953
Hi @mulatuG,
This has now been answered at https://stackoverflow.com/questions/53729663/init-got-an-unexpected-keyword-argument-owner . In future, please use Stack Overflow rather than Github for support queries. Thanks!

[2018-12-11 19:00] #4953 closed

[2018-12-12 11:55] ababic commented on #4913
Thanks for reporting @eviltnan. I've added a PR (#4952) to address this, if you'd like to take a look / comment? Just awaiting on feedback from core team members.

[2018-12-12 15:39] eviltnan commented on #4913
Looks good to me! Thank you for researching :)

[2018-12-13 11:18] gasman commented on #4766
Hi @Meteor0id,
As it happens we've recently been commissioned to build a version of this feature for a client - unfortunately it's taking a while to get sign-off from them to release it as open source, but hopefully we'll soon be able to release this as an installable add-on package.

[2018-12-13 15:32] Meteor0id commented on #4766
@gasman Your client has a good taste for features :)
Hope they realise that if they don't sign off we will just have to reinvent the wheel. Annotations are gonna be a big thing.

[2018-12-14 08:31] allcaps commented on #4910
Some Wagtail package listings:
- https://pypi.org/search/?c=Framework+%3A%3A+Wagtail
- https://djangopackages.org/grids/g/wagtail-cms/
- https://github.com/springload/awesome-wagtail
- https://github.com/search?q=wagtail
- Your favourite search engine

I also like to point out that not having a default menu solution fits the [Zen of Wagtail](http://docs.wagtail.io/en/v2.0/getting_started/the_zen_o

[2018-12-14 09:12] brylie commented on #4910
Thanks for sharing the links to the Wagtail package listings.

As mentioned by @zerolab, it is worth considering an official package listing effort, similar to those available to the [DjangoCMS](https://marketplace.django-cms.org/en/), [Drupal](https://www.drupal.org/project/project_module), [Joomla!](https://extensions.joomla.org/),  [Mezzanine](http://mezzanine.jupo.org/docs/overview.html#third-

[2018-12-14 09:13] brylie commented on #4910
Thanks for sharing the links to the Wagtail package listings.

As mentioned by @zerolab, it is worth considering an official package listing effort, similar to those available to the [DjangoCMS](https://marketplace.django-cms.org/en/), [Drupal](https://www.drupal.org/project/project_module), [Joomla!](https://extensions.joomla.org/),  [Mezzanine](http://mezzanine.jupo.org/docs/overview.html#third-

[2018-12-14 10:01] tomdyson commented on #4910
Thanks very much for your perspective on this, @brylie.

While I agree with the 'lean core' approach advocated by @zerolab and @allcaps, your Meteor example is a good reminder of the unintended consequences of purism! More importantly, I think it's easy for Wagtail insiders to overestimate the awareness that newcomers have about the ecosystem. With that in mind, I would love to take you up on your

[2018-12-14 11:07] brylie opened #4955 "Wagtail package directory"
## Challenge
Wagtail plugins are a bit hard to discover, as they are scattered across several channels:

- https://pypi.org/search/?c=Framework+%3A%3A+Wagtail
- https://djangopackages.org/grids/g/wagtail-cms/
- https://github.com/springload/awesome-wagtail
- https://github.com/search?q=wagtail
- https://stackoverflow.com/search?q=%5Bwagtail%5D+menu

## Proposal
Lets build an official listing of Wa

[2018-12-14 17:45] DanAtShenTech opened #4956 "Required attribute not placed on <select> element that is generated by Wagtail forms"
### Issue Summary

In a Wagtail form I have created a Drop down field type and set the Required attribute to true.  When the form is rendered, the `required` attribute is not being placed on the `<select>` in the html.  Other field types defined in this form (Single line text, Checkbox) come through with the `required` attribute fine.

### Technical details

* Python version: 3.5
* Django version:

[2018-12-14 19:34] inostia commented on #2941
Is there any reason why this wasn't merged yet? This is a necessary feature for my org, we need to render the items on the FE in the order they appear on the admin interface.

[2018-12-15 01:04] tomdyson commented on #2941
@inostia why what wasn't merged? This is an issue, not a PR. There was an associated PR, but that was closed for reasons outlined above.

[2018-12-15 11:32] gasman opened #4958 "More informative error for invalid values passed to `|richtext`"
Passing a value other than a string, `None`, or a `wagtail.core.rich_text.RichText` object to the `|richtext` template filter currently throws a hard-to-decipher error: `TypeError: expected string or bytes-like object` in wagtail/core/rich_text/rewriters.py. Reported here: https://stackoverflow.com/q/53790708/1853523

We should add a check to the template filter [here](https://github.com/wagtail/w

[2018-12-15 15:26] kaedroho opened #4959 "update_index's real-time progress indication broken"
### Issue Summary

The update_index command used to print a '.' for every 1000 items it indexed as it indexed them. Now it hangs and suddenly displays all '.'s at once when indexing is finished

### Steps to Reproduce

1. Run ``update_index`` on a project with an indexed model with more than 1000 items

### Technical details

* Wagtail version: 2.4rc1

[2018-12-15 15:30] kaedroho commented on #4959
Looking at the history, only small changes have been made to ``update_index``. I'll update this ticket when I've figured out what's up with my local setup.

[2018-12-15 15:40] brylie commented on #4955
I will be adding details to the issue description above, that we explore in the process of discussion.

[2018-12-15 15:42] brylie commented on #4955
One idea that would use some clarification is how we categorize the addons. E.g. should there be a pre-defined, but not immutable, list or hierarchy of categories (like a software trove)? Should there be a more free-form way to categorize, or tag, addons? Should we take a hybrid approach?

[2018-12-15 15:47] brylie commented on #4955
What might the process be for listing a package in the package directory? Are there a select few users who are responsible for adding packages? Can authenticated users submit a package for review and publication?

[2018-12-16 18:11] abadger1406 commented on #1708
+1 for SVG for logo img support

[2018-12-17 09:09] therefromhere opened #4960 "OneToOneField on Page causes subclasses to fail validation"
### Issue Summary

A OneToOneField on a Page causes subclasses of the page to fail to publish with a `django.core.exceptions.ValidationError: {'foo': ['Home page with this Foo already exists.']}`

I'm guessing this is because the parent page is being found when it's doing unique validation.  If I exclude this field from unique validation then I don't hit the bug (but that renders the OneToOneField

[2018-12-17 11:50] sir-sigurd commented on #4889
PR: https://github.com/wagtail/wagtail/pull/4957

[2018-12-17 17:16] gasman commented on #4889
Fixed in #4957

[2018-12-17 17:16] #4889 closed

[2018-12-17 17:32] #4956 closed

[2018-12-18 08:45] therefromhere commented on #4960
Some debug on this, the unique check fails because this returns null:

```model_class_pk = self._get_pk_val(model_class._meta)```

django/db/models/base.py:1030  (Django 2.1.4)

during page.save() in PageRevision.publish() because page_ptr_id is null, so the "foo" unique validation doesn't exclude itself.

I think this is because the model is in a weird state when converting from a PageRevision to

[2018-12-18 12:56] gasman opened #4961 "makemigrations fails on a database that has not yet run Wagtail 2.3->2.4 migrations"
### Issue Summary

Running `./manage.py makemigrations` immediately after upgrading a site from Wagtail 2.3 to 2.4rc1 fails with the error:

    django.db.migrations.exceptions.InconsistentMigrationHistory: Migration wagtaildocs.0005_document_collection is applied before its dependency wagtailcore.0001_squashed_0041 on database 'default'.

This new squashed migration was introduced in #4916; a pre

[2018-12-18 18:12] hypercodex commented on #1824
this is clunky, what can we do to fix this?

[2018-12-19 04:53] support-wantify opened #4962 "AttributeError: 'str' object has no attribute 'get_prep_value' after trying to use a StreamField"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Whenever I try to migrate, I get the error: AttributeError: 'str' object has no attribute 'get_prep_value'

### Steps to Reproduce

1. Add a StreamField at one point
2. Remove StreamField - the error sticks around

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen inst

[2018-12-19 05:16] dsreliete commented on #4941
I don't know if I am doing something wrong but I downgrade de sqlite3 and the error keeps going on. Does anyone have a solution?

[2018-12-19 05:41] jwogrady commented on #4941
Did you regenerate the database after the migration?  I recall having to do
that.

On Dec 18, 2018, at 11:16 PM, Eliete da Silva Rodrigues <
notifications@github.com> wrote:

I don't know if I am doing something wrong but I downgrade de sqlite3 and
the error keeps going on. Does anyone have a solution?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on G

[2018-12-19 12:27] 5in4 opened #4964 "Reordering Pages in admin stopped working"
### Issue Summary
Reordering Pages in admin stopped working, new state is not saved to database

### Steps to Reproduce

As default, pages are ordered by UPDATED. Clicking on "Enable ordering of child Pages" does not change the view to the previously defined order, but ordering stays sorted by UPDATED

When dragging a Page to a new position, a POST request with the correct new order is done, but n

[2018-12-19 14:46] gasman commented on #4961
Addressed by #4963

[2018-12-19 14:46] #4961 closed

[2018-12-19 14:56] gasman opened #4965 "Create new squashed migration for wagtailcore"
#4916 (creating a new squashed migration for wagtailcore) was reverted for the 2.4 release (in #4963) because it caused `./manage.py makemigrations` to fail on a newly-upgraded Wagtail installation, as reported in #4961.

It's not clear why this was failing - it's most likely that we need some special treatment for the fact that we're replacing an existing squashed migration, but in my tests it wa

[2018-12-19 15:22] allcaps commented on #4955
I discussed this issue with some core members. This is what we talked about.

First, a Wagtail packages listing site is a good idea.

There are some concerns:
- There are already many listings out there. All with their own twist and focus.
- Keeping the listing up to date is a lot of work.

We need:
- A low maintenance/crowdsourced solution for the contents.
- Automated aggregation of package stat

[2018-12-19 17:32] dsreliete commented on #4941
I deleted migrations files and ran comands like:
[code]

Still the error persists.
Then I tried the comand
`python manage.py migrate my_app zero `

and made another migrations and nothing works.
Is there another way to do that? please let me know :)
Thanks in advance

[2018-12-19 17:54] mjlabe commented on #4473
Is this in 2.4?

[2018-12-19 18:42] allcaps commented on #4473
@mjlabe you can use this functionality as it is available as wagtail package via https://github.com/noripyt/wagtail-react-streamfield.

[2018-12-19 18:53] gasman commented on #4962
Hi @support-wantify - thanks for the report.
Unfortunately there's not enough information here for us to replicate the issue or determine whether it's caused by a Wagtail bug or user error - adding and removing a StreamField on a newly-created Wagtail project does not produce this error as described. To investigate further, we would need to know the exact sequence of steps which produces this.

Yo

[2018-12-19 18:53] #4962 closed

[2018-12-19 18:54] gasman commented on #4964
Hi @5in4 - can you share the output of the `fixtree` command, please?

[2018-12-20 07:57] 5in4 commented on #4964
Hi,

this is the output when I run fixtree now:

`$ ./manage.py fixtree`
`No problems found.`

When I ran fixtree before, it found an issue which could be fixed, but it changed nothing in behaviour

[2018-12-20 09:53] MikeOverkamp opened #4966 "Add cache keys to admin static files"
### Issue Summary

Wagtail admin static files do not have cache keys / hashes in their file names, which causes caching problems for some users when upgrading Wagtail.

### Steps to Reproduce

Obviously this cannot be reproduced on a fresh Wagtail installation, as caching is no issue there. However in existing sites, some admin functionality may break because old static files are served from cache

[2018-12-20 10:23] gasman commented on #4966
Hi @MikeOverkamp,
Thanks for the report. This is covered by #3700 and the resulting PR #4745 - the template for new projects created since Wagtail 2.3 now enables `ManifestStaticFilesStorage` in production, and there's [a note recommending this in the deployment docs](https://docs.wagtail.io/en/stable/advanced_topics/deploying.html#static-files). Unfortunately there's probably no good way for Wagt

[2018-12-20 10:23] #4966 closed

[2018-12-20 10:55] gasman commented on #4964
Ah, I misread - I thought fixtree was reporting issues that it couldn't fix itself... Thanks for the clarification.

Just to be sure that this isn't the UI issue described in #882 - can you confirm that clicking on "Enable ordering of child Pages" again after doing the POST still shows the pages in the original (updated-at) order?

[2018-12-20 11:06] 5in4 commented on #4964
Yes. With enable ordering enabled, I can drag all items to the position I want them to be, after disabling it again all changes are lost and it reverts to sorting by updated at.

[2018-12-20 11:12] gasman commented on #4964
And if you _re-enable_ it again after that, they're still lost?

[2018-12-20 12:03] 5in4 commented on #4964
Yes. Here's a gif showing the behaviour:
![ezgif-1-fc1653cbe4a2](https://user-images.githubusercontent.com/286750/50283856-769a4b80-0457-11e9-9c6e-44cf476f5b38.gif)

[2018-12-20 12:19] brylie commented on #4955
How should we mitigate spam submissions?

[2018-12-20 14:11] jchillerup commented on #4941
I'm getting this error in a completely unrelated piece of Django code, just FYI. My feeling is that the problem is upstream, too.

[2018-12-22 09:45] robvdl opened #4967 "Wagtail 2.4 routable page mixin dropped support for current LTS Django but is not in release notes"
This is not really a bug but I found out that Wagtail 2.4 just released has dropped support for the current Django 1.11 LTS release (routable page mixin), yet it isn't mentioned in the release notes.

It tries to import django.urls.URLResolver which isn't in the current LTS version of Django.

I think it isn't a good idea to drop support for the current LTS until the next LTS of Django gets releas

[2018-12-22 10:00] robvdl commented on #4967
The reason this is a big deal is because I had a site running Wagtail 2.2.x on LTS Django and the admin suggests upgrading to Wagtail 2.4, but in order to do that, I need to get off the LTS version of Django.

In order to upgrade from Django 1.11 to 2.1.4, the user must deal with other issues that need to be resolved.

[2018-12-22 10:11] gasman commented on #4967
Hi @robvdl,
This is documented in the release notes here: https://docs.wagtail.io/en/stable/releases/2.4.html#removed-support-for-django-1-11
Wagtail's current LTS release is 2.3, so if you're choosing to stay on Django 1.11 due to it being a LTS release, then you should also stay on Wagtail 2.3.

[2018-12-22 10:11] #4967 closed

[2018-12-22 23:13] allcaps commented on #4955
Related
https://github.com/librariesio/libraries.io
https://libraries.io/search?q=wagtail

[2018-12-24 10:40] fpoulain opened #4968 "Documentation translation"
Hi,

I would like to translate Wagtail's documentation. I think starting with the editor's guide.

But afaik there is currently no translation infrastructure... Is there some hint about how to organize it?

Merry Christmas.
François

[2018-12-24 10:40] SalahAdDin commented on #4968
For Spanish too.

[2018-12-24 14:57] robslotboom opened #4969 "Edit image duplicate buttons"
### The edit image view has duplicate buttons

Have a look at the image.

### Technical details

* Python 3.6.4
* Django 2.0.5
* Wagtail 2.4.
![wagtail_images](https://user-images.githubusercontent.com/8074866/50402134-83d77300-0794-11e9-84c0-4381a2d233bf.jpeg)

[2018-12-24 14:59] robslotboom commented on #4969
Duplicate butters vanished after restart??

[2018-12-27 15:24] DanAtShenTech opened #4970 "{{ site_name }} is returning host name instead of site name"
In [customizing the Wagtail login page](https://docs.wagtail.io/en/v2.4/advanced_topics/customisation/admin_templates.html?highlight=site_name%20#specifying-a-site-or-page-in-the-branding), I set up the following using {{ site_name }} as documented:

[code]
I expected (and wanted) to see the site name on the login page, but instead it renders the host name.  Is this how it is supposed to behave?

[2018-12-27 21:46] allcaps commented on #4970
Digging a bit:

Wagtail subclasses the Django LoginView.
The django.contrib.auth.views.LoginView#get_context_data uses the get_current_site method from django.contrib.sites.shortcuts this is based on the Django sites framework.

We don't need the Django Site we need a Wagtail site. Something like:
wagtail.core.sites.get_site_for_hostname or wagtail.core.models.Page#get_site

[2018-12-28 02:52] DanAtShenTech commented on #4970
Thank you.  I won't have time to do anything on this for at least several months so am hopeful someone else can pick up on this.

[2018-12-28 02:54] DanAtShenTech commented on #4945
I would add that this feature request could apply to uploaded document filenames as well.

[2018-12-28 07:38] mukesh5 commented on #4958
Hello, I am first time contributor. Can I work on this?

[2018-12-28 21:53] thorink commented on #4277
We also have this problem where we want to further restrict the access for subpages.

We have a menu entry "Intern" which we don't want to show to the public audience. This page has the `LOGIN` restriction. Further down we have different sub pages that have further restrictions based on the users groups. I think this scenario is quite common, so I would argue that the bug is in the admin form (lik

[2018-12-28 21:55] thorink commented on #4277
@nimasmi Do you have a workaround other than

- moving the page to a unrestricted place
- modifying restriction of subpage
- and moving back again?

[2018-12-29 11:04] elton2048 commented on #2941
For guys who requires this feature I created a package [wagtail-orderable](https://github.com/elton2048/wagtail-orderable) for that. Simply extends with the `Orderable` model and apply `OrderableMixin` for `wagtail_hooks.py` should give you the feature. Leave any issue if any.

Most code are contributed by @ababic from this [commit](https://github.com/rkhleics/wagtail/commit/08df07689af1096ce4a6fa

[2018-12-29 16:33] gasman commented on #4958
@mukesh5 Yes please!

[2018-12-29 16:43] gasman commented on #4941
@vx1234 As far as I can see, the fix from https://code.djangoproject.com/ticket/29182 has not made it into an actual release of Django yet - the most recent new release was [December 3rd](https://www.djangoproject.com/weblog/2018/dec/03/bugfix-releases/) - so any version of Django that you install at the moment will still be affected.

[2018-12-29 21:34] ababic commented on #2941
@elton2048 thank you for taking the time to put wagtail-orderable together. I really feel a separate package is the best way to go here. Far easier to gather feedback and evolve things that way.

[2018-12-30 09:14] vx1234 commented on #4941
@gasman Thank you! Your links were useful, allowing me to learn from your investigative process.
I will like to check if you will be able to guide on sqlite roll-back steps for Windows, which is a solution to this problem? Thanks again.

[2018-12-30 17:43] SebCorbin commented on #1824
As most of you, I had this problem while working integrating in a existing project. After reading this thread I found out that only my Selenium tests were failing and that was due to cascade not being specified. I simply overrode the `_fixture_teardwon()` to force `allow_cascade` when the flush command was called.

[code]

[2018-12-31 17:16] nek4life commented on #3026
Hi, is this fix still off the table? This seems like basic functionality a rich text editor should support. We're trying to keep things simple for one of our remote offices and converting the body field into a stream field adds an additional level of support and training that could potentially be difficult to manage.

[2018-12-31 21:48] nerdoc commented on #4941
I can confirm that under the current Django dev (pip install git+https://github.com/django/django.git) The bug is gone. Only migrating to that version runs in an error. But with a fresh DB it works.

    Django==2.2.dev20181231154732

Hopefully this is fixed in Django 2.1.5?

[2019-01-01 23:27] ababic opened #4973 "Supporting proxy models throughout Wagtail"
### Issue Summary

While there are a number of issues/PRs relating to support of proxy models in various parts of Wagtail (#1736, wagtail/wagtail-modeladmin#16, wagtail/wagtail#1029, wagtail/wagtail#4273, wagtail/wagtail#3594), I feel that we're missing a trick by only looking at the those issues in isolation. This issue aims to discuss the matter more generally, with an aim to establishing a clea

[2019-01-02 09:16] nimasmi commented on #4277
@thorink I was reporting the issue on behalf of a colleague, after she found it and we discussed it together. I don't remember her use case, and I don't have a fix myself. I was arrogantly leaving it in the hands of the Wagtail team.

[2019-01-02 15:44] commadelimited opened #4977 "Best way to redirect the homepage to another page"
### Issue Summary

Eventbrite is using Wagtail as a headless CMS. We're going to be creating page models for a number of different areas of the site, and retrieving data via the API. This means that we don't want the homepage `/`.

We'd like to intercept any attempt at accessing the default Wagtail homepage and redirect it to the main Eventbrite homepage. After some digging it appears that all of

[2019-01-02 16:44] zerolab commented on #4977
Hi @commadelimited,

You can accomplish this in several ways:

1. do the redirect at the server level (or load balancer)
2. Use the [before_serve_page hook](https://docs.wagtail.io/en/v2.4/reference/hooks.html?#before-serve-page) if you want this to happen for more than just the homepage.
3. Override the serve method for your homepage model - https://docs.wagtail.io/en/v2.4/reference/pages/model_r

[2019-01-02 16:51] chosak commented on #4973
@ababic thank you for the detailed writeup.

How much will https://github.com/django/django/pull/10381 buy us here? That PR looks like it has been slowly making its way through review (there's an open request for feedback on [django-developers](https://groups.google.com/forum/#!topic/django-developers/6C-LZaek3nE)). It adds `ContentType` support for proxy models, and appears to include a migration

[2019-01-02 17:10] tomdyson commented on #4977
You could also manage this with standard Django URL routing, e.g. with a RedirectView for `/` in your `urls.py`:

https://docs.djangoproject.com/en/2.1/ref/class-based-views/base/#redirectview

[2019-01-02 18:21] ababic commented on #4973
@chosak it looks like the migration in that PR would remove the need for developers to run a separate script/management command to set up the `ContentType` and `Permission` objects, which is good.

Part 2 would also be redundant after those changes, since we would no longer have to worry about non-existent `ContentType` objects being created by `ContentType.objects.get_for_model()` - though, we wo

[2019-01-02 19:22] commadelimited commented on #4977
@zerolab the `before_serve_page hook` sounds perfect actually. We don't want to allow any public facing pages generated by Wagtail to be visible. We'll only be using the admin, and API drive pages in other areas around our site. Thanks!

@tomdyson that's good to know as well, thank you!

[2019-01-02 19:23] commadelimited commented on #4977
These are all great suggestions so I'm going to close this issue now. Thank you both for your time, and assistance.

[2019-01-02 19:23] #4977 closed

[2019-01-03 16:03] BertrandBordage commented on #4485
This work got it’s first working version here: https://github.com/noripyt/wagtail-flexible-forms
It’s missing its documentation and still needs some cleaning, as well as tests.

[2019-01-03 16:06] BertrandBordage commented on #4473
Note that the PR is at its final state, waiting for review, and I want to pay any advanced backend Wagtail developer (ideally that is/was part of the core team) for that review!
https://github.com/wagtail/wagtail/pull/4942

[2019-01-03 19:21] chosak opened #4978 "Page edit view incorrectly reporting dirty rich text"
### Issue Summary

When editing a page that contains Draftail rich text (either as a RichTextField or as a RichTextBlock in a StreamField), navigating away sometimes presents a warning that the page has been changed, even though it hasn't.

This happens for me consistently in Firefox 64, although I haven't been able to reproduce in other browsers. Specifically what is happening is this:

1. The JS

[2019-01-04 08:35] ababic commented on #4973
@chosak Thinking on this some more, I think we could combine the `ContentType` / `Permission` creation logic and the "getting a content type without accidentally creating one" into a single method. This would:

- Make the overall solution more centralised (easier to review, maintain, and eventually remove)
- Simplify the process for developers (we would no longer need to provide separate instructi

[2019-01-04 14:43] imanhodjaev opened #4980 "Failing attempt to replace image"
### Issue Summary
Problem occurs when replacing images, sometimes Wagtail admin seems to upload an image and very often fail w/ the following exception, is there anything to configure or do properly when replacing images?

[code]

### Steps to Reproduce

1. `wagtail start myproject`
2. Upload an image
3. Try to replace image with new one

I've been also trying to debug it and at the moment looking

[2019-01-04 15:10] imanhodjaev commented on #4980
Found out that the issue only comes in Wagtail 2.4.0

[2019-01-04 16:37] chosak commented on #3368
It looks like this will be fixed by #4933 (ping @kaedroho), but I encountered a related bug that seems to fit here due to the use of rendered block HTML in comparisons.

Specifically, custom StreamField blocks that rely on parent template context variables (for example `page`) don't have those variables when they are rendered in the diff view. Consider a custom StreamField block that renders diffe

[2019-01-05 09:09] robvdl opened #4981 "TextField trimming whitespace"
I am using a TextField in an Orderable model and putting that in a page using InlinePanel.

It appears that on save of that page, Wagtail is stripping whitespace of the TextField save which is not really what I want.

I am using Django 2.1.4 and Wagtail 2.4, on Python 3.5 (Ubuntu 16.04)

I doubt the issue has anything to do with it being an Orderable model, it would probably also happen if I had a

[2019-01-05 09:59] robvdl commented on #4981
FYI: This is a bug in Django, I have filed an issue:

https://code.djangoproject.com/ticket/30077

Django 1.9 introduced a strip=False option (which defaults to True) to CharField, but it also affects TextField, yet the TextField constructor does not have this option. This means you end up having to subclass TextField or something similar which isn't ideal, I have therefore filed an issue with Dja

[2019-01-05 19:17] Paluschki commented on #4735
This repaired my incompatible database, which was created with a version <2.2, after upgrade to 2.4

[2019-01-06 10:39] dominhtri1995 commented on #1049
+1 really need this

[2019-01-07 18:50] inostia commented on #2941
Thank you @elton2048! This is awesome, will give it a try soon.

[2019-01-08 15:05] imanhodjaev commented on #4980
Problem resolved with Django 2.1.5 however I am not sure what has caused the issue, anyway now we can use the latest Wagtail and Django without facing this issue again.

[2019-01-08 15:05] #4980 closed

[2019-01-08 17:29] commadelimited opened #4982 "Revision history with Snippets"
Using the most recent version of Wagtail, is there any way to include revision history when using snippets?

We're running Wagtail as a headless CMS and we don't care to have URLs associated with our records. That said we would really love to revision history and publishing restrictions for Snippets.

[2019-01-08 18:40] gasman commented on #4982
Hi @commadelimited,
No, this isn't currently supported - there's an open issue for this at #2270.

[2019-01-08 18:40] #4982 closed

[2019-01-08 20:01] yurman-cc opened #4983 "Provide for custom dummy_request field copying (similar to request.META)"
### Issue Summary

cc: @GibbsConsulting
[django-plotly-dash](https://github.com/GibbsConsulting/django-plotly-dash) issue: #101

The problem arises from the experience integrating [django-plotly-dash](https://github.com/GibbsConsulting/django-plotly-dash) server-side app (the front end is based on React) with Wagtail StreamField.

Custom template tags used by django-plotly-dash store the names of

[2019-01-09 11:10] gasman commented on #1824
Apologies for the delay in dealing with this - I'll aim to get this looked at for version 2.5 (but in the meantime anyone is welcome to pick this up). I think the solution will be something along the lines that @aaugustin describes - either dropping and re-adding the foreign key constraint, or having the wagtailsearch app 'reclaim' the current `wagtailsearch_editorspick` table and having wagtailse

[2019-01-09 11:53] gasman commented on #4941
The fix for this issue has now been released as part of [Django 2.0.10](https://docs.djangoproject.com/en/2.1/releases/2.0.10/) and [Django 2.1.5](https://docs.djangoproject.com/en/2.1/releases/2.1.5/).

[2019-01-10 12:35] #4958 closed

[2019-01-10 17:15] thibaudcolas opened #4985 "Copied content from Word Doc crashes Draftail/Wagtail"
### Issue Summary

See https://github.com/springload/draftail/issues/179 by @xfxf, and https://github.com/thibaudcolas/draftjs-filters/issues/27. Opening this here as well so more people are aware of the problem.

[draftail-crash-elon-musk-article.docx](https://github.com/wagtail/wagtail/files/2746394/draftail-crash-elon-musk-article.docx)

### Steps to Reproduce

1. Open the input document linked

[2019-01-11 19:47] edbrown commented on #4970
Had a crack at this, check the PR here: #4987

[2019-01-13 00:42] andruwwwka commented on #4970
I fix it for non-admin login view and edit test for this. Please check Pull Request #4988

[2019-01-13 16:31] Mebus opened #4989 "Error during template rendering"
I get the attached error in Django 2.0.10 and Wagtail 2.4.

Mebus

![screenshot_2019-01-13 keyerror at cms](https://user-images.githubusercontent.com/271557/51087876-11d1c880-1759-11e9-8120-472b7479a3b5.png)

[2019-01-13 16:41] gasman commented on #4989
Hi @Mebus,
Sorry, we need more information to investigate this. Please can you include the _complete_ text of the error page, and tell us _when_ the error occurs?

[2019-01-13 16:56] Mebus commented on #4989
It seems that

'django.template.context_processors.request',

was missing.

Mebus

[2019-01-13 16:58] #4989 closed

[2019-01-14 23:37] WoLpH opened #4991 "`runtests.py` should use a default database if no database is configured"
I just created a pull request for a different issue and dutifully ran `python runtests.py` only to see it succeed and see the consecutive travis and other CI tests fail.

After a bit of research it appears that it's mostly failing because it's skipping 99% of the tests because no database is configured. When looking at the `tox.ini` file I noticed the `sqlite: DATABASE_NAME=wagtail.db` line which

[2019-01-15 17:19] gasman commented on #517
Hi @michael-yin - have just given wagtail-whoosh a try, and it's looking really good!

I'd suggest creating a separate 2.x release for Wagtail >2.2 compatibility - the internal API for search queries is not yet stable (although it's on our todo list to standardise and document it - #4170) and I suspect it's going to be difficult to keep a single codebase compatible with multiple versions.

As ment

[2019-01-15 22:04] Sam-Costigan commented on #1952
I have been doing some digging on this as it's something I'd really love to be able to do. It seems to me that for the most part this limitation is imposed by django-modelcluster. For that reason I have created an issue on that repository: https://github.com/wagtail/django-modelcluster/issues/105

[2019-01-16 11:14] gasman commented on #517
@michael-yin Excellent, thanks!

I've sent you an invitation to the Wagtail organisation. Once you've accepted this, you'll need to initiate the transfer as described at https://help.github.com/articles/transferring-a-repository/#transferring-a-repository-owned-by-your-personal-account , entering `wagtail` as the organisation name - I'll accept this request when I receive it.

[2019-01-16 20:06] gasman commented on #4991
Hi @WoLpH - thanks for the report.
The behaviour you're reporting sounds very unusual, and I suspect there's something subtle going on with your setup - I'd be keen to see the console output, and any details of your environment (are you running under Vagrant, Docker, some other VM...?) that might help us to replicate this.

I routinely use the `./runtests.py` command in its default configuration (

[2019-01-16 21:30] WoLpH commented on #4991
No Vagrant or Docker, just a regular Ubuntu 16.04 install running Python 3.6.6 in a decicated virtualenv created for this purpose alone.

Upon further inspection though... it seems I didn't see the `segmentation fault` (two computers running the same tmux screen and it was outside of my viewport... sigh). So this can be considered a duplicate of https://github.com/travis-ci/travis-ci/issues/7873 I

[2019-01-17 03:55] dilonne opened #4992 "RichRextField ‘features’ keyword not being recognized"
### Issue Summary

The keyword ‘features’ for limiting elements seem not to be recognized

This line here
body = RichTextField(features=[‘h1’, ‘bold’, ‘italic’]

Produces this error
TypeError: __init__() got an unexpected keyword argument ‘features’

### Steps to Reproduce

1. (for example) Start a new project with `wagtail start myproject`
2. Edit models.py as follows...
3. ...

Any other relevan

[2019-01-17 04:23] hammygoonan opened #4993 "Syntax error in tsquery with Postgres and wagtail.contrib.postgres_search"
### Issue Summary

I'm getting an error saying `django.db.utils.ProgrammingError: syntax error in tsquery: "'test\'"` whenever I use a `\` in my search term.

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Configure site to use Postgres and the `wagtail.contrib.postgres_search` app.
3. Run migrations
4. log into admin
5. add a `\` character to your search term.

R

[2019-01-17 10:13] gasman commented on #4992
Hi @dilonne - thanks for the report. Unfortunately there isn't enough information here for us to investigate, as you haven't provided steps to reproduce the error, or version details - without these there's no way for us to tell if this is a genuine bug, or user error.

If you're able to replicate this bug on a newly-created Wagtail project, please open a new issue containing the requested informa

[2019-01-17 10:13] #4992 closed

[2019-01-17 10:20] thibaudcolas commented on #4955
Having worked on both https://github.com/springload/awesome-wagtail and https://madewithwagtail.org/, I find that maintaining such listings takes a lot of effort when they are centrally managed, as opposed to aggregated. It's not just managing the content, but also maintaining the site (upgrades, bug fixes, user administration). Since packages for Wagtail already exist in a central registry (PyPI)

[2019-01-17 10:53] dilonne opened #4995 "RichRextField ‘features’ keyword not recognized"
### Issue Summary
The keyword ‘features’ for limiting elements seem not to be recognized

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Edit models.py as follows

class ItemPage(Page):
   body = RichTextField(features=['h1', 'bold', 'italic', 'link'])

3. Run the project with python manage.py runserver

Any other relevant information. For example, why do you cons

[2019-01-17 10:57] gasman commented on #4995
Hi @dilonne,
The `features` keyword was [introduced in Wagtail 1.12](http://docs.wagtail.io/en/v2.4/releases/1.12.html#configurable-rich-text-features) - you will need to upgrade to Wagtail 1.12 or later to use this.

[2019-01-17 10:57] #4995 closed

[2019-01-17 10:59] dilonne commented on #4995
Had missed that, thanks a lot.

[2019-01-17 12:05] gasman commented on #4991
Thanks for the confirmation - will close this, then, as it's not specific to Wagtail.

[2019-01-17 12:05] #4991 closed

[2019-01-17 13:49] thibaudcolas opened #4996 "Rich text processing converts non-breaking spaces into normal spaces"
### Issue Summary

When inserting non-breaking spaces into Draftail (with `option + space` on macOS), they are persisted in the database and rendered in the front-end HTML, but subsequently get lost in the DB -> editor JSON conversion.

Initially reported by @philgyford in [Slack #support](https://wagtailcms.slack.com/archives/C81FGJR2S/p1547462877447200).

### Steps to Reproduce

1. Open the edit

[2019-01-17 16:01] tomdyson opened #4997 "Reduce contrast of rich text toolbar"
I propose that we reduce the contrast of the rich text toolbar, which - in my opinion - is heavy and distracting.

Current:

<img width="743" alt="screenshot 2019-01-17 15 54 34" src="https://user-images.githubusercontent.com/15543/51330825-39ce6e00-1a70-11e9-8d84-a42c30d458ae.png">

Proposed:

<img width="740" alt="screenshot 2019-01-17 15 50 19" src="https://user-images.githubusercontent.com/155

[2019-01-17 16:03] ollywillans commented on #4997
I'd really love this to go white, but it seems like this is a good interim step to make it less heavy. Good idea. I'd be happy to lose the dividers and keep it simple.

[2019-01-17 16:34] bentuckwell commented on #4997
I like the suggestion of removing the divider lines, they feel unnecessary and add noise. The colour change takes a little bit of weight out of it but it's still pretty dominant. Be good to go white.

[2019-01-17 16:36] chosak commented on #4997
Considering accessibility, the [WebAIM Color Contrast Checker](https://webaim.org/resources/contrastchecker/) reports that both #606060 and #707070 (the highlighted background) meet the WCAG AA standard for "Graphical Objects and User Interface Components" with contrast ratios of 6.29 and 4.95, respectively (the requirement is 3:1).

[2019-01-17 16:49] allcaps commented on #4997
I like high contrast. It is functional.

It seems that we loose contrast in the active state of the button.

Contrast depends on the context, sometimes giving other page elements a bit more weight balances things out. For example the reds look a bit flat. Especially since the darkening of the teal. Looking at just a black bar as example isn't really fair imho.

I like @ollywillans proposal to go b

[2019-01-17 17:11] ollywillans commented on #4997
At the moment, the #333 is pretty much the darkest colour on the whole interface and as such the toolbar leaps out creating an angry punctuation and interrupting the flow of the page. I'd prefer dark on white because it would most reduce this effect to the minimum, but if we are looking for a v.quick interim fix, Tom's is definitely an improvement and in my opinion retains more than enough contras

[2019-01-17 17:26] nmorduch commented on #4997
I think:
- I agree with @ollywillans that we should go to a light toolbar, which can have higher contrast without being so in-your-face
- There's no good reason not to meet AAA anywhere on this site. None of our branding is important enough not to meet AAA. It looks like #595959 is the lightest color that always meets AAA when paired with white.
- Grouping buttons is helpful for finding things qui

[2019-01-17 17:46] gasman commented on #4970
I don't think this is a bug. The documentation for [`site_name` and the related template variables](https://docs.wagtail.io/en/v2.4/advanced_topics/customisation/admin_templates.html#specifying-a-site-or-page-in-the-branding) indicates that these are only available on the admin dashboard page - in particular, their values are defined in terms of the logged-in user's permissions, which doesn't make

[2019-01-17 17:46] #4970 closed

[2019-01-17 22:58] allcaps commented on #4970
@gasman Thank you for the thorough explanation and example.

I'm fine that Wagtail doesn't want to make assumptions about multitenant systems.

There is still a small issue: Wagtail uses Django's `auth_views.LoginView`. This Django view provides context containing `site` and `site_name`. But the values are looked-up in the Django way. They fall back to the domain name. The default login template d

[2019-01-18 09:35] nicklee commented on #4997
Mockup showing how a white background could look:

![Rich text editor - white option](https://www.dropbox.com/s/a23o69hl8e21uv5/richtext-editor--white-bg.png?raw=1)

[2019-01-18 13:11] philgyford commented on #4996
I wonder if I'm doing something different... if I do steps 1-4, then I _don't_ see a `&nbsp;` in the source of the rendered page. I'm using View Source in Chrome and Safari, not inspecting the element.

This isn't a clean Wagtail install, but I'm on v2.4, Django 2.1.5, Python 3.6.6.

[2019-01-18 14:07] philgyford commented on #4996
Ah, I took point 4 to mean the opposite of what you meant :)

Short answer: You're right and I've replicated what you described.

But also: It turns out that Safari doesn't show `&nbsp;`s in either View Source _or_ the Elements inspector! This is what lead me to think they were being stripped entirely. If I'd been using Chrome, and seen them in the inspector, I'd have assumed it was all working fi

[2019-01-18 20:40] DanAtShenTech opened #4999 "Checkboxes in Wagtail forms nearly impossible to style correctly when rendered using as_p"
### Issue Summary
Rendering a form using Django's `as_p` functionality causes a single Checkboxes field to render as follows:

- the label in a `<p>` by itself
- the checkbox options in a `<ul>` (not wrapped by a `<p>`)
- an empty `<p>`

This conglomeration is basically impossible to style correctly.  It would be a tremendous improvement to wrap form elements in `<div>` tags instead of `<p>` tags

[2019-01-18 23:13] inostia opened #5000 "Wagtail documentation incorrectly states a confirmation step on publishing"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue.

The Wagtail documentation (as of 2.4) incorrectly states that there's a confirmation step on publishing. http://docs.wagtail.io/en/v2.4/editor_manual/new_pages/previewing_and_submitting_for_moderation.html#previewing-and-submitting-pages-for-moderation

### Steps to Reproduce

1. Create a new page and p

[2019-01-18 23:19] gasman commented on #4999
Hi @DanAtShenTech - which particular forms are you referring to? The form builder (wagtail.contrib.forms), forms within the Wagtail admin, or something else?

[2019-01-19 12:59] mazurenkomm opened #5001 "Incorrect behavior in full-text search with the Cyrillic dictionary."
Configured full-text search on a site with a PostgreSQL database. The site in Russian, the dictionary in the database, respectively, also in Russian. It turned out that the dictionary search did not work. The case turned out to be this. All Cyrillic words were converted to translit, so it was impossible to find a match in the dictionary. Similarly, the indices turned out to be transformed into tra

[2019-01-19 22:20] allcaps commented on #4955
DRF docs example on third party apps https://www.django-rest-framework.org/community/third-party-packages/

[2019-01-21 09:54] arthurio commented on #4973
FYI https://github.com/django/django/pull/10381 has been merged as part of the [Django 2.2 alpha release](https://docs.djangoproject.com/en/dev/releases/2.2/), let me know if I can help with anything.

[2019-01-21 20:51] ababic commented on #4973
@arthurio. Congrats on the contribution. That issue had quite the history! Props for getting stuck in and seeing it through.

I should be able to get a PR submitted for this by the end of this week, at which point I'll be grateful for any feedback :)

[2019-01-22 10:32] mattlinares commented on #2618
Not sure if this is helpful, but adding a hook block like this does the job. There's probably a better way to integrate this into core though.

[code]

[2019-01-22 13:15] DanAtShenTech commented on #4999
You can see an example of what I'm talking about [here](https://cimlg.org/join-the-conococheague-institute/) in the Newsletter Delivery field.  Fortunately, the Newsletter Delivery item works OK when the screen is narrowed if it is positioned where you see it, but if you use the developer tools to change the DOM by switching the Newsletter Delivery item(s) with the Country item, and then narrow th

[2019-01-22 15:16] #4999 closed

[2019-01-22 20:24] mike-hearn commented on #4473
At my company we're in the middle of an extended Wagtail proof-of-concept, and we rolled this new StreamField UI out to a few dozen writers.

Feedback was positive, but I want to flag that the #1 concern across the board was that, as the RichTextField expands while writing an extended article, the bottom line of text gets constantly covered by the "Save/Publish/Revisions" bar.

You have to scroll

[2019-01-22 20:41] DanAtShenTech commented on #1708
Thinking about [this feature request (multi-site support)](https://github.com/wagtail/wagtail/issues/4288), I would want multiple organizations (perhaps of the same type, such as Chambers of Commerce) to be able to use the same theme (set of templates) with small variations specific to their site as appropriate.  I am working on two sites right now that match this scenario almost exactly, and one

[2019-01-22 20:54] gasman commented on #1708
@DanAtShenTech As far as I can see, what you're looking for can be achieved by making the logo field a `FileField`.

[2019-01-22 20:56] DanAtShenTech commented on #1708
Thanks @gasman.  I'll give that a try.

[2019-01-22 23:58] thibaudcolas commented on #4642
Will be fixed by #4942 I believe.

[2019-01-23 10:43] gasman commented on #3864
Reopening - the [Draftail](https://github.com/springload/draftail) editor was added since this issue was created, and we should indeed add `code` as a built-in rich text feature (but probably not enabled by default as it's somewhat specialised). Thanks for the nudge @jhoover4 :-)

The process for defining new inline elements is documented here: http://docs.wagtail.io/en/stable/advanced_topics/cust

[2019-01-23 15:02] ababic commented on #4973
@arthurio @chosak I've posted some initial workings in #5003, if you'd like to see how things are coming along. It's early days, but any thoughts or feedback would be greatly appreciated.

[2019-01-23 17:17] frmdstryr opened #5005 "Can modeladmin edit_handlers be bound to an instance before checking `form.is_valid()` on Create and Edit views?"
This is not an issue, more of a feature request to add the ability to further customize form handling in the admin (mainly to support an InlineFormPanel for OneToOneFields & ForeignKeys).

Currently the `edit_handler.bind_to_instance` is not called before the ModelFormView subclasses (CreateView and EditView)  call `form.is_valid()` for `put` & `post` requests.

This prevents using panels that may

[2019-01-23 17:44] jhoover4 commented on #3864
Awesome! Thanks guys. Looks like @melinath did this in his project so the code could already be ready.

[2019-01-23 18:54] jhoover4 commented on #5000
So which is wrong, the documentation or the functionality? 😬

[2019-01-23 19:05] gasman commented on #5000
The documentation is wrong, I think - I don't see a need for a confirmation step for publishing, as it's a non-destructive action that can easily be reverted if it's done by mistake.

(Admittedly, you could say the same about unpublishing, which _does_ have a confirmation step - but I think it makes more sense there, as there's a natural parallel with deletion.)

[2019-01-24 12:19] HvandenBerg opened #5007 "Unclear error msg when saving img after focal point edit"
### Issue Summary

A summary of the issue.
It is not possible to save an image after creating a focal point and clicking next the selected area.

### Steps to Reproduce

1. Open cms
2. Open images
3. Edit img
4. remove any focal points (if any are present)
5. create focal point (drag mouse across img)
6. click outside the focal point but still within the img
7. The selection (focal point) now seem

[2019-01-24 12:20] gasman commented on #5000
Fixed in #5006

[2019-01-24 12:20] #5000 closed

[2019-01-24 17:02] brian-maher commented on #2447
Any updates on this? This is still causing issues as wagtail's update_index command clashes with that of the widely-used Django-haystack.

[2019-01-24 18:12] evantbyrne commented on #3575
We encountered what appears to be the same issue. After uploading a 600kb animated gif, the images picker in the admin wouldn't even load. Timeouts and memory errors. The solution was to uninstall Wand.

[2019-01-24 23:06] picturedots commented on #2695
I'm also using a RichTextBlock inside a StreamField with an API driven site. I think that I have a temporary hacky workaround, namely to use `str` inside a modiifed `get_api_representation` inside a customed StreamBlock, for example

    class ParagraphBlock(blocks.StructBlock):
        heading = blocks.CharBlock(required=False)
        body = blocks.RichTextBlock()

        class Meta:

[2019-01-24 23:12] ababic commented on #5005
Thanks for raising @frmdstryr! This makes a lot of sense, and would be super easy to implement (literally a one-line change to `ModelFormView.get_edit_handler()`). It would nicely compliment the work being done in #4900 too.

However, we would likely have to stick to specifying `request` and `instance` only, as calling `get_form()` from within ``get_edit_handler()`` would create an infinite loop (

[2019-01-25 06:51] miiga opened #5008 "Add Mongolian translation to wagtail source code"
I would like to add Mongolian translation files to wagtail source code.

[2019-01-25 09:15] zerolab commented on #5008
Hi @miiga,

As per the README, translations should be submitted through Transifex. For Mongolian specifically, go to https://www.transifex.com/torchbox/wagtail/language/mn/

[2019-01-25 10:43] gasman commented on #5008
Hi @miiga - many thanks for your work on the Mongolian translation!

We always fetch translations from Transifex immediately before a new release, but I've also run an extra fetch now: 67940973b53430466c29733ab95d6d644aa1b320

[2019-01-25 10:43] #5008 closed

[2019-01-25 14:47] frmdstryr commented on #5005
Agree, I like the new change to use `bind_to` and #4900.

Thoughts on making [get_form](https://github.com/django/django/blob/master/django/views/generic/edit.py#L29-L33) return a "bound form" instead of in `get_edit_handler`?

It would not loop and would remove the need to bind a form in ModelFormView [get_context_data](https://github.com/wagtail/wagtail/blob/master/wagtail/contrib/modeladmin/vie

[2019-01-25 14:57] gasman commented on #5007
Confirmed on current master (2.5a0) and bakerydemo with Django 2.1.4 and Chrome 71. Thanks for the report @HvandenBerg!

[2019-01-25 19:37] gasman commented on #2447
Proposed fix: #5009

[2019-01-25 22:57] ababic commented on #5005
@frmdstryr Ah, I see what you mean now. To be truly useful, the binding does need to happen earlier on in the request cycle.

I think the most backwards-compatible way to do this would be to override `get_form()`, and have that method take care of the binding, as well as form instantiation.

We might also want to think about saving a reference to the fully-bound edit handler instance to a view att

[2019-01-26 12:56] arthurio commented on #4973
@ababic I'll take a closer look but something seems off to me:

I'm fairly sure it's not true since `Django 1.11`. If you have `django.contrib.contenttypes` in your `INSTALLED_APPS`, [`create_contenttypes`](https://github.com/django/django/blob/master/django/contrib/contenttypes/management/__init__.py#L104) will be called after [each `migrate`](https://github.com/django/django/blob/b9cf764be62e77b

[2019-01-26 15:36] BertrandBordage commented on #4993
FIxed by #4994.

[2019-01-26 15:36] #4993 closed

[2019-01-26 21:38] ababic commented on #4973
Thanks for the feedback @arthurio!

Oh, okay! Thanks for pointing that out. I clearly didn't look into the more recent history thoroughly enough. If this is the case, then the approach taken in #5003 is not good, because new content types will barely ever be created there. I'll resort back to my original idea of solving the permission association problem with some kind of separate script, like the

[2019-01-28 00:31] arthurio commented on #4973
If done right, it should not affect anything permission wise for Django admin <2.2. I think you want to do the following:
- One time migration to update existing permissions to use the proxy model’s own content type (copy/paste the one I wrote for Django?)
- Add the `post_migrate` hack from the gist but make it conditional for Django < 2.2
- Update the wagtail code to rely on `for_concrete_model=F

[2019-01-28 03:59] Benoss opened #5010 "Feature request: Import/Export data between environment (including images)"
I am building a website using wagtail and I would really appreciate a way to import export data and have cross environment data import.

Let me explain.
We have a local environment for dev, 127.0.0.1 a staging environment for the non technical project members to test and approve design and a prod environment public facing.
All the release process is using CI CD and we can deploy code very fast to

[2019-01-28 08:34] ababic commented on #4973
So, it seems we would need to reassociate permissions for new models here, but also detect and delete duplicate ones as they get recreated each time? If this is the case, then I think this same signal handler might just do for parts 1 & 2 - it would just be making updates only on the first run?

A part of me is starting to doubt whether we really should try to correct proxy model permissions in <

[2019-01-28 08:44] arthurio commented on #4973
Yes, and more importantly all the existing models for people upgrading wagtail the first time.

Correct (assuming "duplicate" is the same permission code for  both concrete and proxy model content types).

That might be tricky to detect the "first run".

I agree that it would be wiser to wait for a wagtail version that supports only Django 2.2+. Especially since it's still an alpha release. What I

[2019-01-28 08:46] arthurio commented on #4973
You could update the script to only look at the wagtail models but it could be hard if someone mixes up wagtail models and others in the same app. Unless you check for inheritance maybe?

[2019-01-28 09:06] ababic commented on #4973
What classes as a 'Wagtail model' is a bit blurry, unfortunately. It could be a subclass of Page, or registered as a Snippet or via `wagtail.contrib.modeladmin`. While a conditional approach might make sense, it could be tricky to make the rules clear.

I could be missing something, but If we made a query to identify the codenames of Permissions associated with the proxy model first, we could use

[2019-01-28 11:00] nealtodd commented on #5010
Hi Benoit,

The [wagtail-import-export](https://github.com/torchbox/wagtail-import-export) hasn't been actively maintained recently because we haven't been using it of late so resources have gone into other things.

There is an [open issue](https://github.com/torchbox/wagtail-import-export/issues/5) for getting it working again with Wagtail 2.3. Hopefully that shouldn't be a big fix.

It would cer

[2019-01-28 13:24] benjaoming commented on #2447
I don't think anyone proposed this. I would think this sort of change would happen with gradual deprecation and at a proper version bump.

[2019-01-28 14:39] gasman commented on #2447
I agree, but I don't think that a single clashing command (with one particular combination of packages) is enough reason for us to invent a non-standard namespacing scheme. If this is a wider problem in Django, then it would be better to fix it within Django - I imagine implementing a syntax like `./manage.py app_name:command_name` would be a relatively simple and welcome enhancement.

I'm also aw

[2019-01-28 15:20] chosak commented on #4973
This would make things easier, but would delay this feature until ([I think](http://docs.wagtail.io/en/v2.4/releases/upgrading.html#upgrading-wagtail)) the next Wagtail LTS, which would support Django 2.2 as its minimum version. @gasman roughly when do you think this would be?

I agree that the complexity of supporting this in Django < 2.2 might not be worth it, given the difficulties you mention

[2019-01-28 17:21] gasman commented on #4973
@chosak Assuming we stick to our current release pattern, the next LTS will be around June/July, and by that time Django 2.2 will only be a couple of months old so it's unlikely that we'll be dropping support for <2.2 at that point. I'd say we're most likely to drop Django <2.2 for the next LTS after that, in early 2020, by which time Django 2.1 will be out of support.

[2019-01-28 18:57] chosak commented on #5010
I wonder if some of the collector logic being created in #4702 could be useful for exporting images, documents, etc. that are referenced by pages. Implementing a complete page export would require the ability to know all objects being referenced by the page, and the [`collectors.py`](https://github.com/wagtail/wagtail/blob/b7d1ec24223f8ef61b8cf6b99f95e6759e7c39c4/wagtail/core/collectors.py) in tha

[2019-01-28 21:20] ababic commented on #4973
FYI, I've updated to issue description with the most up-to-date implementation recommendations, so that it's clearer to see what is being proposed.

[2019-01-29 00:04] arthurio commented on #4973
Thanks for updating @ababic , just a few nits:
- I would remove `1. Django does not create unique ContentType objects for proxy models.`
- `for_concrete_model=True` and `for_concrete_models=True` should be `for_concrete_model=False` and `for_concrete_models=False`

[2019-01-29 04:22] mjfinney commented on #3001
This is the workaround I came up with for dealing with commas in choices. By subclassing `FormBuilder` and splitting on newlines instead of commas. You can also separate value and label with a pipe character ( | ). If no newline is detected it falls back to the original behavior of splitting on comma.

[code]

[2019-01-29 07:54] ababic commented on #4973
Thanks for the keen eyes @arthurio! Sorted now.