[2022-08-07 05:50] lb- commented on #8939
As long as both have a clearly visible focus overlay - that is the goal.

[2022-08-07 07:09] Akash-Kumar-Sen commented on #8939
![Screenshot (41)](https://user-images.githubusercontent.com/71623442/183279485-2bd35e0e-97fe-4f90-b7e7-de6c1bf5d4e5.png)
Came this far...any suggestion?

[2022-08-07 07:28] lb- commented on #8939
Maybe do a draft PR and I can comment. Hard to give advice without seeing the code.

[2022-08-07 11:20] lb- commented on #8941
@zerolab  please confirm what you are expecting - I assume vertically centred title?
Or maybe the padding 'in' from the left is too much?

[2022-08-07 11:31] lb- opened #8961 "hidden="until-found" usage broken in browsers lacking support"
### Issue Summary

* The new expanding panels do not appear to be collapsing at all in some browsers.

### Steps to Reproduce

1. Load up Wagtail main branch
2. Sign in to the home page
3. Attempt to collapse any of the panels on the dashboard page (or any page in the admin)
4. Expected - should collapse
5. Actual - the chevron changes, the aria-hidden attribute changes, but the panel's content st

[2022-08-07 11:33] lb- commented on #8961
Broke when adopting the new panels code via https://github.com/wagtail/wagtail/pull/8921
FYI @thibaudcolas

[2022-08-07 11:38] zerolab commented on #8941
@lb @PaarthAgarwal

pre 3.0 the icon (or the title text if there was no icon) would align with the start of the content.

Also `header.merged` adds an extranous `1rem` bottom padding to the header area

[2022-08-07 11:40] PaarthAgarwal commented on #8961
I'm able to replicate this issue on firefox and edge in Linux 20.03.
![Screenshot from 2022-08-07 17-06-53](https://user-images.githubusercontent.com/86092410/183288771-21eefd77-9276-4901-b928-fb4bcdfdcb77.png)

[2022-08-07 11:50] lb- commented on #8941
Ok - yeah that padding/ position issue is known and is kind of indirectly covered by https://github.com/wagtail/wagtail/issues/8906 but unfortunately it will not be a simple fix due to the complex positioning of the sidebar toggle.

I know this is the modal variant but it uses the same CSS.

There could also be an argument for showing a consistent position of the title irrespective of the icon.

B

[2022-08-07 12:25] Sanyam-Garg commented on #8918
Hi @tbrlpld , I have replicated this error on my local machine.
I think this most likely has to do with a bug in the view/function used to add a new item. I guess some additional checks need to be added to ensure the integrity of the unique constraints.
I haven't been able to locate the exact code where this is being done. Could you guide me on this?
Thanks

[2022-08-07 12:30] tbrlpld commented on #8918
Hi @Sanyam-Garg. Thanks for replicating this!

Unfortunately I am unfamiliar with the view / validation logic myself, so I won't be of much help there.

[2022-08-07 12:34] zerolab commented on #8941
Oh, thank you for the prompt @lb-.
I now pulled the latest `main` and it paints a different picture:

![Screenshot 2022-08-07 at 13 30 17](https://user-images.githubusercontent.com/31622/183290667-fc5f5957-0c09-4377-b9dd-65ac3abf60dc.png)

The title text is properly aligned. It must've been fixed by Thibaud's epic PR. Should serve me well for not re-checking after that PR was merged.

`.w-header.w

[2022-08-07 22:32] lb- commented on #8961
PR up for a browser feature detection fix for this (JS side)
https://github.com/wagtail/wagtail/pull/8962

Solution from https://developer.chrome.com/articles/hidden-until-found/#caveats

This article also explains the hidden until found feature really well
https://github.com/WICG/display-locking/blob/main/explainers/hidden-content-explainer.md

If we do ever adopt the `details` semantic element f

[2022-08-08 06:08] lb- commented on #8906
See also
https://github.com/wagtail/wagtail/issues/8449

[2022-08-08 06:10] lb- commented on #7332
@anujaraj / @Scotchester - this may now be fixed on main, if not, I recommend this be looked at with the forced colors work.

[2022-08-08 06:35] lb- commented on #8499
Note. Can be picked up soon.

[2022-08-08 06:41] Sanyam-Garg commented on #8918
@tbrlpld , I tinkered around the code of the validation logic but to no avail.
However, I found [this](https://enzedonline.com/en/tech-blog/dealing-with-unique-fields-on-a-multi-lingual-site/) which seems to be the solution to the exact problem. I don't quite understand all of it but looks like its doing the job.

[2022-08-08 10:09] #7031 closed

[2022-08-08 10:51] lb- commented on #8790
@PaarthAgarwal  as per discussion - please start to have a read of this in full and start to look at the styles.

Now that 4.0 is almost at RC - we may want to consider using a `w-button` base classname for buttons.

[2022-08-08 10:51] lb- commented on #3823
@PaarthAgarwal  this may end up being resolved when https://github.com/wagtail/wagtail/issues/8790 is done but please have a read of this.

[2022-08-08 11:21] lb- commented on #5410
**Additional links**

* https://www.w3.org/WAI/WCAG22/Understanding/dragging-movements
* https://medium.com/salesforce-ux/4-major-patterns-for-accessible-drag-and-drop-1d43f64ebf09
* https://www.w3.org/wiki/PF/ARIA/BestPractices/DragDrop
* https://www.w3.org/TR/aria-state/#dragdrop

[2022-08-08 12:05] #8929 closed

[2022-08-08 14:26] QuangPhamll commented on #6583
I'm using `wagtail==3.0.1` and `wagtail-localize==1.2.1` with some custom code for overriding the method `get_sitemap_urls` of `Page` class, it work well on my site in case of multilanguage.
Create a `SitemapMixin` or an abstract `Page` (ex: `BasePage`) class of wagtail then add 2 methods as below inside the Mixin or abstract class:
[code]
Create a site `sitemap.xml` in a directory `/templates` of

[2022-08-08 16:21] chosak commented on #8952
I can confirm this, on main (pre-4.0). With a brand new database:

[code]

The reason for this is the [`Page.objects.public_q` logic](https://github.com/wagtail/wagtail/blob/71dfb4090bead76c34aae780582fc7efb280adb1/wagtail/query.py#L238-L256) used to implement this functionality defines "public" as

and then private as

which translates to

But if there are no private sections, then the above simp

[2022-08-08 19:57] gasman commented on #8635
Not having much luck replicating this issue, on a Mac OS setup very similar to the original report (but returning legacy_alter_table = 0 when testing as per https://github.com/wagtail/wagtail/issues/8635#issuecomment-1150099316). Even upgrading to a Wagtail commit with #8708 applied, but changing `PRAGMA legacy_alter_table = OFF` to `ON`, doesn't fail.

Will have a go at testing against an old Vag

[2022-08-08 22:13] allcaps commented on #8918
The 'locale' field has 'editable=False' iirc.

If False, the field will not be displayed in the admin or any other ModelForm. They are also skipped during model validation. Default is True. https://docs.djangoproject.com/en/4.1/ref/models/fields/#editable

I do get why direct editing of this field is prohibited, but I wouldn't be against a less restrictive approach and make this field editable by

[2022-08-09 02:17] Akash-Kumar-Sen commented on #8893
Hi @thibaudcolas I want to work on this issue. Can you please assign this to me

[2022-08-09 08:32] lb- commented on #8941
If it's ok. I think we can close this.

As the new modal designs get adopted for all modals - they won't even use this shared header template.

The header for the new modals is built very differently (which has its own complexity in tailwind classes and using the same name like subtitle to render differently) but that's an issue for another day.

The point is that both this modal header and the ne

[2022-08-09 08:32] #8941 closed

[2022-08-09 08:35] lb- commented on #8893
Go for it @Akash-Kumar-Sen - we don't really assign issues to those outside of core team so just a comment that you are interested is good enough.

Really appreciate your interest in this and let us know if you need a hand.

[2022-08-09 08:41] tbrlpld commented on #8918
Thanks for digging this up @allcaps!

[2022-08-09 10:31] lb- commented on #3949
Good article on deciding on keyboard shortcuts
https://stackoverflow.com/questions/4173707/best-practices-for-designing-keyboard-shortcuts

[2022-08-09 11:16] lb- commented on #8823
@Akash-Kumar-Sen you may want to give this one a go - would be a great win for accessibility and now that you have dabbled a bit in outline colours maybe you want to take a look.

[2022-08-09 11:29] #8939 closed

[2022-08-09 13:30] gasman commented on #8635
Have tested the current main branch with the ubuntu/xenial setup described in https://github.com/wagtail/wagtail/issues/7798#issuecomment-1021544265 . This gives a sqlite 3.11.0 installation, pre-dating `PRAGMA legacy_alter_table` - i.e. the legacy behaviour is always in force.

Initially the wagtailcore.0070 migration fails with:
[code]
Adding `atomic = False` to the Migration class as suggested

[2022-08-09 14:54] chosak commented on #8635
If it's helpful to have another data point, I can confirm that both main and #8965 work on my SQLite 3.32.3 configuration [from above](https://github.com/wagtail/wagtail/issues/8635#issue-1262447443).

[2022-08-09 17:47] dopry opened #8966 "Document.url returns a relative url when WAGTAILDOCS_SERVE_METHOD is not direct."
### Issue Summary
I'm not sure if this is truly a bug, but it is an inconsistency that caught my attention. The URL property of the file types (image, image rendition, media, document) is a fully qualified URL in all but one case.

Both [AbstractRendition.url](https://github.com/wagtail/wagtail/blob/ac4220d88e669013e6987e0ba57ee62d3968b9b3/wagtail/images/models.py#L757) and [AbstractMedia.url](htt

[2022-08-09 18:51] dopry commented on #8966
Actually, I take that back, Now that I am into testing I see that storage.baseUrl does return relative paths.

[2022-08-09 18:51] #8966 closed

[2022-08-10 03:19] dopry commented on #1708
I started exploring what would need to be done in Wagtail to get SVG support. I have a proof of concept at https://github.com/dopry/wagtail/tree/feat/svg-support. It really only covers getting an SVG uploaded in the Admin. I short circuit renditions and just copy the SVG and static setting the width and height to 100 for now...

[2022-08-10 05:20] lb- commented on #4055
Should be mostly addressed now that https://github.com/wagtail/wagtail/pull/8934 is merged
@thibaudcolas  please can you review this issue.

[2022-08-10 08:18] adi1 opened #8970 "updatemodulepaths stdout.write error"
### Issue Summary

updatemodulepaths uses `sys.stdout.write(line.encode("utf-8"))` which is not supported in python3.
I think this should be `sys.stdout.write(line)`

### Steps to Reproduce

1. run `wagtail updatemodulepaths` in a project where updates need to be made.

### Technical details

-   Python version: 3.7.11
-   Wagtail version: 3.0.1

[2022-08-10 10:55] gasman commented on #8970
Hi @adi1 - thanks for the report.

The `line.encode("utf-8")` was introduced in #8450, and is needed when running on Windows because it opens files in Windows-1252 encoding rather than UTF-8 by default, and there's no way to override this when using the [fileinput](https://docs.python.org/3/library/fileinput.html) library (until Python 3.10).

This line of code runs inside a `with fileinput.FileIn

[2022-08-10 10:56] gasman commented on #7714
Closing due to lack of updates.

[2022-08-10 10:56] #7714 closed

[2022-08-10 11:10] perepicornell commented on #4472
In case is helpful for anyone stumbling upon this page, this helped me figure it out:
https://www.accordbox.com/blog/how-export-restore-wagtail-site/

I could generate fixtures that then worked fine when using `loaddata` with this command:
[code]

In my case I created a management command for it which is basically:

[code]

I just implemented it, so maybe all these `excludes` are resulting in miss

[2022-08-10 13:21] #8827 closed

[2022-08-10 13:44] gasman commented on #8970
Thanks - I can confirm I'm seeing the same issue on Python 3.7.12, but not 3.8.

(This is when testing the `wagtail updatemodulepaths` command directly - running `sys.stdout.write('foo'.encode('utf-8'))` on the python command line isn't a valid test for this, as it needs to be run inside a `with fileinput.FileInput` block to match what updatemodulepaths is doing.)

[2022-08-10 15:20] gasman commented on #8970
PR: #8973

[2022-08-10 22:20] jhnbkr commented on #2665
bump

Checking in, has anyone given this any thought recently?
Currently I am using a hacky work around with a ListBlock limited to 1 item.

[2022-08-11 00:23] mehrdadmoradii commented on #8912
I can also reproduce the bug using the development version of Wagtail.

# Steps to Reproduce

1. Implement steps 1 and 2 on https://github.com/wagtail/wagtail/issues/8912#issue-1319471225.
2. Add The following to home/templates/home/sub_home_page.html:

[code]

3. Create an instance of SubHomePage and an alias pointing to it in the wagtail admin as shown in the following:

![bug](https://user-imag

[2022-08-11 01:38] lb- commented on #8912
Thanks for adding details and confirming this @mehrdadmoradii

[2022-08-11 11:48] gasman commented on #6408
Fixed in #6411

[2022-08-11 11:48] #6408 closed

[2022-08-11 20:03] bilalshaikh292 commented on #6212
Hello @zerolab , I would like to pick up this issue.

[2022-08-11 20:23] bilalshaikh292 commented on #1127
Hello, Can i work on this issue. Thers arent any PRs so if its possible can i try this one?

[2022-08-11 20:49] raminjrmz commented on #6587
Same problem :(

[2022-08-11 21:42] ZachPerkitny opened #8979 "wagtail.documents.views.ListingResultsView uses a template that doesn't extend wagtailadmin/base.html, so it has no CSS styles"
### Is your proposal related to a problem?

The view `wagtail.documents.views.ListingResultsView` uses a template (`wagtaildocs/documents/results.html`) that doesn't extend `wagtailadmin/base.html` and as a result it doesn't have any styling. This results in a weird user experience when they get redirected after updating a resource.

### Describe the solution you'd like

The template `wagtaildocs/

[2022-08-11 21:44] gasman commented on #1127
@bilalshaikh292 See the link above - I think #8258 covers this already.

[2022-08-11 22:04] gasman commented on #8979
Hi @ZachPerkitny,
ListingResultsView intentionally only returns an HTML fragment, because it's only used in AJAX requests when running a search query - the response is used to replace the results listing element without refreshing the whole page. A user should never be sent to that URL directly - if that's happening, that sounds like a bug. Please can you give more details of where this is occurri

[2022-08-12 01:38] Akash-Kumar-Sen commented on #8823
'We should choose a new focus outline color that scores better against white' which page we are talking about here?

[2022-08-12 02:07] lb- commented on #8823
The goal is to find a colour that works better against most of the backgrounds (see the contrast grid).

Contrast against white should not be too hard. But finding a contrast colour that also works well when focusing on the sidebar buttons (sitting on purple) and then inside messages is harder.

I would say that the message backgrounds are less priority. Maybe we will end up with a seperate colour

[2022-08-12 02:13] lb- commented on #6587
@raminjrmz this issue has been closed for some time - see above comments.

I recommend you start a discussion about your problem and see if others can provide a work around. Or if you feel there is a bug that is not covered by this response above - maybe a new bug is needed.

[2022-08-12 06:59] robvdl opened #8980 "When on site history report page and opening page menu (AND the window is maximised), click on home opens CSV download?"
### Issue Summary

While I am on the site history report page, and I open the "Pages" slideout menu and click on Home, it goes to download a CSV of the site history.

When I am on another page, it doesn't do that, very strange.

### Steps to Reproduce

1. Go to reports, site-history
2. Click Pages menu
3. Click Home

Any other relevant information. For example, why do you consider this a bug and w

[2022-08-12 07:04] robvdl commented on #8980
When inspecting the HTML element under the "Home" link, it seems some JS has replaced it with a Download CSV link.

I think the Download CSV button JS code is somehow targetting the menu item.

[2022-08-12 07:46] lb- commented on #8980
@robvdl please can you add a screenshot of what you mean. I have tried to follow the steps to reproduce and cannot trigger this same issue.

Note: I am testing on the latest `main` branch (future release 4.0).

I tried each of the buttons with boxes around them (below screenshot) and none of them downloaded the CSV.

Also - can you rule out that your project has no custom JS running in it that cou

[2022-08-12 08:50] robmoorman opened #8984 "Auto-capatilization of block (and field) names"
### Is your proposal related to a problem?

In Django it's best practice to put the verbose_name in lowercase as Django is auto-capitalizing these values in e.g. the Django admin and/or forms.

In Wagtail this auto-capitalizing isn't done, so you have to capitalize these value yourselves in StreamField labels.

### Describe the solution you'd like

In the UI, capitalize the labels on two places (t

[2022-08-12 08:52] gasman commented on #8635
(Hopefully) fixed in #8965.

[2022-08-12 08:52] #8635 closed

[2022-08-12 09:13] gasman commented on #8984
Hi @robmoorman,
I don't think it's valid to consider the `label` argument on blocks as analogous to `verbose_name`. In the case of `verbose_name`, it makes sense to define it as lower-case because it might be used in situations where it doesn't get capitalised, e.g. "Add a %s". However, `label` is only used in this one place, so it's more appropriate for the developer to specify it exactly as they

[2022-08-12 09:13] #8984 closed

[2022-08-12 09:15] robmoorman commented on #8984
That makes actually sense @gasman thanks for your quick and well argumented answer.

[2022-08-12 09:26] robvdl commented on #8980
I made some very interesting discoveries. I don't even know where to start but it seems to be tied to maximising the window. it just doesn't make sense.

See first I took a screenshot, notice the hover link is fine it says /admin/pages/3/ when hovering over:

![image](https://user-images.githubusercontent.com/1018674/184325555-34633bd0-29b8-4bf5-a025-18850bb51202.png)

Then I played around with ma

[2022-08-12 09:33] robvdl commented on #8980
The thing that makes this even more interesting is maximising/unmaximising the browser window changes the link change backwards and forward between the correct and incorrect lnk, you don't even need to refresh the page.

[2022-08-12 10:04] gasman commented on #8980
I'm also unable to replicate this, testing on a fresh Wagtail 3.0 installation on Chrome and Firefox at various window sizes.

It sounds like this could be a CSS issue - the link on the 'Download' button somehow being set to full screen width and being given a z-index that overlaps the menu. Do you have any CSS customisations on your project?

[2022-08-12 10:12] robvdl commented on #8980
I don't but a CSS issue makes total sense, I'll do some debugging with the browser tools.

I have Web Developer toolbar installed, it can highlight boxes around CSS elements.

[2022-08-12 10:16] robvdl commented on #8980
This is with "outline block level elements". If you hover over the red box area and to the right of it, you get the wrong link:

![image](https://user-images.githubusercontent.com/1018674/184334423-daa01e33-ef5a-4d6e-94f0-8a555a477268.png)

If you hover your mouse just above it, you get the right link:

![image](https://user-images.githubusercontent.com/1018674/184334517-4a833587-cd7c-41a2-891c-5b

[2022-08-12 10:17] robvdl commented on #8980
I'll try with topography turned on, might give some more insight of overlapping CSS elements.

[2022-08-12 10:19] robvdl commented on #8980
Unfortunately topographic information didn't give any additional insight, I'll keep debugging:

![image](https://user-images.githubusercontent.com/1018674/184335059-13de1d2e-94d9-45aa-9c3a-ec654b94d3a4.png)

[2022-08-12 10:22] robvdl commented on #8980
fyi Firefox is doing it too

[2022-08-12 11:43] thibaudcolas commented on #8961
I have merged #8962 as-is (thank you for putting this together @lb-!). Will re-open this so we look for another fix, as the solution is specific to panels while the `until-found` issue is with the CSS reset applying to the whole of the admin here:

https://github.com/wagtail/wagtail/blob/main/client/scss/generic/_normalize.scss#L54-L63

Right now it’s only the panels that use this but I think it’s

[2022-08-12 11:44] gasman commented on #6512
Addressed in #8985 so that we don't end up version-bumping this yet again (sorry for the lack of response!). It looks like fully supporting non-integer IDs on image models will require much more widespread changes (e.g. to URL routes), and I'm not clear on what the use case of this is - but if you're still interested in pursuing this, we're happy to look at any follow-up PRs.

[2022-08-12 15:22] tomkins opened #8988 "collectstatic fails with ManifestStaticFilesStorage"
### Issue Summary

`./manage.py collectstatic` results in the following:

[code]

Assuming that #8921 is the most likely cause.

### Steps to Reproduce

[code]

### Technical details

- Python: 3.10
- Django: 4.1
- Wagtail: 4.0rc1

[2022-08-12 15:27] danhayden commented on #8988
I'm getting the same error when running `./manage.py collectstatic --noinput` on Wagtail: 4.0rc1

[2022-08-12 16:59] danhayden opened #8989 "wagtail 4.0rc1 migration ValueError: Could not find object DocumentChooserBlock"
### Issue Summary

[code]

I'm using a custom document model (`WAGTAILDOCS_DOCUMENT_MODEL = "custom_documents.CustomDocument"`) so I removed `WAGTAILDOCS_DOCUMENT_MODEL` setting it see if the error persisted and when running `./manage.py migrate` the ValueError changes to:

[code]

`CustomDocumentChooserBlock` -> `DocumentChooserBlock`

### Steps to Reproduce

1. run `./manage.py migrate` or `./ma

[2022-08-12 17:04] tomkins commented on #8989
Steps to recreate from scratch:

[code]

[2022-08-12 17:40] lelit opened #8990 "Showing validation errors on collapsed sections"
### Is your proposal related to a problem?

I quickly tried the [new 4.0 editor](https://docs.wagtail.org/en/latest/releases/4.0.html#page-editor-redesign) and I found it very nice, kudos!

However there is a thing that I find very difficult, in particular with the new default of collapsing all sections in the edit page: when there are validation errors, there's no way to quickly understand *which

[2022-08-12 17:54] lelit commented on #8990
Another option could be make the indicator at the page top a button, that opens/scrolls to the first erroneous field.

[2022-08-12 18:02] chosak commented on #8989
Thanks for the simple test case @tomkins. I can confirm your test case works for me on Wagtail 3.0.1 but fails on 4.0rc1.

At first glance I wonder if this error has something to do with https://github.com/wagtail/wagtail/commit/252f9dcc1fee3faec11a1aeefcfa5bd24cb7c4cf - as of this commit, DocumentChooserBlock is no longer defined "[in] the main module body" per the error message, but rather as a

[2022-08-13 09:11] vilemduha commented on #6534
confirmed on Android Samsung a52. Not usable.

[2022-08-14 05:22] lb- opened #8992 "Breadcrumbs JavaScript error on root page listing / index (4.0 RC)"
### Issue Summary

The breadcrumbs on the page listing under the root page is triggering a JavaScript error.

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Load up the Wagtail admin
3. Navigate to the root page
4. Expected: No console errors
5. Actual: Console error triggers `Uncaught TypeError: breadcrumbsToggle is null` (note: error is not as clear in the compr

[2022-08-14 05:23] lb- commented on #8992
@PaarthAgarwal  can you please investigate this, confirm it is reproducible, and prepare a fix for this.

Once fixed we will cherry pick the change to the 4.0 branch.

[2022-08-14 05:57] PaarthAgarwal commented on #8992
Sure✌️

[2022-08-14 13:41] Akash-Kumar-Sen commented on #8912
Hi @mehrdadmoradii can't produce the issue despite following the exact same steps. Can you please elaborate the steps a bit more?

[2022-08-15 03:09] seb-b opened #8996 "Jinja2 settings tag throwing exception 4.0rc1"
### Issue Summary

After upgrading from 3.0.1 to 4.0rc1 anywhere a `{{ settings( ) }}` tag is used causes an exception

### Steps to Reproduce

Try to use the jinja2 settings tag, happens for both missing settings models and ones that exsist

Stacktrace -

[code]
Project name in this example was `rmi`

Removing all `settings()` tags lets the page render fine

### Technical details

-   Python vers

[2022-08-15 05:36] lb- opened #8997 "4.0 - Updated Screenshot (Readme)"
* Readme page needs an updated screenshot for 4.0

[2022-08-15 09:51] gasman commented on #8988
Confirmed on a new `wagtail start` project. Bisecting shows that this was introduced in af9b16e93d1f57e2c13f085c58e5e0307c751caf

[2022-08-15 11:39] sowinski opened #8998 ""Nice" JSONField support"
Hi,

I use Wagtail for my multilingual website which works great. I can write nicely content for my blog / news etc.

But there is one feature missing for me. I have a multilingual website with different domains, like
example.com
example.nl
example.fr
example.de
...

And each of them has a pricing page for example.
I started to have a static template for my pricing pages and translated everything

[2022-08-15 11:57] Akash-Kumar-Sen commented on #8997
By 4.0 you mean the Wagtail 4.0 version? Is it released yet? Then I can do the job.

[2022-08-15 12:46] lb- commented on #8997
Thanks but I might see if @KalobTaulien is ok to do it as he did the last update and I don't know how (kind of looks like safari but no url bar).

[2022-08-15 12:57] gasman commented on #8988
.svg files referenced from the wagtailadmin CSS need to exist under `wagtail/admin/static/wagtailadmin/images/icons`, which in turn means they need to be placed in `wagtail/admin/static_src/wagtailadmin/images/icons/` to be copied into place by `npm run build`. Copying `chevron-down.svg` from `wagtail/admin/templates/wagtailadmin/icons/` into that location fixes the issue, but

1) we should confir

[2022-08-15 14:04] gasman opened #9002 "Add test for manage.py collectstatic to CI"
### Is your proposal related to a problem?

See https://github.com/wagtail/wagtail/issues/8988#issuecomment-1214980292 - the wagtailadmin CSS referenced a missing SVG file, which caused the `./manage.py collectstatic` command to fail. Since we don't routinely run collectstatic during local development, and our CI environments don't run it either, this went un-noticed until the release candidate.

[2022-08-15 16:00] mehrdadmoradii commented on #8912
Hi @Akash-Kumar-Sen, thanks for mentioning that. I have followed the steps on https://github.com/wagtail/wagtail/issues/8912#issue-1319471225 with a subtle change on home/templates/home/sub_home_page.html just to highlight the nested text visually. Can I ask which version of Wagtail you are using?

[2022-08-15 16:05] Akash-Kumar-Sen commented on #8912
I was using the latest main branch for that.

[2022-08-15 16:15] mehrdadmoradii commented on #8912
For sure @Akash-Kumar-Sen, I am on the Slack channel, you can also send me an email to find another way to communicate.

[2022-08-15 17:06] gasman commented on #8989
PR created: #9004

Yep, that's correct. Whenever a custom Python object (such as a block object) appears in a model definition, the result of calling `deconstruct()` on that object will be "baked in" to the relevant migration files, which means that the creator of that object is effectively making a commitment that its definition will remain in place forever (or else people would have to go back a

[2022-08-15 17:08] AmmonQ commented on #7992
I have a case where this would be very useful.

[2022-08-15 17:15] gasman commented on #8980
Closing for now as unable to replicate, but we'll be happy to take another look if you can reproduce this on a fresh Wagtail installation.

[2022-08-15 17:15] #8980 closed

[2022-08-15 18:18] mehrdadmoradii commented on #8996
I can also reproduce the bug.

### Technical details

- Python version: 3.9
- Django version: 4.0.7
- Wagtail version: 4.0rc1

# Steps to reproduce

1. Start a new project with `wagtail start mysite`.
2. Edit TEMPLATES at mysite/settings/base.py as following:

[code]

3.  Add the following to home/models.py:

[code]

4. Run `python manage.py makemigrations` and`python manage.py migrate`.
5. Add th

[2022-08-15 19:19] mehrdadmoradii commented on #8992
I can also reproduce the bug.

### Technical details

- Python version 3.9
- Django version 4.0.7
- Wagtail development version (main branch)
- Web Browser versions:
    - Google Chrome version 103.0.5060.134 (Official Build) (x86_64)
    - Firefox version 103.0.5060.134 (Official Build) (x86_64)

## Steps to reproduce

1. Generate a new project with `wagtail start mysite`.
2. Run the script migra

[2022-08-15 20:11] chosak commented on #8996
I can also reproduce this with the following test case, from within the Wagtail admin alone:

On Wagtail 3.0.1:

1. Create a new project `wagtail start testproject; cd testproject`
2. Edit testproject/settings.py: add `"wagtail.contrib.settings",` to `INSTALLED_APPS`, add `""wagtail.contrib.settings.context_processors.settings",`" to `TEMPLATES: { "OPTIONS": [ ... ] }`.
3. Edit home/models.py:

[c

[2022-08-15 20:40] mehrdadmoradii commented on #8884
I used bakerydemo project, that didn't produce the bug.

## Steps

1. Clone the bakerydemo project using `https://github.com/wagtail/bakerydemo.git`.
2. Run `docker-compose up -d`.
3. Enter the container shell and create a super user using `docker exec -it container-name bash` then `/venv/bin/python3.9 manage.py createsuperuser`.
4. Bring up the container logs with `docker logs -f container-name`.

[2022-08-15 21:05] chosak commented on #8996
In Django 3.2, the error message is slightly different:

<details>
<summary>Full stack trace</summary>

[code]
</details>

I spent a little time trying to figure out what is going on here. The problem seems to be something with [this line](https://github.com/wagtail/wagtail/blob/8564383ef5165ab4852ce967408e8ce5580960b5/wagtail/contrib/settings/models.py#L143); maybe something about how the primary

[2022-08-15 21:35] #8992 closed

[2022-08-16 03:10] #8979 closed

[2022-08-16 03:10] ZachPerkitny commented on #8979
Just upgraded version of Wagtail, no longer an issue

[2022-08-16 04:18] thibaudcolas commented on #8990
Hey @lelit, thanks for the report. Could you share a screenshot of what this looks like for you?

This is the bit I don’t understand – we don’t collapse anything by default. And even when a site implementer marks a section as "collapsed by default", we display it expanded if there are errors within it.

[2022-08-16 08:19] th3hamm0r commented on #8989
@gasman I think this hasn't been fixed completely, as it seems like it only works when the custom document model is named "Document".
In our case, but also the original case above, and also if you just follow the [docs](https://docs.wagtail.org/en/latest/advanced_topics/documents/custom_document_model.html), when using a different model name the error remains.

Our model for example is named `Exte

[2022-08-16 08:25] thibaudcolas commented on #8823
I’ll remove the "good first issue" label from this based upon recent discussions. We want to switch to one of our light teal shades for the focus outline color, however that can only happen once we have fewer prominent buttons using similar shades, particularly the "filled" button variant. We also need to make sure the shade of teal we’re using for this has a 3:1 contrast ratio against white (not

[2022-08-16 09:28] lelit commented on #8990
I'm **really** sorry for being inaccurate, as I didn't mention that I'm using `StreamField`s and in the specific case I have an home page with
[code]
where `HomePageBlock` is something like
[code]

At that point, when one of the blocks has errors, I see the following:
![example1](https://user-images.githubusercontent.com/412797/184845490-00377b36-73b2-4dc1-b2c3-053af99c0c03.png)

To discover where

[2022-08-16 09:34] th3hamm0r opened #9006 "Exception when custom site settings haven't been created yet 4.0rc1"
### Issue Summary

This issue seems to be related to the issue #8996, with the difference that if the settings haven't been initialized/created in the db, this error occurs:
[code]

### Steps to Reproduce

1. Follow https://github.com/wagtail/wagtail/issues/8996#issuecomment-1215740647, BUT directly install and start with wagtail 4.0.
2. When you reach `6. Go to Setting > Test Settings. Everything

[2022-08-16 09:39] danhayden commented on #8989
I have also tested on the latest commits and can confirm the issue persists when using a different name for the custom document model.

[2022-08-16 09:42] th3hamm0r commented on #9006
It looks like it has something (magic) to do with the deprecated `wagtail.contrib.settings.models.BaseSetting` class, which is normally used when upgrading an existing wagtail<4 installation.
Changing your custom settings model to inherit from `wagtail.contrib.settings.models.BaseSiteSetting` instead of `wagtail.contrib.settings.models.BaseSetting` fixes this and also #8996 for me.

This change is

[2022-08-16 09:47] th3hamm0r commented on #8996
I've stumbled across a related problem #9006.
For me, changing from the outdated `BaseSetting` class to the new `BaseSiteSetting` class fixes the issues.

This has been documented in the release notes, but not that the existing solution would break, which is obviously unintended.
https://docs.wagtail.org/en/latest/releases/4.0.html#basesetting-model-replaced-by-basesitesetting

[2022-08-16 09:50] thibaudcolas commented on #1806
For anyone interested in this – there’s been discussion (and a lot of progress) on making Wagtail’s snippets functionality more generic, powerful, and customisable: #8609

[2022-08-16 09:57] thibaudcolas commented on #2328
I’ll close this now based on the above. Help text is now much more prominent and consistently displayed in the latest designs, and placeholder text should be considered an anti-pattern.

[2022-08-16 09:57] #2328 closed

[2022-08-16 10:12] #4055 closed

[2022-08-16 10:18] lb- commented on #8990
Is this a duplicate of https://github.com/wagtail/wagtail/issues/4122 ?

[2022-08-16 10:26] thibaudcolas commented on #7332
This is indeed fixed #8921. The only difference in forced colors mode is the hover styles, using borders rather than a background:

![forced-colors-collapsible](https://user-images.githubusercontent.com/877585/184857781-0782c909-8eda-4982-a65d-9b17a6c00462.gif)

[2022-08-16 10:26] #7332 closed

[2022-08-16 10:28] thibaudcolas commented on #7260
This has been implemented in time for the upcoming Wagtail 4 release. Here is what it will look like:

<img width="629" alt="translate-page" src="https://user-images.githubusercontent.com/877585/184858222-f679bd3e-bd6c-442a-af37-9bd66d35a7fe.png">

[2022-08-16 10:28] #7260 closed

[2022-08-16 10:29] gasman commented on #8990
@lb- No, I don't think so. #4122 is about StreamField not handling custom validation errors that are triggered outside of StreamField's own mechanism; this one is about the interaction between validation errors (including ones coming from StreamField itself) and the collapse feature.

[2022-08-16 11:09] thibaudcolas commented on #7402
This all seems to be working as expected for me, following those same steps – so I’ll close this now.

Tested in Wagtail `main` / "4.0", Firefox 103. @QiYuTechDev if you can still reproduce the issue with different steps, please let us know!

[2022-08-16 11:09] #7402 closed

[2022-08-16 11:12] thibaudcolas commented on #6374
This has been fixed as of Wagtail 4. Headings will show with a smaller font size when nested.

I don’t think this is explicitly documented anywhere, but we do expect built-in panels to be relatively flexible to support use cases like this.

[2022-08-16 11:12] #6374 closed

[2022-08-16 11:19] thibaudcolas commented on #7147
We’ve re-implemented StreamField styling for the upcoming Wagtail 4 release, so I’ll close this now. For the "Add" button in particular, it would be problematic if it was as prominent as suggested here. Like the "Duplicate" and "Remove" buttons, we have to display one "Add" per block, even though users might never want to interact with it in a given location. So it’s important it doesn’t call for

[2022-08-16 11:19] #7147 closed

[2022-08-16 11:21] thibaudcolas commented on #5125
This will be fixed in the upcoming Wagtail 4 release. Now inputs take up the whole of the available width to their right – the only reduction in width is indentation from nesting.

[2022-08-16 11:21] #5125 closed

[2022-08-16 11:26] thibaudcolas commented on #6107
Now updated based on the implementation of page editor form styles in #8921.

[2022-08-16 11:28] thibaudcolas commented on #6929
This is no longer relevant as of quite a few versions ago (we now have the opposite issue of StreamField icons no longer supporting the icon font, see #8533).

[2022-08-16 11:28] #6929 closed

[2022-08-16 11:31] thibaudcolas commented on #4063
This has been fixed as of #8921. Now the select styles only depend on `<select>` element, and all `<select>` elements across the admin should render the same.

Note there are still a few fields where the _layout_ of elements around the widget will differ based on the field type, but not `select`.

[2022-08-16 11:31] #4063 closed

[2022-08-16 12:05] lb- commented on #8790
Discussed this a bit today

* Should aim to use the html as is (except for scenarios where the tag is incorrect), including the classes
* There will be a huge amount of classes copied/pasted in other code (including packages) so breaking this may be an issue

[2022-08-16 12:14] thibaudcolas commented on #6556
I’m unable to reproduce this in Wagtail 4 (tested with Firefox & Chrome). I’m not clear what would have changed in this release, so I would assume this has been fixed a few releases ago and we forgot this issue. Closing now – if anyone still experiences this please let us know.

[2022-08-16 12:14] #6556 closed

[2022-08-16 12:15] thibaudcolas commented on #6476
We’ve significantly changed the designs for forms’ layout in Wagtail 4, as of #8921. Closing!

[2022-08-16 12:15] #6476 closed

[2022-08-16 12:28] thibaudcolas commented on #4386
This has been fixed in Wagtail 4, where Boolean fields render with the label above the widget:

<img width="953" alt="boolean-field-row" src="https://user-images.githubusercontent.com/877585/184879376-4d6f80c3-5fc6-4ae7-82dc-7d10353ee62b.png">

I don’t think there is anything specific to boolean fields about the order so this could just be the set vs. list issue mentioned by Lucas.

[2022-08-16 12:28] #4386 closed

[2022-08-16 12:30] #2305 closed

[2022-08-16 12:31] thibaudcolas commented on #4102
I believe this has been changed a _long_ time ago to always have the "Add" button.

[2022-08-16 12:31] #4102 closed

[2022-08-16 12:33] thibaudcolas commented on #3676
I’m unable to reproduce this as of #8921, so will close this now.

[2022-08-16 12:33] #3676 closed

[2022-08-16 12:34] thibaudcolas commented on #2888
This is fixed as of #8921, with field widgets now consistently displaying below their label.

[2022-08-16 12:34] #2888 closed

[2022-08-16 12:39] thibaudcolas commented on #434
I believe this has been addressed in #8921, where InlinePanel specifically uses MultiFieldPanel to render its children.

[2022-08-16 12:39] #434 closed, assigned to nobody

[2022-08-16 12:42] thibaudcolas commented on #8828
Fixed in #8921. Here are Wagtail 4 forced colors checkbox styles for posterity:

![checkbox-forced-colors](https://user-images.githubusercontent.com/877585/184882303-a38f65b0-d780-48dc-83b6-518e8b994f3d.gif)

[2022-08-16 12:42] #8828 closed

[2022-08-16 12:44] thibaudcolas commented on #8829
This has been fixed in #8921.

[2022-08-16 12:44] #8829 closed

[2022-08-16 12:46] thibaudcolas commented on #7715
This has been addressed in #8921, which will be released in Wagtail 4.

[2022-08-16 12:46] #7715 closed

[2022-08-16 12:50] thibaudcolas commented on #4471
We’ve redesigned top-level FieldPanels in Wagtail 4, in a way that I think solves this. Here is a BooleanField in a top-level FieldPanel:

<img width="398" alt="boolean-field-label" src="https://user-images.githubusercontent.com/877585/184883187-87158ace-9386-4cf9-b18e-ea1cc937191d.png">

And a BooleanField that’s not at the top level:

<img width="177" alt="boolean-field-nested" src="https://user

[2022-08-16 12:50] #4471 closed

[2022-08-16 12:55] thibaudcolas commented on #8126
As of #8921, we have:

- 8 instances of our `clearfix` mixin. Most of them are related to our legacy float grid, which could likely be switched over to CSS grid layout without further refactoring
- 10 instances of `clear`
- 44 instances of `float`

[2022-08-16 12:57] thibaudcolas commented on #8947
All of this makes sense to me. Note `u-hidden` uses `!important`, so the logical Tailwind replacement would be `!w-hidden`.

[2022-08-16 14:01] th3hamm0r opened #9008 "ChooserBlocks always have hidden edit-links (4.0rc1)"
### Issue Summary

The edit-button is in the HTML, but it has the `w-hidden` css class.
I assume that this is because the `StreamField` widgets are rendered on the JS-side and in that case the `edit_url` is always empty:
https://github.com/wagtail/wagtail/blob/666cc5e8e5889bc95b527b8ef2af3841ffe0d2b7/wagtail/admin/templates/wagtailadmin/widgets/chooser.html#L28

### Steps to Reproduce

1. Start a

[2022-08-16 14:25] gasman opened #9010 "Document chooser upload form no longer populates title from filename"
### Issue Summary

Within the upload form on the document chooser modal, when you select a document file, the title field is no longer populated from the filename.

### Steps to Reproduce

1. Set up a project with a homepage model containing a StreamField containing a DocumentChooserBlock, as per https://github.com/wagtail/wagtail/issues/8989#issuecomment-1213331089
2. Add a block and open the doc

[2022-08-16 14:33] gasman commented on #9008
Confirmed... looks like this was introduced in 21b5ad5ce9e6698e9912abeeab23ccb2db54ad70.

[2022-08-16 14:48] gasman commented on #9008
OK, that fix was more straightforward than I expected :-) #9011

[2022-08-16 15:24] hazho commented on #7767
the simplest way is to implement a (per site) public streamfields block for this, the following gist is an example, that can be customized and enhanced based on any use cases (even having multiple templates to be chosen by the admins)
https://gist.github.com/hazho/ef9d6992893c46a3a3acf9b2667719e7

[2022-08-16 15:28] gasman commented on #9010
Seems to have been introduced in 252f9dcc1fee3faec11a1aeefcfa5bd24cb7c4cf - I'm guessing the logic in ChooserViewSet for constructing the block class is failing to hook up the AdminDocumentChooser widget that implements this custom behaviour, and is just using the BaseChooser implementation.

[2022-08-16 15:41] hazho opened #9012 "graphical Hierarchy of models needed, especially for streamField blocks"
### Targeting: Complicated (nested) models/classes
### Summary: new developers joined to the team and need to understand the construction of the models(cores/abstracts and all others that has a complicated/nested inheritances/compositions)
### Details
Recently I have increased the number of developers in my team, but due to rapid changes we old developers make, the new developers get blurry vision

[2022-08-16 16:20] mehrdadmoradii commented on #9010
As I am following the same steps, I can reproduce the bug - Wagtail version 4.0rc1. However, as I am using the development version of Wagtail the widget does not even display. Also, the browser console logs some client-side errors.

<img width="1440" alt="Screen Shot 2022-08-16 at 12 11 10 PM" src="https://user-images.githubusercontent.com/63321262/184928145-d58dd05f-e39f-4415-b751-1881d5ad6f1d.pn

[2022-08-16 18:40] #8988 closed

[2022-08-16 19:50] #8989 closed

[2022-08-16 21:12] lb- commented on #8790
Some useful links about buttons.

https://css-tricks.com/a-complete-guide-to-links-and-buttons/
https://www.buttoncheatsheet.com/
https://a11y-101.com/design/button-vs-link

[2022-08-16 21:45] #8996 closed

[2022-08-16 21:45] #9006 closed

[2022-08-16 21:50] #9008 closed

[2022-08-17 07:03] leongraumans commented on #8611
@robmoorman  I also have this issue in Wagtail 3.0.1,  did you perhaps come up with a workaround (other than `collapsed=False` )?

[2022-08-17 07:14] robmoorman commented on #8611
@leongraumans hé! Nope! Temporary just didn't collapsed the panel. Probably a listener and some js would do the trick... but phasing out table blocks as much as possible to very low prio for us.

[2022-08-17 07:30] th3hamm0r opened #9014 "Modal's close button hard to see (4.0rc1)"
### Issue Summary

Shouldn't it be white, similar to the title?
![wagtail_modal_close_button](https://user-images.githubusercontent.com/468164/185060003-2c08a5a1-5612-4049-87b3-afdc4e1a1b44.gif)

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Add a `StreamField` with an `ImageChooserBlock` for example
3. makemigrations & migrate

Any other relevant information. Fo

[2022-08-17 07:31] leongraumans commented on #8611
@robmoorman hey! :)  And thanks, I'll keep an eye on this thread

[2022-08-17 07:59] thibaudcolas commented on #1181
Moving this to GitHub Discussions as this seems unlikely for us to implement in Wagtail core – we’d likely recommend implementing a package for this.

[2022-08-17 08:01] thibaudcolas commented on #835
I’m going to move this to a Discussion as I think these days we’d generally recommend endeavours like this are done as third-party packages first, with any needed core change tracked separately.

[2022-08-17 08:01] #835 closed, assigned to gasman

[2022-08-17 08:07] thibaudcolas commented on #4088
Without further context – this doesn’t seem that bad to me, considering this empty state is unlikely to be seen by most people.

I’ll close this now, I believe we’re likely to revisit this as part of work on listings, but that would be for all listings not just images and documents.

[2022-08-17 08:07] #4088 closed

[2022-08-17 08:21] thibaudcolas commented on #1556
There is no such thing in HTML as a "group of checkboxes", so at least to me the behavior described above seems reasonable in this case.

- If you want "at least one option selected", then a "Multiple select" will do this.
- If you want "only one", then a radio button will do this

Although we could implement what’s suggested here on the validation side, for users of such a form, there would be no

[2022-08-17 09:28] thibaudcolas commented on #1564
I’m going to close this in favour of #4485, which seems to be pretty much about the same thing, and covers the most recent changes in this area.

[2022-08-17 09:28] #1564 closed

[2022-08-17 09:30] thibaudcolas commented on #4485
For anyone interested in this – the StreamField form builder now lives at https://github.com/coderedcorp/wagtail-flexible-forms. All working from the Kickstarter campaign has made its way to Wagtail core with the exception of the form builder.

There are no plans that I’m aware of to get this form builder into core – not to say this can’t / shouldn’t happen, just no one is actively making the case

[2022-08-17 09:35] thibaudcolas commented on #4964
As of Wagtail 4.0 (RC), this seems to be working as expected, so I’ll close this now. I don’t think we made any changes to this recently so I won’t mark it as fixed in any particular release.

Screen recording of enabling manual sort order, changing the order, switching back to the non-manual ordering, and then again in manual sort order:

![sort-order](https://user-images.githubusercontent.com/87

[2022-08-17 09:35] #4964 closed

[2022-08-17 09:44] th3hamm0r opened #9017 "Draftail BlockToolbar: Items not clickable when opened with "/" (4.0rc1)"
### Issue Summary

If you open the block toolbar by clicking the "+"-icon, you can select an item with the mouse, but if you open it with "/", clicking an item only closes the toolbar, but does not insert anything.

_Below: First I'm adding a block with the "+"-icon, then after deleting it, I'm retrying with "/". Directly starting with "/" doesn't change anything._
![wagtail_draftail_toolbar_issue

[2022-08-17 09:45] thibaudcolas commented on #4707
I believe this is solved by #8689 / #8647, which changes the "Move" UI to use the page chooser. This is still not sortable / filter-able, but covers the "search" alternative mentioned by @Cward-morris.

It’d still be great to add filters and sorting to the page chooser – which is covered by #8557.

[2022-08-17 09:45] #4707 closed

[2022-08-17 09:47] thibaudcolas commented on #8557
Note from #4707 – it’d also be nice to have a way to filter the pages based on whether they are valid choices for the chooser.

[2022-08-17 09:51] thibaudcolas commented on #5578
See #8609 for recent discussion on the roadmap for snippets. I don’t see much about sorting on there, it could be worth someone making the case on that thread.

[2022-08-17 10:04] thibaudcolas commented on #2290
For future reference – based on my work in #8930, I believe this migration is (a bit) more complex than suggested above. For CharField, we need to add the wrapping `<p>` and escape all HTML typed inside the content. For TextField, we need to wrap _each line_ in a paragraph (`\n\n`), and also convert soft line breaks (single `\n`) into `<br>` tags.

We’ve also recently introduced character counts f

[2022-08-17 10:08] thibaudcolas commented on #5812
See #8851 and https://github.com/wagtail/wagtail/discussions/8609, as part of which we’re introducing generic filtering functionality to generic views that aren’t ModelAdmin. I believe this is generally the direction we want to take to other parts of the admin, so will rename this accordingly.

[2022-08-17 10:12] thibaudcolas commented on #2110
See #8156, which I believe tackles migration scenarios like the one described here.

[2022-08-17 10:24] zerolab commented on #5578
#8890 adds the ability to sort the listing. ([code ref](https://github.com/wagtail/wagtail/pull/8890/files#diff-e1bcd86f7d82181d10043d53e7cc8eda34f657fe28c7a75c3768b707ad000e10R181-R191))

@laymonage could pitch in more on this

[2022-08-17 10:36] thibaudcolas commented on #4695
I think this has been solved by #8689 / #8647, where the "Move" target is now using the page chooser.

[2022-08-17 10:36] #4695 closed

[2022-08-17 10:37] thibaudcolas commented on #6918
As of #8689 / #8647, the "Move" page uses the page chooser UI, which supports restricting which page types are allowed options. Since the Copy page UI also uses the page chooser, I would expect it’d be relatively simple to backport those "Move" view changes to it.

[2022-08-17 10:41] thibaudcolas commented on #8206
As of #8689 / #8647, the "Move" UI now uses the page chooser to select the new parent page, which solves this issue. The page chooser currently shows the root level by default, and even if we were to change it, I’d expect the breadcrumb within it would be much more natural to use than the previous UI’s breadcrumb.

[2022-08-17 10:41] #8206 closed

[2022-08-17 10:49] thibaudcolas commented on #7140
See also #1292 and #879. To me as a user, skipping the "add_subpage" page type selection screen feels very jarring, because you don’t know ahead of clicking what you’re going to land on (the form, or the interstitial screen).

My preference would be to always show that screen, and implement this as suggested in #1292, where the page would be divided into multiple sections based on page types being

[2022-08-17 10:51] thibaudcolas commented on #7246
We’ve significantly changed the implementation of the `<select>` in #8921, so I’m going to close this now. As far as I could tell, the selects work as expected in all browsers, and there shouldn’t be anything special about the collections one.

[2022-08-17 10:51] #7246 closed

[2022-08-17 10:54] laymonage commented on #5578
That PR adds the "Updated at" column (and live/draft "Status" column for snippets that extend `DraftStateMixin`). You can order the snippets by the new columns, but by default they respect the ordering specified in the model's `Meta.ordering`.

Technically, now you can also customize the listing view to add more columns and make them orderable, but right now the available API is too low-level and

[2022-08-17 10:55] thibaudcolas commented on #6041
This has been implemented in Wagtail 2.15 as a new block type, [TypedTableBlock](https://docs.wagtail.org/en/stable/reference/contrib/typed_table_block.html). There are more improvements in the works for this but I believe it already serves this use case well enough. I believe we’re unlikely to implement this with Handsontable due to its licensing changes, which mean we’re stuck with a relatively

[2022-08-17 10:55] #6041 closed

[2022-08-17 11:00] gasman commented on #7140
@thibaudcolas It might be jarring for a superuser who deals with diverse page types across the tree, but what about a basic editor role who's working with one page type 99% of the time, on a site that's making judicious use of `subpage_types`? For them, clicking "Add child page" on Blog Index and then having to specify Blog Page, with no other options available, is a pointless extra page load.

[2022-08-17 11:01] thibaudcolas commented on #6215
For people interested in this, we no longer support IE11 as of a few releases ago. And as of #8921, we’ve also removed a lot of the styles that would conflict with a `<input type="color">`. Here is what it would look like right now:

<img width="136" alt="color-field" src="https://user-images.githubusercontent.com/877585/185102570-8ef7d741-ce95-434d-9a1c-d9ab477de884.png">

---

I’m unsure whether

[2022-08-17 11:07] thibaudcolas commented on #7311
Hi @cvhorie, only getting to this now, which I suppose is better than never!

As of Wagtail 2.15, we support bulk actions, and in particular [custom bulk actions](https://docs.wagtail.org/en/stable/extending/custom_bulk_actions.html#custom-bulk-actions). I believe this is the missing capability you would be after. This would allow you to create a custom bulk pages copy, as part of which you could

[2022-08-17 11:07] #7311 closed

[2022-08-17 11:08] thibaudcolas commented on #7293
It looks like #7313 fixes this in Wagtail 2.15, so will close this now.

[2022-08-17 11:08] #7293 closed

[2022-08-17 11:27] thibaudcolas commented on #7370
With the new [page editor designs](https://github.com/wagtail/wagtail/discussions/7739) / #8983, I believe displaying blocks in rows should be easier now that StreamField blocks’ usage of space is much more efficient (blocks are indented to the left only).

Here is a quick prototype, just applying `display: grid; grid-auto-flow: column;` to the blocks’ parent element:
<img width="927" alt="block-r

[2022-08-17 11:30] thibaudcolas commented on #6020
I believe this will be solved by #8673, which also helps with this for keyboard users.

[2022-08-17 11:33] thibaudcolas commented on #7319
For anyone following this conversation, this is tackled by PR #8901. We were initially hoping to ship this in Wagtail 4, but were unable to complete this in time due to the complexity of the current functionality. One thing that did ship is locking (#8917).

[2022-08-17 11:53] thibaudcolas commented on #2265
We have APIs for this as of #8923, however they’re internal only currently. We’ve discussed implementing what Alex suggests above in the past, as a core feature. For people considering this, I’d recommend holding off unless you also implement the other interactions that would make this more workable UX-wise for keyboard users, in particular:

- Moving from one block to another with arrow key navig

[2022-08-17 11:57] thibaudcolas commented on #2841
See #8901, which significantly reworks the UI of scheduled publishing, and would be a good occasion to also document how it works for end users as well as developers (we’ve had to research the implementation *a lot* to get there).

[2022-08-17 12:27] thibaudcolas commented on #7140
@gasman in that case I think the current behaviour would be acceptable if we also changed the label of the link accordingly ("Add child blog page"), so users know what the link will take them to before they click.

Ideally this would only be done based on `subpage_types` (and not `max_count_per_parent` / `can_create_at`), so this shortcut only happens for the case that’s unlikely to change much ov

[2022-08-17 12:40] thibaudcolas commented on #3998
Assigning this to myself as we’re currently revisiting how the "Add" block picker in StreamField, and I’d like to make sure we give this proper thought.

[2022-08-17 12:41] thibaudcolas commented on #7140
(see also #4056 – would be nice to consider this as well if we revisited this screen)

[2022-08-17 12:41] gasman commented on #7140
@thibaudcolas Sounds good to me. Skipping the interstitial screen only when there's an explicit `subpage_types` list with a single item would also help with the common gotcha when people first try out the admin on a newly created project - at which point HomePage is the only page type available - and 'Add page' just ends up creating more homepages as children of the actual homepage. In that situat

[2022-08-17 13:15] gasman commented on #9017
Seeing the same issue on Chrome 104.0.5112.79... thanks for reporting!

[2022-08-17 13:28] thibaudcolas commented on #8834
@anujaraj @Scotchester could you update this based on your recent progress? I know it’s been discussed on Slack but we’re not clear on where we got to with it.

[2022-08-17 13:42] Scotchester commented on #8834
I believer where we left it was that Anuja was going to research how Tailwind works to see how these buttons are now being styled, then propose a new fix that doesn't conflict with that.

It may have gotten put on the back burner in favor of automated testing, though.

[2022-08-17 14:04] gasman commented on #9017
Looks like it's been this way since this feature was first introduced in b070ce1cd3b8cc29b543db454e28b314b3fe298a - @thibaudcolas please can you investigate?

[2022-08-17 14:32] mihow commented on #3998
Fantastic, thanks for the update. Best of luck implementing this change.

[2022-08-17 15:54] thibaudcolas commented on #9002
We already have a CircleCI job that depends on both Python & Node, will see if I can make a PR to either add this or share pseudo-code here.

[2022-08-17 16:19] chosak opened #9019 "Chooser upload form validation failures return raw JSON"
### Issue Summary

Found while testing #9018, although this seems to apply to both documents and images.

### Steps to Reproduce

1. Set up a new project with a homepage model containing a StreamField containing a DocumentChooserBlock and ImageChooserBlock:

<details>
<summary>for example this code</summary>

[code]
</details>

2. [Edit the home page](http://localhost:8000/admin/pages/3/edit/), ad

[2022-08-17 16:58] gasman commented on #9019
Looks like this was introduced in eac5e0bc2cda0d78d1ffb13da32b8cc8410f2b0b.

[2022-08-17 17:06] chosak commented on #9019
+1, the specific error happens because of an uncaught exception from these lines:

https://github.com/wagtail/wagtail/blob/eac5e0bc2cda0d78d1ffb13da32b8cc8410f2b0b/client/src/includes/chooserModal.js#L16-L17

because the first line querySelector call returns null.

[2022-08-17 17:24] #9010 closed

[2022-08-17 20:41] cvhorie commented on #7311
Thibaud

Thank you.
I shall make sure that our (Manchester University) wagtail is updated.
Then report back.

--
Velson Horie
www.horie.co.uk

From: Thibaud Colas ***@***.***>
Sent: Wednesday, 17 August 2022 12:08
To: wagtail/wagtail ***@***.***>
Cc: cvhorie ***@***.***>; Mention ***@***.***>
Subject: Re: [wagtail/wagtail] wagtail editing multiple pages (#7311)

Hi @cvhorie<https://github.com/cvho

[2022-08-17 22:14] thibaudcolas commented on #4431
Revisiting this in light of #6526, and #8805, and #8671 – I’m hoping this will cause less confusion now that Wagtail’s preview is right next to the rich text fields as a side panel, so users can more easily experiment with the rendering of different blocks.

It doesn’t change the underlying confusion though, but we identified potential issues while working on #6526. Here are different options we c

[2022-08-17 22:26] thibaudcolas commented on #8023
I believe this has been fixed in #8757.

[2022-08-17 22:26] #8023 closed

[2022-08-17 23:30] thibaudcolas commented on #7188
Revisiting this with almost all of Wagtail’s supported field types after #8921, I can confirm this isn’t working. Our [dirty form check logic](https://github.com/wagtail/wagtail/blob/main/client/src/entrypoints/admin/core.js#L71) is failing for a lot of field types. I found 3 separate issues with this code so far – here is the annotated code, with comments added for each issue:

[code]

Below – th

[2022-08-17 23:47] thibaudcolas commented on #7777
As far as I can see the browser does scroll along regardless of which field type you use, it just does so with one more line’s worth of offset with `RichTextField` compared to `TextField`.

In both cases though, the area where you’re typing is covered by the fixed footer actions. And in both cases, it seems like this would be solved by adding a `scroll-padding-bottom` similarly to how we add top p

[2022-08-18 00:04] thibaudcolas commented on #8160
This seems to be working for me with both OS-level dark and light mode, as well as all of GitHub’s themes.

Unfortunately it fails in Windows High Contrast mode (dark theme):

<img width="520" alt="whcm-logo" src="https://user-images.githubusercontent.com/877585/185264231-4716c8da-0069-45e4-ba29-f73cc434014d.png">

So – we can follow GitHub’s recommended approach for this, and we also need our ima

[2022-08-18 00:32] thibaudcolas commented on #8232
Thinking of the UX of this more, my recommendation would be for:

- Having a progress indicator separate from the button. Then we can show it until actual completion of the request, without a timeout. This also solves accessibility issues with this UI: the loading indicator doesn’t work with screen readers, and doesn’t pass contrast requirements since disabled buttons have very low contrast
- Allo

[2022-08-18 00:39] thibaudcolas commented on #8493
As far as I can see this has been fixed in Wagtail 4.0 (available as `wagtail==4.0rc1` on PyPI), so will close this now. This was most likely an issue with InlinePanel hidden overflow, removed in #8983.

[2022-08-18 00:39] #8493 closed

[2022-08-18 00:56] thibaudcolas commented on #8956
I’m not sure this provides enough value to warrant the implementation effort. Perhaps if this called an API endpoint so deprecation warnings show up in the Django server logs, rather than in the browser console?

[2022-08-18 01:00] thibaudcolas commented on #8915
The editor’s toolbar has been changed to its intended design as part of the Wagtail 4.0rc1 release, where the toolbar is no longer sticky, effectively preventing this conflict.

I will close this now, though note this change has only been applied to Wagtail 4.0rc1 – the issue as described here will still be present in Wagtail 3.

[2022-08-18 01:03] thibaudcolas commented on #8955
Hi @danpaulson, could you provide a screenshot of what this looks like for you? Make sure to follow our full report templates, including technical details:

[code]

It’s unclear to me whether you’re referring to the same issue as #8915, which is in Wagtail 3.0+, or more recent changes which were only on `main` in git at the point of your comment.

[2022-08-18 01:30] thibaudcolas commented on #6534
For anyone running into this – please make the effort to share which browser version, device / OS version, and Wagtail version you’re using.

As far as I can tell this is at least working as expected on iOS (tested on iOS 15.4 Safari, iPadOS 15.4 Safari).

[2022-08-18 02:00] thibaudcolas commented on #5321
We’ve decided to go with the "Split" feature for the time being, which has been implemented first in Wagtail 3.0 as a very bespoke "Split", then in 4.0 (4.0rc1 currently available) as a more self-explanatory "insert new block here".

I’d urge a bit of caution when comparing Wagtail’s UI for this with Gutenberg. In particular I think there are a few keyboard support capabilities we are missing in o

[2022-08-18 02:00] #5321 closed

[2022-08-18 05:42] thibaudcolas commented on #9017
Thank you both, looks like I missed this scenario in my testing of the functionality. I’ve made #9022 to fix this (directly in Draftail). This case needs special handling, as we need the focus to remain within the editor during this interaction (similarly to how clicking the toolbar’s buttons works). The "+" block toolbar already works with focus outside the editor, hence why it worked there.

[2022-08-18 06:19] thibaudcolas commented on #8990
Thank you for the details @lelit! From what you’re describing, this seems to be an issue with StreamField blocks’ collapsed state. I suspect this was an issue even in previous releases, but won’t have the chance to confirm this or investigate further for the time being (I can get back to it in late August if no one else looks into it earlier).

The logic to not-collapse sections with errors for ev

[2022-08-18 06:20] thibaudcolas opened #9023 "Update rich text Link/Document Tooltip styles to match the styles of the inline toolbar"
Follow-up to #8964. With the introduction of the rich text editor’s floating / inline toolbar, we now need to update our Link/Document tooltips to similarly match the designs.

Screenshot of the tooltip as-is:

![Image](https://user-images.githubusercontent.com/877585/185301368-ac0a72c3-42f3-43b2-8e6b-89e0b617600a.png)

I believe our [design system](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfp

[2022-08-18 06:20] thibaudcolas opened #9024 "Rich text "+" block toolbar trigger needs a hoverable area even when hidden"
Follow-up to #8964. Our rich text "+" block toolbar trigger is currently reachable when focusing the field, but not on hover:

![Image](https://user-images.githubusercontent.com/877585/185303225-ad43eccf-2b63-44bb-b23b-0901e4995198.gif)

This is likely just a matter of hiding it with `opacity: 0` rather than `visibility: hidden`, so it’s at the correct spot on the screen at all times. Ideally, we’

[2022-08-18 06:21] thibaudcolas opened #9025 "Comment button positioning / styling issues"
Follow-up to #8921. The comment annotations are leaving a lot to be desired across the UI.

![Image](https://user-images.githubusercontent.com/877585/185306056-ad230952-3855-4284-9bae-9b38a48c70c2.gif)

Problematic issues:

- [x] In field rows, the comment button is overlapping with fields. It needs tighter spacing to fit in column gaps.
- [x] In rich text fields, the comment text annotation color

[2022-08-18 06:22] thibaudcolas opened #9026 "Update block chooser flyout styles based on latest designs"
Follow-up to #8964. Our rich text block toolbar is missing some of its styles:

![Image](https://user-images.githubusercontent.com/877585/185303520-42a7c1a9-1dbd-4f78-9237-f6de1c4f4fc2.gif)

- [ ] Alignment between the icons and labels is off
- [ ] The "No results" state has incorrect padding
- [ ] The first and last items do not have the correct top and bottom padding (particularly the `/-command

[2022-08-18 06:25] thibaudcolas opened #9027 "Update text styles in rich text to match designs"
In https://github.com/wagtail/wagtail/blob/9aeb2e3e49bb98201029d99fa613b0da9c6f1865/client/src/components/Draftail/Draftail.scss#L37-L74, we define text styles specifically for rich text.

Those need to be updated to match our [design system’s designs](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=5172%3A30739), particularly font size of the different heading leve

[2022-08-18 06:30] thibaudcolas opened #9028 "Add missing required asterisk to title field’s placeholder"
In our design system, the page title has a "required' asterisk next to its placeholder:

![Image](https://user-images.githubusercontent.com/877585/185309249-fe19740f-44c4-441f-b6e7-7f0941786c62.png)

This feels tricky to do in HTML/CSS, but it would be nice to find a way nonetheless. If possible without having to change the markup specifically for this field, so we keep field-specific customisatio

[2022-08-18 06:34] thibaudcolas opened #9029 "Title field panel customisations introduce invisible tab stops"
In https://github.com/wagtail/wagtail/blob/9aeb2e3e49bb98201029d99fa613b0da9c6f1865/client/scss/components/forms/_title.scss#L18, we hide the title field panel’s header with `sr-only` so the field’s label is still present for screen reader users.

Unfortunately this isn’t correct – only the heading/label should be present. Right now, this approach also leads to invisible tab stops for the anchor l

[2022-08-18 06:55] thibaudcolas opened #9030 "New styles for footer actions"
Here are the styles of this specific component:

![Image](https://user-images.githubusercontent.com/877585/185321319-a589ada0-95b6-4c9c-8fea-f1359f169a52.png)

And more generally of all dropdowns like this: https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=1241%3A18660

Ideally we’d only get to this after @wagtail/gsoc-ux-unification has implemented their changes to t

[2022-08-18 07:01] thibaudcolas opened #9031 "Forms refactorings follow-up"
cc @lb-. Here are the refactorings we had listed on #8921. Confirmed:

- [x] Forms refactoring: replace field_as_li.html with `field.html` wrapped in li (PR: [#10679](https://github.com/wagtail/wagtail/pull/10679))
- [ ] Forms refactoring: replace custom inline, block, inline-block utilities with prefixed Tailwind equivalents
- [ ] Forms refactoring: move account layout styles to avatar-panel comp

[2022-08-18 07:19] thibaudcolas commented on #8961
For anyone following this – I don’t think I’ll be able to look into this further until the very end of the month. I’ll keep this assigned for myself to look at then, but if you think this is more urgent please go for it.

[2022-08-18 07:30] thanasisxan commented on #6534
confirmed for Wagtail 3.0.1 on Xiaomi MI A1, Android 9.0 (PKQ1.180917.001.V10.0.24.0.PDHMIXM), Google Chrome browser version 104.0.5112.69

[2022-08-18 07:42] thibaudcolas opened #9033 "Form styles design review feedback"
Relatively minor fixes, which it would be nice to do for Wagtail 4.0 if their implementation is simple enough.

- [ ] Center-align fields within group permission tables
- [ ] Checkbox & radio option label should be grey
- [ ] Field row horizontal spacing
- [ ] Spacing between error icon and message

[2022-08-18 07:46] thibaudcolas opened #9034 "Header design review feedback"
Small fixes to the headers’ styles, though this component can be tricky to work with so they might prove hard to implement.

## Dashboard avatar header

- [x] Dashboard avatar header position, alignment, font styles (see [Figma](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=9551%3A47788&t=9R2rCziRg0ANh9Df-4)) (#9188)
- [x] Dashboard summary icons sizes & alignment

[2022-08-18 07:54] thibaudcolas opened #9035 "Adding comments fails in StreamField blocks"
### Issue Summary

This is a Wagtail 3.0 (or earlier) issue. Comments’ Add buttons in StreamField aren’t working, with the following JS error on click:

[code]

### Steps to Reproduce

1. Go to the bakerydemo project
2. Create a new Standard page with a HeadingBlock in the body, save draft
3. Edit the page again, attempt to add a comment to the HeadingBlock’s Heading text field

-   I have confirm

[2022-08-18 08:03] thibaudcolas opened #9036 "Implement target width, resize rules, and overlap fallback for side panels"
In https://github.com/wagtail/wagtail/blob/main/client/scss/components/forms/_form-width.scss, we define how much of the forms’ width should be dedicated to the form itself. This has fallen out of date with our [design system’s grid setup](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=5172%3A30739), and needs to be updated.

We also need to update the width of the

[2022-08-18 08:30] th3hamm0r opened #9038 "Generic choosers: hide/remove locale filter if i18n is not enabled (4.0rc1)"
First: the new generic choosers (#8480) seem to work very good so far in our tests, we can finally replace the various (often outdated) model chooser implementations with this flexible core feature, amazing work! 👍

### Issue Summary

We often use model choosers for specific page models, so they can be searched/selected easily, without using the page tree (used by the PageChooser).
Migrating our c

[2022-08-18 08:32] #9019 closed

[2022-08-18 08:40] lelit commented on #8990
Yes, I can confirm that the same happens on Wagtail 3.x.

[2022-08-18 08:44] lb- commented on #9034
@PaarthAgarwal please have a read of this - the issue list of a bit vague but we might try to help @stevedya out with some fixes.

[2022-08-18 08:55] gasman commented on #8961
So, while this is a wider issue than #8962 addresses, it sounds like it isn't actually manifesting as a bug anywhere else - this is more about addressing technical debt. As such, I think we can reasonably bump this to 4.1.

[2022-08-18 09:01] #9017 closed

[2022-08-18 09:29] th3hamm0r opened #9039 "Chooser: hide edit button when user has no permission"
Currently, the edit-button for all chooser types is always visible, even if the user has no permission to edit the model. If the user clicks the link, it will redirect him to the home page with a permission error.
This is also the case with older versions of wagtail, but maybe with the new generic choosers in 4.0 (#8480) it could be possible to hide the button accordingly for all types of choosers

[2022-08-18 10:28] laymonage opened #9040 "Live preview error banner overlaps with preview mode selector"
### Issue Summary

The live preview error banner overlaps with the preview mode selector on pages that have multiple preview modes.

https://user-images.githubusercontent.com/6379424/185371164-ffdd85c6-baab-49da-a3df-87f868ad8636.mov

### Steps to Reproduce

1. Spin up bakerydemo
2. Edit the Contact Us page
3. Make an error in the form (e.g. remove the title)
4. See the error banner overlapping wi

[2022-08-18 11:39] #9040 closed

[2022-08-18 16:31] lelit opened #9045 "Wrong Italian translation of ImageChooserBlock in Wagtail 4.0rc2"
Trying out recently released rc, I found a glitch in the Italian translation that is particularly confusing.

This is a screenshot of how an ImageChooserBlock appears in `v4.0rc2`:
![w4](https://user-images.githubusercontent.com/412797/185446603-352c8fe0-f4cc-47fa-bbd1-f4da03ef47b5.png)

where you can see that both buttons carry the same translation.

For reference, this is how it appears in `v3.0

[2022-08-18 16:45] gasman commented on #9045
Thanks for the report - I've now updated the translation strings on https://explore.transifex.com/torchbox/wagtail/ so that "Change" is "Cambia".

[2022-08-18 16:45] #9045 closed

[2022-08-18 17:10] Pomax commented on #4431
Note that `<br>` isn't any better than just leaving the `<p></p>`, as the br element is intended for use inside text, rather than between elements. Leaving the empty paragraph is actually semantically preferred, and then folks can still make it look however they want by adding custom CSS for `.richtext p:empty`

[2022-08-18 17:17] logan-bobo commented on #9002
@thibaudcolas happy to pick this up as I am familiar with impelling CI changes and docker :raised_hands:

[2022-08-18 17:18] gasman commented on #9002
@logan-bobo Thanks - go for it!

[2022-08-18 17:20] lelit commented on #9045
Thanks!

[2022-08-18 20:03] logan-bobo commented on #9002
Is there any chance I could grab an invitation to the slack channel as my domain is not on the allow list. I have some ideas but would like somewhere to discuss. My email is logan.bobofed@gmail.com. Will leave them here also.

Would we want this test to be ran as part of the `frontend`, `backend` or `nightlybuild` job. I can see that the `nightly-build` job is running on an agent that has both pyt

[2022-08-18 20:23] gasman commented on #9002
Please give https://wagtail.io/slack another go - have just regenerated the invitation link. (It only works for 100 people at a time, and it looks like we hit that limit...)

I'd suggest the `ui_tests` one - that's the one I was trying to use in #9001, and (I think) the one @thibaudcolas was referring to above as having both the Python and Node environments. I don't think `nightly-build` will fit

[2022-08-19 07:42] lb- commented on #6534
@thanasisxan when you say 'confirmed' do you mean confirmed as broken or confirmed as working ?

I tested this on my phone yesterday - Wagtail 4.0 RC - Android Pixel 4a running Android 12 and I could edit rich text fields.

[2022-08-19 08:05] lb- commented on #8997
Here are the instructions to do this

* Updated the screenshot in the README to reflect Wagtail 3 changes. Also shows off the commenting feature.
* Used browserframe.com for the frame; Used TinyPNG to compress the image.
* As per the last update https://github.com/wagtail/wagtail/pull/8331

[2022-08-19 08:05] lb- commented on #8997
Here are the instructions to do this

* Updated the screenshot in the README to reflect Wagtail 3 changes. Also shows off the commenting feature.
* Used browserframe.com for the frame; Used TinyPNG to compress the image.
* As per the last update https://github.com/wagtail/wagtail/pull/8331

[2022-08-19 08:08] lb- commented on #8997
PR up https://github.com/wagtail/wagtail/pull/9051

[2022-08-19 08:50] lukasalexanderweber opened #9052 "Extend Custom user interface colors for sidebar and page explorer"
### Is your proposal related to a problem?

I'm able to easily adjust some colors of the admin page. I used the [documentation](https://docs.wagtail.org/en/stable/advanced_topics/customisation/admin_templates.html#custom-user-interface-colors) to customize the interface and setted the css to

[code]

However, I find it somehow inconsistent that the sidebar and page explorers are not able to be adj

[2022-08-19 08:56] gasman commented on #9052
Hi @lukasalexanderweber - which version are you running? Support for colour customisation has been greatly extended in the upcoming Wagtail 4.0 - https://github.com/wagtail/wagtail/pull/8824

[2022-08-19 09:06] lukasalexanderweber commented on #9052
ahh nice [I see](https://docs.wagtail.org/en/latest/advanced_topics/customisation/admin_templates.html#custom-user-interface-colours)

I'm running on 3.0.1., but now can't wait till 4.0 is released 🚀

thanks for the info @gasman!

[2022-08-19 09:06] #9052 closed

[2022-08-19 09:07] th3hamm0r opened #9053 "Clicking outside the modal not always closes it"
### Issue Summary

This is not really a big issue, but I just found out, that there are some areas outside the modal, which when clicked, won't close the modal. I've also tested other projects down to wagtail 2.15, which also have this issue.

Basically, the area of `div.modal-dialog` including its paddings block the click (blue and purple area in the examples below). For its content that makes se

[2022-08-19 09:09] timjmansfield opened #9054 "Make admin page titles more useful for admin users"
### Is your proposal related to a problem?

Every single Wagtail admin screen puts “Wagtail” at the front (left) of the `<title>` – which occludes the more useful information of which page you might have open as soon as you have a few tabs.

The example tab I have open is the page editor for a page titled: “Organising A Museum Website”.

The page title is: "Wagtail - Editing News Article Page - Or

[2022-08-19 09:15] lb- commented on #9054
I think re-ordering the elements is a good idea.

However, you can already override the word 'Wagtail'

https://docs.wagtail.org/en/stable/advanced_topics/customisation/admin_templates.html#branding-title

[2022-08-19 09:22] lb- commented on #9054
Labelling accessibility. This would be a win for browser tab usability but also for better compliance.

### Links

- https://www.w3.org/WAI/WCAG21/Understanding/page-titled.html
- https://www.w3.org/WAI/WCAG21/Techniques/general/G88
- https://accessibility.iu.edu/creating-content/web-content/titles.html

### Approach proposal

https://github.com/wagtail/wagtail/blob/520dfa8005d8b11580dc91c4ff625af

[2022-08-19 10:19] #8970 closed

[2022-08-19 10:31] #8997 closed

[2022-08-19 10:54] lb- commented on #9053
@PaarthAgarwal can you take a look at this and try to reproduce it.

My guess is that this is caused by the header styling changes, maybe the addition of the `w-header` usage?

I'll put this in the UX Unification project - please focus on this issue over the newer buttons work.

[2022-08-19 10:56] lb- commented on #9014
@PaarthAgarwal please also look at this - it's possible the explicit addition of the shared header icon has meant that this icon lost some of it's styles.

I know this is assigned to @stevedya but let's try to help out and get this resolved.

We will need to focus on these header fixes above the button styling. Hopefully a quick fix.

[2022-08-19 10:56] PaarthAgarwal commented on #9053
I'm on it

[2022-08-19 12:24] gasman commented on #9038
Thanks for the detailed report and steps to reproduce, @th3hamm0r - really helpful!

PR created: #9056

[2022-08-19 13:36] basic5253 commented on #9054
I would try this. In the admin screen, I would type the following
`def get_admin_display_title(self): #pulled from wagtail sourcecode in home models.py
return`

[2022-08-19 13:36] basic5253 commented on #9054
The return is going to be in another line and indented obv. I think I messed up the code in sending.

[2022-08-19 14:36] laymonage opened #9058 "Live preview panel shows stale preview data after reloading the create view"
### Issue Summary

The live preview panel shows stale preview data after a reload of the page create view.

https://user-images.githubusercontent.com/6379424/185642633-c3c9e9b4-f55d-456a-9c90-9959649ae58b.mov

### Steps to Reproduce

1. Open a page create view.
2. Open the live preview panel.
3. Fill the form until the live preview is updated.
4. Reload the page create view.
5. Open the live previ

[2022-08-19 21:37] lb- commented on #8823
This is a helpful tool - let's you find colours that contrast against other colours but are similar to your preference.

https://www.learnui.design/tools/accessible-color-generator.html

[2022-08-19 21:38] lb- commented on #8823
Also. I think this colour should be theme-able. In the colours.js (for tailwind) and exposed as a CSS custom property. This way custom colour themes can also provide a custom focus colour.

[2022-08-19 22:38] vsalvino commented on #7370
@thibaudcolas this looks fantastic!

[2022-08-20 08:29] bvj opened #9062 "Multisite login"
I am looking for a way to share information about logged-in user between individual sites at Wagtail multisite. By that I mean the possibility to log in on one site and by that be logged in on all the others.

[2022-08-20 08:30] thanasisxan commented on #6534
confirmed as broken, reproduced with leaving the RichTextField (selecting something else) and then again editing in the RichTextField and deleting a letter or word

[2022-08-20 21:33] lb- commented on #9038
Just wanted to say again - steps to reproduce here are incredibly helpful. Was able to validate the fix easily.
Feel free to raise bugs any time @th3hamm0r  - haha but hopefully you do not find too many more in 4.0 RC :D

[2022-08-20 21:33] #9038 closed

[2022-08-20 22:11] th3hamm0r commented on #9038
You're welcome 😁 No, it looks very promising atm thanks to the fast reactions and fixes!

[2022-08-20 22:25] #9058 closed

[2022-08-20 23:13] #9024 closed

[2022-08-21 06:15] PaarthAgarwal commented on #9053
One solution to this issue is to remove that extra padding from the left and compensate for it with margin on the left. Opening a PR for it

[2022-08-21 11:49] PaarthAgarwal commented on #9014
I can see we want a white icon over there, but what hover behaviour do we want?

[2022-08-21 20:27] lb- commented on #9014
@PaarthAgarwal here is what 3.0 looks like.

<img width="1874" alt="Screen Shot 2022-08-22 at 6 25 43 am" src="https://user-images.githubusercontent.com/1396140/185809542-c6cded86-f4c1-41ad-80d7-c74acd039593.png">

<img width="1880" alt="Screen Shot 2022-08-22 at 6 25 25 am" src="https://user-images.githubusercontent.com/1396140/185809551-aa072315-dd61-4e66-b304-fec256c09006.png">

If you ever nee

[2022-08-21 20:29] lb- commented on #9053
This is actually a problem with 3.0 - likely introduced with the new sidebar adoption.

But yes @PaarthAgarwal  - let's do that, thank you.

<img width="1881" alt="Screen Shot 2022-08-22 at 6 24 48 am" src="https://user-images.githubusercontent.com/1396140/185809613-62596829-9ede-4f80-9eaf-faf52f43c8c8.png">

We should fix this immediate issue but we have also got https://github.com/wagtail/wagtai

[2022-08-22 03:50] PaarthAgarwal commented on #9014
Awesome. That's what I assumed.

Sure. Thanks LB!

[2022-08-22 06:52] #9053 closed

[2022-08-22 06:52] #9014 closed

[2022-08-22 07:13] lb- commented on #5410
https://github.com/wagtail/wagtail/pull/8972 will be a solid improvement on this, will consider this closed once that is merged.

@thibaudcolas  it might be worth adding a future issue for drag & drop across Wagtail, we can do this better but as noted above it will need a re-think and re-build. I think the original intent of this issue will be resolved for now though.

I am hopeful that https://gi

[2022-08-22 07:40] #5410 closed

[2022-08-23 10:46] pdiede opened #9068 "Animated GIFs not working with many frames in the GIF."
### Issue Summary

Install Wagtail with all required dependencies. In order to use a GIF, WAND and imagemagick must be installed.

All steps have been implemented as specified in the documentation. (https://docs.wagtail.org/en/stable/advanced_topics/images/animated_gifs.html)

It seems like too much frames in the GIF will cause the error. I tried it with a GIF with less frames and it worked.

Unfo

[2022-08-23 11:44] lb- commented on #9034
@stevedya  - if it is ok we may pass this one back to you, I spoke with Paarth tonight and to be honest we are not 100% sure how to action this well.

Also - not sure if these issues are critical blockers for 4.0 either.

Will let you make the call and if you get a PR up I will be happy to review it.

Let us know if we can help with this in the scope of GSoC.

[2022-08-23 12:07] gasman commented on #9068
Hi @pdiede - thanks for the report. It looks like this error is occurring when trying to output the error message `"This file has too many pixels (%%s). Maximum pixels %s."` On further investigation, it looks like a few of our translations haven't correctly preserved the `%%s` placeholder, for example:

https://github.com/wagtail/wagtail/blob/c400d4b4efe0d336841c75fa817ac0f579b98fd7/wagtail/images

[2022-08-23 12:07] #9068 closed

[2022-08-23 12:09] pdiede commented on #9068
I found the problem: WAGTAILIMAGES_MAX_IMAGE_PIXELS = 128000000.

I had to set the WAGTAILIMAGES_MAX_IMAGE_PIXELS higher than the default. It would be nice if you could give a hint to it in the documentation at animated gifs page.

[2022-08-23 12:13] lb- commented on #3823
Notes

* Should add a note in release notes that `button` is preferred over `input type submit` and add a link why (for Wagtail customisations & plug-ins), but be careful not to break it.
* Should revisit the purpose / need for this Firefox override (below) and see if parts of it should move to normalize.css - there is already a padding reset there https://github.com/wagtail/wagtail/blob/c400d4b4e

[2022-08-23 16:36] stevedya commented on #9034
@lb- Sure! No problem at all i'm happy to take a look at this one after some of the release blocker issues are completed 🙂

[2022-08-23 19:45] cnk opened #9070 "Mention WAGTAILADMIN_RICH_TEXT_EDITORS on admin customization page"
There is a setting for naming a group of rich text features. But that setting is not mentioned in the "Limiting features in a rich text field" section

Please find a way to link to [WAGTAILADMIN_RICH_TEXT_EDITORS](https://docs.wagtail.org/en/stable/reference/settings.html#id17) from https://docs.wagtail.org/en/stable/advanced_topics/customisation/page_editing_interface.html#limiting-features-in-a-

[2022-08-23 20:16] gasman opened #9071 "Add release note about snippet revisions / previewing / draft status"
As documented in https://docs.wagtail.org/en/latest/topics/snippets.html. This is a major addition that really warrants a headline item in the release notes...

[2022-08-24 02:59] sighmon opened #9073 "With extra bottom menu buttons the bottom menu hides content"
### Issue Summary

When adding extra buttons to the `Save/Publish/Lock/Delete/Preview` bottom menu, it hides other `add` buttons below it on smaller screens (e.g. MacBook 13").

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
1. Add a model
1. Override and add some buttons to `app/model/templates/wagtailadmin/pages/edit.html`
1. Open the Wagtail admin, reduce the brow

[2022-08-24 07:54] gasman commented on #9073
Hi @sighmon - thanks for the report.
You haven't mentioned which Wagtail version you're running, but the screenshot seems to be from Wagtail 2.16 or earlier - there have been major changes to the page editor UI since then, and this may well have been fixed already.

Please can you test this against Wagtail 4.0rc2 (install with `pip install wagtail==4.0rc2`), and if the problem still occurs, open a

[2022-08-24 07:54] #9073 closed

[2022-08-24 07:57] sighmon commented on #9073
@gasman So sorry! You're right - we're on `2.16.2`.

[2022-08-24 12:52] gasman commented on #9029
Fixed in #9047

[2022-08-24 12:52] #9029 closed

[2022-08-24 14:27] Scotchester commented on #8790
I noticed that in the current styleguide on main that icon-only buttons have no border or background of any kind, which seems potentially problematic.

![Icon-only buttons with no border or background](https://user-images.githubusercontent.com/1044670/186442963-a586b780-259c-4b0e-b04a-c0253f062ea6.png)

A cursory search indicates that this could affect at least:
- Modal close buttons (I know Paart

[2022-08-24 14:31] gasman commented on #9002
Fixed in #9077

[2022-08-24 14:31] #9002 closed

[2022-08-24 14:41] Scotchester opened #9078 "Contrast themes – Buttons appear differently depending on whether they use `a` or `button` element"
### Issue Summary

Our styled buttons are meant to look the same whether they use an `a` element or a `button` element (normal mode screenshot on left). However, when using a forced-colors mode (like Windows High Contrast Mode), they appear differently (Chrome-emulated forced-colors mode screenshot on the right).

| normal | high-contrast |
| ------ | ------------- |
| ![image](https://user-images

[2022-08-24 16:57] #8952 closed

[2022-08-24 20:27] lb- commented on #9078
@Scotchester  - we may need to ensure that work on this does not conflict with work on https://github.com/wagtail/wagtail/issues/8790

Happy to chat on Slack but @PaarthAgarwal  is currently looking at doing a bit of a clean up of the button styles first + adding examples to Storybook

Might be good to hold on this one until early next week and we can check in on progress on the clean up side.

[2022-08-24 20:31] #9070 closed

[2022-08-24 20:45] #9035 closed

[2022-08-24 20:57] lb- opened #9081 "Draftail (Rich text) commenting causes console error 'Unsupported style...'"
### Issue Summary

* When using the Draftail (rich text editor) and adding a comment on a selected text block a console error throws `Unsupported style property background-color. Did you mean backgroundColor?`

### Steps to Reproduce

1. Open bakerydemo to any page with existing Rich Text (home page or a blog page)
2. Add a comment to a single word
3. Add a new comment to multiple words that overl

[2022-08-24 21:03] Scotchester commented on #9078
No problem; it's not urgent :)

[2022-08-25 07:23] lb- opened #9083 "sign in form - sign in button in loading state is left aligned"
### Issue Summary

* The new log in / sign in form has a centre alignment throughout.
* However, when you click sign in, the button goes to a disabled/spinner state and this text is now left aligned

### Steps to Reproduce

1. Load the 4.0 RC https://wagtaildemo-nightly.herokuapp.com/admin/login/
2. Click sign in
3. Expected: styling of the loading state should be similar (centred) to the non-load

[2022-08-25 08:01] kbayliss commented on #7712
Just a note that this is still an issue in `wagtail==3.0.1`

[2022-08-25 08:43] helenb commented on #8790
@Scotchester's point has made me think that we should also be considering the high contrast work that @janehughes is mentoring in the button styling changes - one thing to consider is that even if there are no visible borders, it will be good to add a border with the same colour as the background in order to allow the buttons to stand out clearly in high contrast mode. It would be great if @janehu

[2022-08-25 19:15] PaarthAgarwal opened #9086 "Documentation - Pagination not visible in dark mode"
Pagination is not visible properly in dark mode.

In dark mode:

![image](https://user-images.githubusercontent.com/86092410/186749038-6cd3462f-e86b-419e-a2c6-210b3af73ba4.png)

In light mode:

![image](https://user-images.githubusercontent.com/86092410/186749189-00f4169e-26d5-4a59-818f-23d11f5ae18f.png)

We might need to update the colours for dark mode, or we can go for something visible on both

[2022-08-25 20:49] #9083 closed

[2022-08-25 20:54] lb- commented on #9083
Thanks @PaarthAgarwal

[2022-08-25 20:59] #9086 closed

[2022-08-25 21:18] dopry opened #9088 "Override WagtailImageForm"
I need to override the WagtailImageForm to implement SVG support on my site.

Normally, I would just extend the model `Field` and override the `formfield` method to inject a custom form_class.  Wagtail  bypasses this in [formfield_for_dbfield](https://github.com/wagtail/wagtail/blob/0ab0ecc78f3ffc4bd5fd087f70ad1e84216ea8de/wagtail/images/forms.py#L22), forcing fields with the name file to always u

[2022-08-26 00:02] dopry commented on #9088
I figured out how to monkeypatch it locally in the meantime in case anyone else has a similar issue.

[code]

[2022-08-26 00:22] lb- commented on #9088
Flagging we also have an RFC for svg support in Wagtail - https://github.com/wagtail/rfcs/pull/77

I know this is a generic issue but any feedback on the specific problem of svg support would be useful to add to that RFC

[2022-08-26 16:09] jams2 opened #9091 "Spinners on long running `ActionMenuItems` are not visible as dropdown is toggled on click"
### Issue Summary

When adding a custom `ActionMenuItem` to the page action menu, that makes use of the "spinner on click" functionality as seen on the "Save Draft" button, it is not possible to observe the spinner as the menu is closed when clicking on the button. Creating long running `ActionMenuItems` is not documented, but this also affects the Publish button (which, [in its template](https://

[2022-08-26 17:30] PaarthAgarwal opened #9092 "Tabs in storybook are broken"
Tabs are no longer appearing in storybook. The console is throwing errors.

![Screenshot from 2022-08-26 22-44-21](https://user-images.githubusercontent.com/86092410/186959722-600fb370-492b-4bcc-b98e-d15fd53db12c.png)

-   I have confirmed that this issue can be reproduced as described on a fresh Wagtail project: (yes)

### Technical details

-   Wagtail version: Latest main branch
-   Browser ver

[2022-08-26 17:33] dopry commented on #9088
I thought I had already left my feedback on that RFC. I went and looked and it was sitting there pending. Done., https://github.com/wagtail/rfcs/pull/77#pullrequestreview-1065681621

[2022-08-26 17:35] dopry commented on #9088
@lb- I wouldn't mind some feedback on the more generic WagtailField approach or the ImageField specific approach. I'm focused on the former for now since I don't know what kind of can of worms I might be opening hitting all the model fields. there may be reasons for these functions I'm just not seeing.

[2022-08-26 21:31] lb- commented on #9088
I think your reasoning is sound here @dopry but I am not super familiar with that code so maybe others can chime in.

My only thought is that it may be written this way to work better with custom image models.

[2022-08-26 22:31] dustinblanchard opened #9095 "Python 3.10 support in 2.16.x"
### Is your proposal related to a problem?

Currently there is a problem using Python 3.10 with the 2.16.x versions of Wagtail. `/wagtail/utils/utils.py` directly calls `collections.Mapping` which is deprecated in 310

(Write your answer here.)

### Describe the solution you'd like

This file should import Mapping from `collections.abc.Mapping` instead.

[2022-08-27 10:06] lb- commented on #9095
Thanks for raising the issue @dustinblanchard but 2.16 is no longer actively supported.

https://github.com/wagtail/wagtail/wiki/Release-schedule

From what I can see - Wagtail 3.0 supports Python 3.10 as per this PR
https://github.com/wagtail/wagtail/pull/8394

Is there a possibility you can update your Wagtail version to a supported one?

[2022-08-27 16:46] dustinblanchard commented on #9095
It's in our longer-term roadmap, but unfortunately we have a lot of custom code, so there are a lot of breaking changes when we install 3.0. It will be a significant undertaking for us. We're also waiting on some external packages like wagtail-autocomplete to support 3.0.

[2022-08-27 21:02] lb- commented on #9095
Ok. Can you possibly downgrade your environments to Python 3.9 or try to monkey patch the module?

[2022-08-29 10:50] lb- commented on #9092
Confirmed as broken - not sure when as the underlying template change appears to have happened 2 months before the storybook file changed (maybe an older PR that got merged in).

Fix up https://github.com/wagtail/wagtail/pull/9097

[2022-08-29 19:41] PaarthAgarwal opened #9098 "Deleting comment in storybook is broken"
Deleting comment is no longer appearing in storybook. It's throwing errors.

![Screenshot from 2022-08-30 01-01-18](https://user-images.githubusercontent.com/86092410/187284101-47a16f9b-0278-4179-8aff-3dfc6fa79c6c.png)

I have confirmed that this issue can be reproduced as described on a fresh Wagtail project: (yes)

### Technical details
Wagtail version: Latest main branch
Browser version: Chrome

[2022-08-29 19:49] lb- commented on #9098
Duplicate of https://github.com/wagtail/wagtail/issues/8031

[2022-08-29 19:49] #9098 closed

[2022-08-29 20:23] benjaoming commented on #396
re: https://github.com/wagtail/wagtail/issues/396#issuecomment-501842719

Corrected links:
https://github.com/wagtail/wagtail-generic-chooser/pull/4
https://github.com/wagtail/wagtail-generic-chooser/pull/5

[2022-08-30 11:57] lb- commented on #9095
Closing this for now as I do not see us putting a backwards patch for 2.16.x that is not a critical bug /security fix.

[2022-08-30 13:03] wimfeijen commented on #5239
I just wanted to confirm that I ran into the same error.
Using:
Debian 5.10.136-1 (2022-08-13)
opencv-python==4.5.3.56
Wand==0.6.10
ImageMagick 6.9.11-60 Q16 x86_64

[2022-08-30 15:22] #9071 closed

[2022-08-30 22:10] #8661 closed

[2022-08-31 05:47] lb- opened #9102 "Documentation - pagination improvements"
### Is your proposal related to a problem?

* Pagination for docs was added via https://github.com/wagtail/wagtail/pull/8178 as a solution for https://github.com/wagtail/wagtail/issues/6886
* In that review there were a few extra improvements flagged that would be good to resolve.

### Describe the solution you'd like

- Move JS to a separate file instead of adding scripts inline in https://github

[2022-08-31 05:47] lb- commented on #9102
Note - this was flagged as part of the UX Unification (GSoC 2022) project - but de-scoped.

Labelling as a good first issue though.

[2022-08-31 05:50] lb- opened #9103 "Unit tests for the `classnames` template tag"
### Is your proposal related to a problem?

* As part of the GSoC UX Unification project a useful template tag was created `classnames` e2d4cb77458878d7d7076a7aa8b6d590deb99463
* It would be good to add unit tests for this behaviour

### Describe the solution you'd like

* In the file - https://github.com/wagtail/wagtail/blob/main/wagtail/admin/tests/test_templatetags.py
* Add unit tests for the c

[2022-08-31 05:50] loicteixeira commented on #7117
Something changed so French now allow 3 different plural forms (it should only have 2). So the good news is, that it can be changed. The bad news is that I don't know what happened (yet).
It must be on Transifex side though as it was first changed [when pulling the translation](https://github.com/wagtail/wagtail/commit/185bdec8be69c7e91edf0d621fa54d6eb49fa4b1#diff-d6d8db7c862bf1b34a0e00476d866d979

[2022-08-31 05:54] lb- commented on #9103
Good first issue to add some test coverage of existing behaviour.

[2022-08-31 06:36] lb- opened #9105 "Add JavaScript events for InlinePanel added/removed and potentially changed on inputs"
### Is your proposal related to a problem?

* Wagtail's `InlinePanel` solution is very powerful but does not easily allow JavaScript customisations.
* When an item is added or removed, there is no way to listen to that 'event' without having your own custom JavaScript code having full control over the InlinePanel being called (by passing in `opts.onAdd` for example).

### Describe the solution you

[2022-08-31 08:44] lb- opened #9106 "Wagtail userbar no longer shows moderation (workflow) actions"
### Issue Summary

* Since Wagtail 2.10 it appears that the userbar no longer shows the Approve/Reject buttons when a page is in moderation (aka within a workflow)

### Steps to Reproduce

1. Open the bakerydemo or any new Wagtail project
2. Using the default page moderation workflow, mark a page as ready for review
3. Now preview that page in its own window, while signed in, so you see the Wagtai

[2022-08-31 08:52] pdiede opened #9107 "Grid from TableBlock is missing after saving a page (from wagtail.contrib.table_block.blocks import TableBlock)"
### Issue Summary

I imported the default TableBlock of the wagtail.contrib.table_block.blocks. After importing i used the TableBlock to display some content in a table. The TableBlock is initially working fine but after saving the grid is missing, to change some saved data maybe fix a typo or something.

Before saving:
![image](https://user-images.githubusercontent.com/111868515/187638841-c0a43f3

[2022-08-31 09:52] gasman commented on #9107
Hi @pdiede - your "steps to reproduce" section doesn't include any information on how to actually reproduce this. Please can you add more detail here?

[2022-08-31 09:59] pdiede commented on #9107
Steps to Reproduce:

Setup a fresh wagtail instance.

Import TableBlock for creating a table as content. This import statement was being used "from wagtail.contrib.table_block.blocks import TableBlock" to import the TableBlock for a page model content.

Now we should be able to pick TableBlock as content for our content page.

After adding some content to the selected Table save the page as previe

[2022-08-31 12:10] #9054 closed

[2022-08-31 12:13] lb- commented on #9054
Resolved now - this is what an editing page looks like.

<img width="407" alt="Screen Shot 2022-08-31 at 10 04 11 pm" src="https://user-images.githubusercontent.com/1396140/187675438-9fc5234f-d0b0-4f73-a9aa-f3cc1351ded2.png">

If we want to further refine the layout (move the 'page type') out to after the title - best that we cover that in a new issue.

[2022-08-31 12:14] gasman commented on #9025
bumping to 4.1 to cover the points that weren't handled in the final 4.0-merged version of #9072

[2022-08-31 13:41] pdiede commented on #9107
@gasman this is our page model:

`class ContentPage(Page):
    template = "home/content_page.html"
    body = StreamField(STREAMBLOCKS, null=True, blank=True, collapsed=True)

    content_panels = Page.content_panels + [
        FieldPanel("body"),
    ]

    parent_page_types = ["hintbox.HomePage"]
    subpage_types = []

    class Meta:
        verbose_name = "Inhaltsseite"`

In the StreamField

[2022-08-31 14:17] thibaudcolas commented on #9081
Nice find @lb-! As mentioned this should be fixed in #9072.

[2022-08-31 14:17] #9081 closed

[2022-08-31 14:31] thibaudcolas commented on #9025
I have updated the issue description based on changes done in Wagtail 4.0 – the two problematic issues have been fixed. We still have cosmetic / alignment issues to go through, which are now in #9111.

[2022-08-31 15:35] th3hamm0r opened #9113 "Chooser button text: "Change" vs. "Edit" (vs. "Clear")"
### Is your proposal related to a problem?

Currently the buttons "Change" and "Edit" lead to confusion, which button actually changes what:
![chooser_buttons](https://user-images.githubusercontent.com/468164/187713067-d9a04730-1ba2-4f01-ac51-85537919baa4.png)

It is defined here:
https://github.com/wagtail/wagtail/blob/9e5250521f9db9ba39adf4102b8e854d68064126/wagtail/admin/viewsets/chooser.py#L23

[2022-09-01 08:01] th3hamm0r opened #9116 "Locked pages report renders all users in "locked_by" filter"
### Issue Summary

Currently, the select-field for the "locked_by" filter on the "Locked pages"-report renders all users unfiltered from the user table.
This breaks the view for one of our projects, which tries to list all 500k users...
Actually, only the users which have locked a page should be listed.

I will try to make a PR for that, in the meantime this quickfix works for us (with wagtail 4.0

[2022-09-01 08:39] rt-em opened #9117 "StructBlock in StreamField inside standard Django Model (models.Model) that used as snippet works incorrectly in versions 3.0.2 and 4.0"
### Issue Summary

I faced this issue after upgrading one of my projects to Wagtail 4.0 from Wagtail 3.0.1.

I have snippet for page footer to use it through all website pages.
I use StreamField to populate footer with social network icons. Every Icon represents StructBlock with two field.

[code]
**What I expect to see in Snippet menu for Footer model in admin:**
1. When I click on 'Link' block b

[2022-09-01 08:58] gasman commented on #9113
See also #9045. Previously the label for this button was "Choose another", but this became "Change" in #8934 - clearly the new text is causing problems. cc @wagtail/page-editor-2022

[2022-09-01 09:42] gasman opened #9118 "Cannot define custom document model in same app as a DocumentChooserBlock"
### Issue Summary

In Wagtail 3.0 it was possible to define a custom document model in the same app as a model using a DocumentChooserBlock. This breaks with a circular dependency in 4.0 - apparently due to DocumentChooserBlock being defined along with the chooser modal viewset in `wagtail.documents.views.chooser`, which depends on `wagtail.documents.permissions`, which references the document mod

[2022-09-01 12:50] thibaudcolas commented on #9113
Thanks for the report @th3hamm0r! I’m unclear on the rationale for this change myself but will follow up with our UX/design people.

[2022-09-01 14:04] enzedonline opened #9121 "Registering a rich text feature with description from gettext_lazy throws TypeError in Wagtail 4"
### Issue Summary

This is a new error to Wagtail 4. When registering a rich text plugin with description using `gettext_lazy`, an unhandled error occurs when loading any edit page with rich text field/block using this plugin.

### Steps to Reproduce

Using the block style example from the docs, the unedited example loads as expected:

[code]
Now add multi-lingual support using gettext_lazy() for

[2022-09-01 14:11] #6685 closed

[2022-09-01 14:37] vorlif opened #9123 "Links in the preview are broken."
First of all, thanks to everyone for the work on version 4, it turned out great.

### Issue Summary

When I click on a link within the preview, I get an error message. To get rid of the error message, I have to reload the page. I did not expect to be able to navigate through the page, but there should not be an error message.

![grafik](https://user-images.githubusercontent.com/4333770/187940848-4

[2022-09-01 16:50] #9116 closed

[2022-09-01 18:29] jsma opened #9125 "Documentation note with misplaced header"
There is a small issue with this note on the [Inline Models](https://docs.wagtail.org/en/stable/topics/pages.html#inline-models) documentation:
<img width="968" alt="Screen Shot 2022-09-01 at 9 51 25 AM" src="https://user-images.githubusercontent.com/24574/187985320-b0c65ade-42f0-4e9e-a5d3-717e7f3ef5cc.png">

It appears "django-modelcluster and ParentalKey" was meant to included in the note header

[2022-09-01 18:42] engAmirEng commented on #3175
I think I find the solution:
1-you define your custom form for the orderable that as you know it should subclass the WagtailAdminModelForm
2-subclass the InlinePanel as it's shown in the pic
I try this works on wagtail 3

[2022-09-01 18:53] engAmirEng commented on #3175
I think I find the solution:

[code]
1-you define your custom form for the orderable that as you know it should subclass the WagtailAdminModelForm
2-subclass the InlinePanel as it's shown in the pic
I try this works on wagtail 3

A bigger question, is there any particular question that it is not a part of wagtail support? maybe some issues and bugs?

[2022-09-01 21:05] vsalvino opened #9126 "JavaScript error when rendering snippet containing a streamfield"
The streamfield editing within a snippet works in 3.0.1, but seems to throw js errors in the browser console in 3.0.2.

As far as I'm aware, there were not any API changes between these releases.

Follow the issue here: https://github.com/coderedcorp/coderedcms/issues/522

This can be reproduced by creating a fresh `coderedcms` project, with Wagtail 3.0.2 installed. Trying to create a navbar snipp

[2022-09-01 21:11] gasman commented on #9126
Hi @vsalvino - I think this is the same as #9117. Please shout if not!

[2022-09-01 21:11] #9126 closed

[2022-09-01 21:15] vsalvino commented on #9126
Looks like the same thing, thanks for the quick response!

[2022-09-02 09:58] laymonage commented on #9123
Hey, thanks for the report!

I'm not sure if this is something we should handle on Wagtail's side, but the error is because the real page (not-preview) has the `X-Frame-Options` header set to `DENY`.

There are some workarounds to this:
- In your base template, add the following [`<base>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base) element within the `<head>` element, before a

[2022-09-02 10:26] vorlif commented on #9123
Hi, thanks for your answer and analysis. I should have thought of that myself. :see_no_evil:

I am unsure if you should be able to navigate within the preview or not. If you think this should not be handled by Wagtail, feel free to close the issue.

[2022-09-02 11:23] gasman opened #9128 "Tag autocomplete dropdown has transparent background"
### Issue Summary

The tag autocomplete dropdown has a transparent background on 4.0.

Testing on any blog page on bakerydemo:

Wagtail 4.0
![Screenshot 2022-09-02 at 12 18 48](https://user-images.githubusercontent.com/85097/188129046-b1265979-e568-4fd2-958f-71a0925bad37.png)

Wagtail 3.0
![Screenshot 2022-09-02 at 12 18 19](https://user-images.githubusercontent.com/85097/188129083-70788af3-b65f-4

[2022-09-02 14:03] gasman commented on #9117
Fixed in #9124

[2022-09-02 14:03] #9117 closed

[2022-09-02 14:32] gasman opened #9130 "Chooser modals without tabs are missing top margin above search/filter forms"
### Issue Summary

Snippet chooser modals with search/filter forms are missing a top margin:

![Screenshot 2022-09-02 at 15 27 45](https://user-images.githubusercontent.com/85097/188171182-2575104a-2bfe-48f6-bb1c-76c33422ef77.png)

To test on bakerydemo, edit a blog post and click Change on the Author field.

In other choosers, such as the document chooser, this margin is added as a bottom margin

[2022-09-02 14:34] thibaudcolas opened #9131 "Switch StreamField block chooser from button group to autocomplete UI"
In Wagtail 4.0, #9022 implemented the new StreamField block splitter / rich text block toolbar. This component was also intended for usage in StreamField, but didn’t make it in time (#8983).

We now need to implement this so StreamField block selection follows the same pattern regardless of choosing a new block from within rich text or out.

Designs of the component I’m referring to for reference:

[2022-09-02 14:51] gasman commented on #9123
I think this would be a worthwhile addition to [base.html in the project template](https://github.com/wagtail/wagtail/blob/main/wagtail/project_template/project_name/templates/base.html).

[2022-09-02 15:21] gasman commented on #9095
Reopening - it's looking fairly likely that we'll be doing a new 2.15 / 2.16 release for https://github.com/wagtail/wagtail/pull/9119, and if so, it makes sense for this to go in.

[2022-09-02 15:22] saevarom commented on #9095
Second that, we are running some projects on Wagtail 2.15.5 with python 3.10. Wagtail 2.15 is a LTS release so support for python 3.10 should be in place.

[2022-09-02 15:35] gasman commented on #9095
Have now backported the fix from #8394 to stable/2.15.x (721e5ba0df0317287bef8e77c008f43aeee11ad4) and stable/2.16.x (ae5d00f7a139b9ce2be8c33b043aad42196d62bc). Will plan to do a release to coincide with 3.0.3 and 4.0.1, probably next week.

[2022-09-02 15:35] #9095 closed

[2022-09-02 16:03] laymonage commented on #9123
PR #9132, I've also added an upgrade consideration with the above code snippet.

[2022-09-02 16:21] gasman commented on #9123
Fixed in #9132

[2022-09-02 16:21] #9123 closed

[2022-09-03 05:21] lb- commented on #9095
Thanks @gasman

[2022-09-03 13:16] krzysztofjeziorny commented on #9123
Thanks @laymonage for pointing out the `x-frame-options` header.

The `DENY` setting is on in quite popular boilerplate projects for both [Nginx](https://github.com/h5bp/server-configs-nginx) and [Apache](https://github.com/h5bp/server-configs-apache).

[2022-09-04 07:59] dkirkham opened #9134 "MultiFieldPanel and InlinePanel help_text no longer renders in 4.0"
### Issue Summary

In Wagtail 4.0, the `help_text` argument in the MultiFieldPanel is no longer rendered, whereas it was rendered in 2.x and 3.0.x.

### Steps to Reproduce

1. Start fresh Wagtail installations for 4.0 and 3.0.2 as per the instructions at [Getting Started](https://docs.wagtail.org/en/stable/getting_started/tutorial.html). For each:
2. Merge in the application at https://github.com/

[2022-09-04 08:07] dkirkham commented on #7971
Thanks @thibaudcolas, and apologies for the tardy response - I was travelling in a very remote area with little connectivity most of the last month.

The new editor UI is looking good, and many of the report issues have been resolved. There are new ones, for instance with `MultiFieldPanel` `help_text`, that I've described in #9134.

As part of that issue, I've updated my test repo for 3.0 and 4.0

[2022-09-04 16:49] 0saurabh0 commented on #9105
@lb- I want to work on this.
Anything for getting started.

[2022-09-04 19:06] lb- commented on #9105
@0saurabh0 go for it - just read the description in full and be sure you understand a use case for this and can reproduce it locally. Form builder is a good page that uses InlinePanel out of the box.

Also I think maybe the page admin_templates should be split with the 'client side components' being its own page as a sibling of this one. Write the docs part and see how it feels all on this one pag

[2022-09-05 08:52] lb- commented on #9078
@Scotchester @anujaraj  - the refactoring of the button styles is now in main, should be a lot easier to go in and clean up the high contrast issues now.

Note: be aware of buttons with icons - each has two variations (one for new and one for old icons) and it's a bit of a mess to test.

Do not rely on the styleguide page alone, do smoke tests across a few pages like snippets, modeladmin, page lis

[2022-09-05 09:15] PaarthAgarwal commented on #9078
Or on Pattern Library too ;)

[2022-09-05 09:50] #9118 closed

[2022-09-05 15:06] gasman commented on #9121
Hi @enzedonline - thanks for the report.
I can confirm I'm seeing the same error, but as far as I can see the same thing happens as far back as Wagtail 2.12.6 and possibly further - can you confirm which Wagtail version you previously had this working on?

[2022-09-05 16:03] enzedonline commented on #9121
I have it running on 3.0.1. Looking through my history, the gettlazy_text was added post 3.x upgrade.

[2022-09-05 22:07] lb- commented on #9095
https://github.com/wagtail/wagtail/releases/tag/v2.15.6
https://github.com/wagtail/wagtail/releases/tag/v2.16.3

Releases have gone out with Python 3.10 support

[2022-09-05 22:08] #7712 closed

[2022-09-05 22:46] saevarom commented on #9095
Great, thanks! Already in production on two websites :)

[2022-09-05 22:59] #9103 closed

[2022-09-05 23:43] lb- commented on #6107
Privacy indicator icon & locked indicator icon will be updated to use the new SVG icons via https://github.com/wagtail/wagtail/pull/8954

`wagtail/admin/templates/wagtailadmin/pages/listing/_privacy_indicator.html`
`wagtail/admin/templates/wagtailadmin/pages/listing/_locked_indicator.html`

Note: these are shown in page listings such as locked pages reports or dashboard listings.

[2022-09-05 23:58] mehrdadmoradii opened #9142 "User Management views are missing security testing"
### Issue Summary
Views in the User Management component are not tested against unauthorized users.

### Steps to Reproduce

1. Remove all authorization decorators in `wagtail.users.views.users`.
2. Run `./runtests.py`

All the tests will pass as a result of executing the test runner.

[2022-09-06 00:09] lb- commented on #9142
Nice find. We should definitely add tests for this.

[2022-09-06 03:13] lb- commented on #9125
PR up - the title itself is not really required here as the sentence uses the same two items a few words in.
I have also added clarity that we do not need to use `admonition` https://github.com/wagtail/wagtail/pull/9143

While these call outs are helpful in some cases, they should be kept to a minimum so that the docs are kept simple.

Thanks @jsma

[2022-09-06 06:25] robertbrecevic opened #9145 "Front-end reordering issue of orderables in Wagtail 4.0 & 4.0.1"
### Issue Summary

After upgrading to Wagtail > 4.0 the admin frontend stopped saving the push-up and push-down reordering of orderables referenced through an inline-panel. The UI responds correctly by moving the orderables up and down, but the state is neither saved once the post is published — nor is the changing of the sort order reflected in the live preview.

### Steps to Reproduce

1.  In or

[2022-09-06 06:37] lb- commented on #9128
Can confirm this issue exists and I think I found the commit that caused this 4eb35dbc0a6588d3a7e0ae083f14f7c8faf4adde

https://github.com/wagtail/wagtail/pull/8564

It looks like the removal of the background urls also removed the background colours, there are about 9 instances of this that appear to be required to put back in some form.

`client/scss/vendor/jquery-ui-1.10.3.verdant.css`

[code]

[2022-09-06 07:21] lb- commented on #9128
PR up for a fix https://github.com/wagtail/wagtail/pull/9146

[2022-09-06 09:28] #9125 closed

[2022-09-06 09:36] lb- commented on #8499
PR up https://github.com/wagtail/wagtail/pull/9148

[2022-09-06 09:45] lb- commented on #8956
Fair enough - will close this for now - if there is a need for this in the future we can reopen or revisit.

[2022-09-06 09:45] #8956 closed

[2022-09-06 09:47] lb- commented on #8956
Patch file for future if needed.

[wagtail-950b39a-add ability to trigger client-side deprecation warnings.patch.txt](https://github.com/wagtail/wagtail/files/9495485/wagtail-950b39a-add.ability.to.trigger.client-side.deprecation.warnings.patch.txt)

[2022-09-06 10:16] lb- commented on #9145
Can confirm this issue exists, the `order` input value is not being updated.

<img width="1952" alt="Screen Shot 2022-09-06 at 8 14 42 pm" src="https://user-images.githubusercontent.com/1396140/188610065-e3f33d0a-f994-4c86-87a7-1b1ccba44ebe.png">

<img width="1951" alt="Screen Shot 2022-09-06 at 8 15 01 pm" src="https://user-images.githubusercontent.com/1396140/188610100-0c782c03-839e-4398-9202-4c

[2022-09-06 10:37] lb- commented on #9145
The issue is the use of https://api.jquery.com/children/ no longer working with the new DOM structure introduced by https://github.com/wagtail/wagtail/pull/8983  / ca7f23d176eb36d15ab13118d329675b2abbda89

However, the fix may need to be carefully done as to not break nested inline panels.

[code]

What is happening here is it is finding the `ORDER` input element as a direct child of the panel, bu

[2022-09-06 12:33] #9128 closed

[2022-09-06 14:34] saevarom opened #9151 "Pasting list-like content to rich text fields may result in content loss"
### Issue Summary
When pasting "list-like" content into a rich text field with other "list-like" content, the editor will try to convert all "list-like" content sections to lists, and then forget about them. It's hard to explain, but I've included a video of what happens:

[Bug description on Youtube](https://www.youtube.com/watch?v=T-URMjpHAI0)

### Steps to Reproduce

1. Open up the bakerydemo.

[2022-09-06 14:49] #9145 closed

[2022-09-06 15:53] stevedya commented on #9033
Hey @thibaudcolas could I get a little more context on this bullet
 - [ ] Field row horizontal spacing

[2022-09-06 16:23] thibaudcolas opened #9152 "Add button to collapse all sections of the page at once"
As of Wagtail 4.0, all panels / StreamField blocks / InlinePanel child items are collapsible, all using the same "panel" component. The next step is to add a "collapse all" button, which collapses all of those panels at once.

View the [proposed designs in Figma](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=4445%3A27987). Screenshot:

![Image](https://user-images

[2022-09-06 20:51] jkevingutierrez opened #9154 "Allow override Fields from non-abstract Pages"
### Is your proposal related to a problem?

There are some cases where a field is defined in a non-abstract parent Page, and some properties of that field (help_text, blank, verbose_name) needs to be overridden in the children pages.

### Describe the solution you'd like

Overriding field properties should be allowed for non-abstract classes, or there should be an easy an reliable way to modify th

[2022-09-06 22:10] lb- commented on #8790
@thibaudcolas  what is the plan for the `warning` buttons - it appears they are used for scenarios where you want to remove or publish a revision for pages / snippets.

This is not covered anywhere on the Figma or current discussions.

<img width="1445" alt="Screen Shot 2022-09-07 at 8 09 10 am" src="https://user-images.githubusercontent.com/1396140/188749279-862f283c-6013-4175-a930-b3310166f100.p

[2022-09-06 22:19] lb- opened #9155 "Inline Panel - add unit test coverage"

[2022-09-07 05:28] lb- commented on #9091
Thanks @jams2  - I am not sure that this is supported right now and I do not think it really needs to be.

Are you expecting that the drop-down menu should stay open when it contains a longrunning button?

I think the goal of this kind of button is to help the user understand that something may take a long time but also to ensure they do not click it twice accidentally. In the case of things insid

[2022-09-07 05:37] ashwin31 opened #9156 "snippets orderable not working after upgrading to wagtail 4.0"
### Issue Summary

Ordering in snippets not working after updating to wagtail 4

### Steps to Reproduce

I have a menu system implemented as following

[code]

I can see menu ordering perfectly when in wagtail 3
After I update to wagtail 4 and apply default migrations, I am not able to change menuItem order in the admin. Whatever the changes I do to ther order are lost once I save the snippet.

An

[2022-09-07 05:40] ashwin31 commented on #9156
looks like this is the same issue as https://github.com/wagtail/wagtail/issues/9145. Please close this if it is the same.

[2022-09-07 05:47] #9156 closed

[2022-09-07 06:16] terabitti opened #9158 "Revision's reverse accessor clashes with django-reversion"
### Issue Summary

Reverse accessor clashes with django-reversion when used beside Wagtail 4.0 ("reversion" is in INSTALLED_APPS). Not sure who to "blame" this but this happens when upgrading wagtail in existing project.

[code]

or in a different project

[code]

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Install django-reversion and add it ("reversion") to I

[2022-09-07 06:28] lb- commented on #9130
Can confirm this issue is happening in 4.0 code, looks like `wagtail/admin/templates/wagtailadmin/generic/chooser/chooser.html` still uses the tabs container but does not set multiple tabs in this scenario.

This also triggers a console error, this does not block anything but should be fixed also.

<img width="1831" alt="Screen Shot 2022-09-07 at 3 51 46 pm" src="https://user-images.githubusercont

[2022-09-07 06:32] seb-b commented on #9107
I've also come across this, seems to be if the streamfield is collapsed. Funnily enough resizing the page brings the table back into existence.

[2022-09-07 08:50] laymonage commented on #9158
Not sure how feasible it would be for you, but Wagtail 4.0 introduces a `RevisionMixin` that can be used to [save revisions of any model](https://docs.wagtail.org/en/stable/topics/snippets.html#saving-revisions-of-snippets) (not just pages), so you might be able to use that instead of django-reversion. Though that means you'll need to adapt/remove the existing revisions so that they work with Wagt

[2022-09-07 08:52] zerolab commented on #9158
We've just discussed this in the core meeting. Let's change `related_name` to `wagtail_revisions`. We did a similar thing for comments.

[2022-09-07 09:48] terabitti commented on #9158
I thought that too to switch to Wagtail's RevisionMixin when needed. In this case I don't absolutely need a history data but
the django-revision has allowed to save comments like "Edited field_1, field_2" and these are listed in Django Admin. Of course this functionality can be rebuild multiple ways.

But anyway it's good to see this will be fixed. Thanks.

[2022-09-07 10:34] th3hamm0r opened #9160 "Image search: FilterFieldError when using tag filter combined with search query"
### Issue Summary

I looks like the search implementation has some issues with the `RelatedFields` search for tags, which contains a "name" field. It seems like this leads to the following error, if you search for both a term and a tag:

[code]

I've tested the same with a wagtail 2.15 installation and it doesn't fail there, but the search only uses the search term and does not combine it with the

[2022-09-07 10:37] lb- commented on #9142
@mehrdadmoradii did you want to give this a go?

[2022-09-07 10:41] th3hamm0r commented on #9160
This has maybe been introduced with https://github.com/wagtail/wagtail/issues/8029, which moved code for the search-query after the filter for collection and tag.

A quick-fix could be to move the search-query between collection and tag, similar to how wagtailmedia has "fixed" it: https://github.com/torchbox/wagtailmedia/blob/main/src/wagtailmedia/views/media.py#L52
The same issue as #8029 also oc

[2022-09-07 10:43] mehrdadmoradii commented on #9142
@lb- I am working on that. But I think it needs more time than I expected!

[2022-09-07 11:02] lb- commented on #9142
No problems - reach out if you need a hand.

[2022-09-07 11:32] mehrdadmoradii commented on #9142
@lb- Thanks a lot, I will!

[2022-09-07 12:13] jams2 commented on #9091
Thanks @lb- ,

yes, the expectation is that the dropdown would stay open if a long-running button has been clicked.

I think if the intention is to communicate to a user that "the system is responding to your input, but the result will not be instantaneous" a better outcome is that the dropdown stays open, so the user can immediately see that something is happening. If the dropdown closes, there i

[2022-09-07 12:45] chosak commented on #9154
Hi @jkevingutierrez - this isn't generally possible for model field properties due to a limitation of Django model fields; please see [Field name “hiding” is not permitted](https://docs.djangoproject.com/en/4.1/topics/db/models/#field-name-hiding-is-not-permitted) in the Django docs:

As you suggest, one way around this is to use abstract Page classes.

[2022-09-07 12:53] gasman commented on #9154
Closing as this is something that would have to be supported at the Django level.

[2022-09-07 12:53] #9154 closed

[2022-09-07 13:27] Scotchester commented on #9091
I agree with you, @jams2, I would prefer to have the menu stay open. As a user, I am all in favor of clear indicators that something not "instantaneous" is happening.

[2022-09-07 16:46] brylie opened #9163 ""Media files" text on dashboard is large and overlapping"
### Issue Summary
When viewing the Wagtail 4.0.1 dashboard, the "Media files" text is really large and overlapping itself.

![image](https://user-images.githubusercontent.com/17307/188934047-e074bc84-170d-4b7d-a528-ef2aedc66bea.png)

### Steps to Reproduce

1. log in to the Wagtail 4.0.1 dashboard
2. see the "media files" text

### Technical details

-   Wagtail version: 4.0.1

[2022-09-07 16:53] gasman commented on #9163
This comes from the wagtailmedia package, not Wagtail itself - you probably need to update it to v0.11: https://github.com/torchbox/wagtailmedia/releases/tag/v0.11.0

[2022-09-07 16:53] #9163 closed

[2022-09-07 19:33] lb- commented on #9091
Thanks for the input all - let's re-open this for now. I've changed to an enhancement though instead of a bug.

[2022-09-08 08:11] helenb commented on #9152
Further questions / issues to resolve:

- Is it correct that the aria-controls for the expand / collapse all button should list the ids of all the panels (div element with class `w-panel__content`)? If so, I may need some advice on getting these ids from the parent template (`edit.html`). Potentially they could be added with JavaScript if it is hard to add them in the template.
- When we collapse

[2022-09-08 09:03] helenb commented on #9152
Draft MR to show work in progress: https://github.com/wagtail/wagtail/pull/9167

[2022-09-08 10:20] th3hamm0r commented on #7892
Since we've also got a customer request for auto-enabling the comments, I wanted to place some additional thoughts:
A global setting could be a first start, and if that setting is used by a method in wagtail's page model, a subclass could also modify the decision based on custom logic (e.g. enabling comments automatically if unresolved comments exist).

[2022-09-08 10:29] mschiegg opened #9169 "BaseSiteSetting - Permissions"
### Is your proposal related to a problem?

I've a Project with multiple Websites und multiple Groups. Each Group have access to one Site. The User in the Group should only have Access to his own Site.
No i have implemented a BaseSiteSetting and give Access zu the User. But every User can edit every Site Settings.
I don't find a way to restrict.

![image](https://user-images.githubusercontent.com/

[2022-09-08 11:09] helenb commented on #9152
@thibaudcolas I think it is all behaving as expected with comments, but would appreciate you testing that as I'm less familiar with the expected bevaviour.

[2022-09-08 12:30] lb- commented on #7210
<img width="1736" alt="Screen Shot 2022-09-08 at 10 29 46 pm" src="https://user-images.githubusercontent.com/1396140/189122027-7b668292-dfd2-4f3c-8d95-651caa1c7e4a.png">

Confirming this is still an issue in Wagtail 4.0

[2022-09-08 13:32] nicksergeant opened #9171 "Document option not appearing in new editing UI via slash command or "+" button."
### Issue Summary

There appears to be a bug where you cannot insert a document without first typing text and then highlighting it to get the toolbar to appear.

### Steps to Reproduce

1. Type `/` in a rich text field
2. Note that while `Image` exists, there is no option for `Document`:

<img width="657" alt="image" src="https://user-images.githubusercontent.com/27332/189135063-a4ab2474-fca5-4952

[2022-09-08 13:38] gasman commented on #9171
This is by design - a document link is not a block-level element, but a piece of formatting applied within a paragraph, just like bold / italic or a regular link, so it makes sense to treat it consistently with those.

[2022-09-08 13:38] #9171 closed

[2022-09-08 13:44] nicksergeant commented on #9171
@gasman huh, interesting. I can see how that distinction is made. I've had several users report this as a bug within the first few days of releasing the new UI, so I think this will be common confusion.

Is there a hook we can use to add to the slash and "+" commands to somehow trigger the document insert functionality?

[2022-09-08 14:40] andre-fuchs commented on #3398
... this solved it for me regarding a `RichTextField`. Thanks @harrislapiroff

[2022-09-08 21:30] lb- commented on #8790
Just flagging - I recommend we do not remove focus outlines for disabled buttons.

* When using an actual `button` with `disabled` - it is not focusable so this is a non issue
* When using the class `.disabled` (e.g. a link styled as a button OR cases where a button still just adds the disabled class) - the button is still focusable, so removing focus outline will cause an odd 'gap' when tabbing a

[2022-09-09 10:21] thibaudcolas commented on #9151
Thank you @saevarom! I believe this is a combination of three different issues:

1. The copy-paste processing unexpectedly treats `a. paragraph 1` as a nested ordered list item, even when it’s pasted without nesting
2. The auto-list-Markdown-ish keyboard shortcuts do not treat `a.` as a list prefix, so you can type as normal text and then surprisingly it gets converted to a list on paste
3. The ed

[2022-09-09 10:39] th3hamm0r opened #9174 "Improve visibility of side panel state in the admin"
### Is your proposal related to a problem?

Currently in the page editor, it is often hard to differentiate between the states "comments on" and "comments off", since it is only shown by the small comment button at the top bar, which uses either dark grey or the primary color.

Yes, there are some other elements which indicate the state, e.g. the notification switch on the top (but on large pages,

[2022-09-09 11:30] allcaps commented on #2787
This worked for me:

[code]

[2022-09-09 11:31] laymonage opened #9175 "Snippet with only `RevisionMixin` applied should not show "current draft" status in history"
### Issue Summary

When viewing the history for a snippet with `RevisionMixin` applied **and not `DraftStateMixin`**, the latest log entry always shows a "Current draft" status tag:

<img width="530" alt="image" src="https://user-images.githubusercontent.com/6379424/189339940-6c4b9431-ccc4-4e76-92eb-a4235d310322.png">

This isn't relevant for the snippet because without `DraftStateMixin`, the snip

[2022-09-09 12:43] #9175 closed

[2022-09-09 14:50] ollz272 opened #9177 "Preserving filters in the admin interface to match django."
### Is your proposal related to a problem?

In the django admin interface, if you have a filter applied in the list view, when going to the detail view these filters will be preserved so that, upon returning to the list view, they're still in place. We've had some questions from partners about this feature in the wagtail interface, and maybe its time to explore whether this is possible?

### Descr

[2022-09-09 22:17] lb- commented on #2270
Update - non-page models (if set up as snippets) now have the ability to be revisioned in the admin as of Wagtail 4.0

https://docs.wagtail.org/en/stable/releases/4.0.html#previews-revisions-and-drafts-for-snippets

[2022-09-09 22:24] gasman commented on #2270
As far as I can see revisioning was the only thing keeping this issue open, so closing now :-)

[2022-09-09 22:24] #2270 closed

[2022-09-10 05:22] thibaudcolas commented on #9174
Thank you for taking the time to report this @th3hamm0r! This counts as a bug because there isn’t enough color contrast between the two states. And even if there was, changing only the color of an icon can make it pretty hard for people who are color blind to figure out what is happening. And this isn’t just commenting, we need a better representation of the active state for all side panels.

As a

[2022-09-10 09:07] lb- commented on #3398
@thibaudcolas has this been fixed with the 4.0 changes?

[2022-09-10 14:20] biofsphere opened #9178 "Include side scrolling in admin listing pages at its core"
### Is your proposal related to a problem?

Yes, it is. I find frustrating to extend models (specially models related to users, people, business, and so on) that usually need extra fields (e.g., occupation, education, address details, field work, etc.) only to realize **admin listings pages do not automatically activate side scrolling**. It gets even worst if we want to add the filters columns on

[2022-09-10 21:19] gasman commented on #3398
@lb- Not as far as I know - have been working with help text lately for https://github.com/wagtail/wagtail-editable-help, and still had to run things through `mark_safe` to get it to output as HTML.

[2022-09-10 21:24] bdarfler commented on #9171
@gasman as one of those users who have reported this as a bug to @nicksergeant I wanted to add some more color.

Today I was adding a new document to a list of documents on a particular page. Before the update, I could simply click the document button in the edit bar, upload the document, and it would insert the document title as text and link to the document itself. It was a very easy and intuiti

[2022-09-11 05:00] lb- opened #9180 "Accessibility - StreamField renders an empty heading (h3) element"
### Issue Summary

* `StreamField` items render a block container with a `h3` element but this title will always be empty, providing no information to the user for the titles in this area of the UI.
* This blocks a critical AA accessibility criteria 2.4.6 Headings & Labels - https://www.w3.org/WAI/WCAG21/Understanding/headings-and-labels

### Steps to Reproduce

1. Open the bakerydemo
2. Open any

[2022-09-12 01:42] fixgoats commented on #7386
Stepping through this with an event listener breakpoint on compositionend, this snippet seems to be the problem
[code]
Located in draftail.js. Or at least it's what was highlighted before and after the character disappeared.

Using Github's search, there are no results for onCompositionEnd in this repo or draftail's repo, but if anyone can figure out where this comes from that might give a clue.

[2022-09-12 10:11] lb- commented on #8790
Action from final UX Unification call today

* LB to review this issue, split out anything critical that is left over to new issue/s OR update other existing issues with notes & clarity
* The ghost (aka secondary) button with icon is a new styling and is not really required for the unification work, can be done in isolation if needed in the future.
* The core work of this issue is done and upgrade

[2022-09-12 11:35] th3hamm0r opened #9181 "Limit displayed models in audit logging based on permissions"
### Is your proposal related to a problem?

Currently, a user which for example is only allowed to edit pages (like users of the default editor group), still sees every logged change of any model in the audit log, e.g. changed site settings or changed users (if a superuser has changed them for example), which he actually can't see/edit, therefore he often would not know of their existence, which i

[2022-09-12 11:55] lb- commented on #6877
I have not seen this error in any client JS dev for at least the last 6 months, it looks like this was fixed as part of general upgrades here 7d7a03f9f2110decb51090631e6f3087600633ad / #7876

I have tested `npm run build` and `npm start` and not seen this issue.

[2022-09-12 11:55] #6877 closed

[2022-09-12 11:59] lb- commented on #6877
Here is my `npm run build` output for reference

[code]
[code]

[2022-09-12 13:23] thibaudcolas opened #9182 "Embed chooser modal is missing vertical padding"
Raised in https://github.com/wagtail/wagtail/pull/9172#discussion_r968303131.

In Wagtail 4, the embed chooser modal is missing its vertical padding between the header and form:

!["Insert embed" modal dialog, with a single URL field and an Insert button under](https://raw.githubusercontent.com/wagtail/wagtail/77e6505f97a819ee53b919ed3ea14a8622e2c217/docs/_static/images/screen20_insert_video_form.

[2022-09-12 14:51] thibaudcolas opened #9184 "Broken dashboard JS due to notifier’s version processing failing for nightly release versions"
Version numbers from our [nightly releases](https://releases.wagtail.io/nightly/index.html) are incorrectly formatted according to our upgrade notifier [version processing](https://github.com/wagtail/wagtail/blob/6b238454359c7b9aeb412e095777c63ff3592d8c/client/src/utils/version.js#L29-L32).

Sample version this fails on: `wagtail-4.1.dev20220912`

Looking at our version processing regex, it seems

[2022-09-12 19:25] crgwbr opened #9185 "CMS Admin Exception after deleting a page"
### Issue Summary

The _Your most recent edits_ panel causes a 500 error when one of the recent edits was to a page which has since been deleted.

### Steps to Reproduce

1. Edit a page.
2. Delete the page.
3. View the CMS admin home page.

This seems to be a result of the page edit links in this panel. E.g. https://github.com/wagtail/wagtail/blob/stable/4.0.x/wagtail/admin/templates/wagtailadmin/

[2022-09-13 05:09] lb- commented on #9182
PR up with a fix https://github.com/wagtail/wagtail/pull/9186

[2022-09-13 05:11] lb- commented on #9184
<img width="2048" alt="Screen Shot 2022-09-13 at 3 11 23 pm" src="https://user-images.githubusercontent.com/1396140/189814347-02c41376-0988-480a-b303-cf409aa76d47.png">

Confirmed

[2022-09-13 12:36] #9130 closed

[2022-09-13 13:14] thibaudcolas opened #9192 "releases.wagtail.org fails to load due to CORS"
Our README documents <https://releases.wagtail.org/nightly/index.html> as the page to look at the latest nightly release. Unfortunately on this page the data fails to load due to CORS, as we load the data from the old domain:

Fetching the data with the `.org` domain directly works as expected (`curl https://releases.wagtail.org/nightly/latest.json`), so I think we need to update this page to chan

[2022-09-13 13:15] thibaudcolas commented on #9192
@kaedroho I believe you had set this up initially, could you point us to where the HTML/JS code is for `releases.wagtail.org` so we can update it?

[2022-09-13 14:44] sephii opened #9193 "No distinction between "Edit" and "Change" on image panel in french"
### Issue Summary

The french translation translates both "Edit" and "Change" to "Modifier", which makes the 2 buttons in the image panel have the same label (although they’re doing different things). Here’s what you get in english (correct):

![screen](https://user-images.githubusercontent.com/754333/189930701-7362edc3-27b5-4361-a175-9611771e2df4.png)

And in french (incorrect):

![screen2](https

[2022-09-13 15:20] thibaudcolas commented on #9180
Thank you for filing this LB! I had stumbled upon this as well through some earlier testing, and found this had been done on purpose – this element contains the block’s "data summary" when collapsed, and is intentionally empty when expanded:

https://github.com/wagtail/wagtail/blob/d1908ee07f3959abfdd1d317ff2fa3598a27579e/client/src/components/StreamField/blocks/BaseSequenceBlock.js#L336-L350

I b

[2022-09-13 15:20] gasman commented on #9193
Thanks for the report @sephii! It seems the same thing happened for the Italian translation (#9045) - there's an open ticket #9113 proposing that we change the label back to "Choose another", so I'll close this as a duplicate and bump #9113 up in priority to 4.0.2.

[2022-09-13 15:20] #9193 closed

[2022-09-13 15:21] gasman commented on #9113
Same issue in the French translation (#9193) - bumping this up to be handled in 4.0.2.

[2022-09-13 16:05] sephii commented on #9193
Thanks!

[2022-09-13 18:42] gasman commented on #9185
Hi @crgwbr - thanks for the report. However, I'm unable to replicate this as follows on a fresh Wagtail 4.0.1 instance:

* From a newly created Python 3.10 virtualenv:
[code]
* Log in to http://localhost:8000/admin/
* From http://localhost:8000/admin/pages/3/edit/ , change the title from Home to Home2 and save as draft
* Return to http://localhost:8000/admin/; observe that "Home2" appears in "Your

[2022-09-13 18:50] gasman opened #9195 "Delete link from the page edit view redirects back to a 404"
### Issue Summary

The "Delete" link in the top menu on the page edit view has a `?next` URL parameter that points back to the current page. This means that after confirming deletion, the user is redirected back to the edit view for the page that no longer exists, resulting in a 404 error.

### Steps to Reproduce

1. On a fresh bakerydemo instance, log in to http://localhost:8000/admin/ and go to

[2022-09-13 18:59] gasman commented on #9195
Looks like this was introduced in 887a25972365a7a63d5ae5f1f45551e2f683baea. cc @PaarthAgarwal @lb-

[2022-09-13 21:19] lb- commented on #9045
Added a bit of a summary of this underlying issue and learnings here https://github.com/wagtail/wagtail/discussions/8017#discussioncomment-3639114

Any feedback on that sub-comment would be appreciated.

[2022-09-13 21:19] lb- commented on #9193
Added a bit of a summary of this underlying issue and learnings here https://github.com/wagtail/wagtail/discussions/8017#discussioncomment-3639114

Any feedback on that sub-comment would be appreciated.

[2022-09-13 21:19] lb- commented on #9113
Added a bit of a summary of this underlying issue and learnings here https://github.com/wagtail/wagtail/discussions/8017#discussioncomment-3639114

Any feedback on that sub-comment would be appreciated.

[2022-09-13 21:54] lb- commented on #9160
Can confirm I was able to reproduce this on the 4.0 code.

[2022-09-13 22:37] #9160 closed

[2022-09-13 23:16] lb- commented on #9102
@akshay-gupta7  we do not really assign issues to contributors, only the core team in some cases.

Feel free to get started with this and prepare a PR when you are ready.

Reach out if you need a hand, and remember there is a `#new-contributors` channel on Slack.

[2022-09-13 23:21] lb- commented on #9192
Not sure if this PR is relevant but maybe I should re-open this https://github.com/wagtail/wagtail/pull/7906

[2022-09-13 23:26] lb- commented on #9195
Thanks @gasman I will investigate.

[2022-09-14 03:50] akshay-gupta7 commented on #9102
@lb-  sure, thank you. I'll get started with this.

[2022-09-14 05:02] lb- commented on #9195
Can confirm this problem exists.

[2022-09-14 05:32] lb- commented on #9195
Looks like there is an additional issue here - when we do correctly remove the next_url for explorer listing the `next_url` is set to `None` for any subsequent buttons.

This means that the unpublish button on the page listing more button has no next url (as the one above, delete, removes it).

Code was added on this commit.
https://github.com/wagtail/wagtail/commit/35b5ed350a30dfb626d55c0b2c02197

[2022-09-14 06:43] lb- commented on #9195
PR up with a fix https://github.com/wagtail/wagtail/pull/9197

[2022-09-14 06:57] lb- opened #9198 "Design update - secondary button with icon - Wagtail Design System"
### Is your proposal related to a problem?

* There is not yet a officially supported button with icon that aligns with the secondary button styles (outline only button)
* If `button-secondary` is applied to the current `bicolor` button styles, it works but should align with the new official Wagtail Design System

### Describe the solution you'd like

* [ ] Add support for the with icon (secondary

[2022-09-14 07:00] lb- commented on #9198
Marking as good first issue - split from https://github.com/wagtail/wagtail/issues/8790
@thibaudcolas  please have a read when you get the chance.

[2022-09-14 07:01] lb- commented on #8790
button secondary with icon work has been split to https://github.com/wagtail/wagtail/issues/9198

[2022-09-14 07:01] #8790 closed

[2022-09-14 08:15] thibaudcolas commented on #9113
@gasman did you check on this with Ben in the end? Again I don’t know what his rationale was for changing the button labels, but I assume there was one. At least to me the switch to shorter button labels made sense, as it made the position of the buttons much more predictable.

[2022-09-14 08:32] thibaudcolas commented on #9113
Looking at the code, "Change" is the word we use for Django’s change permission. I could only see it in use on the groups’ permission form, though there could be other places: https://github.com/wagtail/wagtail/blob/main/wagtail/users/templates/wagtailusers/groups/includes/formatted_permissions.html#L20

It’s important that buttons next to one-another display clear-enough labels in all languages,

[2022-09-14 09:57] JanMalte opened #9199 "add bottom margin to backend layout"
### Is your proposal related to a problem?

Using the backend on mobile devices it is hard to reach the buttons at the end of a page.

### Describe the solution you'd like

Just add some margin to the bottom so the buttons do not stick to the bottom edge of the screen.
This applies to all backend views, so this should be added in the basic layout file.

### Describe alternatives you've considered

[2022-09-14 10:08] th3hamm0r commented on #9113
@thibaudcolas

Of course, that makes sense, but I really doubt that every language can express this only in single short words without confusing the user, what those buttons actually do. So even if expressed with a short text, I think you have to assume that those buttons are larger in other languages.

I'm not a native english speaker, but I also think that "Edit" and "Change" could lead to confu

[2022-09-14 10:11] gasman commented on #9113
Not directly, but 1) he would have got a notification from the `@wagtail/page-editor-2022` ping above, 2) you said above that you'd follow up with our UX/design people, 3) I asked on Slack (on a channel that Ben is in) about the best way of this for designer attention and "contact Ben directly" wasn't mentioned as an answer, and 4) I did raise it in passing with our DM when talking about getting s

[2022-09-14 10:11] #9113 closed

[2022-09-14 10:52] thibaudcolas opened #9200 "Review chooser action button labels"
#9194. We changed chooser widgets’ "Choose another" button to "Change" in #8934, and back to "Chooser another <thing>" in #9113.

I believe we need to revisit this again because the initial change had been done with UX/UI considerations in mind that aren’t reflected in the bug fix.

- Either retaining the "Chooser another <thing>" label in the current design is desirable, and all we need to do is

[2022-09-14 10:54] mdfathi99 commented on #6066
I have solved this issue. Here is the simple code in `api.py`
[code]

[2022-09-14 11:12] thibaudcolas opened #9201 "Translations conflate "Change" and "Edit" terminology"
Follow-up to #9113. We have translations currently using the same terms for Wagtail’s "Edit" and "Change" concepts – which denote similar concepts in English, but in Wagtail are technically different.

From what I understand, "Change" is our name for the `change` permission coming from Django. In Wagtail,

- "Edit" is what we consistently use to refer to the "Update" functionality from CRUD.
- "Ch

[2022-09-14 11:29] thibaudcolas commented on #9113
Sorry, I probably shouldn’t have reopened this, it’s definitely better as separate issues. Here is #9200 for us to review the label for choosers again, and #9201 to look into the conflating of terminology.

Moving forward on this without Ben’s input seems fine to me as a short term bug fix – but we do try to have him lick the cookie for all UI/UX decisions. It feels important to me that there’s ce

[2022-09-14 12:34] minusf commented on #7202
after upgrading from 2.16 to 3.0.3 this validation error is not publicly exported anymore and raises an import error:

[code]

`struct_block.py`:

[code]

[2022-09-14 12:40] #9182 closed

[2022-09-14 12:45] gasman commented on #7202
@minusf `from wagtail.blocks.struct_block import StructBlockValidationError` works for me on current main. Importing from `wagtail.blocks` (or `wagtail.core.blocks`) would never have worked, because the `__all__` line has always been there.

[2022-09-14 12:51] minusf commented on #7202
thank you, indeed i went back in history and the `__all__` line was always the same.

the confusing part form is i guess also the intention (`__all__`) not to have it "public".
thank you for providing the model path diffing tool, helps quite a bit.

[2022-09-14 12:58] #9027 closed

[2022-09-14 13:30] thibaudcolas opened #9202 "Refine hover / focus styles for title field’s comment button"
As of Wagtail 4, our title field now has a border that only reveals on hover. It also has a "Add comment" button revealed on hover. Both elements are currently out of sync – if the user hovers / focuses the comment button, the border doesn’t show:

![Title field hover / focus recording](https://user-images.githubusercontent.com/877585/190166644-05447e50-1d17-4f04-8d72-d6cf365901d6.gif)

It would b

[2022-09-14 15:30] #9025 closed

[2022-09-14 15:31] th3hamm0r commented on #9192
Fyi: I've also stumbled over this and created an issue here: https://github.com/wagtail/wagtail.org/issues/223
I thought that was the right place 😅

[2022-09-14 16:13] thibaudcolas commented on #9134
@dkirkham thank you for reporting this! I implemented most of the changes to MultiFieldPanel, and I wasn’t aware it supports a help text. I don’t think I’ve ever seen this in action nor in the docs.

Do you have any thoughts on your side on whether this should be considered a bug or not? I’ll investigate on my end as well.

[2022-09-14 16:18] Scotchester commented on #9199
@JanMalte Thanks for reporting. Could you add a screenshot illustrating the issue?

[2022-09-14 16:27] JanMalte commented on #9199
![Wagtail - Artikel bearbeiten](https://user-images.githubusercontent.com/544986/190210346-f87bbb16-c65c-4a14-805b-553a66e0bb68.png)

[2022-09-14 18:04] mehrdadmoradii opened #9205 "wagtail.admin.views.generic.EditView uses object.id which is not present in every object."
### Issue Summary

As mentioned in https://github.com/wagtail/wagtail/pull/9204#discussion_r971114461, `wagtail.admin.views.generic.EditView` uses `object.id` in order to refer to an URL. However, not every object has the `id` field.

### Steps to Reproduce

1. Use `wagtail.admin.views.generic.EditView` instead of `wagtail.users.views.users.create`.
2. Runtests using `./runtests.py wagtail.users.t

[2022-09-15 13:18] lb- commented on #4320
I think this may have been fixed by https://github.com/wagtail/wagtail/pull/5147 (that PR calls out this issue specifically).

[2022-09-15 13:29] dkirkham commented on #9134
Hi @thibaudcolas,

I had to go back to my original code, and I can see in one of the earliest commits in that project I have `MultiFieldPanel`s with `help_text` parameters. That was with Wagtail 2.7.1, early in 2020.

Whether I did look at the Wagtail source code at the time, saw something in Kalob's excellent videos or a StackOverflow answer, or serendipitously confused `FieldPanel`s with `Field`

[2022-09-15 13:37] lb- commented on #9134
Idea - we drop the concept of `help_text` on panels (it is confusing and gets muddied up with `help_text` on fields), and we migrate to something like `description` or `subtitle`.

I think this is a super useful feature and recall using it a long time ago on `MultiFieldPanel` but as it's not documented currently maybe we have a little room to move (make this useful again) without pulling the whole

[2022-09-15 13:57] dkirkham commented on #9134
I haven’t checked the code @lb-, but I presume the `help_text` from each `Field` is passed to `help_text` in the corresponding `FieldPanel`, so most of the current functionality would need to be kept.

Given that, would your suggestion apply just to `MultiFieldPanel`s or to all panel types?

Or is it easier to keep the <=3.0.x behaviour, albeit adapted to the new UI, with one or two lines of templ

[2022-09-15 15:32] th3hamm0r opened #9207 "ModelAdmin: globally cached permissions result in unexpected behaviour"
### Issue Summary

With https://github.com/wagtail/wagtail/commit/cb4017c6 a LRU-cache has been added to the `ModelAdmin`'s `PermissionHelper`. The problem is, that this helper, as the ModelAdmin itself, is only instantiated once during the runtime of the server, so the cached user permissions are actually stored globally per process:
https://github.com/wagtail/wagtail/blob/d96510949acce6e65073b8e

[2022-09-15 20:48] kristinriebe opened #9208 "Adding new collection creates Integrity Error, UNIQUE constraint failed"
### Issue Summary
After renaming a collection via the admin interface, adding a new collection very often results in an IntegrityError, violating a UNIQUE constraint (or Duplicate key error).
Possible reason: Since Wagtail 2.11, collections are created in alphabetical order (within each parent), which is ensured by a path reordering each time a new collection is created. (Which is a nice feature!)

[2022-09-15 20:51] #9142 closed

[2022-09-15 21:38] #6512 closed

[2022-09-15 22:19] #6006 closed

[2022-09-16 07:31] lb- commented on #5408
PR up for fixing this https://github.com/wagtail/wagtail/pull/9209 (note: the simplest fix, does not solve the problem of hover states for these, that will be a much bigger job and require a change of DOM structure that will add a lot of complexity).

If that PR goes through we will split this issue to a more suitable one for possibly changing the chooser approach to have an explicit 'select' butt

[2022-09-16 10:07] thibaudcolas commented on #9192
Ah! Nice one @th3hamm0r, I’m not too sure which of those two would be most appropriate tbh.

It looks like someone fixed this – I now see `access-control-allow-origin: *` on https://releases.wagtail.io/nightly/latest.json. So will close this now.

@lb- I believe the S3 bucket name doesn’t really matter, as long as resources served from it by Cloudfront work for both `releases.wagtail.org` and the

[2022-09-16 10:07] #9192 closed

[2022-09-16 10:24] #9152 closed

[2022-09-16 11:12] Tijani-Dia opened #9210 "Dropdowns in images index won't work if there is only the root coolection"
### Issue Summary
When there is only the `root` collection in the images library, the select input to choose a different collection isn't shown and it currently makes other dropdowns not work too. Looking at the dev console, I see this error:
[code]

### Steps to Reproduce

1. (for example) Start a new project with `wagtail start myproject`
2. In the admin, go to the images index view
3. Changing

[2022-09-16 11:52] thenewguy commented on #3066
Hit this problem as well. Any updates or improvements in the solution?  Would like to able to conditionally enable this based on a modelfield from the page being served

[2022-09-16 11:52] Tijani-Dia opened #9212 "Entries per page dropdown doesn't show the correct number of images displayed"
### Issue Summary
The `entries per page` input should reflect the number of images displayed in the images index view. However, its value never changes and is always set to 10.

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. In the admin, go to the images index and upload some images
3. Change the entries per page

Any other relevant information. For example, why

[2022-09-16 14:17] minusf opened #9216 "Contents of the status panel available at a glance"
### Issue Summary

The current language of the article and other useful information is hidden away under the status icon.

We are in the process of rolling out a 7 language site and this is becoming super frustrating very quickly. There is a ton of whitespace on the editing page and important stuff that needs to be accessible at a glance was all hidden away into animated side panels. Aside from th

[2022-09-16 14:23] thibaudcolas commented on #9134
I got to investigate this a bit,

- I found 3 such MultiFieldPanel `help_text` definitions on sites I have access to the code for
- This seems to have worked for all panels _at the top level_, because the rendering actually came from our [ObjectList’s `object_list.html` template](https://github.com/wagtail/wagtail/blob/v3.0/wagtail/admin/templates/wagtailadmin/panels/object_list.html#L14-L20), it

[2022-09-16 14:49] minusf opened #9218 "no horizontal scrollbar for breadcrumbs in editor"
### Issue Summary

It seems that it's not possible to scroll horizontally anymore in the breadcrumbs in the page listings.

<img width="1082" alt="Screenshot 2022-09-16 at 16 37 35" src="https://user-images.githubusercontent.com/3632883/190666070-76c954fc-4f93-4863-b291-af4a2baf3bbf.png">

("Central" is cut off from "Central Asia something something")
### Technical details

-   Wagtail version: 4.

[2022-09-16 15:05] thenewguy commented on #3066
This could be simplified if the [page fetching logic](https://github.com/wagtail/wagtail/blob/main/wagtail/views.py#L18) was refactored from the serve view into a reusable function that cached the lookup on the request.

Then the middleware could fetch the page if the resolved view function is `wagtail.views.serve`.  Since the page is cached on the request the lookup isn't doubled. If the page mee

[2022-09-16 15:13] th3hamm0r opened #9219 "Remove capitalize() calls to avoid issues with other languages"
### Is your proposal related to a problem?

There are (only) 4 calls of `capitalize()` in wagtail's codebase and 3 of them actually lead to a bad wording in german, for example.

**1) `get_content_type_label()`:**
https://github.com/wagtail/wagtail/blob/bf3a054c04eb66a923bac538caa64165fef79131/wagtail/coreutils.py#L153-L163
I think the second call (fallback if no model exists) can be kept, but the

[2022-09-16 15:29] thenewguy commented on #3066
Here is a pseudo codish example:

[code]

Thoughts?

[2022-09-16 15:37] minusf commented on #9218
bit of clarification.  the breadcrumb is there when hovering over the "arrow" in an `/edit/` page, it's not there in "folder" views.

[2022-09-16 21:33] th3hamm0r commented on #9219
Ok, "other languages", there aren't many, but for german it's an issue 😅
But even in english, e.g. for models that contain acronyms like "DNS" in their name, lowercasing everything and only uppercasing the first letter is not ideal I think.

Can we use something else than `capitalize()`? Only uppercasing the first character and leaving the rest untouched could work quite well I think.

[2022-09-16 21:51] lb- commented on #9219
Hey. I 100% agree that we should avoid using capitalise type functions in code.

If you get a moment could you please add a note about this to the discussion about better supporting other languages.

https://github.com/wagtail/wagtail/discussions/8017

I'll probably flag this as a bug as we already adopted similar changes in previous releases. See https://github.com/wagtail/wagtail/issues/7624

[2022-09-16 21:52] gasman commented on #9219
I never realised that `capitalize` lower-cases capital letters (other than the initial one) that were capitalised in the input! That seems counter-productive in _any_ language.

Looks like Django's `django.utils.text.capfirst` does what we want: https://github.com/django/django/blob/9c42933711667034c9335f408e1a8a53031e9865/django/utils/text.py#L14-L21

[2022-09-16 21:56] lb- commented on #9201
I think change and edit are too similar, even in English.

We should look at a different term for change (to mean change the value of an existing selection). Even change selection might be better.

[2022-09-16 22:02] lb- commented on #9219
Note. The usage in https://github.com/wagtail/wagtail/blob/bf3a054c04eb66a923bac538caa64165fef79131/wagtail/coreutils.py#L153-L163

Is probably a different scenario - we are trying to make a useful label out of a model name.

That one could probably use the capfirst approach or something a bit more nuanced, only the logic branch where we are processing the ContentType.

The contrib settings and th

[2022-09-16 22:06] thibaudcolas commented on #9216
Hi @minusf, have a read through #7739 if you want a better understanding of those design decisions. Is it the only the page’s language that you find missing? The page type?  Obviously there is a lot of empty space on the page when none of the panels are opened, but the point of having the space is so panels can be shown alongside the form, with contents visible without people having to spend a lot

[2022-09-16 22:23] gasman commented on #9201
To clarify - with #9113 applied, we're back to using "Choose another" for "change the value of an existing selection", so that particular case is already solved (unless the decision on #9200 is that "Choose another" is unsatisfactory too, in which case we need to decide on something that's better than both "Change" and "Choose another").

If I'm following correctly, the only place where "Change" i

[2022-09-16 22:32] lb- commented on #9201
Agreed.

[2022-09-16 22:40] gasman commented on #9219
No, I don't think that's correct - in English, the `verbose_name` setting on a model should be uncapitalised so that it can be used in contexts like "Add a %s". The decision to capitalise it or not for different situations is made on a case-by-case basis, so any code that's taking the verbose_name with the intention of using it for a label or heading _should_ capitalise it at that point. The probl

[2022-09-17 04:40] th3hamm0r commented on #9219
Thank you both, `capfirst` is perfect I think.

I could change all 4 uses of `capitalize` to Django's `capfirst` on top of #9217, just to avoid a git conflict with the changed site settings code there. Ok?

[2022-09-17 08:14] spapas commented on #9155
Hey @lb- I was just going to open some discussion about that particular thingie! The issue #9145 is way too big and affected *everybody* that upgraded to wagtail 4.x! This shouldn't be taken lightly.

The fact that a bug this important slipped from testing means that there's something flawed in the way new wagtail releases are tested; adding some tests for inlinepanels is definitely a good first s

[2022-09-17 15:03] zerolab commented on #947
Will mark this as closed as #8069 has been merged and is available since Wagtail 3

[2022-09-17 15:03] #947 closed

[2022-09-17 15:23] zerolab commented on #9155
@spapas thanks for the input.

If we steer away from making big changes, then we will end up making no changes.

We do lots of manual testing when reviewing PRs, but we're also only human.. I don't seen an issue with the Python + JavaScript "trickery", but we do want to increase our coverage and this is one of those steps.

FWIW, the version jump came from the fact we had so many changes and it is

[2022-09-17 17:13] lukasalexanderweber opened #9222 "Document how to add Collections as Foreign Key to a Page"
### Is your proposal related to a problem?

The [docs](https://docs.wagtail.org/en/stable/getting_started/tutorial.html#images) show nicely how to link single Images to a Page. However, a common use case is to store multiple Images to a Page, which could be better managed within a collection instead of having the double work of first adding all images to a collection and then select them 1 by 1 du

[2022-09-17 18:28] akshay-gupta7 commented on #9102
Hi @lb- , raised a PR against this issue. Please do have a look whenever you can

[2022-09-17 19:37] spapas commented on #9155
Hello @zerolab thank you for understanding the situation and taking it seriously. Also forgive me for hijacking LB's thread ; I wasn't aware the discussions feature is used for Wagtail, I'd keep it in mind from now on...

I'd be grateful if the testing and release process is actually improved and similar bugs are catched in the future before reaching production sites. This will definitely make Wag

[2022-09-17 21:35] lb- commented on #9155
@spapas thanks for the input and I hear your frustration.

I agree 100% with everything @zerolab said - including that further discussion should be a standalone discussion about automated or manual ways to pick up things sooner.

There are plans underway (beyond just this issue) for some other testing layers to be added. All of these take time and resources and may not be prioritised and unlikely

[2022-09-18 03:29] lb- commented on #9219
Thank @gasman makes sense, there are probably cases where we do want to present this as a sentence with the model name somewhere in it (start or end) or stand-alone where sentence case also makes sense.

My only additional thought would be to move the [`capfirst` to the Django template](https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#capfirst) usage, unless that becomes too verbose,

[2022-09-18 03:37] lb- commented on #9219
@th3hamm0r  - as per your question - let's go with the adoption of the `capfirst` in your PR - makes sense, if in the template - great, if not that is fine also.

After more digging, I can see that we use `capfirst` in the Python code a lot also, even throughout the settings app, for essentially the same purpose.

[2022-09-18 04:26] mdfathi99 commented on #9185
Hi, I am facing the same issue, What I did was created a page, and edited it and after that, I had some other work so I kept it idle for 20 min and when I looked back at the admin page I got the same error in the `/admin/` page.

So what I did after that was, I deleted the recent model I created but the results were the same. Then I revert back to wagtail 4.0 but still, I was getting the same Issu

[2022-09-18 07:31] nkuttler opened #9223 "Wagtail is incompatible with django-reversion"
### Issue Summary

Wagtail and django-revision have conflicting reverse accessors.

[code]

### Steps to Reproduce

As far as I can tell simply installing django-reversion will cause the problem, please let me know if you need help to reproduce this.

-   I have confirmed that this issue can be reproduced as described on a fresh Wagtail project: no

### Technical details

-   Python version: 3.10.

[2022-09-18 08:11] gasman commented on #9223
Hi @nkuttler - thanks for the report. There's an existing issue open about this: #9158

[2022-09-18 08:11] #9223 closed

[2022-09-18 12:27] Adinapunyo-Banerjee commented on #9198
Hi, I am new to the Wagtail codebase. I would like to work on this design issue. Could someone please help me out with the directory of the css source files?
Also, I quite didn't understand what the issue really is. Any help would be very helpful. Thanks!

[2022-09-18 12:40] Adinapunyo-Banerjee commented on #3823
Hey, I believe this issue is fixed now? I found that the 'small' delete button, found on the users page, has a red background on hover now.

[2022-09-18 13:48] gasman commented on #3823
@Adinapunyo-Banerjee Yes, that's why it's marked as closed.

[2022-09-19 04:39] lb- commented on #9198
@Adinapunyo-Banerjee the issue description clearly calls out exactly what file to update with the new styles.

Maybe a different good first issue might be more suitable - but have a full read of the description again and see how you go.

[2022-09-19 07:04] th3hamm0r commented on #9219
I've just pushed my changes to #9217.
As noted in the commit, I was able to move the `capfirst` call to the template for the settings-part easily, since the only usages of those `__str__()` calls I've found were those for the `titletag` in `edit.html`.
I've not moved the calls from `get_content_type_label()` to keep the change simple for now, as it probably would have needed more changes to its us

[2022-09-19 07:21] th3hamm0r commented on #8243
@AlessioNar sorry for the late reply. We haven't patched the code, we've just removed all the log entries with a NULL-content_type manually from the db.

[2022-09-19 07:42] minusf commented on #9216
That would basically mean on every notebook (and not some 34" external display) one forced click before starting editing the article. Swapping one frustration for another...

I understand that design is hard and I am not a designer. But i dont have to be a designer to see that this UI is not good UX.

It's a clear red flag to me when there are huge areas of blinding white in the editor interface a

[2022-09-19 08:00] Adinapunyo-Banerjee commented on #9198
Okay, thanks!

[2022-09-19 08:51] th3hamm0r commented on #9207
This should really get fixed with 4.0.2, so as a quick fix I would suggest, that you basically revert the commit https://github.com/wagtail/wagtail/commit/cb4017c6 (except for the changelog entries).
On long term the user object could be used as a temporary storage for the calculated information.

[2022-09-19 09:25] lb- commented on #8684
https://github.com/wagtail/wagtail/pull/8846 - PR for adding permissions to other Panel Groups

[2022-09-19 09:27] lb- commented on #7915
https://github.com/wagtail/rfcs/pull/78 RFC 78 will give us a solid path forward here.

[2022-09-19 09:35] th3hamm0r commented on #8243
@zerolab @gasman Sorry to bump you both, but I've found your initial commit for the model logging (https://github.com/wagtail/wagtail/commit/d7d63c3ab1445629cc6bc03f46f40f8781ec00f0#diff-fccf759288bb9309dd5cfbe05ae13e59d091e625fe53e351bb9d909bb739b0b2) and I haven't found a better way to ask/discuss my suggested PR below (is there a slack-channel which I should use for such questions?).

I would l

[2022-09-19 09:40] lb- commented on #8183
Has been implemented via https://github.com/wagtail/wagtail/pull/8574 & released in 4.0 but looks like it got missed on any release notes or changelog (will add shortly).

[2022-09-19 09:40] #8183 closed

[2022-09-19 10:08] lb- commented on #4320
Can confirm - released a little while ago - 2.6

https://github.com/wagtail/wagtail/pull/5147
5c336f223ed2e985e7d6a3a4278c6a3b0b767af5 & b9e6394bd0ba3daea5ce983b12ea812021a6df28

Works as expected.

[2022-09-19 10:08] #4320 closed

[2022-09-19 10:10] lb- commented on #4073
https://github.com/wagtail/wagtail/pull/9206 might offer some insights how to fix this kind of problem simply.

[2022-09-19 10:27] lb- commented on #8767
This issue has been updated with more clarity and direction on how to set up a non-page breadcrumbs tag.

For Wagtail 4.0 snippets work - the existing breadcrumbs HTML with extensive Tailwind class usage was copied and pasted for https://github.com/wagtail/wagtail/pull/8623

This was done around the same time as the UX unification project so this duplicate breadcrumb got put in due to time constra

[2022-09-19 10:51] lb- commented on #8767
Found a related ad-hoc breadcrumbs usage & added to issue.

https://github.com/wagtail/wagtail/blob/main/wagtail/snippets/templates/wagtailsnippets/snippets/headers/list_header.html

[2022-09-19 10:57] lb- opened #9227 "Adopt core shared header for Snippet type listing header"
### Is your proposal related to a problem?

The Snippet type listing header is one of the last major header usages within the admin that is not using the using the core (non-slim) shared header template or include.

### Describe the solution you'd like

* Using either a template that extends the shared header OR the template include, ensure that the  [wagtail/snippets/templates/wagtailsnippets/sni

[2022-09-19 10:59] lb- commented on #9227
Split from https://github.com/wagtail/wagtail/issues/8907 which was split from https://github.com/wagtail/wagtail/issues/8539

Note: This is for the Snippets type listing, not Snippets editing etc (these use the new slim header)

<img width="1457" alt="Screen Shot 2022-09-19 at 8 58 28 pm" src="https://user-images.githubusercontent.com/1396140/191002949-33f1c208-b8ed-4b21-8aa1-de0647d2f5d4.png">

[2022-09-19 10:59] lb- commented on #9227
This might be a issue for someone confident with Django templates and willing to pick up something slightly more complex that preserves existing behaviour but makes the code much easier to maintain.

[2022-09-19 11:03] lb- commented on #8906
Reviewed - this would be a great improvement to the UI as the mobile toggle causes constant issues in its current state with CSS work-arounds required for many header scenarios that only partially fix the problems.

[2022-09-19 11:12] lb- commented on #8037
As of Wagtail 4.0 - the concept of 'back' buttons or similar in Wagtail has been adopted for Snippets and is now an 'approved' usage via breadcrumbs.

https://github.com/wagtail/wagtail/issues/8767  will need to be implemented ideally before this is picked up but I have now removed the 'needs design decision'.

[2022-09-19 11:29] lb- commented on #6505
can confirm this is fixed as of 2.15 and re-validated on 4.1a (in development)

Page in a language will automatically show only the snippets in that language, can be switched with a drop-down within the chooser though.

<img width="1448" alt="Screen Shot 2022-09-19 at 9 28 32 pm" src="https://user-images.githubusercontent.com/1396140/191007631-9c770009-0ba0-45e8-97f0-0ecf8162c7d4.png">
<img width=

[2022-09-19 11:29] #6505 closed

[2022-09-19 11:38] lb- opened #9228 "Review issues raised during UX unification project (GSoC) 2022"
Mainly ones raised by LB & Thibaud.

* Is the issue clear enough / split out enough for someone to pick up
* Should any new issue be raised for the Snippets breadcrumbs being a copy/paste (despite the UX unification work)
* Any title changes / labels / clean up needed
* Review the page editor project and UI up for grabs project also.

**From Thibaud**

* I think what would help the most is probabl

[2022-09-19 11:39] lb- commented on #9228
Creating & closing this for historic reference.

**Issue clean up**

Have gone through everything created/listed and updated throughout the GSoC project...

Here is a list of the issues I have split out and now reviewed that either came up during the project or were split from other items
* https://github.com/wagtail/wagtail/issues/9227 - :notebook: Adopt core shared header for Snippet type listin

[2022-09-19 11:40] #9228 closed

[2022-09-19 15:28] thenewguy commented on #3066
Incase one looks at my example and wonders about adjusting the `view_func.csrf_exempt` back to `False`, here is how you could implement an actual CSRF hook:

[code]

[2022-09-19 22:19] #9219 closed

[2022-09-20 09:00] katzmo opened #9230 "No user in preview"
### Issue Summary

Usually the current user is passed to sub-classes of `WagtailAdminModelForm`/`WagtailAdminPageForm` as `for_user` keyword argument. It seems the new preview mixin also initializes a model’s form class, but without passing a user. This breaks use cases where form fields or validation depend on the user.

### Steps to Reproduce

1. Make your own page form class
2. Use it on your p

[2022-09-20 09:30] kbayliss opened #9232 "Majority of `StreamField` and `StreamBlock` UI elements not visible or missing when rendered within a `MultiFieldPanel`"
### Issue Summary

When a `StreamField` is rendered within a `MultiFieldPanel` (including any child StreamField's via `StreamBlock`s), the majority of the StreamField UI becomes invisible (with opacity set to `0`).

As one example, there seems to be some overridden/conflicting CSS on the `.c-sf-add-button--visible` element.

Some specifics:

1. The top-level `StreamField` does not show the left-mo

[2022-09-20 09:40] kbayliss commented on #9232
Just to clarify, I am hovering over the `StreamField` for each of the screenshots... it just doesn't look like I am most of the time (hence the issue!).

[2022-09-20 10:45] lb- commented on #8731
https://github.com/wagtail/wagtail/pull/9233 raised

[2022-09-20 10:46] thibaudcolas commented on #9216
Right now we display the form and the side panels side-by-side for screen widths starting at 1200px. Here’s what it looks like for reference, with the collapsed sidebar (also works with it expanded):

![wagtail-4-side-panel-status-collapsed-sidebar](https://user-images.githubusercontent.com/877585/191217085-1c840242-eaf1-489c-a2df-d3f48ca6236a.png)

That feels like it would work fine on all notebo

[2022-09-20 11:28] minusf commented on #9216
Yes, with the collapsed side menu, this approaches usable, but that is neither the default, nor preferred by everyone. With the full menu the editing interface becomes very small.

And yes, the Live button survived the redesign, and I imagine the eye inside it is "Visible to all" and there is the History button as well. This means that from the 7 items/actions in the side panel, 3 are always visib

[2022-09-20 13:24] #9195 closed

[2022-09-20 13:47] #9210 closed

[2022-09-20 15:01] #9212 closed

[2022-09-20 15:02] Adinapunyo-Banerjee commented on #9198
@lb- Hey, I have been trying to work on this issue. The UI Styleguide seems to be static and making changes to the base.html does not reflect on the style guide (as mentioned in the UI Styleguide `https://docs.wagtail.org/en/latest/contributing/styleguide.html` documentation).

![code](https://user-images.githubusercontent.com/110435416/191292988-5281b6fe-206e-42fc-a813-e9e07cb1678e.JPG)

When I c

[2022-09-20 15:11] gasman commented on #9198
@Adinapunyo-Banerjee It's possible that your Python environment is still running a copy of Wagtail that's been installed as a package (with `pip install wagtail`), rather than the one you checked out from Github. Try running `pip freeze` - if the output includes a line like `Wagtail==4.0.1` then it's running a packaged version. If so, run the following from the `wagtail` folder where you checked o

[2022-09-20 15:32] Adinapunyo-Banerjee commented on #9198
Thanks @gasman, I realized what the problem was. Could have directly worked on the Wagtail package.

[2022-09-20 17:23] gasman commented on #9185
Have created a tentative fix in #9236. This error apparently occurs when a Revision record has been left behind after a page is deleted, but I can't find a situation where this happens in practice - in all my testing, revision records get deleted along with the page. I've tried other scenarios, like deleting a page model and leaving the page records behind, but they fail in other ways. If you can

[2022-09-20 18:50] gasman commented on #9230
Thanks for the detailed report @katzmo! I've prepared a fix for this in #9238.

(I've marked this for the 4.1 release as I think this is more like missing functionality than a blocking bug. The `for_user` argument is not an officially documented API, and the code within Wagtail that makes use of it always treats it as optional - in most cases it should be possible for custom form logic to do the s

[2022-09-20 22:00] lb- commented on #9185
I also cannot reproduce this scenario locally, also tried to break the dashboard by deleting a page model and not migrating after adding and deleting pages with that model (this breaks the history view though, but that has already been noted by Matt above).

Nonetheless, the PR from @gasman should be a solid solution to this problem for now.

[2022-09-20 22:06] #9185 closed

[2022-09-21 07:22] katzmo commented on #9230
Thank you @gasman for taking this on so quickly! :)

[2022-09-21 15:19] gasman commented on #9207
Thanks for the report @th3hamm0r! I agree with your assessment - I'll open a PR to revert this commit.

[2022-09-21 18:33] akshay-gupta7 commented on #9102
Hi @lb- , thank you for taking out the time to review my code. As per your review, I have put in the suggestions. Please do have  a look whenever you can.

[2022-09-21 18:37] lukasalexanderweber commented on #9222
another UX example: https://stackoverflow.com/questions/59935868/using-wagtail-collections-for-images-via-snippet-how-do-you-iterate-through-the

[2022-09-22 04:57] lb- commented on #9232
Can confirm this issue.

There should be the `+` button as I am hovered over the StreamField.

<img width="1051" alt="Screen Shot 2022-09-22 at 2 56 40 pm" src="https://user-images.githubusercontent.com/1396140/191661699-df679b4a-bbc1-4b09-b999-c654f28bc181.png">

When NOT in an MultiFieldPanel - this is what it looks like.

<img width="1076" alt="Screen Shot 2022-09-22 at 2 57 19 pm" src="https:/

[2022-09-22 05:03] lb- commented on #8885
Interesting problem caused when refactoring the classes usage for Panels

See - https://github.com/wagtail/wagtail/pull/9239 & https://github.com/wagtail/wagtail/issues/9232

Basically, `Panel` classes use `classname` as a class attribute, but uses `classes` as the method to override and the 'truth' of what should be rendered to the `multi_field_panel` (after the fix).

admin/templates/wagtailadmi

[2022-09-22 05:04] #9232 closed

[2022-09-22 14:39] gasman commented on #8477
Implemented in #8901

[2022-09-22 14:39] #8477 closed

[2022-09-22 16:50] gasman opened #9247 "Follow-on UX fixes for scheduled publishing"
Following on from #8901 and having discussed with @benenright - we feel that there needs to be additional messaging to make it clear that the schedule will only take effect on the next publish, not immediately on clicking "Save date". Having "Save date" as an explicit action (rather than just going to Save Draft like before) feels more "final", and people could be misled into thinking that the sch

[2022-09-22 21:39] lb- commented on #6130
Flagging https://github.com/wagtail/wagtail/pull/8812 -> some consolidation of Excel-ish libraries should speed things up somewhat.

[2022-09-23 07:24] mixxorz commented on #2290
Here's a simple snippet to convert plain text to richtext:

[code]

Example input:

[code]

Example output:

[code]

This approach is fairly naive, but usable if you're not too worried about edge cases.

[2022-09-23 10:16] gasman commented on #9207
Fixed in #9242

[2022-09-23 10:16] #9207 closed

[2022-09-23 10:26] perepicornell commented on #5432
@hazaard, I just stumbled upon this using latest wagtail version (4.0.1). If you ended up opening the issue somewhere else, could you please share the link? Or otherwise, any tip about how you ended up solving that?
Many thanks!

[2022-09-23 13:02] enzedonline opened #9253 "Adding multiple backends with wagtail.search.backends.database results in index being overwritten with last in the list"
When creating multiple backends on a multi-language site, it turns out that the index is simply overwritten for each backend with the result that the last in the list is the one the site will be indexed with.

For example:
[code]
In the above example, the entire site will be indexed according to the Spanish dictionary and unaccenting/stemming rules.

If I create a page with the title _“We are goin

[2022-09-24 09:29] enzedonline commented on #9253
As a follow-up, I tried adding `'INDEX'` to the `WAGTAILSEARCH_BACKENDS` definitions:

[code]

Rebuilding, I see the output updating indexes with those names:

[code]

However, the values in `wagtailsearch_indexentry` remain unchanged - only one index exists which is destroyed and rebuilt for each `WAGTAILSEARCH_BACKEND`.

[2022-09-24 14:42] krati5 commented on #6611
Hi, I am interested in working on it. Could you please let me know if I can contribute ?

[2022-09-24 20:54] lb- commented on #6611
@krati5 - please read the comments above, this has a PR against it but has had some comments and feedback on it.

Please read the comments on that PR and the feedback. If you feel confident in picking up that existing branch and creating a new PR from it, go for it. Just acknowledge the previous work done in your PR description and also reference the existing PR.

Otherwise it might be best to pic

[2022-09-26 06:51] hazaard commented on #5432
@perepicornell
I haven't opened an issue anywhere. From what I see in my old repository I had to do two things:
1. Switch from ManyToManyField to modelcluster.fields.ParentalManyToManyField.
2. Use FieldPanel('service_tags', widget=django_select2.forms.Select2MultipleWidget()).

[2022-09-27 03:00] lb- commented on #9222
https://docs.wagtail.org/en/stable/reference/pages/model_recipes.html

Would be a good home for this

[2022-09-27 03:54] hsadia538 commented on #9222
Hello, I would like to take this as my first contribution to the Wagtail repo. Currently, I am looking into the documents and links mentioned above to understand the issue. Thank you @lb- for letting me know about this one.

[2022-09-27 12:33] akshay-gupta7 commented on #9227
@lb- , can I get started on this.

[2022-09-27 12:41] akshay-gupta7 commented on #8906
@lb- , can I get started on this

[2022-09-27 15:46] perepicornell commented on #5432
I really appreciate that, thanks!
In the current iteration, the `ParentalKey` approach worked but making the editor's life worse. I'll take a look at what you propose and see... :)

[2022-09-27 16:24] #9247 closed

[2022-09-27 20:22] rydanstar01 commented on #9198
Hello Sir/Madam, I would like to contribute to this issue.

[2022-09-27 20:24] zerolab commented on #9198
@rydanstar01 thank you for offering.

Just above your comment, there is a reference to #9243 which is a PR that aims to address this. So the best way to contribute is to test that PR and add your feedback on it.

[2022-09-27 21:06] lb- commented on #9227
Go for it @akshay-gupta7

[2022-09-27 21:26] lb- commented on #8906
@akshay-gupta7 this may be quite a tricky one - unless you are very confident with CSS

[2022-09-28 03:18] sudhir512kj commented on #6611
@lb- I would like to work on this issue. Please assign me this issue.

[2022-09-28 09:49] #9134 closed

[2022-09-28 10:16] thibaudcolas commented on #9134
@dkirkham sorry I was away and only seeing your message now! We proceeded with the fix for InlinePanel + adding support for `help_text` everywhere else it used to work.

This will be fixed in the upcoming v4.1 (scheduled for 01/11/2022) and v4.0.3 (no set date) releases.

[2022-09-28 10:58] dkirkham commented on #9134
@thibaudcolas no worries, looks like the changes were much more comprehensive than I had in mind. I'll give the changes a test in my own project when I get a chance.

[2022-09-28 11:08] th3hamm0r opened #9260 "Chooser buttons not visible on hover with wagtail 4.0.2"
### Issue Summary

The [issue](https://github.com/torchbox/wagtailmedia/issues/175) I've created for wagtailmedia initially, seems to be an issue with these changes https://github.com/wagtail/wagtail/commit/44d954e00a6f894eb6951f9fcbb9285a0bf1946b. Because the problem also exists for simple custom choosers created as described in the [docs](https://docs.wagtail.org/en/stable/extending/generic_view

[2022-09-28 11:13] thibaudcolas commented on #9260
Thanks for the report @th3hamm0r. This is because we switched to relying on the widget types for those styles, and currently our widget-specific classes only allow us to target the field widget’s own class rather than any of the inheritance chain.

Template tags we rely on: https://github.com/wagtail/wagtail/blob/82119360acf19961bf6169290995c916fdfe9bb6/wagtail/admin/templatetags/wagtailadmin_tags

[2022-09-28 13:57] faboosh commented on #9107
Can also confirm that this is the case. As @seb-b mentioned, both setting `collapsed=False` and resizing the browser window redraws the table contents. Running Wagtail 3.0.1 and Chrome 105.

[2022-09-28 21:17] lb- commented on #9199
Calling this out as definitely a frustration, it is a small thing but it feels very 'constrained' at the bottom of the editing interface even on desktop.

<img width="1876" alt="Screen Shot 2022-09-29 at 7 15 18 am" src="https://user-images.githubusercontent.com/1396140/192890362-b95fc69d-55aa-46a9-88b2-8775a16d8ea0.png">
<img width="1874" alt="Screen Shot 2022-09-29 at 7 14 41 am" src="https://us

[2022-09-28 21:23] lb- commented on #9199
@JanMalte  I have re-worded your issue - please check I have understood the problem correctly. I have also renamed to avoid the 'backend' term as this can be a bit confusing, we normally call this just the 'admin'. Finally, I have added a potential solution with a screenshot.

[2022-09-29 12:12] #7374 closed

[2022-09-29 17:20] stanpresshook commented on #9260
As a hotfix for any active projects, override the `.chooser__actions` class in your custom admin css file with `opactiy: 1 !important`

[2022-09-30 07:06] lb- commented on #6611
@sudhir512kj  - please read the comments above.

[2022-09-30 07:07] lb- commented on #6611
Removing good first issue from this as it seems to be causing confusion for new contributors.

[2022-09-30 12:13] thibaudcolas commented on #9260
@stanpresshook keep in mind we’ve intentionally changed the chooser action buttons to be hidden by default. If you make this specific change, the buttons will always be visible, for all choosers, even once we roll a fix in Wagtail.

Here is the fix I’m intending to add to Wagtail itself:

[code]

Not my favourite approach to rely on form fields’ class names rather than widget class names, but in t

[2022-10-01 11:49] SanskarGosavi2003 commented on #5851
Hey, is there someone still working on this? Can I start with this as my very first issue to open source?

[2022-10-01 12:18] lb- commented on #5851
Go for it @SanskarGosavi2003 - I don't think the previous person submitted a PR.

[2022-10-01 22:00] mahamtariq58 commented on #8484
I would like try this issue !

[2022-10-01 22:42] Scotchester commented on #8484
@mahamtariq58 Go for it! We don't generally assign issues unless they are major core features, so you are welcome to take a stab at it.

[2022-10-02 00:27] GabrielBogo commented on #1824
Also stuck here. I need to use `pytest-django`'s `@pytest.mark.django_db(transaction=True)` for certain tests, which needs to flush the test database after each test run. Then it fails.

Has anybody figured out a work around this bug to make it compatible with `pytest-django`?

[2022-10-02 14:42] SanskarGosavi2003 commented on #5851
I searched through the code of wagtail/contrib/sitemaps and couldn't find any issues with the current code

[2022-10-03 10:00] gasman commented on #5851
I can't recall what issues I originally found with the sitemaps app, and looking at the current code I can't see any places where non-routable pages might cause a problem: sitemap responses are constrained to the Site record for the current request, so pages outside a site root never enter into it; and if someone removes the `wagtail_serve` URL route (e.g. as part of implementing a headless site),

[2022-10-03 10:00] #5851 closed

[2022-10-03 16:52] loicteixeira commented on #7111
I'm slowly working on this 👍

[2022-10-03 17:43] chosak opened #9270 "User tree permissions don't limit page copying"
### Issue Summary

Groups that have permissions to create pages _anywhere_ in the Wagtail page tree have the ability to copy (and thus view the complete content and history of) any pages of the same type _everywhere_ in the page tree.

Consider a user group that only has permission to create pages under some section of the page tree, /public/. There exists some other part of the page tree, /privat

[2022-10-03 21:46] nilesh05apr commented on #4667
Hello @gasman is this task done? if not i would love to work on this.

[2022-10-04 01:43] lb- opened #9272 "Phase out the use of `x-requested-with` and replace with discrete URLs"
### Is your proposal related to a problem?

- Wagtail is slowly moving away from jQuery and some of the conventions and approaches that are part of the jQuery core code, specifically the reliance on `x-requested-with` header to determine if the request has been made async.
- Additionally, Django is moving away from this header usage in its core code and documentation.

### Describe the solution yo

[2022-10-04 04:41] #8622 closed

[2022-10-04 06:38] lb- commented on #9198
Partial work completed - pattern library & styleguide have been updated via https://github.com/wagtail/wagtail/pull/9243

Thanks @Adinapunyo-Banerjee

[2022-10-04 09:21] gasman commented on #4667
@nilesh05apr No, it's not been done yet - you're very welcome to work on it! https://github.com/wagtail/rfcs/blob/main/text/015-revisions-api-revised.md is still the current spec for how we'd like this to work (although the API endpoints for submitting to moderation are probably outdated, since these have since been replaced by the [workflows](https://docs.wagtail.org/en/stable/editor_manual/admin

[2022-10-04 10:30] #9205 closed

[2022-10-04 21:04] jsma opened #9281 "Rich text toolbar is hidden by default making some edits difficult"
### Issue Summary

Prior to Wagtail v4, the rich text toolbar was always visible which made it easy to access the full range of options when editing. Now that the toolbar is hidden by default, it's very difficult. I understand the desire to save screen real estate but it's now nearly impossible for normal editors to discover how to make the same edits they could prior to v4.

The simplest example

[2022-10-05 09:06] maqnius commented on #4937
Hey everyone,

I was thinking where to put this and I guessed, that it would be easiest if I just comment here - even though this thread is a little old, but I am not sure if this is worth an own issue.

Getting to the point:

I was wondering why it seems that there is no work intended to support the autocomplete search using the Wagtail Rest Api. For example by extending the `PagesAPIViewSet` or

[2022-10-05 15:29] laymonage opened #9283 "Track Python tests coverage"
We used https://coveralls.io at one point according to #4143 (and in fact there's a link to it on the current version of https://wagtail.org/features if you squint hard enough), but it hasn't been updated since 2016.

We used https://codecov.com for our frontend code as of #4219. There were changes to our Python coverage configuration in #6054 but it's not reflected in any of our CI setups. The co

[2022-10-05 21:31] lb- commented on #9283
I think this would be great to see. Test coverage is a good indicator for project health and quality.

Maybe a good first step for the readme badge would be to run the coverage only on a successful merge into `main`. This will hopefully avoid some complexity and CI overhead for CI only running on PRs.

As an aside - we currently do not push for much JS test coverage but I personally think it's imp

[2022-10-06 08:48] th3hamm0r commented on #2527
Just stumbled over this during a search for something else: this should now be easy with the "page_slug_changed"-signal, which was introduced with #7827.

[2022-10-06 08:58] lb- commented on #9102
I have put some feedback on the PR but just adding some solution ideas here, but the general gist is that we probably should tackle this in two parts.

A. clean up the existing code (use proper event listeners, move the code to an external file `search.js` and solve any large linting issues.
B. Adopt a new behaviour/set of buttons for the pagination.

For item B, we need to rethink the JS solution

[2022-10-06 09:18] th3hamm0r opened #9285 "Changing the slug of a draft page to allow reusing it does not work"
### Issue Summary

Actually, this issue is not only limited to the slug, its a general issue:
When you create a new draft page, the initial content is stored in the `Page`'s table (and also as a new revision). All further edits only create new revisions.
This leads to the problem, that this page now "blocks" its initially defined slug. You cannot  rename the slug to use it for another page, becaus