[2022-03-07 20:56] pljspahn commented on #8087
After I walked away from this, I had the thought that React would probably want to complain about other unexpected attributes, so that makes sense.

I think being able to add my own attributes would be handy. I also have HTMX being used in the Django admin and I could maybe see wanting to use it in Wagtail admin also, but I don't have any specific needs at the moment. I think that whatever I might

[2022-03-07 22:46] thibaudcolas commented on #6107
I have just updated the list of what’s remaining based on a the work in #8054.

[2022-03-08 01:03] byshen opened #8088 "Unique constraint for the WorkflowState"
### Issue Summary

Currently, the `WorkflowState` describes the state of the workflow for a given page. The unique constraints in file `wagtail/core/models/__init__.py` describes that the state for a given page should be unique for status `in_progress` or `needs_changes`.

However, I feel that the state should be unique for the page in each workflow, otherwise it would be possible that the page  i

[2022-03-08 01:12] byshen opened #8089 "Add unique constraint for default site"
### Issue Summary

In file `wagtail/core/models/sites.py`, class `Site` is defined to be unique with the following constraints. But this may not be enough.

[code]

However, there are multiple places where special logic are added to handle the case that the default site is not unique.
[code]

I am just wondering that if we can create a unique constraint to enforce this when the data is injected.

[2022-03-08 01:37] byshen opened #8090 "Add unique constraint for the TaskState"
### Issue Summary

In file `wagtail/core/models/__init__.py`, the `TaskState` is defined to track the status of a given task for a particular page revision.

There are code logics to handle the case. For example, in file `wagtail/admin/views/pages/workflow.py`
[code]

To improve the data integrity, we can enforce this with data constraint in class `TaskState`. For example, we can add a constraint

[2022-03-08 12:12] Salomanuel opened #8091 "Django 4.0+ compatibility"
as soon as I add to `base.py` this:
[code]
I get `ImportError: cannot import name 'url' from 'django.conf.urls'`

apparently `django.conf.urls.url()` was deprecated in Django 3.0, and is removed in Django 4.0+

is there any way to make Django Debug Toolbar (and many other things that use the same structure) work in Django 4.0+?

[2022-03-08 12:23] gasman commented on #8091
Hi @Salomanuel,
This is not a Wagtail issue. However, it appears that django-debug-toolbar [updated its urlconfs from `url` to `path`](https://github.com/jazzband/django-debug-toolbar/commit/47d6b5e9d607a5905a2ed668674bafa9dcb0644f) in 3.0, so you probably just need to upgrade it.

[2022-03-08 12:23] #8091 closed

[2022-03-08 13:22] Salomanuel commented on #8091
I'm very sorry, being new to Python and Wagtail I was following a tutorial (wagtail-for-beginners) and it was forcing  `django-debug-toolbar==2.1`
once I changed it to a current version, the problem got fixed

Sorry again for wasting your time!

[2022-03-08 16:28] zerolab commented on #8074
@harshlancer #8084 already does it. You could help by reviewing the changes and testing locally if you can.

[2022-03-08 20:58] lb- commented on #7519
Potential different approach to auto-growing text area https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/

[2022-03-08 21:05] Nawarrr commented on #8038
Can I work on this ?
It would be my first contribution

[2022-03-08 21:10] gasman commented on #8038
@Nawarrr Yes, go ahead!

[2022-03-09 05:41] gitkaarma commented on #8037
@aliceni81 @zerolab I am interested to contribute to this issue. Can you please guide me how to approach this issue as I am new to the codebase.

[2022-03-09 07:52] ParitoshKabra commented on #8029
can i work on this issue as a starter task? @lb-  😅

[2022-03-09 08:07] sumit-158 commented on #7919
Hi there, @thibaudcolas can I work on this?

[2022-03-09 08:18] brylie commented on #7204
Setting `WAGTAILEMBEDS_RESPONSIVE_HTML = True` doesn't have the desired effect for a `StreamField` `EmbedBlock`. YouTube videos are still rendering at ~250px wide.

[2022-03-09 08:27] lb- commented on #8029
Go for it. Nothing stopping you or anyone picking up a bug to fix. @ParitoshKabra

I would recommend for something like this you start with the unit test, sometimes finding where to add a test can be tricky and PRs must come with a test to ensure won't break this again in the future.

[2022-03-09 09:14] thibaudcolas commented on #7919
@sumit-158 this is assigned to @stevedya

[2022-03-09 09:21] zerolab commented on #8037
I set out to provide some instructions on doing this and realised that we don't really have "go back" button or anything else anywhere but pages doing destructive actions (i.e. delete confirmation pages). As such I think this needs a wider interface decision.

@gitkaarma as for contributing, please see https://docs.wagtail.org/en/stable/contributing/index.html on how to set up Wagtail for developm

[2022-03-09 10:15] thibaudcolas commented on #8037
@aliceni81 thank you for the suggestion! This strikes me as something that could be solved everywhere in Wagtail with a breadcrumb, rather than a "back" button.

Can you expand upon why this would be important for redirects in particular?

[2022-03-09 11:48] #8074 closed

[2022-03-09 12:32] lb- commented on #3864
Changed from a bug to enhancement.

[2022-03-09 12:43] gasman commented on #3864
I think this can be closed actually - the original issue was about inline `<code>` spans, which were added in #5141. For code blocks, a dedicated StreamField block is the recommended solution - if there's a case to be made for supporting code blocks within rich text (and as far as I can see no-one here has made that case yet...), that can be done in a new issue.

[2022-03-09 18:04] brylie commented on #7204
As an aside, anyone looking for a relatively simple solution for responsive embedded videos from a Wagtail Embed field can try the following code in their Django template:

[code]

[2022-03-09 22:34] gitkaarma opened #8099 "Error in Setting up the Wagtail codebase"
### Issue Summary

While setting up a local copy of the Wagtail git repository, running the command `$ pip install -e .[testing,docs] -U` generates the following error: -
[code]

### Steps to Reproduce

1. Clone a copy of the Wagtail codebase using the following commands: -
[code]
2. With your preferred virtualenv activated, install the Wagtail package in development mode with the included testing

[2022-03-09 22:41] gasman commented on #8099
I'm guessing this was triggered by #8084... ping @lb- @thibaudcolas

[2022-03-09 22:56] lb- commented on #8099
I have been able to reproduce this issue.

It looks like `jinjalint` has not been [updated since 2018](https://pypi.org/project/jinjalint/#history), so I cannot see an easy way to just update jinjalint.

I might have to take another look at this later.

[code]

[2022-03-09 22:57] lb- commented on #8099
I have not tested it but curlylint says it supports jinja templates https://pypi.org/project/curlylint/ (it is a fork of jinjalint).

[2022-03-10 03:01] ParitoshKabra commented on #8029
I had a doubt @lb- , the image search which is there in the attached small video, is it intended to always search in all collections? That is, when we pick a collection and then perform a search, even then the search page gets refreshed and it searches against all collections. As a part of this issue, shall that also be changed?

https://user-images.githubusercontent.com/76113183/157580102-594d015

[2022-03-10 06:44] thibaudcolas commented on #8099
Arh, the pain! I’ll work on a PR and assign to you @lb- for review.

[2022-03-10 06:50] lapinvert opened #8100 "Add button to RichTextField to edit the generated HTML directly"
### Is your proposal related to a problem?
As a website owner who knows what you are doing, its often handy to be able to edit directly html.
Most Rich text / wysiwyg editors out there allow that feature.

### Describe the solution you'd like

Add a new optional button on rich text field element that would toggle "html mode".

[2022-03-10 09:04] gasman commented on #8100
Hi @lapinvert - thanks for the suggestion.
This isn't really possible, because the Draftail rich text editor has its own data representation that isn't HTML. There's a more detailed explanation here: https://stackoverflow.com/a/71357362/1853523

[2022-03-10 09:04] #8100 closed

[2022-03-10 11:26] ParitoshKabra commented on #8029
Also one more thing, when we search for an image, we need to actually add its complete name, shouldn't it be some `startsWith` type of a thing?

[2022-03-10 11:48] lb- commented on #8029
Thanks for digging into this @ParitoshKabra

1. The search losing the collection is a known issue - https://github.com/wagtail/wagtail/issues/4073 (feel free to investigate)
2. Search indexing by default is basic, it depends on the search backend used.  https://docs.wagtail.org/en/stable/topics/search/backends.html - I'm not very skilled in the search area though so maybe that could also be improv

[2022-03-10 12:44] gitkaarma opened #8103 "Error in setting up Wagtail Bakery demo site on Windows/Mac OS"
### Issue Summary

This is a Windows/Mac specific issue. While setting up Wagtail Bakery demo site, running the command
[code]
generates the following error: -

![image](https://user-images.githubusercontent.com/96700361/157662936-53a699d2-5aa4-486b-8053-06e9459a3e7c.png)

### Steps to Reproduce

1.  Clone a copy of the Wagtail Bakery demo codebase using the following commands: -
`git clone https:

[2022-03-10 20:05] lb- commented on #5471
Looks like Pinterest is a provider but I have not tested a URL myself - https://oembed.com/providers.json

Marking this with good first issue.

[code]

[2022-03-10 20:11] lb- commented on #1126
cleaning up labels, removed some older ones, looks like this approach has been agreed on in general.
Adding good first issue.

[2022-03-10 20:21] lb- commented on #1127
Adding notes for anyone looking at this (+ marking as good first issue).

* See the docs for the Django system check framework https://docs.djangoproject.com/en/4.0/topics/checks/
* Checks can exist on a model and also app wide
* We would likely want to scope these checks at the app wide level so we can pick up `edit_handler` usage across any models, not just pages
* We already have some similar c

[2022-03-10 20:28] lb- commented on #3746
For anyone looking at this, it would be good to check the behaviour of documents searching also.

[2022-03-10 21:16] lb- opened #8106 "Documentation - migrate editor's guide (editor manual) to markdown instead of rst"
### Pertinent section of the Wagtail docs

* `docs/editor_manual`
* https://docs.wagtail.org/en/stable/editor_manual/index.html

### Details

* As part of the ongoing discussion into moving the editor's guide into a separate repo or website https://github.com/wagtail/wagtail/discussions/7824
* It would be easier to work with markdown syntax instead of RST
* The Watail main branch recently moved to

[2022-03-10 22:07] lb- commented on #7980
Possibly useful tab guidance: https://inclusive-components.design/tabbed-interfaces/  (from UI meeting)

[2022-03-11 04:25] vupham04 commented on #4564
Hi, just want to check in again - I wonder if @thoang43 and I can get some feedback on our suggested solution above?

[2022-03-11 04:43] Nawarrr commented on #8038
I have a little question regarding accepts_kwarg, I'm not sure where exactly I should be checking before calling it, but that's what came up to my mind, the
`    def get_url_helper_class(self):
        if not accepts_kwarg(AdminURLHelper.__init__, 'base_url_path'):
            raise DeprecationWarning("AdminURLHelper.__init__ is Depricated")

        if self.url_helper_class:
            return se

[2022-03-11 04:48] Nawarrr commented on #8038
I have a little question regarding accepts_kwarg, I'm not sure where exactly I should be checking before calling it, but that's what came up to my mind, the

[code]

this is the line where self.url_helper is initialized

`self.url_helper = self.get_url_helper_class()(self.model , self.base_url_path)`

I'm new to opensource, sorry if It's supposed to be obvious

[2022-03-11 07:10] lb- opened #8107 "Images management command to purge and regenerate renditions"
### Is your proposal related to a problem?

- Occasionally, you can create problems when syncing data from production environments or you just want to clear out unused renditions.
- There are also cases where there is a need to clear space on a server and we may want to intentionally only load image renditions when requested.

### Describe the solution you'd like

A new management command, in the

[2022-03-11 07:50] ShwetKhatri2001 commented on #8106
Hi @lb! I'd like to work on this issue and start my open source journey with wagtail.

[2022-03-11 08:03] lb- commented on #8106
@ShwetKhatri2001 go for it, reach out if you need a hand.

[2022-03-11 11:55] gasman commented on #8038
The `accepts_kwarg` check would go just before we create the AdminURLHelper instance, to make sure the constructor actually accepts the arguments we want to pass it. So, the line `self.url_helper = self.get_url_helper_class()(self.model , self.base_url_path)` would become something like:

    url_helper_class = self.get_url_helper_class()
    # make sure the url_helper_class constructor accepts a

[2022-03-11 12:30] #1126 closed

[2022-03-11 12:44] lb- commented on #1126
Sounds good. Thanks

[2022-03-11 13:09] PaarthAgarwal commented on #7624
I removed all instances of text-transform: uppercase (except 2) as you mentioned but I can't see the reflection of the same in bakerydemo admin page. How to reflect these changes in it?

[2022-03-11 15:21] #8099 closed

[2022-03-11 15:24] thibaudcolas commented on #7624
Hi @PaarthAgarwal, thank you for giving this a go! Do you have our Node tooling up and running? This would be the first thing I would check – since we write styles in Sass, there is a build step to convert this to CSS. See the following setup instructions: https://docs.wagtail.org/en/stable/contributing/developing.html#setting-up-the-wagtail-codebase.

[2022-03-11 16:21] PaarthAgarwal commented on #7624
Hey @thibaudcolas, I did these steps to setup and build codebase. Then I did these these steps using the same virtual environment I used for building codebase:

**Add Bakery demo (the demo project)**
cd ..
git clone https://github.com/wagtail/bakerydemo.git
cd bakerydemo
cp bakerydemo/settings/local.py.example bakerydemo/settings/local.py
echo "DJANGO_SETTINGS_MODULE=bakerydemo.settings.local" > .

[2022-03-11 16:26] thibaudcolas commented on #7624
@PaarthAgarwal could you point me to where you got those instructions from? The instructions on https://docs.wagtail.org/en/stable/contributing/developing.html#development look quite different, I’d suggest redoing the setup following them (or using the ready-made Docker or Vagrant development setups).

[2022-03-11 17:00] PaarthAgarwal commented on #7624
@thibaudcolas I setup the codebase using these instructions https://docs.wagtail.org/en/stable/contributing/developing.html#development
Then for setting up bakerydemo I used those instruction mentioned here on slack channel https://wagtailcms.slack.com/archives/CTL4SFX29/p1646832761746769

[2022-03-11 17:05] thibaudcolas commented on #8099
@gitkaarma should be all resolved, sorry about that! Please let us know if you encounter further issues like this.

[2022-03-11 17:10] PaarthAgarwal commented on #7624
@thibaudcolas I got the fix.
After making changes to scss files I did npm start. Now the admin page will look like this:

![image](https://user-images.githubusercontent.com/86092410/157914462-072474f8-e447-49cb-9030-e383d93d52ea.png)

[2022-03-11 21:16] thibaudcolas commented on #7624
Nice! 🙌  Those instructions are indeed missing what’s needed to do style and JS changes. Looking forward to your PR!

[2022-03-12 01:13] ParitoshKabra commented on #5989
This issue has two very old PR's active 😅 ? Can i still take up this issue @thibaudcolas @lb- ??

[2022-03-12 05:44] PaarthAgarwal commented on #7624
@thibaudcolas my first PR here #8111! I hope it fixes this issue.

[2022-03-12 09:13] Hitansh-Shah commented on #8107
@lb- I am new to wagtail and I want to become familiar with how it works. I have done mysite tutorial with wagtail. I would like to give this issue a try. Can you assign it to me?

[2022-03-12 10:30] lb- commented on #8107
Hey @Hitansh-Shah - no need to assign this to you, simply get started on it and give it a go.

Please read through these PRs in full (code changes, comments) as they are  previous attempts at this and will help you understand the problem and potential solutions.

- https://github.com/wagtail/wagtail/pull/759
- https://github.com/wagtail/wagtail/pull/6595

It's ok to start small, even a PR that doe

[2022-03-12 10:47] Hitansh-Shah commented on #8107
Thanks @lb- . I will go through the resources you have attached and try to brew something. I will let you know if I am stuck somewhere.

[2022-03-13 03:32] ParitoshKabra commented on #8089
@byshen  I would like to go ahead with this issue as a beginner task 😅

[2022-03-13 07:11] ShwetKhatri2001 commented on #8106
I'm done with the rst-to-myst convertions, now should I still keep the `.rst` files along with `.md` files?
Also any more changes required so that `.md` files can be used on [ documentation website](https://docs.wagtail.org/en/stable/editor_manual/index.html)

[2022-03-13 08:44] PaarthAgarwal commented on #6130
I'd like to work on this issue

[2022-03-13 09:42] lb- commented on #8106
Hey. No need to keep the rst files - otherwise there will be duplicated content in the documentation.

I'd recommend that you prepare a pull request for the changes in this area only to start.

Longer term we do want to migrate all .rst to .md but this is best done in smaller pull requests.

[2022-03-13 10:15] PaarthAgarwal commented on #7994
I am working on it. Also the 15.4 version is releasing today so do we still need fallback for safari?

[2022-03-13 15:37] Dharma-09 commented on #5471
Hi @lb! I'd like to work on this issue.

[2022-03-13 18:07] PaarthAgarwal commented on #7449
I'd like to work on this issue

[2022-03-13 18:13] PaarthAgarwal commented on #6886
I am starting to work on this issue

[2022-03-13 18:32] ShwetKhatri2001 commented on #3248
Hello, I'd like to work on this issue.

[2022-03-13 19:02] zerolab commented on #7449
If there is no related PR, and the issue doesn't have the "Design decision needed" label, then just do it. No need to ask

[2022-03-13 21:03] lb- commented on #3248
@ShwetKhatri2001 go for it - reach out if you need a hand. Remember that unit tests and docs are a must for any pull request.

[2022-03-13 21:04] lb- commented on #5471
@Dharma-09 go for it, reach out if you need a hand.

[2022-03-14 05:46] rd3m commented on #3746
Hi @lb-, I'll have a look at this one. At first glance, it appears the behaviour is the same for documents searching as well. I'll create a PR shortly.

[2022-03-14 10:41] lb- commented on #6886
@PaarthAgarwal here are the docs on how to compile the docs.

https://docs.wagtail.org/en/stable/contributing/developing.html#compiling-the-documentation

Does that help?

[2022-03-14 11:20] PaarthAgarwal commented on #6886
That'll do. Thanks! @lb-

[2022-03-14 15:21] thibaudcolas commented on #8052
PR: https://github.com/wagtail/wagtail/pull/8117

[2022-03-14 17:00] byshen commented on #8089
@lb- could you please have a look? I can help create a PR to fix this if you think this is needed. Thanks!

[2022-03-14 17:22] gasman commented on #8089
Hi @byshen - it's not totally clear to me what problem this is solving. Does it fix a bug, improve performance, make the code simpler, or something else?

[2022-03-14 17:46] byshen commented on #8089
Hi @gasman, the current code logic implies that there should be only one default site. I think we can create a DB constraint to prevent the potential errors of more than one default site. Thanks

[2022-03-14 19:10] gasman commented on #8089
OK, yes, I see - the rule should be enforced at the model / database level, not just in the admin views, so that it doesn't get broken by custom code or data imports (for example). Yes, I'd be happy to see a PR for that - thanks!

[2022-03-14 20:18] byshen commented on #8089
Sure. I will create a PR soon.

Also, could you please take a look at #8088 #8090? These two are similar issues. I can create a PR to fix them in the same PR. Thanks!

[2022-03-14 21:00] dikshashukla455 commented on #6611
Greetings
Can I work on this issue if it is still open?

[2022-03-14 21:43] lb- commented on #6611
Hey @dikshashukla455 - looking at the comments above there is an existing PR open.

https://github.com/wagtail/wagtail/pull/6723

Please read the comments on that PR and the feedback. If you feel confident in picking up that existing branch and creating a new PR from it, go for it, just acknowledge the previous work done in your PR description and also reference the existing PR.

Otherwise it migh

[2022-03-15 00:42] nish-ahmd commented on #8106
Is this issue still exists?

[2022-03-15 01:02] lb- commented on #8106
@nish-ahmd please see the comments and linked pull requests above, a PR is already raised for this issue.

[2022-03-15 03:56] lb- commented on #8106
@nish-ahmd  if you wanted a good candidate for an area of the docs that also needs this conversion, may I suggest you look into the folder `docs/advanced_topics/images` - there are not too many files and most can translate pretty easily to the markdown file.

There is no issue for this raised so simply create a pull request when you are ready, this goes for any parts of the docs, even if you want

[2022-03-15 09:57] amajai commented on #1874
Hello @lb- . I would like to have a shot with this issue.

[2022-03-15 10:15] lb- commented on #1874
@amajai  no need to ask permission, review the comments and the PRs that are linked and give it a go :)

[2022-03-15 11:33] #7994 closed

[2022-03-15 11:33] thibaudcolas commented on #7994
Nice one @PaarthAgarwal 🙌  . Make sure you have Prettier set up for future contributions, it’s much simpler if you can get it to run as part of making the code changes.

[2022-03-15 12:03] thibaudcolas opened #8121 "Code cleanup: remove unneeded text-transform styles from stylesheets"
This is a follow-up to #7624 / #8111, and https://github.com/wagtail/stylelint-config-wagtail/pull/16. Now that our admin UI almost never uses `text-transform: uppercase`, we should:

## Refactor code

- Remove the `text-transform: none`, `text-transform: inherit`, and `text-transform: initial` overrides still present in the stylesheets – which don’t do anything useful anymore.

## Update linting

[2022-03-15 12:07] #7624 closed

[2022-03-15 12:09] thibaudcolas commented on #7624
Thank you @PaarthAgarwal for taking this on! It’s a pretty solid first contribution 😄  I’ve merged #8111, and https://github.com/wagtail/stylelint-config-wagtail/pull/9, and made a new release of our Stylelint configuration.

I have created #8121 as a follow-up task – please let us know if you want to go for it, if not we’ll see if someone else might pick it up.

[2022-03-15 13:43] thibaudcolas opened #8124 "Remove support for Safari 13"
**Only to be done after the May 2022 release’s code freeze**. Follow-up to #8051 – after raising this with @wagtail/ui, we agreed we’d be ok to remove support for Safari 13 a bit earlier than our policy normally mandates, as part of the August 2022 release. For this release, our target Safari support will be versions 14.1 (latest "14" release) and 15.1 (TBC). We’ll thus be able to:

- [ ] Remove a

[2022-03-15 13:53] thibaudcolas opened #8125 "Review (and clean up) over-reliance on inset positioning in styles"
Follow-up to #8051, based on @wagtail/ui team discussions (LB - Thibaud in particular). We have way too many styles reliant on absolute and relative positioning in Wagtail – which we suspect leads to issues with general multilingual support, and RTL support (#7793) in particular.

At this stage, @lb- started reviewing existing usage of this type of positioning, and it would be useful for contribut

[2022-03-15 13:59] thibaudcolas opened #8126 "Review and replace usage of float layouts in admin UI for RTL support"
Follow-up to #8051, based on @wagtail/ui team discussions (LB - Thibaud in particular), and research from @fabienheureux. Wagtail’s admin UI overuses `float`/`clear` for layout. This is problematic for RTL support since there is [no browser support](https://caniuse.com/mdn-css_properties_clear_flow_relative_values) for flow-relative float/clear values. We could technically refactor our usage of fl

[2022-03-15 14:22] thibaudcolas opened #8127 "Implement icons mirroring of directional icons for RTL languages support"
Follow-up to #8051. Part of our push for RTL language support: #7793. We have a lot of icons in the Wagtail admin that are directional (for example an arrow pointing to the right), and would need to be flipped when the admin UI is displayed in a right-to-left language. This is a well-known necessity for RTL support: https://rtlstyling.com/posts/rtl-styling#bidirectional-icons

We need to implement

[2022-03-15 14:38] thibaudcolas commented on #7354
I’ll convert this to GitHub discussions now as I believe we could use more people talking about this, and there isn’t really any one resolution to this. We might end up having a document that clarifies our vision in that respect, or we might just keep it as an informal design principle that you have to learn on the job while working on UI customisations. Even if we did make a document that could "

[2022-03-15 14:54] thibaudcolas commented on #7980
I’ll close this now just because based on our recent discussions we’re happy enough with the options outlined above.

- If anyone still has options to present or feedback on the above choices – please keep posting here. I think this can still be revisited up until the point at which we merge code using any one of those libraries.
- Looks like we _might_ be able to use `accent-color` to style our n

[2022-03-15 14:55] #7980 closed, assigned to thibaudcolas

[2022-03-15 15:15] ParitoshKabra commented on #5851
Is anyone still working on this issue? Can I move on with it @TUSHAR-VERMA-star @lb-  😅 ?

[2022-03-15 15:16] ParitoshKabra commented on #5502
@loicteixeira It seems this issue still persists. Can I work on this?

[2022-03-15 15:50] KalobTaulien commented on #8076
☝️ That's from @gasman - added here for some additional historical context surrounding this issue.

[2022-03-15 19:54] lb- commented on #5502
@ParitoshKabra go for it. No need to ask for permission to work on something.

However, I recommend you first attempt to reproduce the issue on the latest wagtail code and report back on this issue with your findings.

Then, if you feel confident to fix it - go for it.

Please also remember to include unit tests.

[2022-03-15 20:51] gastlich commented on #7666
Follow up on this one.

After doing some debugging I figured out what the culprit is:
https://github.com/django/django/blob/main/django/middleware/cache.py#L101

[code]

Regardless of the decorators' order for Wagtail's `serve` method
[code]
the response.headers look like they have been mutated by `never_cache` already and this would explain, why getting rid of this line:
[code]
makes Memcached ca

[2022-03-16 02:32] KhushiRana2003 commented on #8121
Please Assign this Issue to me.. I want to work on this Issue..

[2022-03-16 06:37] sandilsranasinghe commented on #4732
Is this still open? Can I work on it?

[2022-03-16 08:17] Marmik2003 opened #8134 "Padding Bug in CMS Editor"
<img width="956" alt="Screenshot 2022-03-16 at 13 34 08" src="https://user-images.githubusercontent.com/44599895/158545425-d1b7a764-dc46-41cb-b70b-92583a1be1e3.png">

Search logo is not aligned, also right button and left text is not vertically aligned.

[2022-03-16 08:43] soukainakhalkhouli commented on #8083
hello @JerryLin2022

I'm getting also the same error,
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/71095703/158550518-15ba2fd6-1ef6-4568-85de-778a79f06ba9.png">
 how did you solve it

[2022-03-16 10:32] stevedya opened #8135 "Logo contrast issues on Github dark mode"
### Issue Summary

When using Github on dark mode the wagtail logo contrast on the main README is illegible.

### Steps to Reproduce

1. Switch your Github profile theme to dark mode.
2. View the wagtail repository readme

<img width="1044" alt="Screen Shot 2022-03-16 at 10 16 12 AM" src="https://user-images.githubusercontent.com/25041665/158569904-c129cb5c-01fb-4bfd-bdf7-215f501528b6.png">

### H

[2022-03-16 10:57] thibaudcolas commented on #8134
Hi @Marmik2003, could you take a moment to fill our whole bug report template? Otherwise it’s hard to figure out whether this is an issue with your setup or not. Here is the template:

[code]

[2022-03-16 11:24] sumit-158 commented on #8135
Hi @thibaudcolas Can I work on this?

[2022-03-16 11:31] Marmik2003 commented on #8134
Found a bug? Please fill out the sections below. 👍

### Issue Summary
Search logo is not aligned, also right button and left text is not vertically aligned.

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. create su
3. open cms document section

* I have confirmed that this issue can be reproduced as described on a fresh Wagtail project: yes

### Technical details

[2022-03-16 11:46] thibaudcolas opened #8136 "Implement new page editor header & breadcrumbs"
[Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-2022?node-id=3218%3A31572)

Reference screenshot:

![page-editor-header](https://user-images.githubusercontent.com/877585/158591835-19ca8a0a-49c3-48cf-8c03-91223dccf574.png)

Accessibility annotations (based on an outdated version of our August 2022 release’s design, _not_ current target):

![page-editor-header-accessibility-a

[2022-03-16 12:10] lb- commented on #4732
Go for it @sandilsranasinghe - please be sure to include unit tests with any PR and reach out if you need a hand.

[2022-03-16 12:12] lb- commented on #8121
@KhushiRana2003 thanks for your interest in this issue, however if you look at the linked PRs it appears that https://github.com/wagtail/wagtail/pull/8129 has already been raised to resolve this issue.

[2022-03-16 13:59] thibaudcolas opened #8137 "Implement new page editor tabs"
Next step after #8136. Fixes #5330, and supersedes #5460 once implemented. [Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-2022?node-id=2313%3A67334)

Reference screenshot:

![page-editor-tabs](https://user-images.githubusercontent.com/877585/158607235-1c6ba045-612b-4b2e-bcd7-3af944c3023a.png)

## Tasks

- Create a new template for tabs
- Add Storybook stories as needed
- M

[2022-03-16 14:00] KhushiRana2003 commented on #8121
@lb- Means this issue is already resolved??

[2022-03-16 14:04] thibaudcolas opened #8138 "Visual regression test suite prototype"
Plan: https://docs.google.com/document/d/1SRXjlZ3_f48XGpJrtUaNO80sz_qp_ECAs2p0gFZAO0g/edit?pli=1#heading=h.fugw6yxhc8fc

## Tasks

- [ ] Make prototype on [wagtail-fork](https://github.com/thibaudcolas/wagtail-fork)
- [ ] Review by UI team
- [ ] Run past core team

## Acceptance criteria

## Testing / review plan

UI team review, Scott & Naomi

[2022-03-16 14:05] thibaudcolas opened #8139 "Draftail backlog refinement & implementation plan"
## Tasks

- Review designs
- https://github.com/wagtail/rfcs/pull/46
- Create tickets in Draftail repository & Wagtail

## Testing / review plan

Chat with Jacob. Update RFC for feedback.

[2022-03-16 14:08] thibaudcolas opened #8140 "Implement reusable page editor side panel UI component"
This brand new component will be reused by the various side panels available to the right of the page editor. This ticket is only about the UI implementation of the generic component, not individual panels [Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-2022?node-id=378%3A370)

Reference screenshot:

![page-editor-side-panels](https://user-images.githubusercontent.com/87758

[2022-03-16 14:22] thibaudcolas opened #8141 "Info side panel: page status"
This brand new component will be reused within the info side panel. Its implementation needs to match the designs, and also follow the existing logic of the "status tag" and related header information within the page editor – which might not be fully replicated in the designs. [Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-2022?node-id=1895%3A27676)

Reference screenshot:

[2022-03-16 14:26] thibaudcolas opened #8142 "Info side panel: page locale"
See also #8141. This brand new component will be reused within the info side panel. Its implementation needs to match the designs, and also follow the existing logic of the page locales within the header area of the page editor – which might not be fully replicated in the designs. [Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-2022?node-id=1895%3A27676)

Reference screensh

[2022-03-16 14:29] thibaudcolas opened #8143 "Info side panel: page locking"
See also #8141. This brand new component will be reused within the info side panel. Its implementation needs to match the designs, and also follow the existing logic of the page locking within the header area of the page editor – which might not be fully replicated in the designs. [Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-2022?node-id=1895%3A27676)

Reference screensh

[2022-03-16 14:33] thibaudcolas opened #8144 "Info side panel: page visibility / privacy"
See also #8141. This brand new component will be reused within the info side panel. Its implementation needs to match the designs, and also follow the existing logic of the page visibility / privacy within the header area of the page editor – which might not be fully replicated in the designs. [Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-2022?node-id=1895%3A27676)

Refer

[2022-03-16 14:40] thibaudcolas opened #8145 "Implement page editor’s info side panel"
Depends on #8136, #8140, #8065. This brand new component will replace information that used to be present in the page’s header, and under the Settings tab. Its implementation needs to match the designs, and replicate logic which might not be there in the designs. [Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-2022?node-id=1895%3A27676)

## Reference screenshot

![info-side

[2022-03-16 14:54] thibaudcolas opened #8146 "Implement new page editor’s History panel"
This is a follow-up to the Page editor 222 project (#7739), which we aren’t intending to implement at this time, and is ready to pick up based on our designs. Implementation depends on completion of: #8136 and #8140. This will likely be much easier to tackle after #8145 has been implemented as well.

[Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-2022?node-id=378%3A370)

#

[2022-03-16 14:56] thibaudcolas opened #8147 "Implement new Comments side panel styles"
Implementation depends on completion of: #8136 and #8140. This will likely be much easier to tackle after #8145 has been implemented as well. Potentially worth picking up at the same time #7121.

[Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-2022?node-id=360%3A198)

## Reference screenshot

![comments-side-panel](https://user-images.githubusercontent.com/877585/158621015-

[2022-03-16 15:14] thibaudcolas opened #8148 "Implement Live preview side panel"
Implementation depends on completion of: #8136 and #8140. This will likely be much easier to tackle after #8145 has been implemented as well.

[Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-2022?node-id=441%3A7329)

## Reference screenshot

![live-preview-panel](https://user-images.githubusercontent.com/877585/158622585-d8435670-992a-4176-a9f0-a32ea789f3eb.png)

## Expecte

[2022-03-16 18:03] brylie opened #8150 "Allow specifying target when adding link in RichText editor"
Our content manager is used to adding a `target="blank"` attribute in the Drupal CKEditor. Now that we are migrating to Wagtail, they are concerned about losing the ability to specify the target.

![image](https://user-images.githubusercontent.com/17307/158657343-196d64da-5c5a-4da8-86fc-ec55e7b6ddc6.png)

## Feature

Allow users to specify the target when creating a link in the rich text editor.

[2022-03-16 18:08] #8150 closed

[2022-03-16 18:09] brylie commented on #8150
Ah, sorry for the duplicate. :-)

[2022-03-16 18:55] PaarthAgarwal commented on #8135
I noticed earlier that dark mode reduced wagtail logo's visibility, but it never occurred that GitHub has a great fix.

[2022-03-16 19:18] marycklein commented on #1167
I would like to be able to differentiate between "internal" target pages and "external" target pages when I'm using the rich text editor. I have a consistent practice regarding that on "our old (current)" website in Drupal. Speaking from the POV of an end user.
Also:
https://uxmovement.com/navigation/why-external-links-should-open-in-new-tabs/

[2022-03-16 21:25] byshen commented on #8090
@gasman Could you help take a look? This is similar to #8089. I can create a PR to fix this. Thanks

[2022-03-16 21:26] byshen commented on #8088
@gasman Could you help take a look? This is similar to #8089. I can create a PR to fix if needed. Thanks

[2022-03-16 22:21] #8135 closed

[2022-03-16 22:25] lb- commented on #3001
I think the newline approach could be good, means this field is a text area instead of a single line.
However, we need to think of existing implementations that use commas.

The backwards compatible approach would be to allow both to exist (as per the implementation above).

Marking this as a good first issue.

[2022-03-16 22:27] lb- commented on #3183
Marking this as a good first issue.

* wagtail/images/models.py contains the `AbstractRendition`
* create & document a new images setting `WAGTAILIMAGES_RENDITION_STORAGE` in docs/reference/settings.rst
* Needs unit tests

[2022-03-16 22:28] lb- commented on #3998
Updating tags, not sure that this is a small one as it will require some reworking of the JS streamfield code

[2022-03-17 05:51] eevelweezel commented on #3183
Submitted https://github.com/wagtail/wagtail/pull/8155

[2022-03-17 06:32] PaarthAgarwal commented on #5176
I'll try fixing it.

[2022-03-17 10:38] wimfeijen opened #8159 "Searching documentation returns no results for pinned versions"
Searching the Wagtail documentation regularly returns no results, while it should.

For example, when I search on image, I get no results.

https://docs.wagtail.org/en/v2.16.1/search.html?q=image#

I am using Firefox 98.0.1 as a browser
![Screenshot 2022-03-17 at 11 37 38](https://user-images.githubusercontent.com/68889/158791746-76b0627e-4a29-467f-8165-5bb4074b8818.jpg)
.

[2022-03-17 10:48] lb- commented on #8159
Yeah, looks like the search does not work for versions but it does for stable/latest

* ✅  https://docs.wagtail.org/en/latest/search.html?q=image#
* ✅ https://docs.wagtail.org/en/stable/search.html?q=image#
* ❌ https://docs.wagtail.org/en/v2.16.1/search.html?q=image#
* ❌ https://docs.wagtail.org/en/v2.15.4/search.html?q=image#

Not sure if it is a limitation of our usage of read the docs?

Also, i

[2022-03-17 10:56] PaarthAgarwal commented on #6886
I have made changes as suggested by @thibaudcolas. Also to maintain consistency in UI I have modified docs pagination nav style to be consistent with that of wagtail admin's. It will look like this:
![image](https://user-images.githubusercontent.com/86092410/158794063-dbb45e9e-98f1-4502-953f-493caa57f007.png)

[2022-03-17 11:38] mixxorz commented on #8012
Hiya. I'm not sure if this could be in scope but it would be awesome if we could remove the `import *` statements in [`blocks/__init__.py`](https://github.com/wagtail/wagtail/blob/main/wagtail/core/blocks/__init__.py) and replace them with explicit imports.

The `import *` statements make static analysis tools mad when importing from `wagtail.core.blocks`. e.g.

![Screen Shot 2022-03-17 at 7 29 52

[2022-03-17 12:46] Hitansh-Shah commented on #8107
Hey @lb- , so I looked into the resources and the requirements of this issue. So I am just confirming what I understood so far and what I am planning to do. For regenerating the renditions I will just loop through all the renditions and for each rendition I will use the `get_rendition` method on `rendition.image` with `rendition.filter` as the parameter (all of this in the command function obvious

[2022-03-17 13:02] SuryanshBisht commented on #8043
I would like to work on this issue to get started with contributing to wagtail

[2022-03-17 15:27] KalobTaulien opened #8160 "Logo in README can't be fully seen"
![image](https://user-images.githubusercontent.com/4743971/158834123-154586c2-5171-485a-bcc1-b195f5bd9f7e.png)

![image](https://user-images.githubusercontent.com/4743971/158834256-408ed52d-0d6e-4d1d-9387-23f24dfc7456.png)

The new logo works for GitHub's dark mode, but not with GitHub's light mode.

We may want to create a new logo with our own background color rather than using a transparent bac

[2022-03-17 15:32] sandilsranasinghe commented on #4732
Just a couple of questions, is it okay to add a new default argument to ChildRelationComparison init method? Also should I add new unit tests to test_compare or test_edit_handlers if changing the `InlinePanel.get_comparison` method?

[2022-03-17 15:35] PaarthAgarwal commented on #8160
It is working fine for me @KalobTaulien
Tested on: edge browser (windows and linux)
Demo:
https://user-images.githubusercontent.com/86092410/158835863-57bebe7f-fcdb-4775-bfa0-d533fb1e512d.mp4

[2022-03-17 18:36] jlchilders11 opened #8162 "Namespace Wagtail Management Commands"
### Is your proposal related to a problem?

Currently, wagtail management commands use generic command names, such as `update_index`. While this is fine for simple projects, or projects where wagtail is the only package in play, it causes conflicts in some instances. In particular, `update_index` is also used in the package haystack, completely breaking its indexing functionality if they are added

[2022-03-17 18:42] gasman commented on #8162
`update_index` is aliased as `wagtail_update_index` for this reason: https://docs.wagtail.org/en/stable/reference/management_commands.html#wagtail-update-index . I don't think there's ever a situation where resolving the conflict is impossible - in the worst case you can insert an app at the top of INSTALLED_APPS that does nothing but import the command modules under your desired alternative alias

[2022-03-17 19:11] lb- commented on #8160
@KalobTaulien what browser are you using?

I also tested this when merging and have tested again now and it worked for my on my phone and desktop browsers.

![Screenshot_20220318-050954](https://user-images.githubusercontent.com/1396140/158878129-77fe405b-14fc-40e4-8166-49e68a4113db.png)

[2022-03-17 19:12] amrht commented on #8160
Logo is not getting changed in dark mode, I  am proposing that we should use logo with our own background.
![Screenshot (60)](https://user-images.githubusercontent.com/73494006/158878293-51d461d5-d7d0-479a-ad00-d775e21e4df6.png)

[2022-03-17 19:26] devraj4522 commented on #8043
Hi, Can you please guide me how can I start working on it?

[2022-03-17 19:28] lb- commented on #8160
Odd. That screenshot is showing the opposite issue.

Here is the PR for reference https://github.com/wagtail/wagtail/pull/8151
And the original issue https://github.com/wagtail/wagtail/issues/8135

[2022-03-17 19:46] PaarthAgarwal commented on #8160
This issue can also be caused if one chooses dark variants in the Dag theme(recognized as light) or light variants in Night theme(recognized as dark) in the GitHub appearances tab.
Like these:
![image](https://user-images.githubusercontent.com/86092410/158882814-575d6d7a-f72d-4075-b499-c8592bb4ee09.png)
Though its an odd usage case still you can replicate the buggy behavior by trying those variant

[2022-03-17 21:17] thibaudcolas commented on #8043
@SuryanshBisht cool! Please let me know if you have questions.

@devraj4522 looks like this is already taken.

[2022-03-18 03:39] cjoshmartin commented on #4127
Hello y'all I was looking for answer for days but I found it here:
https://docs.wagtail.org/en/stable/topics/writing_templates.html#responsive-embeds

for some reason it did not show up on google 🤔

Short of it is:

1. in your base settings file at this `WAGTAILEMBEDS_RESPONSIVE_HTML = True`
2. In the theme you are using the embedd with add these styles:
[code]

[2022-03-18 04:47] TWOC-WHT commented on #5580
[Sharing more info of our use case](https://wagtailcms.slack.com/archives/C80KTJKKM/p1644313904861229) of Draftail customisation.

One of these is using a slightly modified version of the word count:

- Our contents are dual language (Chinese and English), and in Chinese, one characters equals to one word (so we need to extend the default counting via space between words)
- In addition to that we

[2022-03-18 07:03] andyi95 commented on #7255
Well, personally I found out a workaround overriding the save method of the page model:

[code]

[2022-03-18 07:40] lb- commented on #4732
@sandilsranasinghe
The default Arg should be ok - if it can be done in a way that won't break existing usage without it.

Good call on adding those extra unit tests.

Thanks

[2022-03-18 07:45] lb- commented on #8107
That makes sense and appears to summarise correctly @Hitansh-Shah

As noted above, feel free to start with a simple version of this that simply purges (deletes) renditions (even if that means a different name is needed.

Please also namespace the command. `wagtail_update_image_renditions`

See https://github.com/wagtail/wagtail/issues/8162 for context

[2022-03-18 12:03] enzedonline commented on #1167
@marycklein I ended up using a JQuery solution which does exactly as needed:

[code]
You can amend it to whichever protocols you want, and load it only on those page types you want or site-wide as needed.

Personally, I think the 'External Link' in draft-tail is misnamed as it presumes URL links would only be pointing off-site and not to any local non-Wagtail resource.

[2022-03-18 12:33] #3746 closed

[2022-03-18 12:56] lb- commented on #956
closing as the code this relates to was for the old style (pre Django 1.10 `MIDDLEWARE_CLASSES` setting).

This has since been deprecated https://docs.djangoproject.com/en/dev/releases/1.10/#new-style-middleware and Wagtail code no longer has this code anywhere.

[2022-03-18 12:56] #956 closed

[2022-03-18 13:00] lb- commented on #1220
There is a documentation guide on using a separate `Tag` model for separate use cases, not a solution for the issue but good to know.

https://docs.wagtail.org/en/stable/reference/pages/model_recipes.html?highlight=tags#tagging

[2022-03-18 13:11] lb- commented on #1220
I have updated the description, I recommend we approach this as a documentation solution first and then in the future if this feature is requested it could become part of the core code.

Tagging (pun intended) as a good first issue and documentation.

[2022-03-18 13:15] lb- commented on #1267
Older issue but a potential candidate for a management command?

Flagging as a good first issue to implement this approach based on the code snippet above, documentation could also be included in the embeds for this.

We already flag that you may want to delete embeds if you change something here https://docs.wagtail.org/en/stable/advanced_topics/embeds.html#deleting-embeds

So that would be a goo

[2022-03-18 13:40] nutjob4life commented on #7920
FYI, I tried dropping in OpenSearch in place of Elasticsearch, but get:
[code]

[2022-03-18 14:37] PaarthAgarwal commented on #8121
Need a review on #8129.

[2022-03-18 14:38] PaarthAgarwal commented on #1267
Working on it.

[2022-03-18 15:04] devraj4522 commented on #8043
Ok, I am looking for other issues, I want to pick a starting point to understand the codebase.

[2022-03-18 18:57] gastlich commented on #7666
More I look into this issue more I think it should be published on the Django project, rather than here. It relates to combining a simple decorator with the decorator, which was dynamically constructed based on a middleware class.

I've also implemented a simple workaround this issue:
[code]

It reuses `decorator_from_middleware` function and creates a new `never_cache` decorator, which is going t

[2022-03-18 18:57] #7666 closed

[2022-03-18 19:09] marycklein commented on #1167
Thank-you for this quick reply!

It will be good to have this flexibility and I appreciate your sharing this.

Not a technical person, I read a bit more after raising this concern, and realize better now that we will need to put some careful thought into our own “house rules” about how we apply this.

Thanks again!

Best,
Mary

Mary Klein
Editor / Executive Director

Western Friend
2625 Middlefiel

[2022-03-18 19:37] hazho opened #8168 "get_extra_restriction() missing 1 required positional argument: 'remote_alias'"
On one of the project..
while an admin **searching for something**, the "Internal Server Error"  appears, after investigating for a while, it turns out that the
/wagtail/contrib/postgres_search/models.py L:18 is expecting some thing form the DB, but not getting any

* Python version: 3.9
* Django version: 4.0.1
* Wagtail version: 2.15.1 (not tested on other versions)

[2022-03-18 19:45] gasman commented on #8168
Hi @hazho,
Sorry, there's not enough detail here for us to investigate this as a bug. Please try to reproduce this on a fresh Wagtail installation, and open a new bug report filling in the full issue template.

[2022-03-18 19:45] #8168 closed

[2022-03-18 20:11] lb- commented on #7666
Thanks @gastlich  - if you do end up raising this in Django's ticketing system please put a link back here on this issue in a comment in case others find this on google or a similar issue gets raised again.

[2022-03-18 20:50] lb- commented on #3183
Here is the documentation on the `storage` param for `FileField`
https://docs.djangoproject.com/en/4.0/ref/models/fields/#django.db.models.FileField.storage

Here is more info about Django file storage
https://docs.djangoproject.com/en/4.0/topics/files/#file-storage

Rough implementation

[code]

See Django FileField implementation for more details if needed https://github.com/django/django/blob/s

[2022-03-18 21:27] lb- commented on #3589
Update - this likely still exists and file content has moved to

`https://github.com/wagtail/wagtail/blob/main/wagtail/images/signal_handlers.py`
https://github.com/wagtail/wagtail/blob/main/wagtail/images/signal_handlers.py

[code]

See https://docs.djangoproject.com/en/4.0/ref/signals/#pre-save for `raw`

Flagging as good first issue, best to start with unit tests on this and then work towards s

[2022-03-18 21:31] lb- commented on #4205
Have not reproduced myself but looks like a bug.

Looks like this is still the case `wagtail/api/v2/views.py`
`get_body_fields` used via `PagesAPIViewSet` appears to get the class definitions, not the specific model definitions for methods

Needs further digging though so marked as unconfirmed.

[2022-03-19 00:11] lb- commented on #8077
Marking as enhancement as embed URLs can easily be customised.

[2022-03-19 02:50] eevelweezel commented on #3183
I agree, this setting makes more sense as a custom storage object vs. a path.  PR is updated.

[2022-03-19 04:14] PaarthAgarwal commented on #8016
@lb so should we remove these lines from normalize.css or add an override?

[2022-03-19 04:21] PaarthAgarwal commented on #8134
I noticed the search logo misalignment as well but I didn't understand what you mean by "right button" and "left text". Please explain.

[2022-03-19 05:07] pawan941394 commented on #3544
hii @thibaudcolas can i work on this issuse.

[2022-03-19 05:18] pawan941394 commented on #7918
sir can i work on this

[2022-03-19 05:19] pawan941394 commented on #8145
sir can i work on this

[2022-03-19 06:32] Marmik2003 commented on #8134
<img width="801" alt="image" src="https://user-images.githubusercontent.com/44599895/159110274-913736d8-6130-48fc-b4cd-37ed8ec06977.png">
They are not vertically aligned to center, also below width of 800px, the plus icon seems ugly

[2022-03-19 07:00] PaarthAgarwal commented on #8134
We should fix the plus icon indeed. The search logo needs some validation if it should be kept like this or aligned with the text.

[2022-03-19 07:10] Marmik2003 commented on #8134
I'll fix it

[2022-03-19 08:16] Marmik2003 commented on #8134
<img width="800" alt="image" src="https://user-images.githubusercontent.com/44599895/159113363-3366b64b-9301-4405-bbd2-01fd5546acef.png">
fixed

[2022-03-19 09:19] amrht commented on #8160
In my browser, Logo is not changing in any variant. Also, tried extensions and github settings both, but it is same.

[2022-03-19 09:27] PaarthAgarwal commented on #8160
@amrht which browser are you using?

[2022-03-19 09:27] lb- commented on #8160
I think we may need to revert the change. Or explore an image that works on both.

Maybe not a full background but more like a white glow that sits behind the original logo. So in dark mode it is readable.

Also - the logo structure as is will cause issues in PyPi

[2022-03-19 09:30] amrht commented on #8160
I think We should use a logo with our own background as mentioned earlier by someone, it will be better for now.

[2022-03-19 09:34] amrht commented on #8160
@PaarthAgarwal Chrome Version 99.0.4844.74 (Official Build) (64-bit)

[2022-03-19 09:37] lb- commented on #8016
I am pretty sure that will work, please do some research though - maybe some browsers still set this font and hence an override is still needed. The override could be inherit maybe.

Also, it's possible that the normalize CSS will be removed in the near future. However, it's probably still good to fix this in case that does not happen for the next release.

[2022-03-19 10:12] PaarthAgarwal commented on #8016
Sure. I'll do

[2022-03-19 14:07] onno-timmerman opened #8173 "max_count_per_parent = 1"
If you have a child page with in the model max_count_per_parent=1  the purpose is that only 1 of this type can exist for that parent. However the user is still gets a button create child page. If you click on it you enter a screen saying:

"Choose what type of page you want to make"

It would be nice that the user get message that he can't make an extra page.

<img width="409" alt="Wagtail - Maak

[2022-03-19 18:44] sandilsranasinghe commented on #1127
Shall I take a look at this? Is there anything that should be specifically included in the error message?

[2022-03-20 07:17] Hitansh-Shah opened #8176 "Support for arguments to "make format" and "make lint""
### Is your proposal related to a problem?

When running `make lint` or `make format`, one may want to target only python-files/html-templates and skip the node stuff and also vice-versa

### Describe the solution you'd like

Add support for  arguments like `--server-only` and `--static-only` to `make format` and `make lint`. This way the command will only target files according to the arguments.

[2022-03-20 07:21] Hitansh-Shah commented on #8176
@lb- I can work on this issue.

[2022-03-20 07:39] lb- commented on #8176
Go for it. However can we use --client-only as static could be a bit confusing

[2022-03-20 10:24] gastlich commented on #7666
Cross-linking Django issue:
https://code.djangoproject.com/ticket/33588#ticket

[2022-03-20 16:20] amajai commented on #3001
@lb- Started working on it. Should I include the feature of separating the value and label with a pipe character?

[2022-03-20 17:14] talkshrey commented on #8134
Has the issue been fixed and closed or can it be assigned to me?

[2022-03-20 18:55] amajai commented on #3001
Nevermind. I'll just focus on the newline approach only.

[2022-03-20 21:40] lb- commented on #3001
@amajai good call, newline only is a good way to go for now. We can always add more complexity if needed later. Plus it keeps the scope of the PR simpler.

Remember to add docs, unit tests please.

[2022-03-20 21:44] lb- commented on #8134
I cannot see a PR up yet linked to this issue so go for it @talkshrey

@Marmik2003 when you say 'fixed' in the comment above, what did you mean? Do you have some rough CSS you can put in a comment that fixed it.

[2022-03-20 22:32] lb- opened #8180 "Form builder - ability to archive (trash/hide) form submissions"
### Is your proposal related to a problem?

* The form builder feature is an incredible part of Wagtail that allows for easy to build (by users) forms.
* When a form submission is received, often this gets processed (e.g. contact form) by a team or 'actioned', at this point the submission can be deleted but this means it is gone forever.
* The problem is that it would be good to have an 'archive'

[2022-03-20 22:41] lb- commented on #4289
Been a long time since this was requested.

It looks like this will be a large change and could break a lot of existing URL usages, I personally think this would be worth exploring but needs some wider core team agreement.

I did a bit of a test, adding `wagtail/admin/urls/__init__.py` and it broke many things.
[code]

[2022-03-20 22:44] lb- commented on #4289
@kaedroho not sure if this is just too huge a change but pinging to you in the context of

https://github.com/wagtail/rfcs/pull/74

[2022-03-21 00:01] lb- commented on #8176
Suggested approach https://github.com/wagtail/wagtail/pull/8177#issuecomment-1073244337

Note: We would want to do the same for format, so `format-server` and `format-client` would be needed.

[2022-03-21 02:08] Marmik2003 commented on #8134
Will create a PR today.

On Mon, Mar 21, 2022, 3:14 AM LB (Ben Johnston) ***@***.***>
wrote:

[2022-03-21 08:35] rd3m commented on #3589
I'll have a look at this one.

[2022-03-21 09:25] Marmik2003 commented on #8134
<img width="689" alt="image" src="https://user-images.githubusercontent.com/44599895/159233709-418904f4-5aaa-4d6c-badf-ae6f8b6c5886.png">

I have  written this code to solve this issue, but it is showing max nesting depth error while running test because of media queries.
`Expected nesting depth to be no more than 3  max-nesting-depth `

Any idea to solve this?

[2022-03-21 09:38] lb- commented on #4386
Would be good to get an update if this can still be reproduced after Wagtail 2.4.
Flagging as bug but unconfirmed

[2022-03-21 09:56] lb- commented on #3606
This original issue has been resolved as of Wagtail 2.15 (bulk actions) for  Images & Documents
https://docs.wagtail.org/en/stable/releases/2.15.html#bulk-actions

Steps
1. Load up the Images page
2. Select the collection
3. Check one image
4. Click the 'all' checkbox in the UI that appears at the bottom
5. Select 'all images in this listing'
6. Click delete
7. Confirm delete (listing shown)

<img

[2022-03-21 09:56] #3606 closed

[2022-03-21 10:10] lb- opened #8182 "Implement bulk actions for form submissions / responses - form builder"
### Is your proposal related to a problem?

* [Bulk actions](https://docs.wagtail.org/en/stable/releases/2.15.html#bulk-actions) was released in Wagtail 2.15
* This supports Page, User, Image and Document models
* However, it would be great to have this also support Form Responses
* Initially this would be a layout change to match other content, however the main benefit is extending behaviour thro

[2022-03-21 10:10] lb- opened #8183 "Implement bulk actions for snippet listings"
### Is your proposal related to a problem?

* [Bulk actions](https://docs.wagtail.org/en/stable/releases/2.15.html#bulk-actions) was released in Wagtail 2.15
* This supports Page, User, Image and Document models
* However, it would be great to have this also support Snippet listings
* Initially this would be a layout change to match other content, however the main benefit is extending behaviour th

[2022-03-21 10:16] PaarthAgarwal commented on #8182
I'll give it a shot

[2022-03-21 12:00] RealOrangeOne opened #8185 "Possible to upload an image I would not be able to choose"
### Issue Summary

When using a custom chooser queryset (`construct_image_chooser_queryset`) to constrain what images a user may be able to select (eg constrained by a custom field on a custom model, which is set through a different process), these images are excluded from the chooser correctly.

However, if an image is uploaded which matches the criteria to be excluded, it will still be uploaded

[2022-03-21 12:09] gasman commented on #8185
I'd question whether this is really a Wagtail bug, since it boils down to "it's possible to do things in hooks that aren't logically consistent with the rest of Wagtail's business rules", and that's pretty much a given.

[2022-03-21 13:05] MarkBird opened #8187 "Bulk publishing is broken for pages without revisions"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

The bug is in `wagtail.admin.views.pages.bulk_actions.publish.py` in `execute_action`:

`for page in objects:
            page.get_latest_revision().publish(user=user)`

If a page doesn't have any revisions, get_latest_revision() returns None and you get a `'NoneType' object has no attribute 'publish'` error.

### Steps to Repr

[2022-03-21 15:09] Scotchester commented on #8016
@PaarthAgarwal, LB was right that just removing the rule doesn't fix it in all browsers. In Firefox, at least, the default browser style sets it to `system-ui`, resulting in a different incorrect font (San Franscisco, instead of Helvetica, on macOS Big Sur 11.6.4). I tested out the idea of using the `inherit` keyword and that seems to work well.

[2022-03-21 15:16] PaarthAgarwal commented on #8134
Unable to replicate the mentioned behavior for the plus icon in the top right corner.
The plus icon appears normal to me as shown in your https://github.com/wagtail/wagtail/issues/8134#issue-1170683870.

[2022-03-21 15:25] PaarthAgarwal commented on #8016
Thanks for the heads up @Scotchester.  I'll try it out as well.

[2022-03-21 17:28] talkshrey commented on #7986
Can I be assigned to this issue?

[2022-03-21 20:54] lb- commented on #8185
I put some comments on the PR but it might be good to note that Wagtail generic chooser also gives lots of control over the modal content and may be a good solution here.

https://github.com/wagtail/wagtail-generic-chooser

[2022-03-21 21:06] lb- commented on #7986
https://github.com/johnsensible/django-sendfile/issues/74

[2022-03-21 22:13] lb- commented on #8121
Resolved via https://github.com/wagtail/wagtail/pull/8129

[2022-03-21 22:13] #8121 closed

[2022-03-22 01:11] jsma commented on #8036
I was able to reproduce this, but it does appear to be the same issue as #8004 and can probably be closed again.

@aliceni81 can you check again and look at the Django debug server output? This was the only place I noticed the error, e.g.:

[code]

[2022-03-22 09:51] lb- commented on #1127
Nothing specific I can think of, have a read of the messages in the linked file above `wagtail/admin/checks.py` and base the messaging off that.

[2022-03-22 11:05] gasman opened #8190 "Privacy option radio buttons display horizontally under Django 4.0"
The radio buttons in the Page Privacy modal are laid out horizontally when running under Django 4.0.3, where previously they were arranged vertically. (I think I've seen similar glitches in other places where radio buttons / checkboxes are used - e.g. m2m relations in the page edit form - although I don't have any examples to hand)

Under Django 3.2.12:
![Screenshot 2022-03-22 at 10 49 00](https:/

[2022-03-22 17:03] talkshrey commented on #8173
I have made the changes in the code. Hope it solves the issue. Feel free to check out the PR.

[2022-03-22 17:08] zerolab commented on #8173
@talkshrey I don't see any PR, though - https://github.com/wagtail/wagtail/pulls/talkshrey

[2022-03-22 17:12] talkshrey commented on #8173
Hi @zerolab, can you check PR #8192. Apologies for the delay!

[2022-03-22 18:04] zerolab commented on #8173
@talkshrey I'm away from computers now, but you should add a test that looks at this specific scenario. This ensures your fix is the right one, but also will help in the future too

[2022-03-22 19:21] talkshrey commented on #8173
@zerolab  thank you for the advice. I am not really confident if the test scenarios will pass, since I am a beginner and learning on how to write test in python. Nevertheless, I will try to add proper tests and ask doubts if required. 😅

[2022-03-22 23:34] gasman commented on #8190
This also shows up on the groups listing on editing a workflow task:

![Screenshot 2022-03-22 at 23 33 04](https://user-images.githubusercontent.com/85097/159593222-63adc480-3e30-4606-b2ac-62ef03cbb268.png)

[2022-03-23 03:27] #7919 closed

[2022-03-23 06:27] PaarthAgarwal commented on #6886
Need a review on #8178.

[2022-03-23 12:04] onno-timmerman opened #8195 "BUG documentation search"
I search something on google, came on wagtail docs. Didn't like what I read and wanted to search the docs via the search field. This gave in all cases 0 results. After a bit testing I noticed that the search not always works from Algolia.

For example if you go to: https://docs.wagtail.org/en/v2.16.1/ the search wil not work
if you go to: https://docs.wagtail.org/en/stable/

the search will work

[2022-03-23 12:17] lb- commented on #8195
Duplicate of https://github.com/wagtail/wagtail/issues/8159

[2022-03-23 12:17] #8195 closed

[2022-03-23 12:17] onno-timmerman opened #8196 "Sidebar with sections and section title's"
I think if you have a larger wagtail side the sidebar gets a bit unclear.
It would be nice if you can organise the wagtail admin sidebar in section. I would like to have like a CMS, MEDIA, EXTRA sections with nice dividers between them. This way the developer can organise and group all items in the sidebar. Currently (maybe I'm mistaken) you can only add items singel or grouped.

Extra section you

[2022-03-23 21:36] lb- commented on #8196
@onno-timmerman thanks for the suggestion.

Could you please add some more detail, we have a 'feature request template' that provides a great way to communicate features.

https://github.com/wagtail/wagtail/blob/main/.github/ISSUE_TEMPLATE/FEATURE_REQUEST.md

For example it would be great to have a small mockup of what you are thinking (a screenshot with anotations), or how this may be implemented

[2022-03-23 22:10] #5471 closed

[2022-03-23 23:29] lb- commented on #3243
Not sure on the technical implementation here but if we are going down the iframe or separate tab path - this library may be useful (even as a reference).

https://github.com/jcubic/sysend.js

[2022-03-24 00:47] easherma commented on #3243
@KalobTaulien also made a version of the side by side preview at some point

[2022-03-24 02:49] Dharma-09 commented on #2601
I will give a start to this

[2022-03-24 02:50] lb- commented on #2601
@Dharma-09 start with the python docstrings and then use the documentation autodoc system - this way we can also see nice docs in the code.

[2022-03-24 03:57] proshee commented on #8190
hello, I'm working on this project please guide me for things to consider while fixing

[2022-03-24 04:01] PaarthAgarwal commented on #8182
@lb-  help to get started on it, please.

[2022-03-24 09:15] zerolab commented on #3243
That would be https://github.com/KalobTaulien/wagtail-livepreview

City of Austin also had a toggle-able preview sidebar - https://github.com/cityofaustin/joplin/search?q=preview

[2022-03-24 09:18] zerolab commented on #8182
@PaarthAgarwal I suggest starting with https://docs.wagtail.org/en/stable/extending/custom_bulk_actions.html

[2022-03-24 10:28] lb- commented on #8190
@proshee assuming you have a development environment up and running, the first step is to reproduce this locally.

Once you can reproduce it you should be able to have one browser open with the 'working' version and another with the 'broken' version.

From here, start exploring the CSS used in the browser inspector to see what could be wrong, my guess this is a DOM structure change (e.g. maybe the

[2022-03-24 11:05] thibaudcolas commented on #2268
Relevant RFC for people interested in this – feedback very welcome: https://github.com/wagtail/rfcs/pull/60#issuecomment-989011931.

[2022-03-24 11:13] lb- commented on #8182
Have a look at how the bulk actions is built for documents, read through all the files in `wagtail/documents/views/bulk_actions` and `wagtail/admin/templates/wagtailadmin/bulk_actions` to get a feel for the code and the templates used.

[2022-03-24 11:20] lb- commented on #8089
Update: it appears that constraints with the `condition` is not supported in some DBs

https://docs.djangoproject.com/en/dev/ref/models/indexes/#condition

For now I will flag this as a optimisation as I think this is not really a bug, we could still add the DB logic and know it will not be supported in some DBs but as per comment https://github.com/wagtail/wagtail/pull/8152#issuecomment-107751603

[2022-03-24 11:21] lb- commented on #8088
See https://github.com/wagtail/wagtail/issues/8089#issuecomment-1077518164 - due to limited DB support, flagging this as an optimisation for now and not a bug.

[2022-03-24 11:21] lb- commented on #8090
See https://github.com/wagtail/wagtail/issues/8089#issuecomment-1077518164 - due to limited DB support, flagging this as an optimisation for now and not a bug.

[2022-03-24 12:33] lb- opened #8199 "Ability to add data attributes to main menu (sidebar) items"
### Is your proposal related to a problem?

- Wagtail 2.16 introduced a new sidebar (main menu) architecture based on React, the interaction of this menu is much nicer however this also meant that support was dropped for arbitrary html and element attributes on link items.
- This has created a problem where I'd you want to leverage the menu system (e.g. hooks) to do much more than a different URL

[2022-03-24 15:19] jams2 opened #8200 "FormField.clean_name is not updated when FormField.label changes"
### Issue Summary

`FormField.clean_name` is populated when a `FormField` instance is first saved, but not on subsequent updates. As the `clean_name` value is a function of `FormField.label`, this is unintuitive - my expectation is that the `clean_name` would be updated correspondingly.

### Steps to Reproduce

1. Create a new Form builder page
2. Add a form field to the page and save
3. Edit the

[2022-03-24 15:27] gasman commented on #8200
Hi @jams2,
Form submission data is stored as a JSON dict, with the keys being the `clean_name` - so if we were to update the clean name on any changes to the label, that would invalidate any previously submitted data.

[2022-03-24 15:27] #8200 closed

[2022-03-24 20:15] lb- commented on #8190
@proshee I do not think adding br elements would be a good solution here.
As noted in the comment above, once you open the inspector the viewport width changes and it shows correctly.

This leans me more towards thinking this is a css issue.

I vaguely recall a change to the code to allow radios / checkboxes to go to one line if space is available. Trying to find the PR but maybe that could be the

[2022-03-24 20:38] tbrlpld commented on #8080
@TheoChevalier I am having a hard time piecing the reproduction steps together between all the different PRs and issues mentioned in the chain here. Could you add the exact steps you are taking to reproduce? Also, are you able to reproduce this in Wagtail Bakery?

[2022-03-25 05:26] proshee commented on #8190
<img width="1440" alt="Screenshot 2022-03-25 at 10 55 26 AM" src="https://user-images.githubusercontent.com/96814072/160059917-00b5151f-e4b0-4c6e-8624-6b8a8a2e01d1.png">

adding br was the wrong idea, i fixed this by fixing CSS

[2022-03-25 05:28] proshee commented on #8190
<img width="1440" alt="Screenshot 2022-03-25 at 10 57 41 AM" src="https://user-images.githubusercontent.com/96814072/160060126-30a5a742-42c4-41e9-afa0-c8065f7fb448.png">
![Uploading Screenshot 2022-03-25 at 10.57.39 AM.png…]()

[2022-03-25 05:32] proshee commented on #8190
<img width="1440" alt="Screenshot 2022-03-25 at 10 57 39 AM" src="https://user-images.githubusercontent.com/96814072/160060208-a2cc6e5b-48b5-4b34-a5ed-a0b2cea134cc.png"

[2022-03-25 09:22] zerolab commented on #8134
related #[7863](https://github.com/wagtail/wagtail/issues/7863)

[2022-03-25 10:29] aliceni81 commented on #8036
@jsma This issue can be reproduced without defining parent_page_types in the Page class. I still cannot find any error in console with debug mode on.

[2022-03-25 10:32] aliceni81 commented on #8037
@thibaudcolas Actually its not only important for redirects, but also for other models shown in Wagtail admin settings, like users, groups, sites and so on.

[2022-03-25 12:09] engineervix commented on #4541
Looks like this is now possible, beginning from Wagtail 2.15. Here are some relevant links:

- [Wagtail 2.15 Release notes](https://docs.wagtail.org/en/latest/releases/2.15.html#audit-logging-for-all-models)
- [Docs » Extending Wagtail » Audit log » Log models](https://docs.wagtail.org/en/stable/extending/audit_log.html#log-models)

[2022-03-25 12:16] gasman commented on #4541
@engineervix Good spot! Closing as completed in #7550.

[2022-03-25 12:16] #4541 closed

[2022-03-25 13:27] thibaudcolas commented on #7918
@pawan941394 you can see in the top right of this page, "Assignees" says @stevedya is already assigned to this issue.

[2022-03-25 13:30] thibaudcolas commented on #5989
@ParitoshKabra as you’ve noticed this has already been assigned to someone and there is a PR awaiting review, so no.

[2022-03-25 13:32] thibaudcolas commented on #8043
@SuryanshBisht how are you getting on with this?

[2022-03-25 16:01] jessemenn opened #8206 "When moving pages, no option to move to root"
### Issue Summary

2.16.1 seems to have changed how pages are moved. If a site has Pages A/B/C/D nested in that mmanner, when trying to move Page D, only Page C will be available, not A or B or Root. I'm adding an animated gif.

![move-to-root](https://user-images.githubusercontent.com/1834167/160155978-92b207bd-f860-408e-8ab5-04f3a4b6cc78.gif)

### Steps to Reproduce

1. In 2.16.1, try to move a

[2022-03-25 16:26] KalobTaulien commented on #8160
I am using Chrome as well.

There are two scenarios:
1. When my OS is set to "light mode", it shows the black logo and works as expected.
2. When my OS is set to "dark mode", it shows the white logo as expected. But when I'm signed into GitHub using light mode, it shows up with the white logo on a white background.

[2022-03-25 20:54] vupham04 commented on #8038
Hi, because @Nawarrr hasn't commented in 2 weeks, so I have worked on this issue and come up with a solution.

1. About the tests, I'm thinking about editing a Model in wagtail\test\modeladmintest\wagtail_hooks.py to include base_url_path, and then in wagtail\contrib\modeladmin\tests\test_modeladmin_edit_handlers.py, in response = self.client.get(...) for the appropriate model, I will edit the URL

[2022-03-26 02:49] aliceni81 commented on #8206
To move to root, you should click the "earth" icon and then select "Root".

![image](https://user-images.githubusercontent.com/81170508/160221968-17a3b6fc-082d-4e12-a811-70dd20a869f8.png)

[2022-03-26 10:03] vupham04 commented on #4564
Hi, because there is no comment, so we just create a pull request that create a ValidationError whenever the length of tag exceeds 100 characters. We think that modifying "A comma separated list of tags" to include a sentence about tag limit character would be a good additional too, but don't know how to do that - it seems that the help_text is taken from the default one of Taggit, so if anyone kn

[2022-03-26 13:42] thibaudcolas commented on #8196
Isn’t this exactly what https://docs.wagtail.org/en/stable/extending/admin_views.html#adding-a-group-of-menu-items makes possible already?

[2022-03-26 13:51] thibaudcolas commented on #8145
@pawan941394 no, this is assigned to @stevedya.

[2022-03-26 13:53] thibaudcolas commented on #3544
@pawan941394 this is assigned to @phildexter as you can see one comment above. Please stop asking to work on things that are already assigned to other people.

[2022-03-26 14:00] thibaudcolas commented on #8176
Sorry to only get to this now but do we really need this? I find the value of the separate commands questionable to start with, and the server/client split doesn’t make much sense to me:

- Are templates server or client?
- Is our Node tooling (webpack configuration) server or client?
- We use Prettier to lint and format YAML files – that’s not really "client"?

@Hitansh-Shah can you further expla

[2022-03-26 14:08] onno-timmerman commented on #8196
No see this example:

When you use hooks a you could add a [ ] some list so you can set the where the menu comes to instead of that number?

<img width="408" alt="Untitled 2022-03-26 15-06-58" src="https://user-images.githubusercontent.com/178425/160243167-edc0fa8f-fdd1-4d09-b4c9-9e72a8814b5f.png">

[2022-03-26 14:44] thibaudcolas opened #8211 "Redundant role="main" for <main> elements"
### Issue Summary

This is a report from experimental automated tests which I have only partly confirmed.

There are a number of `<main>` elements in our template which use redundant `role="main"` attributes. We should remove those redundant attributes to discourage potential misuse of the `role` in other cases.

### Steps to Reproduce

Here are the flagged templates:

[code]

[2022-03-26 14:48] thibaudcolas opened #8212 "Missing lang attribute for <html> elements"
### Issue Summary

This is a report from experimental automated tests which I have only partly confirmed.

There are a number of `<html>` elements in our templates which are missing a `lang` attribute to indicate the page’s language, as well as the `dir` attribute. Here is the full desired definition from our `skeleton.html`:

[code]

### Steps to Reproduce

Here are the flagged templates:

[code]

[2022-03-26 14:55] thibaudcolas opened #8213 "Missing type attribute for <button> elements"
### Issue Summary

This is a report from experimental automated tests which I have only partly confirmed.

There are a number of `<button>` elements in our templates which are missing a `type` attribute to indicate the button’s type – either `button` or `submit`. This attribute is optional, but defaults to `submit`, which can be a source of bugs. As such, we always prefer to systematically add an

[2022-03-26 15:05] Hitansh-Shah commented on #8176
@thibaudcolas The questions about the category of templates, node-tooling etc. are indeed valid, I guess we can't really pin them to a category without a thorough discussion.
It's also true that split is not of that much value and not something you would use on regular intervals. However I proposed this because I was finding it a bit annoying to every time wait for the static files like html/css/j

[2022-03-26 15:22] thibaudcolas opened #8214 "Missing translations in workflow templates"
In those two templates:

[code]

We use the "No" string without having it set up for translations. We need to use `{% trans 'No' %}` instead.

[2022-03-26 15:22] thibaudcolas commented on #8214
Assigning to @fibonacciTrees as a good first issue.

[2022-03-26 15:27] thibaudcolas opened #8215 "Missing translations in listing templates"
In those two templates:

[code]

We use the "Title" string without having it set up for translations. We need to use `{% trans 'Title' %}` instead.

[2022-03-26 15:33] thibaudcolas commented on #8211
Claimed by @laespinoza!

[2022-03-26 15:35] thibaudcolas commented on #8215
Claimed by @stephiescastle!

[2022-03-26 16:09] 0saurabh0 commented on #8213
finally some good first issues.
hey @thibaudcolas i want to work on this, any points for getting started.

[2022-03-26 16:10] thibaudcolas commented on #8213
@0saurabh0 sorry, this is already being worked on by @jessemenn 😕.

[2022-03-26 16:11] jamesray commented on #8212
@thibaudcolas on this one!

[2022-03-26 16:11] 0saurabh0 commented on #8213
guess, i have to pick another one then ??

[2022-03-26 16:21] thibaudcolas opened #8217 "Add trimmed attribute to all blocktrans usage"
Follow-up to #8017. We want to use `trimmed` consistently for all usage of `blocktrans` to avoid HTML spacing issues in translations. This would be valuable to do in existing usage even if it can’t be enforced for the time being, however I’m not sure of how safe this is. We’ll need to research this a bit.

Here is a list of 85 instances of `blocktrans` without `trimmed` I have spotted with experim

[2022-03-26 16:21] thibaudcolas commented on #8217
Assigning to @harrislapiroff to research and potentially make changes for as part of Wagtail Space US 2022 sprint.

[2022-03-26 16:44] #8215 closed

[2022-03-26 17:01] gasman commented on #8176
As someone who's been working on a lot of Python refactoring lately (and, in particular, rebasing PRs that were started before the great wagtail.core module rename), I share @Hitansh-Shah's annoyance about how long the full `make format` takes to run :-) As a data point: on my machine the prettier and eslint steps take 10+ seconds each, while black, isort and djhtml complete in around a second eac

[2022-03-26 21:03] thibaudcolas commented on #8176
This all makes sense to me. If you’re only changing Python files though, wouldn’t you prefer to only run Python linting and not check the templates at all? Curlylint is pretty slow, for questionable value outside of CI.

I don’t think Prettier has a caching mode like black does, but ESLint does support caching if we wanted to speed up linting.

[2022-03-26 21:08] anujaraj commented on #8214
Hello,
Can I work on this issue too?

[2022-03-26 21:57] lb- commented on #8176
The other context of this is people were running `make lint` in docker Wagtail develop and getting errors each time as the frontend and backend shells are segregated.

[2022-03-27 01:38] jsma commented on #8036
Oops, I thought I had tested with pages that did not specify parent_page_types but just fact-checked myself and I was wrong. I removed parent_page_types from my test pages and I am no longer able to reproduce your issue, I can insert a childless page in between two pages with children, refresh the page and it preserves the new sort order.

[2022-03-27 03:09] harrislapiroff commented on #8217
@thibaudcolas requested the regex I used to do the find/replace in #8226, so here it is. It caught more cases than listed above—though also you appear to have been on a different version when that linter was run (based on the `wagtail*` app names):

Find: `\{% blocktrans ((?!.*?trimmed).*) %\}`
Replace: `{% blocktrans trimmed $1 %}`

(Truthfully I don't actually fully understand the first regex. I

[2022-03-27 08:44] Hitansh-Shah commented on #8176
@thibaudcolas That is indeed correct. But then if I make changes only in templates, how will we handle that? I mean where should we put templates? Currently templates are in server category with python files and if we take into consideration the scenario you suggested, we can either put templates in client category (making client linting and formatting slow) or we can make another separate categor

[2022-03-27 09:30] lb- commented on #8056
Interesting twitter thread on using native browser date pickers.

https://mobile.twitter.com/reinink/status/1507811705945997323

[2022-03-27 10:45] talkshrey commented on #8190
Is this issue resolved yet? Because I have fixed it too

[2022-03-27 12:52] gasman commented on #8190
No, I haven't seen anyone else submitting a PR for this yet...
I see you've been working on this at #8192, but please note that when you start a new piece of work, you should create a new branch starting from Wagtail's 'main' branch - otherwise, all your previous work gets mixed into a single PR.

[2022-03-27 15:46] anujaraj commented on #3589
Hello,  Can i work on this issue. Thers arent any PRs so if its possible can i try this one?

[2022-03-27 19:10] hazho commented on #4298
I had this issue back at 2020, and I just ignored it by having a backed-up copy of the main stream App(at minimum state), before I do migrations for the entire project or related Page models that use stream fields, I rename the **live version** of Stream App, and rename back the **backed-up version** and then after I done from migration, I rename the live version back to be the live one again

[2022-03-27 21:06] lb- commented on #3589
Go for it @anujaraj - before you start on code be sure to follow the steps above and check you can reproduce the issue. Write a comment with any extra info. Including what version you were using of Wagtail/ Django / Python.

[2022-03-27 22:33] lb- commented on #8176
I personally think this is a reasonable problem to solve, there are many cases I have found recently when reviewing PRs where I have wanted to quickly run through a subset of the formatting and linting.

As we have added three more linters/formatters in the last few months, including the actual formatting of server side (templates/python) code, having the ability to quickly do a subset of this mak

[2022-03-28 04:08] yash112-lang commented on #8190
Hey @gasman , I'm interested in solving this issue, can you please assign it to me?

[2022-03-28 05:00] yash112-lang commented on #8134
Hey **@thibaudcolas**, is this issue is **still open**? Can I work on it?

[2022-03-28 05:02] yash112-lang commented on #7240
Hey @zerolab, is this issue is still open, can I work on it.

[2022-03-28 05:10] Marmik2003 commented on #8134
Yes, will create a PR today that will solve the issue with suggestions of
@stevedya

On Mon, Mar 28, 2022, 10:30 AM Yash Singhal ***@***.***>
wrote:

[2022-03-28 06:31] aliceni81 commented on #8036
@jsma Thanks for checking.
Actually my problem is that the page with children cannot be moved up/down the another page with children.

[2022-03-28 07:25] anujaraj commented on #3589
I use the folowing technologies -
Python - 3.6.8
Django- 3.2.12
Wagtail-2.17.0
Also if i could know the initial first few steps to reproduce the error. By this Is mean. I should first create a fixture. save a image in it. remove the image and load the fixture again ?
I am not sure as to how i should use @override_settings to reproduce the issue. It would be graet if you could guide me on this

[2022-03-28 09:07] zerolab commented on #8190
@[yash112-lang](https://github.com/yash112-lang) we do not assing issues to anyone outside of the core team.
It looks like @talkshrey may have fixed this (#8192), so definitely not one to double up on.

See https://github.com/wagtail/wagtail/wiki/New-contributor-FAQ for a few questions around new contributors

[2022-03-28 09:09] zerolab commented on #7240
[yash112-lang](https://github.com/yash112-lang) we do not assign issues to anyone outside of the core team.

Please read https://github.com/wagtail/wagtail/wiki/New-contributor-FAQ first.

This issue has a potential fix at #7266 which needs (re-)review.

[2022-03-28 15:40] awhileback opened #8232 "Ability to control the timeout of button-longrunning"
### Is your proposal related to a problem?

The `button-longrunning` class currently provides a UI indication via the submit button animation that a long running form submission is being processed, but it doesn't take into account the server response, so it times out and shows complete even though the task is not.

### Describe the solution you'd like

The button-longrunning class should take into

[2022-03-28 18:23] Tijani-Dia commented on #8206
I don't think that this should be labelled as a bug. Admittedly, the UX is quite confusing if you were used to the previous behaviour where you could move pages starting from the root level.

Maybe we should document the new behaviour somewhere in the docs or in the move view itself?

Cc: @phildexter

[2022-03-28 22:11] #8211 closed

[2022-03-29 08:15] anujaraj commented on #8214
Hello,
I found that trans is missing in the following file:
wagtail/admin/templates/wagtailadmin/workflows/confirm_delete.html

Can I send a PR for adding - {% trans 'No' %}
Thank you

[2022-03-29 09:50] akhefale opened #8233 "Clicking page with children in admin UI causes ProgrammingError after migrating to PostgreSQL"
### Issue Summary

I migrated our site from MySQL to PostgreSQL recently. Everything seems to be running smoothly, except for this.

### Steps to Reproduce

1. Migrate an existing Wagtail installation from MySQL to PostgreSQL
2. In the /admin UI, browse to a page that has children

This issue cannot be reproduced on a fresh Wagtail installation.

### Error logs

[code]

### Technical details

* Py

[2022-03-29 10:20] gasman commented on #8233
Without more details of the exact steps taken in the migration, this isn't something we can handle as a bug report, sorry - I'd suggest going through [our support channels](https://docs.wagtail.io/en/stable/support.html).

[2022-03-29 10:20] #8233 closed

[2022-03-29 11:03] anujaraj commented on #8214
i have added a PR to the forked repository

[2022-03-29 13:02] thibaudcolas opened #8235 "Support Draftail editor vertical resizing"
This will be done outside of Wagtail, in [springload/draftail](https://github.com/springload/draftail). This is a bit of an unknown – it could be very straightforward, or a lot of work. According to the designs, fields seem to support both horizontal and vertical resizing. We may want to only support vertical resizing to keep it simple.

### Tasks

- [ ] Investigate simplest options to deliver thi

[2022-03-29 13:04] thibaudcolas opened #8236 "Create rich text links on copy-paste"
This will be implemented outside of Wagtail, in [springload/draftail](https://github.com/springload/draftail). We want Draftail to support creating links in rich text by pasting the URL:

- Pasting a URL onto a text selection will create a link on the text (and override any existing link within the selection). A multi-block text selection creates a link per block.
- Pasting a URL without a text se

[2022-03-29 13:05] thibaudcolas opened #8237 "Implement Rich text / StreamField block picker UI"
This will be implemented outside of Wagtail, in [springload/draftail](https://github.com/springload/draftail). Implementation of the UI for the rich text / StreamField block picker, including block autocomplete widget w/ "Press / to insert" behavior.

- All `blockTypes` items are in the block picker
- `entityTypes` items are in the block picker if they use a `block`
- `controls` items are in the b

[2022-03-29 15:54] cnk commented on #8004
Merged fix onto main and 2.16.x

[2022-03-29 15:54] #8004 closed

[2022-03-29 16:29] zerolab commented on #8036
@jsma @aliceni81 could you give the latest `main` or `stable/2.16.x` (#8227) branch a try?

[2022-03-29 17:01] TheoChevalier commented on #8080
Hey @tbrlpld,

I’ve never set up Wagtail bakery locally, but I have steps to reproduce on the MoFo website.

1) Open https://foundation.mofostaging.net/cms/pages/789/ (Blog index page)
2) Click "Add child page"
3) Add a title, author, paragraph
4) Hit "Save draft"
5) Hit "Publish"

Check an alias of the source page you just published, e.g. the French alias page  https://foundation.mofostaging.net/

[2022-03-29 18:37] option8films commented on #7188
Hi @phildexter - our Wagtail instance was just upgraded to the latest LTS version (2.15) from the previous LTS version (2.11) and I can confirm that this issue is still present and is indeed the use case A above ["a) Opening a page in order to edit it"]. This issue was not observed in our previous version. The issue occurs on every page after 10-15 seconds after entering Edit mode. As a user, this

[2022-03-30 03:26] vbudovski-alliance opened #8242 "Revisions for a copied page do not update PKs recursively for related models"
### Issue Summary

Revisions for a copied page do not update PKs recursively. Note that this refers to related models, not child pages.
Consider the structure below:

[code]

### Steps to Reproduce

1. Create a new `RecipeList` page, and add some recipes + ingredients
2. Copy the `RecipeList` page
3. Call `original.get_latest_revision_as_page()` and observe the PKs for all of the models within.
4.

[2022-03-30 04:37] cnk commented on #8036
I tried to reproduce this issue using the bakerydemo project and the 2.16.x branch containing the sorting fix. But all sorting that I tried worked fine.

[2022-03-30 06:04] aliceni81 commented on #8036
@zerolab @cnk Oops, you are right.
I found that I actually defined "subpage_types" in AuthorIndexPage. Once I remove subpage_types, the pages with children can be moved successfully.

[2022-03-30 07:47] kaedroho commented on #6130
Do we know if this was caused by a large package size? downloading an extracting a 29MB file shouldn't take anywhere near that long on a modern machine so I wonder if something else was going on.

Maybe it had to compile something like psycopg2 or Pillow?

[2022-03-30 07:55] th3hamm0r opened #8243 "Admin error due to ModelLogEntry after site setting model has been removed"
### Issue Summary

I've removed a custom site settings model (actually I've reverted the migration), which has been edited before, so the `ModelLogEntry` model contained an `wagtail.edit`-action entry.
Now the site history page in the CMS (/admin/reports/site-history/) has crashed with the following error:

    Traceback (most recent call last):
      File "/***/lib/python3.10/site-packages/asgire

[2022-03-30 08:08] lb- commented on #8232
Not a solution but some extra context.

I see this component as a really good  example for where we can make this work better for those customising Wagtail through adoption of a lightweight framework.

I have an example here of how this could work.
https://github.com/lb-/bakerydemo/blob/ui-experiments/lightweight-frontend-framework-investigation-2022.md#use-case-3---long-running-button

These are

[2022-03-30 08:18] onno-timmerman opened #8244 "Redirect filters"
I love that redirect in Wagtail are now automatic. A small addition to improve the quality of redirects would be a filter in the index page. Filtering on timestamp, automatically set, permanent, external links.

Why on timestamp?
- Well SEO wise you can safe delete any permanent redirect you can safe delete after a year.

Why on automatically?
- its gives an overview of what moved to where and if

[2022-03-30 09:11] thibaudcolas commented on #6130
The "5-10" minutes quoted was just `pip install wagtail`, I don’t recall pip saying exactly which parts of the install took time.

In beginner-level workshops for people who aren’t in tech, it’s very common for participants to have work laptops with very low specs (Windows budget laptop from 10 years ago with a HDD that might have never had a defrag). It’s also fairly common for those people to ha

[2022-03-30 09:24] thibaudcolas opened #8245 "Implement floating toolbar for Draftail"
This will be done outside of Wagtail, in [springload/draftail](https://github.com/springload/draftail). Implementation of the new floating toolbar for Draftail, which only shows when text is selected. This toolbar will contain different items than the existing one, with all inline options, and potentially a few predefined block options.

- `inlineStyles` items are in the floating toolbar
- `blockT

[2022-03-30 09:25] thibaudcolas opened #8246 "Add character count / max length for Draftail"
This will be done outside of Wagtail, in [springload/draftail](https://github.com/springload/draftail). We want to support basic analysis of the textual contents of Draftail fields:

- Character count (with logic matching the browser’s count for `maxlength`, see [RFC 60](https://github.com/wagtail/rfcs/pull/60)).
- Max length count (same logic as character count, with displayed upper limit).
- Wor

[2022-03-30 09:46] thibaudcolas opened #8247 "Spike: Implementation plan to switch all plain-text fields to Draftail"
This is to plan for the implementation of [RFC 60](https://github.com/wagtail/rfcs/pull/60), looking into how we will deliver the switch to Draftail for all fields, potentially making sure this can be opt-in or opt-out. This will power:

- Inline commenting for plain-text fields (TBC where the comments are stored?)
- Character / word count & max length UX (making sure our implementation is at leas

[2022-03-30 09:49] thibaudcolas opened #8248 "Single-line Draftail editor"
This will be done outside of Wagtail, in [springload/draftail](https://github.com/springload/draftail). We want to support an editor only having a single line, so we can use Draftail for plain-text input fields, and rich text that’s inline. WIP: [#7249](https://github.com/wagtail/wagtail/pull/7249).

### Tasks

- [ ] Add a prop to toggle single-line mode on/off
- [ ] Prevent "Enter" creating new b

[2022-03-30 09:51] thibaudcolas opened #8249 "Single-line RichTextField"
Implementation of [RFC 46](https://github.com/wagtail/rfcs/pull/46). Depends on #8248. WIP: [#7249](https://github.com/wagtail/wagtail/pull/7249). This is to implement "single-line" rich text server-side, integrating with the relevant Wagtail and Django APIs (DB storage format, rich text diffing, search, translations, etc.)

### Tasks

- [ ] DB field
- [ ] Support in ContentState converters
- [ ]

[2022-03-30 14:02] thibaudcolas commented on #8232
Nice catch @awhileback, thank you for the solid report. It looks like the implementation intentionally does this to make it possible to click the button again (we disable it after click currently), on the assumption the user might have cancelled the request or there might have been a network error.

Here is the implementation: https://github.com/wagtail/wagtail/blob/main/client/src/entrypoints/adm

[2022-03-30 15:37] awhileback commented on #8232
Thanks! I suppose this should tag @zerolab since part of it specific to wagtailmedia is mention of a chunked uploader for larger files, as well.

I debated which of wagtail and wagtailmedia to post this in, but at the end of the day it seemed like both projects would be better for taking a look / think about it.

[2022-03-30 16:31] #8036 closed

[2022-03-30 18:12] guelate opened #8253 "[Docs] Update README to include Twitter"
### Pertinent section of the Wagtail docs

I propose to add a dependency for Twitter. I think it is important to put forward the community.

### Details

[![Twitter follow](https://img.shields.io/twitter/follow/WagtailCMS?style=social)](https://twitter.com/WagtailCMS)

**here**
![aaa](https://user-images.githubusercontent.com/47215234/160903085-24fd85ea-527a-428c-a92a-99b198e2dd33.png)

[2022-03-30 21:29] zerolab commented on #8253
/cc @KalobTaulien as you're looking at the README update

[2022-03-30 21:52] lb- commented on #8176
Thanks Thibaud. server/client abstractions are always blurry and I agree we could probably split this again into templates being a third thing or rename to `python` `node` may even make more sense but that naming has other issues.

[2022-03-30 21:55] lb- commented on #8232
Having a fixed timeout is important, remember it is not simple to track if a Promise never resolves without some central shared handling using something like Promise.race.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/race

Hence it is difficult to know if the network has failed/never resolved/ timed out somewhere and then if the user can safely click th

[2022-03-30 22:46] guelate commented on #8253
@[KalobTaulien](https://github.com/KalobTaulien) , @[zerolab](https://github.com/zerolab) This is my PR : https://github.com/wagtail/wagtail/pull/8256 :)

[2022-03-31 13:53] #7975 closed

[2022-03-31 14:57] NotANormalNerd commented on #7149
Hey @Ermite-bossu

I encountered the same thing when using the Wagtail. If you have access to the deployment or the source code you can change `templates/wagtailadmin/pages/listing/_page_title_explore.html`

[code]

This way you will get the behaviour we all know from the explorer, but only in explorer view.

[2022-03-31 15:00] th3hamm0r opened #8261 "ModelAdmin title-column always links to "edit" page"
### Issue Summary

Even if a user does not have the "change" permission, the `ModelAdmin` still renders a link to the "edit"-view, which then results in a permission error for this user. For example, we often use ModelAdmins which use `inspect_view_enabled = True` and only allow inspect and delete.

This worked before https://github.com/wagtail/wagtail/pull/7408 (wagtail < 2.15), because the title

[2022-03-31 18:18] sandilsranasinghe commented on #4701
I was curious and took a look at the test case @kaedroho had mentioned.
It happens when the query string is too long, basically when it can be split into a list of words of length close to 480 (473 for sqlite and 478 for postgresql). This in turn makes a long tree of `LexemeCombinable` objects with that depth when making the query expression here
https://github.com/wagtail/wagtail/blob/8b6b0425de8

[2022-03-31 20:26] #8139 closed

[2022-04-01 09:43] Luzzzi commented on #5309
Hi @thibaudcolas ! Can I work on this ?

I consider adding a `label` to the `input` and `name ` in `input`, something like this :
`<label for="jcrop" classname="visuallyhidden">Crooping tool</label>
<input name="jcrop">`
in https://github.com/wagtail/wagtail/blob/8b6b0425de87a802227b11ee8247c975e912ba83/wagtail/images/static_src/wagtailimages/js/focal-point-chooser.js#L32

What do you think ?

[2022-04-01 15:21] phildexter commented on #8136
@kaedroho are you ok to help @stevedya with some of the failing Python tests on this before @thibaudcolas reviews?

[2022-04-01 16:16] stevedya commented on #8136
@kaedroho This PR is where I would need some help #8231 pleaaaasee 🙏 . A lot of the elements that the tests rely on have been moved or removed for this design to work

[2022-04-01 19:22] chosak commented on #8187
Fixed by #8263. Merged to main in https://github.com/wagtail/wagtail/commit/00adeb8cf29cd22d83e75aee425e9d47bf62659d, stable/2.15.x in https://github.com/wagtail/wagtail/commit/6f0f188bfc4270c4199cc87cdb7344659eeff1d0, and stable/2.16.x in https://github.com/wagtail/wagtail/commit/1a28c44add84d19cd962b33bcc71c78576d4f030.

[2022-04-01 19:22] #8187 closed

[2022-04-01 21:19] #8213 closed

[2022-04-01 22:16] #8217 closed

[2022-04-01 22:18] thibaudcolas commented on #8217
Thank you @harrislapiroff! That regex looks good but has one too many spaces on there, so it explains why simple `{% blocktrans %}` were missed

[2022-04-01 22:50] lb- commented on #7113
A few updates.

- https://github.com/thibaudcolas/curlylint/issues/131 raised to see if we can or can create a way to lint our templates
- https://github.com/wagtail/wagtail/issues/8217 has been created (kind of a dupe of this) and implemented via https://github.com/wagtail/wagtail/pull/8226

I recommend we revise this issue to cover the linting enforcement and filling any gaps that are picked up

[2022-04-01 22:50] #8212 closed

[2022-04-01 22:50] lb- commented on #7113
As for the above - I am a fan of keeping with Django syntax and not creating a custom block.

[2022-04-01 22:55] lb- commented on #8246
For showing the character count in the UI - `output` might be a suitable semantic element that can reference the field via the `for` attribute.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/output

[2022-04-01 23:52] thibaudcolas commented on #7511
Note for future reference @Scotchester has implemented the first two points from this issue in #8222. The only thing left is:

For this to work, we may have to add an extra `xmlns="http://www.w3.org/2000/svg"` to those `<svg>` elements (TBC).

[2022-04-02 06:38] sandilsranasinghe commented on #3248
is this still open?

[2022-04-02 06:44] lb- commented on #3248
Yep. I haven't seen a PR come in that links to this.

[2022-04-02 08:53] sandilsranasinghe commented on #3248
um I have a couple of small questions;

- there are some usages of `settings.BASE_URL` in some html templates. Should I replace those with the tag as base_url or just change them to `settings.WAGTAILADMIN_BASE_URL`
- by pull out to a generic util do you mean add a util in admin and then use that util in the base_url_setting tag?

[2022-04-02 22:38] jstacoder opened #8269 "ThumbnailMixin does not display in header the value defined under thumb_col_header_text"
### Issue Summary

When adding ThumbnailMixin to a ModelAdmin, and giving it the `thumb_col_header_text` attribute, should display that on the list header for the thumbnail. but it always uses the default defined 'image'

![image](https://user-images.githubusercontent.com/4082254/161403611-d75291b5-6db8-413a-82fa-447aab5fe69a.png)

![image](https://user-images.githubusercontent.com/4082254/1614035

[2022-04-02 23:46] lb- commented on #3248
Hey @sandilsranasinghe here are some answers.

- adding a tag is probably the best for in template usage.

- yes, there should be one place (util) that does all the fallback behaviour+ read settings for this as there are two fallbacks

- good question, not sure but a new section makes sense I think. As you have done in your PR looks good

[2022-04-03 07:24] lb- commented on #2719
Now that bulk actions exist as of 2.15 I will rename this to be add bulk actions to ModelAdmin

[2022-04-03 12:12] #8214 closed

[2022-04-03 12:27] #8016 closed

[2022-04-03 15:19] robslotboom opened #8273 "Api caal is returnig 404"
After updating a wagtail 2.9.3 project to 2.15 I’ve got a problem with te page explorer.
Running a dev version is working fine.
But after deployment I got a 404.

Dev
<img width="1242" alt="Schermafbeelding 2022-04-03 om 17 14 59" src="https://user-images.githubusercontent.com/8074866/161434901-623a8f3b-118b-4eb1-a4d7-64e5651b2658.png">

Deploy
<img width="971" alt="Schermafbeelding 2022-04-03 om

[2022-04-03 15:24] gasman commented on #8273
Sorry, we can't provide troubleshooting for deployment problems here - please use our [support channels](http://docs.wagtail.io/en/stable/support.html).

[2022-04-03 15:24] #8273 closed

[2022-04-03 15:28] robslotboom commented on #8273
Hey Gasman,

Found it, stupid me, it’s in NginX conf...

location ~ (\.php|\.aspx|\.asp|\.jsp|myadmin|wp-content|Autodiscover|console\**api**) {
        return 404;
}

[2022-04-03 20:00] FibonacciTrees commented on #8214
I didn't have time to address this until this weekend and found it's already closed. I'm new to open source: what's the protocol for how this issue played out? Should I have commented saying when I'd have time to work on it? Is it okay that others fixed it before I could work on it?

[2022-04-03 20:38] lb- commented on #8214
@FibonacciTrees from what I can see, it looked like another person picked this up and prepared a solution via this PR https://github.com/wagtail/wagtail/pull/8240 (although they did not link to this issue unfortunately).

Also in the meantime, https://github.com/wagtail/wagtail/pull/8238 was prepared, which fixed some related issues.

I think with any issue, if a PR is up it will be assessed, with

[2022-04-03 21:17] FibonacciTrees commented on #8214
Thank you for the explanation @lb- . I'll take a look at the other "good first issue" tags.

[2022-04-03 21:23] lb- commented on #4564
Thanks for that @vupham04

[2022-04-03 21:50] 0saurabh0 commented on #8214
hey @FibonacciTrees I mistakenly picked up this issue (raised PR without noticing that it was assigned to you).
Really sorry for your inconvenience.
If you want i can help you find some documentation typos or errors, they're also good to get started.

[2022-04-03 22:03] vibhuti019 commented on #8182
Do we need to add an option to add forms? As we have in pages.

[2022-04-03 22:07] lb- commented on #1875
Closing this as resolved for the next 3.0 release.

see https://github.com/wagtail/wagtail/pull/8164
which replaced https://github.com/wagtail/wagtail/pull/8065
which replaced https://github.com/wagtail/wagtail/pull/5607

[2022-04-03 22:07] #1875 closed

[2022-04-03 22:17] lb- commented on #8182
Currently form submissions only support deletion, so that is all that would be needed for resolving this issue.

There are discussions about adding other actions (such as archive - https://github.com/wagtail/wagtail/issues/8180 ) but that would not be in scope of this issue, just good to be aware of.

[2022-04-04 03:44] aliceni81 commented on #3728
I still have the issue on 2.16.1..

[2022-04-04 15:24] vaibhavjack11 commented on #382
This work is really interesting for me I want to work on it, can I ??

[2022-04-04 18:29] vinitkumar opened #8276 "Improve CI runs and concurrency"
Github Actions are a nice CI system, the issue is that for concurrent runs, you have to wait for the previous job to finish and it gets annoying really fast.

I helped implement a nice feature in django-cms, where you can cancel the past builds on a PR when new commits are pushed in the existing PR where a build was running.

[2022-04-04 21:34] spapas commented on #4870
Hey @zerolab is this issue still relevant? I think that wagtail runs fine on windows (for a dev env) without the need to do anything fancy. Just setup it similar to any other django project. I am using it all the time :)

There's even a wagtail.exe (!)

[2022-04-04 21:46] lb- commented on #4870
We still seem to have new developers struggle with getting set up on Windows, this spikes whenever there are new contributors (GSoC, Hacktoberfest, sprints).

Here is a short list

* https://wagtailcms.slack.com/archives/CTL4SFX29/p1649097687277129?thread_ts=1649093710.451329&cid=CTL4SFX29 ->  make lint and make format in windows. The xarg command present in the makefile as `git ls-files '*.html'

[2022-04-04 22:05] lb- commented on #382
@vaibhavjack11  this has been flagged as something being worked on for the page editor 2022 work https://github.com/wagtail/wagtail/discussions/7739

So it might be best to hold a bit on this until there is more feedback from @thibaudcolas - mainly due to some core infra being set up for this.

In the mean time you can check out what has been worked on in these external repos
* https://github.com/

[2022-04-04 23:28] vibhuti019 commented on #8180
I am working on this one

[2022-04-04 23:28] vibhuti019 commented on #8180
I am working on this one

[2022-04-04 23:29] vibhuti019 commented on #8182
I am working on this one

[2022-04-05 13:04] vparitskiy opened #8280 "Automatic redirects produce unexpected old_path with WAGTAIL_I18N_ENABLED enabled and multiple languages"
### Issue Summary
Automatic redirects produce unexpected old_path with WAGTAIL_I18N_ENABLED enabled

### Steps to Reproduce

1. Django settings look like this

[code]
`wagtail_localize`, `wagtail.contrib.redirects`, and  `wagtail_localize.locales` are installed

2. When I change page slug `foo` to `bar` inside the `nl` tree, generated redirect produces result with `old_path: /nl-nl/foo`

Upon inve

[2022-04-05 20:48] #8106 closed

[2022-04-05 21:21] #1220 closed

[2022-04-05 21:39] #4564 closed

[2022-04-06 08:42] vladox opened #8286 "Wagtail 2.16.1 sub-classing AdminURLHelper leads to telepath exception if WAGTAIL_SLIM_SIDEBAR is enabled"
### Issue Summary

Extending the sidebar using the sub-classing described [here](https://docs.wagtail.org/en/stable/reference/contrib/modeladmin/primer.html#modeladmin-url-helper-class) leads an exception in telepath `telepath.UnpackableTypeError: don't know how to pack object: <bound method PageIndexEditAdminURLHelper.index_url of <app_base.modeladmin.helpers.PageIndexEditAdminURLHelper object at

[2022-04-06 09:26] vladox commented on #8286
A test repo is available here: https://github.com/elpatiostudio/wagtail-no-aldryn-addons

[2022-04-06 09:43] #3248 closed

[2022-04-06 14:03] robslotboom commented on #7410
Same problem here.
Our userModel has an extra field for “suffix” because Dutch names can look like Jan van Schaffelaar.
So this field should show up in the NameEmailPanel.

The only possible way to achive this is to override the comlete view...

[2022-04-06 15:35] marts opened #8291 "Admin displaying unstyled images and documents results listing"
### Issue Summary

When searching images or documents in the Wagtail Admin it is possible to arrive at an unstyled results listing page.

### Steps to Reproduce

1. Create a project,  login to admin and add some images and/or documents
2. Click Images on Wagtail sidebar
3. Start typing in a search term to filter the images (don't press return)
4. Check the urls for the images by hovering over them

[2022-04-06 17:52] gasman commented on #8196
Essentially this is an alternative design for what we currently achieve with submenus. I like the way it looks here, but there are definitely some tradeoffs - reducing the icon size means that there's a smaller target for mouse and touchscreen users, and I think it would need more work to arrive at a design that works equally well for users with short simple menus as well as 'power' users.

Given

[2022-04-07 07:49] gasman commented on #7692
Fixed in #7721

[2022-04-07 07:49] #7692 closed

[2022-04-07 11:36] zerolab commented on #7999
I will have a look at this tomorrow. It may well be we have to fix this in wagtail-localize as I missed the line in documentation where it mentions it could return None if it cannot be routed

[2022-04-07 12:47] gasman commented on #8291
Thanks for catching this, and for the detailed report! Looks like this was introduced in 2.16, in this commit: bafb4352ce9df41c1110555dcbf0c1f568775d7d

[2022-04-07 13:57] #8107 closed

[2022-04-07 14:04] lb- commented on #8269
Can confirm this appears to be a bug, we clearly state in the docs that you can override `thumb_col_header_text` in your `FooModelAdmin` class and it should be reflected in the header but it is not.

Removing `unconfirmed` label.

[2022-04-07 14:23] #8269 closed

[2022-04-07 15:01] thibaudcolas commented on #382
I’ll assign this to myself to document where we’re at with our UI component library, and then close this issue.

[2022-04-07 16:43] gasman commented on #8286
Hi @vladox - thanks for the report, and for putting together a test case demonstrating the issue.

In your test repo:

    class DummyAdminURLHelper(AdminURLHelper):
        def index_url(self):
            return '/admin/pages/'

`index_url` should be defined as a property, rather than a method - the problem occurs because the ModelAdmin code is referencing `url_helper.index_url` (rather than `ur

[2022-04-07 16:43] #8286 closed

[2022-04-07 18:55] Scotchester commented on #6323
If you trust your users not to work around such a restriction using their browser’s dev tools, I have devised a purely front-end solution to this issue.

Using the example of Wagtail's [RawHTMLBlock](https://docs.wagtail.org/en/stable/reference/streamfield/blocks.html#wagtail.core.blocks.RawHTMLBlock), the gist of it goes like this:
1. Add the RawHTMLBlock to a StreamField (note that I've chosen t

[2022-04-07 21:22] thibaudcolas commented on #7149
@gavin-bailey no, there is no plan to change this at this time. See [this explanation](https://github.com/wagtail/wagtail/issues/7149#issuecomment-831819953) as to why it’s not that clear cut what to do with this.

[2022-04-07 21:25] thibaudcolas commented on #8276
Looks like we implemented this enhancement in #8277 – thank you @vinitkumar!

[2022-04-07 21:25] #8276 closed

[2022-04-08 02:26] amelia291 commented on #8077
I see that the pull request for this bug has already been merged - maybe we can close this issue.

[2022-04-08 02:45] lb- commented on #8077
Resolved via https://github.com/wagtail/wagtail/pull/8075

https://github.com/wagtail/wagtail/commit/23895120b056179edb44c25a42e0ba0a7ef8bff5

[2022-04-08 02:45] #8077 closed

[2022-04-08 08:09] thibaudcolas opened #8311 "Slim sidebar issues"
Compiling a list of what people have shared here and there. (https://github.com/wagtail/wagtail/pull/8197#issuecomment-1087493676, internal discussions)

- After RC:
- [x] **Visual design** – Collapsed sidebar is wider than intended
- [x] **Visual design** – Change “Edit your account” to “Account” tooltip
- [x] **Visual design** – Slim side bar on bird hover, make the bird a little big bigger (don

[2022-04-08 10:22] zerolab commented on #5172
I tried the test from #8048 on the `stable/2.15.x` branch and it was successful.

Will close this on that bases. #8048 will be in 3.0, and 491449e backports it to 2.16.

If you happen to be able to reproduce it  on 2.15 (as an LTS), do shout and we'll reopen.

[2022-04-08 10:22] #5172 closed

[2022-04-08 12:25] th3hamm0r opened #8314 "Allow to override get_image_multi_form()"
### Is your proposal related to a problem?

Currently, you can override the base image form with the `WAGTAILIMAGES_IMAGE_FORM_BASE` setting. This is good, if you just want to add a new field, because those fields will also be added to the bulk-upload-forms ("multiple" views).

But sometimes we would like to customize the multiple-image-form too, similar to how currently the focus-point-field and

[2022-04-08 15:31] phildexter commented on #8311
**Must**

**Should**

**Could**

**Other**
This seems fine to me to leave as is

Can't reproduce this

These seem conflicting to me?

Not sure I understand what is wrong with this - the UX seems fine here to me?

[2022-04-08 15:51] #7943 closed

[2022-04-08 15:51] #7995 closed

[2022-04-08 15:55] thibaudcolas commented on #8134
Fixed in #8310.

[2022-04-08 15:55] #8134 closed

[2022-04-08 15:57] ciperus opened #8316 "Disable Wagtail richtext editor from creating autolists"
### Is your proposal related to a problem?

Wagtail's richtext editor creates autolists when a line starts with 1.. This is a problem in some languages where dates are written in this format: 1. february 2022. If you write a date in this format in the beginning of a line the richtext's autolist feature formats this as a numbered list which is not correct.

### Describe the solution you'd like

I w

[2022-04-08 15:58] thibaudcolas commented on #7863
Fixed in #8310.

[2022-04-08 15:58] #7863 closed

[2022-04-08 16:00] thibaudcolas commented on #8199
Implemented in #8310.

[2022-04-08 16:00] #8199 closed

[2022-04-08 16:01] thibaudcolas commented on #8087
Implemented in #8310! Thank you for the report @pljspahn :)

[2022-04-08 16:01] #8087 closed

[2022-04-08 16:37] thibaudcolas commented on #8136
Merged!

[2022-04-08 16:37] #8136 closed

[2022-04-08 19:37] thibaudcolas commented on #8311
Also noting for consideration:

- #8063
- #8055

[2022-04-09 12:30] #3001 closed

[2022-04-09 23:37] lb- opened #8322 "Add Wagtail to the JAMstack headless CMS section"
### Is your proposal related to a problem?

I am often looking at the CMSs listed on JAMstack and think it would be good to also see Wagtail listed as we support a basic headless API out of the box.

### Describe the solution you'd like

Prepare a pull request to the JAMstack repo with an additional page.

### Describe alternatives you've considered

Maybe this should not be an issue but just some

[2022-04-10 00:40] dkirkham opened #8323 "topic:: styling missing in Sphinx Theme documentation"
### Styling for topic:: in documentation is missing in Sphinx theme

There are four instances in the documentation that use the topic:: markup eg. [docs/advanced_topics/images/custom_image_model.rst#L53](https://github.com/wagtail/wagtail/blob/main/docs/advanced_topics/images/custom_image_model.rst#L53) where the text "Migrating from the builtin image model" appears.

These lines are written as he

[2022-04-10 01:12] lb- commented on #8323
I think the solution would be to migrate these pages to markdown (this is our eventual goal) and then not use the topic directive but rather just plain headings.

[2022-04-10 01:16] lb- commented on #8323
Marking as good first issue. If anyone wants to pick this up.
The four documentation pages linked above should be converted to markdown as per the documentation (latest linked).
https://docs.wagtail.org/en/latest/contributing/documentation_guidelines.html

Remove the topic usage and instead replace with headers and maybe a reference if needed.

Ensure that any other usage of the topic throughout t

[2022-04-10 01:19] dkirkham opened #8324 "Add row and column reordering to Typed Table Block"
### Is your proposal related to a problem?

The [Typed Table Block](https://docs.wagtail.org/en/stable/reference/contrib/typed_table_block.html) is a great recent addition to Wagtail's set of Streamfield blocks. However, I envisage that an editor may realise that existing rows or columns of information in a large table will need to be reordered. The only option available at the moment is for the e

[2022-04-10 01:50] dkirkham commented on #8323
Hi @lb-,

Thanks for the pointers, I'll look at preparing a PR in coming days.

I only found four instances of topic:: across the entire documentation, so changing them to align with the rest of the doco makes sense.

[2022-04-10 09:46] zerolab commented on #7999
Let's close this as a non-issue given the `None` return is documented.

[2022-04-10 11:50] gasman commented on #7999
Hmm, I think there's arguments both ways there. On one hand, it seems that there's an inconsistency arising somewhere (one part of the code establishing that page X is within site Y, but `get_url_parts` failing to find its URL) that we ought to be aware of and not just sweep under the rug. On the other hand, a failure in something that's supposed to be an invisible background task that developers

[2022-04-10 12:50] dkirkham commented on #8323
Hopefully this isn't opening a can of worms. One of the four files, docs/advanced_topics/embeds.rst (see [Embeds](https://docs.wagtail.org/en/latest/advanced_topics/embeds.html) includes a list of attributes from a class near the bottom. I haven't found any Markdown versions in the overall documentation to give me a template to follow.

The existing rendering uses a definition list (dl/dt/dd). In

[2022-04-10 22:23] lb- commented on #8323
Just wrap that class / attributes syntax in

[code]

That's the escape hatch if we need to embed rst and there is not a nice markdown equivalent.

For this syntax we would want to preserve the way rst shows it so that's fine.

[2022-04-11 08:57] thibaudcolas commented on #2122
We now have a `WAGTAILEMBEDS_RESPONSIVE_HTML` setting which is disabled by default, so I believe this is no longer an issue.

[2022-04-11 08:57] #2122 closed

[2022-04-11 09:00] #4152 closed

[2022-04-11 09:02] thibaudcolas commented on #2342
I’m going to convert this to a Discussion now, to give this a bit more visibility, and reflect the fact there isn’t a really clear point at which this will be "done".

[2022-04-11 09:08] lb- commented on #4499
Been a while since this has been raised. Adding labels and flagging as unconfirmed as this may no longer be applicable to the current code or may have since been fixed.

[2022-04-11 09:14] lb- commented on #4507
Updated title to include preview - added labels.
Not sure if this should become a discussion maybe.

[2022-04-11 09:20] lb- commented on #4521
RFC 29 was not adopted.

https://github.com/wagtail/rfcs/blob/master/text/029-immutable-revision-events.md

Updated title to include Preview and adding labels.

[2022-04-11 09:22] thibaudcolas commented on #5832
Hi @vladox, I see this hasn’t been discussed in over two years so I’m going to close this now.

From my perspective this is working as intended – Wagtail’s rich text storage format is a bespoke XML dialect, where we chose the trailing slash in `<br/>` isn’t optional. If we supported both `<br>` and `<br/>`, we’d still have our code only output one of the two, which would lead to rich text content

[2022-04-11 09:22] #5832 closed

[2022-04-11 09:27] thibaudcolas commented on #6165
Hi @JanMalte, we’re reworking the tabs currently in #8266 so I’m reviewing opened issues. I’m having trouble understanding what you’re reporting here, could you please follow our bug report template and provide more informations?

[2022-04-11 09:27] #6165 closed

[2022-04-11 09:28] #8291 closed

[2022-04-11 09:31] lb- commented on #4647
Probably still happening but should be validated. Good first issue label and other labels added.

Whoever wants to pick this up should start looking at this code.

https://github.com/wagtail/wagtail/blob/main/wagtail/blocks/field_block.py

Most likely the value being shown in the Preview is based on the field widget but the value from the DB is from JSON and maybe not getting correctly parsed when

[2022-04-11 09:34] thibaudcolas commented on #1844
Converting this to a Discussion because I believe we’re very unlikely to support newsletters directly in `wagtail/wagtail`.

[2022-04-11 09:38] lb- commented on #4700
Wagtail 2.13 introduced a new account settings interface which is much simpler.

This, and the comment above, cover the main points of this issue.

It should be possible to block the accounts settings with either a template override. Which is the first point.

I think we can close this.

If someone wants to raise a new and more specific enhancement suggestion we can discuss further on that. Or if

[2022-04-11 09:38] #4700 closed

[2022-04-11 09:41] lb- commented on #4759
As there is a documented solution to this and no further feedback on this issue being a problem I will close this.

Feel free to comment if anyone thinks we should re-open.

[2022-04-11 09:41] #4759 closed

[2022-04-11 09:43] thibaudcolas commented on #2328
As part of the [page editor 2022](https://github.com/wagtail/wagtail/discussions/7739) project, we’re making the the fields’ `help_text` much more prominent – it’ll always be underneath the fields, rather than off to the side, with plenty enough contrast.

Once that lands, I’ll close this issue. I don’t think we want to support using placeholder – `help_text` is a better fit for two reasons:

- Pl

[2022-04-11 09:44] lb- commented on #4760
Updated the title and will add labels.
Technically it is possible to to add a new link plug-in but maybe we can provide a hook for link validation across wagtail.

I see this is a valuable generic requirement, even a way to return a different value might be nice as part of the hook solution.

[2022-04-11 09:49] gasman commented on #5341
See also #7749.

I can see a possible gotcha with @kaedroho's suggestion - if the translated string is part of the migration, and a non-English locale is active when running migrations (e.g. LANGUAGE_CODE is set), it'll end up inserting the non-English text in the database, which then won't be translated by `{% trans permission.name %}`. Given the untried nature of this, I don't think it's a good

[2022-04-11 09:49] lb- commented on #5158
This is possible when using a custom image model.

However it was not documented.

Closing as resolved and se below for the WIP documentation for this.

https://github.com/wagtail/wagtail/pull/8228

Issue raised to add documentation https://github.com/wagtail/wagtail/issues/2601

[2022-04-11 09:49] #5158 closed

[2022-04-11 09:52] thibaudcolas commented on #6808
Hi @jkevingutierrez, this is because URLBlock uses Django’s URLField. I’m not sure if this is defined explicitly anywhere but I believe there’s a strong association in people’s minds that "URLBlock means URLField". If we had a block that supported different validation rules from URLField, presumably we should call it something else?

[2022-04-11 09:54] thibaudcolas commented on #6924
Fixed in #f8299885aa916becb9109c881f3ab28408af794e.

[2022-04-11 09:54] #6924 closed

[2022-04-11 09:57] thibaudcolas commented on #7112
Hi @loicteixeira, would there be a way for us to write translation strings so they don’t contain the tags?

[2022-04-11 10:24] gasman commented on #5341
It's more subtle than that - there needs to be an occurrence of `_('Can access Wagtail admin')` somewhere in the codebase so that it gets picked up by `makemessages`, but that occurrence can NOT be anywhere that would be encountered when creating the permission record in the database (because that would result in it inserting the translated record into the database rather than the English one).

[2022-04-11 10:33] #2047 closed

[2022-04-11 10:51] thibaudcolas commented on #5341
I understood Karl as suggesting we’d have a dummy `_('Can access Wagtail admin')` somewhere for the purpose of extraction of the message. So:

1. No changes to the value stored in the database
2. Somewhere, we have a dummy `gettext` call with the same literal value as what’s stored in the database, for the purpose of collecting by `makemessages`.
3. We also call `gettext` on the database value, wh

[2022-04-11 11:27] JanMalte commented on #6165
@thibaudcolas the HTML element ID is using a slugified string from the tab `heading`. As the `heading` is translated into the users language, the ID may very depding on the language. Using a untranslated slugify string would be better.

[2022-04-11 12:13] gasman commented on #7999
Fixed in #8328

[2022-04-11 14:59] #8079 closed

[2022-04-11 14:59] loicteixeira commented on #7112
If the only part to translate is the inner html, then yes, the tags could be left off,
for example change `_('<a href="%(url)">some action name to be translated</a>')`
to `action_name = _('some action name to be translated'); f"<a href="${url}">${action_name}</a>"`
or something like that.

However if the tags are within a sentence, I'm afraid we can't because different languages might need to move

[2022-04-11 16:11] thibaudcolas commented on #6165
👍  not sure I’d agree it’s a bad thing, but if you want to suggest a change to this please create a new issue (or update this one) following our template: https://github.com/wagtail/wagtail/blob/main/.github/ISSUE_TEMPLATE/FEATURE_REQUEST.md

[2022-04-11 19:36] coredumperror commented on #4499
Looks like this got fixed at some point in the past. The code that I had felt the need to monkey patch was here: https://github.com/wagtail/wagtail/blob/b25bf0c6bddbfab1b1596d8eb1aa107b59bedd47/wagtail/admin/templatetags/wagtailadmin_tags.py#L151

Notice that it caches the data directly in a context variable.

But today, the `test_page_is_public` tag no longer does that, instead doing the same thi

[2022-04-11 19:36] #4499 closed

[2022-04-11 20:23] lb- commented on #4499
Awesome. Thanks for checking

[2022-04-12 09:50] acnologia commented on #8311
I will take a look at some/most of these @thibaudcolas

[2022-04-12 09:55] thibaudcolas commented on #8311
@acnologia this isn’t up for grabs for the time being, I believe we want @stevedya working on this. I’ll update here if we are happy for some of the above to be worked on by others.

[2022-04-12 10:21] acnologia commented on #8311
oh okay, no problem ... are there any other front-end issues that core isn't working on and need fixing?

[2022-04-12 13:03] anujaraj opened #8334 "Check Mark is not visible inside the checkbox in the users section of the Admin in Windows High Contrast Mode"
### Issue Summary

On the Admin Interface of the Wagtail website with the url point - /admin/users. While we click on the checkbox near the user details one can find a check mark in the checkbox, as attached below in the screenshot
![Screenshot (274)](https://user-images.githubusercontent.com/52713215/162965914-70f5d0e4-a566-4b65-bcac-4c822da8d681.png)

While on using the Windows High contrast mod

[2022-04-12 15:12] thibaudcolas commented on #8137
Done in #8266.

[2022-04-12 15:12] #8137 closed, assigned to stevedya

[2022-04-12 15:12] thibaudcolas commented on #5330
Fixed in #8266.

[2022-04-12 15:12] #5330 closed

[2022-04-12 18:23] chosak opened #8337 "Can't review or revert to a page's initial revision"
### Issue Summary

Using the Page History view, there's no way to restore the very first revision of a page, whether it was first saved as draft, published, or submitted for moderation.

This is because the Page History view is populated from PageLogEntry objects, but Wagtail doesn't log the first revision of a page. Note `log_action=False` in these lines when a new page is saved, published, or su

[2022-04-12 18:54] acnologia commented on #8043
@lb- @thibaudcolas I've created a PR #8338

[2022-04-12 19:12] acnologia commented on #6895
@ababic @krzysztofjeziorny is this still an issue? Any ideas on how you want it implemented? I will try to look at it. Also tagging @lb-

[2022-04-12 19:20] hpoul opened #8339 "Copy and paste (or move) StreamField blocks into different pages/fields."
### Is your proposal related to a problem?

There is currently a "Duplicate" which allows duplicating content of a StreamField blocks into the same hierarchy. It would be nice if it was possible to "copy" a StreamField block data into another page.. Or extract it from a page into a snippet. obviously the target StreamField would have to support the same block types.

I often have the problem that

[2022-04-12 19:24] acnologia commented on #6895
okay yeah, I can try taking a look at it ... can you please direct me to the correct file? VSCode is indicating add.html but that doesn't seem right.

Also is pop ups used anywhere else in wagtail? I'll review that so I don't break the uniformity of the service.

[2022-04-12 19:36] krzysztofjeziorny commented on #6895
Unfortunately I didn't look in the code for the right place.

No, there are no toast/popups in Wagtail. That's just an idea, maybe not worth implementing yet, as the admin area will get a major polish with the editor rebuild.

[2022-04-12 19:40] acnologia commented on #6895
hmm ... I'm planning to apply UI upgrade from the editor to all of wagtail ... maybe I'll be able to fix both at once¿

until then, @thibaudcolas would you be able to advise on the pop-up idea similar to https://ant.design/components/message/ ?

[2022-04-13 02:17] #8143 closed

[2022-04-13 02:18] #8144 closed

[2022-04-13 02:18] #8140 closed

[2022-04-13 02:19] #8141 closed

[2022-04-13 02:22] #8142 closed

[2022-04-13 02:22] #8145 closed

[2022-04-13 03:37] #1874 closed

[2022-04-13 03:46] lb- commented on #4073
Partial work was done on a fix for this a while ago https://github.com/wagtail/wagtail/pull/4664 but we closed as it had been a long time and had not been reviewed.

[2022-04-13 03:47] lb- commented on #4073
For anyone looking at this, it might be best to pick up a small part of this first - maybe just the images only.

[2022-04-13 06:09] lb- commented on #7113
https://github.com/thibaudcolas/curlylint/pull/137 raised for curly lint
@loicteixeira  would love your thoughts, specifically the test examples

https://github.com/thibaudcolas/curlylint/pull/137/files#diff-3ebd411560a18f67683499e2247696ff853ede22d18a8cfa9d909a8a20622356

Please let me know if you can think of any other scenarios we want to test.

[2022-04-13 07:04] lb- commented on #4776
Looks like this still exists, but a new kwarg has been added
[code]

`wagtail/embeds/embeds.py`

Maybe we can add an `options` kwarg or just grab any kwargs via `**kwarg` as options and work with the bits we need, then pass the entire dict into whatever else might use it.

OR maybe this can become a class?

Labelling as an enhancement

[2022-04-13 07:06] lb- commented on #4888
Looks like this is still not implemented, adding labels.

[2022-04-13 07:15] thibaudcolas opened #8341 "Slim header issues"
- [x] The breadcrumbs toggle and all breadcrumb items should take up the full height of the header rather than leaving a gap at the bottom. The "More actions" trigger should also take the full height of the header.
- [x] For the same height issue, the breadcrumbs / toggle / "more actions" sit too high in the header bar compared to the center line.
- [x] Support issues with breadcrumbs toggle via k

[2022-04-13 07:16] thibaudcolas opened #8342 "Underline tabs issues"
- [ ] In Windows High Contrast mode, the active tab should be distinguishable with a thick bottom border as before
- [ ] Moving focus to the tabs without changing the active tab shouldn’t update the location hash in the browser’s URL bar
- [ ] On the users Add screen with the "Roles >" button,
  - [ ] The button shouldn’t be marked as a `role="tab"` (invalid outside of a `tablist`)
  - [ ] Cycling

[2022-04-13 09:35] thibaudcolas commented on #1247
Closing this now that we’ve redesigned the tabs in #8266. It’s the header we chose to make sticky, while the tabs largely retain their existing positioning.

We had tried to make the tabs sticky as well initially, but gave up on the idea because that would have been too much to fit in the relatively slim header bar (and making a large area sticky has clear drawbacks).

[2022-04-13 09:35] #1247 closed

[2022-04-13 09:36] thibaudcolas commented on #4643
This has been fixed in #8266. The tablist will now scroll whenever it’s bigger than the available space.

[2022-04-13 09:39] #6719 closed

[2022-04-13 09:40] lb- commented on #7714
@tmsndrs can you please provide more information, please can you rewrite this following the 'feature' template.

see https://github.com/wagtail/wagtail/issues/new?assignees=&labels=type%3AEnhancement&template=FEATURE_REQUEST.md&title=

For example, it is unclear if you mean that the `old_path` should be validated against an existing page or the `redirect_page_route_path`

[2022-04-13 09:49] thibaudcolas commented on #7188
@option8films thank you for the report. Could you provide step-by-step instructions of what you’re doing, ideally with a video recording, and let us know which browser you are using?

Personally I can’t reproduce this issue either (Wagtail 3.0a0 latest `main`, but I don’t think we’ve changed this recently).

[2022-04-13 11:22] zerolab commented on #7188
I've encountered this recently. See https://youtu.be/gE3P9yKydmY

[2022-04-13 12:12] phildexter commented on #7188
Does this happen on all pages on that site @zerolab ? I've noticed you've got a markdown block there and wondering if something like that could be triggering it?

[2022-04-13 12:54] lb- commented on #4936
Closing this as it is more of a question on how to do something instead of a specific enhancement request.

For anyone viewing this issue, there is also now https://github.com/wagtail/wagtail-generic-chooser which offers a great way to give fully customised chooser views of models.

[2022-04-13 12:54] #4936 closed

[2022-04-13 21:05] lb- commented on #8247
As per RFC - https://github.com/wagtail/rfcs/pull/60#issuecomment-1098486070

---

Draft.js has confirmed that it is no longer maintained. The project will no longer receive updates and the GitHub repo will be archived in October of this year (October 2022).

I think we need to consider this if we are to adopt our wrapper around Draft.js in even more places in Wagtail. This is frustrating I know b

[2022-04-14 09:44] #8043 closed

[2022-04-14 09:46] lb- commented on #8043
Resolved via 7861014316baed908e0773c7f80f65a78f7a877c  & https://github.com/wagtail/wagtail/pull/8338

[2022-04-14 21:00] anujaraj commented on #8334
Hello,
My idea to tackle the problem is that
1) I am trying to add a border to the svg image of the checkbox that can allow the border to be visible after the high contrast mode.
@lb- if you can help me as to how can i add the border to : -webkit-mask-image:url(<svg url>)

[2022-04-15 00:15] lb- opened #8365 "Adopt generic class-based views across all areas of admin (epic)"
----

----

### Description

* Wagtail 2.12 added generic class based views for use across Wagtail's admin, which was a progression of existing work to move to class based views where possible
* This provides the ability for common views to share common logic and behaviour
* This also provides a way for even more customisation over specific URLs by overriding a specific URL path with your own cust

[2022-04-15 04:36] lb- opened #8366 "Home (aka dashboard) `wagtail/admin/views/home.py`"

[2022-04-15 04:45] lb- opened #8367 "Snippets - adopt class based views"

[2022-04-15 04:51] lb- commented on #8367
@kaedroho / @laymonage I know this is pretty much done but I've been getting my head around GitHub issue creation linked to a 'parent' and accidentally created this issue. So thought we may as well use it to track the snippet class based views adoption.

I'll add some details a bit later to the description.

It might serve has a helpful reference for future similar changes

[2022-04-15 14:36] thuwarakeshm opened #8370 "TableBlock throws Internal Server Error (500) on Debug=False mode."
### Issue Summary
I am **trying to add TableBlock** to my Streamfield body. I followed the instructions outlined in the official docs.
https://docs.wagtail.org/en/stable/reference/contrib/table_block.html

My Streamfield look like this:

[code]

This works perfectly in the development mode (`debug=True`)

Even when `debug=False` rendered pages are working fine. Yet, if I want to edit a page or add

[2022-04-15 15:00] Scotchester commented on #8370
Could you please post the full stack trace for the Internal Server Error?

[2022-04-16 05:12] thuwarakeshm commented on #8370
Thanks @Scotchester for getting back to this. I resolved this issue. It's simply a missing static file. I ran `debug=False` without running `collectstatic`.

But it's worth documenting the usage of staticfiles in the official doc : https://docs.wagtail.org/en/stable/reference/contrib/table_block.html

Something like, "This module uses static files, therefore you should run `python manage.py collec

[2022-04-16 05:12] #8370 closed

[2022-04-16 07:37] lb- commented on #8370
We do state that you need to run collectstatic in the documentation for any upgrades.

https://docs.wagtail.org/en/stable/releases/upgrading.html

[2022-04-16 08:21] gasman opened #8373 "HelpPanel broken in 3.0rc1"
From a fresh bakerydemo project, edit bakerydemo/base/models.py, change the import at the top to

[code]
and add to the top of the `content_panels` definition for HomePage:

    content_panels = Page.content_panels + [
        HelpPanel("<p>does this work?</p>"),
        MultiFieldPanel([

This causes `manage.py runserver` to fail with:

[code]

Tested on Wagtail 3.0rc1, Django 4.0.4, Python 3.8.0

[2022-04-16 09:27] #8367 closed

[2022-04-16 09:39] lb- commented on #8173
@talkshrey it seems like the PR linked was not for this issue, please let us know if you have a different PR coming or created for this.

[2022-04-16 09:41] lb- commented on #8162
I think we can close this. Unless there is a reason to deprecate the unpredicted command but it seems like this is a non issue for the update index command.

[2022-04-16 09:41] #8162 closed

[2022-04-16 09:42] lb- commented on #8160
Update. Pypi does not use the readme.md file so the concern I had above is not valid.

The issue for GitHub loading still exists though.

[2022-04-16 09:46] lb- commented on #7986
Should be a drop in replacement, needs validation though, marking as good first issue for someone that understands how to update Python requirements.

[2022-04-16 09:54] lb- commented on #7983
Thanks for the feedback, I think something like this is better served as an external package first.

Normally Wagtail tries to be agnostic when it comes to front/public facing content. This solution also needs to make lots of assumptions about how blocks are being used.

I will close this for now and we can re-open if anyone disagrees.

@sowinski if you do build something - I recommend maybe writi

[2022-04-16 09:54] #7983 closed

[2022-04-16 09:58] lb- commented on #7856
@zerolab is this done now?
As https://github.com/wagtail/wagtail/pull/7857 is merged in.

[2022-04-16 09:59] lb- commented on #7849
To be reviewed, 3.0 brings more generic FieldPanel usage and this may be resolved.

[2022-04-16 10:03] #7856 closed

[2022-04-16 10:04] lb- commented on #7767
Adding label needs design decision.

[2022-04-16 10:07] lb- commented on #7715
@thibaudcolas this is in the status fixed for the page editor 2022 but issue is not closed.

Can you confirm this is fixed?
Maybe @stevedya

[2022-04-16 10:11] zerolab commented on #7856
Good shout, @lb-

[2022-04-16 10:13] lb- commented on #7558
As a small enhancement we could add the full url alongside existing url, this way we don't have a backwards compatibility issue.

Marking as a good first issue for someone who wants to look at how the API works.

Also recommend we do the same change for documents.

[2022-04-16 10:19] lb- commented on #6949
Closing as this seems to be solved with using signals, and the behaviour requested does not align with how the hooks should be working.

[2022-04-16 10:19] #6949 closed

[2022-04-16 10:21] PaarthAgarwal commented on #7558
I'll give it a shot

[2022-04-16 10:23] lb- commented on #951
Would be good to get validation if this is still an issue. I have labelled as an unconfirmed bug for now as this is quite old.

Also, 3.0 introduces a new management command to clean up image renditions and regenerate them all.

[2022-04-16 10:29] PaarthAgarwal commented on #7986
Working on it

[2022-04-16 11:22] PaarthAgarwal commented on #7558
I've made the necessary changes in the code. How should I update docs?

[2022-04-16 11:43] lb- commented on #7558
Yeah. I would assume this change needs to come with a docs update also. Thanks @PaarthAgarwal

[2022-04-16 11:49] PaarthAgarwal commented on #7558
Ahh I was asking how should I update docs😅

[2022-04-16 11:57] lb- commented on #7558
I think we would probably only need to update the docs example here.

https://docs.wagtail.org/en/latest/advanced_topics/api/v2/configuration.html#images-in-the-api

[2022-04-16 13:57] gasman opened #8376 "wagtail.core.utils should be updated to wagtail.coreutils on 3.0 upgrade"
The contents of `wagtail.core.utils` have been moved to `wagtail.coreutils` rather than `wagtail.utils`, but the release note doesn't mention this and the `wagtail upgrademodulepaths` command doesn't account for it.

[2022-04-17 08:06] dkirkham opened #8377 "Save/Preview Buttons icon and text layout issues in new Page Editor"
### Issue Summary

The Save Draft and Preview buttons at the bottom of the new Page Editor have a variety of issues with the layout of the text and icons within them.

### Steps to Reproduce

1. Start a project using the new page editor, eg. with Wagtail 3.0rc1
2. Navigate to an existing page and select edit
3. Observe the misaligned text baseline between the "Save draft" and "Preview":

<img widt

[2022-04-17 09:01] smitgol commented on #3236
I got this problem.Here we can create button on table head row to scroll the table horizontally like this.

![wag_photo](https://user-images.githubusercontent.com/60008621/163707805-a864f551-6a7e-43da-8de5-998a1c541438.jpg)

can i pick up this issue ??

[2022-04-17 09:12] lb- commented on #3236
Yep. But remember that the delete button shows in the header also when you select a response.

Please be sure to review the latest code though, the main branch looks different.

Finally, I think we could get far by putting the subtitle span in a new line. I think in general that should be outside the h1 element in the header but that will be a global change.

[2022-04-17 09:53] PaarthAgarwal opened #8378 "Page content overlays on footer container"
### Issue Summary
Page content gets overlayed on the footer container containing "save draft" and "preview" buttons. I believe this is happening due to incorrect z indexing of content or of footer container.

### Steps to Reproduce

1. Go to Wagtail bakery demo admin.
2. In the page explorer go to the "About" or "Contact Us" page.
3. Scroll down and you will find content overlaying on the footer c

[2022-04-17 16:34] #7592 closed

[2022-04-17 22:16] #8323 closed

[2022-04-17 23:42] lb- opened #8383 "☂️ Migrate RST docs to Markdown - ongoing good first issue"
### Description

* In early 2021 Wagtail began the move to Markdown documentation instead of RST (ReStructured Text) to make it easier for new developers to get started with the docs.
* Our goal is to migrate all documentation to Markdown (.md) files.
* If you want to contribute to these efforts it is a great way to get started with Wagtail contributions as you get to read the documentation and le

[2022-04-18 03:57] lb- commented on #5411
Current structure is basically

* `html`
  * `body`
    *  `.skiplink`
    * `div.wrapper`
      * `aside` - sidebar
      * `main`
        * `.messages` (aria role needed?)
        * block content (which usually contains the `header`

What if we did the following;

* `html`
  * `body`
    *  `.skiplink`
    * `div.wrapper`
      * `nav` - sidebar (instead of an `aside`)
      * `header` -
      *

[2022-04-18 04:30] lb- commented on #8378
@PaarthAgarwal I am having trouble reproducing this, I have tested on a few different browsers (see below), please can you double check you were running the latest `3.0` candidate branch and had run `npm ci` & then `npm run build`.

Seems odd to me that this would be an Edge or Windows only thing. Unless it is something funky with sidebars somehow?

All tested on macOS 12.3
* Firefox 99
* Chrome 1

[2022-04-18 04:32] #8038 closed

[2022-04-18 04:35] lb- commented on #8377
Can confirm this is an issue, have validated myself.
I have also put this in the page editor 2022 project - FYI @thibaudcolas

<img width="2048" alt="Screen Shot 2022-04-18 at 2 24 50 pm" src="https://user-images.githubusercontent.com/1396140/163755079-5f71abcc-24aa-4b89-8a49-b94ed2576ecd.png">

[2022-04-18 04:36] lb- commented on #8377
Thanks for raising this @dkirkham

[2022-04-18 04:41] lb- commented on #8334
@anujaraj what if we did something like

[code]

Then adjusted the colors manually as needed. Similar to how it is done in `client/scss/components/_help-block.scss`

My guess is you will need to do this in `client/scss/components/_bulk_actions.scss` - but that assumes it is  a bulk actions issue only.

[2022-04-18 05:10] lb- opened #8384 "Page Explorer within the Sidebar (menu) does not allow for cmd/ctrl+click"
### Issue Summary

* Since the new slim sidebar has been implemented, the ability to `cmd+click` or `ctrl+click` to open anything within the sidebar no longer appears to work. Or possibly this has been an issue for longer.
* As the links to pages or sub-page listings in this sub-menu are links, it would be expected they work as links and support control+click to open in a new window.
* Note: all o

[2022-04-18 05:43] lb- commented on #5411
Dom structure above based on https://www.w3.org/WAI/tutorials/page-structure/regions/

[2022-04-18 06:47] PaarthAgarwal commented on #8378
My branch was a few commits behind, which might have caused this. After fetching commits and rebuilding the frontend, it got fixed.

[2022-04-18 06:47] #8378 closed

[2022-04-18 06:49] lb- commented on #7558
Removing documents label as they work differently and probably best to keep this issue focused.

[2022-04-18 09:55] lb- commented on #8334
no need to close this bug, and my suggestion may not be the right place, just guessing based on the screenshot.
Keep trying to find a fix and then we can see how we go with that.

[2022-04-19 14:55] phildexter opened #8390 "Add Comment notifications back in"

[2022-04-19 20:35] #8373 closed

[2022-04-19 21:08] #7558 closed

[2022-04-20 09:06] brylie commented on #7767
Just a point for consideration: WordPress is fairly agnostic and flexible when it comes to front-end design, yet provides a user-friendly way to define custom, hierarchical navigation menus that can be integrated into front-end themes.

[2022-04-20 09:17] lb- commented on #8089
As per comment - https://github.com/wagtail/wagtail/pull/8152#issuecomment-1103677236

This feature would be helpful but the non-full DB support creates added complexity and moving parts that outweighs the benefits.

I will close this and the related issues for now, but we can reopen if condition/UniqueConstraint is supported by all DBs Django supports in the future.

Alternatively, there may be a

[2022-04-20 09:17] lb- commented on #8090
Closing as per comments
https://github.com/wagtail/wagtail/pull/8152#issuecomment-1103677236
https://github.com/wagtail/wagtail/issues/8089#issuecomment-1103680226

We may reopen in the future.

[2022-04-20 09:17] #8090 closed

[2022-04-20 09:17] lb- commented on #8088
Closing as per comments
https://github.com/wagtail/wagtail/pull/8152#issuecomment-1103677236
https://github.com/wagtail/wagtail/issues/8089#issuecomment-1103680226

We may reopen in the future.

[2022-04-20 09:17] #8088 closed

[2022-04-20 09:21] #8089 closed

[2022-04-20 09:32] zerolab commented on #496
Closing this as #6084 added audit logging for page models, then #7550, #7551 and #7557 extended it for other models.

Documentation: https://docs.wagtail.org/en/stable/extending/audit_log.html

[2022-04-20 09:32] #496 closed

[2022-04-20 09:41] zerolab commented on #1029
Closing in favour of #4973 / #5202

[2022-04-20 09:41] #1029 closed

[2022-04-20 09:43] zerolab commented on #4273
Closing in favour of #4973 / #5202

[2022-04-20 09:43] #4273 closed

[2022-04-20 09:45] zerolab commented on #3594
Closing in favour of #4973 / #5202

[2022-04-20 09:45] #3594 closed

[2022-04-20 09:53] zerolab commented on #947
#8069 adds support for image rendition prefetching and will be in 3.0.
@thenewguy see https://docs.wagtail.org/en/latest/advanced_topics/images/renditions.html#prefetching-image-renditions - this should do what your initial post was asking.
There is also #7225 which adds a convenience method on `ImageQuerySet`

[2022-04-20 10:01] lb- commented on #8367
https://github.com/wagtail/wagtail/pull/8361 - additional PR

[2022-04-20 10:02] zerolab commented on #1285
Not that we support global docs extensions via [`WAGTAILDOCS_EXTENSIONS]`(https://docs.wagtail.org/en/stable/reference/settings.html#wagtaildocs-extensions) via #6423

[2022-04-20 10:08] zerolab commented on #2177
Closing in favour of #7767

[2022-04-20 10:08] #2177 closed

[2022-04-20 10:11] zerolab commented on #1939
The anwer is "no" as of 3.0rc1 - [release notes](https://docs.wagtail.org/en/latest/releases/3.0.html#removal-of-special-purpose-field-panel-types)
Specifically #7684

[2022-04-20 10:11] #1939 closed

[2022-04-20 10:14] zerolab commented on #2480
Closing in favour of #4973 / #5202

[2022-04-20 10:14] #2480 closed

[2022-04-20 10:31] zerolab commented on #2457
That was done via #2461 / #4856. The template tag is `image_url`

[2022-04-20 10:31] #2457 closed

[2022-04-20 10:40] zerolab commented on #2261
#8284 adds duplicate detection in the multi-add view

[2022-04-20 10:47] zerolab commented on #3420
Do we have numbers on how many sites are on Wagtail < 1.8?
Can this be closed since we did not have more reports for 4+ years?

[2022-04-20 10:49] zerolab commented on #3672
This was fixed in #7385 and available in 2.16+

[2022-04-20 10:49] #3672 closed

[2022-04-20 10:52] zerolab commented on #3892
This is available as of 2.12 via [`WAGTAILIMAGES_IMAGE_FORM_BASE`](https://docs.wagtail.org/en/stable/reference/settings.html#wagtailimages-image-form-base)

[2022-04-20 10:52] #3892 closed

[2022-04-20 11:01] lb- commented on #3420
I think yes.

[2022-04-20 11:01] #3420 closed

[2022-04-20 11:11] zerolab commented on #5701
#7684 does away with most specialized field panels.

[2022-04-20 11:13] gasman commented on #5701
Yep, agreed.

[2022-04-20 11:13] #5701 closed

[2022-04-20 11:15] zerolab commented on #1903
Closing in favour of #5658

[2022-04-20 11:15] #1903 closed

[2022-04-20 11:15] zerolab commented on #5658
#1903 has some UX consideration re: updated_at

[2022-04-20 12:30] zerolab commented on #6150
#1033 is related (in that it is for `StreamField`s in general)

[2022-04-20 12:33] zerolab commented on #6599
Marking this as closed on the basis that #6699 added this and it is available since 2.14

[2022-04-20 12:33] #6599 closed

[2022-04-20 12:36] zerolab commented on #6575
The generic model audit log was added on #7550 / 2.15, and it should cater for a wide range of needs.

[2022-04-20 12:38] zerolab commented on #6505
@Warqus I believe this was fixed by #6699 and available in 2.15
Can you check/confirm?

[2022-04-20 12:47] zerolab commented on #7759
Note that as of #7984, alias pages will get deleted when `WAGTAILSIMPLETRANSLATION_SYNC_PAGE_TREE = True`

[2022-04-20 14:18] chosak commented on #1824
Can confirm this still exists in Wagtail 2.16.2, and Wagtail 3.0rc1.

Note as mentioned above (https://github.com/wagtail/wagtail/issues/1824#issuecomment-1058576046) this seems to prevent use of Django LiveServerTestCase when running with a PostgreSQL database, due to the way that it calls sqlflush.

Adding `"wagtail.contrib.search_promotions"` to `settings.INSTALLED_APPS` is a workaround but it

[2022-04-20 15:14] phildexter commented on #8341
+

[] Tooltip for secondary page menu three dots that says “Actions” on hover
[] Make the three dots actions menu part of the breadcrumb hover area when it’s open (so that it stays expanded), but not when it’s closed (so it doesn’t expand).

[2022-04-20 15:20] phildexter opened #8398 "Design review issues - Apr 19th"
List is [here](https://docs.google.com/document/d/1oihNQLOxp3pnJPgqVZdO0thxg9GVF1aEQBggw7di3ro/edit#)

[2022-04-20 15:21] phildexter opened #8399 "Design review issues - Apr 25th"

[2022-04-20 15:22] phildexter opened #8400 "Design review issue - Apr 27th"

[2022-04-20 15:32] OndraRehounek opened #8401 "PageChooser widget behaviour settings"
### Is your proposal related to a problem?

We are building Wagtail CMS for tens of (similar) sites and we are kind of struggling to manage content when we are selecting site in PageChooserPanel or PageChooserBlock. We are facing two obstacles we weren't able to resolve on our own.
 - Page size for chooser is hardcoded on admin.views.chooser:183
 - We canot prevent editors to select pages only for

[2022-04-20 16:42] #8376 closed

[2022-04-21 07:19] lb- commented on #8401
https://github.com/wagtail/wagtail-generic-chooser is a good option if you are trying to do more complex page choosing scenarios.

The plan is, eventually, to bring parts of that code into Wagtail core.

It might be a good chance for you to use that library and see if it fits your needs, if so please report back or otherwise raise an issue on that repo.

[2022-04-21 07:26] OndraRehounek commented on #8401
@lb- thank you very much! I will report back as soon as possible.

[2022-04-21 09:12] wimfeijen opened #8405 "Feature request for adding a caption to images in the library"
Hi,

As a mature CMS, I would like images to have captions by default.

I know I can create them using https://docs.wagtail.org/en/stable/advanced_topics/images/custom_image_model.html, but I believe Wagtail CMS would be more complete by supporting a caption field out of the box. The field would be optional, so not in the way.

I would be more than happy to write a pull request.

Thanks,

Wim

[2022-04-21 09:20] gasman commented on #8405
Hi @wimfeijen,
We've chosen not to do this for the default image model, for reasons detailed in https://github.com/wagtail/wagtail/issues/6034#issuecomment-629424087.

[2022-04-21 09:20] #8405 closed

[2022-04-21 09:40] lb- commented on #5408
@thibaudcolas this is flagged as fixed in the page editor project but issue is still open. Do you know if this has been fixed?

[2022-04-21 09:47] lb- commented on #8401
@OndraRehounek could you please put your specific use case and ideas on

https://github.com/wagtail/wagtail/issues/1250

I know that issue is older but it has a lot more context and comments and duplicates (I think) the same goal raised here.

[2022-04-21 09:47] #8401 closed

[2022-04-21 09:50] lb- commented on #1250
https://github.com/wagtail/wagtail-generic-chooser is a good option if trying to do more complex page choosing scenarios.

The plan is, eventually, to bring parts of that code into Wagtail core.

It might be a good chance for others to use that library and see if it fits your needs, if so please report back or otherwise raise an issue on that repo.

[2022-04-21 10:38] thibaudcolas opened #8406 "Feature request: expose Wagtail’s fonts as CSS variables"
### Is your proposal related to a problem?

In #7724, we changed Wagtail’s brand font to a system font stack. In #8043, we introduced a system font stack for monospace text as well. System font stacks are much harder to reuse consistently due to their length, so it’d be nice for us to simplify this.

### Describe the solution you'd like

We should make both font stacks available as CSS variables.

[2022-04-21 11:17] thibaudcolas opened #8408 "Feature request: UI component API for tabs"
### Is your proposal related to a problem?

We’ve recently re-implemented Wagtail’s tabs from a legacy Bootstrap widget, to a bespoke implementation following established patterns. One thing we haven’t been able to do as part of this re-implementation is creating a UI component API so tabs are easy to reuse without copy-pasting code. Right now, reusing tabs is still hard and error-prone.

### Desc

[2022-04-21 11:56] lb- commented on #8406
https://github.com/wagtail/wagtail/pull/8409 created

[2022-04-21 13:35] PvlKazchenok opened #8410 "When user have many roles wagtail-admin do not load"
### Issue Summary

We have a project that includes 11 sites, for each site we created roles such as Administartor Site N, Content Editor Site N, Content Manager Site N, and if I give for user 11 Content Manager roles wagtail-admin loads too long and even if it load, I got Server Error, when I try to get Pages. When creating a content manager, I give it rights not to the root of the site page, but

[2022-04-21 13:39] gasman commented on #8410
Hi @PvlKazchenok - please fill in the "steps to reproduce" section.

[2022-04-21 15:25] mgalofre opened #8412 "Translatable Django models (Modeladmin)"
### Is your proposal related to a problem?

Django models can't be translated like pages or snippets.

### Describe the solution you'd like

Add option to translate Django models (ModelAdmin) like pages or snippets.

### Describe alternatives you've considered

Use third-party plugin: wagtail-modeltranslation

### Additional context

(Write your answer here.)

[2022-04-21 16:44] anujaraj commented on #8334
Yes, so I think this particular checkbox element is in core.css. It has a svg that has a check mark which is called perfectly on clicking while in normal mode yet in windows high Contrast it doesn't work. Possible solutions I have tried
1) using @media forced-color : the issue I am facing is that I am unable to find the exact element in which I should incorporate the property
2) changing the svg a

[2022-04-21 19:43] lb- commented on #8408
Where does the existing `TabbedInterface` fit into this?

[2022-04-21 20:09] lb- commented on #8412
Hi @mgalofre thanks for the idea but I am pretty sure this is supported, you will just need to ensure your model uses `TranslatableMixin` as per the docs.

https://docs.wagtail.org/en/stable/advanced_topics/i18n.html#translatable-snippets

It could be clearer but this mixin can be used for any model and the modeladmin UI appears to have support for translations in the same way that snippets does w

[2022-04-21 20:31] thibaudcolas commented on #8408
`TabbedInterface` generates tabs from field panels, I believe it’s tied to the Panels API that’s specific to forms. I don’t think we’d want to refactor other usage of tabs to this kind of API as it would change the implementation drastically.

[2022-04-21 20:36] gasman commented on #8408
I think it would be the other way round - once a reusable implementation exists in HTML / Django template tags, the TabbedInterface panel's template can make use of it.

[2022-04-21 21:37] lb- commented on #8406
Smaller scoped version for 3.0 only @thibaudcolas  https://github.com/wagtail/wagtail/pull/8415

[2022-04-22 07:43] PvlKazchenok commented on #8410
Hi, @gasman. Im so sorry, the comment was changed

[2022-04-22 08:53] gasman commented on #8410
Thanks! Just to confirm - have you been able to reproduce the problem when starting from a new Wagtail project and following _just_ these steps? I just want to be sure that someone trying to fix the issue will be able to test it on their own machine by following the steps given, and that it doesn't depend on other things that haven't been mentioned (e.g. enabling localization, or hosting it on a p

[2022-04-22 09:53] PvlKazchenok commented on #8410
I have to test it, if be honest idk, but I think that it doesnt depend on localization or etc. It depends on counts of roles that user has and amount of permission that certain role include.
for example if user has 11 roles such as in second step - Server Error, if user has 10 roles - Server Error either, if user has 9 roles wagtail-admin keep loading so long, but no Server Error, if 8 roles wagta

[2022-04-22 10:52] hallpower commented on #8056
As this is being actively researched, I would like to add feature requests for the datepicker:
- ability to pick a date range
- ability to pick multiple dates

These options look interesting:
- https://shahabyazdi.github.io/react-multi-date-picker/
- https://www.npmjs.com/package/react-multi-date-picker

Above can be configured to only allow single choice as well.

[2022-04-22 10:54] mgalofre commented on #8412
Hi @lb-  thanks for your comment.

The TranslatableMixin seems to works well for my models.

The problem is on the modeladmin UI, because I can't see the translate options provided by simple_translation module. Another issue is that I can't see the language selector on the top of my ModelAdmin section, as I can see on Pages or Snippets sections.

I'm using the last Wagtail version (2.16.2) and wor

[2022-04-22 11:08] thibaudcolas commented on #8056
@hallpower thank you for the suggestions, could you provide more information about the use cases for this?

[2022-04-22 11:24] thibaudcolas opened #8419 "Combine all of Wagtail’s global and layout stylesheets into one"
This has been discussed by the UI team recently – creating an issue to outline our plans and collect any further feedback.

It’s hard to work with Wagtail’s UI in a component-driven approach when so many of Wagtail’s styles are spread across many stylesheets, loaded separately for different parts of the CMS – a component might work with the global stylesheets loaded, but fail when added on another

[2022-04-22 14:03] thibaudcolas commented on #8390
Done in #8392.

[2022-04-22 14:03] #8390 closed

[2022-04-22 15:12] thibaudcolas commented on #8055
Getting back to this as we’re almost ready to launch the revamped slim sidebar, I want to respond to a few more points:

We’re not forcing anyone to use the slim mode of the sidebar. The sidebar shows expanded by default, if someone wants to use the slim version they’ve consciously made that choice (and can change it again at any point in time).

Yes, on a 1024x768 viewport the legacy sidebar supp

[2022-04-22 18:18] irugoy commented on #2299
## Block Settings support (summary from [#7739](https://github.com/wagtail/wagtail/discussions/7739#discussioncomment-2432769))

While developing a new feature usually we feel the need of having kind of a "Settings" section at **block Level** inside the Streamfield, this is to avoid facing the Editors to lots of fields that are not really for content just block-configuration.

We usually have a bu

[2022-04-22 21:31] lb- commented on #8365
https://github.com/wagtail/wagtail/pull/8417

[2022-04-23 00:07] #8044 closed

[2022-04-23 03:32] hexedit commented on #7843
Up! Need this feature too.

[2022-04-23 04:15] havardox opened #8424 "Hard-coded purple/indigo color. Maybe a CSS variable instead?"
Currently, the sidebar and many other UI components use a hard-coded purple color as their background. This color doesn't work well with a variety of different color schemes. If you want to use something else besides purple, you have to manually override every CSS class that uses said hard-coded color.

I propose creating a new CSS variable, so this process of overriding would be less pain-inducin

[2022-04-23 10:10] zerolab commented on #8412
@mgalofre #7857 adds the internationalisation UI to modeladmin. Granted it doesn't automatically add any translate buttons yet, but you could add those yourself. This work is available in the 3.0 release candidate

[2022-04-23 10:19] zerolab commented on #7843
Hey @robmoorman @hexedit
I agree this would a be good enhancement for multi-siting. What would help is either a specification for the changes (i.e. how might this work), or a PR with an implementation ;)

[2022-04-23 13:27] hexedit commented on #7843
In theory: if there is a Locale attribute to for the site, we can set a specific locale, eg. `en-us` for `somesite.us`,  `de-de` for `somesite.de`, etc. And a middleware selecting current locale based on site-specific value. I think that's all that needed and the existing i18n implementation should work next?

[2022-04-23 20:15] hexedit commented on #7843
Found another issue with translation. Page slug is unique regardless of locale. It should be unique together with locale to support the behavior descibed above (a not only, I think page should be able to have the same slug for translations in all cases).

[2022-04-24 08:53] lb- commented on #8384
@Hitansh-Shah first steps might be to reproduce the issue in another browser or two. This way we can remove the unconfirmed label.

From here you can maybe dig into how we can fix.

[2022-04-24 15:03] benedictFaw commented on #4870
I had various problems trying to run a Vagrant/VirtualBox development environment hosted on Windows 11

I eventually got most things working by making a couple of changes to the vagrant-wagtail-develop repo.

However, there were still problems such as network socket errors and not being able to create symlinks on the Windows hosted shared folders.

This turned out to be due to permissions problems

[2022-04-24 21:22] tbrlpld opened #8425 "Original renditions not really original"
### Issue Summary

When uploading an animated WebP image to Wagtail and rendering it with the `original` option, the image is not animated anymore.

It appears that some conversion of the image is applied although the original is requested. I am not sure if this is a bug or if I am looking for a feature to by pass the image manipulation during rendition generation. E.g. a "copy" option, which only

[2022-04-25 01:11] chosak commented on #8425
Hi @tbrlpld - this reminds me of #3210. On that issue there's a comment https://github.com/wagtail/wagtail/issues/3210#issuecomment-285027754 (albeit from 2017, so may warrant reconsideration) with a recommended workaround to use `image.file.url` as a way to serve the raw, original image, bypassing any Wagtail rendition code. Would this work for your purpose?

[2022-04-25 01:27] havardox opened #8426 "RichTextEditor inline features should have class identifers applied"
Block features have class identifiers in the form of `Draftail-block--<block type>`. But why don't inline features have any? When creating a custom inline feature, I would maybe want to include some external CSS to style it. Right now, it's impossible, because the editor assigns no class to target it.

I propose creating inline feature classes similar to block classes. Maybe `Draftail-inline--<inl

[2022-04-25 04:58] tbrlpld commented on #8425
Wow. Thanks @chosak, that issue describes what I was thinking but way more eloquent and succinctly! Thank for the pointer! I somehow missed that one in my search.

My issue is also fairly similar. I only started thinking of animated WEBP after GIF resizing with Wand was crashing my containers and servers.

I guess the `image.file.url` work around should work. It will just require a custom image mo

[2022-04-25 04:58] #8425 closed

[2022-04-25 06:17] havardox commented on #2309
Any updates on this?

[2022-04-25 07:06] mgalofre commented on #8412
@zerolab I'll check it! thanks :smile:

[2022-04-25 09:45] thibaudcolas commented on #8063
Adding to the list – personally I find it very confusing that the "Search" feature in the sidebar looks exactly like all other menu items, even though it’s actually a form. Here is the design shipping with Wagtail 3.0:

![search-form-design](https://user-images.githubusercontent.com/877585/165064132-d974332a-273c-406e-b835-4c0d49f3a428.png)

The part that trips me up in particular is the icon - th

[2022-04-25 12:15] ChesterFourDigits commented on #1288
Has there been an update regarding this issue? I couldn't find a reference in the page editor project.

[2022-04-25 16:16] thibaudcolas commented on #8426
Hi @havardox! Good question, though the answer is pretty straightforward – it’s because our editor doesn’t support it. So I’ll close this on that basis.

- Text can only have one block at a time, so classes work well for that, and it supports classes.
- There can be an arbitrary number of inline styles on a given piece of text, so rather than classes the editor uses inline styles (which can be mer

[2022-04-25 16:36] havardox commented on #8424
Here's some examples:
<img width="960" alt="example-1" src="https://user-images.githubusercontent.com/19144650/165132182-5bf33a69-414f-49ef-bd26-acc24600aa93.png">
<hr>
<img width="960" alt="example-2" src="https://user-images.githubusercontent.com/19144650/165132185-b222c5e2-a577-4ee2-9646-1f4a0b421379.png">
<hr>
<img width="960" alt="example-3" src="https://user-images.githubusercontent.com/1914

[2022-04-25 16:42] KalobTaulien opened #8428 "Avatar image cropping doesn't render as a square when uploaded avatar image isn't a perfect square."
### Issue Summary
When uploading a new user avatar and the image is not a perfect square, the image gets cut off and doesn't display properly.
![image](https://user-images.githubusercontent.com/4743971/165134303-7ffa296e-2a2f-4819-af13-ec05af6d4613.png)

### Steps to Reproduce

1. Open your user settings.
2. Upload a non-square image and save
3. Renditions don't show up as squares (rounded by CSS)

[2022-04-25 16:47] Tijani-Dia opened #8429 "Allow images to be sorted by different fields"
### Is your proposal related to a problem?

Currently, images are sorted in reverse chronological order in the images index view and a user can't change this behaviour.
### Describe the solution you'd like

Allow images to be sorted by title, date or file_size.

[2022-04-25 18:14] sandilsranasinghe commented on #8339
Can I work on this?

[2022-04-25 19:01] hazho opened #8432 "Even superadmin don't have permission to a maysterious area "when copying a page into itself" !"
When copying a page into itself the view raises an error and include it in message notification telling that "you don't have permissions to access this area" Even if the user is superadmin and the area is not known "maysterious area"

* I have confirmed that this issue can be reproduced as described on a fresh Wagtail project

### Technical details

* Python version: 3.9.
* Django version: 4.04
*

[2022-04-25 19:04] hazho commented on #8432
![image](https://user-images.githubusercontent.com/20362375/165156590-d4fe9c22-f9ae-4144-ac34-01fce18a6c6f.png)
![image](https://user-images.githubusercontent.com/20362375/165156670-12482062-91e3-476a-ab4f-5a261d966c6b.png)

[2022-04-25 19:04] hazho commented on #8432
![image](https://user-images.githubusercontent.com/20362375/165156797-3a08c0a0-be68-4596-8b10-9d09832c8b08.png)

[2022-04-25 21:53] lb- commented on #2309
I have messaged the core team to see where this is at and if there is any capacity for this to be included in some Google Summer of Code scope.

OR alternatively, we may try to get this into a clearer picture for anyone to contribute to.

[2022-04-25 21:58] lb- commented on #1288
I am not aware of a specific update, beyond what is already linked above.

At the moment, the 3.0 release does not contain too many JS changes, but there have been smaller tweaks made to how we load JS, including in some templates.

See the latest 3.0 changes - https://github.com/wagtail/wagtail/discussions/7739#discussioncomment-2615089 (pertaining to page editor).

If you have some time, it woul

[2022-04-26 10:43] PaarthAgarwal commented on #7986
I'm stuck. @lb-, please help me on how to move ahead with this issue 😓

[2022-04-26 11:00] lb- commented on #7986
@PaarthAgarwal talk through what you have tried and where you go stuck. I'll be offline from now until tomorrow morning my time but can read through and see if I can help.

Happy for you to DM me on Slack also if you want.

[2022-04-26 11:22] PaarthAgarwal commented on #7986
Alright✌️

[2022-04-26 12:57] thibaudcolas commented on #2309
I don’t think there’s much of an update on this aside beyond what the comments furthe rup already covers. No one is actively blocked from doing anything by the lacklustre design of the login screen, and we don’t have any sponsors lining up to fund this particular development – so this is low-priority compared to other UI improvements in the CMS, and will only move if someone steps up with a clear

[2022-04-26 17:00] Hitansh-Shah commented on #8384
Hey @lb- , I confirmed that the issue persists in chrome, firefox and brave. I will start digging in to see what is causing the bug.

[2022-04-26 20:42] lb- commented on #8384
@Hitansh-Shah  ok no problems, but this will be very likely the core structure of the `Button.tsx` component, we may be able to find a work around (e.g. allow the command/control click event to pass through) but we may want to rework that component.

I recommend starting on a simple fix first and be ready to get into the React world for this one.

[2022-04-27 10:06] thibaudcolas commented on #8408
Potential addition to my initial request – we’d also ideally want official support for code executing on tab changes. Right now I believe we have a few internal DOM events to do this, or MutationObserver can be used.

Example use case: https://github.com/torchbox/wagtail-markdown/issues/98

[2022-04-27 14:34] Hitansh-Shah commented on #8384
Hey @lb- . I made some changes in `Button/tsx` but how do I test them out?

[2022-04-27 20:26] thibaudcolas commented on #4798
FYI for people still interested in this, we’re considering bringing this in as part of the [Page editor 2022](https://github.com/wagtail/wagtail/discussions/7739) project, as part of general chooser improvements. Follow this discussion thread for upcoming updates / requests for feedback about choosers.

[2022-04-27 20:26] thibaudcolas commented on #381
FYI for people still interested in this, we’re considering bringing this in as part of the [Page editor 2022](https://github.com/wagtail/wagtail/discussions/7739) project, as part of general chooser improvements. Follow this discussion thread for upcoming updates / requests for feedback about choosers.

[2022-04-27 20:28] thibaudcolas commented on #1717
FYI for people still interested in this, we’re considering bringing this in as part of the [Page editor 2022](https://github.com/wagtail/wagtail/discussions/7739) project, as part of general chooser improvements. Follow this discussion thread for upcoming updates / requests for feedback about choosers.

[2022-04-27 20:28] thibaudcolas commented on #396
FYI for people still interested in this, we’re considering bringing this in as part of the [Page editor 2022](https://github.com/wagtail/wagtail/discussions/7739) project, as part of general chooser improvements. Follow this discussion thread for upcoming updates / requests for feedback about choosers.

[2022-04-27 20:28] thibaudcolas commented on #654
FYI for people still interested in this, we’re considering bringing this in as part of the [Page editor 2022](https://github.com/wagtail/wagtail/discussions/7739) project, as part of general chooser improvements. Follow this discussion thread for upcoming updates / requests for feedback about choosers.

[2022-04-27 20:29] thibaudcolas commented on #909
FYI for people still interested in this, we’re considering bringing this in as part of the [Page editor 2022](https://github.com/wagtail/wagtail/discussions/7739) project, as part of general chooser improvements. Follow this discussion thread for upcoming updates / requests for feedback about choosers.

[2022-04-27 20:29] thibaudcolas commented on #4008
FYI for people still interested in this, we’re considering bringing this in as part of the [Page editor 2022](https://github.com/wagtail/wagtail/discussions/7739) project, as part of general chooser improvements. Follow this discussion thread for upcoming updates / requests for feedback about choosers.

[2022-04-27 20:32] thibaudcolas commented on #5408
@lb- we’re using this "Fixed" status to indicate existing issues we’re expecting to have fixed by the completion of the project, not the current state of issues. Right now for this I’m expecting the fix will ship in the August 2022 release.

[2022-04-27 21:00] thibaudcolas commented on #3141
I believe this is a duplicate of #381? There is StreamField discussion on there, and even if this existed outside StreamField, I presume it would be simple to use within a block as well. Will close on that basis – if I got this wrong please let me know and we’ll reopen.

[2022-04-27 21:00] #3141 closed

[2022-04-27 22:58] thibaudcolas commented on #8063
We’ve discussed this in the weekly page editor design review meeting with @benenright and @phildexter. We’re quite keen to replace the search field with a link, for the following reasons:

- Visually in the latest design, the form looks identical to other menu items. So it’s odd it behaves differently.
- Having the form’s "Submit" button to the left helps with the scan-ability of the menu items, b

[2022-04-27 23:01] SalahAdDin commented on #909
I has been a long time.... oh oh ooh oh...

[2022-04-28 01:14] #8311 closed

[2022-04-28 07:06] lb- commented on #5408
Ok.  That name is a bit confusing then. But all good - maybe we should use 'planned'

[2022-04-28 08:15] thibaudcolas commented on #5408
Yeah I had a hard time thinking of a good name. "Planned" doesn’t feel right to me either – we tend to plan work in chunks of features only, while those "Fixed" issues are just there as a reference to re-check (and if all is well close them) further down the line.

[2022-04-28 10:19] gasman commented on #8424
I'd like to push to get this into 3.0 final if possible - the purpose of introducing CSS variables was to allow overriding the primary colour scheme, and if Wagtail 3 has effectively introduced the purple/indigo as a new primary colour, not having a CSS variable for it seems like an oversight.

[2022-04-28 12:31] thibaudcolas opened #8449 "On mobile viewports, banner messages push the sidebar toggle out of position"

[2022-04-28 12:32] thibaudcolas commented on #8341
Closing – created https://github.com/wagtail/wagtail/issues/8449 for the last remaining item.

[2022-04-28 12:32] #8341 closed

[2022-04-28 12:32] thibaudcolas commented on #8399
Closing – all remaining items are should & could and have been converted to separate issues for ease of tracking.

[2022-04-28 12:32] #8399 closed

[2022-04-28 12:33] #8398 closed

[2022-04-28 13:02] thibaudcolas commented on #8424
This strikes me as a change that would require some consensus before we proceed, so ideally deferred to Wagtail 4.0 or beyond. Our CSS variables setup for colors wasn’t satisfactory even before this change of sidebar color, and it’d be nice for us to have proper time to consider naming (right now we’re using a mixture of brand, descriptive, and semantic names, which feels confusing).

@havardox th

[2022-04-28 13:15] thibaudcolas commented on #8035
Thank you for the report @jessemenn! Should hopefully be fixed in Wagtail 3.0 final via #8447.

[2022-04-28 14:01] gasman commented on #8424
I disagree. The ability to customise colour schemes was [an advertised feature of Wagtail 2.12](https://docs.wagtail.org/en/stable/releases/2.12.html#admin-color-themes). Adding a new non-customisable colour means that it's no longer possible to do that satisfactorily, so it's a regression from previous behaviour - fixing it shouldn't be a contentious decision.

I don't know the background to why

[2022-04-28 14:38] thibaudcolas commented on #8424
What we introduced in Wagtail 2.12 is the customisation of the primary teal only, all the other colors with CSS variables are meant to be hues derived from it. We’ve had all other colors in the CMS hard-coded so far, and in particular the color scheme of the sidebar has always been specific to the sidebar, and hard-coded.

We’ve discussed this multiple times in UI team meetings over the last 3 mon

[2022-04-28 14:57] m-aciek commented on #6066
Hi, any updates on that?

It forces API users to enable DRF browsable API, otherwise there's an error raised, see https://stackoverflow.com/questions/61961099/wagtail-api-v2-django-template-exceptions-templatedoesnotexist.

[2022-04-28 21:52] lb- commented on #8185
Moving this to an enhancement and adding other labels

[2022-04-28 22:20] lb- commented on #2203
Similar to - https://github.com/wagtail/wagtail/issues/1717 (called out in the description but doesn't seem to be linked)

[2022-04-28 22:23] lb- commented on #5408
Good call on the goal of ensuring that others do not try to pick up an issue to work on. I can't think of anything better than 'Fixed' myself. Thanks Thibaud

[2022-04-28 22:24] RandomJo opened #8453 "Prompt the user about unsaved changes for snippets"
### Describe the solution you'd like

It would be great if the check for unsaved changes could happen for snippets like it does for pages in Wagtail.

### Describe alternatives you've considered

I was able to get this working in my project by overriding the snippet edit and create template files. Here's an example with the create template:

[code]

This would be more resilient though if the creat

[2022-04-29 10:33] #8035 closed

[2022-04-29 10:59] th3hamm0r opened #8458 ""Sort menu order" button even with missing permissions"
### Issue Summary

Currently, the "Sort menu order"-button in the "more buttons"-dropdown is shown to users, which aren't allowed to change the order. Normally that's not a big issue, because clicking the link, which appends `?ordering=ord`, doesn't allow the user to change the order (drag&drop). But it still triggers the adapted view where all pages are rendered in one listing, so that could be a

[2022-04-29 12:51] #8400 closed

[2022-04-29 13:00] thibaudcolas commented on #8384
Fixed in #8459. Sorry @Hitansh-Shah, we were keen to get this fixed in the upcoming release so had to take over.

[2022-04-29 15:44] thibaudcolas commented on #8424
First draft from @stevedya: #8457

This needs further tweaking and I think we could use more feedback from people interested in this on which of the following we’d go for:

1. Switching the existing single color customisation to target indigo rather than teal
2. Introducing another single color customisation for indigo (and its accent), in addition to what we’re doing with teal (kept as-is)
3. Int

[2022-04-29 15:46] thibaudcolas opened #8461 "Footer actions icons are too close to the text"
#8456 fixed the vertical centering of the icons. Unfortunately there is another issue with the lack of a gap between icon and text. I’m not sure where that regression comes from.

![footer-actions-icons](https://user-images.githubusercontent.com/877585/165976055-713fcbae-472c-472c-93f4-8003a89ed1fe.png)

[2022-04-29 16:25] thibaudcolas opened #8462 "Tippy.js warning message in the console"
The functionality seems to be working as expected but worth having a look:

![tippy-warning](https://user-images.githubusercontent.com/877585/165984839-0071a4a1-589f-419d-9c53-5d0efdf4b356.png)

[2022-04-29 16:35] thibaudcolas opened #8463 ""Draft page" icon renders with cropped text in Safari"
![draft-page-safari](https://user-images.githubusercontent.com/877585/165985708-0a96031e-6a89-44f6-9258-35a17d6cce9c.png)

Looking as expected in Chrome and Firefox, but looks too large and cropped as per the screenshot. Tested in Safari 15.4, Wagtail 3.0rc3.

[2022-04-29 16:40] thibaudcolas opened #8464 "Update moderators’ approval message and icon to latest designs"
This is what we have in Wagtail 3.0rc3:

![moderators-approval-message](https://user-images.githubusercontent.com/877585/165987183-84c287ed-3f59-41ef-8f96-570cded5ceb0.png)

And here is the icon and message in use in the page editor designs:

![designs-moderator-approval](https://user-images.githubusercontent.com/877585/165987215-55d1557c-9d8d-4666-bc3f-a160d0574be6.png)

[2022-04-29 16:44] thibaudcolas opened #8465 "Invisible button in info/status side panel"
Spotted in Wagtail 3.0rc3. Looks like we might need to add a `{% if %}`, though I didn’t check the template.

![invisible-button](https://user-images.githubusercontent.com/877585/165987627-65678615-fbff-48ad-ae65-fde634252763.png)

[2022-04-29 16:46] thibaudcolas opened #8466 "Info/status side panel locales switcher throws an error in the console"
Error message:

[code]

This switcher:

![locales-switcher](https://user-images.githubusercontent.com/877585/165988047-8c14806d-1c71-4768-bbc4-01e89843b078.png)

Tested in Wagtail 3.0rc3, Firefox

[2022-04-30 07:45] onno-timmerman opened #8470 "Automatic redirects"
Shouldn't this need to change for wagtail 2.16 ? I thought it was automatic redirects from 2.16

https://docs.wagtail.org/en/v2.16.2/reference/pages/model_recipes.html#have-redirects-created-automatically-when-changing-page-slug

[2022-05-02 13:51] gasman opened #8471 "Visual regressions in 3.0rc3"
There seems to be several visual regressions in this release compared to rc2

wagtail 3.0rc2
![admin-images-3 0rc2](https://user-images.githubusercontent.com/1385253/166097400-c12dd438-f61b-493f-8dc2-fb7deafe4fce.png)

wagtail 3.0rc3
![admin-images-3 0rc3-annotated](https://user-images.githubusercontent.com/1385253/166097423-0e04babf-035e-44af-84bc-2b566859069f.png)

1. Line height issue in the si

[2022-05-03 08:56] PaarthAgarwal commented on #7986
I found out that `django-sendfile` is no longer used as dependency in our project since the implementation of  https://github.com/wagtail/wagtail/pull/1363 as a part of the 1.0 release. Earlier it used to be present in `setup.py` as a requirement, but now it has moved to https://github.com/wagtail/wagtail/blob/main/wagtail/utils/sendfile.py. Maybe we no longer need to replace it as we use our own

[2022-05-03 11:26] gasman commented on #8470
Thanks for reporting! This has been removed from the docs in #7977.

[2022-05-03 11:26] #8470 closed

[2022-05-03 13:51] thibaudcolas opened #8474 "Change sidebar’s account sub-menu to a link"
### Is your proposal related to a problem?

As of Wagtail 3.0, the sidebar looks like this:

![wagtail-30-sidebar](https://user-images.githubusercontent.com/877585/166465042-9df2d836-c8a8-42a3-b421-521a483ed8d8.png)

We’ve discussed changing the search form to a link in #8063. A natural extension of this idea would be to do this for the "Account" sub-menu as well, for similar reasons. Primarily –

[2022-05-03 13:53] thibaudcolas commented on #8474
Assigning this to @stevedya for the time being but also marking as "Needs Design Decision" – we need to get further validation of whether this is actually a good idea.

[2022-05-03 13:54] thibaudcolas commented on #8063
Marking this as "Needs Design Decision" alongside #8474 so we collate more feedback on this.

[2022-05-03 14:00] Scotchester commented on #8063
While I appreciate the current issues with the design, I think it would be disappointing to not be able to search from anywhere in the admin without a page load to get to the search page. I feel like searching from a field on every page in the admin is pretty core functionality in any kind of application like this.

My preference would be to restore the design of the Search item in the sidebar to

[2022-05-03 14:21] thibaudcolas commented on #8463
Can’t reproduce this anymore, neither can @stevedya, so I’ll assume this was a caching / user error issue on my part and close.

[2022-05-03 14:21] #8463 closed

[2022-05-03 14:47] allcaps commented on #8063
This is one of these issues that has a lot of pros and cons. The extra page load is certainly not nice. But I agree with @thibaudcolas that the proposed changes will solve the most issues.

I always found a double search input (in the menu and on the search result page) weird and confusing. Especially because the search result page input field has live search (direct search without pressing enter)

[2022-05-03 21:32] thibaudcolas opened #8475 "Add new dialog UI component"
This brand new component is a wrapper around [a11y-dialog](https://github.com/KittyGiraudel/a11y-dialog). This ticket is only about the UI implementation of the generic component, not individual modals. [Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=2098%3A32512)

Reference screenshot with two variants:

![Image](https://user-images.githubusercontent.

[2022-05-03 21:45] thibaudcolas opened #8476 "Modal - workflow status"
Based upon #8475. Re-implements the existing workflow modal with the new component and new styles. [Design link](https://www.figma.com/proto/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?page-id=2649%3A26957&node-id=5172%3A30775&viewport=386%2C48%2C0.5&scaling=min-zoom&starting-point-node-id=5172%3A31712&hide-ui=1)

Reference screenshot:

![Image](https://user-images.githubusercontent.com/877585/16

[2022-05-03 22:05] thibaudcolas opened #8477 "Modal - scheduled publishing"
Based upon #8475. Re-implements the existing workflow modal with the new component and new styles. [Design link](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=2098%3A32250)

Reference screenshot:

![Image](https://user-images.githubusercontent.com/877585/166572204-6018be0d-1585-45ad-a3b0-6a570c0c7dab.png)

## Expected components:

- Trigger
- Dialog from #8475
- (

[2022-05-03 22:31] thibaudcolas opened #8478 "Modal - Set privacy"
Based upon #8475. Re-implements the existing set privacy modal with the latest designs. [Design link](https://www.figma.com/proto/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?page-id=2649%3A26957&node-id=5172%3A30775&viewport=386%2C48%2C0.5&scaling=min-zoom&starting-point-node-id=5172%3A31712&hide-ui=1).

Reference screenshot:

![Image](https://user-images.githubusercontent.com/877585/166582759-60

[2022-05-03 22:43] thibaudcolas opened #8479 "Design review – Update Wagtail bird logo"
Need updated logo and bird tail – SVG update based on latest design?

[2022-05-04 08:36] tomdyson commented on #7112
I've changed the setting from this:

![screenshot 2022-05-04 at 09 33 01](https://user-images.githubusercontent.com/15543/166647475-1bc6a5ef-c2cb-492b-af3c-936be5e6a5ed.png)

to this:

![screenshot 2022-05-04 at 09 33 21](https://user-images.githubusercontent.com/15543/166647485-8ef4645f-216f-4e6b-994e-8090a835fd59.png)

[2022-05-04 11:12] loicteixeira commented on #7112
Perfect thanks. I'll do a few tests and update/close the issue accordingly.

[2022-05-04 11:25] gasman opened #8480 "Generic chooser views"
Introduce a `wagtail.admin.views.generic.chooser` module to serve as a common base implementation for chooser modals. This can be loosely based on [wagtail-generic-chooser](https://github.com/wagtail/wagtail-generic-chooser) but should incorporate improvements as outlined in https://github.com/wagtail/wagtail-generic-chooser/issues/44: in particular, using the table UI component for listing views,

[2022-05-04 12:08] allcaps commented on #8063
We have discussed this issue in the core team meeting.

- Thanks to everybody who contributes to the discussion.
- We like to give people time to respond to this issue.
- There is consensus that a full page load before search is undesirable.

We where with a small group and will put it on the agenda for next week.

[2022-05-04 12:29] onno-timmerman opened #8481 "switching language and pagination"
### Issue Summary
When you are at page number (example 12) and want to switch to other language for the same page. Then you have to start at page 1 and click again next next next to get to page 12.

### Steps to Reproduce
have a page where children are displayed. Maybe a couple hunderd pages.
swith language in admin you will always start at page 1. I would expect that the page param is rememberd.

[2022-05-04 13:40] thibaudcolas opened #8483 "Activating a tab based on the URL hash should also set focus to the corresponding tabpanel"
### Is your proposal related to a problem?

In the Wagtail admin interface, for tabbed UIs, we create links to specific tabs like: `http://mywagtail.example.com/admin/pages/60/edit/#tab-settings`. When a user loads the page with a link containing a tab URL hash (`#tab-settings`), we then activate the corresponding tab. But we keep focus at the top of the document, which is unexpected.

### Describ

[2022-05-04 13:49] thibaudcolas opened #8484 "Moderation workflow timeline steps should be distinguishable with other means than color"
### Issue Summary

In our moderation workflows for pages, we use a timeline component so users can tell what steps a page has to go through before being published. This timeline component is too dependent on color for users to understand which step the page is currently at:

![timeline-bw](https://user-images.githubusercontent.com/877585/166694161-339394cd-16cb-4798-a73b-ca522977044e.png)

Here, t

[2022-05-04 14:30] phildexter commented on #8480
1. We can choose basic Snippets using the new chooser (from the chooser widget or a streamfield block).
2. We can create a new Snippet through the new chooser (from the chooser widget or a streamfield block).
3. We can search for a Snippet through the new chooser (from the chooser widget or a streamfield block).
4. We can filter objects through the new chooser.
5. We can do 1-4 for documents.
6. W

[2022-05-05 08:36] phildexter opened #8487 "Chooser - 1 - We can choose basic Snippets using the new chooser (from the chooser widget or a streamfield block)."

[2022-05-05 08:36] phildexter opened #8488 "Chooser - 9 - Documentation on how to extend the choosers"
[Child of this parent ticket](https://github.com/wagtail/wagtail/issues/8480)

[2022-05-05 09:20] lb- commented on #8432
@hazho this worked fine for me, I could copy a page onto itself, where the new copy would be a 'child' of the page that is being copied.

Please can you provide more detail to reproduce, for now I think we can close this based on the steps provided.

[2022-05-05 09:20] #8432 closed

[2022-05-05 09:36] lb- opened #8490 "Bulk Actions - Ability to use modifier (shift) + click to select multiple items at once"
### Is your proposal related to a problem?

When using Gmail, Google Drive, or Jira - bulk select provides an intuitive way to select multiple adjacent items at once with the keyboard `shift` + click modifier.

When doing the same action with Wagtail's bulk actions, the checkboxes are not all selected and the text between the last checked item and the just checked item gets highlighted.

![Screen

[2022-05-05 09:48] lb- commented on #8063
I would also like to suggest we keep the field input, it does create a few UI headaches to work around but provides a much better experience in my opinion.

Clicking search and then having to type in the field (even if the focus is taken directly to the field on load) feels a bit jarring to me.

[2022-05-05 09:56] lb- commented on #7986
@spapas please advise what you are requesting on this issue, from what I can see based on the investigation from Paarth above, we do not use that dependency directly but instead have a custom version that allows any sendfile backend to be used.

Our documentation does say `django-sendfile` but it is not actually used directly, but to be fair it is a bit confusing and maybe something could be clear