[2022-05-05 10:16] spapas commented on #7986
@lb- first of all yes it's the docs. You cant' recommend people to use an *unsupported* package.

Then, see this file https://github.com/wagtail/wagtail/blob/b356fe683f49c37b9ba8838747602a5c5ecc892b/wagtail/utils/sendfile.py ; notice this has been copied from the obsolete sendfile. The current one (if we still want to copy) is this one: https://github.com/moggers87/django-sendfile2/blob/main/djang

[2022-05-05 10:21] lb- commented on #7986
ok that makes a bit more sense, I will re-write the issue description and title to be clearer.

[2022-05-05 10:31] lb- commented on #7986
@spapas  please review the updated description and confirm this covers what you are expecting.

Note that the issue templates really do help when requesting enhancements.

[2022-05-05 10:42] lb- commented on #8334
@anujaraj let's get to the bottom of this.

* When you say `core.css` do you mean this file `client/scss/core.scss` or do mean the bundled `core.css` (not scss).
* Can you provide any screenshots of what you have tried, even in the browser tools?
* From my digging, it looks like this could be a global checkbox styling issue  and needs to be fixed in `client/scss/elements/_forms.scss` - can you con

[2022-05-05 11:44] anujaraj commented on #8334
@lb-
I have inspected the checkbox and I think its inside core.css (the main one):
input[type=checkbox]:before {
    font-family: wagtail;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: -5px;
    cursor: pointer;
    display: block;
    content: "";
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #e6e6e6;

[2022-05-05 12:53] thibaudcolas commented on #8406
Based on recent UI team discussions, we’re going to be implementing this with CSS variables as described above. There are two open questions before we proceed with LB’s #8409:

- Are we ok with `w-` as the prefix for our CSS variables, to indicate they are related to Wagtail? This would be used for font-related variables, but also ideally all future CSS variables we’d introduce. There aren’t neces

[2022-05-05 20:32] stevedya commented on #8462
This will be addressed as part of #8468

[2022-05-05 21:43] #4732 closed

[2022-05-05 21:55] lb- commented on #7849
This has been resolved in Wagtail 3.0 with the adoption of `FieldPanel` for all scenarios.

See https://docs.wagtail.org/en/latest/releases/3.0.html#removal-of-special-purpose-field-panel-types
See `FieldPanel` accepts optional `header` https://docs.wagtail.org/en/latest/reference/pages/panels.html#wagtail.admin.panels.FieldPanel

### Example
[code]

<img width="1646" alt="Screen Shot 2022-05-06 a

[2022-05-05 21:55] #7849 closed

[2022-05-05 22:13] lb- commented on #8406
I personally do not see the benefit compared to the added complexity of the 'official' value.

However, we should allow for malformed custom properties to be set and always use a default (in SCSS/Tailwind). Note: I am not sure how this would adapt to Tailwind, and at the moment we will likely need to duplicate a bit across both which is not ideal.

## Example A - using a default value that itself

[2022-05-06 06:09] allcaps commented on #6235
For a client we use Wagtail as an intranet. Being able to override the queryset would be helpful.

[2022-05-06 09:12] syyong opened #8493 "URL editing popout is hidden in rich text edit panel"
### Issue Summary

UI bug in the Wagtail admin. On our orderable edit panel, when a user is editing a URL in a richtext on the final line, the URL editing popout is almost impossible to interact with. The popout is "below" the boundary of the block/orderable bounding element:
![Screenshot 2022-05-06 at 10 25 16](https://user-images.githubusercontent.com/12908907/167105107-50fb45bb-693d-4819-9d33-5

[2022-05-06 09:34] gasman commented on #8493
Thanks for the report! I've been able to replicate the issue on [bakerydemo](https://github.com/wagtail/bakerydemo/) by editing the BlogPeopleRelationship class in bakerydemo/blog/models.py as follows:

[code]
![Screenshot 2022-05-06 at 10 33 39](https://user-images.githubusercontent.com/85097/167106462-f078c8fa-0486-4f1d-b948-bf2fcd5559f1.png)

then running `manage.py makemigrations` / `manage.py

[2022-05-06 13:33] gasman commented on #8487
closing - created in error

[2022-05-06 13:33] gasman commented on #8488
closing - created in error

[2022-05-06 13:33] #8488 closed

[2022-05-06 14:35] thibaudcolas commented on #8461
Fixed in #8467.

[2022-05-06 14:35] #8461 closed

[2022-05-06 14:55] thibaudcolas commented on #8465
Fixed in #8492.

[2022-05-06 15:11] thibaudcolas commented on #8462
Fixed in #8468.

[2022-05-06 15:11] #8462 closed

[2022-05-06 21:51] thibaudcolas commented on #8138
Prototype: check! https://github.com/thibaudcolas/wagtail-fork/pull/4.

I will keep this issue opened while we gather feedback, but would recommend people comment on https://github.com/thibaudcolas/wagtail-fork/pull/4 directly so it’s all in one place.

[2022-05-06 23:32] lb- commented on #8180
See related enhancement to mark form as spam (or more generically 'flagged').

https://github.com/wagtail/wagtail/issues/6019

[2022-05-07 00:54] hazho commented on #6019
I am with the Flagging idea, but against the honeypot or recapcha, as in many use cases, the client wants to not miss any submissions, but flagging the multiple selected items as spam and to be shown in a secondary tab or even a new view by clicking on a button like (show spams) to open a new browser tab with a list of flagged submission items, and from there, providing some features to deal with

[2022-05-07 10:47] vibhuti019 commented on #8180
Can we implement this using tags ?

[2022-05-09 03:08] lb- opened #8499 "Upgrade to Node 18 & formally adopt FNM - (Post Wagtail 4.0)"
### Is your proposal related to a problem?

* In October 2022 Node 18 will become LTS - https://nodejs.org/en/blog/announcements/v18-release-announce/
* To help us ensure we do not stagnate our Node version, we should pre-empt this and move to Node 18 for the release that will come out after October.

### Describe the solution you'd like

* Formalise usage of `fnm` over `nvm` - for simplicity, we

[2022-05-09 07:02] lb- commented on #8180
Not really, tags are more general purpose and are mainly mean to be added in the admin UI.

I also think that flagging and archiving are different things.

Archiving - means it does not show in any default exported lists, index pages etc and must be explicitly requested to show
Flagging - a generic means to highlight a form response that has been received, either automatically (maybe via recaptha)

[2022-05-09 08:12] RealOrangeOne commented on #6019
Native recapcha could be _cool_, but I agree it's probably not necessary. https://github.com/springload/wagtail-django-recaptcha exists and works really well for that if people want it.

[2022-05-09 08:39] lb- commented on #6019
I might reword this into a more generic - 'flag' solution.

This could be used for spam or even maybe starring for later.

AbstractFormPage could set a default (or just a class method to determine default) on submission.

The purpose of this could be for spam or something else but it means that this is built into the reporting/ index listing mechanism.

[2022-05-09 11:22] gasman commented on #8377
Fixed in #8456.

[2022-05-09 11:22] #8377 closed

[2022-05-09 12:15] th3hamm0r opened #8500 "Comment-Overlays outside the view in the new Page Editor"
### Issue Summary

On long editor pages, when you've scrolled down, clicking on the comment icon of any block in the current view opens the comment-overlay, but you have to scroll up to find it somewhere.
Further, if you click somewhere on these overlays (e.g. the text field), they jump up/down depending on your scroll position.

### Steps to Reproduce

1. Start a new project described [here](http

[2022-05-09 15:15] david-morris opened #8502 "Preview Broken if localhost not in django ALLOWED_HOSTS"
### Issue Summary
I get a DisallowedHost error instead of the preview when I request a preview without `localhost` in `ALLOWED_HOSTS`.

This error is on the second request that comes through my middleware, and happens with `http://localhost/pages/<myslug>` rather than `http://<myCMSdomain>/<postID>/edit/preview/`, so I think that a request is being fired off to localhost from the backend.

### Ste

[2022-05-09 15:39] gasman commented on #8412
Closing this on the assumption that it's implemented by #7857 - if that doesn't achieve everything needed, feel free to open a more specific issue.

[2022-05-09 15:59] cfra opened #8503 "images.ChooserView: Crash for image types unknown to Filter.run"
### Issue Summary

Without an explicit conversion setting in `settings.WAGTAILIMAGES_FORMAT_CONVERSIONS`, the image chooser will stop working as soon as a single tiff image is present.

### Steps to Reproduce

1. Create a Wagtail Image with a tiff file
2. Try to open image chooser

### Expected Behavior

Image chooser should show

### Observed Behavior

Image chooser button does not work because `

[2022-05-09 17:57] gasman commented on #8503
How are you doing this? In an out-of-the-box configuration, all image upload forms reject a tiff file with the error "Not a supported image format. Supported formats: GIF, JPEG, PNG, WEBP."

[2022-05-09 23:06] graphnode commented on #8280
It seems to be getting from the user profile language.

After I changed the available admin languages using `WAGTAILADMIN_PERMITTED_LANGUAGES` and selected the user profile language from that list the variants are gone.

[2022-05-10 06:43] laymonage opened #8505 "StreamField fails to render on `revisions_revert` view"
### Issue Summary

When accessing the `revisions_revert` view (i.e. trying to review/revert a previous revision) on a page that has a StreamField, the StreamField is not rendered on the form. Submitting the form results in a `MultiValueDictKeyError` (e.g. can't find `body-count`) as it tries to access the data on this line:

https://github.com/wagtail/wagtail/blob/638e6167c703218a682bc1db31335cd77

[2022-05-10 08:27] david-morris commented on #8502
@gasman Thanks for finding that so quick!  That's really helpful.

When I drop a breakpoint there, there's already `localhost` embedded in the result of `self._get_dummy_header_url(original_request)`. So I think I have an issue with `root_url` as defined by `get_url_parts`.  Is that what you were referring to with "Settings -> Sites"?

We have a headless wagtail setup since we're using Django for

[2022-05-10 09:37] gasman commented on #8502
I'm referring to the "Sites" area in the Wagtail admin, under the Settings menu. It sounds like you probably still have this set to the default of `localhost` - if you change this to one of the hostnames from `ALLOWED_HOSTS`, things should work again.

[2022-05-10 11:27] cfra commented on #8503
The images are created programatically from an import off another platform in my case.

The code looks like this, but maybe I did not find the correct/more straightforward way for creating the Wagtail images from code?

[code]

[2022-05-10 11:38] thibaudcolas commented on #8406
On the two examples, I would have expected us to go for something in-between that uses Tailwind’s theme function:

[code]

Ultimately I’d like us to consider generating the CSS variables declarations (`--w-color: theme('colors.red')` with Tailwind, so the available variables are defined in JS code. This will allow us to auto-generate docs for this, making sure the documentation and the code are al

[2022-05-10 11:49] david-morris commented on #8502
@gasman that does work.  It would be slightly preferable if there was a way to configure this in settings.py, but this seems to be caused by my configuration.

This seems like an edge case that's specific to previewing headless wagtail (not setting up sites on wagtail), so I'll link this on a documentation issue for wagtail_headless_preview.

Note: you should use a top-level page, not an instance,

[2022-05-10 11:49] #8502 closed

[2022-05-10 11:52] gasman commented on #8503
Thanks for the clarification! I think it makes most sense to add an exception to `Filter.run` when [none of the output format cases match](https://github.com/wagtail/wagtail/blob/f220d45e327e0e1546f5577ed3bb4f081028353a/wagtail/images/models.py#L649-L679), rather than falling through and returning None.

[2022-05-10 12:06] TommasoAmici opened #8507 "Add table caption option as part of TypedTableBlock for accessibility"
### Is your proposal related to a problem?

I'm frustrated with the current state of tables in Wagtail.

`TableBlock` is the most feature complete (column headings, row headings, caption), but it doesn't allow for non-text content (e.g. links, bold, italics, etc.).

On the other hand, `TypedTableBlock` does not support some important features of HTML tables: row headings, caption.

### Describe th

[2022-05-10 12:27] cfra commented on #8503
I have opened https://github.com/wagtail/wagtail/pull/8508 implementing the suggested change.

[2022-05-10 13:18] zerolab commented on #8507
Hey @TommasoAmici,
Yes, please do, that would be lovely!

[2022-05-10 13:29] #8505 closed

[2022-05-10 13:42] gasman commented on #8500
Confirmed, thanks! From a bit of experimenting, I think the bug is that it's finding the vertical offset of the form field relative to the browser viewport (_not_ the document), and positioning the comment box that far down from the top of the document.

[2022-05-10 16:10] marts opened #8512 "Remove trailing slash from WAGTAILADMIN_BASE_URL in Docs"
Remove trailing slash from WAGTAILADMIN_BASE_URL  in `/docs/reference/settings.rst` for consistency with the project template

### Pertinent section of the Wagtail docs

https://github.com/wagtail/wagtail/blob/main/docs/reference/settings.rst#wagtailadmin_base_url

### Details

The current project template has this:

[code]

See: https://github.com/wagtail/wagtail/blob/74ed301562af6bdfabe2b0c0d3d7

[2022-05-10 21:43] lb- commented on #8180
I would think so.

But best to focus on one thing at a time. Either the flagged one or the archive one. It will be too many changes to do both in the same PR.

However - it's good to consider the long term somewhat (but not too much haha).

[2022-05-10 21:44] lb- commented on #8180
It may even be worthwhile doing a first round PR that has the underlying archive functionality of restrictions to the default listing, adds the fields to abstract form page, adds a new method to archive / un-archive.

Unit tests and functionality for that will be heaps and will be useful.

Then add the UI buttons as a seperate PR

[2022-05-10 23:04] hazho commented on #6019
That would be greate, and then any one want to create objects inherited from that generic flag, and label it as needed, would be a greate dynamic feature, thanks LB, if you need help on that let me know please

[2022-05-11 04:47] cnk opened #8515 "A nested list is not rendering"
As you see, the double `**` are not causing the nested list to render as a nested list on https://docs.wagtail.org/en/latest/extending/forms.html

<img width="628" alt="extending-forms" src="https://user-images.githubusercontent.com/5952/167770733-5475e2db-f5a8-4b01-bbac-ed56ed59711e.png">

### Pertinent section of the Wagtail docs

https://docs.wagtail.org/en/latest/extending/forms.html#panels

#

[2022-05-11 08:05] #8515 closed

[2022-05-11 08:12] jacobtoppm opened #8517 "Icon-font icons fail to display when STATIC_URL is not "/static/""
### Issue Summary

In 3.0rc3 (and main), if `STATIC_URL` is changed from `/static/`, Wagtail fails to find the icon font (`wagtail.woff`), generating a 404 in the console and resulting in those icons not being shown. This applies to non-SVG icons such as the arrows in the explore view (but not the edit view).

I believe this is caused by the change in FE tooling in https://github.com/wagtail/wagta

[2022-05-11 09:27] #8517 closed

[2022-05-11 11:35] lb- opened #8520 "Dropping Safari 14 support (late 2023)"
|:warning: **Only to be done after Safari 17 is released**|
|-----|

Follow up from https://github.com/wagtail/wagtail/pull/8051 & https://github.com/wagtail/wagtail/pull/8497 where the goal is to use [CSS logical properties](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Logical_Properties) only for positioning.

Support for `border-start-start-radius`, `border-start-end-radius`, `border-en

[2022-05-11 11:41] #8124 closed

[2022-05-11 11:41] lb- commented on #8124
Moved the other parts to a new issue - dropping Safari 14 support https://github.com/wagtail/wagtail/issues/8520

[2022-05-11 12:03] lb- commented on #8428
Can confirm, this is an issue but it looks like it has been an issue for a while, I do not think this is a 3.0 regression.

Square image - renders ok

<img width="1459" alt="Screen Shot 2022-05-11 at 9 57 16 pm" src="https://user-images.githubusercontent.com/1396140/167845188-dda8eb98-8f60-4232-ac5f-d5112245434c.png">

Non-square image - cut off

<img width="1470" alt="Screen Shot 2022-05-11 at 10

[2022-05-11 12:24] lb- commented on #8334
@anujaraj it looks like you may not have your local dev running correctly.

You should be able to run `npm start` then make a change in any `.scss` file, refresh the admin you are running and then see the change.

Are you able to get to that stage? if not - you may need to reach out on the Slack channel in `#support` to get some help with developing this solution.

[2022-05-11 12:49] jams2 opened #8522 "Component.get_context_data does not return its parent_context argument"
### Issue Summary

`admin.ui.components.Component.get_context_data` does not return the object passed as its `parent_context` argument, rather returning the empty dict unconditionally:

https://github.com/wagtail/wagtail/blob/091cc4589182ec1cdd45576cd99445c73439425f/wagtail/admin/ui/components.py#L10

This is surprising and contrary to [documentation](https://docs.wagtail.org/en/stable/extending/t

[2022-05-11 14:25] Hitansh-Shah commented on #8490
Hey @lb- . can I work on this issue? I would love to research on this.

[2022-05-11 15:54] th3hamm0r opened #8523 ""page_description" does not work with lazily translated strings"
### Is your proposal related to a problem?

The new, optional `page_description` attribute added with wagtail 3.0 (https://github.com/wagtail/wagtail/pull/8164) currently only allows simple `str` values. This does not work well in multi-language environments, where these class attributes will have to be lazily translated strings (using `gettext_lazy`).

You can still override the classmethod `wagt

[2022-05-11 17:11] gasman commented on #8523
Thanks for reporting!

[Elsewhere](https://github.com/wagtail/telepath/blob/f4165bbd2950e30066fddfbd30db89ab8a2190aa/telepath/__init__.py#L343) I've used `isinstance(obj, Promise) and obj._delegate_text` this for identifying lazy translation strings (actually that should probably be `getattr(obj, '_delegate_text', None)`) - maybe that would work here?

[2022-05-11 21:44] lb- commented on #8490
@Hitansh-Shah go for it - the code is in [`client/src/entrypoints/admin/bulk-actions.js`](https://github.com/wagtail/wagtail/blob/main/client/src/entrypoints/admin/bulk-actions.js)

I would start by adding some logging to the `onSelectIndividualCheckbox` and seeing if you can keep track of the 'previously clicked' checkbox and work out the checkboxes between the last clicked one.

Note: We may als

[2022-05-12 08:19] th3hamm0r commented on #8523
Sounds good, I searched for such a "lazy()"-detection, but missed that. Now, with your info, I can try a PR.

[2022-05-12 09:16] th3hamm0r commented on #8523
Done with #8527

[2022-05-12 09:29] gasman opened #8528 ""Upload one now" link on document chooser is broken"
### Issue Summary

The "upload one now" link in the document chooser, shown when there are no documents in a selected collection, fails to switch to the Upload tab in 3.0rc3.

### Steps to Reproduce

1. Set up bakerydemo as per https://github.com/wagtail/bakerydemo/#setup-with-virtualenv
2. Update bakerydemo/locations/models.py to add a document chooser:
[code]
3. `./manage.py makemigrations` / `.

[2022-05-12 09:55] #8523 closed

[2022-05-12 11:40] lb- commented on #8512
Flagging as good first issue.

[2022-05-12 11:42] lb- commented on #8480
Once done, is the plan to deprecate https://github.com/wagtail/wagtail-generic-chooser/ ?
If so - will we re-assess & move those open issues to this repo (if still applicable)?

[2022-05-12 11:43] PaarthAgarwal commented on #8512
I'm on it

[2022-05-12 12:20] lb- commented on #7747
Closing for now - without more info it is hard to have this an issue that can be actioned.

[2022-05-12 12:44] gasman commented on #8480
@lb- Yep, the plan is to deprecate wagtail-generic-chooser - so yes, reviewing those open issues is a good plan. From a quick scan through the list, there's a mix of things I hope to address in the rewrite (better filtering via django-filters, cleaner API for DRF data sources) and more general wishlist items that are probably a better fit for the Wagtail project anyhow (multiple selection, general

[2022-05-12 13:11] #8500 closed

[2022-05-12 13:21] #8503 closed

[2022-05-12 20:13] lb- commented on #2908
Others have not posted on this issue for a while and the proposed solution would not be ideal so will close this and anyone is free to re-open if they encounter this and are unable to resolve it.

[2022-05-12 20:13] #2908 closed

[2022-05-12 20:19] lb- commented on #7516
@ocuna  please advise what aspect is missing.

I can see in the section above https://docs.wagtail.org/en/stable/reference/contrib/routablepage.html#the-basics

There are documented examples of dynamic URL parts, e.g. see the multiple routes comment, this contains what I think you where asking about.

[code]

Is it that the docs do not explicitly point this out in the models section or that maybe

[2022-05-12 21:28] lb- commented on #8474
I personally think we should keep it as is, with the popup submenu, having quick access to log out here in an unobtrusive way is very helpful, I understand it does add complexity to the UI to manage though.

My reasoning for keeping it
* Less change for users, who already will have to go through a lot of change in 3.0/4.0
* We won't have to solve 'new' problems of putting the log out somewhere els

[2022-05-12 21:47] ocuna commented on #7516
Thanks @lb for taking the time to consider this.

I was looking for how to send parameters to the view.  Django does have a published code example that shows how the parameter becomes an argument in the view: https://docs.djangoproject.com/en/4.0/topics/http/urls/#specifying-defaults-for-view-arguments

Since last year,  (and at Wagtail Space US this year) I've learned to rely more on Django docum

[2022-05-12 21:47] #7516 closed

[2022-05-12 22:24] lb- commented on #7516
Thanks for responding @ocuna - it's hard to find a balance in the docs between when to explain how Django works vs what Wagtail.does / does not add on top. Glad you have had some success with learning this.

[2022-05-12 22:28] PeterDekkers commented on #7250
This caught me out, too. It'd be amazing if the constructor make these two arguments, `block_errors` and `non_block_errors`, required.

[2022-05-12 22:29] vsalvino opened #8533 "Icon fonts no longer work in streamfield blocks"
### Issue Summary

It seems that with all the SVG work doing on, starting with Wagtail 2.15, `wagtailfontawesome` (or use of icon fonts in general) no longer works for streamfield blocks. I've tried searching through relevant issues but haven't been able to find any relevant documentation (see issue #7511).

Switching between Wagtail 2.14 and 2.15 exhibits the icons working correctly, then incorre

[2022-05-13 08:15] jacobtoppm commented on #8533
Have you tried using the replacement package, https://pypi.org/project/wagtail-font-awesome-svg/?

[2022-05-13 11:13] #8528 closed

[2022-05-13 13:37] kaedroho opened #8535 "Remove Page.get_static_site_paths"
Wagtail's ``Page`` model has a ``get_static_site_paths`` method that was originally added because Wagtail had a contrib module for static site generation.

That contrib module was removed years ago so I think we should remove this unused method and its tests

https://github.com/wagtail/wagtail/blob/7d384e70c12f857c1932a18caf1d511c64ef3999/wagtail/models/__init__.py#L1868-L1879

[2022-05-13 13:48] PaarthAgarwal commented on #8535
I'll give it a try

[2022-05-13 14:08] lb- opened #8537 "Upgrade notification (dashboard/home) is not translated"
### Issue Summary

Upgrade notification is not translated

### Steps to Reproduce

1. Change your admin user language to non-english
2. Be on an older version of Wagtail
3. Sign in as an admin user
4. Observe the admin upgrade notification
5. Expected - it should match the user's language
6. Actual - it is still in English

Any other relevant information. We may no consider this a bug or we may no

[2022-05-13 14:29] gasman commented on #8535
Presumably there's a fair chance that third-party packages (e.g. wagtail-bakery) are depending on this? If so, this should probably go through the deprecation process.

[2022-05-13 14:35] m-aciek commented on #1708
Would it be possible to reopen this issue, having [Wagtail RFC 77: Support for SVG images](https://github.com/wagtail/rfcs/blob/svgs/text/077-svg.md) published by @kaedroho?

[2022-05-13 14:53] vsalvino commented on #8533
Thanks for the tip - did not know about that package. And good to know that font icons are intentionally not supported. Seems like the best path forward will be for each package to provide its own SVGs, and call `register_icons` hook (which seems to be undocumented).

[2022-05-13 15:43] zerolab commented on #8535
fwiw, https://cs.github.com/?q=.get_static_site_paths() doesn't reveal anything of note

[2022-05-13 16:29] thibaudcolas opened #8539 "UX Unification - header component with variations"
## Overview

There are too many variations of our header component, with and without breadcrumbs, which don’t always work well in Wagtail 3.0. They’re copy-pasted with little consistency across too many places. We need to revisit this, in particular:

- There should be fewer variations to support
- Supported variants should work more consistently across different viewports
- The markup and styles

[2022-05-13 16:37] zerolab commented on #8533
@vsalvino `register_icons` will be documented.
There's a WIP PR - #6028 - would be great to get further input.

[2022-05-13 16:37] thibaudcolas commented on #8471
Fixed in #8491. I’ve only applied a small part of this to Wagtail 3.0 that only fixes what was reported here – further mobile-specific issues with breadcrumbs will be fixed in 4.0 only.

I’ve created #8539 to further revisit this in the next release as Wagtail shouldn’t have that many header variations to start with, and our implementation badly needs a full refactoring rather than just the reskin

[2022-05-13 16:37] #8471 closed

[2022-05-13 22:58] lb- commented on #8539
Also related.
https://github.com/wagtail/wagtail/pull/8368
An attempt to get some kind of consistency for classes on the header component - not sure if we should be doing BEM or not though.

[2022-05-13 23:02] lb- commented on #8539
we need subtitle also (different to count) and already used in class based views in many locations.

And we need a description (or maybe info) that could be used for the count content in the abstract sense. (e.g. the dashboard username). Content that is not part of the title but provides useful header info for the page.

And remember that the dashboard has an icon (ish) but it is the avatar. So th

[2022-05-14 05:50] #8512 closed

[2022-05-14 14:16] dkirkham commented on #7971
I've just reassessed the UI issues described above with 3.0rc3 to see which have been addressed with the page editor updates and which are still causing issues. I fully appreciate not all of these issues have specifically addressed in the first tranche of page editor changes.

In summary: a few issues have been resolved, albeit a couple of those now have other UI issues. Other issues have not yet

[2022-05-15 13:07] anujaraj commented on #8334
@lb- I am sorry, I think I missed a few steps to see my changes. Thank you for pointing them. I shall definitely seek help at support incase if needed. I think it should work with scss

[2022-05-15 17:00] pmlanger opened #8546 "Setting WAGTAILSEARCH_BACKENDS=None fails on search instead of using default search backend"
### Issue Summary

In my Django settings, I define the `WAGTAILSEARCH_BACKENDS` setting with the return value of a function: Depending on an environment variable passed in, this function returns `None` to tell Wagtail to use the default search backend, or the actual config:

[code]

[code]

This code makes the [search_backends variable here](https://github.com/wagtail/wagtail/blob/main/wagtail/sea

[2022-05-15 17:57] gasman commented on #8546
I don't think this is a valid expectation - there's no precedent set by Django that a setting with the value None should be interpreted as "use the default". For example, setting `TEMPLATES = None` also fails in a similar way.

[2022-05-15 17:57] #8546 closed

[2022-05-15 18:20] pmlanger commented on #8546
I don't know about precedence in Django, but in general I would prefer an error at "server start time" (or a reasonable default that avoids it) over one at runtime (as the case here).

[2022-05-16 12:15] thibaudcolas opened #8548 "Integrate Draftail improvements with Wagtail"
This is to track Draftail updates, to make use of improvements implemented outside Wagtail.

### Tasks

- [x] Implement character count / max length for Draftail: use new `maxLength` and character count props (#8246)
- [x] Create rich text links on copy-paste: provide supported link types to Draftail (#8236)
- [x] Implement floating toolbar for Draftail: update `controls` to have a `type` (#8245)

[2022-05-16 13:30] torotil opened #8550 "Separate admin domain (XSS prevention) vs. preview"
### Is your proposal related to a problem?

We want to allow editors the flexibility to add custom/unrestricted HTML to their sites. In order to avoid XSS vulnerabilities we want to use two different domains for viewing the (public) content and for editing the content.

Difficulties with such a setup are:

1. The previews are still rendered in the admin domain. → We’d need a way to render those un

[2022-05-16 14:59] #8236 closed

[2022-05-16 15:02] thibaudcolas commented on #8246
Implemented in Draftail in https://github.com/springload/draftail/commit/00a8c0e68c1e64e7f1607ed9ec3bffc13256d9a3. This ended up using the existing `controls` API, so there isn’t much more than an example on the Draftail repository. Implementation within Wagtail will come via #8548.

[2022-05-16 15:02] #8246 closed

[2022-05-18 02:07] sighmon opened #8557 "Sort/filter the search results of a PageChooserBlock modal"
### Is your proposal related to a problem?

We'd like to be able to order and filter the search results of a `PageChooserBlock` modal.

### Describe the solution you'd like

* Ability to click on the column headings `TITLE | UPDATED | TYPE | STATUS` to be able to sort the results by that column
* Ability to filter search results by page type by clicking on the `page_type`

### Describe alternative

[2022-05-18 07:47] lb- commented on #8424
Django CSS custom properties/ dark mode support for reference.
https://docs.djangoproject.com/en/dev/ref/contrib/admin/#admin-theming

[2022-05-18 08:48] laymonage commented on #8539
When editing Snippets, the spacing for the "Last updated" row in the header seems too large:

<img width="805" alt="image" src="https://user-images.githubusercontent.com/6379424/168997958-f6e00b6e-aafb-4d0a-932e-920a93951364.png">

(If it doesn't show up for you, try editing the Snippet and edit it again so that it has a log entry.)

This also happens in ModelAdmin:

<img width="805" alt="image" s

[2022-05-18 09:00] gasman commented on #1708
Sounds good - reopening as requested.

[2022-05-18 09:11] lb- opened #8559 "Django 4.1 compatibility - log out view change to POST"
## Overview

* In Django 4.1 - Logging out via GET requests to the built-in logout view is deprecated. Use POST requests instead.
* https://docs.djangoproject.com/en/dev/releases/4.1/#log-out-via-get
* This could possibly break our log out links (e.g. the sidebar admin sub-menu) and should be reviewed as we look to Django 4.1 support

## Details

* We have a custom view [`LogoutView`](
https://git

[2022-05-18 15:56] wimfeijen commented on #8405
Hi @gasman , thanks for your response and investment in Wagtail!

In my opinion, it would be preferable for Wagtail to follow other mainstream CMSes, like for example WordPress. I think adding a caption would not be in the way of other programmers striving for a more perfect solution in an ideal world, because they can easily program their own solution.

Also my personal belief is that such a perf

[2022-05-18 17:09] tomdyson commented on #8405
Thanks for your thoughts @wimfeijen! We really appreciate your participation.

[2022-05-19 05:59] uroybd opened #8561 "User and ModelAdmin Chooser"
If we want a Chooser modal except for Page, we have to register them as snippets.

However, Users and Models registered using ModelAdmin are already available to edit.

UserChooser will be a very good UX improvement in many cases. For example, allow the `owner` field to be editable by Admin and Moderator and add that in the Page's editing interface. It will currently show a list widget since the u

[2022-05-19 07:57] rme7 commented on #8537
I would like to give this one a shot if it is not in the works yet

[2022-05-19 08:14] lb- commented on #8537
Go for it.

I have a potential fix in a different PR I am working on.

See this file.

https://github.com/lb-/wagtail/blob/f6be7dc8ed40f5f39c29d9ec4d1410921a3e57e3/wagtail/admin/templates/wagtailadmin/home/upgrade_notification.html

You could use that code (but without the data attribute changes)

Hope that makes sense.

Note - to test this out is a bit tricky - you will either have to get a brows

[2022-05-19 08:16] kaedroho commented on #8559
We currently have our own log out view, so this might not affect us now. If it doesn't, I think we should consider updating this to match Django.

https://github.com/wagtail/wagtail/blob/2a403337701337a00c8bff405ff005160a69a5ff/wagtail/admin/views/account.py#L375-L395

[2022-05-19 09:16] gasman commented on #8561
Thanks for the suggestion! We're currently working on adding the ability to set up a chooser for any model type, and the work on this is being tracked in #8480. In the meantime there are a few add-on packages to provide this feature, such as https://github.com/wagtail/wagtail-generic-chooser.

[2022-05-19 09:16] #8561 closed

[2022-05-19 09:48] lb- opened #8562 "UX Unification - Adopt new Tabs in Workflow History Detail page"
### Is your proposal related to a problem?

As of Wagtail 3.0 - most Tabs components use the new tab UI, however there appears to be one page that does not.

### Describe the solution you'd like

* Adopt the new tabs in the Workflow history detail page.

### Describe alternatives you've considered

* Leave it as is, this page is a bit obscure
* Use collapse instead of tabs?

### Additional context

[2022-05-19 11:03] lb- opened #8563 "Bulk actions makes false assumption that ids will always be a number"
### Issue Summary

* Wagtail 2.15 brought in a new feature, bulk actions, for Page, User, Image and Document models however the current JavaScript assumes that the model `object.id` will be a number.
* https://docs.wagtail.org/en/stable/releases/2.15.html#bulk-actions

### Steps to Reproduce

1. Start a new project with `wagtail start mysite` & then cd into folder
2. Run `python manage.py startapp

[2022-05-19 13:09] thibaudcolas commented on #8424
For anyone needing this _for Wagtail 3.0_ – here is a repository describing a workaround for this release: https://github.com/thibaudcolas/wagtail_color_overrides. Screenshot with a blue theme:

![wagtail_color_overrides](https://user-images.githubusercontent.com/877585/169300981-b260fee6-2708-48a1-8660-f83783b50067.png)

We’re still planning to have similar capabilities in Wagtail 4 so this shoul

[2022-05-19 13:38] thibaudcolas opened #8565 "Replace Bootstrap tooltips with Tippy.js"
We currently have two styles of tooltips in the CMS. One legacy style with an implementation from Bootstrap, using the `data-wagtail-tooltip` attribute in templates:

![bootstrap-tooltips](https://user-images.githubusercontent.com/877585/169305838-8ca35d7f-d8e0-472b-b5c6-da5754ce326b.png)

And one modern style implemented with Tippy.js with a set of attributes prefixed with `data-tippy`:

![tippy-

[2022-05-19 14:23] KIRA009 commented on #8183
@lb- Can I pick this up?

[2022-05-19 14:28] thibaudcolas opened #8566 "Replace human-readable-date hover switcheroo pattern with accessible tooltips"
We have a well-established pattern in the admin interface, to show relative times by default ("3 months ago"), with a switch to absolute date-times on hover:

![human-readable-date](https://user-images.githubusercontent.com/877585/169317860-806cf880-3dc4-4082-8caa-8bd6d79ebaa7.gif)

Here is the markup:

[code]

This feels a bit basic, and there are a number of issues stemming from this approach:

[2022-05-19 17:16] Scotchester commented on #8160
:eyes: https://github.blog/changelog/2022-05-19-specify-theme-context-for-images-in-markdown-beta/

[2022-05-19 21:40] lb- commented on #8183
Go for it, there are some things to be aware of

* Snippets are in a bit of a flux at the moment, so keep an eye on any PRs that may conflict in that area (most are sitting as draft right now though).
* Bulk actions PR for form submissions on going (feel free to add any feedback to that if you want to) https://github.com/wagtail/wagtail/pull/8542
* Frontend changes ongoing to try to get shift + cl

[2022-05-19 22:05] lb- opened #8567 "Wagtail docs - build errors due to Revision model mixin"
Getting a bunch of new errors when building the docs, looks like it is due to the `Revision` model changes.

[code]

[2022-05-19 22:07] lb- commented on #8567
@laymonage or @kaedroho - just saw these errors when doing some docs validations, might be good to try to fix up if possible or not sure if this will resolve itself when the main revisions work is done.

[2022-05-20 01:29] laymonage commented on #8567
Seems to compile just fine for me...?

<img width="1433" alt="image" src="https://user-images.githubusercontent.com/6379424/169430408-52bd6fd6-1511-4496-9a7c-d525d656507e.png">

This sounds like the `Revision` model doesn't exist in your local copy of the codebase. Maybe you switched to a different branch or something?

[2022-05-20 01:55] laymonage opened #8570 "Use `GenericForeignKey` and `GenericRevision` for `Revision` model"
### Is your proposal related to a problem?

From #8441:

To summarise a previous discussion with @jacobtoppm and @kaedroho:

While this allowed us to make the `Revision` model generic without changing much queries in the codebase, this solution is not ideal. Making `content_object` a `@property` instead of a `GenericForeignKey` makes us lose the information of the field in `Model._meta.get_fields(

[2022-05-20 03:27] lb- commented on #8567
Ok. I'll have another look.
Thanks.

[2022-05-20 11:45] thibaudcolas commented on #8424
For people following this – the UI team discussed this again yesterday and came to the following resolutions:

- We’ll make all of our colors customisable and leave it up to people to make their pick of which ones to customise
- We’ll keep the existing setup for `color-primary`, where it’s possible to only set one hue variable, or three HSL component variables, and have other accent / lighter / da

[2022-05-20 12:49] lb- commented on #8567
yep - I had not updated my requirements recently thanks for the help @laymonage

[2022-05-20 12:49] #8567 closed

[2022-05-20 12:52] lb- commented on #8566
We should also try to use the `time` element, it provides a more semantic approach and more accessible
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time

[2022-05-20 13:19] #8406 closed

[2022-05-20 15:12] thibaudcolas commented on #8475
Merged in #8513.

[2022-05-20 15:12] #8475 closed

[2022-05-21 10:41] lb- commented on #7767
We have been discussing this with some of the core team and there is agreement that it would be nice, long term, for Wagtail to provide more help with managing menus. However, that does not mean that there will be a focus for this to be built any time soon.

Menu management does seem like a pretty basic feature of most content management systems, and Wagtail’s `show_in_menus` makes it seem like Wa

[2022-05-21 19:12] cfinnberg commented on #7386
Hi, sorry for the delay. Unfortunately same incorrect behavior in Wagtail 3.0 and Firefox 100.0. Characters created in a combination with a dead key are deleted milliseconds after the second key is pressed.

OS: Manjaro Linux. KDE desktop environment. I don't know what more information to add.

[2022-05-22 14:07] hazho opened #8580 "Adding Live Subscription to History(Logging) Using Server EventSource"
Currently the Site History and other custom logging has no (on browser live notifications), it would be very helpful that all subscribed admins/editors see the live notifications wherever of the admin site they are.
inicially this one would be helpful:
https://developer.mozilla.org/en-US/docs/Web/API/EventSource

[2022-05-22 14:10] hazho commented on #8580
Based on the Documentations, this is better for Users

[2022-05-22 14:19] gasman commented on #8580
Is there really much need for people to watch log entries arriving in real time? I think this would be a better fit for an add-on package.

[2022-05-22 14:19] #8580 closed

[2022-05-23 06:59] hazho commented on #8580
I agree, can you add label (third-party or add-on) to this and the similar topics that their issue had been closed?
 so later any developer want to filter issues by that label, would be easier to find the add-on listed feature-requested-issues..!

[2022-05-23 10:40] derhedwig opened #8582 "password reset not working if WAGTAILADMIN_BASE_URL unset"
### Issue Summary
After upgrading an old project to wagtail 3.0 where BASE_URL or WAGTAILADMIN_BASE_URL is unset, the password reset functionality of the wagtail admin stops working with the error `KeyError: 'request'` raised from `get_admin_base_url`.

### Steps to Reproduce

1. Have a fresh wagtail install with wagtail 3.0
2. Remove WAGTAILADMIN_BASE_URL setting
3. Create a user account
4. Try t

[2022-05-23 11:02] th3hamm0r commented on #8243
After stumbling over this issue again, I really would like to make a PR to fix this.

I think the `content_type` field of `BaseLogEntry` should not allow null values and should cascade deletes of the related `ContentType`. The current, nullable relation does not make any sense to me, because ContentTypes cannot be deleted through the admin, it is a developer's decision to remove a model (and its h

[2022-05-23 14:22] saschahofmann opened #8583 "Wagtail and get_schemajs_view in Django 4"
### Issue Summary
We currently are trying to upgrade to Django 4 and Wagtail 3 but right now we are stuck with `get_schemajs_view` from Django Rest Framework failing. The problem happens in  *wagtail/api/v2/views.py* Line 532 in `PagesAPIViewset`

[code]

It seems like the `request` can be None when the schema is loaded/created. In fact, we catch this for our own ViewSets in some places.

I starte

[2022-05-24 10:40] jacobtoppm opened #8585 "Scheduled publishing fails if the approved revision's author does not have publish permission"
### Issue Summary

If a user without publish permission authors a revision and fills in scheduled publishing, and this revision is then published/approved via workflow, the `publish_scheduled_pages` management command will fail with a `PublishPagePermissionError`.

### Steps to Reproduce

1. Create a superuser, and a user in a group with only edit permissions
2. As the edit-only user, create a new

[2022-05-24 11:54] th3hamm0r commented on #8261
After looking at the code again, I would propose the following solution:

Instead of only using the "edit"-URL here
https://github.com/wagtail/wagtail/blob/820c27fca9abec82406dad0ca6cbbf66c7e9ed7d/wagtail/contrib/modeladmin/templatetags/modeladmin_tags.py#L74-L84
I would instead use the `ModelAdmin`s `button_helper.get_buttons_for_obj()`, and use the URL of the first button, which defines a non-em

[2022-05-24 12:44] thibaudcolas opened #8587 "Prepare meeting minutes doc"

[2022-05-24 12:45] thibaudcolas commented on #8587
Testing :)

[2022-05-24 12:45] #8587 closed

[2022-05-24 13:23] prasen-ftech commented on #6950
@onno-timmerman did you find any work around for this? I am also looking for API headless for wagtail formbuilder

[2022-05-24 13:32] onno-timmerman commented on #6950
No, the pressure wasn't high enough. A custom form was ok for then. But still miss a simple way to do it with a formbuilder.

[2022-05-24 17:04] zerolab opened #8588 "Specific snippets list language picker not properly styled"
Ref: https://github.com/wagtail/wagtail-localize/issues/576

To reproduce:
- add `TranslatableMixin` to one of the snippets
- go to snippets > the translatable snippet
- the specific snippets list

![image](https://user-images.githubusercontent.com/72310199/169782488-d8f26b9e-1762-47e3-b3a6-d9ed535e1a53.png)

when you hover, it shows as expected:

![image](https://user-images.githubusercontent.com

[2022-05-24 22:31] #8190 closed

[2022-05-25 08:49] lb- commented on #8565
We should explore CSS isolation instead of z-index so that we don't create a z-index mess.

https://developer.mozilla.org/en-US/docs/Web/CSS/isolation

https://www.smashingmagazine.com/2022/05/lesser-known-underused-css-features-2022/#creating-stacking-context-with-isolate

https://caniuse.com/?search=isolation

[2022-05-25 10:28] laymonage commented on #8588
PR: #8589

[2022-05-25 11:45] #8490 closed

[2022-05-25 11:50] lb- commented on #8383
API pages done via https://github.com/wagtail/wagtail/pull/8569

[2022-05-25 12:02] katzmo opened #8593 "Tabs without visible panels"
### Issue Summary

In wagtail 3.0 a tab in the admin UI is shown even if it has no visible panels (e.g. because of lacking user permissions).

This is because `wagtailadmin/panels/tabbed_interface.html` renders `child in self.children` instead of `child in self.visible_children`.

Maybe there is a good reason for this implementation but from a editor perspective it looks like something’s wrong…

#

[2022-05-25 13:16] saschahofmann commented on #8583
After some debugging this seems to be caused by one particular view `'/cms/api/main/pages/{id}/action/{action_name}/'` that seems to be knew

[2022-05-25 13:39] saschahofmann commented on #8583
Is there a way for me to somehow ignore these new views?

[2022-05-25 14:13] saschahofmann commented on #8583
Ok I am able to get rid of the error by monkey patching PagesAPIViewset like this
```PagesAPIViewSet.schema = None```

That way it's ignored during schema creation.

[2022-05-25 20:00] souzathg commented on #8383
I'll continue working on this issue doing the '*docs/advanced_topics/customisation*' task

[2022-05-25 20:26] lb- commented on #8383
Awesome! Just a reminder to build the docs locally and check for any errors. It's also a good idea to run `make clean` before `make html` after large changes. These commands are to be run inside the docs folder. Let me know if you need a hand.

[2022-05-25 20:32] souzathg commented on #8383
Thanks for the tipsand the willingness to help!
I got it! This time I'll use `make livehtml` also!

[2022-05-25 22:01] lb- commented on #8593
@katzmo  thanks for reporting, I am able to reproduce.
Just a heads up for future - please can you use the bug templates as it provides a much cleaner way to report bugs and also include steps to reproduce.

[2022-05-25 22:08] lb- commented on #8593
@PaarthAgarwal did you want to give this one a go, this is a good chance to see how the `TabbedInterface` works - it is a class that abstracts out the generation of a Tabs UI in Django only.

* Reproduce the issue, ensure you can create the problem
* See how `TabbedInterface` in wagtail/admin/panels.py extends `Panel`, understand how this code flows & see the `visible_children` method on class `Bo

[2022-05-25 23:08] #8570 closed

[2022-05-26 06:23] lb- commented on #8562
@PaarthAgarwal  as per discussion today, give this a go when you are ready, it is a good chance to move a legacy tabs component over to the new approach.

[2022-05-26 09:57] #7336 closed

[2022-05-26 09:57] #3938 closed

[2022-05-26 09:57] #8537 closed

[2022-05-26 09:59] lb- commented on #8537
@rme7  sorry for the confusion but some other PRs were working on the same area of code so it made sense to fix this issue up as part of that.

Let us know if you are still keen to pick up something for a Wagtail PR.

[2022-05-26 10:28] lb- opened #8597 "Snippets - Add breadcrumb menu to snippet pages"
### Discussed in https://github.com/wagtail/wagtail/discussions/8472

<div type='discussions-op-text'>

<sup>Originally posted by **enzedonline** May  3, 2022</sup>
Would be very useful to have the same breadcrumb menu on snippets that appears at the top of the pages listing/editing interface.

Currently, on saving a snippet, we have to click on the snippet link in the left menu panel or hit histo

[2022-05-26 10:29] lb- commented on #8597
@laymonage  cannot assign to you sorry but here is the issue.

[2022-05-26 10:29] lb- commented on #8597
It would be good to use the new style breadcrumbs also

[2022-05-26 13:52] robslotboom opened #8600 "add count for popular_tags_for_model to settings"
wagtail/admin/models.py

def popular_tags_for_model(model, count=10):

Shouldn’t it be better to add **count** to settings so it can be changed per project?

[2022-05-26 16:34] thibaudcolas commented on #3243
For people interested in this – I have good news and bad news. This is tentatively in scope of the [page editor 2022](https://github.com/wagtail/wagtail/discussions/7739) for Wagtail 4. It’s unfortunately at risk – as per our most recent [build update blog post](https://wagtail.org/blog/build-update-on-new-page-editor/), we’re currently looking for funding to support this project, and this is one

[2022-05-27 12:18] thibaudcolas commented on #3527
👋 for people interested in this, there is a much more recent Discussions thread: #7636. I’m going to close this issue now. As the thread is much more up-to-date, it’ll be where we share updates on this over time.

The high-level state of this is we’re interested in bringing autosave to Wagtail, have made visual designs for this as well as high-level tech analysis of implementation options (as per

[2022-05-27 12:18] #3527 closed

[2022-05-27 20:03] DanielSwain commented on #5152
I just discovered that there is now a [recipe in the Wagtail docs](https://docs.wagtail.org/en/stable/reference/pages/model_recipes.html#managing-tags-with-wagtail-s-modeladmin) that, while not automatic as I had first proposed, provides the functionality needed to accomplish what is needed.  Closing this feature request.

[2022-05-27 20:04] DanielSwain commented on #5152
I just discovered that there is now a [recipe in the Wagtail docs](https://docs.wagtail.org/en/stable/reference/pages/model_recipes.html#managing-tags-with-wagtail-s-modeladmin) that, while not automatic as I had first proposed, provides the functionality needed to accomplish what is needed.  Closing this feature request.

[2022-05-27 20:04] #5152 closed

[2022-05-27 22:41] Niyamas commented on #1708
If using streamfields, a hack to add SVGs is to use `RawHTMLBlock`. This does present some difficulty for content editors to be able to find and copy-paste the SVG HTML, but the benefits are there. SVGs can be sized up or down without any unwanted aliasing (try increasing an image to a way higher resolution than its native resolution) and will appear slick and smooth. As long as the user uploads b

[2022-05-28 06:44] ser1us commented on #1449
I don't believe this issue has any relevance anymore :) We switched to the postgresql search a long time ago. Thanks for all the hard work!

[2022-05-28 06:44] #1449 closed

[2022-05-30 10:11] thibaudcolas commented on #8245
Implemented in Draftail in https://github.com/springload/draftail/commit/22ff9c4f2e87f33d03d6ba2d5894883ccfc8c624. Implementation in Wagtail TODO as part of #8548.

[2022-05-30 10:11] #8245 closed

[2022-05-30 10:59] robmoorman commented on #7808
Got the same, just put this in your custom permission helper:

[code]

Log in as a superuser.

Same applies for the inspect story. A button appears but everyone clicks on the title instead, resulting in permission denied.

[2022-05-30 13:34] katzmo opened #8610 "Add `construct_snippet_chooser_queryset` hook"
### Is your proposal related to a problem?

Sometimes it is necessary to filter the queryset of the snippets chooser to restrict the snippets that can be chosen by a user. For example to filter snippets by site as suggested in the "mutlitenancy" section of the documentation.

### Describe the solution you'd like

In addition to `construct_page_chooser_queryset`, `construct_document_chooser_queryse

[2022-05-30 13:36] robmoorman opened #8611 "Wagtail >= 2.16 collapsed=True doesnt trigger the TableBlock to load the table"
### Issue Summary

Using the `collapsed=True` (new feature) of the `StreamField`. The `TableBlock` is not loading the table.

### Technical details

* Python version: any
* Django version:any
* Wagtail version: >= 2.16
* Browser version:any

[2022-05-31 09:09] enzedonline commented on #7202
That lesson is for an old version of Wagtail, the code used will no longer show the errors on the stream blocks.

It needs updating to :

[code]

[2022-05-31 09:09] berycz commented on #7727
this is not really fixed tho, check https://github.com/wagtail/wagtail/discussions/8094
(not sure if I should post a new issue?)

[2022-05-31 18:09] ACMCMC commented on #7727
I believe it should be a new issue, because the root of the problem seems to be a different one :)

[2022-05-31 20:28] souzathg commented on #8383
Just for information, I'm currently working on converting `docs/advanced_topics` direct files

[2022-05-31 20:48] lb- commented on #8383
Awesome thanks @souzathg

[2022-06-01 01:41] DanielSwain opened #8613 "@register_setting still executed for app not in INSTALLED_APPS"
I have an app that includes a model of type `BaseSetting`.  I commented out the app in order to prevent this model setting from appearing in the Settings menu, but I was surprised to see that it still appeared there.  I had to comment out the `@register_setting` in for the model declaration in order to prevent the `BaseSetting`-type model from appearing in the Settings menu.  It seems like, if an

[2022-06-01 04:09] berycz opened #8614 "Search on MySQL ProgrammingError(1064, "syntax error, unexpected ')'")"
### Searching non-word characters between whitespace characters raises an exception

examples which raise an exception:
`ice & fire`
`ice - fire`
`ice + fire`
`ice # fire`
`💙 fire 💙`

the exceptions:
`ProgrammingError(1064, "syntax error, unexpected ')'")`
`ProgrammingError(1064, "syntax error, unexpected '+'")` (on the `💙 fire 💙`)

these work (or at least they don't raise an exception):
`ice fire

[2022-06-01 06:15] th3hamm0r opened #8615 "Displaced loading-icon's animation in page editor"
### Issue Summary

![Peek 2022-06-01 08-04](https://user-images.githubusercontent.com/468164/171338809-6014649f-88c5-47af-b279-5fdac1955bcc.gif)

There is a `padding-inline-end: .5rem;` at the loading-svg, which seems to cause this displaced animation.

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Login to admin
3. Save the draft of a page
4. Watch the funny ani

[2022-06-01 09:31] zerolab commented on #8615
Confirmed this, thank you @th3hamm0r

[2022-06-01 15:21] #8476 closed

[2022-06-01 22:07] #6903 closed

[2022-06-02 06:58] SohumDamani opened #8620 "Add custom code to RichTextBlock"
### I have encountered a client which wants to code himself the way the RichText should be visible.

### I feel like a block that takes in input a code input as simple text and replaces it with the given template feature.

class Heading(blocks.StructBlock):
    title = blocks.CharBlock(max_length=255)
    template = blocks.CodeBlock(required=False)

content = blocks.StreamBlock([
    ('heading',He

[2022-06-02 08:55] lb- commented on #8620
@SohumDamani
I do not think this is something that will be part of the core code, you may be better off implementing this ad hoc yourself.

This could open up a huge risk vector for everything from non-accessible html through to severe security vulnerabilities.

Managing the code to html output would be a large undertaking.

For now we will close this but feel free to get support on the support ch

[2022-06-02 08:55] #8620 closed

[2022-06-02 11:09] lb- commented on #8562
Files
* reference implementation wagtail/admin/templates/wagtailadmin/account/account.html
* JS files `client/src/includes/tabs.js`
* wagtail/admin/static_src/wagtailadmin/scss/layouts/workflow-progress.scss

Key actions
* restructure the DOM so that it aligns with the required tabs structure, be careful to look at aria props, descriptions, tab index etc
* Remove the styles that will no longer be

[2022-06-02 11:52] Scotchester commented on #8620
@SohumDamani I also want to point out that the existing [RawHTMLBlock](https://docs.wagtail.org/en/stable/reference/streamfield/blocks.html#wagtail.blocks.RawHTMLBlock) may get you most of what you want.

[2022-06-02 12:16] lb- commented on #8593
Cherry picked to 3.0 branch https://github.com/wagtail/wagtail/commit/6b16de6c7b1cb251acc61fd2d7a0e8ad885f0356

[2022-06-02 12:18] lb- opened #8622 "Adopt generic class based views for User management"
| Part of the Epic https://github.com/wagtail/wagtail/issues/8365 |
|-----------------------------------------------|

### Is your proposal related to a problem?

* Wagtail 2.12 added generic class based views for use across Wagtail's admin.
* Many parts of the Wagtail admin are not yet migrated to this new approach, which makes it harder to share UI logic and styling/layouts.
* This issue specifi

[2022-06-02 12:19] lb- commented on #8620
Thanks @Scotchester

[2022-06-02 13:06] katzmo commented on #8593
Thank you!!!

[2022-06-02 13:21] jaap3 commented on #7592
We stopped using `WAGTAILSIMPLETRANSLATION_SYNC_PAGE_TREE` but have implemented similar "auto translation" behaviour because of #7782. Can we replicate this behaviour by re-implementing `construct_translated_pages_to_cascade_actions` and removing the settings check?

[2022-06-02 14:17] SohumDamani commented on #8620
Thanks, @lb-
Thanks @Scotchester RawHtmlBlock works for me

[2022-06-02 15:54] ababic commented on #7808
Related: #8261

[2022-06-02 16:03] ababic commented on #8261
Suggested fix: Since button helpers have access to all of the necessary mechanisms and are easily customisable, I would suggest adding a new `get_primary_action_link()` method for this purpose.

[2022-06-02 17:46] th3hamm0r commented on #8261
@ababic sounds good! I think I could make a PR for that during the next week. Ok?

[2022-06-03 06:58] ababic commented on #8261
@th3hamm0r that would be fantastic, thank you!

[2022-06-04 04:28] lb- commented on #8622
Thanks @faltunik - I will aim to flesh this out soon.

Just preparing some issues relating to the GSoC UX Unification project and the upcoming Wagtail space sprints.

See umbrella issue for context as to what this is about. https://github.com/wagtail/wagtail/issues/8365

[2022-06-04 13:18] PaarthAgarwal commented on #8562
Didn't get a chance to pull :)

[2022-06-04 22:41] lb- commented on #7053
Workflow history detail will be solved via https://github.com/wagtail/wagtail/pull/8626

[2022-06-04 22:47] lb- commented on #5247
I had not seen this issue before but we are investigating a lightweight framework and heading in the direction of Stimulus JS.

Stimulus provides a convention and consistent approach to preparing data attributes as the init values for a frontend component.
https://stimulus.hotwired.dev/reference/values#types

Specifically it has one for the JSON approach described above.

Head over to the discussi

[2022-06-05 03:38] aliceni81 opened #8627 "Error message shown in the page for duplicated slug"
If I create a page with one slug already existed, a validation error will arise. When it's in the production mode, 500 error page will shown to editors without knowing what type of errors occurred.

ValidationError at /admin/pages/add/articles/articlepage/20/
{'slug': ['This slug is already in use']}

I would appreciate if there is a new feature that "slug in use" validation error shown in page ed

[2022-06-05 09:57] lb- commented on #8622
Updated.

[2022-06-05 10:05] lb- opened #8628 "Adopt generic class based view for page listing (explorer)"
| Part of the Epic https://github.com/wagtail/wagtail/issues/8365 |
|-----------------------------------------------|

### Is your proposal related to a problem?

* Wagtail 2.12 added generic class based views for use across Wagtail's admin.
* Many parts of the Wagtail admin are not yet migrated to this new approach, which makes it harder to share UI logic and styling/layouts.
* This issue specifi

[2022-06-05 10:05] lb- opened #8629 "Adopt generic class based view for user account editing"
| Part of the Epic https://github.com/wagtail/wagtail/issues/8365 |
|-----------------------------------------------|

### Is your proposal related to a problem?

* Wagtail 2.12 added generic class based views for use across Wagtail's admin.
* Many parts of the Wagtail admin are not yet migrated to this new approach, which makes it harder to share UI logic and styling/layouts.
* This issue specifi

[2022-06-05 10:17] lb- commented on #8365
Created three new issues, these would be very helpful to streamline the efforts on UX Unification (GSoC) but not critical

* https://github.com/wagtail/wagtail/issues/8622
* https://github.com/wagtail/wagtail/issues/8628
* https://github.com/wagtail/wagtail/issues/8629

[2022-06-05 17:59] Pomax commented on #5247
Perhaps a silly question, but if you're going down the MCV road, why not something like Vue instead and have the benefit of a huge community that already solved every conceivable problem you might run into several times over?

[2022-06-05 19:29] lb- commented on #5247
Hey @Pomax thanks for the feedback - not a silly question at all.

However - I encourage you to read the linked sub-thread on the comment above. The short version is that we are trying to solve for some constraints and goals and Vue does not suit for these.

Have a read of the thread and the linked research and if you see how Vue can work please add some ideas and example code.

[2022-06-06 06:47] lb- opened #8631 "Add new Breadcrumbs examples to the Pattern Library (Storybook)"
### Is your proposal related to a problem?

The pattern library (storybook) currently shows the old breadcrumbs design.
![Image](https://user-images.githubusercontent.com/1396140/172103848-30b6f9fd-f044-4fcc-b487-103b80e82b57.png)

As we will be adopting the new breadcrumbs, it would be better to have this as the one used in the pattern library.

![Image](https://user-images.githubusercontent.com/

[2022-06-06 06:52] lb- opened #8632 "Add Tabs & Tabs Nav Link examples to the Pattern Library (Storybook)"
### Is your proposal related to a problem?

The pattern library (storybook) currently does not show the Tabs or Tabs nav links.
As we will be adopting the tabs designs across all of Wagtail it would be good to have a reference implementation here.

![Image](https://user-images.githubusercontent.com/1396140/172110093-d77d42d8-7733-4c63-be2f-14524e6f6ace.png)

### Describe the solution you'd like

*

[2022-06-06 08:46] the-nathan-smith commented on #4694
@thibaudcolas is there an idea when this will be implemented?

[2022-06-06 09:22] kaedroho commented on #8365
Thanks for this @lb-!!

I feel like we should drop the styleguide from this, since that view just needs to render a template and I don't think any of our generic views will help with this. Also, simple translation doesn't contain any index/create/edit/delete views so it might not make much sense to make this one generic either.

Modeladmin might be tricky since the way it implements search, filter

[2022-06-06 09:24] kaedroho commented on #8629
Thanks @lb-!

The form on this view is constructed a lot differently to the way our other generic edit views work. This one might be one worth keeping separate.

[2022-06-06 15:50] gasman commented on #8627
I'm unable to replicate this issue - attempting to create a page with an already existing slug returns an inline validation error as intended, not a server error:

<img width="1413" alt="Screenshot 2022-06-06 at 16 46 18" src="https://user-images.githubusercontent.com/85097/172196441-98177a60-1fc3-477c-b3bd-85f15f5b2b81.png">

If this is not working on your project, it may be due to a customisatio

[2022-06-06 15:50] #8627 closed

[2022-06-06 16:38] slifty opened #8633 "Admin role interface layout is misaligned"
### Issue Summary

It looks like the layout in the admin interface is a bit wonky when editing user "roles"

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/208884/172205045-9a7fe8d9-8e1b-40c0-9ea7-570352f51c48.png">

I would expect each role to be on its own line, with the label to the right of the check box and vertical alignment.

### Steps to Reproduce

1. Follow t

[2022-06-06 16:43] gasman commented on #8633
Thanks for the report! This should be fixed in the next release, by https://github.com/wagtail/wagtail/pull/8494.

[2022-06-06 16:43] #8633 closed

[2022-06-06 18:02] Pomax commented on #5247
I'll be honest: as much use as you're getting out of that discussion thread, for someone just looking in from the sidelines the fact that it's part of a huge book worth of discussion about every single thing tech-debt-ish instead of there being dedicated discussions for each aspect of the overhaul makes it pretty much untrackable.

[2022-06-06 20:17] lb- commented on #5247
@Pomax thanks for giving it a go - these things evolve slowly and yes in hindsight it's a bit confusing. We don't have a way to split sub-threads out.

Here is a direct link to the investigation.
https://github.com/lb-/bakerydemo/blob/ui-experiments/lightweight-frontend-framework-investigation-2022.md

Here is a direct link to the code. The header search is a good example of removal of a large amo

[2022-06-06 21:29] chosak opened #8635 "Revision model rename breaks Page revision foreign key on SQLite"
### Issue Summary

#8441 renamed the PageRevision model to Revision, which included a migration with [a `RenameModel` step](https://github.com/wagtail/wagtail/blob/1f43d8ef51e455b92e42447fdc190d5ec83ec53c/wagtail/migrations/0070_rename_pagerevision_revision.py#L15-L18).

On my local machine, running against SQLite in the default configuration, this renamed the table but didn't update the foreign k

[2022-06-07 01:37] cesar-benjamin opened #8636 "Error in forms listing in admin"
### Issue Summary

I have a site which i was working well with wagtail -2.16.x, i'm making a renewal and migration of the whole site, i have a few forms, but when i did try to test it, seems to work twice, but when i look in admin section 'Forms' an error appears about 'str' object is not a mapping

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Edit models.py to

[2022-06-07 02:30] lb- commented on #8632
@PaarthAgarwal I think you need to change the title in the default export if you want the pattern to appear under shared.

https://storybook.js.org/docs/react/configure/sidebar-and-urls#permalink-to-stories

Something like

[code]

This will override the default behaviour which is to use the folder path names.

But try to configure this at the pattern library settings first.

[2022-06-07 05:38] lb- commented on #8629
@kaedroho I think it is still worthwhile making this a class based view - just using the basic Wagtail template mixin.

I agree this does not need to use the model one - I can reword the issue accordingly.

Class based views make it much easier to override/ extend the existing behaviour without having to copy/ paste the entire view function.

I see this as similar to the dashboard class based view

[2022-06-07 05:39] lb- commented on #8365
PR for reports index that relates to this.
https://github.com/wagtail/wagtail/pull/8637

Thanks @laymonage !

[2022-06-07 07:56] lb- commented on #8629
Update made.

[2022-06-07 08:04] lb- commented on #8365
@kaedroho I have descoped (no longer has checkboxes) the ModelAdmin and styleguide ones and re-grouped these into a low priority section.

Keeping them listed for completeness - hope that is ok.

Let me know if you are aware of any other views in Wagtail that should adopt the shared classes approach.

[2022-06-07 08:13] zerolab commented on #8636
Hey @cesar-benjamin, #8230 changed the `form_data` field to use a `JSONField`.

Can I double check that you ran all migrations?

[2022-06-07 09:40] thibaudcolas commented on #8635
Just to report I think I have the same issue here. Also hit when creating a new page.

I get the same output as @chosak for `PRAGMA foreign_key_list('wagtailcore_page')`, `PRAGMA legacy_alter_table`, `PRAGMA foreign_keys`

This is on macOS 12.3 Monterey, SQLite version 3.37.0 2021-12-09 01:34:53, same Wagtail commit 1f43d8ef51.

[2022-06-07 10:06] gasman commented on #8636
For reference, the same thing [has been reported on the Wagtail Slack support channel](https://wagtailcms.slack.com/archives/C81FGJR2S/p1653794968915449) but is unresolved there - if this does turn out to be a missed step in the upgrade process then we should highlight this in the release notes.

[2022-06-07 12:27] thibaudcolas commented on #8419
Done in #8564.

[2022-06-07 12:27] #8419 closed

[2022-06-07 14:21] zerolab commented on #7592
Hey @jaap3, at the moment `construct_translated_pages_to_cascade_actions` is only used in unpublish, move and delete, so I don't think that'll work.

Will happily review a PR for #7782, though

[2022-06-07 15:56] PaarthAgarwal commented on #8631
I've assumed by one item you mean root item + one item. Let me know if it's otherwise.

[2022-06-07 17:24] chosak commented on #8635
Looking into this a bit more, this definitely seems like a Django issue and nothing specific to Wagtail. That being said, we might need to find a workaround if we want to release this table rename given current Django logic.

I dug into the Django history around these SQLite pragmas (which is quite complicated!) and I think this is the same issue as Django [ticket 31765](https://code.djangoproject

[2022-06-07 20:07] cesar-benjamin commented on #8636
i'm not sure if is an upgrade issue only, i havent use 3.0 with a new project with forms (yet) but looking the code and the field that now is JSONField instead of TextField but for a reason the representation appears yet as text, i guess that have to jsonize all the times, i'm not able to try in a new project for now but my data have no forms submissions yet because i'm close to release my new sit

[2022-06-07 23:37] stevedya opened #8641 "When using a RTL html direction the default sidebar branding is cropped"
### Issue Summary
When using right to left languages or styles the wagtail branding logo bird gets cropped by its positioning.

![Screen Shot 2022-06-07 at 5 09 01 PM](https://user-images.githubusercontent.com/25041665/172499609-486aa999-600c-411e-b5f0-e9d406e95df0.png)

### Steps to Reproduce

1. Install wagtail v3.0+
2. visit the wagtail adming at /admin/
3. Open the browser inspect tool and cha

[2022-06-08 06:48] lb- opened #8644 "Breadcrumbs next rely on data-slim-header to be present in DOM"
### Issue Summary

When attempting to use the new `breadcrumbs-next` outside of the `data-slim-header` we get an error that the `slimHeader` does not exist.

- This will hinder efforts to use this new breadcrumbs component outside of the slim-header

### Steps to Reproduce

1. Run the test server...
[code]
2. Load a page to edit
3. Observe the header breadcrumbs work correctly
4. Now open the temp

[2022-06-08 06:50] lb- commented on #8644
Note, we could do something like this where we read the dataset and if we do not find a selector fall back to `header`.

We should rename the element to `header` no `slimHeader`.

Not sure on whether we should stop the whole code from running or just check if the header exists before we add the mouse event listeners. Probably best to get the logic to work even if the breadcrumbs are not inside any

[2022-06-08 07:13] lb- commented on #8644
Updated - we can probably just remove `data-slim-header` completely with this fix as it will not be needed.

[2022-06-08 07:29] lb- opened #8645 "UX Unification - adopt breadcrumbs across all of Wagtail"
| Part of [UX Unification - header component with variations #8539](https://github.com/wagtail/wagtail/issues/8539) |
| --- |

## Is your proposal related to a problem?

- Currently there are at least **four** different variants of breadcrumbs in Wagtail, with three distinct styles used across these variants.
- This creates a problem where the design across Wagtail does not feel unified and also c

[2022-06-08 07:32] lb- commented on #8645
@thibaudcolas  please review this issue, I think it is best to adopt the new breadcrumbs in isolation of the header, most cases currently have the breadcrumbs sit above the header content so this will be a great first step. Also there is a case (page chooser) where we have breadcrumbs that are not part of a page header.

Can you please advise
- adding a `is_compact` to show the breadcrumbs in coll

[2022-06-08 07:39] lb- opened #8646 "Pattern library failing (storybook) - cannot find Jcrop.gif"
### Issue Summary

Since the merging of stylesheets  (https://github.com/wagtail/wagtail/pull/8564) the pattern library (storybook) build is failing locally.

### Steps to Reproduce

- run the pattern library locally as per  https://docs.wagtail.org/en/latest/contributing/developing.html#using-the-pattern-library

### Details
* commenting out the line...
in `wagtail/client/scss/vendor/jquery.Jcrop

[2022-06-08 07:39] lb- commented on #8646
@PaarthAgarwal  / @thibaudcolas  here is the issue.

I am not sure on the solution but will try to have a look tomorrow if possible.

[2022-06-08 07:39] lb- commented on #8646
Discovered in https://github.com/wagtail/wagtail/pull/8638#issuecomment-1149550202

[2022-06-08 08:05] lb- commented on #7053
RFC 78 created https://github.com/wagtail/rfcs/pull/78  - with the goal of giving us a practical solution to widget scripts (amongst other things).

[2022-06-08 08:06] lb- commented on #1288
RFC 78 created https://github.com/wagtail/rfcs/pull/78  - with the goal of giving us a practical solution to widget scripts (amongst other things).

[2022-06-08 08:06] lb- commented on #5247
@Pomax  as discussed

RFC 78 created https://github.com/wagtail/rfcs/pull/78

[2022-06-08 08:14] lb- commented on #8232
RFC up for adoption of Stimulus JS with a potential path forward on this issue through a `data-*` attributes driven API on the button element, irrespective of where used (even when added to a modal dynamically) it would attach the JS behaviour as desired.

https://github.com/wagtail/rfcs/pull/78

Feedback welcome on that RFC's PR.

[2022-06-08 11:21] thibaudcolas commented on #8645
I can see two design decision points that have to be resolved here:

- Is it appropriate for breadcrumbs to be used to navigate between the hierarchy of views in the CMS. Right now our breadcrumbs are only used to navigate within the hierarchy of the _site’s pages_. Technically ModelAdmin already does this in its inspect view ([see example screenshot](https://github.com/wagtail/wagtail/issues/8539

[2022-06-08 12:17] lb- commented on #8645
@thibaudcolas

My thoughts - aside from the Snippets idea - all breadcrumbs usage is only related to page hierarchy.

Page listing. What if we kept the light grey BG. It's contrasted against the real header but it would be above it so maybe not a huge compromise to get momentum on this work.

As for page chooser - I think we should aim for the component / classes and even template tag to be all th

[2022-06-08 12:54] thibaudcolas commented on #8408
Another potential addition, this time coming from wagtailmedia: there is no way to call the `initTabs` function we use in Wagtail from third-party code: https://github.com/torchbox/wagtailmedia/pull/161.

Here are potential solutions for this:

1. Expose this function globally similarly to e.g. `window.draftail.initEditor`, so it can be called by third-party implementations as needed.
2. Re-implem

[2022-06-08 13:05] TommasoAmici opened #8647 "Allow sorting and searching when moving a page"
### Is your proposal related to a problem?

When moving a page from one parent to another, there is no way to easily go to the destination without clicking many times in the UI.

This is especially frustrating when a page has many children (think >100) as there is no way to search directly for the destination or even to sort the table. See screenshot attached where I have deleted some elements of

[2022-06-08 15:49] thibaudcolas commented on #8645
All sounds good to me!

Here are the [WIP designs for the page chooser](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=5404%3A48899):

![page-chooser-wip](https://user-images.githubusercontent.com/877585/172660868-2a46b6b4-1821-40db-ad3b-0a3d7e91c8ec.png)

If we want to tackle this I would focus on retrofitting the breadcrumb style in the third example. Note in our

[2022-06-08 15:53] laymonage commented on #8635
Thanks for the report!

I think it's worth noting that the SQLite installed on the system is not always the same as the SQLite bundled in Python. In my case:

<img width="744" alt="image" src="https://user-images.githubusercontent.com/6379424/172661854-42e942b3-29ed-4669-b86d-4e1ace58e34d.png">

As the `legacy_alter_table` is `0` on my Python's SQLite, I did not encounter the issue.

My environmen

[2022-06-08 21:47] lb- commented on #8646
Additionally, once we fix this, we may want to add some kind of pattern library check to our CI (build the static output and dump it or something similar).

[2022-06-08 22:39] thibaudcolas commented on #8646
Fixed in #8651, could you take a look @lb-?

[2022-06-09 02:04] lb- commented on #8408
Another potential option - assuming we don't get any direction on RFC 78 for some time.

`initTabs` - when called - sets up a global event listener. So that anyone can call.

[code]

This will be listened to by Wagtail tabs code and any the event.target is used to initiate tabs against when called (assuming a. It is not already initiated and b. It has the appropriate data attribute).

This avoids

[2022-06-09 07:12] #8646 closed

[2022-06-09 07:23] #8631 closed

[2022-06-09 08:37] thibaudcolas commented on #8635
👍 here are the results of the above for me:

[code]

[2022-06-09 10:21] raindeer opened #8653 "Changing page field type from TextField to Snippet ForgeinKey crashes the page on edit"
### Issue Summary
Changing page field type from TextField to Snippet ForgeinKey crashes the page when trying to edit it.

### Steps to Reproduce

Create a page model, and add a Textfield like:

`a_field = blocks.TextField()`

Make and run migrations. Create a page and store "xyz" in a_field.

Create a snippet SomeSnippetModel, and Change a_field to:
[code]
Make and run migrations.

Try to edit the

[2022-06-09 11:07] lb- commented on #8645
updated based on feedback

[2022-06-09 11:14] lb- commented on #8645
Paarth to have a read of

* https://docs.djangoproject.com/en/4.0/howto/custom-template-tags/ - how custom template tags work
* Read through this file `wagtail/admin/templatetags/wagtailadmin_tags.py` specifically `explorer_breadcrumb` & `move_breadcrumb`
* Have a read through the next breadcrumbs HTML template `wagtail/admin/templates/wagtailadmin/shared/breadcrumb-next.html` and think about BEM

[2022-06-09 11:48] lb- commented on #7053
`wagtail/contrib/redirects/templates/wagtailredirects/choose_import_file.html` should be fixed by https://github.com/wagtail/wagtail/pull/8654

script was not even used for this view.

[2022-06-09 12:03] #8641 closed

[2022-06-09 14:23] thibaudcolas opened #8655 "Refactor Avatar styles into UI component"
We currently have an "avatar" component as reusable CSS styles that are copy-pasted with the relevant HTML across the admin. This feels like a good candidate to refactor to a UI component:

- [ ] With a template partial in the `shared` folder for us to `{% include %}` where needed
- [ ] With Storybook stories for different variations of that component
- [ ] Refactoring some of the current usage to

[2022-06-09 14:24] thibaudcolas opened #8656 "Refactor Status tag styles into UI component"
### Is your proposal related to a problem?

We currently have a "status tag" component as reusable CSS styles that are copy-pasted with the relevant HTML across the admin.

### Describe the solution you'd like

This feels like a good candidate to refactor to a UI component, this is an approach where we use a template tag to abstract away the HTML.

This shouldn’t change the component’s rendering i

[2022-06-09 14:28] thibaudcolas opened #8657 "Add Help block stories in Pattern Library (Storybook)"
We currently have a "help block" component as reusable CSS styles that are copy-pasted with the relevant HTML across the admin. This feels like a good candidate to refactor to a UI component:

- [ ] With a template partial in the `shared` folder for us to `{% include %}` where needed
- [ ] With Storybook stories for different variations of that component

This shouldn’t change the component’s rend

[2022-06-09 14:30] thibaudcolas opened #8658 "Add Dialog stories in Storybook"
We currently have a "dialog" component as a `{% dialog %}` and `{% dialog_toggle %}` template tag. It would be nice to be able to test this in Storybook:

- [ ] With a template partial in the `shared` folder for demo purposes only
- [ ] With Storybook stories for different variations of that component, using that demo template partial

This shouldn’t change the component’s rendering in any way, ju

[2022-06-09 14:32] thibaudcolas opened #8659 "Pattern library (Storybook) UI cleanup"
Briefly discussed with Steve – very simple cleanup tasks:

- [ ] Set the background to white for Storybook stories
- [ ] Add better text examples to our "Type scale" story

[2022-06-09 14:34] thibaudcolas opened #8660 "Storybook testing: set up Storyshots with automated accessibility tests"
This was started in https://github.com/wagtail/wagtail/pull/7176. We’ve since added great examples of this setup in https://github.com/torchbox/storybook-django, which could be reused as-is for Wagtail.

- [ ] Set up Storyshots with Axe testing all stories
- [ ] Run Storyshots in CircleCI for every PR

[2022-06-09 14:35] thibaudcolas opened #8661 "Add styleguide’s buttons to the pattern library (Storybook)"
We have copy-pasted button components markup in the styleguide. It would be nice to move this to Storybook, so we can test the button styles there.

We should be able to do this by just copy-pasting the HTML – refactoring buttons to a template partial feels like too much work at this time.

[2022-06-09 14:42] thibaudcolas commented on #5791
Just to note that as part of the page editor 2022 project we’re going to go for option 3 – remove the buttons altogether (but undo-redo is still possible). Implementing this will just be a matter of removing two lines: https://github.com/wagtail/wagtail/blob/ab92256b093b3817ac58aff5c1e2b1b04af8c10f/client/src/components/Draftail/index.js#L116-L117

and updating any related test cases (if any, not

[2022-06-09 20:23] lb- commented on #8656
We should also try to refactor the CSS to be consistently using the `w-` prefix and move styles files from scss/objects to scss/components

[2022-06-09 20:31] lb- commented on #8600
@robslotboom please can you reformat this enhancement request in the preferred feature request template.

https://github.com/wagtail/wagtail/blob/main/.github/ISSUE_TEMPLATE/FEATURE_REQUEST.md

This helps the team quickly triage and provide feedback to your idea.

However, I think we would like to solve something like this without a new setting. Maybe it can be solved somehow with a class attribut

[2022-06-09 21:16] lb- commented on #8660
awesome!

[2022-06-09 21:38] #8588 closed

[2022-06-09 21:41] lb- commented on #8588
Fix cherry picked to stable 3.0 branch 511f44fa4843581debcda6f1afdcc07022b698bf

[2022-06-09 22:14] #5309 closed

[2022-06-09 22:41] krzysztofjeziorny opened #8664 "Firefox endless scroll layout on a editor page"
### Issue Summary

Page layout on a editor page is partially broken in Firefox.

### Steps to Reproduce

The `.wrapper` element is set to `height: 100vh`, which causes a strange layout issue in Firefox: both the body and the wrapper are scrollable, and the wrapper one scrolls endlessly to bottom when pushed, ie. on a trackpad.

<img width="779" alt="Screenshot 2022-06-09 at 23 54 55" src="https://

[2022-06-10 07:04] lb- commented on #8483
Note that this line was probably intended to do the same thing (for create only) and very likely no longer works
https://github.com/wagtail/wagtail/blob/1297b930e54ec3d7255a5f56e3b5cb85724a4439/wagtail/admin/templates/wagtailadmin/pages/create.html#L94

This is due to the focus being called on DOMContentLoaded but the timing of the tabs and the active section may not align.

[2022-06-10 10:47] robslotboom commented on #8600
@Ben Johnston,
I'll wait and see what happens.

[2022-06-10 11:17] PaarthAgarwal commented on #8645
It's because of this class `w-bg-grey-50`.

[2022-06-10 12:51] KIRA009 opened #8667 "PageChooserPanel not accepting additional args and kwargs"
### Is your proposal related to a problem?

Except for `PageChooserPanel`, all other panels (namely, `DocumentChooserPanel`, `ImageChooserPanel` and `SnippetChooserPanel`) accepts `args` and `kwargs`, which are then passed on to their base class, i.e. `FieldPanel`. As a result, customising the `PageChooserPanel` is a bit difficult than the rest.

For example, if we want to change the heading of an

[2022-06-10 18:06] gasman commented on #8173
@Jaspreet-singh-1032 Thanks for looking into this!

The change being requested here is: if the list of available page types is empty (because all the allowed page types have reached their `max_count_per_parent` limit), there should be a message saying "Sorry, you cannot create a page at this location" rather than the standard "Choose which type of page you'd like to create" message. In your exampl

[2022-06-10 20:29] thibaudcolas commented on #8655
@lb- Steve is only meant to help with our usage of Storybook for the time being so I’ve told him not to attempt any CSS refactorings – it’s beyond what he has time for, and will also make any changes trickier for me to review.

[2022-06-10 20:33] thibaudcolas commented on #8483
@lb- this looks more like a hacky "autofocus first field", which I think we should remove.

[2022-06-10 21:17] lb- commented on #8656
No problems at all - that can be split / done when it if needed. Same goes for the others. I got a bit confused and saw this in up for grabs so figured anyone would pick this up. I didn't see Steve assigned.

[2022-06-11 14:23] Jaspreet-singh-1032 commented on #8173
Thanks, @gasman for explaining the issue. I would definitely look into this and try to fix this issue.

[2022-06-12 01:33] lb- commented on #8615
Can confirm this is an issue and broke with changes for 3.0
`client/scss/components/_button.scss` `&-active {` on line 232 should not have justify content centre
`client/scss/layouts/_page-editor.scss` padding added to `footer .actions, footer .preview {  .button {` should not be padding but margin so animated icons do not include that spacing

<img width="1393" alt="Screen Shot 2022-06-12 at 11 0

[2022-06-12 01:36] lb- commented on #8615
PR with fix https://github.com/wagtail/wagtail/pull/8670

[2022-06-12 03:37] hazho commented on #8636
I had the same issue, at the new project, this error had not been raised, but at the existing one does, I thought it was because of the old data, because once I reseted all data and created the db again, error gone, but if what you are saying is the case, then maybe I missed something, maybe I changed something that kicked away the error...!
for example a dependency that had been upgraded due to w

[2022-06-12 03:46] lb- commented on #8664
I can also confirm this issue exists.

[2022-06-12 05:26] #8428 closed

[2022-06-12 05:41] hazho commented on #8636
My assumption maybe true only when there Data, but when there are no Data, the error won't be raised, which mean, the dependency that causes the issue only does when there are old text based data, but still we need more cases like this to be sure 100%
or an intensive manual testing

[2022-06-12 10:32] krzysztofjeziorny commented on #8664
Alas, the quick fix with `100%` is not enough or even bad, as it mangles the layout in Safari (15.5).

[2022-06-13 04:19] cesar-benjamin commented on #8636
what do you mean 'when there data'? i had upgrade with no forms data, i have created a few form pages but there is no data yet. I'm building a new site, i'm close to publish it, but the form data will be create by users in the future.

I'm not sure if you say 'data' as form submisions or form pages. But i can tell that there is not form submissions data yet, only form pages. When i tried to check

[2022-06-13 11:24] #8644 closed

[2022-06-13 11:26] lb- commented on #8645
Update - did a bunch of re-org of this with Paarth on a call today - focusing on the smaller things first and moving the CSS refactor until later as it may be a bit large.

[2022-06-13 13:09] hazho commented on #8636
by Data I mean both, if there are form pages before upgrading and running (migrate) command, the error could be raised by a chance of (90%), but when there are no data at all before upgrading, or when the project is new (`wagtail start project`) most probably this won't rais any error..!

[2022-06-13 13:15] hazho commented on #8636
by the way, what is your OS? I tested mine on Windows

[2022-06-13 14:32] #8615 closed

[2022-06-13 16:21] thibaudcolas opened #8673 "Feature request: page editor minimap"
### Is your proposal related to a problem?

Long page editing UIs are tedious to navigate.

### Describe the solution you'd like

The minimap is a proposed feature from the [page editor 2022](https://github.com/wagtail/wagtail/discussions/7739) project, to help with navigation of those pages:

- For mouse users, the minimap presents all of the page’s sections (panels, potentially blocks, potential

[2022-06-13 18:29] gasman commented on #8582
Thanks for reporting! Confirming that I'm seeing the same issue when testing against a fresh Wagtail install, and against bakerydemo.

It looks like the logic in #8268 for [determining the hostname in the absence of the WAGTAILADMIN_BASE_URL setting](https://github.com/wagtail/wagtail/pull/8268/files#diff-8b9763e540faf1b3d5966de49693a9e8b744b5b4b3b6e17bbbbdb317afa79391R24-R32) was heavily flawed:

[2022-06-14 07:13] lb- commented on #8673
I have a working POC for this here https://github.com/lb-/wagtail/commits/experiments/mini-map (see last commit).

Note that this is implemented using Stimulus as it makes it easier to scope event listeners and register new behaviour to dynamically injected elements (e.g. blocks). Could be refactored to non-stimulus but would require more code.

## Recording

https://user-images.githubusercontent.

[2022-06-14 07:32] anujaraj commented on #8334
I have committed changes with the following pull request - https://github.com/wagtail/wagtail/pull/8677

[2022-06-14 11:15] gasman commented on #8636
Hi @cesar-benjamin,
I'm unable to replicate this issue following the steps you provided. Starting from a new `wagtail start` project, I edited home/models.py as follows:

[code]

(note: your code above was incorrect, as AbstractEmailForm requires the relation with AbstractFormField to be named `form_fields`, not `campos_formulario`)

and created templates formulario.html and formulario_landing.htm

[2022-06-14 11:15] #8636 closed

[2022-06-14 11:41] uroybd opened #8678 "Random "'NoneType' object has no attribute '_meta'" in Group Detail Page."
This error shows up randomly upon accessing any Group's detail view. In addition to the Traceback, I'm running the application on docker (Docker version 20.10.17, build 100c701) using an `ubuntu:jammy` image.

### Traceback

[code]

[2022-06-14 13:11] gasman commented on #8585
Confirmed on current main (4.0a0).

I propose that we handle this by just [not passing the `user` argument to the `publish` method](https://github.com/wagtail/wagtail/blob/cb43536f07f0a43412b3ff1c8c0d8ed61af5b3db/wagtail/management/commands/publish_scheduled_pages.py#L115) - the user isn't really performing the publish action here, after all.

[2022-06-14 13:59] #8585 closed

[2022-06-14 14:11] cool-man-vk opened #8681 "Search icon too small (UI fix issue)"
### Search icon is small

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

-   I have confirmed that this issue can be reproduced as described on a fresh Wagtail project: (yes )
![image](https://user-images.githubusercontent.com/76818423/173598540-b0fc27ea-f90c-4b6f-8112-73e395603dc3.png)

[2022-06-14 14:26] cool-man-vk opened #8682 "Profile photo not loaded"
### Issue Summary

-   I have confirmed that this issue can be reproduced as described on a fresh Wagtail project: (yes)

[2022-06-14 14:28] gasman commented on #8681
This has been updated for the next release:
<img width="542" alt="Screenshot 2022-06-14 at 16 28 06" src="https://user-images.githubusercontent.com/85097/173602456-44be548e-2697-4c20-854a-3d93e31b5f5e.png">

[2022-06-14 14:28] #8681 closed

[2022-06-14 14:53] gasman commented on #8682
This doesn't give us enough information to work with, sorry.

[2022-06-14 14:53] #8682 closed

[2022-06-14 15:28] cool-man-vk commented on #8682
Profile photo in account information in the user panel is not loaded

[2022-06-14 22:34] lb- commented on #8628
Note: I have made some progress on this here https://github.com/lb-/wagtail/commits/cleanup/page-listing-explorer-class-based-view

Anyone is free to pick this up and continue with it if it gets focused on during the Wagtail sprints this week, just add a comment

[2022-06-15 07:54] gasman commented on #8682
Which versions of Wagtail, Django and Python are you running?
What are the exact steps leading up to this problem (starting from `wagtail start myproject`)? Did you make any code customisations?
Are you running with the Django development server (`./manage.py runserver`) or a production webserver?
Does this happen with all image types, or just one specific image?

[2022-06-15 08:03] cool-man-vk commented on #8682
Sorry to say that , its my mistake I didn't notice that . It works perfectly fine

[2022-06-15 10:13] beingnoble03 commented on #8383
@lb- I would like to work on `docs/extending`.

[2022-06-15 10:20] lb- commented on #8383
Go for it

[2022-06-15 11:24] lb- opened #8684 "Add support for permissions in InlinePanel"
### Is your proposal related to a problem?

* Wagtail 3.0 added the ability to set a `permission` kwarg on `FieldPanel` which is a really powerful way to do per field permissions on any edit form.
* The documentation does not state that this works for other fields but it would be really helpful if `InlinePanel` also supported this feature.

### Describe the solution you'd like

### Describe altern

[2022-06-15 12:02] lb- commented on #8539
Added another variant (form submission - has date search) and also added a few breakpoint size examples.

[2022-06-15 13:08] jacobtoppm commented on #8684
Just to clarify this, some of the logic for this is in https://github.com/wagtail/django-permissionedforms, which handles deleting the field from the form itself. We would need to do some of the work there too in order to remove nested formsets, most likely.

[2022-06-15 14:02] lb- commented on #8673
Update - I pushed some changes to the branch mentioned above today - behaviour is much smoother and also was able to work around the smooth scroll and scrolling to content under the header easily with come CSS (instead of more JS).

[2022-06-15 15:40] gasman commented on #4647
Hi @yvess,
Your test code isn't quite complete - as well as displaying the number, you need to display its type (using the template filter code provided above). This shows the difference in behaviour between the preview and the live page:

(preview)
<img width="887" alt="Screenshot 2022-06-15 at 17 38 40" src="https://user-images.githubusercontent.com/85097/173868585-22ab5edd-a40e-46c3-98ba-ac9c70

[2022-06-15 18:48] soukainakhalkhouli opened #8688 "Add additional column to search results wagtail"
Is there a way to add other columns to the list display in the page admin, like in screen.
<img width="991" alt="Screen Shot 2022-06-15 at 19 46 16" src="https://user-images.githubusercontent.com/71095703/173902096-3e50b0d6-1cd7-470b-a0a4-d9450fc0d7dd.png">
In our project we are using the wagtail platform's search page, and we're currently unable to add columns or filters to it

[2022-06-15 20:23] lb- commented on #8582
Thanks for explaining this all @gasman

[2022-06-15 20:42] #8582 closed

[2022-06-16 09:38] gasman opened #8691 "Add release dates to release note pages"
### Pertinent section of the Wagtail docs

https://docs.wagtail.org/en/stable/releases/index.html

### Details

As suggested on https://github.com/wagtail/wagtail/discussions/8687 - we should have the release date listed at the top of each release notes page. I've done this for [the new 3.0.1 release](https://github.com/wagtail/wagtail/blob/996866fc0607964aac26cdc7eb44a7a43811eca9/docs/releases/3.

[2022-06-16 09:46] #7879 closed

[2022-06-16 11:22] thibaudcolas commented on #8539
Here is a Figma file with the Wagtail 3 screenshots from above, and the WIP designs for Wagtail 4: https://www.figma.com/file/3SZAkXYKTo52047weXDvb9/Wagtail-3-UI-Inventory?node-id=6613%3A40905.

[2022-06-16 12:05] #8691 closed

[2022-06-16 14:22] berndfourdigits commented on #8566
I've made a PR replacing all human-readable-date elements https://github.com/wagtail/wagtail/pull/8697 :)

[2022-06-17 00:23] ixghostxi opened #8698 "xghostx"
import requests
import time
import random
import string
import webbrowser

#colors
BLACK   = '\033[30m'
RED     = '\033[31m'
GREEN   = '\033[32m'
YELLOW  = '\033[33m'
BLUE    = '\033[34m'
MAGENTA = '\033[35m'
CYAN    = '\033[36m'
WHITE   = '\033[37m'
RESET   = '\033[39m'

session = requests.Session()
webbrowser.open('https://instagram.com/qcs.i8?igshid=YmMyMTA2M2Y=')

user_name = input(f'''Enter A

[2022-06-17 06:55] tjwalch opened #8699 "Audit log AttributeError if page type has been removed"
### Issue Summary
If a Page model is removed from project the audit log will crash when trying to display events related to this page type.

### Steps to Reproduce

1. Create a new page type
2. Create a page of this type, make edits
3. Delete the page
4. Remove the page type from code, migrate database
5. Navigate to Audit log

### Technical details

[2022-06-18 16:58] ababic commented on #4298
For those looking for an interim solution... we're currently using this modified version of StreamField internally, which still allows access to the raw values in migrations:

[code]

[2022-06-19 12:42] vedodedo opened #8704 "Admin Edit View Tabs CSS Issue"
Hello All,
i just upgraded a project from wagtail v2 to wagtail v3, i found this issue in the admin edit view tabs
the tabs are out of screen size.
so a lot of them will not be displayed to user.

### Steps to Reproduce

1. you just need to increase the number of tab panels in the model admin.

Any other relevant information. For example, why do you consider this a bug and what did you expect to h

[2022-06-20 09:34] laymonage commented on #8635
Hey all, I made a fix in #8708 by executing `PRAGMA legacy_alter_table = OFF` before running the migration operations. You'll probably have to rebuild your SQLite database though, as rolling back the migration might not revert all the changes. Let me know if this is still an issue. Thanks!

[2022-06-20 10:33] frontendr commented on #3175
This is also what's keeping me from upgrading to 3.0+. I have an `InlinePanel` in a settings model which converted a `CharField` to have choices which were populated from an API call. I used to do this in a subclassed `FieldPanel` in the  `on_form_bound` callback.

I tried to add a `base_form_class` to the parent settings model, but then the formset is already created and I couldn't get it to work

[2022-06-20 12:53] minusf commented on #7715
sorry for dropping this, after the security issue with this feature comments were turned off in our project and so far nobody is missing it too much, so we didn't turn it back on.

but to answer your questions @halinh0507, yes the issue is on that page.  however you need to turn on the commenting feature to see the "add comment" icons for every form entry item. my screenshot shows the "+" for the

[2022-06-20 12:59] minusf opened #8710 "Description of origin for code snippet is outdated"
This description of code snippet is outdated:

### Pertinent section of the Wagtail docs

https://docs.wagtail.org/en/latest/reference/pages/model_recipes.html#recipes

### Details

"This example" is from the deprecated wagtail demo repo (https://github.com/wagtail-deprecated/wagtaildemo/blob/master/demo/utils.py)

No PR cause I don't know along what lines the fix should be. The snippet is useful

[2022-06-20 13:06] gasman commented on #7715
Pretty sure this is fixed in the 3.0 redesign - the comment icon remains clickable and well away from the help text at all window sizes.
![Screenshot 2022-06-20 at 14 03 35](https://user-images.githubusercontent.com/85097/174608279-432353cc-7aa9-4181-9348-ffaa6a71f65b.png)

[2022-06-20 22:45] itekhi opened #8713 "Error in search backends when uploading an Image"
### Issue Summary

So when I am uploading an image with postgres database, I get an error and get stuck on an Image Chooser
[code]
I think it's a quick fix, so no need to explain it more ;)

### Technical details

-   Python version: 3.9.5.
-   Django version: 4.0.4.
-   Wagtail version: 3.0.
-   Browser version: Firefox 101

[2022-06-20 23:00] gasman commented on #8713
Maybe, but it'll be a lot quicker if you describe how to replicate the bug rather than making us guess...

Can you provide the model definition, please? From an initial look, it seems that you've specified a `boost` value in a `search_fields` definition, but for some reason the search backend isn't finding it when loading the model definitions on startup.

[2022-06-20 23:09] itekhi commented on #8713
Sorry, I just looked up the code and saw that the `weight` variable `get_weight` is returning doesn't exist...

It's just a django model(with modeladmin), no `search_fields` at all, this bug happens on every model, checked it on `Page` models and on django model.

[2022-06-20 23:23] itekhi commented on #8713
Here's the full traceback

[code]

[2022-06-20 23:43] gasman commented on #8713
Do you run into the same issue if you start from a fresh Wagtail project (`wagtail start myproject`)? If so, please list the exact steps you take that lead up to the error. There's clearly something non-typical about your setup or the code changes you've made here, or else this would have come up many times before - unfortunately without any details of how to replicate this issue, it's hard to tak

[2022-06-20 23:57] saevarom commented on #8383
I'd like to take `docs/topics`

[2022-06-21 00:30] itekhi commented on #8713
No, I already used `wagtail` 3 with `postgres` database, everything is working as expected...

Yeeah, that's true, it was strange for me that I couldn't find anything about this... I'm using a `wagtail-pipit` template for my project, so there's a lot of code changes... Maybe a custom `Image` model is causing problems? But I didn't yet change anything in it...

That's a strange bug because nothing

[2022-06-21 00:48] itekhi commented on #8713
Ohhhh... Found it!
`wagtail.search` was not added to `INSTALLED_APPS` setting, so everything was falling apart.
I tried to override `CustomImage`s search_fields and got `relation "wagtailsearch_indexentry" does not exist`, so I wondered if `wagtail.search` is even installed...

[2022-06-21 00:48] #8713 closed

[2022-06-21 02:05] lb- commented on #8383
Go for it.

[2022-06-21 08:13] #8710 closed

[2022-06-21 08:18] ollz272 opened #8715 "Supporting UniqueConstaints in AbstractRendition"
### Is your proposal related to a problem?

The django docs have been suggesting that we use `UniqueConstraints` instead of `unique_together` for a little while now, and whilst there aren't any plans to deprecate it, it feels like we should be given a choice on whether to use it or not with our wagtail models. AbstractRendition doesn't currently support this, only allowing an overridden model if i

[2022-06-21 23:12] igorstrapko opened #8723 "Wrong assert name in code example in testing.md file"
https://github.com/wagtail/wagtail/blob/911f17bf8fcf8ae6cbf747b0317e8cc596153197/docs/advanced_topics/testing.md?plain=1#L91

As this is the line of `test_content_page_subpage` method it ought to go with `assertAllowedSubpageTypes` like in line above, not `assertAllowedParentPageTypes`, like it is typed currently.

(Sorry for making issue, I tried to make a PR but have got "Permission to wagtail/w

[2022-06-22 09:07] zerolab commented on #8723
Hey @igorstrapko,

thanks for flagging this.

you do need to fork the repository, clone the fork (which will be under your account and will have permission), branch out from the `main` branch. When ready you can then push and open a pull request. See https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request

[2022-06-22 09:25] igorstrapko commented on #8723
Hey Dan,

Thanks for your patience and help, it worked perfectly and I have pulled my
request now.

All the best,
Igor

On Wed, 22 Jun 2022 at 10:07, Dan Braghis ***@***.***> wrote:

[2022-06-22 10:06] gasman commented on #8723
Fixed in #8725

[2022-06-22 19:26] janbaykara commented on #7767
I think if menus are on the roadmap now, but aren't yet implemented, then hiding the 'show_in_menu' option and defaulting it to 'True' might be good enough for now.

I wonder if wagtail could take ownership of the wagtailmenus repo, like it has with wagtail-localize, because as per https://github.com/jazzband/wagtailmenus/issues/409 an a named lead maintainer has not been identified yet, even if J

[2022-06-22 21:51] #8261 closed

[2022-06-23 07:44] lb- commented on #7767
Thanks for the feedback @janbaykara - some additional thoughts below.

### `show_in_menu` default

* I think this is something that would be hard to change the default on for everyone.
* Plus there is already possible to override the default via `show_in_menus_default` https://docs.wagtail.org/en/stable/reference/pages/model_reference.html?highlight=show_in_menus_default#wagtail.models.Page.show_i

[2022-06-23 08:11] jnns commented on #5814
Due to the way I have my `serve()` method set up, I didn't suffer from this bug when I added custom routes:

The method decorator has a trailing slash in its URLpattern to produce a resolver match for its method.

    @route(r"^year/(\d+)/?$)
    def year(self, request, year):

My page's `serve()` method returns a redirect response if the request URL ends with a slash.

    def serve(self, request

[2022-06-23 11:10] lb- opened #8731 "☂️ Clean up eslint usage - remove 'legacyCode' ignoring"
### Description

* As part of the ongoing improvements to the Wagtail frontend codebase the plan is to ensure that new code and existing code can adopt the baseline eslint rules.
* The goal is to incrementally clean up eslint rules, with mostly adopting the rules provided by https://github.com/wagtail/eslint-config-wagtail and adjusting that repo if needed.
* This is so that newer code can be writ

[2022-06-24 06:28] lb- commented on #8645
@thibaudcolas  after walking though the breadcrumbs that are used in modeladmin - they are really just another instance of this 'I want to go back to the previous listing in the admin' scenarios and not actual breadcrumbs for a page tree.

We discussed today and will simply remove these model admin breadcrumbs.

<img width="1340" alt="Screen Shot 2022-06-24 at 4 25 34 pm" src="https://user-images.

[2022-06-24 06:48] #8647 closed

[2022-06-24 06:50] lb- commented on #8647
Note - sorting is not solved as yet with the PR that has been merged but there are plans to redo parts of the page chooser modal and that may result in the ability to sort better.

Closing though as the core intent of this enhancement has now been implemented.

[2022-06-24 11:16] #4647 closed

[2022-06-24 11:59] lb- opened #8742 "Documentation - versionadded directive rendered differently between RST and Markdown syntax"
## Summary

The `versionadded` tag output is different between RST and Markdown versions of the documentation.

This creates an inconstancy between the two variations and should be resolved with either a preference to convention, styling fixes or maybe we are using the myst directive incorrectly (maybe it should be a role).

See - https://myst-parser.readthedocs.io/en/latest/syntax/roles-and-direc

[2022-06-24 16:58] nutjob4life opened #8744 "Hyperlink in docs invisible on Safari"
### Pertinent section of the Wagtail docs

In the [Wagtail 3.0 release notes](https://docs.wagtail.org/en/stable/releases/3.0.html), the word "MyST" is hyperlinked. On Chrome and Firefox, it appears with a cyan-colored underline.

However, under desktop Safari 15.5 (on macOS 12.4) and mobile Safari 15.5 (on iOS 15.5), the underline is not visible. It's random chance that I happened to mouse over i

[2022-06-24 20:11] easherma-truth commented on #4298
@ababic thanks for the example! Is there any downside to considering such an implementation to be default behavior in Wagtail? This is maybe a roundabout way of asking what the potential issues might be with adopting an approach like that. :-D

[2022-06-24 20:38] ababic commented on #4298
@easherma-truth the only downside we've found is that you can only access raw Streamfield values in data migrations (i.e. not the fancy 'bound' kind that know how to render themselves). I find that we generally only work with raw values in migrations anyway, so that hasn't been an issue for us. The fact that you always get the full raw value to work with is actually better in some cases, as you ca

[2022-06-25 11:20] zerolab commented on #8742
Thank you @lb-,

I've been digging more into this and after a fresh requirements install, it looks like the styles are the expected admonition-y ones, rather than just a plain label.

Can only think of either some heavily cached styles on my side, or perhaps a fluke in building the docs.

Worth checking on your side to confirm and perhaps we can close this.

[2022-06-25 12:51] lb- commented on #8742
@zerolab  ahh yep - must have been an odd caching thing locally on yours, I find that busting the docs cache locally is really difficult.

Here is a comparison of the same `versionadded` admonition but the top one is in RST and the bottom is in MD - they render the same.

Closing as non-issue.

<img width="1645" alt="Screen Shot 2022-06-25 at 10 49 40 pm" src="https://user-images.githubusercontent

[2022-06-25 12:51] #8742 closed

[2022-06-25 13:33] lb- commented on #8383
PR up for docs/topics/search/** https://github.com/wagtail/wagtail/pull/8754

[2022-06-25 14:02] sandeep280993 commented on #8383
Hi @lb-  I would like to work on `docs/reference/pages`

[2022-06-25 14:06] lb- commented on #8383
@sandeep280993 go for it - however that docs section is a bit confusing with a large amount of it requiring use of `eval-rst` - if you wanted to go for a section that was a bit simpler first may I suggest one of the following;

* docs/reference/contrib (direct files only)
* docs/reference (direct files only)
* or `docs/releases/upgrading.rst` (single file)

Up to you though, thanks for putting you

[2022-06-25 15:51] sandeep280993 commented on #8383
Hi @lb- I would like to work on `docs/reference/pages`

[2022-06-25 15:52] sandeep280993 commented on #8383
OK. I'll take up `docs/releases/upgrading.rst` first

[2022-06-25 22:17] lb- commented on #8383
Awesome - thank you

[2022-06-26 09:46] SilvestriStefano commented on #8383
Hello, could I start working on `docs/contributing` ?

[2022-06-26 10:26] lb- commented on #8383
Hi @SilvestriStefano thanks for putting your hand up to contribute. I recommend you look at a few files from the sections below if you are just getting started. You can just do one or two files initially to get a feel for the pull request process.

docs/reference/contrib (direct files only)
docs/reference (direct files only)

[2022-06-26 10:40] SilvestriStefano commented on #8383
Sure I can start in `docs/reference` if you prefer.

[2022-06-26 13:20] GeekGawd opened #8758 "Duplicate Image is saved in Image Upload even if you don't specify the action in admin"
### Issue Summary

**Current Behavior:**
In the wagtail admin. If you try to upload a duplicate image, you are given two actions: whether to keep the image or delete the image.

However, if you select neither of those and lets say press the back button. The image is still uploaded without a tag and is saved locally.

**Ideal Behavior:**
It should be handled a bit more gracefully, and the image sho

[2022-06-26 13:23] GeekGawd commented on #8758
I would also like to work on this issue. As I am new to the repository, some headsup would be nice on where should I look to solve this problem.

[2022-06-27 07:03] lb- commented on #8539
@PaarthAgarwal  a few code snippets from today's discussion, some potential improvements to the shared header include.

`wagtail/admin/templates/wagtailadmin/shared/header.html`

* Accept a `classname` value `<header class="header {% if merged %}merged{% endif %} {% if search_form %}hasform{% endif %} {{ classname }}">` so that it is easy to add additional classes (note: existing convention is unc

[2022-06-27 07:47] laymonage commented on #8539
Just wondering, would it be possible to make the breadcrumbs tag more generic, i.e. not dependent on the page tree? I imagine instead of working with Page objects, it could accept e.g. a list of dicts with `"url"` and `"label"`. That would make it easier to reuse the breadcrumbs in other places, e.g. #8623.

[2022-06-27 08:00] lb- commented on #8539
@laymonage - we discussed this today and I agree that we will need to support a more generic version of the breadcrumbs template tag. I might raise this as a separate issue though.

The UI team agreed with the proposed approach of using breadcrumbs outside of just showing a page tree.

My thinking
- we create a template tag `breadcrumbs_admin` or maybe `breadcrumbs_singleton`
- it accepts a single

[2022-06-27 08:14] lb- commented on #8056
Saw this the other day and it seems that Adobe Spectrum React has a well thought out solution to datepickers that has recently had an overhaul.

https://react-spectrum.adobe.com/blog/date-and-time-pickers-for-all.html

Note that this is React so we would need to think carefully about how this integrates with existing HTML

But - again - it may be better to just keep with the decision made here abo

[2022-06-27 08:20] zerolab commented on #8550
Hey @torotil,

You could accomplish much of this with by overriding the [`Page.serve_preview()`](https://docs.wagtail.org/en/stable/reference/pages/model_reference.html#wagtail.models.Page.serve_preview) method.

There is https://github.com/cfpb/wagtail-sharing which goes further and allows sharing drafts on a separate domain. https://github.com/cfpb/wagtail-sharing/pull/47 implements tokenized UR

[2022-06-27 08:36] #8237 closed

[2022-06-27 12:20] thibaudcolas commented on #3243
PR: #8671.

[2022-06-27 21:20] dholliday3 opened #8762 "Suppress warning with valid"
![Screen Shot 2022-06-23 at 6 20 37 PM](https://user-images.githubusercontent.com/15958912/176035673-2b8b43ce-c7c0-41a6-bdac-2e3924092d9b.png)

I'm getting this warning for a valid many-to-many field that is being added as a filter to `search_fields.`
The field is referenced from `ParentalManyToManyField`. I tried using `RelatedField` as proposed in the [docs](https://docs.wagtail.org/en/stable/to

[2022-06-28 11:09] saevarom opened #8765 "Editing a page from the preview tab results in loss of data if the user edits in a new tab"
### Issue Summary
When a user edits a page and clicks Preview, a new tab is opened with the preview and the tab is somehow registered. The edit bird (userbar) is displayed on the preview page since the user is logged in. If the user then clicks the edit link on the preview tab and edits something and clicks preview again, the edit interface is loaded from the database and the user assumes the data

[2022-06-28 12:18] lb- opened #8767 "add variant of Breadcrumbs that can be used for go back only & implement Add Go Back button in Redirects #8037"

[2022-06-28 12:26] lb- commented on #8597
https://github.com/wagtail/wagtail/issues/8767 created to solve for the generic case of this now that breadcrumbs have been cleaned up via https://github.com/wagtail/wagtail/issues/8645

[2022-06-28 12:27] lb- commented on #8037
https://github.com/wagtail/wagtail/issues/8767 created to solve for the generic case of this now that breadcrumbs have been cleaned up via https://github.com/wagtail/wagtail/issues/8645

[2022-06-28 12:27] lb- commented on #8539
@laymonage https://github.com/wagtail/wagtail/issues/8767 created to solve for the generic case of a simple breadcrumb

[2022-06-28 12:28] #6904 closed

[2022-06-28 12:28] lb- commented on #8645
Simple breadcrumbs work has been split to https://github.com/wagtail/wagtail/issues/8767

[2022-06-28 12:29] #8645 closed

[2022-06-28 12:29] lb- commented on #8767
Updated title & content.

[2022-06-28 12:44] lb- commented on #6904
This was fixed with the new sidebar rework in 3.0 but in 4.0 these breadcrumbs will be removed.

[2022-06-28 13:52] lb- commented on #8767
https://github.com/wagtail/wagtail/pull/8768 created to get feedback

[2022-06-28 17:53] ssyberg commented on #2048
Following

[2022-06-29 01:02] #8566 closed

[2022-06-29 03:49] lb- commented on #8480
@gasman  just adding two items of feedback from other PRs

1. [ ] Search button showing in an edge case where it should not (non-indexable but translatable model) - see https://github.com/wagtail/wagtail/pull/8717#issuecomment-1169497578
2. [ ] Layout review probably needed, content appears a bit close to the purple header in chooser modals - see https://github.com/wagtail/wagtail/pull/8711#pullre

[2022-06-29 04:52] lb- commented on #8765
Not sure that this is a bug, it is definitely a confusing behaviour  though, the data is not lost it is just still there unsaved in the previous tab right?

What if we took the user back to the previous window when they click (not sure if that is possible).

Not sure that blocking the whole user bar completely is really a good solution - feels a bit too heavy handed.

[2022-06-29 06:51] lb- commented on #8767
As per comment / discussion on draft PR - this issue may need to be updated to reflect the need for a full breadcrumbs template tag solution.

With the ability to add any arbitrary breadcrumb items within it.

https://github.com/wagtail/wagtail/pull/8768#issuecomment-1169599467

[2022-06-29 09:19] saevarom commented on #8765
Yes, it's unsaved in the previous tab. And very confusing even though it's not a bug per se. It's definitely a bug in the user experience for some people.

I think that this needs to be solved in some way though.

[2022-06-29 09:32] lb- commented on #8765
Not sure if this is a solution but Wagtail 4.0 should come with a live preview - it may mean that many users won't need to use the separate tab preview.

Another thing that is in the works (but not started) is some kind of popup to advise that the page is being edited elsewhere. Maybe that feature can include when being edited by the same user.

[2022-06-29 10:42] gasman commented on #8480
Thanks @lb-!
I've removed the search button in my latest PR (to be opened shortly) - the document chooser doesn't have it, and it's unnecessary because all of the inputs auto-submit on change anyway. Given that the design is sub-par (not aligned with the other fields and taking up a load of vertical space) I suspect it's not meant to be there, and it was deliberately removed from the others at som

[2022-06-29 11:22] PaarthAgarwal commented on #8539
### Pages with are not using shared header:
### Pages which can use shared header with little work:
1. wagtail/admin/templates/wagtailadmin/home.html
2. wagtail/admin/templates/wagtailadmin/workflows/index.html
3. wagtail/admin/templates/wagtailadmin/workflows/task_index.html
4. wagtail/contrib/redirects/templates/wagtailredirects/index.html
5. wagtail/contrib/settings/templates/wagtailsettings/ed

[2022-06-29 14:27] Scotchester commented on #1167
@matacino Please see this related comment: https://github.com/wagtail/wagtail/issues/4474#issuecomment-1028999923

[2022-06-29 15:26] matacino commented on #1167
@Scotchester  thanks! This looks all promising and exiting!

"But™©" will there be a link-target? ;-)

[2022-06-29 15:40] enzedonline commented on #1167
@matacino check the JS solution a few comments up - applies to external links, leaves everything else alone

[2022-06-29 16:52] easherma-truth commented on #5448
I think this is still an issue in some cases

[2022-06-29 22:09] lb- commented on #8539
@PaarthAgarwal I have transposed that list to the main issue description (see 'issues') with just a xs/sm/md/lg framing.

A few bits of feedback
* Slim header - not sure on the snippets index one - we will wait for feedback from Thibaud, but also that area of code is being worked on by Sage as part of the Snippets enhancements so it is likely you will not need to do this.
* Forms index header - I

[2022-06-29 22:14] lb- commented on #8767
Another draft PR up - a potential generic approach for start/end template tags, if this could work we may have a nicer path forward for a general breadcrumbs tag.

https://github.com/wagtail/wagtail/pull/8775

@laymonage - could you please take a look when you get the chance.

[2022-06-30 00:58] gasman commented on #5193
Now done in the new BaseChooser implementation in #8501.

[2022-06-30 00:58] #5193 closed

[2022-06-30 01:02] gasman commented on #2261
Completed in #8284

[2022-06-30 01:02] #2261 closed

[2022-06-30 01:21] gasman commented on #1680
Completed in #8060

[2022-06-30 01:21] #1680 closed

[2022-06-30 05:03] lb- commented on #8383
I am aiming to pick up `docs/reference/contrib`

[2022-06-30 09:36] gasman commented on #8762
Hi @dholliday3 - thanks for the report.

Have added an ID to the warning in #8780 - will leave the other issue (i.e. whether m2m relations should be considered valid for FilterField) to someone more knowledgeable about the search module.

[2022-06-30 20:16] saevarom commented on #8383
I'd like to work on `docs/contributing`

[2022-07-01 04:21] jsma opened #8785 "Remove treebeard.py"
### Issue Summary

The doc string for `TreebeardPathFixMixin` says:

https://github.com/wagtail/wagtail/blob/e300b39c41d03defd0e19e63e65420b8f3d80b91/wagtail/treebeard.py#L9-L14

The [upstream fix](https://github.com/django-treebeard/django-treebeard/pull/165) was merged and included in [version 4.4 ](https://github.com/django-treebeard/django-treebeard/blob/master/CHANGES.md#release-44-jan-13-202

[2022-07-01 09:29] thinkingcomputing opened #8787 "Markdown field in Admin"
### Issue Summary

I use wagtail markdown. I've recently upgraded my sites to Wagtail 3.0.1. If I use the admin to edit my page content the wagtail markdown field is blank until I click on the empty box which is when it then appears.

### Steps to Reproduce

1. Use admin to edit a page that has a wagtail markdown field.
2. It is blank for me until I click on the empty field

Any other relevant inf

[2022-07-01 09:34] gasman commented on #8787
Hi @thinkingcomputing,
Please open this as a bug against the wagtail-markdown project - it's quite likely it needs updating for Wagtail 3.

[2022-07-01 09:34] #8787 closed

[2022-07-01 10:47] zerolab commented on #6679
Here's an updated viewset that handles search for simple_translatio/wagtail-localize which create separate trees, thus require searching in root page translation children.

[code]

[2022-07-01 13:22] gasman commented on #278
With the new database search backend in Wagtail 2.15, tags are now included in the indexed content of images.

[2022-07-01 13:22] #278 closed, assigned to nobody

[2022-07-01 14:48] thibaudcolas opened #8790 "UX Unification - button component with variations"
## Overview

In the Wagtail design system, we have new designs for our [button component](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=5172%3A30751). Those need to be implemented. This will allow us to generally improve the consistency of Wagtail’s UI, and fix issues such as #3823.

## Button variations

All existing variations are listed in our [styleguide base.

[2022-07-01 15:02] thibaudcolas opened #8791 "UX Unification – help block component with variations"
## Overview

We need to update our help block component’s appearance (colors in particular) to match its [appearance in our new design system](https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=5181%3A33560):

![help block](https://user-images.githubusercontent.com/877585/176918684-ad854cbf-971e-4c15-be92-cfd2e9c85831.png)

## Variations

[See Wagtail 3 as-is, 4 to-be

[2022-07-01 17:01] zerolab commented on #8408
Looks like the changes in #8697 don't quite work in modals. Another one to consider here

[2022-07-02 04:24] schlich commented on #4888
thank you for this!!! i also think these would be great additions to Wagtail proper

[2022-07-02 14:58] sandeep280993 commented on #8383
@lb- I would like to work on pending files, if available.

[2022-07-02 23:48] lb- commented on #8383
Go for it. The only section left is docs/reference/pages. Have a look and see how you go. It's ok if you put a PR up with just a few in that folder.

[2022-07-03 04:46] lb- commented on #8408
Thanks @zerolab - I have a fix for that issue up https://github.com/wagtail/wagtail/pull/8794

[2022-07-04 04:12] lb- commented on #8765
Resolved via https://github.com/wagtail/wagtail/commit/34734d252fcda6f6f554d8295808eb114ef476eb & https://github.com/wagtail/wagtail/pull/8766

Edit link will no longer render when in preview mode.

[2022-07-04 04:12] #8765 closed

[2022-07-04 06:53] lb- commented on #3759
Proposed solution - we pull out the date search parts from the header completely.

`wagtail/contrib/forms/templates/wagtailforms/index_submissions.html`

All the search content would go under the `<div class="nice-padding">` instead of in the header.

[code]

Note: we would need to ensure the form row is not centre aligned but other than that - it looks much better I think.

<img width="1039" alt=

[2022-07-04 06:57] lb- commented on #3759
We will aim to get this resolved as part of the UX unification work in the header  - https://github.com/wagtail/wagtail/issues/8539

But in the mean time - marking as a good first issue for anyone to pick up.

## Actions required

* Pull out the `form` from the header and put into the main content `<div class="nice-padding">`
* Remove any scss that no longer applies
* With styling, fix the date fr

[2022-07-04 15:17] nimasmi commented on #8535
It's used in the wagtail bakery tests: https://github.com/wagtail/wagtail-bakery/blob/ff85d6b068a7e7bc2a707fb90df7aef8562f6b9a/tests/models.py#L26

[2022-07-04 16:03] phildexter commented on #8477
It would be nice if we updated the styling of the save draft drop up as part of this ticket too I think.

[2022-07-04 18:29] ababic commented on #4298
@gasman I've separated out the 'ability to access raw values in migrations' problem and submitted a couple of candidate PRs for it. The second option is preferred, as there doesn't need to be any migration-specific behaviour there, which is very messy to write automated tests for. Do you have any thoughts on either approach?

[2022-07-05 04:41] sephii opened #8797 "Pin beautifulsoup4 to a newer version"
### Is your proposal related to a problem?

The current `install_requires` requires `beautifulsoup4>=4.8,<4.10`. The latest release of Beautifulsoup4 4.9 goes back to 2020. The problem with this release is that it relies on a `use_2to3` feature removed in setuptools 58+, meaning Wagtail can’t be installed in environments that use setuptools 58+.

### Describe the solution you'd like

Upgrade the p

[2022-07-05 10:00] gasman opened #8798 "patternlibrary_override_tags breaks all non-development installations"
#8665 added a `patternlibrary_override_tags` tag library to wagtail.admin, which depends on the django-pattern-library package listed in our testing_extras dependencies. However, this tag library will be loaded on all environments that have `wagtail.admin` in their INSTALLED_APPS, so any Wagtail installation that doesn't include testing_extras is currently broken.

As a non-frontend dev, I don't k

[2022-07-05 10:20] lb- commented on #8798
@gasman my apologies - I assumed that was installed as we use pattern library already.

To be honest - not super sure on how to work around this so maybe I should just revert that PR for now?

I might not have time to look into this fully sorry. But agree this should be documented correctly.

cc @thibaudcolas

[2022-07-05 10:33] lb- commented on #8798
PR up to revert for now https://github.com/wagtail/wagtail/pull/8800

[2022-07-05 10:41] #8798 closed

[2022-07-05 10:43] lb- commented on #8798
Thanks for the info @gasman - will try to keep an eye out for that kind of issue again in the future.

[2022-07-05 11:06] #8797 closed

[2022-07-05 11:07] gasman commented on #8797
Done in #8801 - thanks for flagging this, @sephii!

[2022-07-05 16:37] #8597 closed

[2022-07-06 14:15] thibaudcolas opened #8807 "Feature request: support external -> internal link conversion in copy-paste processing"
### Is your proposal related to a problem?

#8805 introduces a new link creation capability in rich text fields, by automatically creating link elements when the user pastes a URL. We also support pasting rich text content into a field, preserving the links. In both cases it would be nice for those ways to create links to support Wagtail 2.15’s `WAGTAILADMIN_EXTERNAL_LINK_CONVERSION`, which right

[2022-07-06 14:42] Scotchester commented on #8807
Would also be nice, if a matching page is _not_ found, to automatically strip the domain name if it matches the site's domain, resulting in a root-relative `href`.

[2022-07-06 23:46] hazho commented on #8056
Browsers' built-in components like the date, time and date-time pickers (among others) are well fabricated to fulfill these goals, almost all browser engines are taking care of all needed features.. and if there is a certain test that failed, we can rais and issue on their repos..!

[2022-07-07 07:26] jaap3 opened #8809 "Date formatting in Excel files in wrong on macOS (Numbers/Preview)"
### Issue Summary

PR #7320 introduced custom date formatting for Excel exports. However, the formatting strings that are generated do not work correctly when opening the spreadsheet in Preview (also noticed by by @lb- in that PR) and Numbers.

### Steps to Reproduce

1. Download the audit log export from /admin/reports/site-history/
2. Open the file in macOs Preview or Numbers
3. Dates are incorr

[2022-07-07 08:33] thibaudcolas commented on #8126
Approach we discussed with @fabienheureux:

1. Set up visual regression testing w/ https://github.com/thibaudcolas/wagtail-tooling
2. Try to remove all floats and see how much of the potential regressions are picked up
3. Then work through the different float usage one by one, updating to Flexbox or grid

Components to ignore:

- Anything form styles / page editor / footer actions
- Datetimepicker

[2022-07-07 08:59] jaap3 opened #8813 "Cannot import redirects if from/to column index > 6"
### Issue Summary

Using the redirects import in Wagtail's admin interface allows you to select which columns contain the "from" and "to" field.
If one of these fields is in column G (7) (or higher) the import will not continue, but no error is shown either.

### Steps to Reproduce

1. Go to /admin/redirects/ and click the "Import redirects" button
2. Select a spreadsheet with more than 6 columns

[2022-07-07 09:03] jaap3 commented on #8813
I noticed this issue while working on PR #8812, which reduces the number of values in `DEFAULT_FORMATS` to two.

Just noticed ticket #6913 which is about the same issue. If PR #8812 lands users might stumble on this issue even sooner. I'll see if I can fix this.

[2022-07-07 09:36] thibaudcolas commented on #8127
Discussed in today’s UI team meeting with @fabienheureux – we’re happy with the `transform: scaleX` approach which he had used on other projects successfully (not sure where the above prototype comes from but I’ve never used this "for real" before).

Fabien is going to review https://codepen.io/thibaudcolas/pen/qBobgWG?editors=1000, a list of all Wagtail’s icons, to check whether they should be mi

[2022-07-07 12:24] #8809 closed

[2022-07-07 13:12] jonatron commented on #5503
Check out https://github.com/freedomofpress/wagtail-supertable/ if you come across this issue but need something that does cell merging

[2022-07-07 13:14] jaap3 commented on #8813
Closing this as it is a duplicate of #6913

[2022-07-07 13:14] #8813 closed

[2022-07-07 13:16] onno-timmerman opened #8815 "docs search not working in versions"
I just noticed this problem: _(not very important)._

I was looking for something. For some reason the search did not work proper:
https://docs.wagtail.org/en/v3.0.1/search.html?q=ModelAdmin#

This due v3.0.1 in url.

How to repeat. Select V3 and do a search.

[2022-07-07 13:25] thibaudcolas opened #8816 "Contrast themes – Remove forced-colors icons color override"
## Problem

For `forced-colors`, we currently override SVG icon colors to use the `LinkText` color everywhere, rather than our default of `fill: currentColor`:

https://github.com/wagtail/wagtail/blob/12ba7d8161a0055211541402f759f92acfbd0ba3/client/scss/components/_icons.scss#L169-L175

This was done to work around https://bugs.chromium.org/p/chromium/issues/detail?id=1164162, which apparently has

[2022-07-07 13:33] thibaudcolas opened #8817 "Contrast themes – Update help-block styles"
The help block has a few issues in WHCM. We want to make / consider the following changes:

- Text color should be `CanvasText` in all variations (#8791)
- Icon should be using the relevant color (#8816)
- We should try different border options to see whether we can do something less reliant on color, that works well regardless of the user’s theming.

Screenshot for reference:

![Image](https://us

[2022-07-07 14:34] thibaudcolas opened #8818 "UX Unification – restyle dashboard summary metrics"
### Is your proposal related to a problem?

Dashboard summary metrics look a bit dated.

### Describe the solution you'd like

Here is the proposed design for this component:

![dashboard-header-latest](https://user-images.githubusercontent.com/877585/177798876-96bbeaeb-a2e2-44b6-8377-18510bcf9c14.png)

[Figma link](https://www.figma.com/proto/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=6

[2022-07-07 15:14] enzedonline commented on #5515
I ended up implementing a separate heading block with optional bookmark to get around this since I figure a bookmark would (should) always be to a section heading. The problem in draftail is that although there is the anchor tag option to create a link to a bookmark on the same page, if you want to link to a bookmark on another page, you have to use a hard-coded URI in the external link field inst

[2022-07-07 20:30] vsalvino commented on #8127
I am not a native Arabic speaker, but from my experience with the language (school and family) the only icons that would benefit from mirroring would be lists (bullet points, numbers) so that the bullet is on the right. However, mirroring the numbers does not work as they become unintelligible; in that case a completely different icon would be required.

In Arabic, while the text is right-to-left,

[2022-07-07 20:51] lb- commented on #8539
@PaarthAgarwal - I think we should add a `w-header__description` div that sits 'under' the main `h1`

It can be used for the username on the dashboard page and be smaller text.

I think that content will come in handy for other shared header adoption

[2022-07-08 10:57] thibaudcolas commented on #8127
Thank you Vince! I’ve updated the CodePen based on this to set aside all icons that will need a different symbol.

[2022-07-08 12:35] mgalofre opened #8821 "Filter choices by locale in wagtail forms"
### Is your proposal related to a problem?

With internationalization enabled, in the edit forms of the Wagtail admin (pages, snippets or models), the selects of the related objects do not filter the values by the locale of the page form (or snippet form or model form).

### Describe the solution you'd like

Filter the values of the selects according to the locale of the selected page form (or sni

[2022-07-08 13:11] zerolab commented on #8821
@mgalofre what Wagtail version are you using?
Wagtail 2.16 comes with:

- #7862
- #7837
- #7867
- #7839

And #6486 has been there since Wagtail 2.11

[2022-07-09 16:17] thibaudcolas opened #8823 "Higher-contrast focus outline color"
### Is your proposal related to a problem?

Reviewing our focus outline with @wagtail/accessibility, based on reports from an accessibility specialist, we think our focus outline could be tweaked to have better contrast against a good range of Wagtail’s colors. In particular, it doesn’t score very well in [APCA](https://www.myndex.com/APCA/) against white.

### Describe the solution you'd like

We

[2022-07-09 16:22] thibaudcolas commented on #8823
Tagging this as a "good first issue" _for someone with accessibility expertise_. There is no particularly deep knowledge of Wagtail required to help with this, however this requires expert knowledge of accessibility and color contrast nonetheless.

If anyone is interested in picking this up, I’d recommend to start with a few suggestions of colors by using the Contrast Grid link I shared to compare

[2022-07-11 08:43] lb- commented on #8815
Duplicate of known issue.

https://github.com/wagtail/wagtail/issues/8159

[2022-07-11 08:43] #8815 closed

[2022-07-11 09:39] thibaudcolas opened #8827 "Contrast themes – (legacy) Dropdown buttons styled incorrectly in forced colors"
It looks like in #7544 we changed the styles of our "legacy" dropdowns for WHCM, in a way that only supports the default dark theme. It’s not correct for us to apply `forced-color-adjust: none` and custom "white on black" styles like was done there – instead, we need to style the dropdown with system colors.

Here is the component in question in our styleguide, in forced colors "light" to the left

[2022-07-11 09:46] thibaudcolas opened #8828 "Contrast themes – Radio buttons :checked and unchecked look identical"

[2022-07-11 09:46] thibaudcolas opened #8829 "Contrast themes – Switch :checked and unchecked look identical"

[2022-07-11 09:58] thibaudcolas opened #8830 "Contrast themes – Tooltip-style dropdowns are unidentifiable in forced colors mode"
In WHCM / forced colors mode, there are two issues with our tooltip-style "More" dropdowns:

- They are missing a border or outline, so it’s hard to tell where the dropdown is
- The tooltip arrow is a square

Screenshot:

![Image](https://user-images.githubusercontent.com/877585/178238918-7fa746b9-6a2a-4212-afe7-fa4e1a2f5b2f.png)

Figma link: https://www.figma.com/file/O81E48wieOZ7e6AivvksWn/Contr

[2022-07-11 10:22] zerolab commented on #8821
Thank you @mgalofre, this is much much clearer.

This is an area we'd want to think carefully - e.g. should we only display the options for the current locale, or should we allow linking to other locales (which is a valid use case).

The new generic choosers work (#8480) should enable you to have a fully functional chooser with very little code, and it should pick the fact i18n is enabled, thus sh

[2022-07-11 10:43] gasman commented on #8821
As things currently stand, the base implementation for generic choosers doesn't automatically pick up the locale from the calling page - that's [a customisation specific to the snippet chooser](https://github.com/wagtail/wagtail/blob/main/client/src/entrypoints/snippets/snippet-chooser.js#L8-L18). You could apply that same customisation to your own chooser, but either way, it won't do anything tha

[2022-07-11 11:12] thibaudcolas opened #8833 "Contrast themes – Modal dialogs need outline or opaque backdrop"
In Windows high contrast mode / forced-colors mode, our dialog component lacks a backdrop, thus making it hard to understand where the component is (and the fact it’s modal).

Screenshot (left: WHCM, right: default):

![Image](https://user-images.githubusercontent.com/877585/178252282-7a56a85d-e04a-4cc1-b11a-cb41b0107d01.png)

Figma link: https://www.figma.com/file/O81E48wieOZ7e6AivvksWn/Contrast-

[2022-07-11 11:21] thibaudcolas opened #8834 "Contrast themes – Info side panel’s button links need a border"
In our info side panel, we have a few buttons displayed in "link" style. Screenshot in WHCM (left) and out (right):

![Image](https://user-images.githubusercontent.com/877585/178253301-af052a20-ffab-43ae-99be-d1c74bebd57f.png)

Figma link: https://www.figma.com/file/O81E48wieOZ7e6AivvksWn/Contrast-themes%3A-Wagtail-audit?node-id=6805%3A4110

It’s hard to tell those are buttons since the default hi

[2022-07-11 11:26] thibaudcolas opened #8835 "Contrast themes – Tippy tooltip arrows render as rectangles in WHCM"
Related: #8830. Our Tippy tooltips are also:

- Missing a border or outline, so it’s hard to tell where the dropdown is
- Showing their arrows as rectangles

![Image](https://user-images.githubusercontent.com/877585/178253989-70e106b1-3aca-4733-bcb0-6d3c749c20a5.png)

Figma link: https://www.figma.com/file/O81E48wieOZ7e6AivvksWn/Contrast-themes%3A-Wagtail-audit?node-id=6805%3A4110

## Border / out

[2022-07-11 11:33] thibaudcolas opened #8836 "Contrast themes – Add borders to top-of-page messages"
in WHCM, without their backgrounds, our top-of-the-page messages are a bit hard to identify the end of compared to the regular header:

![Image](https://user-images.githubusercontent.com/877585/178255250-7672a9e1-620b-4109-9653-c6443fb49b82.png)

Figma link: https://www.figma.com/file/O81E48wieOZ7e6AivvksWn/Contrast-themes%3A-Wagtail-audit?node-id=6613%3A42988

It would be nice to add a transparen

[2022-07-11 11:40] thibaudcolas opened #8837 "Contrast themes – Invisible login & password reset fields in WHCM"
In WHCM, with our login/password reset form styles, the fields are invisible:

![Image](https://user-images.githubusercontent.com/877585/178256216-68d844b9-9dac-4d69-8e22-b02f78568bd0.png)

Figma link: https://www.figma.com/file/O81E48wieOZ7e6AivvksWn/Contrast-themes%3A-Wagtail-audit?node-id=6613%3A43817

Form the "Login" form, you can still tell where the field might be thanks to the placeholder.

[2022-07-11 11:58] gasman commented on #7715
Retested (on Chrome and Firefox), and I can confirm that the overlap still happens at sizes just above 1200px on both 3.0.1 and current main.

[2022-07-11 12:10] onno-timmerman opened #8838 "Webp global setting"
Would it be possible to make a global setting to always render each image as webp unsless you say otherwise. All modern browsers accept webp. I don't see any reason to stick to jpg and png unless some edge cases.

[2022-07-11 12:33] onno-timmerman commented on #8838
Oh I guess this does it already.
https://docs.wagtail.org/en/stable/advanced_topics/images/image_file_formats.html?highlight=WAGTAILIMAGES_FORMAT_CONVERSIONS#customizing-output-formats

[2022-07-11 12:33] #8838 closed

[2022-07-11 14:02] thibaudcolas commented on #8817
Discussed today – Anuja tried those changes, will share screenshots.

[2022-07-11 17:22] nutjob4life commented on #5319
I'm getting an identical stack trace, but with case-insensitive ordering, i.e.:
[code]
which results in
[code]
The docs say this should be all you have to do:
![Screen Shot 2022-07-11 at 12 20 15 PM](https://user-images.githubusercontent.com/814813/178321548-2a9513b6-4ea3-49ac-a2c7-6377e6c2539e.png)
But it looks like the Elasticsearch backend makes some assumptions about what the `field_name` is.

[2022-07-11 17:30] gasman commented on #5319
@nutjob4life I think that's best treated as a separate issue to the one described here. Essentially, the Elasticsearch backend is replicating the Django Queryset API on an object that isn't a standard database query - implementing arbitrary functions such as `Lower` on `order_by` will be a much bigger task (if the Elasticsearch query language supports it at all) than just adding the `reverse` meth

[2022-07-11 23:09] cnk opened #8840 "Snippet edit form not respecting permissions set in FieldPanel"
### Issue Summary

I can use a ObjectList of FieldPanels to customize the edit form for a Snippet but the snippet editor does not appear to be honoring the permission fields. I know the FieldPanel list is working because removing fields from the list removes them from my form for all users. But users who do not have the custom permission are still seeing all fields in the edit form.

Is this expec

[2022-07-12 10:13] gasman commented on #8840
Hi @cnk - thanks for the report.
I'm unable to replicate this on current main as follows:

[code]

add 'core' to INSTALLED_APPS in courses/settings/base.py

Edit core/models.py to contain

[code]

Run

[code]

Log in to the admin as superuser; from Settings -> Groups, give the Editors group add, change, delete and view permissions on the Course model
From Settings -> Users, create a user and assig

[2022-07-12 16:56] cnk commented on #8840
Sorry. User error. Works fine if you set up the users correctly. Sorry to have wasted your time.

[2022-07-12 16:56] #8840 closed

[2022-07-12 19:35] cnk opened #8845 "Workflow reports showing for user with limited permissions."
### Issue Summary

I have a user belonging to a group with very limited permissions and no permissions assigned at the user level. The Wagtail admin is correctly limiting which snippet models this user can see, but I am surprised they can see Workflow and Aging Pages reports. I expected the admin menu to only show "Snippets".

<img width="434" alt="Screen Shot 2022-07-12 at 12 25 18 PM" src="https

[2022-07-12 20:51] javoweb commented on #8762
Hey @gasman. QQ. Will this patch be available in the next LTS minor version? 2.15.x?

[2022-07-12 20:57] gasman commented on #8762
@javoweb No, LTS releases will generally only receive updates for stability and security fixes, and this is really too minor for that.

[2022-07-13 00:35] #8548 closed

[2022-07-13 06:21] thibaudcolas commented on #7190
This will be fixed by #8824.

[2022-07-13 12:18] PaarthAgarwal commented on #8791
When I try to add color:theme('colors.teal.200') the console throws error:

`'colors.teal.200' does not exist in your theme config. 'colors' has the following keys: 'black', 'grey', 'white', 'primary', 'secondary', 'info', 'positive', 'warning', 'critical', 'white-15', 'white-50', 'white-80', 'white-85', 'black-10', 'black-20', 'black-35', 'black-50', 'inherit', 'current', 'transparent', 'LinkText

[2022-07-14 13:00] thibaudcolas commented on #8148
Implemented in #8671.

[2022-07-14 13:00] #8148 closed

[2022-07-14 13:02] thibaudcolas commented on #3243
This has been implemented, and will ship in the next release :)

[2022-07-14 13:02] #3243 closed

[2022-07-14 15:05] easherma-truth commented on #3243
@thibaudcolas very exciting!!

[2022-07-14 18:45] Dolidodzik commented on #8845
I checked that and it's just visual

![image](https://user-images.githubusercontent.com/45403119/179059112-2d4b5d38-e8b3-4224-ab05-1992901a9223.png)
![image](https://user-images.githubusercontent.com/45403119/179059006-c509ee20-8d78-404b-a182-da0d56acffd3.png)

[2022-07-14 18:47] Dolidodzik commented on #8845
I think this issue can be solved only with changes to admin frontend - users without permissions for reports shouldn't see that tab in sidebar at all, and I think I am capable of making that fix.

[2022-07-15 08:51] thibaudcolas commented on #5791
Done in #8806, shipping in Wagtail 4!

[2022-07-15 08:51] #5791 closed

[2022-07-15 08:59] thibaudcolas commented on #4760
I want to add a few more notes related to this – currently there are three separate forms of link validation in rich text:

- Server-side, the link chooser enforces external links pass Django’s URLValidator, which allows http/https/ftp/ftps (and uses a regex)
- Client-side, the copy-paste processing only retains links within pasted content if they start with `http` or `https` (no further checks) T

[2022-07-15 09:01] thibaudcolas commented on #6526
As of #8805, we’re making empty heading blocks much more visually prominent. This strikes me as an appropriate solution to this issue, even if there is no actual validation, so I’ll close this now.

[2022-07-15 09:02] thibaudcolas commented on #5792
As of #8806, we now have a floating toolbar, which achieves the same thing as what this issue intended.

[2022-07-15 09:02] #5792 closed

[2022-07-15 09:05] thibaudcolas commented on #8248
This has been implemented as of Draftail v2.0 (no stable release yet), merged in #8805. This is undocumented for the time being (needs a final release), but is just a matter of setting `multiline={false}` on the editor.

Demo: https://demo.draftail.org/storybook/?path=/story/docs--single-line

Next step in Wagtail will be #8249.

[2022-07-15 09:05] #8248 closed, assigned to thibaudcolas

[2022-07-15 12:35] #6886 closed

[2022-07-15 13:38] thibaudcolas commented on #5176
Done in #8167 :)

[2022-07-15 13:38] #5176 closed

[2022-07-15 14:08] nutjob4life opened #8859 "Elasticsearch backend stacktrace with order_by_relevance=False"
### Issue Summary

When a query set has certain `order_by` conditions added to it, such as `Lower('some_field')`, the Elasticsearch backend produces a stack trace when `order_by_relevance=False` is used to search the set.

### Steps to Reproduce

[code]

It feels like a bug because [the documentation at this page](https://docs.wagtail.org/en/stable/topics/search/searching.html#custom-ordering) sta

[2022-07-15 14:08] nutjob4life commented on #5319
Thanks @gasman. I see the point and made [a separate issue](https://github.com/wagtail/wagtail/issues/8859).

[2022-07-15 14:41] #8816 closed

[2022-07-15 16:44] Dolidodzik commented on #8845
So, I started working on this issue, and before opening PR I'd like to ask someone more experienced a question (maybe @cnk
 or @zerolab) - how can I check if user is supposed to see aging pages or not? I couldn't find a permission for that anywhere.

I already changed display of workflow items in navbar (by basically checking for `wagtailcore.view_workflowpage` permission in `WorkflowReportMenuIte

[2022-07-15 18:59] Scotchester commented on #8635
Hey @laymonage, I'm just getting around to trying this again and it's still not working for me in my bakerydemo repo with Wagtail's `main` branch installed. Your fix in #8708 doesn't seem to be having an effect. I get the same error when hitting the migration:

[code]

And here's my Python console output:

[code]

FWIW, things are working fine in https://github.com/wagtail/gitpod-wagtail-develop w

[2022-07-15 22:12] Scotchester commented on #8635
Update: I figured out what was going on in my environment.

I use pyenv to install the various versions of Python I want to try. When it builds a Python from source, it brings in build dependencies from a couple potential places. Though I had installed a newer SQLite (3.39.1) via Homebrew, as recommended by pyenv docs, it was still pulling the macOS-built-in SQLite (at 3.28) when building new inst

[2022-07-17 21:11] lb- commented on #8731
Note to self. Clean this description up and add checkboxes for left over items.

[2022-07-18 05:28] lb- opened #8860 "Documentation - Avoid Latin abbreviations for common English phrases"
- Currently mixed “eg” and “For example”, but always corrected by Tom to full version in past
- Google + Microsoft standards recommend avoiding latin abbreviations
- We should be consistent with this and the general consensus from the core team meeting  (6th of July) was to go for non-Latin versions

### Pertinent section of the Wagtail docs

* Add a sub-section to the Language part of https://doc

[2022-07-18 05:28] lb- commented on #8860
@kaedroho FYI - created this from the meeting minutes the other week.
Marking as a good first issue for anyone to pick up.

[2022-07-18 06:27] lb- commented on #8539
<img width="1423" alt="Screen Shot 2022-07-18 at 4 02 21 pm" src="https://user-images.githubusercontent.com/1396140/179455322-7ae9bc69-30ea-4890-943c-9d144b291b2f.png">

Note: we will need to ensure we fix the issue found where the root page is showing an expanded breadcrumb when technically it does not need to be expanded (only one item).

[2022-07-18 08:38] Dolidodzik commented on #8860
I think I can pickup this issue, seems like an easy one.

[2022-07-18 08:58] lb- commented on #8860
Go for it. Just be sure to search for variations like `e.g.` and `eg`

[2022-07-18 08:59] lb- commented on #8860
Also. Be sure to check documentation in python and JavaScript files. For example docstrings and JSDOC

[2022-07-18 09:39] #8478 closed

[2022-07-18 09:44] Dolidodzik commented on #8860
Sure, I'll keep that in mind

[2022-07-18 11:03] kaedroho commented on #8860
@lb- Thanks for creating this!

[2022-07-18 12:17] Dolidodzik commented on #8860
I think my PR (#8861) replaced all of latin abbreviations. The thing is, I was using automated searching with grep (for example `grep -ir "e\.g" --exclude-dir="releases" --exclude-dir="_build"`), so something could slip past me.

[2022-07-18 13:45] #6859 closed

[2022-07-18 18:40] easherma-truth commented on #2335
This works well except in cases where we have StructBlocks which themselves have need of placeholders for dynamic info or otherwise need extra helpful content to be shared with authors.

[2022-07-18 18:40] gasman opened #8863 "Improve organisation of settings reference page"
### Pertinent section of the Wagtail docs

https://docs.wagtail.org/en/latest/reference/settings.html

### Details

The Settings reference page is ostensibly organised into category subheadings ("Site name", "Append Slash"...), but since settings generally get added one-by-one with no plan for how they relate to each other, most of the subheadings only have one or two items in them, and so people

[2022-07-19 04:11] laymonage opened #8864 "UX Unification - Cleanup for slim header in page listing"
### Issue Summary

#8792 introduced some issues due to conflict with other PRs that have been merged previously. In addition, there are also other improvements that can be made.

### Details

- [ ] When moving `.form-side` styles to its own `_form-side.scss` file, some updates introduced in #8671 weren't carried over. By the way, should this be in `components` rather than `layouts`?
  **Original:*

[2022-07-19 04:39] PaarthAgarwal commented on #8864
Did you mean to tag #8792 ?

[2022-07-19 04:49] laymonage commented on #8864
Oops. Yep, thanks!

PR: #8865.

[2022-07-19 05:46] #8864 closed

[2022-07-19 06:04] thibaudcolas opened #8866 "Page listing header: clean up button hooks"
Follow-up to #8792, to further change the server-side implementation of our three configurable button groups.

## is_parent

Our button hooks currently have an `is_parent` boolean flag, so users can decide whether the buttons should be added or not depending on whether the hook is running for the "header" / "parent" page, or for a "row" / "child" page in a listing.

We now use completely separate

[2022-07-19 06:16] thibaudcolas opened #8867 "Page listing header: clean up styles"
Follow-up to #8792.

- [form-side](https://github.com/wagtail/wagtail/blob/main/client/scss/layouts/_form-side.scss) should move from layouts to components.
- [page explorer index styles](https://github.com/wagtail/wagtail/blob/efaad2593217001c3505c5f1ce7a558a882737a2/client/scss/components/_listing.scss#L483-L529) are now unused and should be removed
- 90% sure [other index styles](https://github

[2022-07-19 06:17] thibaudcolas opened #8868 "Page listing header: new designs"
Follow-up to #8792.

We need to implement the target design for the page listing’s slim header:

![listing-header-latest](https://user-images.githubusercontent.com/877585/177798199-bea5285e-993a-4c17-b7bf-9f4c2df12df7.png)

[Figma link](https://www.figma.com/proto/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=6891%3A36234&viewport=3489%2C1106%2C0.51&scaling=min-zoom&starting-point-node-id=6

[2022-07-19 08:50] allcaps opened #8869 "Choose parent page, radio buttons overlap"
# Issue Summary

The 'Choose parent page' view is broken: The radio button labels overlap.

## Current

<img width="1800" alt="current" src="https://user-images.githubusercontent.com/1969342/179691599-ca7ff876-3fc1-4116-ba38-1c78f2b5359f.png">

## Expected

<img width="1800" alt="expected" src="https://user-images.githubusercontent.com/1969342/179691591-0ad83a0a-316d-410a-9c04-84ecd47943dc.png">

[2022-07-19 08:55] gasman commented on #8869
Thanks for reporting, @allcaps!
Looks like another instance of #8494 - I'm guessing this page doesn't use our standard form markup, so the CSS fixes there aren't picked up.

[2022-07-19 09:06] thibaudcolas commented on #2335
@easherma-truth could you further describe your use case in a separate issue / discussion thread? This has been closed for a while so it’s unlikely lots of people will be following discussions here.

[2022-07-19 09:08] allcaps commented on #8869
Do we want to fix the CSS like in the other issue? OR do we want to fix the HTML markup?

I'll submit a PR.

[2022-07-19 09:36] thibaudcolas commented on #8869
I’m already working on form styles for Wagtail 4 that will fix this. If you want to address it in a Wagtail 3, the CSS hack seems like a fair approach. Note the `choose_parent_page.css` has been removed in `main`, the corresponding styles are now in: https://github.com/wagtail/wagtail/blob/main/client/scss/layouts/_modeladmin-choose-parent-page.scss

[2022-07-19 11:26] lb- commented on #3759
Will be fixed by https://github.com/wagtail/wagtail/pull/8862 - new layout that streamlines the way the filtering shows.

<img width="1325" alt="Screen Shot 2022-07-19 at 8 39 37 pm" src="https://user-images.githubusercontent.com/1396140/179739314-6da24d21-9fae-4259-b4b0-c5ebf79acb75.png">

[2022-07-19 12:00] #3759 closed

[2022-07-19 12:00] #3236 closed

[2022-07-19 12:34] Dolidodzik commented on #8845
Thank you for help @zerolab! Yeah this solution seems much cleaner, last time I tried to re-invent a wheel on my own. I created PR with fix, and it should be ready to review.

[2022-07-19 13:32] thibaudcolas commented on #8834
Note from today’s discussion: we want all of the above buttons/links to look the same, so they should all be possible to target when testing this.

[2022-07-19 19:06] Quadric commented on #3155
Hey. Problem still exists in Wagtail 2.15 and Wagtail 2.16 - are there any plans to solve this problem? I've read that "Wagtail is not designed for that" - but using the built-in Wagtail file repository is not an option in my case. The files must be stored on a separate, non-public storage.

[2022-07-19 20:52] lb- commented on #3155
As per the original feedback - https://github.com/wagtail/wagtail/issues/3155#issuecomment-260635685

There are no immediate plans to solve this on the roadmap, however, pull requests that work on improving this are welcome.

[2022-07-20 05:41] #8869 closed

[2022-07-20 05:47] #8817 closed

[2022-07-20 06:11] #8860 closed

[2022-07-20 06:27] #8867 closed

[2022-07-20 07:14] lb- commented on #7240
Implemented via https://github.com/wagtail/wagtail/pull/8735  - 8cdb3f3a60d55a92cff470841205ce7d55523df9

[2022-07-20 07:14] #7240 closed

[2022-07-20 10:23] jnns commented on #5283
We're running into the same problem right now. It's not only that the user experience is bad; we have so many pages that the page load times out.

I will have a look at customizing the ChooseParentView with wagtail-autocomplete.

[2022-07-20 11:08] #8424 closed

[2022-07-20 11:28] thibaudcolas opened #8883 "Admin color palette: Sass variables / design tokens renaming"
Follow-up to #8824, in particular [Scott’s comment](https://github.com/wagtail/wagtail/pull/8824#pullrequestreview-1037839858). Now that almost all of Wagtail’s colors are defined from our design tokens, we need to refine our approach to Sass variables, so their usage makes sense with our design tokens. And maybe review the naming of our design tokens.

## Sass variables

Particularly problematic

[2022-07-20 12:05] boldo-h opened #8884 "Console is overloaded with errors when characters like "−" and "é" are added to the page title"
Console is overloaded with errors when characters like "−" and "é" are added to the page title.

### Issue Summary

I get lots of errors in console if I try in admin panel to edit and then publish or show in pages' list a page with symbols like 'é' or '−' in the title.
This errors completely overwhelm console and looks like they are not related directly to the cause (errors like keyerror 'self', k

[2022-07-20 12:11] boldo-h commented on #8884
[error-wagtail 3.0.1-django 4.0.6.txt](https://github.com/wagtail/wagtail/files/9149598/error-wagtail.3.0.1-django.4.0.6.txt)
![wagtail-3 0 1-screen](https://user-images.githubusercontent.com/79913504/179978639-af9d77f1-9985-4520-83cb-2e6f3d3be321.PNG)

[2022-07-20 13:18] ramonakira commented on #8664
I figured out the issue appears to originate in `div.content aside.form-side`.

The issue appears to be solved if I change
[code]
to:
[code]
Then there is no double scrollbar anymore and no infinite scrolling going on.

[2022-07-20 19:30] thibaudcolas commented on #7190
Fixed :)

[2022-07-20 19:30] #7190 closed

[2022-07-20 19:31] thibaudcolas commented on #8479
I believe this has been _done_.

[2022-07-20 19:31] #8479 closed

[2022-07-20 19:34] #5459 closed

[2022-07-20 19:37] thibaudcolas commented on #2478
As of #8824, we now have CSS variables for all colors, and all fonts. I believe this solves what this issue is about much more neatly than Sass, as the CSS variables are bundled directly in Wagtail’s stylesheets.

I’ll close this now, if there’s a use case for other variables I’m sure we’d be interested in having more available.

[2022-07-20 19:37] #2478 closed

[2022-07-20 20:34] #8836 closed

[2022-07-20 20:53] #8833 closed

[2022-07-20 21:21] thibaudcolas commented on #7449
Assigning to @anujaraj as part of her project.

Looking into this further, I believe the simplest fix would be to add the following styles to our `disabled` styles, in forced colors mode: https://github.com/wagtail/wagtail/blob/4a7892a9b53c0f17f1f9eec6d579d8cea75d7941/client/scss/components/_button.scss#L275-L282

- `color: GrayText;`
- `border-color: curentColor;`

This needs a bit more testing t

[2022-07-21 12:10] lb- opened #8885 "Provide a guideline for any APIs/interfaces that use a `classname` to render HTML classes"
### Is your proposal related to a problem?

While this is not the most critical issue, it would be good to provide a guideline for contributors as to how `classname` will be supplied to Django templates, views and Python driven class components.

### Describe the solution you'd like

* A clear guideline as to the preferred naming convention for `classname` in the general coding guidelines https://

[2022-07-21 12:34] lb- commented on #8885
PR https://github.com/wagtail/wagtail/pull/8886

[2022-07-22 12:52] Tijani-Dia opened #8891 "Show validation errors in multiple upload views"
### Is your proposal related to a problem?

When I upload an image with custom required fields via the multiple upload view, I see the following which suggests that the upload has been successful:

![Screenshot from 2022-07-22 13-06-44 (1)](https://user-images.githubusercontent.com/71412737/180441097-cfaaa1bc-dd1a-404f-ab73-a22eec3ff0f9.png)

However, the `alt` field is required. Therefore, the up

[2022-07-22 13:09] Tijani-Dia opened #8892 "Image de-duplication doesn't work in the multiple upload view when using a custom Image model with required fields"
### Issue Summary

The image de-duplication feature doesn't work in the *multiple upload view* when using a custom Image model that has additional required fields.

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Add a custom Image model:
[code]

[code]
3. Make migrations -> migrate.
4. Go to the multiple upload view:
    1. Upload a new image
    2. Fill the `alt`

[2022-07-22 15:12] thibaudcolas opened #8893 "TableBlock is impossible to reach with the keyboard"
### Issue Summary

Wagtail’s TableBlock table widget is impossible to reach with a keyboard:

![table-block-widget](https://user-images.githubusercontent.com/877585/180469434-5ad4bc9a-4604-420a-bc8b-4d142b5a2f61.gif)

### Steps to Reproduce

1. In StreamField, add a TableBlock
2. Try to navigate to its Handsontable table widget

[2022-07-22 15:31] thibaudcolas opened #8894 "Built-in accessibility checker for Wagtail: Sa11y"
### Is your proposal related to a problem?

As part of our goal to conform with [ATAG 2.0](https://www.w3.org/TR/ATAG20/), we need a built-in accessibility checker for Wagtail. We’ve currently settled on [Sa11y](https://sa11y.netlify.app/) as a good candidate. It’s based on Tota11y, similarly to the popular [wagtail-accessibility](https://github.com/neon-jungle/wagtail-accessibility) package, but

[2022-07-22 20:28] Dolidodzik commented on #8892
I also managed to reproduce that issue - when you use default image model, and try to upload the same file you get warning message that looks like this:
![image](https://user-images.githubusercontent.com/45403119/180547062-4a331e6a-3716-4438-94d3-58079e588b4c.png)
But when you use custom one (that @Tijani-Dia provided above) you got no warnings.

[2022-07-22 20:29] Dolidodzik commented on #8892
I think I'll fix it tomorrow (that is, unless there is someone else who wants to pick it up).

[2022-07-23 00:44] lb- commented on #8383
As of Wagtail 4.0 - all core documentation will be in markdown and not RST - finishing off a ~18 month migration to markdown.

Thanks to everyone who took time to contribute to this, it will now be much easier for new contributors to be able to update the documentation.

[2022-07-23 00:44] #8383 closed

[2022-07-23 01:51] lb- commented on #8894
A few thoughts

* sa11y looks great and agree it seems well purposed to help with CMS previews
* If this is not going to be a third party package - will we provide some kind of hook (or other) to use a different library/or disable this? I think it is best to be enabled by default but understand that some developers will want to turn this off  or replace this with their own.
* will we allow for the

[2022-07-23 17:05] Dolidodzik commented on #8892
I tried to fix that, but `get_image_form()` from `images/forms.py` works really weird. I figured that for some reason just changing `fields` to something like this:

[code]
makes it work like it should (tho fields from CustomModel are missing so it's not really a solution) and it completely changes how submit is processed later on. With `model.admin_form_fields` submit goes through `CreateFromUplo

[2022-07-25 16:02] laymonage opened #8902 "Incorrect colour on privacy dialog toggle in status side panel"
### Issue Summary

#8824 got rid of `w-text-teal-200` and `w-text-teal-600` in favour of `w-text-secondary` and `w-text-secondary-600`. It refactored existing use of those classes to use the new ones, but the same changes were forgotten to be applied to the "Change privacy" toggle after #8847 was merged.

<img width="491" alt="image" src="https://user-images.githubusercontent.com/6379424/180822447

[2022-07-25 16:12] Tijani-Dia commented on #8892
Thanks for having a look @Dolidodzik. I think the issue here is with the [`CreateFromUploadedImageView`](https://github.com/wagtail/wagtail/blob/main/wagtail/images/views/multiple.py#L143).

The logic to find duplicates wasn't added in the [`save_object` method](https://github.com/wagtail/wagtail/blob/main/wagtail/images/views/multiple.py#L158) back when we added this feature.

So, I think the fix

[2022-07-26 11:24] lb- commented on #8818
@PaarthAgarwal  for now let's use the non-inverse variants of the icons for the doc/page

* icon-doc-empty - for page
* icon-doc-full - for documents

[2022-07-26 11:27] lb- commented on #8818
@PaarthAgarwal  we probably also need a description 'slot' under the header, this is useful for showing additional info that is not suitable in the `h1` subtitle. maybe this could be added and then used instead of the subtitle for the username in the dashboard header.

something like this.

wagtail/admin/templates/wagtailadmin/shared/header.html

[code]

[2022-07-26 12:01] #8791 closed

[2022-07-26 12:01] lb- commented on #8791
RTL icons not done but the rest of the items are resolved via https://github.com/wagtail/wagtail/pull/8896
Closing issue

[2022-07-26 12:36] #8866 closed

[2022-07-26 12:47] lb- commented on #8539
Most of this is now done - will look at what needs to be split out so that this issue can be closed.

[2022-07-26 13:34] lb- opened #8906 "UX Unification - header & sidebar styling fixes"
### Is your proposal related to a problem?

* Currently the header layout relies on a mix of floats and position absolute to ensure that it has the correct column layout and also so that it does not overlap with the sidebar 'small' variant (a single absolute positioned button).
* Also, as noted, the sidebar relies on absolute positioning when on small screens, this is actually not working correctl

[2022-07-26 13:41] lb- opened #8907 "Adopt core shared header for ModelAdmin headers"
### Is your proposal related to a problem?

`ModelAdmin` header is one of the last major header usage within the admin that is not using the using the core (non-slim) shared header template.

### Describe the solution you'd like

* Using either a template that extends the shared header OR the template include, ensure that the  [wagtail/contrib/modeladmin/templates/modeladmin/index.html](https://gi

[2022-07-26 13:42] lb- commented on #8539
Closing as completed - left over items that are great to have but ended up being quite large have been split out:

* https://github.com/wagtail/wagtail/issues/8906
* https://github.com/wagtail/wagtail/issues/8907

Great work here @PaarthAgarwal !
And thanks again @thibaudcolas for preparing this and having a clear goal to work towards.

[2022-07-26 13:42] #8539 closed

[2022-07-26 13:48] lb- commented on #3949
Updated discussion happening in UI chat on slack.

* What if we added a global keyboard shortcut to expand/collapse sidebar - `[` Trello uses this (and uses `]` for the right settings side panel).
* Good feedback on this idea and again general push towards more keyboard shortcuts would be good.
* PR up to do a bit of house cleaning for our current minimal shortcuts approach (note: this is for non-

[2022-07-26 16:25] Dolidodzik commented on #8892
Thanks for your response @Tijani-Dia! Yeah, I understand what you mean, I tried to solve it myself like this, but when I tried I realized that both `CreateFromUploadedImageView.save_object()` and `CreateFromUploadView.post()` are called after submitting form - meaning user would get warning message about possible duplicate AFTER filling in, and submitting this form:
![image](https://user-images.gi

[2022-07-27 08:41] fabienheureux opened #8910 "On a GIF file, get_rendition("original") returns a PNG instead of a GIF"
### Issue Summary

When working with gif images, the `original` filter passed to the `get_rendition()` method returns a .png.

### Steps to Reproduce

#### Example repo

1. Clone this repo https://github.com/fabienheureux/wagtail_debug_gif_issue
2. Install dependencies (`pip i -r requirements.txt` or `poetry install`)
3. `./manage.py runserver` (a sample db and media directory contains enough data

[2022-07-27 09:26] lb- commented on #8910
I might be missing something, but Wagtail does not support animated gifs out of the box.
https://docs.wagtail.org/en/stable/advanced_topics/images/animated_gifs.html

Maybe this is why the gif upload is not working?

[2022-07-27 09:29] lb- commented on #8910
ok looks like those docs are out of date https://github.com/wagtail/Willow
https://github.com/wagtail/wagtail/blob/bcb5b2baacbfec5da0c82b96da3b19dbddf70b5a/setup.py#L33

[2022-07-27 10:41] fabienheureux commented on #8910
Thanks @lb- !
Well, I forgot that native support for gif required Wand, but the project I work on has Wand installed and gifs were working properly until recently.

I added wand to my debug repo and things are working properly there.
I am closing this issue as I am now 99% sure it comes from my project's code.

If I find something interesting I will comment with the source of the original issue.

[2022-07-27 10:41] #8910 closed

[2022-07-27 12:10] michig264 opened #8912 "Aliases don't show nested related items"
### Issue Summary

When creating an alias of a page, only immediate child elements (e.g. ClusterableModel, Orderable) are displayed in the alias, while the original also shows nested items.

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Edit home/models.py as follows
[code]
3. Add The following to home/templates/home/sub_home_page.html:
[code]
4. Create an instan

[2022-07-27 15:40] LeoJuanZ commented on #3708
As said on the stackoverflow, you can make the child pages automatically private if you make the father private, but i think it should be avaible from the start, on the model page and configurable through the settings.py, for further security and personalization matters.

[2022-07-27 21:50] zerolab commented on #3708
You can already achieve this with a post create signal handler, or via the `after_create_page` hook.

I feel this is more appropriate for a 3rd party package (but that's just my 2¢)

[2022-07-28 07:27] robinzachmann opened #8913 "relation "wagtailcore_userprofile" does not exist - when removing `wagtail.users` from INSTALLED_APPS"
### Issue Summary

When removing `wagtail.users` from `INSTALLED_APPS` in `settings.py` the following runtime error occurs:

__Error__

__Traceback__
[code]

Any other relevant information.

I would like to disable Wagtail's user management entirely, because we are managing users in Django admin.
I found an old [google groups discussion](https://groups.google.com/g/wagtail/c/hzjCE8WxsLc) where som

[2022-07-28 07:31] gasman commented on #8913
Hi @robinzachmann - thanks for the report. There's an existing issue for this at #3657.

[2022-07-28 07:31] #8913 closed

[2022-07-28 07:51] robinzachmann commented on #3657
Is there any workaround for this?

[2022-07-28 07:52] lb- commented on #8906
Related to https://github.com/wagtail/wagtail/issues/8126

[2022-07-28 08:21] gasman commented on #3657
@robinzachmann You could remove the Users menu item via the `construct_main_menu` hook: https://docs.wagtail.org/en/stable/reference/hooks.html#construct-main-menu

[2022-07-28 08:27] kaedroho commented on #3657
This will be fixed by https://github.com/wagtail/wagtail/pull/7564

[2022-07-28 08:57] yakovyarmo opened #8915 "new stick header hides the draftail toolbar when focusing"
### Issue Summary

### Steps to Reproduce

1. (for example) Start a new project with `wagtail start myproject`
2. Edit models.py as follows...
3. ...

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

-   I have confirmed that this issue can be reproduced as described on a fresh Wagtail project: (yes / no)

### Technical details

[2022-07-28 09:29] michig264 commented on #8912
After some testing I found, this is because `copy_all_child_relations` from django-modelcluster only copies the first level of child relations. To copy the items as described some recursive logic would be needed here:

https://github.com/wagtail/wagtail/blob/bcb5b2baacbfec5da0c82b96da3b19dbddf70b5a/wagtail/models/__init__.py#L1550-L1552

[2022-07-28 13:03] AlessioNar commented on #8243
I am also encountering this error, for the same exact reason. How did you patch it?

[2022-07-28 22:41] tbrlpld opened #8918 "Unique together constraints including the locale are failing"
### Issue Summary

When using the locale in `unique_together` or a `UniqueConstraint` on a snippet then submitting a violating form leads to a `IntegrityError`.

### Steps to Reproduce

1. Get a current version of the Wagtail bakery demo project.
2. Edit `bakerydemo/breads/models.py` as follows.
[code]

3. Run `./manage.py makemigrations && ./manage.py migrate && ./manage.py runserver`.
4. Go to h

[2022-07-29 06:24] thibaudcolas commented on #2268
#8822 has implemented the server-side aspect of this. #8548 implements the character count. Now we just need to display the maximum length next to the count.

[2022-07-29 14:57] thibaudcolas commented on #4694
I’m not aware of anyone currently planning to work on this. I’d be interested to help someone make it happen though!

[2022-07-30 07:28] lb- commented on #8868
PR up https://github.com/wagtail/wagtail/pull/8920
While this does not rework the whole CSS of the header it is good enough to meet the designs so will flag that that PR will close this.

If we need to redo the styles in the future we still can (for slim header) but will leave it as is until it's really needed.

[2022-07-30 07:30] #8868 closed

[2022-07-30 07:32] lb- commented on #8868
@thibaudcolas  maybe it's best we wait for any refactoring of the overall styles (moving back away from full on utility classes) until we have a clearer UI development guideline. I went to raise two new issues for breadcrumbs/slim header to be easier to maintain but it might be best to land on our desired approach as a team before raising more refactoring tickets.

[2022-07-30 07:56] lb- commented on #6913
fixed via https://github.com/wagtail/wagtail/pull/8814  & 649a8623a0449bad6e935cff73fae36a6a20c2e8

[2022-07-30 07:56] #6913 closed

[2022-07-30 13:55] thanasisxan commented on #6534
me too have this issue, editing or writing from mobile is almost non trivial

[2022-07-30 18:11] #8818 closed

[2022-07-30 22:43] Amondale opened #8926 "respond to django 4.x csrf header requirement"
### Issue Summary
Hit this issue only on the admin site. See [django docs](https://docs.djangoproject.com/en/4.0/releases/4.0/#csrf) for underlying cause.

### Steps to Reproduce
See [this issue](https://github.com/wagtail/bakerydemo/issues/349#)
Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

-   I have confirmed that this is

[2022-07-31 00:28] lb- commented on #8926
@Amondale it's unclear what the expectation is here. From what I can see the Django docs just advise sites to change some settings.

I can find a reference to this setting in your CI configs. Is that what you are recommending gets changed?

https://github.com/wagtail/wagtail/blob/f73f54ffcf0f07b7a886824c560fc988fe672907/.squash.yml#L21

[2022-07-31 00:31] lb- commented on #8926
Also from.whar I can see the yml file above does correctly include the right way to define this.

From docs below
---

CSRF_TRUSTED_ORIGINS changes¶
Format change¶

Values in the CSRF_TRUSTED_ORIGINS setting must include the scheme (e.g. 'http://' or 'https://') instead of only the hostname.

Also, values that started with a dot, must now also include an asterisk before the dot. For example, chang

[2022-07-31 00:32] lb- commented on #8926
Will close for now - please advise what the expectation is and we can re-open if something needs changing.

Thanks for raising though @Amondale

[2022-07-31 00:32] #8926 closed

[2022-07-31 00:36] lb- commented on #8915
@yakovyarmo please can you try to update your description to align with the bug template and include some basics such as versions of browser and Wagtail.

In its current state it will be hard to triage this bug and hence may not get the attention needed to fix it.

[2022-07-31 04:46] Amondale commented on #8926
@lb- Thanks Ben for looking at this. Since all the bakerydemo site works fine *except* for the admin pages, under TLS/SSl, I guess I'm wondering if there's any parts of the config hierarchy that deals with the admin subsite. Pretty sure it's a postback problem that came up in django 4.0, and with CSRF exploits almost everywhere these days, wondering how long before wagtail "manages" the admin site

[2022-07-31 08:11] lb- commented on #8926
Just trying to understand more.

Is the problem...
A. When development happens using Django & Wagtail locally, the local admin interface is not serving HTTPS by default?
B. When serving Django & Wagtail in production, somehow the admin is not running on HTTPS even though the main site is (not sure how that's possible)
C. it's not clear how to, by example (bakerydemo) or by documentation, how to se

[2022-07-31 09:42] lb- commented on #2309
Update - there are some designs made now that head in this direction.
https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=6899%3A41010

Potential PR from @PaarthAgarwal (still a Wip) https://github.com/wagtail/wagtail/pull/8925

I'm not sure where we will head with adding customisable logos/titles or the modal approach. Might just try to do new designs first.

Any thoug

[2022-07-31 12:28] xbello opened #8927 "__str__ method doesn't return a string."
This code sample:

    1

    Traceback (most recent call last):
      File "<console>", line 1, in <module>
      File "lib64/python3.10/site-packages/django/db/models/base.py", line 580, in __repr__
        return "<%s: %s>" % (self.__class__.__name__, self)
      TypeError: __str__ returned non-string (type dict)

This method:

https://github.com/wagtail/wagtail/blob/18ad15a18f8e533b858ccde7d06

[2022-07-31 18:11] Amondale commented on #8926
Right, all authenticated requests or login attempts will trigger the django 4.x CSRF 'objection', listed in the docs as follows:

    CSRF protection now consults the Origin header, if present. To facilitate this, [some changes](https://docs.djangoproject.com/en/4.0/releases/4.0/#csrf-trusted-origins-changes-4-0) to the [CSRF_TRUSTED_ORIGINS](https://docs.djangoproject.com/en/4.0/ref/settings/#std

[2022-07-31 19:36] Amondale commented on #8926
@lb- one last thought: it really seems like an update to the docs would be the way to go. Here's my base.py insert that removed the CSRF objection from django 4.x:

CSRF_TRUSTED_ORIGINS = [
    ("https://ubu.test/*"),
    ("http://127.0.0.1:8000/*")
]

As you correctly pointed out, dev/test/prod would need to be configured differently, and steps outside of the realm of developing new Wagtail versi

[2022-07-31 22:22] #8902 closed

[2022-07-31 22:42] Amondale commented on #8926
[A good read on CSRF and CORS](https://w3c.github.io/webappsec-cors-for-developers/)

[2022-08-01 00:10] lb- commented on #8926
Maybe we should move this to a discussion? See what others in the community think of that.

[2022-08-01 07:14] Francois133 commented on #3749
I have the same issue. Apparently, the subpage being created has no parent_page set (I would expect it to have one, is it an __init__  problem ?), which doesn't generate any slug.

[2022-08-01 08:14] robinzachmann opened #8928 "Internal links displayed as broken in rich text editor"
### Rich text editor displays all links to internal pages as broken

When creating an inline link within a `RichTextBlock` to an internal page, the link will be displayed as "broken" after saving the page - no matter what page is selected.

<img src="https://user-images.githubusercontent.com/26547990/182103432-8d9c540c-6688-4166-8eba-e409eed64897.png" width="300px">

### Steps to Reproduce

1. Edi

[2022-08-01 09:50] #8045 closed

[2022-08-01 09:54] robmoorman commented on #8045
Thanks @thibaudcolas

[2022-08-01 09:56] thibaudcolas commented on #2425
I believe this has been fixed in #2942 – can’t reproduce with a URLField at least!

[2022-08-01 09:56] #2425 closed

[2022-08-01 09:59] thibaudcolas commented on #3952
I believe this has been fixed as of the re-implementation of StreamField’s styles a few releases ago. Closing.

[2022-08-01 09:59] #3952 closed

[2022-08-01 09:59] thibaudcolas commented on #1958
I believe this will be fixed by #8901.

[2022-08-01 10:01] thibaudcolas commented on #3604
This will likely be fixed by #8901.

[2022-08-01 10:10] thibaudcolas commented on #6154
I’m going to close this in favour of #8609 – I believe this is largely the same idea, and it’s better for us if we have large discussions like this over in GitHub Discussions threads.

[2022-08-01 10:10] #6154 closed

[2022-08-01 10:20] #8029 closed

[2022-08-01 10:32] thibaudcolas commented on #7519
I’m not able to reproduce this in Wagtail 3.0 (TextField inside a StructBlock inside a StreamBlock) so will close this now. Please let me know / reopen if you can still see this.

[2022-08-01 10:32] #7519 closed

[2022-08-01 10:32] lb- commented on #8704
@vedodedo  I have not been able to reproduce this issue, when there are lots of tabs it correctly creates a scrollbar for me.

https://github.com/wagtail/wagtail/blob/63e0181f93794deac7f92182935985102fd5ed1d/client/scss/components/_tabs.scss#L14

The styles are using the correct overflow classes from what I can see also.

It's hard to track the changes on that line (tailwind -- all items on a sing

[2022-08-01 10:32] #8704 closed

[2022-08-01 10:54] thibaudcolas opened #8929 "Report filters overflow the viewport in Wagtail"
### Issue Summary

In the different parts of the admin that have filterable listings, the filters overflow the viewport. This is due to them having a hard-coded width of 300px, regardless of the available space:

![report-width-crop](https://user-images.githubusercontent.com/877585/182132836-6bca9bec-f1e8-40c1-9052-8ef9d453b889.gif)

### Steps to Reproduce

1. Go to a view that has filters, such a

[2022-08-01 11:06] lb- commented on #2309
Need to consider messages in this work - e.g.

<img width="1366" alt="Screen Shot 2022-08-01 at 9 06 31 pm" src="https://user-images.githubusercontent.com/1396140/182135127-3ee87818-628e-4420-ac19-007dfb4b5083.png">

[2022-08-01 12:07] tbrlpld commented on #6825
@thibaudcolas this is #6825

[2022-08-01 13:35] robinzachmann commented on #8928
__Solved__

The urls settings was missing the serve URL

[code]

This hasn't been noticed because our Wagtail is used headless.

[2022-08-01 13:35] #8928 closed

[2022-08-02 09:02] thibaudcolas commented on #6825
Thank you @tbrlpld 😅 I pasted the wrong number – I believe this is a dupe of #6556.

[2022-08-02 12:04] thibaudcolas commented on #4114
This has been addressed as part of #7724, where we decided to use sans serif everywhere.

[2022-08-02 12:04] #4114 closed

[2022-08-02 17:32] thibaudcolas commented on #4911
#8923 exposes Draftail’s DraftUtils, which I believe is the most important set of utils to have available. For `getSelectedBlocksList` and `getSelectionText`, I’m not convinced they are that worthwhile to have reusable for third-party plugins. They’re only so complex because they support multi-line selections. Even for what they’re used for right now (pre-populating the page chooser’s link text fi

[2022-08-02 17:32] #4911 closed

[2022-08-02 20:37] woutdp commented on #8915
I believe this will close the issue: https://github.com/wagtail/wagtail/pull/8931

[2022-08-03 07:19] laymonage opened #8932 "Move "delete" from save draft drop up"
We want to remove the delete action from the publishing menu and instead have it in the three dots "more" menu up by the breadcrumbs.

---

Note from @kaedroho: the Delete button should remain available even when the page is locked.

[2022-08-03 07:23] katzmo commented on #1824
Also stumbled across this in Wagtail 3.0.1. Why is it so hard to fix? What happened when [looking into this for version 2.5](https://github.com/wagtail/wagtail/issues/1824#issuecomment-452659911) in 2019?

[2022-08-03 10:38] #8932 closed

[2022-08-03 11:52] zerolab commented on #8408
I feel we need to at the very least add https://github.com/wagtail/wagtail/issues/8408#issuecomment-1150590527 for 4.0. it is causing issues for third party packages

[2022-08-03 20:49] lb- opened #8938 "Issues with some Axe tests timing out"
Issues with some Axe tests timing out
https://github.com/wagtail/wagtail/pull/8936/

To investigate post Wagtail 4.0

_Originally posted by @lb- in https://github.com/wagtail/wagtail/pull/8936#discussion_r937125913_

[2022-08-03 21:41] lb- opened #8939 "Sidebar (main menu) - page explorer - styling issue with header item on small breakpoints"
### Issue Summary

On small breakpoints, and mobile devices, the height of the header item (e.g. the current 'tree') selected in the page explorer appears to be slightly off.

This is more noticeable when hovering over that item, you can see that there is a ~5px gap above and to the left of the item when compared to the open/close toggle button.

### Steps to Reproduce

1. Start a new project with

[2022-08-03 21:55] lb- commented on #8927
Looks like this broke with https://github.com/wagtail/wagtail/pull/8230

Have confirmed it's an issue

Thanks for raising @xbello

[2022-08-03 22:29] lb- commented on #8927
PR up https://github.com/wagtail/wagtail/pull/8940

[2022-08-04 08:59] zerolab opened #8941 "Modal header styling needs tidy up"
The modal header alignment is off in relation to the contents (via `header .row`)
![Screenshot 2022-07-31 at 17 19 35](https://user-images.githubusercontent.com/31622/182807358-c3e2ba0c-cf6a-446c-8542-7035fbdcb776.png)

and it sports extra bottom padding (via `header.merged`
![Screenshot 2022-07-31 at 17 18 03](https://user-images.githubusercontent.com/31622/182807288-d6af1f38-7b46-4554-b562-8007b

[2022-08-04 11:33] #8927 closed

[2022-08-04 12:16] danhayden opened #8942 "Invalid expression in wagtail-4.0 (dev20220804) header template"
### Issue Summary

I'm trying out the [wagtail nightly](https://releases.wagtail.org/nightly/dist/wagtail-4.0.dev20220804-py3-none-any.whl) to see if my project works with the progress so far on wagtail 4

I have this line added to my template settings that will render a string if the there is an invalid expression in the template `"string_if_invalid": "INVALID EXPRESSION: [%s]"` (recommended in [

[2022-08-04 12:34] lb- commented on #8942
@PaarthAgarwal  can you take a look at this one.

Looks like we need some extra logic around the `extra_actions` usage.
https://github.com/wagtail/wagtail/blob/6429f8d40b34d181c50d170f0e011c1f1cba506e/wagtail/admin/templates/wagtailadmin/shared/header.html#L59

Please follow the steps above to make the error more visible, should probably be just a matter of updating line 59 to

[code]

[2022-08-04 12:44] lb- commented on #8942
Probably not a bug but it is a change that we should refine for 4.0 and avoid introducing without some guard rails around it.

Here are the Django docs about how invalid (empty/undefined) variables are handled. https://docs.djangoproject.com/en/4.1/ref/templates/api/#how-invalid-variables-are-handled

[2022-08-04 13:02] PaarthAgarwal commented on #8942
I see

[2022-08-04 14:19] Akash-Kumar-Sen commented on #8863
Hello @gasman  I was trying to set up the wagtail codebase in my computer. I followed the exact steps mentioned in https://docs.wagtail.org/en/latest/contributing/developing.html#developing-for-wagtail and while running the test part 'python runtests.py' It is giving some errors. The issue  looks like mostly documentation oriented, so if you can guide me and show how to edit or change the document

[2022-08-04 14:23] gasman commented on #8863
Hi @Akash-Kumar-Sen,
The [Wagtail Slack workspace](https://github.com/wagtail/wagtail/wiki/Slack) is the best place for getting help with this - or see [the Support page in the documentation](https://docs.wagtail.io/en/stable/support.html) for other options.

[2022-08-04 14:59] #2268 closed

[2022-08-04 16:55] #7449 closed

[2022-08-04 16:59] gasman opened #8946 "MySQL search test failures on Django 4.1"
MySQL search tests are currently failing against Django 4.1:

https://github.com/wagtail/wagtail/runs/7674979114?check_suite_focus=true

This wasn't caught earlier because our tests against the Django main branch were only running against Postgres and/or Sqlite :-(

Bisecting shows that https://github.com/django/django/commit/407fe95cb116599adeb4b9ed01df5673aa5cb1db was the commit where the failur

[2022-08-04 21:14] lb- commented on #8938
Issue updated

[2022-08-04 21:30] #8942 closed

[2022-08-04 21:41] #8563 closed

[2022-08-04 22:31] lb- opened #8947 "Migrate away from _utilities.legacy.scss"
### Is your proposal related to a problem?

* For contributors it is currently not clear what utilities classes should be used as some code uses the Tailwind classes and some uses the legacy utility classes.
* It would be good to remove the `client/scss/overrides/_utilities.legacy.scss` file and replace those usages with the appropriate Tailwind classes OR remove their usage completely (e.g. `.cle

[2022-08-04 22:34] lb- commented on #8947
@thibaudcolas any thoughts on this?

[2022-08-04 22:35] lb- commented on #8947
Created after reviewing https://github.com/wagtail/wagtail/pull/8855  - new code added using `.u-hidden` class.

[2022-08-05 07:58] thibaudcolas commented on #7971
Just wanted to say thank you @dkirkham for taking the time to report this so well. I’m reviewing what our recent changes will / won’t have fixed, and this helps a lot.

[2022-08-06 09:06] #2309 closed

[2022-08-06 09:13] lb- commented on #2309
Considering this closed, PR #2309 has brought a brand new design refresh to this page and looking at the history of design suggestions I think it will hopefully exceed expectations.

**As for the customisability**, most of this was already addressed with existing code but maybe not mentioned on this issue.

* Custom user model and complete login form can be done - see https://docs.wagtail.org/en/l

[2022-08-06 09:28] ahmadabdulnasir commented on #6534
Please do anyone have the solution to this? This issue is causing my alot of headaches.

[2022-08-06 09:50] robslotboom opened #8952 "Page queryset method not_public returns public pages"
### Issue Summary

When no ‘restricted pages’ exists, Page.objects.not_public() returns public pages.

### Steps to Reproduce

Create some pages without a privacy setting.
Run: $ python manage.py shell

from wagtail.core.models import Page
restricted_pages =  Page.objects.not_public()
restricted_pages
<PageQuerySet [<Page: Root>, <Page: Welkom bij Confetti>, <Page: Zoek op deze site>,

### Technic

[2022-08-06 09:59] lb- commented on #8941
@PaarthAgarwal any chance you can take a look at this one? It uses the shared header template

[2022-08-06 10:14] PaarthAgarwal commented on #8941
Sure

[2022-08-06 11:37] #8863 closed

[2022-08-06 11:41] lb- commented on #8863
Fixed via 827bcf3dbf3a007e9218d3955b3d9998041d63e8 / #8950

[2022-08-06 11:54] #8946 closed

[2022-08-06 12:08] lb- commented on #8837
Fixed via d2529cad9211434532bd27fa69c2ad0c0f1437ed /  #8925

Note: logo could be better but not sure that it is a critical issue.

## dark

<img width="1675" alt="Screen Shot 2022-08-06 at 10 03 41 pm" src="https://user-images.githubusercontent.com/1396140/183248261-4fe52611-2242-4f32-a5ff-13fed343fc44.png">

## light

<img width="665" alt="Screen Shot 2022-08-06 at 10 04 12 pm" src="https://user-

[2022-08-06 12:08] #8837 closed

[2022-08-06 12:47] lb- commented on #8830
So that we have this in 4.0 I added the finishing touches to #8897 - here is my discovery on the arrow.

* unicode arrow was a pain to position correctly and could cause issues depending on font rendering
* background colour worked ok but felt hacky
* clip path worked well but still needed a specific background `ButtonText` on forced color

Went with the last one (clip path) so that the PR could b

[2022-08-06 13:07] #8830 closed

[2022-08-06 13:12] lb- commented on #7053
Login page - inline script to focus on username field has been replaced with autofocus attribute.

Via #8925

[2022-08-06 21:40] danpaulson opened #8955 "RichText Toolbar is no longer sticky"
### Issue Summary

In some recent version of Wagtail, the toolbar has become "unsticky", in that it no longer travels with the user as they traverse the document. This has lead to a few mentions on Slack, and feels like a step back in terms of usability.

### Steps to Reproduce

Seems to be out of the box functionality on a base install.

Any other relevant information. For example, why do you con

[2022-08-07 00:40] lb- opened #8956 "Client-side (frontend) approach to deprecation warnings"
### Is your proposal related to a problem?

As Wagtail refactors parts of the JavaScript code, including documented APIs such as the chooser interface, it would be good to provide communication to developers (not just contributors) about deprecations.

### Describe the solution you'd like

In a similar way to the Django approach of a `warnings` module that we extend here https://github.com/wagtail

[2022-08-07 02:17] lb- commented on #8955
Not sure but this ifwhr issue may be related.

https://github.com/wagtail/wagtail/issues/8915

[2022-08-07 04:23] Akash-Kumar-Sen commented on #8939
![Screenshot (39)](https://user-images.githubusercontent.com/71623442/183275191-27380a8a-66a6-4cb7-8d85-16c1db122ac5.png)
@lb-  Is this the expected look? Or any modification required?

[2022-08-07 04:54] lb- commented on #8939
That is looking good @Akash-Kumar-Sen  but if you look closely there is still a small bottom border showing for the pages part and a small top border.

[2022-08-07 04:55] lb- commented on #8939
Also - remember to check the focus outline with any changes made - it should be fully visible, but with these adjustments we may need to use focus outline offset -1 or -2px

https://developer.mozilla.org/en-US/docs/Web/CSS/outline-offset

[2022-08-07 05:01] Akash-Kumar-Sen commented on #8939
Okay, I will update that. The outline offset is only for the header item or I should update the toggle button also?