[2022-10-06 10:30] vertexer commented on #9107
Issue confirmed as described above.

[2022-10-06 10:57] andre-fuchs opened #9287 "PageChooserBlock missing in documentation"
Somehow the documentation of the PageChooserBlock went missing. The last version I could find it in is 2.12.5, see link below.

### Pertinent section of the Wagtail docs
**Before**:
[https://docs.wagtail.org/en/v2.12.5/topics/streamfield.html#pagechooserblock](https://docs.wagtail.org/en/v2.12.5/topics/streamfield.html#pagechooserblock)

**After** (some block types missing):
https://docs.wagtail.o

[2022-10-06 11:17] GiorgiMatcharashvili opened #9288 "RichTextBlock Loses space if it's written in Bold mode"
### Issue Summary

Bolded spaces doesn't shows up on the front.

### Steps to Reproduce

1. Create RichTextBlock.
2. Add some bold text and add space(make sure that bold mode is on)
3. turn off the bold mode and add normal text.

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

-   I have confirmed that this issue can be reprod

[2022-10-06 13:02] gasman opened #9289 "Eliminate duplicate object lookup logic between chooser widgets and modals"
Follow-on from #8480 - there are certain operations that are common to the chooser widget and modal views, such as converting an object instance to the JSON-ish dict of data that forms the widget state:

https://github.com/wagtail/wagtail/blob/dbe87bdc5d76afc967e5bb1bd245676044833473/wagtail/images/views/chooser.py#L33-L44
vs
https://github.com/wagtail/wagtail/blob/dbe87bdc5d76afc967e5bb1bd2456760

[2022-10-06 13:19] gasman commented on #8480
I think this can be considered done now. Out of the remaining bullet points:

* The page chooser mechanism inherits from this base implementation - the page chooser is custom enough (tree navigation, integration with the general link builder) that there's little benefit to doing this
* Listings are filterable via django-filters filters - this is a nice-to-have, and django-filters is definitely the

[2022-10-06 13:19] #8480 closed

[2022-10-06 14:59] #3114 closed

[2022-10-06 15:18] nicklee opened #9290 "Wagtail userbar displays incorrect font"
### Issue Summary

The latest version of wagtail has introduced a bug with the userbar (the button that displays on the front-end of your website when you're logged in) where the incorrect font is outputted.

It seems to reference a css custom property (`--w-font-sans`) that doesn't exist, so the browser reverts to the default of `font-family: serif`

### Steps to Reproduce

1. Login to your insta

[2022-10-06 21:31] pylvin commented on #7720
I hope this will be fixed in new releases ...

[2022-10-07 00:15] #5405 closed

[2022-10-07 07:40] #9033 closed

[2022-10-07 08:11] thibaudcolas commented on #9216
I chose 1200px as that’s the _minimum_ we currently make work. This isn’t reliant on the sidebar being collapsed at all – if using the default sidebar, there’ll just be less space for the form at that specific width. At a more realistic 1280px width, the full sidebar + form + panel look completely fine.

This isn’t even the final designs anyway, with the work in #9036 / #9090, we’re intending to m

[2022-10-07 08:17] thibaudcolas commented on #9030
This should ideally involve fixing #6591.

[2022-10-07 08:18] zerolab commented on #7720
Hey fellas, a PR would help speed this up. There is not one change to work across all backends, as far as I am aware, so this needs digging into

[2022-10-07 08:22] thibaudcolas commented on #7892
I believe this will be solved by #9269, where we will remember which of the side panels is opened by default. Users who prefer to always comment can then move from page to page with comments still active.

[2022-10-07 12:47] thibaudcolas commented on #9201
@gasman I’d like to keep this opened until we’ve had a chance to discuss this if that’s ok with you. Since this is about translations, I’d like to get input on this from people who work on translations in particular. And specifically those who work with languages where the same terms are used for both concepts.

I agree it’s not a big deal and not all languages might want to express the difference

[2022-10-07 13:47] electroniceagle opened #9293 "StreamField Admin UI ambiguous with nested StructBlock inside of StructBlock."
### Issue Summary

When creating a page model with a StreamField that has StructBlock inside of a StructBlock, the ownership of the individual fields is ambiguous between parent and child.  In the example below, we have a HeroBlock that contains a ButtonBlock.  Each block has a  style field as its last element.  The result are two Style fields in the UI with no indication that the second instance

[2022-10-07 13:49] electroniceagle commented on #9293
LB
  [16 hours ago](https://wagtailcms.slack.com/archives/C81FGJR2S/p1665092973402079?thread_ts=1665074809.767969&cid=C81FGJR2S)
https://wagtailcms.slack.com/archives/C014L7KJH3N/p1664463966052759?thread_ts=1664463966.052759&cid=C014L7KJH3N
I think this other feedback is similar - might be good to raise a bug with these concerns.

Darrel O'Pry
Where is the best place to provide feedback on Admin U

[2022-10-07 14:14] zerolab commented on #7720
My preference would be for this to be configurable on the database backend options in `WAGTAILSEARCH_BACKENDS`.

I don't the have the full record of the decisions along the time so can't comment on that. It makes sense that it is on by default for the autocomplete search query compiler as such is the nature. The rest is very much open for interpretation, imho

[2022-10-07 14:18] gasman commented on #7720
I disagree - for standard search queries, a search for "cat" should not return results for "caterpillar".

[2022-10-07 17:06] gasman commented on #1824
@GabrielBogo As @chosak mentioned, adding `"wagtail.contrib.search_promotions"` to INSTALLED_APPS in your test environment should serve as a workaround.

Working towards a proper solution... The migrations that brought about the current situation are:

* `wagtailsearch.0001_initial`: creates the `wagtailsearch_editorspick` table
* `wagtailsearch.0003_remove_editors_pick`: removes the EditorsPick m

[2022-10-07 19:08] gasman commented on #1824
On further consideration, probably not. Essentially I'm trying to engineer a sort of symmetrical process to undo our mistakes in the reverse of the order they happened in - and since wagtailsearchpromotions.0001 is an optional final step that runs after the wagtailsearch migrations to remove `wagtailsearch_editorspick`, the fix would logically have to begin with an optional initial step within wag

[2022-10-07 19:49] Gairick52 commented on #9293
@electroniceagle i am new to open source can you suggest me some beginner friendly issues

[2022-10-08 16:09] cyface commented on #2657
@gasman I thought I would mention that we have implemented the per-submodel solution mentioned in this thread. Once we got up to ~10,000 pages, the sitemap query required when loading each submodels just to do the exclude gets very slow.  Whereas just grabbing the list of urls direct from the page table remains quite fast.

As a result, I'd like to offer that building some way to do this without j

[2022-10-08 19:12] Ruth-ikegah commented on #9199
Hi @lb- and @JanMalte I am an outreach potential intern interested in the I would love to fix this issue as my first contribution to the Wagtail project. Please could you assign this issue to me?

[2022-10-08 19:28] Ruth-ikegah commented on #8322
Hi @lb-, I am a potential Outreachy intern interested in the Wagtail documentation project and would love to fix this issue.

I agree Wagtail should be on that list. I do know an active Jamstack contributor I could reach out to when I create my PR to their repo.

Please could you assign this issue to me?

[2022-10-08 19:37] Scotchester commented on #8322
Welcome @Ruth-ikegah. We do not usually assign issues (except for major sponsored initiatives). You are welcome to open the PR on the jamstack.org repo, but please propose your changes here in this issue before opening the PR, so that those of us with more experience with the Wagtail project can agree on the language we want to use to describe it on the Jamstack site.

[2022-10-08 19:40] Ruth-ikegah commented on #8322
Alright, thanks for the information, @Scotchester will do that!

[2022-10-09 03:03] NPDebs commented on #6107
Hi 👋🏼
I'm an Outreachy intern and I would love to work on this issue if it is still open for contribution. Thank you

[2022-10-09 08:44] jadesola123 commented on #8253
Hi @guelate and @lb-, I am a potential Outreachy intern interested in the Wagtail documentation project and would love to fix this issue.
I opened a PR with my proposed solution. I am open to any feedback and learning😊

[2022-10-09 11:43] alvinokafor commented on #9202
Hi @thibaudcolas, I am an outreachy intern an di would love to take this issue up

[2022-10-09 12:26] OsujiPius commented on #9202
Hi.. @alvinokafor I am currently working on this

[2022-10-09 14:46] mohammadareeb95 opened #9296 "Add a copy button to code snippets"
### Describe the solution you'd like

As a new contributor to the Wagtail ecosystem, I think it would be good to have a [copy button](https://www.w3schools.com/howto/howto_js_copy_clipboard.asp) to the code snippets in the [Getting Started](https://docs.wagtail.org/en/stable/getting_started/tutorial.html) guide.

### Screenshot
![image](https://user-images.githubusercontent.com/77102111/194763011-

[2022-10-09 14:47] mohammadareeb95 commented on #9296
If agreed, I would like to work on this issue.

[2022-10-09 15:48] Adinapunyo-Banerjee commented on #9296
I think this would be pretty helpful

[2022-10-09 16:25] Scotchester commented on #9296
I agree that this would be helpful! One thing that should be considered when implementing this: we should make sure that the copied text does not include shell prompt indicators (like the `>` and `$` characters in the snipped in the screenshot), and it should only copy one command at a time, so either each line should get its own copy button, or if that's not possible, snippets with multiple lines

[2022-10-09 16:39] mohammadareeb95 commented on #9199
On adding `padding-bottom:30px` this is what we get. I'm not sure about the purple vertical bar that's hanging there.
![image](https://user-images.githubusercontent.com/77102111/194768806-6c915d88-a4cc-4575-aa34-fd93be6dd5e8.png)

[2022-10-09 16:42] mohammadareeb95 commented on #9199
### Adding `padding-bottom: 10rem` gives

![image](https://user-images.githubusercontent.com/77102111/194768955-b4d4d699-6cf9-4110-9ac0-c05c3050183b.png)

[2022-10-09 16:45] mohammadareeb95 commented on #9296
Sure thing @Scotchester! I'm an Outreachy applicant, can I consider it as my first issue?

[2022-10-09 16:59] Scotchester commented on #9296
@mohammadareeb95 Yes, go for it!

[2022-10-09 18:25] Scotchester commented on #8253
Completed in #9295

[2022-10-09 18:25] #8253 closed

[2022-10-09 18:26] Scotchester commented on #8253
@guelate Thank you for your original work on this!

[2022-10-09 18:44] Scotchester commented on #9199
I think the original issue has been misinterpreted. As I understand it, it is related to the scroll behavior of iOS.

If I open the bakerydemo in iOS Safari, go to edit any page, and fling the page to reach the bottom in one scrolling motion, the bottom action menu pops into view briefly and then bounced below the toolbar, resulting in this:

![screenshot of edit screen on iOS not showing action m

[2022-10-10 08:36] Temidayo32 commented on #9287
Hi @andre-fuchs The reason the PageChooserBlock didn't appear in the documentation you referenced is because it is not a Structured block. It is a basic block type, and the latest documentation for Wagtail separated the documentation. You can find PageChooserBlock here.

https://docs.wagtail.org/en/latest/reference/streamfield/blocks.html#wagtail.blocks.PageChooserBlock

[2022-10-10 08:41] #9287 closed

[2022-10-10 08:41] gasman commented on #9287
Thanks @Temidayo32!

[2022-10-10 09:36] albinazs commented on #8659
Hello @thibaudcolas! I'm an Outreachy applicant and I would love to work on this issue! Can you assign this to me please?

[2022-10-10 09:54] sayantani11 commented on #8437
@thibaudcolas I can try this

[2022-10-10 10:03] gasman commented on #8437
I think this might already be covered by https://docs.wagtail.org/en/stable/reference/project_template.html.

[2022-10-10 10:03] nadaHan commented on #9222
Please assign to me

[2022-10-10 10:06] gasman opened #9298 "Upgrade jquery-ui to 1.13.2"
Wagtail is currently using jquery-ui 1.12.1, which [has some reported XSS vulnerabilities](https://security.snyk.io/package/npm/jquery-ui/1.12.1) - we should upgrade it to 1.13.2.

[2022-10-10 10:09] nadaHan commented on #9199
Please Assign to me  @JanMalte  <3

[2022-10-10 10:37] Temidayo32 commented on #8322
@Ruth-ikegah are you working on this issue?

[2022-10-10 10:48] thibaudcolas commented on #8659
@albinazs go for it! In the future you can claim any issues by just posting a comment. We can unfortunately only use GitHub’s "assignees" feature for people who are core contributors to Wagtail

[2022-10-10 10:52] Lovelyfin00 commented on #9199
Hi
I'm an outreachy applicant and would love to work on this issue @Scotchester

[2022-10-10 11:17] Ruth-ikegah commented on #8322
yes I am @Temidayo32

[2022-10-10 11:18] Temidayo32 commented on #9012
Hi @hazho I can feel your pain and how important this modification to the documentation will help new developers on your team get started with using Wagtail.

Can someone from the Wagtail documentation team attend to me on this one? I think the graphical representation of  Streamfield will serve as an **easy reference** for developers, which will be extremely useful to developers. It will make gra

[2022-10-10 11:20] albinazs commented on #9078
Hello @thibaudcolas! I would like to work on this issue

[2022-10-10 11:22] damli40 commented on #9199
would love to work on this

[2022-10-10 11:25] onno-timmerman commented on #6132
Still think the formbuilder should have a placeholder field?

[2022-10-10 11:44] thibaudcolas commented on #9078
@albinazs you can go for this without checking with anyone else – but note since you’ve also claimed #8659, it’d be nice for you to either finish that one, or comment there that you no longer intend to work on it. We can’t let people claim all the issues 😛

[2022-10-10 13:36] hsadia538 commented on #9222
@Temidayo32 I am no longer working on this.
Feel free to pick this up.

[2022-10-10 15:51] vicky1312 commented on #9218
Hello, I would love to work on this issue.

[2022-10-10 16:57] Temidayo32 commented on #9222
Thanks @hsadia538 .

[2022-10-10 17:23] lukasalexanderweber commented on #9222
The main throwback of my method is that the "collection chooser" dosn't look as nice as the "collection chooser" of e.g. the images panel.

On Images:
![Unbenannt](https://user-images.githubusercontent.com/32765578/194921263-c1cff64d-37ed-4f5f-afb5-b499d23bbd31.png)
On my custom Page:
![Unbenannt2](https://user-images.githubusercontent.com/32765578/194921268-f2f042ab-a129-4700-b46f-e8caaacf5ac9.pn

[2022-10-10 18:13] thibaudcolas commented on #9012
👍 generally I think diagrams or visual representation in the documentation would be nice. A class / model hierarchy seems like an interesting one to do.

@Temidayo32 for your contribution in particular – I would suggest starting small with StreamField, in the following order:

1. Do a bit of research on the different tools and types of diagrams we could produce for StreamField
2. Try a couple on S

[2022-10-10 20:08] Temidayo32 commented on #9012
Thanks so so much @thibaudcolas I will immediately begin and report back.

[2022-10-10 20:19] fyunusa commented on #9290
Hi, i've confirmed the issue persist. and i'm currently making a fix for it.
I'll be sending update soon

[2022-10-10 20:27] thibaudcolas commented on #9028
Discussing this with Ben – we’re ok with the asterisk not being the correct color for the time being. So this will just include adding a ` *` at the end of the page title text here: https://github.com/wagtail/wagtail/blob/6814d0beea34ca3e868811210ff2210934e72ec3/wagtail/admin/panels.py#L1204

There might be tests to update as well but I’m not sure. This should make for a nice first contribution to

[2022-10-10 20:35] albinazs commented on #8659
Dear @thibaudcolas,
I have almost solved this issue, but before creating PR I want to ask a couple of questions on #2 task - “Add better text examples to our "Type scale" story”:
  1) I moved the 'large body text' element up as the other elements are in descending order - is it OK?
  2) Do we actually need h4 element here - as in documentation it is recommended to avoid levels other than h1, h2 an

[2022-10-10 20:39] thibaudcolas commented on #9199
Hi folks, no need for you to ask – just show us you understand the problem, explain what you intend to do, and you can get going with making a pull request. It’s better if only one person works on a given problem at a time, so this is normally first-come-first-served.

[2022-10-10 20:53] thibaudcolas commented on #8659
@albinazs this all looks EXCELLENT! So yes, yes, and yes. For h4 and below – yes in this instance we do want to see all text styles.

[2022-10-10 21:57] maryojo commented on #9028
Hi @thibaudcolas, I'm interested in working on this, can you assign it to me?

[2022-10-11 00:26] sdmoran commented on #8484
@mahamtariq58 are you still working on this? If not I would like to give it a try :)

[2022-10-11 07:15] mohammadareeb95 commented on #9199
@Scotchester so is there no need to add space in the footer?

 Do you think it's only a problem on mobile devices?

As in the screenshots above, adding `padding-bottom` is improving the UI.
If we agree to move in this direction please let me know what would be a better approach:

1.  Add ` padding-bottom: 30 px`
2.  Add `padding-bottom: 10rem`

[2022-10-11 08:46] Temidayo32 commented on #9012
@thibaudcolas Here is a report back on my findings on the best tool for that would suit our purpose.

I reviewed four diagramming tools namely Miro, Diagrams.net, Graphvix, Mermaid.js, and I **think Mermaid.js is the best option**.

Miro and Diagrams.net are both image diagramming tools that involve drawing shapes and diagrams using drag and drops. This could pose a barrier to suit the goal you me

[2022-10-11 08:57] Temidayo32 commented on #9012
@hazho Just some more information from you. In the graphic, what information do you want exposed? For instance, working with the StreamField, we could have an inheritance diagram that shows all the block types and their relationships and inheritance between different blocks.

Mind you, this might involve exposing information of some internal block type that are **not** exposed as an API for workin

[2022-10-11 09:49] Jolah1 commented on #9298
Hello @gasman
I am an Outreachy Applicant, I would love to be assigned this issue.
Thank you.

[2022-10-11 10:14] albinazs opened #9306 "Error messages on Pattern library (Storybook) stories"
### Issue Summary

There are errors on all Storybook stories:
- Error message on the story itself: `Error occurred while trying to proxy: localhost:6006/pattern-library/api/v1/sprite`
- Error message in console: `GET http://localhost:6006/pattern-library/api/v1/sprite 504 (Gateway Timeout)`
-
![image](https://user-images.githubusercontent.com/51043550/195063154-53e3f465-ff03-4209-8b04-679a538b3123

[2022-10-11 10:29] gasman commented on #9298
Thanks @Jolah1! This is quite a time-critical one, as we want to ensure it's included in the 4.1 release candidate (due next week), but if you're able to start on it today then you're very welcome to pick it up.

[2022-10-11 10:35] lb- commented on #9306
Thanks, I think this is a duplicate of these two known issues, one which already has a PR up with a fix.

* https://github.com/wagtail/wagtail/issues/8031
* https://github.com/wagtail/wagtail/issues/9092 - fix PR https://github.com/wagtail/wagtail/pull/9097

The broken breadcrumbs one may be new though, but it could be that once the Storybook fails once it will show the error for other pages.

Cou

[2022-10-11 11:06] lb- commented on #9298
PR up - https://github.com/wagtail/wagtail/pull/9308

Sorry @Jolah1  - thanks for putting your hand up though.

[2022-10-11 11:26] ForJessicaSake commented on #9030
Hi @thibaudcolas I was wondering if this is still open for anyone to work on?

[2022-10-11 12:45] onno-timmerman opened #9309 "formbuilde date field type"
### Issue Summary
Formbuilder field types should reflect choices. Example date fieldtype

### Steps to Reproduce
Create form with form builder and make field date.

_(ps. there is no placeholder field in formbuilder)_

### Technical details
-   Wagtail version: 4

[2022-10-11 12:55] albinazs commented on #8659
thank you, @thibaudcolas, for you quick response and support in resolving this! now proceeding with my PR

[2022-10-11 12:59] gasman commented on #9309
There's not enough detail here to understand what you mean, sorry. Please open a new issue detailing some exact steps to take, and describing what currently happens, and what you'd like to happen instead.

[2022-10-11 12:59] #9309 closed

[2022-10-11 13:22] aliceni81 opened #9310 "Document chooser action buttons do not show for Custom Document in Wagtail admin"
When I create a custom document and define it as a field in HomePage, the document chooser action buttons do not show even when the mouse is over on that. But the action buttons show if I use native Wagtail document.
![image](https://user-images.githubusercontent.com/81170508/195102219-82520fa3-8706-46d8-be3e-40020cbf0be5.png)

django version: 4.1.2
wagtail version: 4.0.2
python: 3.10

[2022-10-11 13:35] onno-timmerman opened #9311 "formbuilde fieldtype date"
### Issue Summary
Formbuilder field types should reflect choices. Example date fieldtype
You can select date field in in the formbuilder. I would expect that the form would render
`<form type="date" ...> and not <form type="text" ..>
` One extra thing that would be handy is you can add placeholders to your form so the field will be
`<form type="date" placeholder="...>
`
### Steps to Reproduce
Crea

[2022-10-11 14:02] zerolab commented on #9310
This a duplicate of #9260, scheduled for 4.0.3
cc @thibaudcolas

[2022-10-11 14:02] #9310 closed

[2022-10-11 15:01] mohammadareeb95 commented on #9296
Hey! I'm not actually sure on `where` to add this button.
Can anyone guide me please? @tbrlpld @thibaudcolas

[2022-10-11 15:41] julianavmgiusti commented on #9290
Hi! I'm an Outreachy applicant and I'd like to be assigned to an issue please @thibaudcolas

[2022-10-11 16:30] zerolab commented on #9296
https://github.com/wagtail/sphinx_wagtail_theme would be the best place to add this functionality in

[2022-10-11 17:20] Temidayo32 commented on #9012
@thibaudcolas @hazho Here is  prototype diagram. Let me know what you both think of it.
https://mermaid.ink/svg/pako:eNqVlM1u4jAQgF_FmkNP6aqU0qo5VCp00a4E0jawl1UuU2dKrHXsyHa6sJR3r0lICNBINKf5_cYz43gNXCcEISwM5imbRLFi_rPFS2V4fLHOIHdsJNHayjmUmv9llUwqOcqYolCn0ZeXD2wsSCal2pU7FsY6NqE3kpVnn1IS2Htp2DHnq5ze2ShFU-kXbE5LV8tjqbFRnoiLDGWr-BH5E3BEC1rWgN_RpBaHWktC1aDR0Ze424S5yKgG_FTOV2p6GKKlUaoF_xr1e4ZC1oxI8LQ9iwj

[2022-10-11 17:24] Temidayo32 commented on #9012
This is done using Mermaid.js. There is lot more interactivity that could be added to this diagram, but might involve some Javascript code.
A built functionality allows us to hyperlink each node. I think that would super helpful so we can hyperlink each node to their main documentation content.@hazho
Then, I could add some Javascript code that allows some pop up text when you hover on each node. C

[2022-10-11 19:33] Theresa-o commented on #9174
Hello @thibaudcolas I would like to work on this.

[2022-10-11 19:58] lb- commented on #9296
I think we should close this in favour of the existing issue in the Wagtail theme repo.

https://github.com/wagtail/sphinx_wagtail_theme/issues/45

Anyone is free to look at and prepare a PR for issues on that repo also.

[2022-10-11 19:58] #9296 closed

[2022-10-11 20:11] yokwejuste commented on #9290
hi @nicklee I would like to work on this issue!

[2022-10-11 20:20] PreciousOritsedere commented on #9290
Hi I'm an outreachy intern, can I work on this issue?

[2022-10-11 21:51] damli40 commented on #9028
I'm interested as an outreachy applicant

[2022-10-11 22:26] lb- commented on #9290
Hi @julianavmgiusti @yokwejuste & @PreciousOritsedere

Please read the above comment - https://github.com/wagtail/wagtail/issues/9290#issuecomment-1273775612

This is already being worked on, I know it's a bit tricky to find things to pick up sometimes but I encourage you to always read the entire issue and comments before seeing if something is 'ready' to be worked on.

Thanks for your interest i

[2022-10-11 22:39] lb- commented on #6132
Added needs design decision. See https://github.com/wagtail/wagtail/issues/2328 for context but placeholder usage is considered a bit of an anti-pattern so we may not want to explicitly support this.

However, we should check how easy it is to use the documented approaches of overriding field attrs if someone wants to do this.

[2022-10-11 22:42] lb- commented on #9311
Thanks @onno-timmerman - not sure that this is a bug but probably an evolution of browser support to be considered for the HTML5 input types.

Nonetheless can you please update this issue with a description that uses the template a bit more. Steps to reproduce, alternative work around that may exist and links to why the type should be used by default (browser support/ best practices).

As for the

[2022-10-11 22:56] hazho commented on #9012
@Temidayo32 this is good, except if you rotate it to become a vertically generated, would be much easier to see and feed the developer's imagination

[2022-10-11 22:58] hazho commented on #9012
and for the first question you asked, you can add some descriptions and labels to indicate for each

[2022-10-11 23:25] AfiMaameDufie commented on #7777
Hi @thibaudcolas
Can I take a look at this?

[2022-10-11 23:50] fyunusa commented on #9290
Yes give me more time, i hope to send in a pull request soon

[2022-10-12 03:01] lb- commented on #9218
@vicky1312 can you please try to reproduce this issue - maybe add a recording and test in some other browsers.

This bug is still flagged as unconfirmed so it would be good to get additional info and steps to reproduce before we work on a fix.

Also, it might be helpful to add a comment where you think the issue is in the code. Not sure if it's a CSS issue or a JS one.

[2022-10-12 05:15] Temidayo32 commented on #9012
@hazho Yeah, I would have prefered the vertical format, but then, it would have been too wide to fit into a web page. Then the tool is limited, and wouldn't allow me to change the layout. I am thinking of how to get around that. I might need some code to change that

[2022-10-12 05:41] yokwejuste commented on #8031
## Is this issue still available for contributions ?

I'm Steve, an Outreachy applicant, can I get  assigned to this if possible?

[2022-10-12 06:06] yokwejuste commented on #9290
Thanks @lb-

[2022-10-12 06:11] lb- commented on #8031
Go for it @yokwejuste

Start by getting the pattern library (Storybook) running locally to reproduce the issue and try to debug it.

Here are the instructions.
https://docs.wagtail.org/en/latest/contributing/developing.html#using-the-pattern-library

It assumes you already have been able to run Wagtail locally for development.

[2022-10-12 07:09] onno-timmerman commented on #9311
Well the form uses "email" as type but not "date" as type so maybe its a bug. But this can also be concidered as a feature request :)

Don't know what more to describe then render a form and see if the field types are used for date and datetime?
I think its handy because then you have a date widget in your form. All modern browsers have these types email, date, time ... with a free interface.

[2022-10-12 08:00] yokwejuste commented on #8031
Yeah! the system is running well locally! We're good to go

Currently on it.

[2022-10-12 08:13] lb- commented on #9311
I think if we introduce type=date by default we open up a bit of a mess of problems.

Date input can be a minefield of issues if not handled correctly, users may want to enter a value but cannot. Formats of dates may come in more inconsistently than with a plain text box.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date#handling_browser_support

Doing a bit more digging now.

[2022-10-12 08:14] VdeJong opened #9315 "Security vulnerability in TableBlock through handsontable 6.2.2"
Handsontable 6.2.2 is used for the Wagtail TableBlock. However, this version contains multiple security vulnerabilities according to [this source](https://security.snyk.io/package/npm/handsontable/6.2.2).

The same source (https://security.snyk.io/package/npm/handsontable) states that there are no security vulnerabilities found for handsontable >= 10.0.0. To fix this issue, I would suggest upgradi

[2022-10-12 08:26] lb- commented on #9311
So, looks like the code uses the Django built in `DateField`

* https://docs.djangoproject.com/en/4.1/ref/forms/fields/#django.forms.DateField
* This uses the the DateInput widget by default https://docs.djangoproject.com/en/4.1/ref/forms/widgets/#django.forms.DateInput
* Which renders as `input_type: 'text'`

I think for now we would not want work against Django's default fields here, the reason

[2022-10-12 08:26] #9311 closed

[2022-10-12 08:26] gasman commented on #9315
Thanks for the report @VdeJong!
Unfortunately it's not possible for us to upgrade Handsontable past version 6, as they changed to a commercial licence in version 7 that isn't compatible with open-source projects - if these vulnerabilities turn out to be exploitable within Wagtail, we'd need to patch them ourselves or switch to a different library.

[2022-10-12 08:28] lb- commented on #8056
Some useful links based on my feedback on https://github.com/wagtail/wagtail/issues/9311

* Good accessibility round up from 2019 (may be a bit outdated) - recommends against this input type for now. https://www.hassellinclusion.com/blog/input-type-date-ready-for-use/
* Gov.uk design system discussion on whether using native date inputs are ready for prime time https://github.com/alphagov/govuk-de

[2022-10-12 09:05] Dev-Liz commented on #8484
Hello @Scotchester i'd love to come up with a design to fix this issue. Can I give it a shot?

Also, i'd like to understand the "Step to Reproduce" better. I don't seem to grasp that part.

[2022-10-12 09:11] gasman commented on #8484
Hi @Dev-Liz! Sorry, this one's already taken - @sdmoran has submitted a proposed fix for this at #9305.

[2022-10-12 09:21] onno-timmerman opened #9318 "Page title visual cue that it is a field"
I notice that users are skipping the first field Title, "page title" in wagtail 4.0. They are not aware of that this is a form field. So there is slight learning curve. However they keep missing it even when knowing this need to fill it in.

Maybe it would be good to have a better visual que or auto focus on this field so they can't mis it when creating a page or changing a page?

<img width="1116

[2022-10-12 10:06] Theresa-o commented on #9318
This UI would be improved

[2022-10-12 10:27] thibaudcolas commented on #9028
Hi @maryojo @damli40, no need to ask! You can just go for it, first come first serve.

[2022-10-12 11:03] maryojo commented on #9028
Alright, I will work on it @thibaudcolas, thanks!

[2022-10-12 11:09] abigail-hampson opened #9323 "Help for editors with changes in Wagtail 4 and 4.1"
Adding in a help section in the left hand menu with links to the editor docs and Wagtail 4 UI overview.
Adding in a message to the dashboard to highlight that there are changes and where to go for support.
(currently in progress at Torchbox)

[2022-10-12 13:12] thibaudcolas commented on #7777
@AfiMaameDufie Yes, no need to ask, just say you intend to work on this and give us a few notes of how you’ll approach the problem if poss!

[2022-10-12 13:41] kbayliss opened #9325 "Keyboard trap while Page Explorer menu is open"
### Issue Summary

While the Page Explorer menu is open, the focus is trapped within the menu - you cannot continue tabbing to access links outside of the page menu.

### Steps to Reproduce

1. Open the Page Explorer
2. Keep pressing the 'tab' key, and you'll see the focus stays within the menu. This is inconsistent behaviour to all other menus in the sidebar.

### Technical details

-   I have co

[2022-10-12 13:44] kbayliss opened #9326 "Cannot focus search while page explorer is open"
### Issue Summary

While the Page Explorer menu is open, you cannot click the search box to perform a search. You can click the search icon to the left of the input and submit the form, though you cannot focus on the text input field to type a query.

### Steps to Reproduce

1. Open the Page Explorer
2. Attempt to click (with the mouse) the search field to type a query

Note: there's also a keyboa

[2022-10-12 13:50] easherma-truth commented on #9012
https://django-extensions.readthedocs.io/en/latest/graph_models.html would also be nice for generating graphs dynamically from the code itself

[2022-10-12 14:09] thibaudcolas commented on #6107
Hi @NPDebs! There’s lots in here that can be picked up, though the tasks on this list are pretty advanced.

There are two tasks that we haven’t discussed and I think would make excellent additions for a newcomer to take on, if you’re keen:

1. Make it possible for us to preserve the `xmlns` attribute in our SVG files, but remove it when we process the files in Python.
2. Make it possible for us to

[2022-10-12 14:09] thibaudcolas commented on #6107
Tagging as Outreachy task now – @NPDebs please let us know whether you intend to take this on or would prefer to leave it to others.

[2022-10-12 14:13] AfiMaameDufie commented on #7777
Okay, thanks!

[2022-10-12 14:15] thibaudcolas commented on #8437
Hmm indeed! I’ll close this now, but @sayantani11 if you want to make a pull request to help with this – I think adding a link to https://docs.wagtail.org/en/stable/reference/project_template.html mentioned by Matt might go a long way.

For example adding a link here: https://github.com/wagtail/wagtail/blob/main/docs/getting_started/tutorial.md#generate-your-site. Something along the lines of "For

[2022-10-12 14:15] #8437 closed

[2022-10-12 14:54] thibaudcolas commented on #9325
Hi @kbayliss, this is done on purpose, this menu is marked up as a `dialog`, which should trap focus. I believe all other menus should do the same in theory, and there is an open issue about it. Does that make sense to you?

[2022-10-12 15:15] thibaudcolas commented on #9326
Can confirm this is a bug, and is happening in older releases too – I believe since we re-implemented the sidebar in v2.15 or 16.

The issue here as far as I could tell is that the page explorer has a "click outside to close" behavior, which doesn’t work when clicking on the search box, as that fires a `focus` event rather than a click.

[2022-10-12 15:17] #9325 closed

[2022-10-12 15:39] Temidayo32 commented on #9012
Nice suggestion @easherma

[2022-10-12 15:45] thibaudcolas commented on #9012
Nice work @Temidayo32! I think Mermaid would be a nice addition to our documentation capabilities, as well as a good fit for what we’re doing here.

However, if what we want is a classic inheritance diagram, as Eric mentions, it might be even better to use Django/Python-aware tools. We have trouble updating screenshots when code changes, I’d expect the same with diagrams, so any tools that allows

[2022-10-12 16:00] Temidayo32 commented on #9012
@thibaudcolas That's a good consideration. I am okay with that!

[2022-10-12 16:20] NPDebs commented on #6107
Hi @thibaudcolas 👋🏼
This seems pretty straightforward and beginner-friendly.

However, while waiting for a response, I got assigned to many issues from other organisations. I wouldn't want to delay the completion of this issue.

Please let someone else, e.g @vicky1312 have it. Thanks! 🙌🏼🚀

[2022-10-12 16:56] yokwejuste commented on #9326
Please @kbayliss can you give more description over this?

It's quite confusing to get, con my own end all working good!

[2022-10-12 17:07] yokwejuste commented on #9285
Hey @th3hamm0r This is really a bug just from following your steps and getting a validation error!

Normally an unused slug should be reusable if not more in use.

### Screenshots
![image](https://user-images.githubusercontent.com/71908316/195405191-633e2d74-a694-4fb3-9266-ce489e6479fc.png)

[2022-10-12 17:12] yokwejuste commented on #9272
I guess this issue should be solved by now! Is this issue still to be @lb-

[2022-10-12 20:03] lb- commented on #8611
It would be good to see if someone can reproduce this on Wagtail 4.0 with the larger changes to Panels

[2022-10-12 20:36] lb- commented on #9306
Closing this as unable to confirm - Storybook is working fine for me locally aside from the two known issues above.

[2022-10-12 20:56] #8659 closed

[2022-10-12 21:33] Yekasumah opened #9328 "Lightmode flashes between links when on Darkmode"
In the documentation site, when moving from one section to another, there's a flash of the light mode which is disrupting to the eye. Happens when in Dark mode.

### Steps to Reproduce

1. Open the Documentation site https://docs.wagtail.org/en/stable/contributing/developing.html
2. Switch to dark mode
3. Navigate to another section of the doc.

Do look into it and see if you're able to reproduce

[2022-10-12 21:41] lb- commented on #9328
Thanks for flagging, however, this is already covered via the sphinx wagtail theme repo.

https://github.com/wagtail/sphinx_wagtail_theme/issues/213
with a PR up for a fix https://github.com/wagtail/sphinx_wagtail_theme/pull/217

Just awaiting review from other core team member on that repo.

[2022-10-12 21:41] #9328 closed

[2022-10-12 21:44] lb- commented on #9272
@yokwejuste yes this is still an issue, it is low priority as nothing is breaking with the current approach.

Feel free to pick up this but just try to change ONE location first in a single PR, see the discussion linked above for more context.

Reach out if you need a hand, but this will require some solid knowledge of how Django's URLs system works, how async JS requests work, and how dynamic sea

[2022-10-12 21:52] dcorallo commented on #9281
I also encountered this problem. Personally I'm fine with using more space around the textfield. So maybe enable it by using an additional classname to the content_panel?

[2022-10-12 22:22] zerolab commented on #8611
I believe #9107 is very much related to this

[2022-10-12 22:47] hazho commented on #8056
For your info, I've replaced the Date and DateTime widgets of wagtail in my projects to native widgets, looks pretty well
![Screenshot (112)](https://user-images.githubusercontent.com/20362375/195461344-e1447c89-a9ea-4555-a285-d9a49e3aab56.png)
![Screenshot (113)](https://user-images.githubusercontent.com/20362375/195461613-39102c46-29c9-4859-8968-784a144d70a2.png)
the screenshot is for
1- Chromiu

[2022-10-12 23:30] hazho commented on #9012
What about https://kolo.app/

[2022-10-12 23:31] PreciousOritsedere commented on #9199
@mohammadareeb95 Hi, are you still working on this issue?

[2022-10-12 23:46] lb- commented on #8056
Yeah, I still think the native inputs are the way to go personally, just as long as we are reviewing other viewpoints.

I think we can add some default data attributes to these so that with the new RFC78 (Stimulus) approach it would be reasonably easy to add back in any kind of JS widget you wanted.

[2022-10-13 03:19] sdmoran commented on #9184
Hi, I'm interested in working on this issue. It seems as though this specific version could be made to match by changing the `preReleaseStep` capture group to `(?<preReleaseStep>a|b|rc|\.dev)`:
![image](https://user-images.githubusercontent.com/33131675/195491128-29da2f48-a09e-4d11-ac41-e6ae999478db.png)

It does feel a little hacky to have dev builds formatted differently than a/b/rc though, woul

[2022-10-13 04:47] Scotchester commented on #9199
@mohammadareeb95 After re-reading the whole thread (including the original post @JanMalte made before @lb-'s edit), I'm still not entirely sure what exact issue Jan Malte was reporting. I am still not sure I agree with LB's interpretation. It's possible my interpretation is also incorrect, but is still a problem (and may warrant breaking out into a separate issue).

@JanMalte Could you please try

[2022-10-13 04:57] lb- commented on #9199
Sorry if my interpretation was incorrect, nonetheless I still feel there is not enough 'breathing' room bellow the last form controls and the footer button actions. Happy to split this concern out and revert this issue to the original problem but I understand that adding more margin should solve both the iOS specific and general browser issue.

There is also the potential usage of the mobile viewp

[2022-10-13 04:59] MaryAyobami commented on #2601
Hello
I'm an outreachy applicant and I'd love to contribute to this issue @thibaudcolas

[2022-10-13 05:00] Scotchester commented on #9199
Yes! Meant to say that I agree with that, too. I'm just not 100% sure that's what the original issue was about, and also I don't think it will address the concern I noted with how the sticky footer gets stuck below the iOS Safari toolbar on first scrolling to the bottom, because the sticky footer will still be in the same relative position.

[2022-10-13 05:58] lb- commented on #9199
Here is the original content - click 'edited by lb' and the small dropdown to see any history of any issue or discussion description.

<img width="522" alt="Screen Shot 2022-10-13 at 3 56 19 pm" src="https://user-images.githubusercontent.com/1396140/195513779-21deb8e3-7d6a-4ad5-98fd-e628bb244624.png">

<img width="633" alt="Screen Shot 2022-10-13 at 3 57 31 pm" src="https://user-images.githubuserc

[2022-10-13 06:16] #8484 closed

[2022-10-13 06:29] thibaudcolas opened #9331 "Documentation guidelines for code snippets are missing "rendered output""
Follow-up to #9321. In our documentation guidelines for code snippets, we’re missing the "rendered output" blocks which we have for other sections.

### Pertinent section of the Wagtail docs

https://github.com/wagtail/wagtail/blob/main/docs/contributing/documentation_guidelines.md#code-blocks

### Details

We’d need to add two "rendered output" blocks, one for the main "Code blocks" section and o

[2022-10-13 06:31] thibaudcolas commented on #9331
Tagging this as good first issue because it’s a newcomer-friendly task. For Outreachy participants, please only consider working on this if you’re interested in contributing to the **User guide / User documentation** project.

[2022-10-13 06:50] mohammadareeb95 commented on #9199
@PreciousOritsedere yes!

[2022-10-13 06:54] #9290 closed

[2022-10-13 07:12] lb- commented on #9184
I think it's ok to update our JS. We can just not throw and error in this case - and no need to try to match the versions to try to show the message here as it will never happen.

[2022-10-13 07:15] lb- commented on #2601
@MaryAyobami - there is already a PR with feedback but no response since March.

https://github.com/wagtail/wagtail/pull/8228

Please comment to the author of that PR and see if they are still intending to complete the requested changes.

If you don't hear back in a day or so - feel free to copy that PR's changes (or see what was done), read the feedback and put a new PR up.

Please ensure you ref

[2022-10-13 07:23] Adinapunyo-Banerjee commented on #9326
I could reproduce this issue. Trying to work on it...

[2022-10-13 07:48] mruqqie commented on #9331
Hello @thibaudcolas, I would like to work on this issue. Could you assign it to me?

[2022-10-13 07:56] thibaudcolas commented on #9331
@mruqqie 👋go for it! No need to ask, you can just get going as long as you let people know in a comment.

[2022-10-13 08:04] mruqqie commented on #9331
@thibaudcolas Thank you!

[2022-10-13 08:11] albinazs commented on #9306
As briefly discussed with @thibaudcolas, this issue might be connected to the icons failing to load. So the different components will all work except they’d be missing their icon.

[2022-10-13 08:12] lb- commented on #9306
Thanks. I'll re-open this for now.

[2022-10-13 08:40] thibaudcolas commented on #9030
Hi @ForJessicaSake, yep, I don’t think anyone else has worked on this.

[2022-10-13 08:48] ForJessicaSake commented on #9030
Okay great,  I’ll work on it can you please assign it to me 😊 thank you!

[2022-10-13 08:58] activus-d opened #9332 "Improve "your first wagtail site" tutorial to help users with less experience using Django"
## Issue Summary
In the "your first wagtail site" tutorial, there is room for improvement in order to make it easier for people who are just getting started with wagtail but don't have much Django experience.

[2022-10-13 08:59] activus-d commented on #9332
I'm working on this already.

[2022-10-13 09:19] albinazs commented on #9078
Dear mentors, @thibaudcolas @lb-
I managed to solve the issue with the following piece of code in `components/_button.scss`:

[code]

Here I basically overwrite in a separate place (for more readability) all button classes with either `color` or `border-color` specified.
The result in Storybook is like this:

| Before  | After |
| ------------- | ------------- |
| ![image](https://user-images.gith

[2022-10-13 09:30] lb- opened #9334 "Add ability to customise userbar items via a hook or similar"
### Is your proposal related to a problem?

At the moment there is no simple way to modify what buttons appear in the userbar (the Wagtail bird button that gets added to front facing sites).

This would be very useful for cases where we could add custom debug tooling or hide some buttons we don't want to make available to the user for certain pages.

### Describe the solution you'd like

The simpl

[2022-10-13 09:34] vicky1312 commented on #9334
@lb- I would love to take this up.

[2022-10-13 09:35] lb- commented on #9334
Sorry I must have completely missed this.

https://docs.wagtail.org/en/stable/reference/hooks.html#construct-wagtail-userbar

Closing issue.

[2022-10-13 09:35] #9334 closed

[2022-10-13 09:44] thibaudcolas commented on #6132
Personally I’d be ok with us adding support for placeholders in the form builder, as long as the help text for the field provides guidance on appropriate usage.

[2022-10-13 09:51] vicky1312 commented on #9218
@lb- Alright, I'm on it.

[2022-10-13 09:53] Theresa-o commented on #9174
oK @thibaudcolas let me work on this - think of the design, improve the accessibility - and revert.

Thank you for the suggestions.

[2022-10-13 10:18] Seremba commented on #9198
Hi @lb-, @Adinapunyo-Banerjee is this issue assigned to anyone or I can go on and work on it

[2022-10-13 10:40] gasman opened #9335 "Inserting block at end of RichTextBlock creates a redundant extra RichTextBlock"
### Issue Summary

On using the "/" shortcut in a RichTextBlock at the end of the existing rich text content, and choosing a block type from the "Blocks" section of the context menu, the chosen block is created, but is then followed by an additional empty RichTextBlock which receives the focus.

This is because the block insertion logic always splits the RichTextBlock at the "/" insertion point, r

[2022-10-13 10:40] gasman commented on #9335
I'm working on the fix for this.

[2022-10-13 11:01] Julietadeboye opened #9336 "Improve explanation on Python executable for Windows users"
### Pertinent section of the Wagtail docs

[Getting started tutorial](https://docs.wagtail.org/en/stable/getting_started/tutorial.html?_ga=2.209345426.1239746541.1651239819-1126786067.1648068945#install-and-run-wagtail)

### Details

I noticed an error in the getting started tutorial which might be a blocker for Windows users.
Python3.exe is not defined in windows so each time you want to run a co

[2022-10-13 11:01] tomdyson commented on #9296
This has now been addressed - see https://github.com/wagtail/sphinx_wagtail_theme/issues/45

Thanks @mohammadareeb95!

[2022-10-13 11:08] Julietadeboye commented on #9336
@thibaudcolas  @lb-

[2022-10-13 11:45] thibaudcolas commented on #9174
@Theresa-o hold up! It appears our designer @benenright has worked on designs for this already :) I’ll share them here once I can confirm.

[2022-10-13 12:23] Julietadeboye opened #9341 "Update screenshot in getting started tutorial"
### Pertinent section of the Wagtail docs

[Section](https://docs.wagtail.org/en/stable/getting_started/tutorial.html?_ga=2.209345426.1239746541.1651239819-1126786067.1648068945#a-basic-blog)

### Details

The screenshot, as seen attached is a bit misleading. To create a blog post as a child of the index page, the add child page selected should be the one attached to the Blog Index page as opposed

[2022-10-13 12:37] gasman commented on #9341
Thanks for the report @Julietadeboye! This has already been handled by @activus-d in #9303, and the fix will be visible in the next version of the docs.

[2022-10-13 12:37] #9341 closed

[2022-10-13 12:38] lb- commented on #9078
@albinazs  a quick tip - you can test (for a few mins) WHCM on assistiv labs https://assistivlabs.com/assistive-tech/display/high-contrast-mode but if you need more robust testing you will need to run a VM locally (Happy to help but ask on Slack in the Outreachy channel).

If you want to quickly check something on the latest version of Wagtail develop `main` you can also do that with this URL http

[2022-10-13 12:40] Julietadeboye commented on #9341
Alright, thanks @gasman

[2022-10-13 12:46] electroniceagle commented on #9293
@Gairick52 Check the contributing section on the README.md file.  The easiest way to get started is to look at the Good First Issue labeled issues https://github.com/wagtail/wagtail/labels/good%20first%20issue or reach out on the slack channel.

[2022-10-13 12:51] Lovelyfin00 opened #9342 "Wagtail userbar toggle doesn't close the userbar"
### Issue Summary
When the user bar toggle button is toggled, the the items display but when it's toggled again and the items is supposed to disappear, they don't
 So when the user clicks on the user bar toggle button, the content displays fine. But when it's clicked again and the content is supposed to disappear, they don't. The content  disappears for some seconds and then reappears again. Then

[2022-10-13 13:24] lb- commented on #3847
Proposed solution for this is to pass `page` as a third arg to the hook, as we are already pulling `request` from `context we do not really want to pass `context` as the third arg. Nor do we want to make a huge breaking change where everyone needs to update the first arg to be `context.

There is a function, that lets us wrap a function for backwards compatibility `accepts_kwarg` with a warning ab

[2022-10-13 13:24] DokuaAsiedu opened #9343 "Changes to some instructions in the tutorial.md file"
Link to pull request with suggested changes: #9329

[2022-10-13 14:13] albinazs commented on #9078
Got it, @lb-.  I started with LinkText because it was a proposed solution in an issue, but I agree that ButtonText makes more sense.

I made tests via Assistive Labs on all 4 WHCMs available in 21H2 version, both Edge & Chrome. The static buttons look good (see screenshots below).
But the real fun starts with hovering:) Elements behave very differently, so now I will be fixing this one as well.

T

[2022-10-13 15:37] Theresa-o commented on #9174
@thibaudcolas

Ok

[2022-10-13 15:39] Seremba commented on #9028
Hi @thibaudcolas, I have worked on this issue. I am kindly requesting your review and suggestion on how to improve.
The screenshot below shows some changes. Thanks a lot.
![Screenshot from 2022-10-13 18-34-48](https://user-images.githubusercontent.com/45463621/195642044-b35093b5-cc4c-48e3-848b-97353164bb6d.png)

[2022-10-13 15:44] vicky1312 commented on #9218
@lb- I have tested this issue and I can see that there is a scroll bar
<img width="955" alt="Annotation 2022-10-13 164026" src="https://user-images.githubusercontent.com/63854917/195643287-6679a1a0-2c8d-4136-9a16-7685a8dbc8bd.png">

[2022-10-13 15:45] Dev-Liz commented on #9331
Can more than one person work on it? @thibaudcolas

[2022-10-13 16:00] vicky1312 commented on #9342
Can I work on this? @Lovelyfin00 @thibaudcolas

[2022-10-13 16:02] wimfeijen commented on #5239
Hi, I managed to reproduce the error in a new version of Wagtail.

In settings.py:
WAGTAILIMAGES_FEATURE_DETECTION_ENABLED = True

I am using:

wagtail==4.0.2
Django==4.1.2
Wand==0.6.10
Willow==1.4.1
opencv-python==4.6.0.66

Version: ImageMagick 6.9.11-60 Q16 x86_64 2021-01-25 https://imagemagick.org
Linux dev 5.10.0-17-amd64 #1 SMP Debian 5.10.136-1 (2022-08-13) x86_64

Here is the stack trace:
E

[2022-10-13 16:25] thibaudcolas opened #9349 "Workflow status icons aren’t visible in high-contrast mode with other themes than white"
⚠ This issue is specific to Windows High contrast mode / Contrast themes. To troubleshoot this, you will need to [simulate forced-colors mode](https://developer.chrome.com/blog/new-in-devtools-98/#forced-colors) in browser DevTools.

This is tagged as a [**good first issue**](https://github.com/wagtail/wagtail/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22) – if y

[2022-10-13 16:26] Lovelyfin00 commented on #9342
I'm going to work on it after the mentors has confirmed it

[2022-10-13 16:29] thibaudcolas opened #9350 "Login / forgot password forms need a border in Windows high contrast mode"
## Template

⚠ This issue is specific to Windows High contrast mode / Contrast themes. To troubleshoot this, you will need to [simulate forced-colors mode](https://developer.chrome.com/blog/new-in-devtools-98/#forced-colors) in browser DevTools.

This is tagged as a [**good first issue**](https://github.com/wagtail/wagtail/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+iss

[2022-10-13 16:34] thibaudcolas opened #9352 "Wagtail version number in admin has an extra dot"
This is tagged as a [**good first issue**](https://github.com/wagtail/wagtail/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22) – if you want to take it on, please leave a comment below to say so, no need to ask for permission, first come first serve! State your intent and share any questions / plans you have on how to approach the task.

### Issue Summary

In the S

[2022-10-13 16:39] thibaudcolas commented on #9184
@sdmoran I’m not sure what I meant by "other issues" definitely fixing one issue will be a good start 😛

[2022-10-13 16:39] vicky1312 commented on #9342
Alright then

[2022-10-13 16:40] vicky1312 commented on #9352
I would love to work on this @thibaudcolas

[2022-10-13 16:47] Lovelyfin00 commented on #9352
I would love to work on this

[2022-10-13 16:48] Lovelyfin00 commented on #9350
I would love to work on this

[2022-10-13 16:50] Lovelyfin00 commented on #9349
I would love to work on this too

[2022-10-13 16:52] thibaudcolas commented on #9349
@Lovelyfin00 only one issue at a time please!

[2022-10-13 16:52] thibaudcolas commented on #9350
@Lovelyfin00 only one issue at a time please!

[2022-10-13 16:53] Lovelyfin00 commented on #9350
I'll work on this then @thibaudcolas

[2022-10-13 17:04] Dev-Yusuf commented on #9028
Adding the asterisk is great. But how about the borderline? It's also important we make the border visible as others fields.

[2022-10-13 17:10] gasman commented on #9028
@Dev-Yusuf There's a separate issue about that - #9318

[2022-10-13 17:58] yokwejuste commented on #9272
Thanks @lb- I'm on it!

In case I need help I'll get to you.

[2022-10-13 18:08] roman-koshchei opened #9353 "Navbar looks wrong in mobile version"
### Issue Summary

 Just look:

![IMG_20221013_210538.jpg](https://user-images.githubusercontent.com/103932583/195673143-6856b092-ff3f-4c26-9645-e6b841829a38.jpg)

### Steps to Reproduce

Change css

-   I have confirmed that this issue can be reproduced as described on a fresh Wagtail project: yes

[2022-10-13 18:56] Dev-Yusuf commented on #9028
I will try doing something about that...

[2022-10-13 20:13] lb- commented on #9078
@albinazs let's go with ButtonTexr - great solution. Let's get a PR up and we can move ahead with this.

[2022-10-13 20:16] Lovelyfin00 commented on #9350
@thibaudcolas
Created a PR for this at #9354

[2022-10-13 21:48] Lovelyfin00 commented on #9349
Fixed in wagtail/wagtail#9349

I didn;t know I had to create separate branches for each PR I make

[2022-10-13 22:19] thibaudcolas commented on #8160
Tagging this as a _good first issue_. I believe the only work needed is for someone to edit our two logos to add a background.

- https://github.com/wagtail/wagtail/blob/main/.github/wagtail.svg should have a plain white background rather than transparent
- https://github.com/wagtail/wagtail/blob/main/.github/wagtail-inverse.svg should have a plain black background rather than transparent

[2022-10-14 00:16] hazho commented on #9334
Can this be done by the admins?
(i.e., a hovered menu above/beside each of the admin menu items prompting the admins to include that item in user bar)
and store the configured data into the local storage of the browser
(I have mentioned this in the discussion as well https://github.com/wagtail/wagtail/discussions/9302 )

[2022-10-14 03:40] Theresa-o commented on #9318
@thibaudcolas I can confirm that this is a UI semantics bug that needs to be fixed.

I propose that in order to make it easier for the User to easily fill the Title Field, I make the following changes;

- We create the page title as a label for with a bolder text and the same colour as subtitle and introduction
- We create a border making it easier for users to notice that it is a form field that

[2022-10-14 05:31] dopry commented on #7720
@gasman Why should cat not match caterpillar? I think you're making a big assumption there, and one that isn't necessarily very user friendly...   Most users working with search are starting with an incomplete idea of exactly what they're looking for and often use jargon...  cat could be catalytic converted to a mechanic, or catepillar to a constuction worker.  Weighting should be taking care of e

[2022-10-14 07:29] dchidindu5 commented on #9336
Thanks for this, I was about raising an issue on this and lucky enough I saw it here.

[2022-10-14 08:37] vicky1312 commented on #9352
@Lovelyfin00 please work on it, I have trouble pushing my code

[2022-10-14 09:30] Lovelyfin00 commented on #9352
Alright
I'll work on it today
Thanks

[2022-10-14 09:36] lb- commented on #9106
Go for it @Lovelyfin00 - we will also need to ensure there are new unit tests for this behaviour. It's likely some existing tests exist for the userbar legacy moderation buttons.

[2022-10-14 09:40] Lovelyfin00 commented on #9106
Ok
Thank you☺
Can you attach links to resources and previous issues that could help me?
I'm very very new to this @lb

[2022-10-14 09:49] lb- commented on #9106
@Lovelyfin00 this may not be a good first issue sorry - but have a read of the issue in full and try to reproduce the problem, then also read all the links to get more context. I'll try to find the PR that implemented workflow and add a link to it.

[2022-10-14 10:52] Lovelyfin00 commented on #9352
Hi @thibaudcolas
Any resources on testing against the different versions of wagtail?

[2022-10-14 11:18] benitaanawonah commented on #8160
Hi @thibaudcolas, I'm interested in working on this, can you assign it to me?

[2022-10-14 11:35] benitaanawonah commented on #1285
Please is this still an issue? i would like to work on it

[2022-10-14 12:51] #9180 closed

[2022-10-14 12:55] thibaudcolas commented on #9180
This has been fixed in #9319.

[2022-10-14 12:56] thibaudcolas commented on #8047
Thank you for the report @jslay-excella! It was so clear-cut that none of us replied 😅

This should be fixed as of #9319, to be released in Wagtail 4.1.

[2022-10-14 12:56] #8047 closed

[2022-10-14 13:28] #9216 closed

[2022-10-14 13:32] th3hamm0r opened #9360 "Opening edit page view with preview-panel closed results in 3 preview requests"
### Issue Summary

Currently, if you open a page for editing (so the side panel is closed), this results in 3 preview requests (beside other xhr requests related to the preview) in the background! I've expected 0 preview requests ;)
I think those requests should only be executed, when the preview panel is opened by the user.

![wagtail_preview_requests](https://user-images.githubusercontent.com/46

[2022-10-14 13:32] #9260 closed

[2022-10-14 13:51] thibaudcolas commented on #9216
I’ve closed this now as of #9269 – I believe this fits the bill in terms of seeing the page info at a glance. #9036 will be next, and then #9276 after.

[2022-10-14 13:58] Dorothy2020 commented on #7210
Can I work on this issue @thibaudcolas since there is no PR

[2022-10-14 14:03] #7892 closed

[2022-10-14 14:13] thibaudcolas commented on #9318
@onno-timmerman thanks for the feedback! So far we’ve acknowledged this was a potential issue but decided to give it a go anyway. We were hoping the help text underneath might be enough indication that this is a field, as well as the addition of the asterisk to indicate it being required (#9028).

Do you think the asterisk could be enough? Or that people you work with could get used to this?

@The

[2022-10-14 14:17] bolarinwa-ajayi1 commented on #9343
Hi, I'm outreachy applicant, i will be working on this issue.

[2022-10-14 14:23] DokuaAsiedu commented on #9343
Hello, I already made a pull request suggesting some changes so you can look through more of the documentation and check for more issues to fix.

[2022-10-14 14:24] bolarinwa-ajayi1 commented on #9343
noted, thanks

[2022-10-14 14:31] DokuaAsiedu commented on #9343
Welcome, have you been through the contributor checklist for documentation?

[2022-10-14 14:31] DokuaAsiedu commented on #9343
Welcome, have you been through the contributor checklist for documentation?

[2022-10-14 14:59] Theresa-o commented on #9318
@thibaudcolas Should I work on something else while waiting for onno-timmerman feedback or I should go ahead and implement the change?

[2022-10-14 15:50] thibaudcolas commented on #5334
We’ve discussed it in today’s accessibility team meeting and don’t think this is an appropriate pattern here. Tabbing feels appropriate, and more discoverable.

[2022-10-14 15:50] #5334 closed

[2022-10-14 15:52] thibaudcolas commented on #7366
@thibaudcolas to re-test

[2022-10-14 16:29] thibaudcolas commented on #9318
@Theresa-o I’ve marked this issue as "needs info" and "needs UI design", so we need to agree on what needs to be done before anyone makes any change. If you want to work on other issues that aren’t explicitly marked as "good first issue" – please always start by investigating the code and reporting back your finding, so we agree on where the issue comes from. Making the change is the last part of

[2022-10-14 16:41] thibaudcolas commented on #9106
@Lovelyfin00 before you claim an issue, please make sure that you do have the appropriate skillset to do so! It takes a lot of time to curate issues so the problems are well described and potential solutions also covered. @lb- has already added plenty  of details  in the original description, and I don’t think there is much more to be said about this until you or someone else has done their own re

[2022-10-14 16:48] #9028 closed

[2022-10-14 16:55] thibaudcolas opened #9363 "Status tag in page explorer should have a font size in rem rather than pixels"
### Issue Summary

In our Pages explorer menu, we use a status tag `c-status` component to display the pages’ publication state and locales. Unfortunately this component sets a font size in pixels – which doesn’t support font-size resizing in browsers.

Here is the component in question:

![page-explorer-status](https://user-images.githubusercontent.com/877585/195900319-e86ddd4a-a08d-4e7e-b275-47f

[2022-10-14 16:55] thibaudcolas commented on #9363
Assigning this one to @maryojo.

[2022-10-14 16:57] thibaudcolas commented on #9028
@maryojo it looks like @Seremba mistakenly worked on this as well and made a pull request addressing the problem. This isn’t ideal but I decided to accept the pull request nonetheless – mistakes happen, and there are plenty other good issues to look at.

I’ve made one and assigned it already to you @maryojo – it should be similar in scope to this one: https://github.com/wagtail/wagtail/issues/9363

[2022-10-14 17:07] maryojo commented on #9028
Thanks @thibaudcolas! I was confused at first when I saw the PR

[2022-10-14 17:08] maryojo commented on #9363
Alright @thibaudcolas , I'd start working on this

[2022-10-14 17:11] Seremba commented on #9318
Hi @thibaudcolas, I was working on this issue! I added an autofocus attribute such that when one is creating a new page, the title field is automatically under focus. This will help users to identify that the field needs to be filled in. Should I go on with it or I stop there?

@onno-timmerman is what I have described above what you meant? Thanks a lot

[2022-10-14 17:20] gasman opened #9364 "Postgres search test failures against Django 4.2a0"
Various Postgres search backend tests are [currently failing](https://github.com/wagtail/wagtail/actions/runs/3250398796/jobs/5334055999) against the Django main branch, with variants of this error:

[code]
`git bisect` shows that this started in https://github.com/django/django/commit/04518e310d4552ff7595a34f5a7f93487d78a406. If I tweak `PostgresSearchResults._do_search` to output the query SQL b

[2022-10-14 17:40] gasman commented on #9335
Completed in #9347

[2022-10-14 17:40] #9335 closed

[2022-10-14 18:06] jslay-excella commented on #8047
I had to re-read all of it to remember what it was even about :P

Thanks!

[2022-10-14 18:48] jsma commented on #9281
It has since come to my attention that the `hr` button is missing even though it is specified in `features`:

<img width="1538" alt="Screen Shot 2022-10-14 at 11 44 02 AM" src="https://user-images.githubusercontent.com/24574/195918619-4cd0df72-6ef2-4661-b4e2-1d4b188c313c.png">

Only text formatting options are included (superscript, subscript, strikethrough):

<img width="486" alt="Screen Shot 202

[2022-10-14 18:51] AfiMaameDufie commented on #7777
Hi @thibaudcolas,
I went through the docs and created the wagtail site, added two blogs in attempt to replicate the problem mentioned above. However, I cannot see the issue with the scroll when editing.
Can you give me the steps to produce the problem?

[2022-10-14 19:07] Dev-Yusuf commented on #9028
Please, I will be glad you assign me to any issues.

On Fri, 14 Oct 2022, 5:57 pm Thibaud Colas, ***@***.***>
wrote:

[2022-10-14 22:12] thibaudcolas commented on #9336
Hi @Julietadeboye, thanks for opening this here! No need to @-mention mentors unless there’s something urgent for us to do, we regularly review all issues.

Also note as a point of etiquette – if you open a new issue, it’s usually a good idea to wait a bit for feedback before also opening a pull request. This is so you don’t spend time working on something we might disagree with, and also because

[2022-10-14 22:16] thibaudcolas commented on #6107
👍 thanks for letting us know! @vicky1312 go for it if you’re still interested – either of the tasks in https://github.com/wagtail/wagtail/issues/6107#issuecomment-1276245262

[2022-10-14 22:25] thibaudcolas commented on #8990
👍 thank you @lelit. I’ve recently worked on this and am pretty sure this just never got implemented.

Here is our logic that keeps sections from collapsing if there is an error: https://github.com/wagtail/wagtail/blob/e9ce02d40939931e2d9df05855c3a185d3095386/client/src/includes/panels.ts#L66-L74

And the equivalent code that collapses StreamField blocks: https://github.com/wagtail/wagtail/blob/e9c

[2022-10-14 22:31] lb- opened #9366 "Draftail (rich text editor) - using cmd + left arrow to navigate to the start of the line is broken in Firefox"
### Issue Summary

I used the Rich text editor for a large amounts of editing links this week and found some very frustrating behaviour with cmd + left arrow interaction.

When there is an inline element (e.g. a link), it is impossible to navigate to the start of the line in the way that works in every other text editor I have used.

* `cmd` + `left arrow` should navigate to the start of the line.

[2022-10-14 22:45] lb- commented on #9030
@ForJessicaSake  we do not assign issues (outside of core team) so feel free to just start on this.

[2022-10-14 22:54] lb- commented on #9336
Interestingly, Django seems to use `py` (not  `py -3`).

I have only seen one example of this and have not dug deep into the Django issue behind this.

<img width="960" alt="Screen Shot 2022-10-15 at 8 51 21 am" src="https://user-images.githubusercontent.com/1396140/195954855-6f93ec92-3be5-4748-b9ff-83a6018e62dc.png">

But again, I have not seen the usage of `py -3` come up in any Windows getting

[2022-10-14 23:54] vicky1312 commented on #9218
@minusf Ahh, yes, yes. I can see it doesn't. I will check where the error is and try to recreate the issue

[2022-10-15 00:33] lb- commented on #7210
@Dorothy2020  go for it, I think we would probably want to add a new vendor overrides file in `client/scss/overrides` similar in purpose to `client/scss/overrides/_vendor.datetimepicker.scss`.

We will want to ensure the css is specific to the jquery widget classes only ideally so we do not block all text area elements globally from allowing this.

Be sure to then import it in `client/scss/core.sc

[2022-10-15 00:34] lb- commented on #6132
ok - will remove label - leave this open for someone to pick up if they want to implement a PR for this.

[2022-10-15 00:42] lb- commented on #8160
@benitaanawonah  - we do not assign issues to people (outside of core team) - just mention you are starting to work on this and that's all that is needed.

Please read the comments above - this works in most cases but not in Windows High Contrast mode.

Have fun - thank you.

[2022-10-15 00:56] vicky1312 opened #9367 "No horizontal scroll bar in admin pages header."
### Issue Summary

<!--There is no horizontal scroll bar in the header section of pages in admin. There is, however, a scroll bar in the header section when editing.

### Steps to Reproduce

1. Start the wagtail project
2. login to admin
3. Head to pages and select multiple pages

If the selected pages are too large for the page, they cut off. An horizontal scroll bar should appear in this case, b

[2022-10-15 00:58] #9367 closed

[2022-10-15 01:07] vicky1312 opened #9368 "No horizontal scroll bar in header section of admin pages"
### Issue Summary

<!-- On opening pages in wagtail admin, the horizontal scrollbar doesn't show if the pages are too much to fit. The edit page, on the other hand, shows a scroll bar.

### Steps to Reproduce

1. Open wagtail admin
2. Head to pages and choose multiple pages
3. Look for a horizontal scroll bar

The pages cut off in the absence of the scroll bar.
-   I have confirmed that this issue

[2022-10-15 01:15] vicky1312 commented on #9368
### Issue Summary
The horizontal scroll bar does not appear in the header section of the wagtail admin pages.
### Steps to Reproduce

1. Open wagtail admin
2. Navigate to pages
3. Open multiple pages

A horizontal scroll bar should appear if the pages are to0 large to fit the space, but it doesn't. The scroll bar, however, appears when editing.
-   I have confirmed that this issue can be reproduce

[2022-10-15 01:16] fyunusa commented on #9151
<img width="1280" alt="Screenshot 2022-10-15 at 1 48 04 AM" src="https://user-images.githubusercontent.com/55334829/195962549-b823a0e8-f2b3-475a-b6fc-787de8ee8c23.png">
Hi @thibaudcolas i'm currently looking up on this, i've been able to reproduce the error on a new site which i setup.
Trying to look more on the rich text system, to see possible solutions i'll propose.

[2022-10-15 01:24] xomcodes commented on #8160
Hello @lb- @thibaudcolas I would love to work on this if @benitaanawonah  is not working on it

[2022-10-15 01:28] vicky1312 commented on #9368
https://user-images.githubusercontent.com/63854917/195962985-a98752f1-d4e7-4e51-9624-7482728865e1.mp4

Tested on firefox

[2022-10-15 01:32] Scotchester commented on #8160
@xomcodes It's only been 14 hours since they expressed their interest. Let's give them some time to work 🙂

[2022-10-15 01:36] vicky1312 commented on #6107
Alright @thibaudcolas I’ll work on it.

[2022-10-15 01:46] xomcodes commented on #8160
Okay. That's true

[2022-10-15 07:23] ForJessicaSake commented on #9030
Okay noted, I’ll do just that

[2022-10-15 09:00] Julietadeboye commented on #9336
Hi Thibaud and LB.

Thanks for your feedback. Will do better in my next contribution.

- I use Windows 10, but this is an issue experienced by versions.
- I used Command prompt for my installation
- I followed the [tutorial](https://docs.wagtail.org/en/stable/getting_started/tutorial.html#install-dependencies) on how to install the required version of Python [here](https://www.python.org/downloads

[2022-10-15 10:03] benitaanawonah commented on #8160
@lb- Okay, Got it. Working on it.

[2022-10-15 10:16] zerolab commented on #9368
Thank you @vicky1312.
This looks like the confirmation of #9218. Would be great to have the details on that ticket as requested by @lb- in https://github.com/wagtail/wagtail/issues/9218#issuecomment-1275520125, so that we do not duplicate issues.

[2022-10-15 11:23] vicky1312 commented on #9218
##Issue Summary
The horizontal scroll bar does not appear in the header section of the wagtail admin pages.

Steps to Reproduce
1. Open wagtail admin
2. Navigate to pages
3. Open multiple pages
A horizontal scroll bar should appear if the pages are to0 large to fit the space, but it doesn't. The scroll bar, however, appears when editing.

- I have confirmed that this issue can be reproduced as des

[2022-10-15 11:24] vicky1312 commented on #9368
@zerolab Okay, I've just done that. I'm guessing I should close this issue now?

[2022-10-15 11:52] AnishaSingh0118 commented on #9178
Hello @biofsphere, as part of Outreachy winter cohort I would love to put in my efforts to this issue, Can I contribute?

[2022-10-15 11:59] lb- opened #9370 "Update Dash / Zeal offline docs for Wagtail 2.9 through to 4.0"
### Summary

Dash & Zeal docs apps are offline documentation tools that are really helpful for locally searching documentation and also for working offline.

We have historically added Wagtail's documentation to their 'user contributed docs' and it would be good to do an update.

### Details

- The most recent documentation in that project is v2.8.1
- https://github.com/Kapeli/Dash-User-Contributi

[2022-10-15 12:00] lb- commented on #9370
Adding good first issue & Outreachy for anyone looking to get into the documentation space as it's good to understand how other projects use the docs we provide.

[2022-10-15 12:05] biofsphere commented on #9178
I suppose you can. I wish I could. But I did not reach that skill level yet.

[2022-10-15 12:12] #9368 closed

[2022-10-15 12:13] zerolab commented on #9370
https://hynek.me/articles/productive-fruit-fly-programmer/ has a number of interesting ideas that may be relevant

[2022-10-15 13:14] activus-d commented on #9370
@lb- @zerolab I would like to work on this.

[2022-10-15 13:30] MaryAyobami commented on #9370
@lb-  I would love to work on this too

[2022-10-15 13:31] zerolab commented on #9370
Best to divide and conquer. Please start with a version each (agree which one you're taking) and take it from there

[2022-10-15 14:05] xomcodes commented on #9370
@lb-  @zerolab  I would love to work on this too

[2022-10-15 14:05] activus-d commented on #9370
@MaryAyobami which of the versions would you like to work on?

[2022-10-15 14:42] MaryAyobami commented on #9370
@activus-d
 If we are dividing it then I'd love to work on the last five versions

[2022-10-15 15:46] leumasxxx commented on #9363
@thibaudcolas can i work on this

[2022-10-15 15:47] Seremba commented on #9363
Hi @leumasxxx it is assigned to @maryojo

[2022-10-15 15:49] leumasxxx commented on #9363
okay thanks @Seremba but id still like to get  first issue to work on

[2022-10-15 15:51] maryojo commented on #9363
I'm working on this already @leumasxxx

[2022-10-15 15:55] activus-d commented on #9370
@MaryAbayomi alright I would work on the earlier versions. Is "MaryAbayomi" your display name on slack? I would like to be in sync with you and also work together on some aspects that I might not understand.

[2022-10-15 15:58] leumasxxx commented on #9363
@maryojo how can i get an issue to work on

[2022-10-15 15:59] thibaudcolas commented on #9370
@activus-d @MaryAyobami nice one! I’ve added your names to the list in LB’s description. @xomcodes I think two people is more reasonable, have a look at other tasks.

[2022-10-15 16:02] thibaudcolas commented on #8160
Great! If you want to try to reproduce the issue, here is how to simulate high-contrast mode in Chrome: https://developer.chrome.com/blog/new-in-devtools-98/#forced-colors

Though again really all that’s needed is to add the background colors.

[2022-10-15 16:04] thibaudcolas commented on #9363
@leumasxxx could we keep the discussion here to what this issue is about? If you’re looking for support with contributions please either use our Slack workspace, or GitHub Discussions, or contact me directly

[2022-10-15 16:07] leumasxxx commented on #9363
okay

[2022-10-15 16:16] thibaudcolas commented on #9151
@fyunusa here is the code for the first issue:

https://github.com/thibaudcolas/draftjs-filters/blob/eb5abe2a51f18b37bb3da0771f8fdd7a7d406ae0/src/lib/filters/editor.ts#L75-L81

Second issue: https://github.com/springload/draftail/blob/988c809fb828e3d583932255df845e3dd08cac4f/src/api/constants.ts#L163-L165

Third issue: https://github.com/springload/draftjs_exporter/blob/ee13fa72813a3e079dc4c4305f5

[2022-10-15 16:49] dchidindu5 opened #9372 "Add a new guide on tutorials.md section of the website"
### section of the Wagtail docs

  [WAGTAIL, Create Admin User Session.](https://docs.wagtail.org/en/stable/getting_started/tutorial.html#create-an-admin-user)  #9371

### Details

Updated the tutorial section, by letting first time users know the expected outcome of the command being executed. This will clearly define that the user is required to input login credentials in other to be granted ful

[2022-10-15 16:52] dchidindu5 commented on #9370
Are I join the team too?

[2022-10-15 16:52] dchidindu5 commented on #9372
@thibaudcolas  Please review the changes and give me a feedback #9371

[2022-10-15 19:33] xomcodes commented on #9370
Okay @thibaudcolas . I'm still on a look out

[2022-10-15 21:16] lb- commented on #8160
If you or anyone needs to edit svgs. Inkscape is good for this.
https://inkscape.org/

[2022-10-16 00:13] #9331 closed

[2022-10-16 00:14] fyunusa commented on #9151
ok, thanks @thibaudcolas. I'll stay calm for now

[2022-10-16 00:15] fyunusa commented on #9151
Will look for other issues to work on

[2022-10-16 00:16] thibaudcolas commented on #9336
Based on https://docs.python.org/3/using/windows.html, it seems `py` is the "Python Launcher for Windows", which will automatically start Python with the latest version possible – and allow you to use other versions if you want to. In our case, we can definitely use whichever version of Python is the latest, so we don’t need the `-3`. And DjangoGirls doesn’t use it because their tutorial has users

[2022-10-16 00:26] MaryAyobami commented on #9370
@activus-d  my display name on slack is Mary Ayobami

[2022-10-16 00:41] benitaanawonah commented on #8160
@lb- I've made the changes and I’m currently testing, so I'll be sending my pull request soon

[2022-10-16 01:09] Julietadeboye commented on #9336
Hi  Thibaud, `py --version` did show the latest version. Thanks,
Did you mean to write
[code]
The same command was repeated.

[2022-10-16 01:42] thibaudcolas commented on #9370
@dchidindu5 @xomcodes this issue is already assigned so we should keep the discussion here to what the issue is about from now. Please reach out on Slack if you want help finding another task.

[2022-10-16 01:46] thibaudcolas commented on #9336
Yes I did :) Though I think `python` seems more universal than `python3`?

[2022-10-16 02:06] Julietadeboye commented on #9336
It is, and since there will be newer versions in the further, this part of the documentation will not need to be revisited.

[2022-10-16 04:49] bolarinwa-ajayi1 commented on #9343
yes, i launched to get started with wagtail tutorial

[2022-10-16 08:30] Julietadeboye commented on #9336
Hey Thibaud, should I go ahead to make the changes?

[2022-10-16 09:42] lelit commented on #8990
Thanks for the details, I may try to implement the above, if/when time permits.
Is there a "quick" intro to setup a development environment, in particular wrt TS compilation?

[2022-10-16 10:23] thibaudcolas commented on #9336
@Julietadeboye if you think it’s a good idea then yes! You can update your existing pull request, https://github.com/wagtail/wagtail/pull/9338

[2022-10-16 10:36] Julietadeboye commented on #9336
Alright, will do. Thanks!

[2022-10-16 11:56] robslotboom opened #9378 "Wrong translation – Dutch"
### Issue Summary
Not realy an issue but a wrong translation.

### Steps to Reproduce
Create a Wagtail site and add these lines to settings.py

LANGUAGE_CODE = 'nl'
LANGUAGES = WAGTAILADMIN_PERMITTED_LANGUAGES = [('nl', _('Dutch')),]

Create a ModelAdmin
Add a filter using admin.SimpleListFilter

In the admin interface the caption above the filter starts with "Door" which schould be "Op".

Locatio

[2022-10-16 12:03] gasman commented on #9378
Hi @robslotboom - thanks for the report.

For future reference, you can make fixes to translations yourself through [Transifex](https://explore.transifex.com/torchbox/wagtail/) - I've updated this one now.

[2022-10-16 12:03] #9378 closed

[2022-10-16 12:08] robslotboom commented on #9378
Hi matt,

Thanks, I’ll have a look at Transifex.

[2022-10-16 15:35] fyunusa commented on #9026
Hi, @thibaudcolas can i take up on this to fix the styling issues

[2022-10-16 16:14] activus-d commented on #9370
@lb @thibaudcolas

The pull requests are up. I had to make each version a separate pull request because for every version there has to be duplicate archive file in the `docsets\Wagtail` folder apart from the `specific version` folder. I don't want the file to overwrite the preceding one while trying to main the name format.

## Update Wagtail docset to version 2.9
https://github.com/Kapeli/Dash-Us

[2022-10-16 16:22] banjo-tech opened #9380 "Add branch naming convention on issue_tracking.md section"
To promote better communication among the developers, the issue tracking section needs a branch name system.
Before creating a pull request, the developers should be familiar with this naming convention.

### Issue_tracking.md

  https://docs.wagtail.org/en/stable/contributing/issue_tracking.html

### Details

(Write your answer here.)

[2022-10-16 16:32] fyunusa commented on #9026
is it something i'll be able to work on ?

[2022-10-16 17:01] banjo-tech commented on #9380
I would like to work on this

[2022-10-16 18:12] Theresa-o commented on #9318
Hello @thibaudcolas While, we await more info, I edited the code to show what it would look like if a border is added to the title.

![pagetitleUIdesign1](https://user-images.githubusercontent.com/62052443/196051200-838e18d9-92aa-4803-b599-bd1b087ac8ac.PNG)

[2022-10-16 19:09] MaryAyobami commented on #9370
@lb-  @thibaudcolas
I have submitted the pull requests. I used the same method as @activus-d

## The links
### Wagtail version 2.14
https://github.com/Kapeli/Dash-User-Contributions/pull/3936

### Wagtail version 2.15 doc
https://github.com/Kapeli/Dash-User-Contributions/pull/3937

### Wagtail version 2.16 doc
https://github.com/Kapeli/Dash-User-Contributions/pull/3938

### Wagtail version 3.0 doc

[2022-10-16 20:23] Scotchester commented on #9026
Hey @fyunusa, no need to ask, just state that you intend to work on it 🙂

[2022-10-16 20:48] fyunusa commented on #9026
Oh yeah, I'm on it already thanks

On Sun, Oct 16, 2022, 9:23 PM Scott Cranfill ***@***.***>
wrote:

[2022-10-16 21:20] lb- commented on #9370
@MaryAyobami  & @activus-d - this is awesome!

Once those merge we will chat quickly on Slack about how to recognise these as a Wagtail contribution - even though it's an external package.

@thibaudcolas - idea - we get both users to submit a token PR to Wagtail with release notes updates, this way we can document this (just in release notes) and have them show up as contributors for any Outreachy

[2022-10-16 21:41] lb- commented on #9352
Confirmed this issue

[2022-10-16 22:33] #9352 closed

[2022-10-17 00:02] codefilterPH commented on #4211
![image](https://user-images.githubusercontent.com/97372103/196065177-25be91db-2dc5-4ea5-bd0e-9b2bea005e9d.png)

Hi, in my case I tried to enter new information to the paragraph in admin then the preview is not updating or showing what I have entered

[2022-10-17 05:17] banjo-tech commented on #7115
Hi @thibaudcolas I will like to work on this

[2022-10-17 05:22] lb- commented on #7115
@banjo-tech have you used Transifex? It might be good to pick this up if you have had some, even minimal, experience with writing translations.

If so, I recommend the first step would be to write a bit of a draft docs section as a comment, including where you think this should go in the docs.

Then after a bit of feedback you can prepare a PR

Also - it would be good to have a read of the Related

[2022-10-17 06:19] iribama commented on #6781
@thibaudcolas hello, I'd like to work on this issue. Is it still open? I am an Outreachy applicant. I think that re-organizing the user guide documentation will make the UX more seamless and accessible for users.

[2022-10-17 07:19] m-frehe commented on #9281
We have the same issue and can't update to Wagtail 4 with this editor behaviour.
Users are missing the toolbar and can't figuring out how to enable it...

Or enable it on focusing the textfield on the old position of the toolbar?

[2022-10-17 07:40] dchidindu5 commented on #9336
In Windows, python3 doesn't work
Preferably follow the instructions from the mentor.

On Sun, Oct 16, 2022, 2:47 AM Thibaud Colas ***@***.***>
wrote:

[2022-10-17 08:22] lb- commented on #9380
Sorry. Just saw the PR for this.

I'm not sure this is actually really necessary - the branches that get created for PRs do not actually effect anything in the final code. The commit message does, but when merging a core member will usually clean this up if needed.

If you're referring to the blog post that talks about branch naming - https://wagtail.org/blog/ten-tasty-ingredients-for-a-delicious-

[2022-10-17 08:56] banjo-tech commented on #9380
Thank you for the feedback @lb- While this explanation makes perfect sense I had initially thought that having a branch naming convention would make it easier to locate a branch but since it could hinder peoples ability to contribute I would agree that the issue be closed

[2022-10-17 09:25] Julietadeboye commented on #9336
@dchidindu5 not sure what you're referencing here but yes, `python3` doesn't work in Windows

[2022-10-17 09:40] lb- commented on #9380
No problems. There's a lot to take in - really appreciate the initiative on this.

[2022-10-17 09:40] #9380 closed

[2022-10-17 09:52] xomcodes opened #9387 "Comment dropdown overlaying on the collapse all button"
### Issue Summary
When I created a new page and tried viewing the comment, I noticed the comment dropdown overlaying on the collapse all button. I checked for all screen sizes and the issue still persisted.

### Steps to Reproduce

1. Open the Wagtail bakery live
2. Login into the admin panel
3. Create a post
4. On the edit page, click on the comment icon, the dropdown is overlaying on the collaps

[2022-10-17 10:03] thibaudcolas commented on #9387
Thanks @xomcodes! This will be fixed in #9345.

[2022-10-17 11:18] #9036 closed

[2022-10-17 11:43] #9332 closed

[2022-10-17 12:01] Elrigor opened #9389 "Wagtail 4.0.2 Orderables still broken"
Hi!
I recently saw in an issue that orderables were broken and then fixed. However, they still broke for me.

Are they fixed? Thx! :D

This is the issue
[](https://github.com/wagtail/wagtail/issues/9145)

[2022-10-17 12:03] lb- commented on #9389
@Elrigor  please can you provide a bit more detail - we have not received any further feedback that this is a problem.

One user was using an external package (multi image upload from memory) but the bug was with that package.

[2022-10-17 12:05] gasman commented on #9378
The list of apps in Transifex is a flat list, so there's no separate 'contrib' section - the contrib apps appear alongside the core ones as "wagtailmodeladmin", "wagtailredirects" and so on.

[2022-10-17 12:06] #9184 closed

[2022-10-17 12:07] gasman commented on #9288
Closing due to lack of information.

[2022-10-17 12:07] #9288 closed

[2022-10-17 12:07] robslotboom commented on #9378
Clear, thanks Matt

[2022-10-17 12:13] lb- commented on #7115
Bit of confusion about the 'structure' of Transifex - could be good to pull out Matt's response to help with this onboarding page.

https://github.com/wagtail/wagtail/issues/9378

[2022-10-17 12:41] banjo-tech commented on #7115
@lb- sorry for the late reply. I have not used transifex. I have however created an account .What I intend to do is make a translation using transifex and then document the process if that is a good idea. I would also pull out Matt's response and go through it. Thank you for the suggestion. When I create a draft I will update this comment before making a pull request

[2022-10-17 12:49] lb- commented on #7115
That's a great way to go about it. It's also ok to solve 'some' of this PR with a start in the docs.

[2022-10-17 12:55] banjo-tech commented on #7115
Alright I will thank you

[2022-10-17 13:58] AnishaSingh0118 commented on #9360
I would Like to take up this issue.

[2022-10-17 16:14] gasman commented on #9389
In fact the issue I'm seeing also occurs on 3.0.3 and 2.16.3, so if you only saw it emerging in 4.0 then this is probably something different. In any case, I'll continue investigating, since there might be something subtle about this model that triggers both issues.

[2022-10-17 16:34] gasman commented on #9389
Just realised what's causing the issue I'm seeing - the `min_num=1` causes an initial form to be rendered (which wouldn't usually be the case - normally you'd have to explicitly "add image" to get the first form), and that form has a blank value for the hidden 'order' field. I'll open a new issue for that - not sure how long that bug has been around for, and I'm pretty sure it's not related to the

[2022-10-17 16:41] thibaudcolas commented on #9323
Implemented in #9344.

[2022-10-17 16:41] #9323 closed

[2022-10-17 16:47] gasman opened #9391 "InlinePanels with min_num are incorrectly ordered on first save"
### Issue Summary

When an `InlinePanel` is defined with a `min_num` argument, an initial empty form is placed on the page. This form is given a blank Order value, which causes it to be ordered after any subsequently added forms when saved.

### Steps to Reproduce

1. Start a new project with `wagtail start orderabletest`
2. Edit home/models.py to the following:

[code]
3. `./manage.py makemigrati

[2022-10-17 17:56] thibaudcolas commented on #9391
@MaryAyobami we generally don’t assign issues to anyone directly except the core team. All contributors can choose to work on any issue they like. You’re very welcome to work on this, though if you’ve not done contributions to InlinePanel before this might be a tough one.

First step would be to check what in the code causes this initial form to be added to the formset with a blank order – and bas

[2022-10-17 17:57] thibaudcolas commented on #9387
Fixed via #9345.

[2022-10-17 17:57] #9387 closed

[2022-10-17 19:10] lb- commented on #9389
No issue has been opened as per comment above - https://github.com/wagtail/wagtail/issues/9391

[2022-10-17 20:21] Julietadeboye commented on #8835
I would like to work on this

[2022-10-17 20:24] yokwejuste commented on #8655
I'm currently on this issue.

[2022-10-17 20:32] vicky1312 commented on #8834
Can I pick up this issue? @thibaudcolas

[2022-10-17 20:32] MaryAyobami commented on #9391
Alright I'd start working on it

[2022-10-17 20:33] lb- commented on #8655
@stevedya if it's ok - I'll un-assign you for now - Thibaud let me know if that's an issue.

[2022-10-17 20:37] xomcodes commented on #9105
@yokwejuste are you working on this?

[2022-10-17 20:39] lb- commented on #9105
@yokwejuste & @xomcodes - as per comment in Slack - let's give @0saurabh0 a chance to see if it's still being worked on.

@0saurabh0 - please can you advise if you are still giving this a go, all good if not, some others may take a look.

[2022-10-17 20:49] Julietadeboye commented on #8835
Recreating this

[2022-10-17 20:51] xomcodes commented on #8835
I would work on this

[2022-10-17 20:57] lb- commented on #8835
@xomcodes - let's give Juliet a chance to recreate this.

@janehughes - if it's ok we might see if someone looking at applying to Outreachy can pick this up.

[2022-10-17 20:59] xomcodes commented on #8834
@anujaraj  are you still working on this? If not, i would love to give it a try

[2022-10-17 21:56] thibaudcolas commented on #9336
Fixed in #9338!

[2022-10-17 21:56] #9336 closed

[2022-10-17 22:35] Elrigor commented on #9389
Hi! it is solved now :D!

The website is in a production enviroment in a server. Removing the `min_num=1`, making `migrations` and then `collectstatic` seemd to fix the problem.

Not it's working as intended. Thank you so much, I've been struggling with this for a week now :(

[2022-10-17 22:35] #9389 closed

[2022-10-17 22:45] activus-d opened #9398 "Grammatical adjustments for page models not addressed in PR #9395,"
## Issue Summary
Grammatical adjustments, which were not addressed in PR #9395, are needed on the [Pages model](https://github.com/wagtail/wagtail/blob/main/docs/topics/pages.md#page-models) section of the `Usage guide` to enhance readability

[2022-10-17 22:46] activus-d commented on #9398
I'm working on this already.

[2022-10-17 23:54] activus-d opened #9400 "Grammatical adjustments for `Writing templates` usage guide not addressed in PR #9395,"
## Issue Summary
Grammatical adjustments, which were not addressed in PR #9395, are needed on the [Writing Templates](https://github.com/wagtail/wagtail/blob/main/docs/topics/writing_templates.md#writing-templates) section of the Usage guide, which were not addressed in [issue #9395](https://github.com/wagtail/wagtail/pull/9403) to enhance readability

[2022-10-17 23:55] activus-d commented on #9400
I'm working on this already.

[2022-10-18 02:37] activus-d opened #9402 "Grammatical adjustments for `Search index page` usage guide not addressed in PR #9395"
Grammatical adjustments, which were not addressed in PR #9395, are needed on the [Search index page](https://github.com/wagtail/wagtail/blob/main/docs/topics/search/index.md#search) section of the Usage guide to enhance its readability.

[2022-10-18 02:38] activus-d commented on #9402
I'm working on this already.

[2022-10-18 02:59] banjo-tech commented on #7115
[wagtal onbording translators.docx](https://github.com/wagtail/wagtail/files/9806013/wagtal.onbording.translators.docx)

@lb-  I have attach a draft in this comment, please go through it and let me know what you think.

[2022-10-18 03:53] activus-d opened #9404 "Grammatical adjustments for `searching` usage guide not addressed in PR #9395"
Grammatical adjustments, which were not addressed in PR #9395, are needed on the [searching](https://github.com/wagtail/wagtail/blob/main/docs/topics/search/searching.md#searching) section of the Usage guide to enhance its readability.

[2022-10-18 03:54] activus-d commented on #9404
I'm working on this already.

[2022-10-18 04:16] aliceni81 opened #9406 "Dateinput widget does not work in Custom Document modal chooser"
I create a custom document model with a custom datefield named "record_date". Its default value is the current date.
HomePage has a field named "doc" which is referenced by the custom document.

The problem is that when I click the "record_date" field in the document modal chooser, the datepicker widget does not show.
![image](https://user-images.githubusercontent.com/81170508/196334075-8d04ca9c-1

[2022-10-18 04:18] lb- commented on #7115
@banjo-tech I'm not sure on the approval stuff, when I joined (a while ago) I didn't see that requirement.

Maybe join the `#translators` chat in Slack and ask there. https://wagtailcms.slack.com/archives/CTKN6UXKN

Also, any chance you can upload a txt file / markdown file instead?

[2022-10-18 04:31] jadesola123 commented on #4450
Hello I’m jadesola an outreachy applicant👋🏾

 I’d like to work on this if that’s okay @gasman @thibaudcolas

[2022-10-18 05:05] lb- commented on #9389
Glad you got it resolved - @Elrigor

[2022-10-18 05:13] 0saurabh0 commented on #9105
@lb- thanks for the chance.
My bad I didn't tell, I'm very busy with my uni academics for some time  that's why I couldn't get a chance to work on this wholeheartedly.
So if anyone wants to work on this, can go for it.

[2022-10-18 05:21] activus-d opened #9407 "Grammatical adjustments for advanced topic `images`"
## Issue Summary
Grammatical adjustments are needed in the advanced topic [images](https://github.com/wagtail/wagtail/tree/main/docs/advanced_topics/images) for better readability.

[2022-10-18 05:21] activus-d commented on #9407
I'm working on this already.

[2022-10-18 07:53] banjo-tech commented on #7115
[translator onboarding .md](https://github.com/wagtail/wagtail/files/9807782/translator.onboarding.md)
 Thank you @ lb the slack channel was a useful suggestion.
Please review this draft

[2022-10-18 09:11] Theresa-o commented on #9023
@thibaudcolas I would like to take up this issue and work on it however I'm unable to access the design system (https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=225%3A3) to see the referenced design I can use to work on this.

May I have access or a screenshot of the relevant information needed to resolve this issue?

Or should I work with this information:

If not,

[2022-10-18 09:34] lb- commented on #9370
@MaryAyobami or @activus-d - it looks like the maintainer of the user docs has asked for one PR for all docs.

Please can you coordinate this between you both. Thank you.

[2022-10-18 09:41] lb- commented on #9105
No problems at all @0saurabh0 - wish you all the best for your study.

[2022-10-18 10:06] AnishaSingh0118 commented on #9360
Yes, Thank you for your response :)

[2022-10-18 10:09] lb- commented on #4450
@jadesola123 Moderation is no longer used but instead has been replaced with Workflow.

See
* https://docs.wagtail.org/en/stable/editor_manual/administrator_tasks/managing_workflows.html
* https://docs.wagtail.org/en/stable/reference/pages/model_reference.html#workflow
* https://docs.wagtail.org/en/v4.0.2/extending/custom_tasks.html
* https://docs.wagtail.org/en/v4.0.2/releases/2.10.html#moderatio

[2022-10-18 11:20] lb- commented on #7115
A few points if feedback on the draft doc

- we use en-GB spelling so `organisation` not `organization` etc (basically remove the z's and replace with s)
- I get the idea of the intro - we appreciate your interest - but I think let's focus this intro on a high level overview. Something like 'Wagtail uses transifex to translate the content for the admin interface. Our goal is ensure that Wagtail ca

[2022-10-18 11:31] adetyaz commented on #9407
@activus-d please can i join you on the documentation. I'm new here and I'm just wrappng my head around it all

[2022-10-18 12:45] banjo-tech commented on #7115
Thank you for the thorough review. I will make the necessary corrections and go through the documents

[2022-10-18 12:54] dkirkham opened #9412 "WagtailPageTestCase Upgrade Considerations typo"
### Wagtail 4.1rc1 Release Notes - Upgrade Considerations

https://docs.wagtail.org/en/latest/releases/4.1.html#recommend-wagtailpagetestcase-in-place-of-wagtailpagetests

### Details

In the first dot point, I think the second reference to `WagtailPageTestCase` should instead be to `WagtailPagesTests`.

[2022-10-18 14:55] banjo-tech commented on #7115
@lb-  does the RC in the test above mean required contribution?

[2022-10-18 15:01] gasman commented on #7115
@banjo-tech RC means release candidate.

[2022-10-18 15:39] banjo-tech commented on #7115
@lb can you please explain this sentence "Those are then updated each RC until the final release" .
I don't quiet get the message you are trying to pass across

[2022-10-18 16:00] gasman commented on #9364
A reduced test case that doesn't depend on anything Wagtail-specific:

[code]

On https://github.com/django/django/commit/c58a8acd413ccc992dd30afd98ed900897e1f719 or earlier, this succeeds:

[code]

On https://github.com/django/django/commit/04518e310d4552ff7595a34f5a7f93487d78a406 or later, it fails:

[code]

So far I haven't been able to replicate this independently of Postgres search, but it fe

[2022-10-18 17:06] activus-d commented on #9370
@lb- @thibaudcolas

## Merged Pull Request For Wagtail versions 2.9, 2.10, 2.11, 2.12
https://github.com/Kapeli/Dash-User-Contributions/pull/3944#issuecomment-1282642768

## Merged Pull Request For Wagtail version 2.13
https://github.com/Kapeli/Dash-User-Contributions/pull/3932#event-7609509180

[2022-10-18 17:37] kbayliss commented on #6394
This is possible: https://docs.wagtail.org/en/stable/topics/search/backends.html

[2022-10-18 18:07] Buraah commented on #9412
I will like to work on this issue

[2022-10-18 18:57] gasman commented on #9364
Bug opened on Django: https://code.djangoproject.com/ticket/34105

[2022-10-18 19:14] Sophyia7 opened #9417 "Create a Guide to Help Non-developers contribute"
### Pertinent section of the Wagtail docs

 The section on the [docs](https://wagtail-guide-staging.herokuapp.com/en-latest/) file has no link. The Section title is **Help improve this guide. Contribute to open source with no coding experience needed**

### Details

 I believe this will help those who want to contribute to the documentation of the wagtail. This guide will be specific and straightf

[2022-10-18 19:19] lb- commented on #7115
@banjo-tech have a read of how the Django docs explains it - our process is essentially the same.

But basically when we have a release candidate - we will pull in the new translations from transifex into the code. Then we do that again for the final official release.

Also have a look at the migration of translations instructions.
https://github.com/wagtail/wagtail/wiki/Managing-Wagtail-translati

[2022-10-18 20:11] Sophyia7 opened #9418 "Best practices of Wagtail CMS in Wagtail staging docs"
### Explanation section of the Wagtail staging docs

https://wagtail-guide-staging.herokuapp.com/en-latest/explanation/

### Details

I want to contribute to the Explanation section. My first contribution will be to write on wagtail's best practices and why users should use Wagtail CMS.

Let me know if I can work on this.

[2022-10-18 20:31] Buraah commented on #9412
Thank you for your email.
I do have the time and will like to fix the typo

I’ll mail back when i make the PR

On Tue, Oct 18, 2022 at 8:33 PM LB (Ben Johnston) ***@***.***>
wrote:

[2022-10-18 20:42] bmoe872 opened #9419 "History compare breaks on StructBlock used in a ListBlock that is used in a Structblock"
### Issue Summary

I realize the title is a mouthful, so it's easier to explain with code, which I'll do below. The gist of it is, is that the comparison of revisions breaks when there's a nested block like I mentioned above, which leads to the history saying the the StreamField changed, but leaving 0 details as to what actually changed. This is not the same behavior for other blocks.

Reproducibl

[2022-10-18 21:09] jsma commented on #9260
I sort of understand why, at least on a long page with lots of things going on, but in the case of the "move" confirmation page, this means the most important buttons on the page are hidden by default:

<img width="1101" alt="Screen Shot 2022-10-18 at 1 59 12 PM" src="https://user-images.githubusercontent.com/24574/196543631-da933f19-69c4-4dbd-863a-97390b5afc58.png">

The help text "Select a new p

[2022-10-18 21:10] MaryAyobami commented on #9370
@lb-  @thibaudcolas

## Merge pull request for version 2.14,2.15,2.16,3.0 and 4.0
https://github.com/Kapeli/Dash-User-Contributions/pull/3943

[2022-10-18 21:28] lb- commented on #9370
@MaryAyobami & @activus-d - well done on working together and solving this  - you are both legends.

https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Wagtail/versions

I can see all the docs are there now.

<img width="1239" alt="Screen Shot 2022-10-19 at 7 25 11 am" src="https://user-images.githubusercontent.com/1396140/196547852-4d94a47a-cd83-4292-b032-b7cf8005a460.png">

Co

[2022-10-18 21:32] lb- opened #9420 "Update Dash / Zeal offline docs for Wagtail 4.1"
### Summary

Dash & Zeal docs apps are offline documentation tools that are really helpful for locally searching documentation and also for working offline.

We have historically added Wagtail's documentation to their 'user contributed docs' and it would be good to do an update with the latest 4.1 RC (Release Candidate) documentation.

### Details

- The most recent documentation in that project i

[2022-10-18 23:11] bmoe872 commented on #9419
This was actually due to something else, while I _was_ able to reproduce the issue I stated above using the steps above - I think that was more-so due to not initializing the block correctly.

e.g.

`ListBlock(SpecialBlock)` vs `ListBlock(SpecialBlock())` With the 2nd being the correct way of doing this.

Closing this out because I seem to have figured out the issue in our code.

Thanks!

[2022-10-18 23:11] #9419 closed

[2022-10-19 00:30] campenr opened #9421 "Simpler template customisation when subclassing panels"
### Is your proposal related to a problem?

Since one of the recent Wagtail upgrades (in the 3.x / 4.x era) creating a custom Panel type with a custom template has become a lot more difficult when subclassing an existing panel type. It used to be possible to do:

[code]

However, as of commit https://github.com/wagtail/wagtail/commit/e01c33c28049e216e270f42a5b2f406f4eb6df86, this is no longer poss

[2022-10-19 00:38] gasman commented on #9421
Can't you just subclass the inner BoundPanel class?

    class CustomInlinePanel(InlinePanel):
        class BoundPanel(InlinePanel.BoundPanel):
            template = 'app/custom_inline_panel.html'

[2022-10-19 01:13] campenr commented on #9421
Yep that did the trick. Thanks for the fast response!

[2022-10-19 04:12] benitaanawonah commented on #9420
Alright, i am working on this

[2022-10-19 04:42] banjo-tech commented on #7115
Thank you so much @lb- I think I am done with the document now.
[internal link to another document](/reference/contrib/legacy_richtext) - I want to be sure if this is how I'd link the new document to the contributing  to wagtail page

[2022-10-19 05:11] lb- commented on #7115
@banjo-tech I reckon the next step now is to open a PR with your proposed new page.

[2022-10-19 05:13] lb- commented on #9420
@benitaanawonah please read the important note at the top of the description. We should wait a bit until the 4.1 code is confirmed to be ready for release. This way we can avoid any typos or docs issues from ending up in Dash incorrectly.

[2022-10-19 05:37] activus-d commented on #9420
Wagtail version 2.13

https://github.com/Kapeli/Dash-User-Contributions/pull/3932#event-7609509180

[2022-10-19 06:54] banjo-tech commented on #7115
@lb- I will like to open a pull request but I'm unable to link the new file to the index page.

[2022-10-19 07:01] lb- commented on #7115
Can you reach out on Slack in the Outreachy channel. We can help more there. Just explain what you're doing and the error you have encountered

[2022-10-19 07:03] banjo-tech commented on #7115
Okay thank you

[2022-10-19 08:01] activus-d commented on #9370
## Pull Request to Update Wagtail's Main Version on Dash & Zeal Docs to `Version 4.0`
https://github.com/Kapeli/Dash-User-Contributions/pull/3945

[2022-10-19 08:59] 4the4ryushin commented on #3589
may i work on this issue? it has been inactive for so long

[2022-10-19 09:08] lb- commented on #3589
Go for it @4the4ryushin - be sure you can reproduce and understand the problem. I'd recommend you find where to write a unit test for this and start with writing a test that fails. Then change the code to get the test passing.

[2022-10-19 09:39] activus-d opened #9425 "Grammatical adjustments for advanced topic `Documents`"
## Issue Summary
Grammatical adjustments are needed in the advanced topic [Documents](https://github.com/wagtail/wagtail/tree/main/docs/advanced_topics/documents) for better readability

[2022-10-19 09:52] activus-d commented on #9407
@adetyaz you can read through the documentation there are so many issues to be resolved. If you need additional help getting started, you can message me via the wagtail official slack channel.

[2022-10-19 10:07] Dev-Yusuf opened #9427 "UI need adjustments"
From the wagtail features section, when the page is viewed on mobile or with smaller screen size, the texts overflows it box
![Screenshot_2022-10-17-18-04-02-674_com android chrome](https://user-images.githubusercontent.com/104570312/196662110-35b2732e-93cc-409d-92f5-51035d698619.jpg)
![Screenshot_2022-10-17-18-03-58-005_com android chrome](https://user-images.githubusercontent.com/104570312/19666

[2022-10-19 10:16] Dev-Yusuf commented on #9427
The border can made lesser that what it is now

[2022-10-19 10:29] adetyaz commented on #9407
Thanks alot, I'll do that

[2022-10-19 11:01] gasman commented on #9364
Fixed in Django.

[2022-10-19 11:01] #9364 closed

[2022-10-19 11:17] 4the4ryushin commented on #9350
i have a pr ready for this ? can i make the request?

[2022-10-19 11:23] 4the4ryushin commented on #9350
use of inline would be better approach

[2022-10-19 12:32] Lovelyfin00 opened #9428 "Wagtail icon on login page doesn't show well on windows high contrast forced mode dark"
### Issue Summary

Wagtail svg icon on the login page doesn't show well on high contrast mode but it's alright on light mode and without forced mode

### Steps to Reproduce

1. Open wagtail bakery demo
2. Access the admin login page
3.  Switch to css forced mode dark

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

The svg ico

[2022-10-19 12:48] 4the4ryushin commented on #9350
ohh , sure i would recommend you to use inline there

[2022-10-19 12:49] Buraah commented on #9412
Both changes have been made

On Tue, Oct 18, 2022 at 11:37 PM LB (Ben Johnston) ***@***.***>
wrote:

[2022-10-19 12:59] 4the4ryushin commented on #8891
i guess upload successful is appropriate here as the message is only concerned with the upload, moreover
wouldn't it be weird to see a message constantly reminding you to fill the other sections when you deliberately choose to upload the image first then fill the other fields ?

[2022-10-19 14:56] tbrlpld commented on #8636
I just ran into this issue too. It looks like I had a bad record in the database. I guess that record was created after the migration ran to convert the table to JSON but before I had updated the `process_form_submission` to not use `json.dumps` anymore.

Here you can see the bad record in the database with id 4.

[code]

[2022-10-19 16:16] jadesola123 commented on #4450
Thank you so so much @lb- I appreciate the feedback

[2022-10-19 17:24] Lovelyfin00 commented on #7511
Hi @thibaudcolas
Has this been fixed?

[2022-10-19 18:04] Buraah commented on #9412
@lb- I have made the changes
And it's waiting for your review

[2022-10-19 20:26] thibaudcolas commented on #9318
@Seremba autofocus wouldn’t be appropriate for this, as we can’t expect people arriving on this page to necessarily want to interact with that specific field. It’d be confusing for keyboard users if they are taken straight to one specific field like this.

[2022-10-19 20:29] xomcodes commented on #9387
Okay. Thanks for the feedback.

[2022-10-19 20:35] #9349 closed

[2022-10-19 21:09] Seremba commented on #9318
Oh! I had not given that a thought. It makes sense!

[2022-10-19 21:12] Seremba commented on #9318
@thibaudcolas I sent a message on slack, you must have been busy though. Kindly if you get time check your slack inbox

[2022-10-19 21:18] zerolab commented on #4973
@DanielSwain could you give #9255 a try? that is the latest and most up-to-date work on this.

[2022-10-19 22:07] lb- commented on #9428
@Lovelyfin00  what are you you thinking for this solution?

Ideally we should avoid adding two variants of the image, maybe css filter invert could be useful here ? https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/invert

[2022-10-19 23:46] tomkins opened #9434 "DocumentChooserBlock fails to save - extract_references problem"
### Issue Summary

Saving any page with a DocumentChooserBlock results in a 500 error:

[code]

Also running `./manage.py rebuild_references_index` on an existing site fails in the same way.

### Steps to Reproduce

[code]

Then:
- Go to: http://127.0.0.1:8000/admin/pages/3/edit/
- Edit the document block (upload one first)
- Save/publish the page
- See a 500 error

### Technical details

-   Pyth

[2022-10-19 23:57] Dev-Liz commented on #9031
Hello @thibaudcolas is this still open to a PR please??

[2022-10-19 23:58] Dev-Liz commented on #9031
I'd love to work on it

[2022-10-20 00:08] Dev-Liz commented on #8125
Hello @thibaudcolas I'd love to work on this if it's still up for grabs.

[2022-10-20 00:18] Dev-Liz commented on #9420
I'm interested in this too @lb-

[2022-10-20 02:49] Theresa-o commented on #9318
@thibaudcolas, should I go ahead implementing this.

[2022-10-20 05:39] thibaudcolas commented on #9218
Thank you both for investigating this! I can also reproduce this in Wagtail v4.0.4, but it seems to have been fixed in [just freshly released](https://github.com/wagtail/wagtail/discussions/9410) v4.1rc1, most likely in #9090 by @stevedya.

I’ll close this now – if you can still reproduce in v4.1 once you’ve had a chance to try please re-open.

[2022-10-20 05:39] #9218 closed

[2022-10-20 05:50] thibaudcolas commented on #7511
@Lovelyfin00 there is still work needed – the third point from the original solution described by Scott. We need to:

- [ ] Serve the existing icons folder as static files (https://github.com/wagtail/wagtail/tree/main/wagtail/admin/templates/wagtailadmin/icons)
- [ ] Update the path at https://github.com/wagtail/wagtail/blob/main/client/scss/settings/_variables.scss#L9 so we now load the icons fro

[2022-10-20 06:13] thibaudcolas commented on #9400
@activus-d if all you’re changing is grammar then there is no need to open a new issue. Grammar problems are apparent from the pull request alone.

[2022-10-20 06:13] #9400 closed

[2022-10-20 06:26] thibaudcolas commented on #9425
@activus-d sorry I have to reverse course a bit on this – As I’m sure you can realise, there isn’t that much value in opening an issue for grammar changes. If you open an issue, then it needs to stand out on its own for us to understand what the problem is and discuss a solution. Creating an issue without describing either of those is pointless.

[2022-10-20 06:26] #9425 closed

[2022-10-20 06:26] thibaudcolas commented on #9407
@activus-d sorry I have to reverse course a bit on this – As I’m sure you can realise, there isn’t that much value in opening an issue for grammar changes. If you open an issue, then it needs to stand out on its own for us to understand what the problem is and discuss a solution. Creating an issue without describing either of those is pointless.

[2022-10-20 06:26] #9407 closed

[2022-10-20 06:26] #9404 closed

[2022-10-20 06:26] thibaudcolas commented on #9398
@activus-d sorry I have to reverse course a bit on this – As I’m sure you can realise, there isn’t that much value in opening an issue for grammar changes. If you open an issue, then it needs to stand out on its own for us to understand what the problem is and discuss a solution. Creating an issue without describing either of those is pointless.

[2022-10-20 06:26] #9398 closed

[2022-10-20 06:26] thibaudcolas commented on #9402
@activus-d sorry I have to reverse course a bit on this – As I’m sure you can realise, there isn’t that much value in opening an issue for grammar changes. If you open an issue, then it needs to stand out on its own for us to understand what the problem is and discuss a solution. Creating an issue without describing either of those is pointless.

[2022-10-20 06:26] #9402 closed

[2022-10-20 06:26] thibaudcolas commented on #9404
@activus-d sorry I have to reverse course a bit on this – As I’m sure you can realise, there isn’t that much value in opening an issue for grammar changes. If you open an issue, then it needs to stand out on its own for us to understand what the problem is and discuss a solution. Creating an issue without describing either of those is pointless.

[2022-10-20 06:26] thibaudcolas commented on #9407
@activus-d sorry I have to reverse course a bit on this – As I’m sure you can realise, there isn’t that much value in opening an issue for grammar changes. If you open an issue, then it needs to stand out on its own for us to understand what the problem is and discuss a solution. Creating an issue without describing either of those is pointless.

[2022-10-20 07:27] onno-timmerman commented on #9318
Looks perfect for me! :)

[2022-10-20 07:32] activus-d commented on #9398
@thibaudcolas Well understood. I would take note of that subsequently.

[2022-10-20 08:45] Jordan-Rob commented on #9289
Hi @gasman would you mind providing more context on this? I would like to work on it

[2022-10-20 08:45] Jordan-Rob commented on #9289
claim

[2022-10-20 09:11] KaluBuikem commented on #8037
# Return Button for redirect Pages

A use case of where a return button would be needed. After the upload of an image, there is no way of going to the previous page without clicking on the images tab

![Screenshot of the Use case of this ticket on the images pagel](https://user-images.githubusercontent.com/67438668/196906773-8568087e-78a5-4776-b665-1843e4fd70de.png)

[2022-10-20 10:50] vicky1312 commented on #6107
@thibaudcolas I would love to take this, but I need clarification on it. I saw some solutions online, and I want to confirm from you first before taking this up.

For svg icon files with comments, am I to add these lines of code?
<xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
xmlns:System="clr-namespace:System;assembly=mscorlib"/> in the tag? or is there another solution that would be muc

[2022-10-20 10:58] gasman commented on #9289
@Jordan-Rob This probably isn't a good first issue for someone new to Wagtail - it needs quite deep knowledge of Wagtail's architecture.

[2022-10-20 12:38] thenewguy commented on #3066
@zerolab @gasman This is the issue/solution I was referring to. Do you like it?

[2022-10-20 12:41] lb- opened #9440 "Authentication (log in / password reset) fields are not full width"
### Issue Summary

The log in / auth pages have got an alignment issue with the fields - they are no longer taking up the full container width.

<img width="1740" alt="Screen Shot 2022-10-20 at 10 34 20 pm" src="https://user-images.githubusercontent.com/1396140/196950284-8748f322-fb03-48bb-8378-be9d95337bf6.png">

### Steps to Reproduce

1. Go to the log in page or password reset page
2. Expected:

[2022-10-20 12:43] xomcodes commented on #9440
@lb i would love to work on this

[2022-10-20 12:45] lb- commented on #9440
Go for it. Please can you try to reproduce the issue first and add a screenshot/ comment - then we can remove the unconfirmed label.

[2022-10-20 12:46] xomcodes commented on #9440
Okay. I would do that. Thank you.

[2022-10-20 13:01] #9350 closed

[2022-10-20 13:25] gasman commented on #7511
@thibaudcolas I don't think we can safely circumvent the requirement for static files to live in the `static` subfolder of an app. Storing these icons as templates has always felt like a bit of a hack to me - if I remember right, all we're really doing within the templating engine is repurposing `{% include %}` as a way of concatenating text files together, and we'd probably be better off doing th

[2022-10-20 13:41] zerolab commented on #7511
fwiw, we use `register_icons` in several places outside of the admin (such as https://github.com/allcaps/wagtail-font-awesome-svg, wagtail-localize, and a number of projects that relied on wagtailfontawesome) and it is "documented" in #6028 and it was something we've pointed at. On that basis, it would be great to keep breaking changes at a minimum if possible.

Will have a think tomorrow/over the

[2022-10-20 13:50] Theresa-o commented on #9318
@onno-timmerman Awesome to know

@thibaudcolas Should I go ahead updating?

[2022-10-20 14:01] allcaps commented on #9418
@Sophyia7 That is great! This is exactly why we switched to a Wagtail site. Give new contributors the option to contribute! 🥳

As this is new to us all, and the project is active development, I'm not confident to tell you how to proceed.

Could you join [Slack](https://wagtail.org/slack) `#editor-guide` channel? Join us for a chat?

[2022-10-20 14:21] Sophyia7 commented on #9418
Alright, I have joined the channel.

[2022-10-20 15:08] FatumaA commented on #9406
@thibaudcolas I'd like to attempt this. (Outreachy participant)

[2022-10-20 15:09] thibaudcolas commented on #6107
@vicky1312 for this task I don’t think we need to make any changes to the SVG files. The comments are already in there, see for example [ellipsis-v.svg](https://github.com/wagtail/wagtail/blob/main/wagtail/admin/templates/wagtailadmin/icons/ellipsis-v.svg). The only changes needed should be in the Python code, so we remove those existing comments.

[2022-10-20 17:51] noro1995 opened #9444 "Hi @Warqus - thanks for the report. Just to confirm - have you been able to replicate this as described on a fresh Wagtail project?"
hello, I can’t solve this problem, I want to run this command, there is such an error

python manage.py loaddata --settings definme.settings.dev django-dump.json

wagtail.models.i18n.Locale.DoesNotExist: Problem installing fixture '/Users/noro/Documents/Ongrid/definme/definme/django-dump.json': Locale matching query does not exist.

[2022-10-20 18:35] 4the4ryushin commented on #3589
should i write the tests in wagtail\tests\test_signals.py ?

[2022-10-20 18:49] gasman commented on #9444
Hi @noro1995 - please use the [Wagtail tag on Stack Overflow](https://stackoverflow.com/questions/tagged/wagtail) for support queries, or see [the Support page in the documentation](https://docs.wagtail.io/en/stable/support.html) for other options.

[2022-10-20 18:49] #9444 closed

[2022-10-20 19:22] noro1995 commented on #9444
Thanks for the answer

[2022-10-20 20:17] lb- commented on #3589
Similar - except this is an images application so it needs to go in https://github.com/wagtail/wagtail/blob/main/wagtail/images/tests/test_signal_handlers.py

[2022-10-20 21:08] thibaudcolas opened #9446 "Comments notice background overflows its container"
This is tagged as a [**good first issue**](https://github.com/wagtail/wagtail/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22) – if you want to take it on, please leave a comment below to say so, no need to ask for permission, first come first serve! State your intent and share any questions / plans you have on how to approach the task.

### Issue Summary

Our comm

[2022-10-20 21:08] thibaudcolas commented on #9446
Assigning this one to **Yeka Asumah**.

[2022-10-20 21:53] thibaudcolas commented on #9318
@Theresa-o No. As stated above this really doesn’t need a new implementation at this stage, but consensus that there is a problem. I feel like I’m just repeating myself now but it’s very much intentional for there _not_ to be a border!

I’ll check with our designer as well, personally I’m not convinced it makes sense for us to change this – if there’s a confusion it’d only be the first time people

[2022-10-20 22:35] #9078 closed

[2022-10-21 03:59] Theresa-o commented on #9318
@thibaudcolas Got it

[2022-10-21 04:57] 4the4ryushin commented on #3589
opps yea that's what i meant , my bad

[2022-10-21 05:24] Seremba commented on #9363
Hi, @thibaudcolas I read somewhere that Mary had taken on another issue instead of this one! Can I go with it?

[2022-10-21 05:37] lb- commented on #9370
https://github.com/wagtail/wagtail/pull/9447

[2022-10-21 09:12] thibaudcolas commented on #7511
We moved that concatenation to happen in Python already, I believe as part of Scott’s #8222: https://github.com/wagtail/wagtail/blob/0b4302afe9c1d4e23f84bf886ac5ff5c592d3928/wagtail/admin/views/home.py#L331-L341

Really all we’re using the template system for at the moment is the `render_to_string` convenience method to load the files’ contents.

I’ve not worked with Django’s static files APIs asi

[2022-10-21 09:26] 4the4ryushin commented on #3589
do i need to write the test that uses fixture ? because that's what raw == true means

[2022-10-21 13:16] th3hamm0r opened #9452 "Scheduled publishing overlay only opens on settings tab with custom settings_panels (4.1rc1)"
### Issue Summary

In the (new) default wagtail setup the settings tab is not visible, but the `settings_panels` are still used for the `CommentPanel` and the `PublishingPanel`.
If you add custom panels to the `settings_panels`, which is a very common thing, the settings tab gets visible, but then, the schedule overlay (when clicking on "Set schedule" in the sidebar) only gets visible, when you na

[2022-10-21 13:33] Dev-Yusuf commented on #9366
I will be great if you assign me to this @lb-

[2022-10-21 13:58] #9434 closed

[2022-10-21 15:06] Scotchester commented on #7511
Wow! Another fancy SVG technique that has apparently worked forever that I was totally unaware of 😆 That looks very promising!

[2022-10-21 15:28] 4the4ryushin commented on #3589
are there any predefined fixtures  in the code base for tests that i can use?

[2022-10-21 15:43] Seremba commented on #9363
Oh sorry! Thanks a lot @Scotchester

[2022-10-21 17:50] cnk opened #9453 "Stackoverflow post claiming our register_account_settings_panel docs are wrong"
In this [stackoverflow post](https://stackoverflow.com/a/74157215/52325), the user reports that putting [this example code](https://docs.wagtail.org/en/latest/extending/custom_account_settings.html) in `hooks.py` does not work but moving it to `wagtail_hooks.py` makes it work.

Can someone please verify that the code only works if placed in wagtail_hooks.py? If that is correct, please submit a PR

[2022-10-21 18:10] RealOrangeOne commented on #9453
`wagtail_hooks.py` is definitely the correct name: https://github.com/wagtail/wagtail/blob/b356fe683f49c37b9ba8838747602a5c5ecc892b/wagtail/hooks.py#L106

[2022-10-21 20:27] xomcodes commented on #9440
@lb I have confirmed the issue. The fields(username/password) are not taking  up the full width of the container just like that of the sign in button.

![issh authentication](https://user-images.githubusercontent.com/82041329/197282517-73ac536e-55a3-4411-a03f-026dc89df2f4.jpg)

[2022-10-21 22:06] lb- commented on #3589
@4the4ryushin I encourage you to look through the code yourself and try to find either a. Fixtures that have images or b. Similar test code where we are testing code that has logic based in raw.

[2022-10-21 22:26] lb- commented on #9366
@Dev-Yusuf we don't really assign issues outside of the core team.

I encourage you to first try to reproduce the problem and confirm it exists, from here maybe have a look at the code and see if you think you know what the issue could be.

After that you may be able to a PR to fix it, if so, just add a comment that you're working on a fix.

Also, I am not sure if this can even be fixed in Wagtail

[2022-10-21 22:43] fyunusa commented on #9446
Hi @thibaudcolas i'll like to take up on this

[2022-10-21 22:43] fyunusa commented on #9446
Proposing a fix for it, will send in a PR soon

[2022-10-21 23:03] fyunusa commented on #9446
I could confirm the issue persist from my end too.
<img width="352" alt="Screenshot 2022-10-22 at 12 02 02 AM" src="https://user-images.githubusercontent.com/55334829/197303171-66646c98-b266-452e-aaf5-be8d27a87eb9.png">

Will send in a fix soon

[2022-10-22 02:15] fyunusa commented on #9446
I think border-inline-start and border-inline-end radius declarations won't work as they'll only add borders to the left and right sides and will thicken the border around
<img width="358" alt="Screenshot 2022-10-22 at 1 35 12 AM" src="https://user-images.githubusercontent.com/55334829/197314215-6a5b964a-a918-4fd1-96d1-758e7f37cf06.png">

So the fix to it which i propose and happens to work is the

[2022-10-22 03:51] MaryAyobami commented on #9453
@cnk  I'd love to work on this

[2022-10-22 03:59] 4the4ryushin commented on #3589
Got it that's what I was thinking just wanted to confirm that it's the right way or not

[2022-10-22 04:11] dkirkham opened #9459 "Potential data loss when upgrading sub-classes of BaseLogEntry (Wagtail 2.16 -> Wagtail 3.0)"
### BaseLogEntry
https://docs.wagtail.org/en/stable/reference/pages/model_reference.html#baselogentry

### Wagtail 3.0 Upgrade Considerations - Replaced data_json TextField with data JSONField in BaseLogEntry
https://docs.wagtail.org/en/stable/releases/3.0.html#replaced-data-json-textfield-with-data-jsonfield-in-baselogentry

### Details
These entries document that these fields have changed from `

[2022-10-22 04:35] MaryAyobami commented on #9370
### Published Wagtail's doc v2.14 - v4.0 on the dash user contributions
https://github.com/wagtail/wagtail/pull/9460

[2022-10-22 08:17] Yekasumah commented on #9446
Thank you, I'm working on it now

[2022-10-22 11:00] Dev-Liz commented on #9459
I'd love to work on this

[2022-10-22 11:11] Dev-Liz commented on #9459
@thibaudcolas any comment on this before I proceed, please??

[2022-10-22 11:40] lb- commented on #9420
@Dev-Liz  - only one person will need to do this change on the external repo, thanks though.

[2022-10-22 11:47] #9370 closed

[2022-10-22 13:01] PreciousArinda commented on #9453
@cnk I've fixed it in #9462.

[2022-10-22 14:38] Lovelyfin00 commented on #9428
Hi @lb-
The filter method worked. I specified that on prefered-colors dark that the image filter should be inverted at 100% and it works fine. I'll created a PR now for this with the necessary screenshots

[2022-10-22 17:57] Dev-Liz commented on #9420
Oh, alright @lb-. Is there anyone I could work on please?? Looks like every issue has been taken.

[2022-10-22 18:34] Seremba commented on #9198
Hi @lb-, I have finished working on this issue. I am kindly asking for your review and suggestions on how to improve.

Thanks  a lot

[2022-10-22 18:47] Lovelyfin00 commented on #7511
@thibaudcolas
I guess this issue still needs a lot of decisions to be made on how to solve it☺☺

[2022-10-22 19:08] Lovelyfin00 commented on #8947
Hi @thibaudcolas
Is this issue still open?

[2022-10-22 20:10] xomcodes commented on #9440
Fixed in  #9465

[2022-10-22 21:22] lb- commented on #8947
Go for it @Lovelyfin00 - this is still open. Try to address a few small ones in one PR before you tackle them all.

A good place to start is just the removal of unused ones. Be sure you check the code yourself, and also search for partial matches in the code.

[2022-10-22 21:44] jadesola123 commented on #5715
Hello @yhoiseth  and @gasman , I am an Outreachy applicant interested in the Wagtail documentation project and would love to fix this issue.

I opened a PR with my proposed solution. I am open to any feedback and learning always😊

[2022-10-22 21:51] lb- commented on #8731
@nutjob4life maybe you could give a go at contributing towards this PR.

There are a bunch of legacy ignore rules we are hoping to either ignore formally or remove the ignoring and fix the issue.

One candidate for fixes is `  'no-prototype-builtins': 'off',`.
https://github.com/wagtail/wagtail/blob/44575387c75c31a6b2113330aba8b55eb51bcbc7/.eslintrc.js#L13

See how you go removing that ignore rule

[2022-10-22 21:54] lb- commented on #8731
@activus-d as per above comment. Maybe you would be interested in tackling the removal of the ignoring of a different rule.

`  'no-plusplus': 'off',`
https://github.com/wagtail/wagtail/blob/44575387c75c31a6b2113330aba8b55eb51bcbc7/.eslintrc.js#L10

Note that we have a `range` until that may help for most cases where we are using `++`

[2022-10-22 21:57] lb- commented on #5715
@jadesola123 - we probably should move this to the new Wagtail guide repo.

The content will now live in a new site.

See
https://github.com/wagtail/guide/discussions/116
https://github.com/wagtail/guide/discussions/105

[2022-10-22 22:42] lb- commented on #9453
@PreciousArinda thanks for the PR, it solvea the problem, but please ensure you read comments before picking things up though.

@MaryAyobami had already commented about 9 hours before you.

All good for now but let's try to respect other users who may have already started working on something.

[2022-10-22 23:35] activus-d commented on #8731
@lb- thank you. I will work on this.

[2022-10-23 03:40] PreciousArinda commented on #9453
@MaryAyobami @lb- I acknowledge my mistake and regret any inconvenience caused. I commit to do better next time.

[2022-10-23 04:51] Lovelyfin00 commented on #8731
@lb
I would to have a go at this😊

[2022-10-23 05:00] lb- commented on #8731
@Lovelyfin00 sorry but I don't think there will be much more to do, based on my investigation I think the other rules will simply be ignored globally instead of kept as rules but code fixed up.

[2022-10-23 05:08] Lovelyfin00 commented on #8731
I thought you meant I should take a look at this from slack☺

[2022-10-23 05:12] Lovelyfin00 commented on #8731
@lb
My slack name is @Nutjob
Told you I had many usernames😂😂

[2022-10-23 05:13] dkirkham opened #9467 "HelpPanels not Collapsible"
### Help Panels are not collapsible, doco says "all panels" are.

[HelpPanels](https://docs.wagtail.org/en/stable/reference/pages/panels.html#helppanel) are not collapsible, despite the [doco](https://docs.wagtail.org/en/stable/reference/pages/panels.html#collapsible) saying that "All panels are now collapsible by default.".

This is somewhere between a bug and a feature request; filed as a bug si

[2022-10-23 05:16] lb- commented on #8731
@Lovelyfin00 my apologies - yes. I meant to tag you.

@nutjob4life - please ignore this sorry.

[2022-10-23 05:58] mohammadareeb95 commented on #9467
I'd like to work on this

[2022-10-23 06:03] dkirkham commented on #9467
Hi @mohammadareeb95, it might be worth seeing if you can replicate the issue. But I'd wait for someone from the Wagtail core team to decide if a design decision is required or not.

[2022-10-23 06:12] mohammadareeb95 commented on #9467
@dkirkham okay, that makes sense!

[2022-10-23 07:04] Theresa-o opened #9468 "Add question mark to boolean field -Is default site"
### Issue Summary
While adding/editing pages, there is an option to make a page the default/home page. This is a boolean question however there is no question mark to indicate this.

### Steps to Reproduce

1. Go to 'admin' site
2. Click on pages
3. Click on add/edit pages, you would see a boolean value 'Is default site'

While this may seem as an easy know-how for mid to experienced developers/us

[2022-10-23 07:04] Theresa-o commented on #9468
@lb- please confirm if I can merge this

[2022-10-23 08:27] lb- commented on #9468
@Theresa-o not sure to to be honest, this is the field label and not really a sentence. We don't make the page title field say 'what is the page title'.

If anything, maybe the label could be just 'default site' without the 'is'.

I'll flag this as an enhancement not a bug and that this needs a second or third opinion from the core team.

Thanks for checking.

[2022-10-23 08:28] lb- commented on #9468
We also have a very clear help text under the field.

[2022-10-23 08:28] lb- commented on #9468
Thoughts @thibaudcolas

[2022-10-23 08:30] Theresa-o commented on #9468
@lb- Ok, I understand, I await feedback.

I did not see an option for enhancement, that's why I created it as a bug

[2022-10-23 11:54] Yekasumah commented on #9446
@thibaudcolas I have been able to find a solution to it. I added border-bottom-radius-left & right of 5px to line 57 and it worked. As you can see in the representation below. I'll be sending in a pull request soon. Thank you.

-Replicated the issue here
<img width="838" alt="Screenshot 2022-10-23 at 12 42 01" src="https://user-images.githubusercontent.com/105293813/197390617-51e435c3-332d-4a49-8f

[2022-10-23 12:13] fyunusa commented on #9446
Hi @Yekasumah I think i'll just drop off my pull request here.

You should locate the https://github.com/wagtail/wagtail/blob/df0b36fdb7871b9e32cebdbd8be3f82022139c7c/client/src/components/CommentApp/main.scss#L57 file on your local version of the wagtail and add the snippet below then make your pull rquest from there.

that's how i was able to solve the issue but i'll be dropping off my pull requ

[2022-10-23 13:11] dameeolawuyi commented on #6113
Hi. I would like to pick this up and work on it. Could you point me to resources that could help?

[2022-10-23 13:36] dameeolawuyi commented on #6593
@kaedroho  Can I work with you on this? you mentioned it could be quite complex and I figured I would need help.

[2022-10-23 13:41] dameeolawuyi commented on #4909
Hi all. I would like to write a documentation for Parental key if I could be pointed to the resources needed.

[2022-10-23 13:42] zerolab commented on #4909
`ParentalKey` is provided by https://github.com/wagtail/django-modelcluster
The package README has the explanation

[2022-10-23 14:33] nutjob4life commented on #8731
I was just studying up on eslint and was getting ready to dive in! 😝

Oh well, another time! 😁

[2022-10-23 17:12] #4909 closed

[2022-10-23 17:46] Yekasumah opened #9471 "Add More Padding to the Admin User and Header Text in Admin Dashboard"
This isn't necessarily a bug. I just think it would look better if there was a little more space right after the profile image section (header text - welcome to Wagtail CMS).

### Steps to Reproduce

1. Start a new project with `wagtail start my project'
2. Log in to Admin Dashboard

The problem;

<img width="317" alt="Screenshot 2022-10-23 at 18 35 55" src="https://user-images.githubusercontent.c

[2022-10-23 18:26] Yekasumah commented on #9452
Hi, I would like to work on this issue. Following the steps to reproduce as described.

[2022-10-23 18:57] GabrielBogo commented on #1824
Thanks, @gasman - that worked

[2022-10-23 19:10] lb- commented on #9471
Thanks @Yekasumah but there is already an issue raised for the same kind of header design refinements.

https://github.com/wagtail/wagtail/issues/9034

And a PR in progress.

https://github.com/wagtail/wagtail/pull/9188

[2022-10-23 19:10] #9471 closed

[2022-10-23 19:13] lb- commented on #9391
@MaryAyobami how are you going with this one? Have you been able to reproduce the problem?

I'm happy to help with this as it would be good to see if we can fix this in time for 4.1 - feel free to reach out on Slack also.

[2022-10-23 19:29] gasman commented on #9391
@lb- I don't think this would be a candidate for 4.1 - after feature freeze we only really want to apply bugfixes if they're regressions in that particular release (or serious enough that they'd be backported to other currently-supported releases).

[2022-10-23 20:19] Scotchester commented on #9446
@Yekasumah, thank you for opening the PR. Unfortunately, I believe Thibaud slightly misdiagnosed the issue. It's not that the border radius code is _missing_ – it is there, but not quite implemented correctly.

If you look below the code you changed, there is already this SCSS block, which seems intended to do what the original post of this issue suggested:

[code]

However, the selector seems mal

[2022-10-23 20:33] softkeldozy opened #9473 "Setup With Virtualenv for wagtail bakereydemo"
### Setup with Virtualenv

### Creating virtual environment with ***mkvirtualenv*** throws an error using the latest python version (maybe windows related)

(Documentation should be updated to use the venv approach which works well across all Operating System platforms.)

[2022-10-23 21:42] lb- commented on #9473
@softkeldozy I think you meant to raise this on the bakerydemo project. I'll move this issue there.

This relates to this section of the readme.
https://github.com/wagtail/bakerydemo#setup-with-virtualenv

[2022-10-24 04:22] garyd203 commented on #1824
Thanks @gasman

[2022-10-24 07:10] lb- commented on #9391
no problems, thanks Matt

[2022-10-24 08:17] Jordan-Rob commented on #9289
Alright thanks for the advice

[2022-10-24 08:30] thibaudcolas commented on #9467
Thank you for the report @dkirkham. HelpPanel doesn’t support collapsing, never has, the documentation should state "All panels that support collapsing are now collapsible by default." (or equivalent).

All of the panels that are collapsible by default require a heading so there is appropriate text to convey the location and nature of the panel when collapsed. How would you expect this to work for

[2022-10-24 08:44] kaedroho commented on #6593
Hey, I haven't worked on a `wagtail-modeltranslation` site before, but here is a guess.

The main difference between `wagtail-modeltranslation` and Wagtail's built-in i18n is that Wagtail will use separate pages for each translation in separate trees, rather than using additional fields on the same page.

So I think the first step would be to duplicate your pages for each language. Hopefully, if w

[2022-10-24 08:54] zerolab commented on #4909
Also, it looks like we have more docs about it - https://docs.wagtail.org/en/stable/topics/pages.html#inline-models

Thank you all

[2022-10-24 09:27] dkirkham commented on #9467
Hi @thibaudcolas, yes, I thought the subject of a suitable heading to collapse to would come up.

The use case I had was where there is a fairly extensive set of instructions at the top of the editor page - say 8+ lines - which contextualises all the fields in the page (or other model), particularly for new editors or as a quick reference for the more experienced editors. It would be nice (but cer

[2022-10-24 09:33] lb- commented on #9467
@dkirkham - what if you wrap your long help panel/s within a MultiFieldPanel? Pretty sure they can collapse.

[2022-10-24 09:45] dkirkham commented on #9467
Hmmm, good idea @lb-. The other option that occurred to me is to put the help panel onto a separate tab.

[2022-10-24 10:10] dkirkham commented on #9467
Confirming @lb- the `MultiFieldPanel` wrapping the `HelpPanel` works well to put the help at the top of the editor page:

[code]

<img width="455" alt="image" src="https://user-images.githubusercontent.com/1977376/197502621-43a89b28-0bd1-45f5-958c-0050a201628b.png">

[2022-10-24 10:19] thibaudcolas commented on #6150
I’m going to close this in favour of #1033. At this stage if we implemented drag-and-drop it would most likely be for all of StreamField, and most likely InlinePanel at the same time (everything that can be ordered).

[2022-10-24 10:19] #6150 closed

[2022-10-24 10:45] mohammadareeb95 commented on #9199
Some points about this issue:
### When on desktop, the `Save draft` button sticks to the screen. Meaning you can see it, without going to the very bottom
![image](https://user-images.githubusercontent.com/77102111/197508580-fac56a59-e0b4-457e-b713-b9413f091388.png)

### When on mobile device, one has to scroll the entire page to get to the `Save draft` button.
![image](https://user-images.githubus

[2022-10-24 10:50] mohammadareeb95 commented on #9199
Some questions:

- Do we need a sticky button to the interface in both views (desktop/mobile)?
- Should we just go around giving some breathing room for the `Save draft` button

[2022-10-24 12:28] th3hamm0r opened #9476 "Padding/Size issues with dropdown buttons with 4.1rc1"
### Issue Summary

I've first opened an issue for wagtailmedia https://github.com/torchbox/wagtailmedia/issues/183, but the dropdown-part is actually an issue within wagtail's core, because it can be "reproduced" in the styleguide app (https://docs.wagtail.org/en/stable/contributing/styleguide.html) and the site history for example:
![wagtail_dropdown_padding_size_issues](https://user-images.githu

[2022-10-24 12:33] Theresa-o commented on #9476
I would reproduce this from my end and provide feedback

[2022-10-24 13:18] konstin opened #9477 "Illegal mix of collations (utf8mb4_unicode_ci,IMPLICIT) and (utf8mb4_general_ci,IMPLICIT) in 0075_populate_latest_revision_and_revision_object_str"
### Issue Summary

When migrating a django project (on a fresh db) that uses mariadb:10 with  `--character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci`, the migration `0075_populate_latest_revision_and_revision_object_str` of wagtailcore fails with the following traceback. I unfortunately failed to find out which two were the offending fields. I also couldn't find any db settings to m

[2022-10-24 14:44] Theresa-o commented on #9476
@th3hamm0r please guide me on where I can find "Site report" via this screenshot as I have tried reproducing the error but would need further guidance to understand better

![cmssitereport](https://user-images.githubusercontent.com/62052443/197554404-a788f32f-7e36-422d-9cc5-0fa4f2af6552.PNG)

[2022-10-24 15:31] th3hamm0r commented on #9476
@Theresa-o sry, I've used the wrong title, I meant the "Site history" :sweat_smile:
(I've updated the steps in the description above)

[2022-10-24 15:37] Theresa-o commented on #9476
Thank you, it's ok :smiley:

I would reproduce this and provide feedback.

[2022-10-24 17:48] albinazs commented on #6281
I'm working on this one.

[2022-10-24 18:40] zerolab commented on #9476
Two things here:
1. white dropdown in the styleguide doesn't have the `match-width` class as the other dropdowns
2. the icon mismatch comes from `.dropdown ul .button { 0.95em }` which, by my guess, comes from the changes #9104, so it defaults to https://github.com/wagtail/wagtail/blob/main/client/scss/components/_dropdown.legacy.scss#L114

[2022-10-24 18:43] gutogalego commented on #9476
![Captura de tela_20221024_204012](https://user-images.githubusercontent.com/31139680/197601089-1fddb5a0-602e-4258-af4a-8361b213b44b.png)

can reproduced it here. However, mine in english seems to be different than yours in german(?). I'll take a look and see if I can fix it

[2022-10-24 21:13] Yekasumah commented on #9446
@Scotchester Thank you very much for the clarification. I will modify my PR and make the necessarily changes as suggested.

[2022-10-24 23:34] fyunusa commented on #9366
Hi @lb-  While comparing results on both the Chrome and Firefox browsers, I was able to establish that the problem still exists.
I'm not sure if @Dev-Yusuf  is still tackling the problem or if I may take over.

https://www.youtube.com/watch?v=mWpgbmxRZqg

[2022-10-24 23:57] Temidayo32 commented on #9012
Hi @hazho  I think your idea of a graphical diagrams for the StreamField class was a good one. I have tabled it before the documentation team for a thorough review to ensure it fits easily into the Wagtail documentation standards and laid down processes, but in order to avoid future documentation issues, it won't be incorporated at the moment.

The major push back was due to the maintenance burden

[2022-10-25 00:00] Temidayo32 commented on #9012
@hazho And for your information, we decide to touch up the StreamField documentation, with some **Colour highlighting, indentation, and inheritance** for the StreamField classes. Watch out for the next documentation release. Here is a pull request on this: https://github.com/wagtail/wagtail/pull/9451

Also, we also considered adding to the reference guide documentation on internal classes. Would t

[2022-10-25 04:08] Theresa-o commented on #9476
Hi @gutogalego I'm working on this.

I'm currently researching the best fix for this

![iconmismatch](https://user-images.githubusercontent.com/62052443/197680253-4bb59b99-a264-49b2-a878-d4ef1d7c1244.PNG)

[2022-10-25 04:35] aliceni81 commented on #9406
@FatumaA

class CustomDocument(AbstractDocument):
    record_date = models.DateField(default=datetime.date.today)

    admin_form_fields = Document.admin_form_fields + (
        'record_date',
    )

class HomePage(Page):
    body = RichTextField(blank=True)
    doc = models.ForeignKey(
        get_document_model_string(),
        on_delete=models.SET_NULL,
        blank=True, null=True
    )

[2022-10-25 04:45] xomcodes commented on #8834
@thibaudcolas @lb-
I've been able to reproduce this issue on my end.
In the info panel, its hard to tell the buttons displayed in 'link' styles are actually buttons in `forced-colors: active` mood  since the default high-contrast themes use the same color for ButtonText and CanvasText.

**High-contrast theme**
![c-normal](https://user-images.githubusercontent.com/82041329/197683905-28a53923-e592-4

[2022-10-25 07:27] th3hamm0r opened #9480 "Long text in select and radio button inputs breaks the UI"
### Issue Summary

Here the filter column of the "Site history":
![wagtail_dropdowns_with_long_content](https://user-images.githubusercontent.com/468164/197708370-13eb3eb6-6fd3-4cad-bc39-b9a22f3ba67c.png)

For that example, I've changed the admin's username to a long version.
Apart from this, the actions drop down is already too long, and in german for example, it overflows the window.

In wagtail

[2022-10-25 08:30] PreciousArinda commented on #9480
Hey @th3hamm0r can I work on this issue?

[2022-10-25 09:12] zerolab commented on #9480
setting `.filterable__filters select { max-width: 100%; }` seems to fix this,
but it begs the question whether we have this issue in other places.

[The place](https://github.com/wagtail/wagtail/blob/main/client/scss/components/_filters.scss#L16) is the place to add

[code]

[2022-10-25 09:35] th3hamm0r opened #9481 "Lock page button in the status side panel does not work on page listing"
### Issue Summary

The new status side panel (wagtail 3(?)/4) is also available on the page listing. Unfortunately the lock-button there does not work (change privacy works :heavy_check_mark: , the view-history-link works :heavy_check_mark: ), so clicking on it does nothing:
![wagtail_status_sidepanel_lock](https://user-images.githubusercontent.com/468164/197738214-081a0f7f-7cdd-4e9b-874d-5f924e18

[2022-10-25 09:47] xomcodes commented on #9481
@th3hamm0r can i work on this issue? I would reproduce and give you feedback.

[2022-10-25 09:49] robmoorman commented on #7497
Stumbled also upon this part. Would be great to have this.

[2022-10-25 10:16] zerolab commented on #9480
This makes sense to fix globally then, just need to go with a fine comb to check for regressions

[2022-10-25 11:28] lb- opened #9484 "Adopt shared generic base template for Settings edit & potentially index views"
### Is your proposal related to a problem?

* As part of https://github.com/wagtail/wagtail/issues/8365 new generic class based views were adopted for the contrib.Settings views in https://github.com/wagtail/wagtail/pull/9317
* It would also be good to adopt the related generic base template and any things that come with it, such as the page (header) title.

### Describe the solution you'd like

B

[2022-10-25 11:28] lb- commented on #9484
Flagging as a good first issue - it requires some basic Django template and class based view knowledge though (or a willingness to read into previous PRs that have done similar changes + the Django docs).

[2022-10-25 11:31] lb- commented on #9484
Potentially not needed - closing for now and we can re-open if this does not get resolved.

See comment https://github.com/wagtail/wagtail/pull/9317#issuecomment-1290395847

[2022-10-25 11:31] #9484 closed

[2022-10-25 11:40] #9453 closed

[2022-10-25 12:41] mohammadareeb95 commented on #9199
@lb- @thibaudcolas please let me know how move forward in this issue

[2022-10-25 12:56] JanMalte commented on #9199
I prefer the button at the bottom of the page on mobile screens, as the space is very limited and a sticky button reduces the available space even more.

On mobile screens some margin from the bottom would be great, from my point of view.

[2022-10-25 13:09] mohammadareeb95 commented on #9199
I agree

[2022-10-25 14:29] Scotchester commented on #9199
I agree with this, as well. Plus, it's "easier" on a touch device to quickly scroll to the bottom of the page.

I'm _still_ not sure what you originally meant, or what exactly this latest statement means, @JanMalte. Margin between the last field in the edit form and the save/publish button (as LB posited)? Margin between the save/publish button and the ultimate bottom of the page (and thus the bro

[2022-10-25 14:51] Scotchester commented on #9199
Thanks for clarifying!

Now I want to push a little further to make sure that is the right solution :)

You originally said that the save/publish button is "hard to reach". Can you explain why that is?

Could there be any alternate solutions? I notice that the button is pretty short in height, so perhaps just making it taller would improve the ability to hit it accurately?

[2022-10-25 14:54] JanMalte commented on #9199
If you make one fast swipe gesture to scroll to the bottom of the page, the iOS safari browser bumps back from the bottom a little bit. Not sure this is on all pages or just the wagtail admin due to some CSS of the page or button.
You have to scroll up little and slowly scroll down to get the button visible/reachable.

[2022-10-25 14:56] Scotchester commented on #9199
Ahah! So it **was** what I originally thought 😁

OK then, this needs a lot more testing and experimentation (with multiple browsers, not just Safari) to figure out the right approach to this.

@mohammadareeb95, do you have an iOS device, or a way to emulate it?

[2022-10-25 15:50] mohammadareeb95 commented on #9199
@Scotchester Yes, I do have an iphone but not a Macbook. (I use Linux instead)

[2022-10-25 16:01] Scotchester commented on #9199
Would you be able to use your iPhone to do some testing of the current behavior (particularly with regards to what happens to the button if you scroll very quickly to the bottom) on Safari, Chrome, and Firefox, and report back with your findings?

[2022-10-25 16:10] mohammadareeb95 commented on #9199
sure!

[2022-10-25 19:03] mohammadareeb95 commented on #9199
## Safari

https://user-images.githubusercontent.com/77102111/197854555-e1f1938f-da7f-4ca3-b1e3-7cf76d9ff539.mp4

## Chrome

https://user-images.githubusercontent.com/77102111/197859471-9892f803-ce95-4ea8-8eef-35c2d8031b8a.mp4

## Firefox

https://user-images.githubusercontent.com/77102111/197859574-d174eca7-a7ee-48a4-949b-405a22c101d3.mp4

- I can confirm that very quick scroll in Safari bumps ba

[2022-10-25 22:25] lb- commented on #7116
With https://github.com/wagtail/wagtail/pull/9431 coming in - we now have a bit of a starting point for where to add some documentation for translators.

I have added an item to the list.

Which I have split from https://github.com/wagtail/wagtail/issues/7115

[2022-10-25 22:27] lb- commented on #7115
@loicteixeira I will close this as fixed once https://github.com/wagtail/wagtail/pull/9431 is merged as I think it covers most of the original intent of this issue.

Some outstanding items though;

I have added this to the https://github.com/wagtail/wagtail/issues/7116 issue.

Not sure if we should split this to its own issue, I think it needs a bit of a discussion though, maybe it is best to be a

[2022-10-25 22:29] #7115 closed

[2022-10-26 00:13] thibaudcolas commented on #9030
Hi @ForJessicaSake, can you let us know where you got to with this? Please let us know if you have any questions.

[2022-10-26 03:37] banjo-tech commented on #7115
Hi @lb- Thank you for the review on the previous PR. I will like to work on the remaining part of this issue but I guess I will have to wait on a response from @loicteixeira or could I go ahead without creating an issue first?

[2022-10-26 04:15] Headon1729 commented on #9452
Hey @Yekasumah
Are you still working on this issue ?

[2022-10-26 04:18] Headon1729 commented on #9459
Hey @Dev-Liz
If you are working on this issue, I would love to work on it

[2022-10-26 04:31] Headon1729 commented on #9418
Hey @Sophyia7
Are you still working on this issue ?

[2022-10-26 05:29] loicteixeira commented on #7115
Thank you both for moving this along 🙏

Yeah, it makes sense to move it to the other issue. I'll also comment there though.

Sorry I haven't been more available, but don't let me block you.
That being said, I'm not sure what needs a new issue? @lb- added the remaining points of this issue to https://github.com/wagtail/wagtail/issues/7116, but if this is something else, please create an issue (or c

[2022-10-26 05:32] loicteixeira commented on #7116
Once #9377 is merge, the first point should be mostly taken care of.
Until then, I'd refrain from tackling the second point as this would probably create many conflicts.
The other points should be able to be worked on independently.

[2022-10-26 06:17] loicteixeira commented on #7116
Regarding each point:

1. Once #9377 is merged, it should be mostly taken care of.
2. Until #9377 is merged, I'd refrain from tackling this one, as this would probably create many conflicts.
3. It's a tough one, but no issue to go ahead.
4. Ditto
5. I'm not sure if this can be worked on just yet, as I believe we need to upgrade to the newer API version:
![image](https://user-images.githubuserconte

[2022-10-26 06:53] Sophyia7 commented on #9418
Yes.

[2022-10-26 07:21] lb- commented on #7115
Sounds good @loicteixeira  - yeah the 'glossary' thing is good but agree it needs to be translated, it may also provide a clear 'home' for naming conflicts like https://github.com/wagtail/wagtail/issues/9201

But there is also a balance between this and expecting translators to have some knowledge of how Wagtail works.

@banjo-tech based on this discussion so far, I do not think there is anything

[2022-10-26 07:30] banjo-tech commented on #7115
Thank you @lb- and @loicteixeira I will read through #7116 and see if the issue is something I can work on

[2022-10-26 08:04] banjo-tech commented on #7116
@lb- I will get started with this and see what I can come up with by the end of today

[2022-10-26 08:58] mohammadareeb95 commented on #7646
@Scotchester I would like on work on some General UI fixes

[2022-10-26 09:00] lb- commented on #7646
@mohammadareeb95 I encourage to to read through the whole issue, all comments and all related PRs - see what gaps there are and maybe suggest something specific you can reproduce and give a go at fixing.

[2022-10-26 09:34] PreciousArinda commented on #7366
Hello @thibaudcolas  I'm seeing this issue is to be re-tested.
I believe I can contribute to this issue.
Can I take it on?

[2022-10-26 10:17] lb- commented on #8834
@xomcodes  I think this is the file with the HTML for all of those buttons

wagtail/admin/templates/wagtailadmin/shared/side_panels/includes/status/workflow.html (one for the workflow)

Then see this folder https://github.com/wagtail/wagtail/tree/main/wagtail/admin/templates/wagtailadmin/shared/side_panels/includes

Each action item that has a link uses this shared template

https://github.com/wag

[2022-10-26 10:46] lb- opened #9492 "Pull out `escapeHtml` from core.js into utils/text.ts"
### Is your proposal related to a problem?

**`escapeHtml` should move from `core.js` to `utils/text.ts`**

Wagtail's JavaScript `core.js` is quite large and many items can be pulled out to shared utils or includes to help make the code more maintainable and supported with base unit tests.

Pulling some basic utils out lets us put these into TypeScript (type safety) but also document and unit test

[2022-10-26 10:47] lb- opened #9493 "🎛️ Migrate `addMessage` from core.js to a Stimulus Controller `w-messages`"
### Is your proposal related to a problem?

There is an ad-hoc JS implementation to dynamically add messages to a specific part of the UI (top page messages), this would be best done via a Stimulus controller and a more formal API.

The existing implementation of `addMessage`is in...
https://github.com/wagtail/wagtail/blob/aaea8710c21ba4d5368d3825781bc54e1869c561/client/src/entrypoints/admin/core.

[2022-10-26 10:48] IvyJeptoo commented on #9492
i claim this issue

[2022-10-26 10:48] lb- opened #9494 "Pull out `initButtonSelects` from core.js into includes/initButtonSelects.ts"
### Is your proposal related to a problem?

**`initButtonSelects` should move from `core.js` to a new file `client/src/includes/initButtonSelects.ts`**

Wagtail's JavaScript `core.js` is quite large and many items can be pulled out to shared utils or includes to help make the code more maintainable and supported with base unit tests.

Pulling some basic functions out lets us put these into TypeScr

[2022-10-26 10:49] lb- commented on #9494
@Lovelyfin00 - if you want - feel free to claim this one as per Slack chat.

[2022-10-26 10:50] lb- opened #9495 "Add basic unit tests & JSDOC for `initDismissibles.ts`"
### Is your proposal related to a problem?

**`initDismissibles` was added in https://github.com/wagtail/wagtail/pull/9344 but no JS unit tests were included**

So that we can have a basic confidence that code changes will not lead to widget regressions, and in prep for some widgets migrating to Stimulus it would be good to have a basic test coverage of this new component.

It would be good to als

[2022-10-26 10:51] IvyJeptoo commented on #9493
working on it.

[2022-10-26 10:53] Jordan-Rob commented on #9492
Let me get started on this

[2022-10-26 10:57] Yekasumah commented on #9495
Thank you, I'll work on it.

[2022-10-26 11:01] Dev-Liz commented on #9459
Hello @Headon1729, I think I need more explanations to get started with it.
Please go ahead and fix it if you understand it better. :)

[2022-10-26 11:57] Lovelyfin00 commented on #9494
Awesome thanks😁😁
I'm on it

[2022-10-26 12:27] lb- opened #9496 "Pull out `initTagField` from core.js into includes/initTagField.ts"
### Is your proposal related to a problem?

**`initTagField` should move from `core.js` to a new file `client/src/includes/initTagField.ts`**

Wagtail's JavaScript `core.js` is quite large and many items can be pulled out to shared utils or includes to help make the code more maintainable and supported with base unit tests.

Pulling some basic functions out lets us put these into TypeScript (type

[2022-10-26 12:30] xomcodes commented on #9496
Thank you @lb-
I would work on this.

[2022-10-26 12:33] gasman opened #9497 "Incorrect pluralisation for "{num} errors" in minimap"
### Issue Summary

The `aria-label` attribute on the "number of errors" badge always uses "{num} errors" as the format string, without considering the correct pluralisation on the word "errors":

https://github.com/wagtail/wagtail/blob/aaea8710c21ba4d5368d3825781bc54e1869c561/client/src/components/Minimap/MinimapItem.tsx#L38

This means that it shows "1 errors" instead of "1 error", and languages

[2022-10-26 14:18] maartenkling opened #9498 "Breadcrumbs visibility in wagtail 4.x+"
### Is your proposal related to a problem?

The current wagtail 4.x interface is collapsing breadcrumbs on desktop. This is annoying and unwanted for users.

### Describe the solution you'd like

Create a setting to turn this off.

### Describe alternatives you've considered

The header is hard to customise.

### Additional context

(Write your answer here.)

[2022-10-26 14:21] maartenkling opened #9499 "Show "Add child page" in slim header rather than inside "…" three dots menu"
### Is your proposal related to a problem?

User interface is hard for users not using wagtail everyday. There task is to add a new page and this is hidden under de ... menu next to the breadcrumbs.

![image](https://user-images.githubusercontent.com/946684/198051716-a905d158-f4a1-47cf-9042-63dd3c25a67f.png)

### Describe the solution you'd like

Show a + directly.

![image](https://user-images.gi

[2022-10-26 15:18] Buduzz commented on #9497
hi @gasman, I would to pickup this issue. ok?
I am an outreachy intern

[2022-10-26 15:21] Theresa-o commented on #9476
@zerolab Thank you for the feedback and the information shared.

Learnt a lot, a PR has been raised for this.

[2022-10-26 15:28] rgs258 opened #9501 "BooleanBlock Horizontal Layout"
### Is your proposal related to a problem?

`BooleanBlock`s, renders in the editor as one per line Title, Checkbox, Help text. For one `BooleanBlock` this is a minor nuisance in the UI, but for several `BooleanBlock`s in a row, this becomes a bit cumbersome.

### Describe the solution you'd like

Instead, I'd like for the `BooleanBlock` checkboxes to render more like the checkboxes in a `FieldPane

[2022-10-26 17:24] rgs258 commented on #6987
hmmmm. I seem to be up against this too. What's really weird is that I already had code for serve_preview() that needed to run alongside code in serve() that handled previews.

I'm not sure yet what I need to do to fix our app, but this ticket seems to be on topic.

[2022-10-26 18:03] dkirkham commented on #9467
@thibaudcolas, will close because the two workarounds appear quite adequate.

[2022-10-26 18:03] #9467 closed

[2022-10-26 19:32] lb- commented on #8947
@Lovelyfin00 best to search the code for any usage.

Tailwind classes get generated based on the tailwind config file https://github.com/wagtail/wagtail/blob/main/client/tailwind.config.js

[2022-10-26 19:49] Lovelyfin00 commented on #8947
I can't find where these html are displayed on the wagtail bakery. I have searched edit post on the baskery admin but I still can't find what I'm looking for.

/wagtail/wagtail/documents/templates/wagtaildocs/documents/edit.html

/wagtail/wagtail/snippets/templates/wagtailsnippets/snippets/edit.html

[2022-10-26 19:56] lb- commented on #8947
https://docs.wagtail.org/en/stable/editor_manual/documents_images_snippets/documents.html
https://docs.wagtail.org/en/stable/editor_manual/documents_images_snippets/snippets.html

[2022-10-26 20:03] lb- opened #9505 "Convert initTooltips.js to TypeScript & add unit tests"
### Is your proposal related to a problem?

**`initTooltips` was added in https://github.com/wagtail/wagtail/pull/8231 but as JavaScript not TypeScript & no unit tests were included**

So that we can have a basic confidence that code changes will not lead to widget regressions, and in prep for some widgets migrating to Stimulus it would be good to have a basic test coverage of this component util.

[2022-10-26 20:03] lb- commented on #9505
To assign to Fatuma.

[2022-10-26 20:06] Lovelyfin00 commented on #8947
Thank you so much @lb-
Last one for tonight I promise 😅😅

/wagtail/wagtail/contrib/forms/templates/wagtailforms/list_submissions.html

[2022-10-26 20:16] lb- commented on #8947
@Lovelyfin00 in the menu click forms - then click the contact form responses listing.

[2022-10-26 21:08] FatumaA commented on #9505
Thanks!

[2022-10-26 22:01] #9440 closed

[2022-10-26 22:29] #9428 closed

[2022-10-27 01:29] sdmoran commented on #9360
Hi @AnishaSingh0118, are you still working on this? I'm interested in taking a look if not

[2022-10-27 03:41] rgs258 opened #9512 "c-sf-add-button--visible AND disabled="disabled" are present on Add button"
### Issue Summary

The Add button within StreamField in the editor is not "greyed" out when it is disabled by, for example, the max number of blocks of a type existing.

### Steps to Reproduce

1. Make a block max_num=1
2. Add one of that block
3. See that the Add button is still full opacity

It would seem that the presence of `disabled="disabled"` should remove `c-sf-add-button--visible`

-   I

[2022-10-27 03:49] rgs258 opened #9513 "In StreamField, Duplicate control doesn't respect max_num"
### Issue Summary

Within a StreamField, when block count is constrained by max_num, then the Add button is disabled when no more blocks may be added. In this same situation, the Duplicate button does NOT become disabled.

### Steps to Reproduce

1. set max_num of a block type to 1
2. add that block
3. duplicate that block

Ideally, the Duplicate control would become disabled.

-   I have confirme

[2022-10-27 07:19] Seremba commented on #9030
Hi @ForJessicaSake are you still working on this please?

[2022-10-27 08:36] lb- commented on #8731
@activus-d & @Lovelyfin00 - how are you going with these items? Did you need a hand - feel free to ask questions in Slack.

[2022-10-27 09:27] AnishaSingh0118 commented on #9360
Actually I have been stuck at the set up part. After following the documentation it is saying that wagtail command not found, did you faced it too?

[2022-10-27 10:12] lb- opened #9515 "Skip link does not meet contrast guidelines"
### Issue Summary

The skip to content link, which is only available when using the keyboard to navigate the page, does not meet the contrast guidelines.

https://colourcontrast.cc/1c8767/ffffff

* `background: var(--w-color-positive-100);` = `#1c8767`
* `.button { color: var(--w-color-white)...` = `#ffffff`

![Screen Shot 2022-10-27 at 8 03 22 pm](https://user-images.githubusercontent.com/1396140

[2022-10-27 10:15] Dev-Yusuf commented on #9515
I want  to investigate this @lb-

[2022-10-27 10:16] lb- commented on #9515
Sounds good @Dev-Yusuf  - first check you can reproduce the issue and that you are able to confirm the colours do not meet the accessibility contrast guidelines.  Here are some additional tools https://css-tricks.com/color-contrast-accessibility-tools/

After that we can remove the unconfirmed label and you can start working on ideas for a fix or a PR.

[2022-10-27 10:17] Dev-Yusuf commented on #9515
Ok... Thank you.

[2022-10-27 10:59] lb- commented on #8947
File: client/src/tokens/typography.jsAdd (maybe after lineHeight)
[code]

Then ensure you export it at the bottom
[code]
Then import that listStyleType in client/tailwind.config.js
[code]

Then include it in the module export
[code]

Based on https://tailwindcss.com/docs/list-style-type

[2022-10-27 12:06] lb- commented on #8499
https://nodejs.org/en/blog/release/v18.12.0/ - Node 18 just hit LTS

[2022-10-27 12:14] robslotboom opened #9516 "Invalid parameter for FieldPanel"
### Pertinent section of the Wagtail docs
https://docs.wagtail.org/en/stable/reference/pages/panels.html#fieldpanel

### Details
help_text(optional)

This parameter is not suported

[2022-10-27 12:19] gasman commented on #9516
help_text on FieldPanel should be fully supported as of 4.0.3: https://github.com/wagtail/wagtail/pull/9240

[2022-10-27 12:19] #9516 closed

[2022-10-27 12:21] robslotboom commented on #9516
Oeps, I have wagtail 4.0.2

[2022-10-27 12:54] FatumaA commented on #9406
Can reproduce this bug. Date picker does not show up even when editing

[2022-10-27 16:27] laymonage commented on #9452
Thanks for the report! I managed to replicate the issue and found the cause.

When there are fields in the Settings tab that are visible in the page editor furniture (`show_panel_furniture()` returns `True`), we render all panels in `settings_panels` inside the tab. Unfortunately, when viewing a different tab, other tabs have a `hidden` attribute set, which effectively hides all descendant element

[2022-10-27 16:31] Buduzz commented on #9497
hi @gasman I have made the changes, however, I am experiencing difficulties running it. The changes are not reflecting on the work. could you help

[2022-10-27 16:32] zerolab commented on #285
This is being implemented via https://github.com/wagtail/rfcs/pull/71. And we will hopefully get a PR in the coming months

[2022-10-27 16:39] #9452 closed

[2022-10-27 16:57] gasman commented on #9497
Hi @Buduzz - thanks for looking into this. However, as there's quite a bit of time pressure on this fix (it needs to be reviewed and passed on to translators in time for the 4.1 release, due on Tuesday) I'll pick this up myself now.

[2022-10-27 17:37] gasman commented on #9513
Thanks @rgs258! I can confirm I'm seeing the same thing, both for a global max_num on the StreamField and a per-block-type limit - looks like this behaviour disappeared some time after 2.16. I vaguely recall an argument being made that we _shouldn't_ disable these controls dynamically and should only validate at the point of submitting the form instead - so that editors can temporarily exceed the

[2022-10-27 17:43] gasman commented on #9512
Confirmed regression in 4.x.

[2022-10-27 19:39] jams2 opened #9520 "Ageing Pages report causes KeyError due to deleted user"
### Issue Summary

When rendering the Ageing Pages report, if a page in the query set was most recently published by a user that has subsequently been deleted, a `KeyError` is thrown, displaying an error page to the user.

Traceback:

[code]
Encountered on 3.0.3, duplicated on 4.0.4.

It is caused by the dict lookup in [this function](https://github.com/wagtail/wagtail/blob/78a7652f6b6495c6e145cf7

[2022-10-27 20:19] #8499 closed

[2022-10-27 21:20] #9497 closed

[2022-10-27 21:35] activus-d commented on #8731
@lb- I’m yet to get started with it because I’m trying to complete tasks assigned to me on for the documentation project. I will definitely get started with it once I’m done.

[2022-10-27 21:44] lb- opened #9521 "Tab nav link error count is not correctly pluralised for screen readers"
### Issue Summary

While investigating https://github.com/wagtail/wagtail/issues/9497 it seems there is a similar issue on the Tab nav link (the tab buttons) that does not correctly pluralise the error counts.

<img width="827" alt="Screen Shot 2022-10-28 at 7 31 03 am" src="https://user-images.githubusercontent.com/1396140/198402156-3aeecf5d-a54c-47a6-9136-2e6910470fd3.png">

### Steps to Reprodu

[2022-10-27 22:08] Lovelyfin00 commented on #8731
Yeah
Me too
I'll get started when I'm doing with the current issue I'm working on

[2022-10-27 22:09] lb- commented on #8731
No problems - try not to take on too much  and yes focus on your existing items for now.

[2022-10-27 22:38] Teebarh opened #9523 "Documentation: No frequently asked questions page, or page dedicated to solving common issues encountered while using/installing Wagtail."
As an Outreachy applicant, I noticed some of the other participants had issues setting up Wagtail on their local machines. That led me to think of creating a file with the problems they encountered and the solutions offered. I also noticed the documentation has no section specifically for this, so, I'm creating this issue to volunteer to work on this and get reviews on this from my mentors @thibau

[2022-10-28 02:39] Headon1729 commented on #9521
Hey @lb-
I would like to work on this issue if you are not working on it

[2022-10-28 02:52] lb- commented on #9521
@Headon1729 go for it - please start with reproducing the issue in a different browser and confirming you can see the problem. Maybe add another screenshot.

That way we can remove the unconfirmed label, plus that will help you understand the issue better.

[2022-10-28 05:03] 4the4ryushin commented on #3589
@lb-  sorry for the delay , i was little busy, now i am all set to fix this found the fixtures and done with tests, i wanted to ask
a little query in the parent comment it says at raw == True, am i supposed to literally pass and do nothing, or i still should check for focal_points and so as it has been done originally

[2022-10-28 06:53] maartenkling opened #9526 "UX page title has no focus"
### Is your proposal related to a problem?

In the new Wagtail 4.x UI the Page title is a label and not shown as an input
<img width="716" alt="Screenshot 2022-10-28 at 08 52 51" src="https://user-images.githubusercontent.com/946684/198522577-0ee14b2b-7f7f-4059-b8dd-d2779e86728d.png">
This makes it hard for user to understand they need to fill in a title.

### Describe the solution you'd like

Sho

[2022-10-28 06:54] th3hamm0r commented on #9481
@xomcodes Sorry, for my late reply. I've already found the issue: It looks like the relevant `LockUnlockAction` js is not called in the index view. I will make a PR for that.

[2022-10-28 07:14] xomcodes commented on #8834
Thank you so much for the feedback @lb-
I've been to figure out how to add borders to the buttons when in `forced-color : active` mood. I targerted a class which all the buttons had in common and styled it. So i wanted to confirm if this is how you wanted these buttons to show while in `forced-color : active` mood before sending a PR.

**High-contrast theme**
![without border](https://user-images.

[2022-10-28 07:31] albinazs opened #9529 "Contrast themes - Tag field is styled incorrectly in WHCM"
### Issue Summary

It looks like the tag field for WHCM is styled incorrectly - in both dark & light themes. Instead of applying forced-color-adjust: none and custom color styles, we need to apply system colors.

| Tag field in WCHM (dark theme)  | Tag field in WCHM (light theme) |
| ------------- | ------------- |
| <img width="341" alt="image" src="https://user-images.githubusercontent.com/51043

[2022-10-28 08:05] gasman commented on #9526
Thanks for the report @maartenkling - there's an existing open issue about this at #9318.

[2022-10-28 08:05] #9526 closed

[2022-10-28 08:34] 4the4ryushin commented on #3589
@lb-  i have made the PR,  kindly review it and let me know if there is any problem with that
https://github.com/wagtail/wagtail/pull/9533

[2022-10-28 08:40] Seremba commented on #9526
Hi @lb- requesting to work on this issue

[2022-10-28 10:39] Yekasumah commented on #9446
@Scotchester HI, please can you review my PR I've modified it as you suggested. I also don't know why my PR keeps failing tests.

[2022-10-28 13:10] lb- commented on #4450
Moving this issue to the Editor Guide project.

[2022-10-28 13:13] lb- commented on #9418
Moving to the Guide repo.

[2022-10-28 13:17] 4the4ryushin commented on #1267
may i take up this one?

[2022-10-28 13:57] thibaudcolas commented on #9523
@Teebarh thank you for the suggestion. Could you share examples of similar projects to Wagtail that have such a page?

I like the idea in theory but I’m not sure how well it would work in practice, as I’d expect those pages to be hard to maintain over time. I think it would help to look at how other projects do this well, to see what kind of content they add on those kinds of pages.

[2022-10-28 14:54] Scotchester commented on #9446
@Yekasumah Thanks for the mention; I didn't notice you had updated it. Will try to review soon!

[2022-10-28 17:49] Buduzz commented on #9521
Hello @lb- can I work on this, attached are test images from different browsers
![image](https://user-images.githubusercontent.com/115478779/198698801-8989783e-a4c3-470d-8299-fbdd2688092f.png)
![image](https://user-images.githubusercontent.com/115478779/198699174-9f773da0-49aa-46ce-832c-87eb9f471058.png)
For the error count label can the error message be: `Found {num} error(s) in content tab`?

[2022-10-28 17:53] Headon1729 commented on #9521
Hey @Buduzz
I'm working on this issue & would soon make the PR. Can you work on any other issue

[2022-10-28 18:34] Buduzz commented on #9202
Hi @thibaudcolas, has any PR been created for this issue? If no, I would like to jump on it and get it done as soon as possible

[2022-10-28 21:08] DokuaAsiedu opened #9540 "Add a note to install a package manager for Windows users to prevent errors using the `make` command"
### Summary
When compiling the documentation using Sphinx with this command:
`make html`, Windows users might run into this error:
_make is not recognized as an internal or external command, operable program or batch file_

### Details
In the [Development](https://docs.wagtail.org/en/stable/contributing/developing.html#compiling-the-documentation) page of Wagtail's documentation, a note callout co

[2022-10-28 21:38] DokuaAsiedu commented on #9540
@lb- I would like to find out from you if you think this is needed. It was something I struggled with so I thought it might be beneficial to future users if this note was included.

[2022-10-28 22:12] lb- commented on #9540
Yeah maybe we need a heading under - https://docs.wagtail.org/en/latest/contributing/developing.html#setting-up-the-wagtail-codebase

Maybe just before the next `testing` heading.

### Development with Windows

... Some preamble about how development on Windows is not as well documented as we would like and recommend that the Docker/vagrant approaches would be better.

Then document some additiona

[2022-10-29 04:53] lb- opened #9541 "Convert initSkipLink.js to TypeScript & add unit tests"
### Is your proposal related to a problem?

**`initSkipLink` has been in the codebase for some time and it would be good to convert this to TypeScript**

So that we can have a basic confidence that code changes will not lead to widget regressions, and in prep for some widgets migrating to Stimulus it would be good to have a basic test coverage of this component util.

It would be good to also incl

[2022-10-29 05:51] lb- commented on #1267
@4the4ryushin - yeah go for it but please check you understand the issue fully and can reproduce the problem as described.

It may be good to add a comment with the exact steps to reproduce a scenario like this on a new Wagtail project, this will also help for any kind of PR validation when you prepare it.

[2022-10-29 06:56] Deepanshu039 commented on #9541
hi, @lb- I'd like to work on this issue.

[2022-10-29 09:27] Julietadeboye commented on #9541
I am working on this

[2022-10-29 09:36] Jordan-Rob commented on #9492
This Issue instructed me to transfer the `escapeHtml` function from core.js  to text.ts but there seems to be a similar function within `text.ts`  already refer to the screenshot below. I'm thinking of deleting the one in `core.js` and maintaining the one in `text.ts`

<img width="1470" alt="Screen Shot 2022-10-28 at 10 07 17 AM" src="https://user-images.githubusercontent.com/40763160/198824391-b8

[2022-10-29 10:50] 4the4ryushin commented on #9499
So does the add + button should be removed from the menu, or let it be there also?

[2022-10-29 12:57] lb- commented on #9492
Yeah I agree - it looks like these two functions do the exact same thing. Great find, there may already be unit tests for the existing utils `escapeHtml` also.

[2022-10-29 13:00] lb- commented on #9541
@Julietadeboye as per Slack - yes please can you pick this up.

Sorry for the confusion @Deepanshu039

[2022-10-29 13:33] vorlif opened #9543 "Too much spacing for comment button on DateFields"
### Issue Summary

The comment button is directly behind the input field in all input fields. But for DateFields there is a large space between the input field and the comment button.

[Peek 2022-10-29 15-29.webm](https://user-images.githubusercontent.com/4333770/198834227-40aec86f-3b57-4e20-ba18-b011f8d965df.webm)

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. C

[2022-10-29 13:41] Theresa-o commented on #9543
I'd reproduce this and

[2022-10-29 15:15] Theresa-o commented on #9543
@vorlif Thank you for taking the time to report this, I've been able to recreate the spacing between the `datefield` input and comment icon as seen below;

![wagcommentissuereproduced](https://user-images.githubusercontent.com/62052443/198839111-76c2764c-be9a-48cb-bef9-c8a5367d6b54.PNG)

Feedback would be provided shortly.

Thank you.

[2022-10-29 16:16] DokuaAsiedu commented on #9540
Okay thanks, will work on that

[2022-10-30 07:22] maartenkling commented on #9499
i'm not a UX designer, i think at both places.

[2022-10-30 11:49] Temidayo32 opened #9545 "Django Treebeard Methods in Page models"
### Pertinent section of the Wagtail docs

https://docs.wagtail.org/en/stable/reference/pages/model_reference.html?

### Details

In a pull request #9517 I made, @lb- think a separate documentation on how Treebeard is used in Wagtail Page model would be better than the current solution I wanted merged (I added links to some of its methods in the docs page above).  I agree with this, as there is in

[2022-10-30 15:40] vorlif commented on #9543
@Theresa-o Gladly, thanks for your quick reply and your work!

[2022-10-30 15:46] Theresa-o commented on #9543
You're welcome

[2022-10-30 16:52] 4the4ryushin commented on #1267
@lb-  i have understood the issue would soon write the steps to reproduce it,  so we are approaching it the issue in way that
we need to write a management command for deleting the embeds in order to wagtail to re fetch embed code?
what should i name it the command?

[2022-10-31 08:45] banjo-tech commented on #7116
Hi @lb- This are the feedbacks I got from the translators channel on slack.
1) how can we ensure that comments are added when necessary?
we can't determine when it is necessary to add comments so it was suggested that people asked on the slack channel as it was previously done or open an issue on transifex in the comment tab on the right ( I'll attach a screenshot ) and then comment can be added t

[2022-10-31 10:01] banjo-tech commented on #7116
This is a screenshot of how the comment would show on transifex. It should be displayed somewhere within the "more information" session.
![how comment shows](https://user-images.githubusercontent.com/80734738/198982617-4198ebca-3a87-4f2f-8d81-4aba5b48e0e6.jpeg)

[2022-10-31 10:27] lb- commented on #1267
Have a look at existing commands, we would need docs also.

https://docs.wagtail.org/en/stable/reference/management_commands.html

Probably `wagtail_purge_embeds` or just `purge_embeds`

[2022-10-31 11:09] 4the4ryushin commented on #1267
Got it, on it

[2022-10-31 11:18] lb- commented on #1267
Here is the code and the tests for the purge revisions command, the new command can be implemented very much the same. Without needing any Params support.

https://github.com/wagtail/wagtail/blob/main/wagtail/management/commands/purge_revisions.py

Tests.
https://github.com/wagtail/wagtail/blob/main/wagtail/tests/test_management_commands.py#L591

However, these files need to live in the embeds app

[2022-10-31 11:22] 4the4ryushin commented on #1267
@lb-  thank you so much, very much appreciated saved me a lot of " dig up "

[2022-10-31 12:22] banjo-tech commented on #7116
The last question was what translation do they find difficult?
There are mainly issues are short translations where a word in English could be a Noun or a Proverb.
This is a problem because with longer translation context usually helps.

I think with this answer I can start working on some of the questions on this issue

[2022-10-31 12:36] gasman commented on #8955
Closing due to lack of response - the rich text toolbar has been redesigned in Wagtail 4.0, and without further information it's unclear whether this has now been addressed. If the problem here is still outstanding, please open a new issue with the full information as requested.

[2022-10-31 12:36] #8955 closed

[2022-10-31 16:06] #9476 closed

[2022-10-31 21:33] lb- commented on #9494
As per slack

You will have to search for the CSS class that gets used button-select
Which uses wagtail-new/wagtail/admin/templates/wagtailadmin/widgets/button_select.html
Which uses this python file wagtail-new/wagtail/admin/widgets/button_select.py

Which is used in these files
* wagtail-new/wagtail/contrib/redirects/filters.py
* wagtail-new/wagtail/admin/views/reports/workflows.py

so based on

[2022-10-31 22:30] Teebarh commented on #9523
@thibaudcolas sure! This [WordPress](https://wordpress.org/support/article/common-wordpress-errors/) documentation page shows common errors encountered while setting up or using the CMS, and how to solve them. It also has a link to a [support forum](https://wordpress.org/support/forums/) where you can ask questions or describe issues that aren't available in the documentation.

[2022-11-01 02:13] johncarter-phntm commented on #5966
@rgs258 it looks like since 3.0 `exclude_fields_in_copy = ["fform_id", "my_other_unique_field"]` is the cleaner solution.

 https://docs.wagtail.org/en/stable/reference/pages/model_reference.html#wagtail.models.Page.exclude_fields_in_copy

[2022-11-01 07:38] 4the4ryushin commented on #1267
STEPS TO REPRODUCE THE ISSUE:

1.  create  a normal blog page , you can even follow  getting started guide https://docs.wagtail.org/en/stable/getting_started/tutorial.html#

2.  In any your template  load embed tags and and use the tag anywhere in the template to embed a demo video
 use the embed tag, https://docs.wagtail.org/en/stable/advanced_topics/embeds.html#embed-tag

3.  in your settings pu

[2022-11-01 07:47] lb- commented on #9523
I have created a discussion about how we can better support absolute beginners with getting started developing on or with Wagtail.

https://github.com/wagtail/wagtail/discussions/9557

This issue may cover a different kind of thing but I propose we close this issue and move the FAQ page into a comment on that discussion.

[2022-11-01 08:37] th3hamm0r commented on #9281
Since the new editor is very similar to the block editor in wordpress, probably people using wordpress or migrating from it feel more familiar with this.
I don't use wordpress, but on a quick comparison, one thing that would probably help here is, that the toolbar does not occur if you single-click into the text. Without that it is not possible to start writing bold text for example, you always ha

[2022-11-01 10:35] vorlif opened #9561 "[Nightly] Image upload broken for some images"
### Issue Summary

In the current Nightly version, it is no longer possible for me to upload an image. Maybe it is already known or fixed, but I preferred to report it.

[code]

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Install the nightly version `pip install https://releases.wagtail.org/nightly/dist/wagtail-4.2.dev20221101-py3-none-any.whl`
3. Start the ser

[2022-11-01 10:39] zerolab commented on #9561
Thank you @vorlif

#8974 made changes to the image field used under the hood.
I tested this locally and did not encounter any issues. One for me to double check.

[2022-11-01 10:55] vorlif commented on #9561
@zerolab Thanks for the quick reply. After your feedback I tried a few other pictures and many of them were working. Here once a picture which did not go. One time compressed in case Github converts the images.

With version 4.0 and 4.1rc1 the image can still be uploaded.

![20210808_204140](https://user-images.githubusercontent.com/4333770/199217772-86ffab5c-df55-475c-969e-9862109fd920.jpg)
[2021

[2022-11-01 12:30] gasman opened #9563 "rebuild_references_index command should respect verbosity=0"
### Is your proposal related to a problem?

The `./manage.py rebuild_references_index` command generates a lot of output, which may crowd out more useful messages when running setup scripts.

### Describe the solution you'd like

This command should respect the conventional `--verbosity=0` flag to suppress output:

    ./manage.py rebuild_references_index --verbosity=0

This is supported by simila

[2022-11-01 13:58] thenewguy opened #9564 "Refactor page fetching logic and cache on request"
Reference: https://github.com/wagtail/wagtail/issues/3066#issuecomment-1292028660 from @gasman

[2022-11-01 14:47] 4the4ryushin commented on #1267
STEPS TO REPRODUCE THE ISSUE:

1.  create  a normal blog page , you can even follow  getting started guide https://docs.wagtail.org/en/stable/getting_started/tutorial.html#

2.  In any your template  load embed tags and and use the tag anywhere in the template to embed a demo video
 use the embed tag, https://docs.wagtail.org/en/stable/advanced_topics/embeds.html#embed-tag

3.  in your settings pu

[2022-11-01 14:59] gasman commented on #9513
This change happened in https://github.com/wagtail/wagtail/commit/0cdb9d8915b83c2a2b9dc119b757eb6b7fabf1a9. From the conversation on https://github.com/wagtail/wagtail/pull/8923 it's clear that this was intentional, and knowing now that it was done in the context of block splitting / insertion operations, I think it does make sense - otherwise the semantics of splitting a block get a bit weird whe

[2022-11-01 16:05] MRZHD1 commented on #9563
Hi! I'm relatively inexperienced but I'd like to give this a shot if that's okay.

[2022-11-01 16:08] gasman commented on #9563
@MRZHD1 Sure, go for it!

[2022-11-01 18:23] Buduzz commented on #9563
hi @gasman do you permit collaboration on issues like what we have here

[2022-11-01 18:39] MRZHD1 commented on #9563
Hi @Buddz I already implemented it, I'm just testing it now, and I'm having issues on my system so I'll just try and make it work tomorrow.

[2022-11-01 20:33] #9283 closed

[2022-11-01 20:41] #9492 closed

[2022-11-01 20:45] lb- commented on #9543
I am not sure this is a problem we should solve, it does seem odd when you have some 'short fields' but this feels like it  has been done intentionally.

<img width="787" alt="Screen Shot 2022-11-02 at 6 43 39 am" src="https://user-images.githubusercontent.com/1396140/199337269-5dec39f4-6571-48db-bed3-61d64c8c276a.png">

See how the checkbox also has this position (fixed to the right).

I think th

[2022-11-01 20:46] 4the4ryushin commented on #1267
@lb-  i have made made the PR https://github.com/wagtail/wagtail/pull/9568 and comment on steps to reproduce an error
kindly review it at your ease, thank you .

[2022-11-01 20:49] lb- commented on #9543
Comment in UI team channel - https://wagtailcms.slack.com/archives/C0P6APKH9/p1667335617799779

[2022-11-01 20:56] vorlif commented on #9543
Okay, I had only tested a few fields. :see_no_evil:  I just find it strange when I have to move my mouse over half the screen into the "nothing" to click a button there, which affects a field at the starting point. I know that there is a div element there, which probably triggers a hover effect. But I dare say that some users are confused why a button appears "back there".

I'm curious to see what

[2022-11-01 21:04] lb- commented on #9543
Thanks @vorlif  'needs design decision' is more about 'needs further discussion at the core team', not necessarily just UX design.

But yes, I agree it feels a bit odd but I also see the other perspective of a consistent 'position' for these buttons, almost like an invisible sidebar.

Much of this has changed though with the larger changes to the page editor so it may be worth revisiting this appr

[2022-11-01 21:37] vorlif commented on #9543
Thanks @lb-

Yes, like an invisible sidebar you can see it too. Then, as you say, the choice field button would have to be moved, of course. But then you have an invisible sidebar with invisible buttons, which become visible when you act outside the sidebar. ^^

![image](https://user-images.githubusercontent.com/4333770/199346171-5eeb0ac6-b638-4ff8-9712-2e1f606d773c.png)

Anyway, I'll be happy wit

[2022-11-01 22:01] Theresa-o commented on #9543
@vorlif Thank you for reaching out.

[2022-11-01 22:11] lb- commented on #8834
@xomcodes  - I think this is well on the way to what we are looking for, except we should be careful to avoid unwatned changes to the 'icon' buttons at the top.

Great stuff, feel free to get a PR up when you are ready.

[2022-11-02 04:39] Theresa-o opened #9569 "Configure a site does not meet contrast guidelines"
### Issue Summary
The Configure a site link has an insufficient color contrast of 4.25 between the foreground color: #008080, background color: #e3f5fc

### Steps to Reproduce

1. Go to admin user interface
2. Click on Pages
3. You would see Configure a site

Expected result: The colours on this button should meet contrast requirements ratio of 4.5:1

-   I have confirmed that this issue can be re

[2022-11-02 04:39] Theresa-o commented on #9569
I'm working on this issue

[2022-11-02 04:44] 4the4ryushin commented on #1267
@lb-  thanks a lot i have applied all the suggestions , kindly review at your ease.

[2022-11-02 08:29] Theresa-o opened #9571 "Discrepancy between intended design system colors and actual implementation leads to contrast issues"
### Issue Summary
After adding a page, the success message has insufficient color contrast of 4.45 (foreground color: #ffffff, background color: #1c8767, font size: 10.2pt (13.6px), font weight: normal).

### Steps to Reproduce

1. Go to admin user interface
2. Go to settings
3. Go to "Add new promoted result"

Expected contrast ratio - 4.5:1

-   I have confirmed that this issue can be reproduced

[2022-11-02 08:29] Theresa-o commented on #9571
This is being worked on

[2022-11-02 09:05] zerolab commented on #9561
Found the issue and submitted a PR for it #9572

[2022-11-02 09:55] 4the4ryushin commented on #1285
may i work on this?

[2022-11-02 09:57] 4the4ryushin commented on #7777
@thibaudcolas are you still working on this?

[2022-11-02 10:13] lb- commented on #9543
PR that may have adjusted some of these positions https://github.com/wagtail/wagtail/pull/9072
I will also add this to the discussion about 3.*/4.* discussion as I think this more noticeable with the new editor UI. https://github.com/wagtail/wagtail/discussions/9553

[2022-11-02 10:20] AfiMaameDufie commented on #7777
@4the4ryushin you can work on it.

[2022-11-02 10:38] 4the4ryushin commented on #7777
Okay let me give it a try, thank you.

[2022-11-02 13:25] gasman opened #9576 "Broken 'Unlock' link on "Your locked pages" dashboard panel"
### Issue Summary

The "Unlock" link on the "Your locked pages" dashboard panel on the admin homepage is broken.

### Steps to Reproduce

1. From a fresh bakerydemo installation, edit the homepage and lock it from the status sidebar
2. Go back to the admin homepage, where a "Your locked pages" panel now appears
3. Click the "Unlock" button under the homepage item. You arrive at the URL http://loca

[2022-11-02 13:38] thibaudcolas commented on #9543
Thanks for the report @vorlif!

I’ve had a chat about this with @benenright – the ideal implementation here is to have the comment buttons directly to the right of each widget wherever possible. This works well as-is for full-width widgets, and will require more work for the ones that aren’t full-width.

---

The changes needed are similar to what #9072 for a few types of widgets. Here is the full

[2022-11-02 14:20] gasman commented on #9576
Looks like this has been broken since 3.0... current behaviour started in 6f10ae45c76b9f5533e92c749bc1856f86df3d06, and before that the button didn't respond at all. (It did work in 2.16)

[2022-11-02 15:12] macarena opened #9577 "StremField with required ImageChooserBlock raises MultiValueDictKeyError from failing validation warning"
### Issue Summary

An `ImageChooserBlock` in a `StreamField` fails validation if it's required (either from `blank=False` or `min_num` > 0).
Although docs say `ImageChooserBlock` is `required` by default, it apparently plays no role in validation.

### Steps to Reproduce

Assuming a page model with a `StreamField` and with it properly added to the content panel like this:

[code]

Creating a custo