[2022-11-02 15:25] gasman commented on #9576
Original breakage (button not responding) happened in f323d887658c1f82d71960cd48d8929e233ff473.

[2022-11-02 15:48] th3hamm0r commented on #9576
That's interesting, I think I've tested this either for #9528 or for #9530, and it worked. Maybe #9530 actually fixes it, I thought it was only "cosmetic" :sweat_smile:

[2022-11-02 16:33] mohammadareeb95 opened #9578 "Add styles on Windows high contrast mode to indicate "active" state"
### Issue Summary
On normal rendering, we can see the "Documents" tab has a different style – so we know it’s the "active" one.
We’re missing this in the Windows high contrast mode version, where the "Documents" tab just looks like the other ones

### Normal mode
![image](https://user-images.githubusercontent.com/77102111/199545439-e14a28e5-4fac-4d6c-8ffc-80a8ea2a1201.png)

### High-contrast mode

[2022-11-02 16:58] gasman commented on #9577
Thanks for the report @macarena! Confirmed I'm seeing the same thing on a fresh installation when running against 4.0.4 and current main.

[2022-11-02 17:39] gasman commented on #9577
This goes back to at least 2.14, so not a recent regression.

[2022-11-02 17:58] th3hamm0r opened #9581 "Several date formatting issues (no TZ conversion, no i18n)"
### Issue Summary

There are several places in the python code, where `strftime("%d %b %Y %H:%M")` is used to format dates. This does not convert the date to the currently active timezone nor does it use the current language.

For example, if you access a scheduled/locked page, the notification at the top does not use the correct TZ (should be Europe/Vienna, not UTC in that example) and it's in en

[2022-11-02 20:27] MrCordeiro opened #9583 "Wagtail 4.1: modelcluster.fields.ParentalKey throws AttributeError: 'NoneType' object has no attribute '_meta'"
I'm been trying to update my blog to Wagtail 4.1 and I'm having issues with the following models.py setup:

[code]

This code, for example, fails:

[code]

The source of the error is[ this change in the `signal_handlers.py` module](https://github.com/wagtail/wagtail/commit/212b2e19a680410ac1ab3fe4f18cdcb318afaa67#diff-9e2fc90f09e08c4af86e25111803a306e91d17f5ad97333b51a2f2805226af2a) that was added

[2022-11-02 20:50] gasman commented on #9583
Hi @MrCordeiro - thanks for the report.
I should note that the use of ParentalKey isn't really correct here - it implies that any BlogPage record is _logically part of_ the BlogCategory object. In particular, I suspect that whenever you make an edit to the BlogCategory object through the Wagtail admin, it'll end up saving a copy of every linked BlogPage as part of that object's revision history. Y

[2022-11-02 21:00] MrCordeiro commented on #9583
Ah thanks for the feedback! I didn't know about that!Am 02.11.2022 8:50 nachm. schrieb Matt Westcott ***@***.***>:
Hi @MrCordeiro - thanks for the report.
I should note that the use of ParentalKey isn't really correct here - it implies that any BlogPage record is logically part of the BlogCategory object. In particular, I suspect that whenever you make an edit to the BlogCategory object through th

[2022-11-02 21:36] lb- commented on #9543
I will change this to an enhancement based on the comment above.

[2022-11-03 04:40] th3hamm0r commented on #9581
Fyi: I think the 2. category is probably not hard to fix, I haven't looked at the outputting code yet, but we can parse the date, make it tz aware and convert it to local tz.

[2022-11-03 09:05] Elrigor opened #9586 "RuntimeError: Unable to resolve relationship `user` for `wagtailcore.ModelLogEntry`. Django is most likely not initialized, and its apps registry not populated. Ensure Django has finished setup before loading `FilterSet`s"
Hi!

I've updated to the LTS 4.1 but this error came out:

[code]

I have the following versions:

Wagtail 4.1
Django 4.0.8
django-filter 22.1]

### My temporal "fix"

I was able to solve this by removing the **_user_** on the **meta** class of **SnippetHistoryReportFilterSet** :

[code]

This is located at **wagtail/snippets/views/snippets.py**

Is that a logger or something like that? If so, is

[2022-11-03 09:57] gasman commented on #9586
Thanks for the report @Elrigor! We've had a couple of reports of similar issues (e.g. #9582), although we haven't yet definitively determined what triggers it. It looks quite likely that it's related to custom user models, though - are you using one on your project?

As another workaround, calling `register_snippet` from a wagtail_hooks.py rather than as a decorator on the model seems to help - as

[2022-11-03 10:00] FilterUnfiltered opened #9587 "Extend Limiting Links in RichTextField"
### Is your proposal related to a problem?

I am currently struggling with removing the Internal Link option from a project. Nobody who is working on it can figure out why, but Internal Link always becomes "None" when we pick a page, meaning it doesn't work at all, so we figured using external links works fine. However, we obviously don't want to ship a broken product, which is what Internal Links

[2022-11-03 10:17] AnishaSingh0118 commented on #9468
Hello @Theresa-o I have resolved this issue. Let me know if I could do something else.

[2022-11-03 10:23] phillimorland commented on #9281
Experiencing the same issue here with `RichTextBlock`, block toolbar does not contain all elements specified in default richtext config, however some of the missing elements are present in the inline toolbar but not all.
The `RichTextField` does use the default configs without issue but the inconsistency between block toolbar and inline is there, not sure if that's intentional though?

![Screensho

[2022-11-03 10:51] Elrigor commented on #9586
Hi, Thank you for your fast reply!
I was able to fix it by using the default User model and not the custom one I have. However, I need to use a custom user model :/

[2022-11-03 11:48] krukas commented on #7720
I have created a PR that fix it for all DB search backends: https://github.com/wagtail/wagtail/pull/9591

[2022-11-03 12:27] dkirkham commented on #9586
I'd have to roll back to an earlier commit in my project to confirm this, but I think I had a similar issue last week as I was coding the migration from 2.16 via 3.0 and 4.0 to 4.1rc1. It was resolved by putting the custom user module very early in the INSTALLED_APPS list (in settings), before any other module that referred to the user object.

[2022-11-03 12:29] xomcodes commented on #8834
Thank you😊😊 @lb-
I've fixed the issue of unwanted border around the icon buttons and sent a PR

[2022-11-03 12:30] jacobtoppm commented on #9459
I think that's a good call. @laymonage would you be happy to add this?

[2022-11-03 12:57] Elrigor commented on #9586
That fixed it! Thank you mate 💯

[2022-11-03 13:43] laymonage commented on #9586
The filterset on the snippet history view [has been there since 4.0](https://github.com/wagtail/wagtail/blob/stable/4.0.x/wagtail/snippets/views/snippets.py#L605), so I believe that's not the (only) cause.

In 4.1, we added [this import](https://github.com/wagtail/wagtail/blob/10edcad5a82b0b877c30ec6c4c281c37b2d44dad/wagtail/snippets/models.py#L47), which causes the `register_snippet` function to

[2022-11-03 13:51] gasman commented on #9281
The disappearance of the 'hr' feature does seem to be a genuine bug, and one that I'll raise as a separate issue shortly. (You can insert one by typing `---`, but that isn't really discoverable...)

For the remaining items, there _is_ a logical reasoning to their placement: bold / italic / links are not in the block toolbar because they are formatting to be applied to text within a block, rather t

[2022-11-03 13:58] Theresa-o commented on #9468
Hello @AnishaSingh0118 This is awaiting @thibaudcolas feedback.

There's no confirmation if this change should be made yet as discussed with @lb- above.

[2022-11-03 14:23] AnishaSingh0118 commented on #9468
Oh! ok. Thanks for confirming.

[2022-11-03 15:46] allcaps commented on #9581
We could use `django.template.defaultfilters.date` on the Python side.

[code]
Gives the EXACT SAME output as the template variant:
[code]
It respects the active locale does apply the current timezone conversion and date/time formatting rules.

It even respects the `formats.py` if the developer decides they want specific datetime formats in their projects.

[2022-11-03 15:50] th3hamm0r commented on #9581
@allcaps Yes, that was my initial idea too and I've tried that, but there is a major issue here: the `date` filter only converts the date to local time if used in the templates, so it looks like `expects_localtime=True` is only applied by the template engine.
I've actually used that in some projects too, so that was a good learning for me :+1:

[2022-11-03 15:53] vsalvino commented on #9477
So technically this is not a bug in Wagtail, but it is related to some very specific behavior of MySQL and in particular, `mysqlclient`.

I'm working on a PR that will add an option to `mysqlclient` to fix this behavior.

https://github.com/PyMySQL/mysqlclient/issues/563

[2022-11-03 16:05] th3hamm0r opened #9595 "Missing log information for wagtail.schedule.cancel"
### Issue Summary

While testing my changes of #9590, I've found a (minor) issue. When canceling a scheduled publication, the log actually contains the date when the revision has been created, and when the page would have been published, but since `has_live_version` is never set in the following code:
https://github.com/wagtail/wagtail/blob/5a249d4e9c65ec742c8e920d44f2fda2038395e3/wagtail/models/_

[2022-11-03 16:45] gasman commented on #7720
@dopry The basic functionality of a search engine is to tokenise the source text word-by-word and provide querying capabilities based on matching those words. On top of that it might apply additional techniques of varying sophistication such as stemming (cats -> cat), synonyms (cat->catalytic), and weighting - and indeed prefix matching is one such feature that might be enabled, if the situation c

[2022-11-03 17:07] gasman commented on #9477
@vsalvino Does this mean it would be reasonable to close this issue? Or are we looking at implementing a workaround on the Wagtail side as well as addressing it in mysqlclient?

[2022-11-03 17:13] gasman commented on #9586
Reproduced on a fresh Wagtail project as follows:

[code]

Add `"customuser"` to INSTALLED_APPS **after** `"home"`, and edit customuser/models.py as follows:
[code]

Add `AUTH_USER_MODEL = 'customuser.CustomUser'` to settings.

Edit home/models.py as follows:
[code]

Now `./manage.py makemigrations` (or any other management command, e.g. `./manage.py check`) fails with:

[code]

Placing `customuse

[2022-11-03 17:23] gasman commented on #9586
Bisecting shows that 6e1e0240ef3ada234f6ee9d7db2584c141d29f78 is the commit that triggered this issue.

[2022-11-03 17:24] vsalvino commented on #9477
I don't think any action is necessary in Wagtail. Wagtail is using legal Django/SQL syntax.

However it would be worth adding a note to the docs, if and when mysqlclient accepts the change. I am planning to add such a note to both Wagtail and Django docs whenever the patch is released in mysqlclient.

It may be useful to temporarily add a note to the Wagtail 4 upgrade considerations, as this behav

[2022-11-03 18:08] hazho commented on #9012
Thanks @Temidayo32, I was expecting the same burden, however, there are tools that do automate the diagram processing, it will be worthy to do your researches for that, meanwhile me and my team are way far from wagtail, though we may need this in the future points.. but yes I understood, in deed this idea may help other wagtail developers more than me and my team, thanks again, and happy coding.

[2022-11-03 20:32] ababic commented on #9586
Suggestion: Would it be viable to update  `register_snippet()`  to simply store the `Snippet: Custom ViewSet`  mappings in another global, then do the actual 'viewset registering' later on?

[2022-11-03 20:42] vorlif opened #9596 "Trailing whitespace for strings to be translated"
### Issue Summary

More a minor cosmetic flaw than a bug, but bug still fit best.

I noticed that there are strings to be translated where a space is inserted at the end to keep the distance to the following text. However, the spaces are by default not highlighted in transifex and therefore many translators do not add them. As a result, the spacing between the text parts is missing in many languag

[2022-11-03 20:50] vorlif commented on #9596
I would also make the changes myself, just want to know beforehand if they are wanted and which solution fits best.

[2022-11-03 22:21] allcaps commented on #9596
I'd vote for `blocktrans`
[code]
->
[code]

[2022-11-03 22:30] allcaps commented on #9587
You seem to propose a complex workaround to Wagtail as a fix for a bug in your project...

I'm pretty sure that internal links in a clean Wagtail project work fine. Internal links are a core feature for a CMS.

I'd advice you to [seek support](https://docs.wagtail.org/en/stable/support.html#support) on fixing your internal link bug.

[2022-11-03 22:30] #9587 closed

[2022-11-04 01:59] lb- commented on #9596
Yes. We should use blocktrans for this kind of thing with the trimmed option.

[2022-11-04 04:47] Yekasumah commented on #9495
Hi @lb-, I have created a new PR for this issue adding the JSdoc to the functions.
https://github.com/wagtail/wagtail/pull/9597

[2022-11-04 05:40] Temidayo32 commented on #9012
Thanks for your understanding, @hazho

[2022-11-04 05:40] Temidayo32 commented on #9012
@thibaudcolas @Lb I think this issue might be considered closed.

[2022-11-04 05:57] 4the4ryushin commented on #9563
@MRZHD1 are you still working on its test? or should i make the PR, or even happy to help out thank you

[2022-11-04 06:03] MRZHD1 commented on #9563
Hi @4the4ryushin. I've finished the issue already, just having issues with git to pull it to my machine for some reason it keeps breaking. I'm going to try on another computer.

[2022-11-04 06:23] 4the4ryushin commented on #9563
it's alright, lemme know I can be any help

[2022-11-04 07:09] #9012 closed

[2022-11-04 07:53] th3hamm0r commented on #9595
The fix is easy, but adapting the tests actually caught me for a way longer time...
Unfortunately, the timestamps serialized in the revision's data are not always in the default timezone, but also in UTC. This depends on when the timestamps are accessed. If queried from the db, django uses UTC (=tzinfo), if the date directly comes from a form input (e.g. the go_live_at timestamp), it will be conve

[2022-11-04 08:36] FilterUnfiltered commented on #9587
Regardless, it's a feature that would be nice to have.

[2022-11-04 08:54] ababic commented on #9586
@gasman I think you're right about `django-filter`. I think my suggestion needs something extra, otherwise users subclassing these viewsets and importing them into `models.py` to pass to `register_snippet()` are only going to bump into the same problem.

In addition to the above, maybe we make the 'viewset' argument accept a python path string? That way, we can keep that 'lazy' until we are ready

[2022-11-04 10:10] gasman commented on #9586
If people are building custom viewsets to pass to `register_snippet`, they'll probably be doing that in `wagtail_hooks` (as that's the documented and less messy approach), which means the issue doesn't arise (since `wagtail_hooks` is only imported later, after models have been loaded) - so I think we're covered.

[2022-11-04 11:08] AnishaSingh0118 commented on #9496
Can I work with .JS file because currently there are some complications with .ts file.

[2022-11-04 11:25] xomcodes commented on #9496
I am working on it

On Fri, 4 Nov 2022, 12:09 Anisha Singh, ***@***.***> wrote:

[2022-11-04 11:30] MRZHD1 commented on #9563
Okay, I can't seem to pull it to my computer for some reason. @4the4ryushin / @Buduzz, I will open a draft PR if one of you could test if the code works I would appreciate it :+1:.

(It is #9602)

[2022-11-04 11:32] 4the4ryushin commented on #9563
Sure go ahead make the pr and I will deal with the tests or anything that would be lacking

[2022-11-04 11:37] MRZHD1 commented on #9563
No problem, take your time. Thank you :)

[2022-11-04 11:37] MRZHD1 commented on #9563
I didn't write documentation yet either, but I could definitely add that if the tests pass.

[2022-11-04 11:46] zerolab commented on #9587
Using only external URLs (that is full URLs) is prone to issues. e.g. if the paths change.
Granted that is likely less of an issue as 2.16 which introduced automatic redirect creation.

As @allcaps mentioned internal links are a core feature. I would suggest creating your own link chooser plugin (see https://docs.wagtail.org/en/stable/extending/extending_draftail.html#extending-the-draftail-editor

[2022-11-04 12:04] Zeki-Abdulhamid commented on #9581
Helllo, May you please let me know the steps that you used to fix the date & time zone issue using Django

https://github.com/th3hamm0r

[2022-11-04 12:08] zerolab commented on #9581
@Zeki-Abdulhamid this is not a good first issue. And there is a draft PR (#9590) for it

[2022-11-04 12:45] AnishaSingh0118 commented on #9493
Can I work with .JS file because currently there are some complications with .ts file.

[2022-11-04 13:03] zerolab opened #9604 "Empty minimap when using side panels in non-standard interfaces"
wagtail-localize uses the new side panels to output basic information when editing translations.
The editing interface uses the regular edit template with the content generated by React.

The new minimap (#9345) looks quite odd in that context. While I realise localize does things in an unorthodox way, the minimap and collapse/expand all should only be rendered if they have actual interaction poin

[2022-11-04 13:46] thibaudcolas commented on #9468
@Theresa-o this form is part of the fundamental website setup that will only ever be changed once or twice for a given site, and always by someone very familiar with Wagtail, most likely with developer-level awareness of what the form does.

As such I don’t think the current field label is hard to understand. It’s certainly not the most elegant wording but I don’t think changing it would necessari

[2022-11-04 13:46] #9468 closed

[2022-11-04 13:48] AnishaSingh0118 commented on #9468
Ok.

[2022-11-04 13:51] Theresa-o commented on #9468
Got it @thibaudcolas Thanks for the feedback

[2022-11-04 13:54] thibaudcolas commented on #9343
@DokuaAsiedu when opening an issue, make sure to describe a specific problem / feature request / change you think is needed. Just opening an issue to link to a pull request only creates noise for people who triage Wagtail’s issues.

[2022-11-04 13:54] #9343 closed

[2022-11-04 13:55] thibaudcolas commented on #9372
@dchidindu5 when opening an issue, make sure to describe a specific problem / feature request / change you think is needed. Just opening an issue to link to a pull request only creates noise for people who triage Wagtail’s issues.

[2022-11-04 13:55] #9372 closed

[2022-11-04 13:58] thibaudcolas commented on #9523
👍 sounds good to me. Thanks again for the report @Teebarh, we’ll keep discussing this in #9557.

[2022-11-04 13:58] #9523 closed

[2022-11-04 14:04] DokuaAsiedu commented on #9343
Alright sorry about that

[2022-11-04 14:23] dchidindu5 commented on #9372
Sir I opened an issue there on GitHub. If you closely you'll see it.

On Nov 4, 2022 2:55 PM, "Thibaud Colas" ***@***.***> wrote:

@dchidindu5 <https://github.com/dchidindu5> when opening an issue, make
sure to describe a specific problem / feature request / change you think is
needed. Just opening an issue to link to a pull request only creates noise
for people who triage Wagtail’s issues.

—
Rep

[2022-11-04 14:59] vorlif commented on #9596
@allcaps @lb- Thanks for your feedback.

I created a PR to remove the two points that caught my eye. In the po files I found more strings with trailed whitespace. However, I didn't notice in the admin interface that this is a problem anywhere. In some languages the spaces were appended as well. I would leave it that way for now because of this, and if I notice more places in the frontend, I open a

[2022-11-04 15:20] vorlif opened #9613 "Page editor footer truncates texts"
### Issue Summary

I know, we Germans are not exactly known for our short words. But unfortunately, it is what it is, and often we have somewhat longer texts. Unfortunately, this leads to the page editor that the approval text in the footer is longer and does not fit in the footer. There are also small design failures in other languages.

Example German:
![image](https://user-images.githubusercont

[2022-11-04 18:37] AnishaSingh0118 commented on #9496
Hey @lb- I have come up with a PR https://github.com/wagtail/wagtail/pull/9614 which is fixing 2 issues at once.
Issue 1:
https://github.com/wagtail/wagtail/issues/9496
Issue 2:
https://github.com/wagtail/wagtail/issues/9493

[2022-11-04 18:43] AnishaSingh0118 commented on #9493
Hello @lb- I am trying to make the issues as one and has already came up with a solution in my PR https://github.com/wagtail/wagtail/pull/9614
This PR is fixing:
Pull out addMessage from core.js into includes/message.ts #9496 as well as #9493 as well.

I would love to hear from you.

[2022-11-04 18:45] AnishaSingh0118 commented on #9342
Is this issue still not confirmed?

[2022-11-04 18:52] Lovelyfin00 commented on #9342
No it hasn't

[2022-11-04 18:53] AnishaSingh0118 commented on #9342
Oh! Ok thanks for confirming.

[2022-11-04 18:58] Scotchester commented on #9199
Thanks for the videos, @mohammadareeb95! Fascinating stuff. I don't think that merely adding margin under the button is the best solution for this, as it will negatively impact the experience of everyone except for Mobile Safari users (and even Mobile Safari users, as they would then be able to scroll the page "too far"). I guess the next step is to do some research and see if anyone else has run

[2022-11-04 22:24] #9446 closed

[2022-11-04 23:54] mghiglieri opened #9615 "rebuild_references_index > (1048, "Column 'to_content_type_id' cannot be null")"
Hi,

when trying to upgrade to wagtail 4.1 the rebuild_references_index command does not work correctly.
It seems that the method cannot detect the correct to_content_type value. Does anybody know, how to fix it?
Everything worked smoothly until 4.0x.

<details>
<summary>Traceback</summary>

[code]
</details>

Thanks,
Marco

[2022-11-05 00:12] gasman commented on #9615
Haven't seen anything like that before. Please could you try running the following within `./manage.py shell`, and let us know the output:

    from oscar.apps.catalogue.models import ProductAttributeValue
    from wagtail.models import ReferenceIndex
    for obj in ProductAttributeValue.objects.all():
        refs = list(ReferenceIndex._extract_references_from_object(obj))
        if any(ref[0] i

[2022-11-05 07:30] mghiglieri commented on #9615
@gasman Thanks for helping.

`# python test.py
/var/envs/xy.de/lib/python3.8/site-packages/django/db/models/base.py:369: RemovedInWagtail50Warning: StreamField must explicitly set use_json_field argument to True/False instead of None.
  value.contribute_to_class(cls, name)
1 PDF1: images/products/2021/07/fsdgfdgdf.pdf [(79, '1', 'attribute', 'attribute'), (78, '35', 'product', 'product'), (None, '

[2022-11-05 12:21] yellowmonarch opened #9616 "Wagtail 4.1: AttributeError: 'GenericForeignKey' object has no attribute 'verbose_name'"
### Issue Summary
An exception `AttributeError: object 'GenericForeignKey' has no attribute 'verbose_name'` occurs when trying to open the object usage report page. I did some experiments, and it turned out that the error only occurs if the object has a tag. Without tags, the page opens as expected.

![image](https://user-images.githubusercontent.com/75360541/200119559-0ac7d436-426d-4d84-a7bd-ef0a

[2022-11-05 14:58] gutogalego commented on #9616
Hey, can I take this issue? I'll have it fixed by today

[2022-11-05 15:21] Yekasumah commented on #9613
Hi, I would like to work on this issue. I have been able to replicate the issue on my end. Please do you have any more suggestions that can be applied to solving this issue?

[2022-11-05 17:11] gutogalego commented on #9616
Can I try and fix this one? I think I know what's causing it.

[2022-11-05 19:13] Scotchester commented on #9616
No need to ask permission @gutogalego :) Just try to confirm the bug with your own reproduction, then state that you are working on a fix.

[2022-11-06 02:55] lb- commented on #9496
@AnishaSingh0118 thanks but as per the previous comments and already linked PR it hopefully was quite clear that @xomcodes is actively working on this issue.

I appreciate your enthusiasm but stepping in over someone who is trying to learn is not ideal.

For now, can you close the PR that covers both issues and I suggest that @xomcodes you take a look at the PR for any inspiration.

[2022-11-06 02:57] lb- commented on #9493
@AnishaSingh0118 as per the other comment - https://github.com/wagtail/wagtail/issues/9496#issuecomment-1304702368

Another user @IvyJeptoo has already been assigned and indicated the are working on this.

[2022-11-06 06:52] AnishaSingh0118 commented on #9496
Ok, sure I am just trying from my end to help as much I can by constantly working and understanding the issues and coming up with a approach and get feedback. I am sorry if I came in way of someone else I have read somewhere "no need to ask if you have resolved the issue you could provide the efforts". So I got confused now 😅

[2022-11-06 09:29] grumpyp commented on #9613
A pretty easy way to solve it for now would be `[:45]` where `45`. What do you think?

[2022-11-06 13:08] Yekasumah commented on #9613
I've had a look at it. I think there should be an icon before the "Approve with comments and publish", I don't think having a second line would fit the UI

I also discovered this on the popup, the bottom isn't centered.
<img width="305" alt="Screenshot 2022-11-06 at 14 06 16" src="https://user-images.githubusercontent.com/105293813/200172466-b25a4d3e-da5e-42d5-9b3e-01f508324d11.png">

[2022-11-06 13:17] vorlif commented on #9613
I think the footer has a fixed width, and I believe the best solution would be for the footer to have a `min-width` and automatically grow with larger text. It should also have a `max-width` and cut off too long text with ellipsis points. The icon should always be displayed, regardless of the text.

The disadvantage of this solution would be that the footer would vary in width depending on the sta

[2022-11-06 14:46] AnishaSingh0118 commented on #9499
Can I put my efforts to this issue ?

[2022-11-06 14:49] salty-ivy commented on #9499
Hi @AnishaSingh0118 if you are a first time contributor I would recommend you to start with good first issues

[2022-11-06 14:51] AnishaSingh0118 commented on #9499
Oh! Ok.

[2022-11-06 14:55] AnishaSingh0118 commented on #9571
Is this issue still unconfirmed?

[2022-11-06 16:50] Theresa-o commented on #9571
Hello @AnishaSingh0118

I'm investigating the best way to solve this

[2022-11-06 17:50] AnishaSingh0118 commented on #9571
Ok, all the best.

[2022-11-06 20:01] salty-ivy commented on #7777
this is definitely working but how would it even help it save draft box is already covering up the view
![image](https://user-images.githubusercontent.com/74553951/200192246-a5c52daa-54bf-4ea2-b382-be34b9fe8078.png)

is there any other alternative ?or any way that this can be dealt with

[2022-11-06 22:12] lb- commented on #9576
Confirming this is broken. Also may be fixed with merged https://github.com/wagtail/wagtail/pull/9530

[2022-11-07 09:32] lb- commented on #9576
Fixed via https://github.com/wagtail/wagtail/pull/9530

5086257539c54f8674a33b48b52f39a61a76126e
5584b44ca72e091fadd5fb4d4ac3b116900da371 (4.1 stable)

[2022-11-07 09:32] #9576 closed

[2022-11-07 09:43] lb- commented on #9569
Confirming this is an issue.

<img width="1351" alt="Screen Shot 2022-11-07 at 7 42 46 pm" src="https://user-images.githubusercontent.com/1396140/200278563-c80f5f88-f67a-42d3-9493-bb8081c8fa28.png">

[2022-11-07 10:00] gasman commented on #9481
Fixed in #9528

[2022-11-07 10:00] #9481 closed

[2022-11-07 12:23] yakovyarmo opened #9621 "get_site_for_hostname doesn't support ipv6 [::1]"
when the host header is [::1] and there is no port I get the following:

[code]

it happens since `request.get_port()` return an empty string in this situation which later through an exception

-   I have confirmed that this issue can be reproduced as described on a fresh Wagtail project: yes

### Technical details

-   Python version: Python 3.8.10.
-   Django version: 4.0.7.
-   Wagtail version:

[2022-11-07 12:30] gasman commented on #9621
@yakovyarmo Please can you provide specific steps to reproduce this on a fresh Wagtail project? (In particular, we need to know where you're setting the hostname/port, and what action you're performing to trigger the error.)

[2022-11-07 12:57] nickmoreton commented on #9520
I can confirm this issue is present in 4.0.4 following an upgrade of an existing client site.

[code]

I have no user with the ID 8

Python version: 3.8.15
Django version: 3.2.16
Wagtail version: 4.0.4

[2022-11-07 12:57] yakovyarmo commented on #9621
I'm using a gunicorn over linux socket file.
Does it help?

[2022-11-07 13:09] yakovyarmo commented on #9621
I'm using nuxt 2 with axios as the client side, and axios is setting the host.
How can I upload the steps to reproduce?
It happens with every call when the http header is [::1]

[2022-11-07 13:24] gasman commented on #9621
You don't need to upload anything. Please describe, in words, the things that you did, starting with a new installation, to make this error happen. For example:

* install Wagtail with `pip install wagtail`
* Run `wagtail start myproject`
* From the root of the project, run `./manage.py migrate`
* Install gunicorn with `pip install gunicorn`
* Run `gunicorn myproject.wsgi`
* Visit `http://[::1]:80

[2022-11-07 13:47] yakovyarmo commented on #9621
- install Wagtail with pip install wagtail
- Run wagtail start myproject
- From the root of the project, run ./manage.py migrate
- Install gunicorn with pip install gunicorn
- Run --bind unix:gunicorn.sock gunicorn myproject.wsgi
- I start nuxt server and nuxt server take care of proxying the request to the linux socket file

[2022-11-07 14:16] gasman commented on #9621
`--bind unix:gunicorn.sock gunicorn myproject.wsgi` is not a valid command, and if nuxt server is required to reproduce the bug, then the steps need to include setting up nuxt server too.

Closing as invalid.

[2022-11-07 14:16] #9621 closed

[2022-11-07 15:58] gasman commented on #9615
Thanks! I see from the django-oscar code that [`value_entity` is a generic foreign key](https://github.com/django-oscar/django-oscar/blob/a253f65ab67343c68921f56981f49839d2e2fe1b/src/oscar/apps/catalogue/abstract_models.py#L1064-L1065), and the references index code [has a special case for those](https://github.com/wagtail/wagtail/blob/main/wagtail/models/reference_index.py#L264-L271) but doesn't

[2022-11-07 17:49] gasman commented on #9616
The root of this bug is that when you tag an document (using the default django-taggit model, as documents / images do), it creates a TaggedItem record that links back to the document via a GenericForeignKey. The references index then treats this as a reference to the document. However, GenericForeignKey does not have a verbose_name property, which the Usage page uses to indicate the field where t

[2022-11-07 22:29] #9494 closed

[2022-11-07 22:30] lb- commented on #8947
@Lovelyfin00  just a heads up `divider-before` is not used but `divider-after` is used in multiple places and serves a purpose.

![Screen Shot 2022-11-08 at 8 26 44 am](https://user-images.githubusercontent.com/1396140/200429145-7535c4ff-f6d9-4749-9a44-b4d5e7627350.png)

See the line between the 'filesize/usage' column.

We possibly could migrate that to Tailwind utility classes but just flagging

[2022-11-08 03:02] ayy-em commented on #9107
Confirming this to be the case on:
- Wagtail 4.1
- Django 4.1.2

collapsed=True was set on StreamField containing my `body` element, which the table was part of
kinda sucks that I now need to choose whether I want tables and endless scrolling or no tables

[2022-11-08 06:08] Seremba commented on #9030
Hi @thibaudcolas, is anyone working on this issue?

[2022-11-08 07:58] lb- commented on #9030
@Seremba feel free to give this a go as we have not heard back from @ForJessicaSake for some time.

[2022-11-08 09:44] AnishaSingh0118 commented on #9501
As part of my outreachy contribution, can i work on this issue ?

[2022-11-08 10:22] #9586 closed

[2022-11-08 10:33] AnishaSingh0118 commented on #9501
@rgs258 could to elaborate where this issues exist in UI?

[2022-11-08 11:51] AnishaSingh0118 commented on #8664
@lb- can i work on this issue ?

[2022-11-08 13:16] salty-ivy commented on #8990
@lelit are you still working on the issue? can i pick it up?

[2022-11-08 13:22] gasman opened #9629 "References index should follow many-to-many relations"
### Is your proposal related to a problem?

The references index (used for object usage reports) does not currently track many-to-many relations. For example, on bakerydemo, the usage count for a BreadIngredient snippet always shows "used 0 times" even if a published BreadPage exists with that ingredient ticked in its list.

### Describe the solution you'd like

[When iterating over a model's fiel

[2022-11-08 13:23] salty-ivy commented on #5989
@cnk  shall i work on this issue?

[2022-11-08 13:37] gasman commented on #9629
We'd also need to be careful about how to handle relations with 'through' models. As things currently stand, I think the through model will be picked up by the indexer as a model in its own right, and the ForeignKey relations from it to each side of the relation will be recorded as references. This probably isn't ideal, because it means the through model ends up being the one shown in usage report

[2022-11-08 13:52] OBKF opened #9630 "Error migrating from Wagtail version 4.0.4 to 4.1"
### Issue Summary
I tried to update my project from Wagtail version 4.0.4 to 4.1, but I got an error.

[code]

I have a custom user model (I followed the Wagtail documentation)
[code]
[code]

### Technical details

-   Python version: `3.10`.
-   Django version: `4.1.3`.
-   Wagtail version: `4.0.4`.

[2022-11-08 13:59] gasman commented on #9630
Thanks for the report @OBKF! This has been reported previously at #9586, and a fix will be part of the 4.1.1 release (hopefully within the next week).

[2022-11-08 13:59] #9630 closed

[2022-11-08 15:20] lelit commented on #8990
No, I couldn't dedicate any time yet, sorry. So, go for it, thank you!

[2022-11-08 16:17] gasman commented on #9563
Completed in #9602

[2022-11-08 16:17] #9563 closed

[2022-11-08 16:25] cnk commented on #5989
@salty-ivy Yes please this is still something that could use some attention. Please look at gasman's comments about how to preserve compatibility with existing table data. And if you have any questions, please post them here so Thibaud or I can advise.

[2022-11-08 16:33] salty-ivy commented on #5989
okay, thanks a lot !

[2022-11-08 18:01] #9616 closed

[2022-11-08 20:03] JeremyGibson commented on #7202
Just food for thought as you proceed with your excellent work and perhaps add a public api for these errors. I noticed during testing code that uses `StructBlockValidationError` that although the cms admin displays the errors in the correct place and with the correct message, the error messages are getting lost somewhere in the process of automated testing. AFAIK this also happens using django tes

[2022-11-08 20:29] lb- commented on #8664
@AnishaSingh0118  go for it - see the comments above and especially the ones about the proposed fixes so far not working in Safari.

Any solution here needs to be carefully tested on all supported browsers at all supported breakpoints and on long / short pages.

I have also given this one a go myself and could not really get to the bottom of it, but keen to get a new set of eyes on this.

[2022-11-08 20:38] truthdoug opened #9632 "Redirects documentation misspells "middleware""
In the [documentation for redirects](https://docs.wagtail.org/en/latest/reference/contrib/redirects.html) the code example includes `# all other django middlware first`. The word "middleware" is misspelled.

### Pertinent section of the Wagtail docs

https://docs.wagtail.org/en/latest/reference/contrib/redirects.html#installation

### Details

Fix the spelling

[2022-11-08 20:42] Theresa-o commented on #9632
Thank you for reporting this

[2022-11-08 21:22] #9632 closed

[2022-11-09 04:25] AnishaSingh0118 commented on #8664
Thank you, I will work and provide some way out.

[2022-11-09 07:58] Seremba commented on #9030
Hi @thibaudcolas @lb- would you mind helping me locate the file for these changes?

[2022-11-09 09:37] laymonage opened #9635 "Failing `DELETE` request on initial page editor load if custom CSRF header name is set"
### Issue Summary

If a custom CSRF header name is set using Django's [`CSRF_HEADER_NAME`](https://docs.djangoproject.com/en/4.1/ref/settings/#std-setting-CSRF_HEADER_NAME) setting, the following function in `preview-panel.js` fails to send the request to the server as the header name is hardcoded:

https://github.com/wagtail/wagtail/blob/2af187127100e92c6792cdcc6f5e0803f86e22ab/client/src/entrypo

[2022-11-09 11:17] #9515 closed

[2022-11-09 11:25] #9541 closed

[2022-11-09 11:32] #9540 closed

[2022-11-09 11:45] #9529 closed

[2022-11-09 12:12] #8835 closed

[2022-11-09 12:13] lb- commented on #9578
Can confirm this bug exists.

[2022-11-09 12:24] laymonage commented on #6987
We refactored how `serve_preview()` works in Wagtail 4.0 as we extracted preview-related methods to a [`PreviewableMixin`](https://github.com/wagtail/wagtail/blob/f77229da2a0dc93520b9083552d312217382de1a/wagtail/models/__init__.py#L566) so that it works with non-page models as well.

The `is_preview` and `patch_cache_control` stuff is now set in the `Handler` in `make_preview_request()`:

https://

[2022-11-09 12:55] #9578 closed

[2022-11-09 14:21] #9583 closed

[2022-11-09 14:21] #9615 closed

[2022-11-09 15:40] salty-ivy commented on #8990
Do we actually need the collapsing logic in contrast validation errors in collapsed section?
wouldn't this side vertical navigation panel is serving what this issue is asking for ?
![image](https://user-images.githubusercontent.com/74553951/200874480-8d9c2633-767a-4ad4-9a63-fbf7d758f7dc.png)

[2022-11-09 16:51] laymonage commented on #9459
Thanks for the report! PR: #9640

I assume the same could also happen with subclasses of `AbstractFormSubmission` and `PageRevision`. I added the same callout for `AbstractFormSubmission`, but I didn't bother with `PageRevision` as I don't see why people would subclass that model (and we renamed it to `Revision` in 4.0 anyway).

[2022-11-09 20:31] #9596 closed

[2022-11-09 20:38] lb- commented on #8731
`has-prototype-builtins` has been cleaned up via https://github.com/wagtail/wagtail/pull/9634

[2022-11-09 20:52] lb- commented on #9031
Partial work done via https://github.com/wagtail/wagtail/pull/9585

[2022-11-09 21:24] #9198 closed

[2022-11-09 21:34] #9505 closed

[2022-11-10 00:39] allcaps commented on #9613
Confirmed! Reproduced by:

1. New project
2. Open page editor
3. Use the browser inspector to create a long button text

Results:
- Icon gone
- Text clipped

Note:
- `text-overflow: ellipsis` isn't accessible. So, not a real option.
- Custom workflow steps can add buttons with long texts. This isn't a German language issue.
- On mobile viewports we have limited width, wrapping to new lines might b

[2022-11-10 00:57] allcaps commented on #9613
I've raised this issue on Slack in #ui and in #accesisibility

[2022-11-10 01:14] allcaps commented on #9613
Related issues:
- https://github.com/wagtail/wagtail/issues/4641
- https://github.com/wagtail/wagtail/issues/9073
- https://github.com/wagtail/wagtail/issues/9030
- https://github.com/wagtail/wagtail/issues/7366

[2022-11-10 04:51] salty-ivy commented on #8990
@lelit could you please confirm
The comment here? Just wanna understand the issue completely

[2022-11-10 05:25] benfroelich commented on #5898
port 443 helped me too. thank you. Using wagtail 4.0.4 django 4.0.8. With ssl deployed on heroku. In my case, to get the preview panel to work, I also needed to set `X_FRAME_OPTIONS = 'SAMEORIGIN'` in my settings file.

[2022-11-10 05:35] salty-ivy commented on #8990
![image](https://user-images.githubusercontent.com/74553951/201008859-c8280740-097b-4342-81e4-3bf6e58e1f6d.png)
as you can see its clearly navigating us to the errored block
@lelit  @thibaudcolas

[2022-11-10 06:28] lelit commented on #8990
It's nice that the UI gets better so fast! :wink: Many thanks to everybody's involved!
I didn't have the occasion to try out that enhancement, that surely looks pretty, but I'm not in position to judge it as _good enough_ right now, sorry.
I'll do my best to try it out in the following days, so to be able to give a more informed opinion.

[2022-11-10 06:50] salty-ivy commented on #8990
surely try it out at your ease, and see if it serves the purpose of this issue, then we can close  this issue on that basis

[2022-11-10 07:58] thibaudcolas commented on #9613
Thank you for the report @vorlif! In this case I think the text could simply be displayed wrapped over multiple lines when it exceeds the width of the component. This would work regardless of the available width the dropdown is displayed at, which is important so this works on small screen widths too.

[2022-11-10 08:10] thibaudcolas commented on #9613
As far as I can see the base issue can be fixed by setting those buttons to `white-space: initial;` thus resetting the `nowrap` value set on all buttons. The icon issues can be fixed by setting `flex-shrink: 0;`. If we want to allow the text to wrap to more than two lines, we can override the `height` to `auto` and set the button’s `min-height` to 3em.

[2022-11-10 09:37] allcaps commented on #9613
Thank you for your guidance, I'll give it a go.

[2022-11-10 12:13] AnishaSingh0118 commented on #9613
Can I work on this issue @thibaudcolas ?

[2022-11-10 12:44] dkirkham opened #9641 "Comments on InlinePanel fields not linked to correct field instances"
### Comments on InlinePanel fields not linked to correct field instances
Comments placed against fields in an InlinePanel (ie. Orderable) do not stay linked to the original field, they usually end up next to the last instance on the editor page.

Furthermore, if the field name in the Orderable also appears in the containing Page, a comment against the Page version of the field finds its way to the

[2022-11-10 14:58] allcaps opened #9642 "Collapsed minimap overlaps the arrow up button"
### Issue Summary

The minimap overlaps the arrow up button in the action menu (footer).

### Steps to Reproduce

1. Start a new project with `wagtail start myproject`
2. Use a small viewport width
3. The arrow up button is behind the minimap.

<img width="971" alt="Screenshot 2022-11-10 at 15 48 19" src="https://user-images.githubusercontent.com/1969342/201124089-55c421e6-8d86-4d59-85f1-af3bb8da1

[2022-11-10 15:00] allcaps commented on #9613
I'm working on it.

[2022-11-10 15:19] AnishaSingh0118 commented on #9642
Can I work on it?

[2022-11-10 22:00] #1267 closed

[2022-11-10 22:08] #9496 closed

[2022-11-11 03:14] AnishaSingh0118 commented on #8664
https://user-images.githubusercontent.com/76876709/201254796-e924f13e-6b08-4079-b8e6-4398108b96af.mp4

@lb- Current status of wagtail in safari browser. (BROKEN/FAILED CSS).

[2022-11-11 11:59] AnishaSingh0118 opened #9644 "Local setup Error for Safari Browser"
### Issue Summary

- No proper Documentation for Safari/LINUX (Ubuntu)

- User interface is broken in Safari Browser, functions are not working properly (settings, images nothing is working and if the page gets opened the contents are overlapping and are non-functional).

- Tried 2 different versions of Safari, still faced same issue.

- CSS_ throws error in safari browser, attaching a snap/video

[2022-11-11 12:10] AnishaSingh0118 commented on #9178
can you please indicate where is exactly you facing this issue on which page ?

[2022-11-11 12:13] #9644 closed

[2022-11-11 12:14] AnishaSingh0118 commented on #9644
Closing this and filing this again properly.

[2022-11-11 12:21] AnishaSingh0118 opened #9645 "Local setup Error for Safari Browser"
### Issue Summary

- No proper Documentation for Safari/LINUX (Ubuntu)

- User interface is broken in Safari Browser, functions are not working properly (settings, images nothing is working and if the page gets opened the contents are overlapping and are non-functional).

- Tried 2 different versions of Safari, still faced same issue.

- CSS_ throws error in safari browser, attaching a snap/video

[2022-11-11 12:45] laymonage commented on #9645
Safari 10 is old and it's no longer supported by Apple, thus I don't think we support it. Try using a more recent version of Safari (though you may need to use a more recent version of macOS).

[2022-11-11 12:49] minusf opened #9646 "template glitch in "Pages using ...""
### Issue Summary

The `/usage/` urls template needs a small fix, as the listing header has checkboxes and the content doesn't:

<img width="837" alt="Screenshot 2022-11-11 at 13 26 52" src="https://user-images.githubusercontent.com/3632883/201340475-39086a91-78c0-4e4f-917f-511fd8afb997.png">

This seems to fix it for me:

[code]

### Steps to Reproduce

1. Start the process of adding a new page
2

[2022-11-11 13:14] gasman commented on #9645
See https://docs.wagtail.org/en/stable/contributing/developing.html#browser-and-device-support for the current range of supported browsers - macOS Safari is currently on version 16, so versions 14-16 are supported.

[2022-11-11 13:36] AnishaSingh0118 commented on #9645
I will try to reproduce this issue in new version. Thanks for letting me know.

[2022-11-11 13:37] dopry commented on #7720
@gasman I'm familiar with how search engines work.  I agree changing the default behavior of search probably isn't the solution to this issue. The assertion that substring matching closes off the possibility of applying more advanced kinds of word based analysis is false. Substring matching can be applied to stems as easily as full string matches. Some search engines even offer different match sco

[2022-11-11 13:37] AnishaSingh0118 commented on #9645
Ok, Thanks for letting me know.

[2022-11-11 13:53] AnishaSingh0118 commented on #9645
Kindly open this issue again, i have updated my issue summary.
Mac OS version: macOS Catalina `10.15.7`
 Safari version: `16.0`

[2022-11-11 14:42] gasman commented on #9635
Fixed in #9636

[2022-11-11 14:42] #9635 closed

[2022-11-11 16:14] gasman commented on #9520
Fixed in #9531.

[2022-11-11 16:14] #9520 closed

[2022-11-11 21:41] gasman commented on #7720
@dopry My point is that exact matching on tokens is the most basic, minimum-viable-product mode of operation for a search engine - everything else is essentially adding layers of "fuzziness" on top of that base case. (Yes, you could take that MVP search engine and swap out the exact lookup for a substring lookup with relatively little effort, and thus make the fuzzy variant the base case - but the

[2022-11-12 00:14] dopry commented on #7720
I think you points on backwards compatibility make sense. I'm not really talking about the technical aspects of .search() or the architecture. I'm talking about the experience of using search as an end user. Which is off topic, so I'll try to structure my thoughts in an RFC.

I did experience search not returning partial matches with postgres with `partial_match=True`, which is what landed me here

[2022-11-12 01:55] lb- commented on #9420
@Dev-Liz this is good to go know if you are still keen as 4.1 is out.

[2022-11-12 01:55] lb- commented on #9420
Or @benitaanawonah if you wanted to pick this up

[2022-11-12 03:48] Dev-Liz commented on #9420
Yes, I am please @lb-. Will work on it today.

[2022-11-12 04:28] lb- commented on #9420
Thanks @Dev-Liz go for it. Reach out if you need a hand.

[2022-11-12 07:08] Dev-Liz commented on #9420
Alright, thanks @lb-

[2022-11-12 10:38] AnishaSingh0118 commented on #7210
@lb- @tbrlpld I have not seen any update on this issue so i would like to take up this issue as I have an idea to resolve it.

[2022-11-12 21:40] jeriox commented on #4297
Also bumped into this issue and would be happy to see this addressed

[2022-11-12 21:43] Dev-Liz commented on #9420
Hello @lb- I'm currently at the second step of the wagtail docset Readme.md instruction:

**- Install the package (in a virtualenv) and install the testing and docs requirements.**

Trying to install the testing and docs requirements using the command `pip install -e '.[testing,docs]' -U`

But I keep getting this error:

`pip install -e '.[testing,docs]' -U
Obtaining file:///C:/Users/pc/Desktop/Ou

[2022-11-13 06:34] dkirkham opened #9652 "User-defined Icons for Pages and Snippets"
### Is your proposal related to a problem?

Pages and Snippets each have their own icons which are used throughout the page editor, choosers, etc.

<img width="379" alt="image" src="https://user-images.githubusercontent.com/1977376/201508633-d110eedc-f6df-46fa-ad78-b67d3d33988d.png">

Pages and Snippets however frequently represent some thing more real:
* an Author Page, which includes a profile o

[2022-11-13 16:20] konsalex opened #9654 "InlinePanel wrong widget template"
### Issue Summary

InlinePanel does not respect the custom widgets, and end up rendering a Text field.

### Steps to Reproduce

1. Create a simple page mode
2. Install django-recurrence
3. Create a linked model  (in my case code below)

[code]

5. Use the link model from the page model with the code:

[code]

As you can see the inline panel is using the text field widget rather than the one provid

[2022-11-13 21:42] ababic opened #9655 "Log entry managers use ContentType.objects.get_for_model() inconsistently"
### Issue Summary

When using `BaseLogEntryManager.log_action()` to save a new entry to the database,`ContentType.objects.get_for_model()` is called using the `for_concrete_model= False` option, which will result in a `ContentType` for a proxy model being returned (when `instance` is an instance of a proxy model).

See: https://github.com/wagtail/wagtail/blob/main/wagtail/models/audit_log.py#L109-

[2022-11-14 10:54] onno-timmerman opened #9656 "default meta description value"
When you start fresh project (wagtail 4.1.1) then you get some nice default file. In your templates you will find base.html and will see that the title of the page is already filled in to the common pattern you will use for wagtail
But the default meta description is **empty**. You can have several meta description strategies but in wagtail we have a dedicated field.
Maybe this should be in the de

[2022-11-14 11:10] lb- commented on #9656
Good idea. Maybe we should have some basic logic to check the description exists (I'm not sure on the rules with meta tags with empty values though - maybe it's ok).

Here are some links to examples from other projects.

https://github.com/wagtail/guide/blob/main/apps/core/templates/base.html#L16

https://github.com/wagtail/wagtail.org/blob/main/wagtailio/templates/base.html#L8

I'll flag as a goo

[2022-11-14 11:30] AnishaSingh0118 commented on #9656
Hello @onno-timmerman @lb- currently in the description it is showing empty so what exactly should be there could you provide some ideas/examples so that I could work on this issue.(being the good first issue).

[2022-11-14 11:35] onno-timmerman commented on #9656
Either you place page.search_description
<meta name="description" content="{{ page.search_description }}" />

Or maybe something basic function you can override. So a dev can say something like

def seo_description(self):
   return self.search_description

That way you can put any some logic in the seo_description. My guess is if you know howto then you can do that easy yourself. Although it alway

[2022-11-14 11:37] AnishaSingh0118 commented on #9656
Ok, thanks for your help and support.

[2022-11-14 11:48] sfriedel opened #9657 "Elasticsearch 7 search backend: search() and autocomplete() produce identical queries"
### Issue Summary

I noticed that searches performed with `queryset.autocomplete(...)` got results based on matches in fields that were not defined as a `index.AutocompleteField`. After looking at the backend implementation it turns out that both the `Elasticsearch7AutocompleteQueryCompiler` and `Elasticsearch7SearchQueryCompiler` produce identical queries.

### Steps to Reproduce

1. Start a new

[2022-11-14 12:10] laymonage opened #9658 "Inconsistent heading styles on top-level fields in the page editor"
### Issue Summary

The headings styles on top-level fields are inconsistent in some cases due to incorrect selectors.

- For top-level fields with a `<label>` inside the `<h2>` element, `cursor: pointer` is not applied because it's overridden by the browser defaults.
  <img width="722" alt="image" src="https://user-images.githubusercontent.com/6379424/201656333-14e4ee7e-c136-49f3-8f9f-9c40cb83c914

[2022-11-14 14:43] laymonage opened #9661 "Crash when reverting to a revision on snippets with `PreviewableMixin` and `RevisionMixin`"
### Issue Summary

When reverting to a revision on snippets with `PreviewableMixin` and `RevisionMixin` applied, the server crashes with a `NoReverseMatch` exception: `Reverse for 'None' not found. 'None' is not a valid view function or pattern name.`

This is because the `preview_url_name` is not passed from the `SnippetViewSet` to the `revisions_revert_view`. The revisions revert view class is a

[2022-11-14 15:43] kevinhowbrook opened #9664 "Move page slug field out of promoted panels and couple it with the title"
### Is your proposal related to a problem?

I think the slug field being part of the 'For search engines' panel by default doesn't really make much sense. Because it's not really just for search engines, or at least as much as the other fields. [code ref](https://github.com/wagtail/wagtail/blob/78a7652f6b6495c6e145cf7aa0774f4b0690b6f0/wagtail/admin/panels.py#L1231).

### Describe the solution you'

[2022-11-14 16:12] jessemenn opened #9666 "Barriers for speech recognition users"
### Issue Summary

These were raised during a demo from a Dragon AT user. Hopefully I've represented them correctly.

Wagtail has some barriers for Dragon AT, and likely other speech recognition software, users.

Dragon crashes Wagtail 3's rich text editor. In Wagtail 4, Dragon does not recognize the rich text editor as an editable field.

Wagtail 4 UI has more issues:

- Unable to engage with min

[2022-11-14 16:31] laymonage opened #9667 "Grey background when editing a short page/snippet and a message is shown"
### Issue Summary

When editing a page or snippet that has a short content so that the whole form takes less space than the available vertical viewport space, and a message from Django's messages framework is shown on the page, a grey background can be seen at the bottom of the page:

<img width="1167" alt="image" src="https://user-images.githubusercontent.com/6379424/201713228-a003b7ef-7dbe-4279-

[2022-11-14 16:48] Dev-Liz commented on #9420
### Wagtail version 4.1 docset

[Kapeli/Dash-User-Contributions#3984](https://github.com/Kapeli/Dash-User-Contributions/pull/3984)

[2022-11-14 19:30] lb- commented on #9667
See also potentially related issues.

https://github.com/wagtail/wagtail/issues/9199
https://github.com/wagtail/wagtail/issues/8664

[2022-11-14 21:54] lb- commented on #9420
@Dev-Liz  looks like you got it sorted - well done!

[2022-11-14 22:04] dkirkham commented on #9652
I missed these contributions from 2017, #4040 and #4095, which suggest other ways to request a non-default snippet icon.

[2022-11-15 07:08] salty-ivy commented on #9521
@Headon1729  are you still working on it? shall i take this one up?

[2022-11-15 07:12] Dev-Liz commented on #9420
Thank you! @lb I got some help from @activus-d

[2022-11-15 10:07] onno-timmerman opened #9669 "Code snippets should include import lines"
https://docs.wagtail.org/en/stable/topics/streamfield.html#subclassing-structblock

You are programming but forget what to import for example for the above link. You want todo a quick lookup in docs for it.  Or even worse you are new to python and Django and Wagtail. And would like to start testing out what these docs say. Especialy in the latter case you can feel very lost to what to import and t

[2022-11-15 10:17] zerolab opened #9670 "Disable commenting-related functionality across the board if commenting is disabled"
When `WAGTAILADMIN_COMMENTS_ENABLED = False`, we still have a number of areas that do unncessary processing.

e.g. `PageSubscription`s get created (https://github.com/wagtail/wagtail/blob/1af0815af0baaca801e2a09169d461a259f731ea/wagtail/admin/views/pages/edit.py#L353-L360)

Would be great to treat `WAGTAILADMIN_COMMENTS_ENABLED` as a feature flag

[2022-11-15 13:54] biofsphere commented on #9178
The issue is not page specific. It happens whenever a model with enough columns is brough into Wagtail. The admin page overlap the far right columns with the filters area.

[2022-11-15 14:06] laymonage opened #9671 "Unschedule publishing view does not follow `next` parameter"
### Issue Summary

When clicking on the `Cancel scheduled publish` button in the page editor, the response redirects to the page history view instead of returning to the same edit view.

<img width="808" alt="image" src="https://user-images.githubusercontent.com/6379424/201938745-f11bf4e9-9793-47e4-8b8c-3ed938d22e4a.png">

This is a regression when we extracted the unschedule view into a generic c

[2022-11-15 15:08] onno-timmerman opened #9674 "image browser css GRID"
On the danger of **nitpicking** I got the following remark.  Installed fresh project wagtail 4.1 today and uploaded a first image.
When looking at the image browser I noticed that the image is in the middle. Inspecting the CSS panel I notice that the CSS is has css class of "listing.horiz" in there we find a a GRID css that says grid-template-columns: repeat(**auto-fit**,minmax(210px,1fr));

I thi

[2022-11-15 15:12] #1958 closed

[2022-11-15 15:16] thibaudcolas commented on #1836
Closing! Reading through the messages, I believe this is no longer relevant as of Wagtail 4.0 with the auto-refreshing live preview. Viewing the draft is just a matter of opening the preview panel.

[2022-11-15 15:16] #1836 closed

[2022-11-15 15:31] thibaudcolas commented on #8990
I don’t think the new minimap component should be considered as part of this issue. Please re-review my comment at https://github.com/wagtail/wagtail/issues/8990#issuecomment-1279536431 – some parts of the form will reveal themselves when there are errors within, there’s no reason we wouldn’t want that for all parts of the form.

[2022-11-15 15:34] salty-ivy commented on #8990
Well sure ahead just wanted to confirm it out, in that case I shall begin working on it soon

[2022-11-15 20:11] lb- commented on #9420
This has been merged into the Dash project.
@Dev-Liz can you do a new PR to this Wagtail project with a changelog entry?

[2022-11-15 21:47] Dev-Liz commented on #9420
Sure! @lb- how do I go about that, please??

[2022-11-15 22:21] konsalex opened #9679 "Wrong widgets when using a custom one"
Using Wagtail `4.1.1` but also can confirm that happens to `4.0.4` also.

The issue as can see in the video below is that when I attach a custom widget to a field panel, the native DateTime field is not working as expected

https://user-images.githubusercontent.com/12672541/202036625-47cdac26-a981-4764-b163-2f186986877c.mp4

### Steps to Reproduce

1. Import a simple Django model with a DateTime f

[2022-11-15 22:27] konsalex commented on #9679
Also when overriding the FieldPanel of  `your_datetime_field` with a widget of `widget=widgets.AdminDateTimeInput` it is still getting ignored

[2022-11-15 22:35] lb- commented on #9420
@Dev-Liz  just do a PR similar to this one, in fact, update that same line with the version list updated and your name added.
https://github.com/wagtail/wagtail/pull/9460/files

You will need to make a new branch off wagtail/main and prepare a normal PR

https://github.com/wagtail/wagtail/blob/1af0815af0baaca801e2a09169d461a259f731ea/docs/releases/4.2.md?plain=1#L18

[2022-11-15 22:36] konsalex commented on #9679
Update:
Actually it was working the issue was in the widget and a JS conflict with Jquery
[code]

[2022-11-15 22:36] #9679 closed

[2022-11-15 22:39] gasman commented on #9679
@konsalex Glad you got it sorted! Is #9654 the same issue?

[2022-11-15 22:42] konsalex commented on #9679
Hey @gasman no, the other is using a native one from Django-recurrence which works if the widget is not inline, so a fair guess would be not the same issue?

[2022-11-15 23:37] Dev-Liz commented on #9420
Alright, noted!

[2022-11-16 02:26] mikaraunio opened #9680 "Snippet `ManyToManyField` fields not handled properly by `RevisionMixin` and `DraftStateMixin`"
### Issue Summary

Changes to a snippet's `ManyToManyField` selections are ignored by `RevisionMixin`. If `DraftStateMixin` is also used, those changes are lost when saving.

### Steps to Reproduce

With the following models, do the following in the Wagtail admin:

1. Create some `Category` objects
2. Create a `TestSnippet` object
3. Edit the created `TestSnippet`, and change its `Category` select

[2022-11-16 08:58] laymonage commented on #9680
Hi, thanks for the report! This should've been documented, but I believe that just like `Page`s, you'll need to use [django-modelcluster's `ParentalManyToManyField`](https://github.com/wagtail/django-modelcluster#many-to-many-relations) instead of Django's `ManyToManyField` (same with `ParentalKey` instead of `ForeignKey`) if your snippet has the `RevisionMixin` applied.

I'll look into this when

[2022-11-16 09:51] #8235 closed, assigned to nobody

[2022-11-16 10:06] Dev-Liz commented on #9420
Done! @lb-

[wagtail-4.1 documentation entry](https://github.com/wagtail/wagtail/pull/9681)

[2022-11-16 10:11] lb- commented on #9420
Merged in via a8abb58ccf69581c0a69091d37eba609bfcbdf48 & #9681

[2022-11-16 10:55] tmechsner commented on #8678
Same problem here, also when running wagtail locally. Version: 3.0.2

[2022-11-16 11:05] Lovelyfin00 commented on #8731
Hi @lb-
I want to pick up and start working on `'no-plusplus': 'off'`
Is that the only rule that is left to be removed on this issue?

[2022-11-16 11:30] lb- commented on #8731
@Lovelyfin00

There are a few PRs already up but waiting on other core team to review, and after that I think a few small rules to turn off globally but getting the no-plusplus done will be pretty awesome.

Please note that when we have a for loop, usually it is to solve one of two problems;

* a. doing something for each item in an array - in that case we should try to use `array.forEach` https:/

[2022-11-16 12:04] onno-timmerman opened #9683 "devdocs.io"
Just found out today about devdocs.io. Its nifty to quick lookup docs even if you are offline. Ideal when you are on the road or without electricity/internet.
However Wagtail is missing. Maybe its a good idea to add it?

https://github.com/freeCodeCamp/devdocs/blob/main/docs/adding-docs.md

[2022-11-16 13:08] zerolab commented on #9683
@onno-timmerman had a brief look at those instructions, and as far as I can understand it one needs to add a separate scraper to devdocs.

We already support [Dash](https://kapeli.com/dash) and [Zeal](https://zealdocs.org/) via community contributions.
I am not sure we can accommodate multiple platforms as a core team, but there is nothing to stop the community from owning that, so feel free to co

[2022-11-16 14:32] emilytoppm opened #9685 "Enable InlinePanel commenting"
### Is your proposal related to a problem?

When https://github.com/wagtail/wagtail/pull/9649 is merged, commenting on `InlinePanels` will be disabled. This is a feature that was never intended to be enabled without further development, so had a number of issues: child models that aren't yet saved to the database do not have a stable way to identify them at present, causing issues tracking which c

[2022-11-16 15:02] stanpresshook opened #9686 "image format-png fails in template when image mode is CMYK"
### Issue Summary

When leveraging using the `image` template tag alongside `format-png`, an OSError is thrown if the image file is in `CMYK` mode.

### Steps to Reproduce

1. Upload an image to the wagtail admin that is in CMYK mode
2. Render the image in a template using `format-png`

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen in

[2022-11-16 15:10] salty-ivy commented on #9521
@lb- should pick this one up seems like @Headon1729  is not responding , off the issue

[2022-11-16 16:26] gasman commented on #9671
Fixed in #9672

[2022-11-16 16:26] #9671 closed

[2022-11-16 16:46] gasman commented on #9661
Fixed in #9663

[2022-11-16 16:46] #9661 closed

[2022-11-16 19:19] lb- commented on #9521
Go for it @salty-ivy

[2022-11-16 19:31] lb- commented on #9683
I'll flag this as a good first issue - anyone is free to pick up this and go ahead with a PR on the external repo.

[2022-11-16 19:35] lb- commented on #7841
Wagtail's website repo has now been updated.

https://github.com/wagtail/wagtail.org

I'll check those last two items and close this issue.

If there is anything else missing we can raise a new issue or address as its found.

[2022-11-16 19:35] #7841 closed

[2022-11-16 19:41] lb- commented on #7841
https://github.com/wagtail/wagtail-localize-git/issues/27 raised for the only reference I could see that was not yet done from comments

[2022-11-16 20:32] salty-ivy commented on #9521
[code]
this seems to throw an error, i think we need to find the other way around using trans and if else logic

![image](https://user-images.githubusercontent.com/74553951/202287772-a8fa1903-e42e-4ad4-b400-9eb47fb17f61.png)

[2022-11-16 20:39] lb- commented on #9521
Sorry that code was just a rough start/guide - I didn't actually test it.

[2022-11-16 20:42] lb- commented on #7210
Thanks @AnishaSingh0118 - I see you have a PR up & appreciate you checking

[2022-11-16 20:45] salty-ivy commented on #9521
I even tried this logic , given the previous error and fact that only else statement is invoked make it seems like errors_count is not actually a number or int

[code]

[2022-11-16 20:47] lb- commented on #9030
@Seremba have a look at this PR - it touches the same area of the UI.

https://github.com/wagtail/wagtail/pull/9643

However, it's good to learn how to find these things yourself. The best way is to look at the CSS classes in the DOM and search through the code in your editor.

[2022-11-16 20:52] mikaraunio commented on #9680
@laymonage Thanks. I tried `ParentalManyToManyField`, the field then no longer saves changes – with or without `RevisionMixin`.

Guessing `ParentalManyToManyField` requires inheriting from `modelcluster.models.ClusterableModel` instead of `models.Model`. Will try and see how that works.

[2022-11-16 20:59] lb- opened #9688 "Documentation content copyright should align with the code licence"
### Footer copyright notice

Currently the footer copyright notice calls out the documentation content as under copyright.

However, this is probably not correct as the content comes under the same licence as the code BSD - https://github.com/wagtail/wagtail/blob/main/LICENSE

I propose we update this to something like...

Alternatively we update this to be CC0, as per the Wagtail guide.

### Deta

[2022-11-16 21:02] lb- commented on #9521
@salty-ivy ok - do a bit more digging - feel free to propose a better solution. My suggestion above for a fix was only done super quickly without spending too much time on this.

[2022-11-16 21:40] lb- commented on #9641
Can confirm this issue.

Attempted to add to form field 4 of 6 (inline panel orderable for form page)

<img width="1115" alt="Screen Shot 2022-11-17 at 7 38 15 am" src="https://user-images.githubusercontent.com/1396140/202300181-1e553fbd-3076-4c9c-92b5-bdf4935660d4.png">

But when page saved, the comment was there but attached to the  wrong item (last one instead).

<img width="1097" alt="Screen S

[2022-11-16 21:42] salty-ivy commented on #9521
yea as errors_count is not set correctly that's why i was looking for context code 😅

[2022-11-16 21:49] lb- commented on #9685
A few thoughts

* We could do a partial solution by only allowing comments on items already in the database (however, this would be super confusing for users)
* We should, when re-enabling, either ensure we consider what will happen to comments already in the DB from when this feature used to work-(ish)

[2022-11-16 21:55] #9641 closed

[2022-11-16 23:47] mikaraunio commented on #9680
Confirm that switching from `Model` to `ClusterableModel` seems to make everything work here.

Also, have now switched over all my existing snippets to `ParentalManyToManyField` and migrated, and not seeing any data loss or oddities.

Would be good to have official confirmation that this is the way to go, and agree the docs should then be updated.

For others who might be facing this, here's the "

[2022-11-17 00:10] AnishaSingh0118 commented on #9688
Can I work on this issue ?

[2022-11-17 02:12] lb- commented on #9688
@AnishaSingh0118 this is probably something we will wait on others in the core team to agree on.

I'll flag this as needs decision.

[2022-11-17 04:33] AnishaSingh0118 commented on #7210
Thank you for responding.
It's my pleasure :)

[2022-11-17 04:36] AnishaSingh0118 commented on #9688
Ok, no problem.

[2022-11-17 06:46] schinckel opened #9690 "Wagtail breaks migrations for apps with data migrations"
### Issue Summary

Wagtail installs a post_save receiver, which is present during migration runs.

If any data migrations are run before all of wagtail's migrations, then this causes migrations to fail.

### Steps to Reproduce

The commit where it was introduced is:

https://github.com/wagtail/wagtail/commit/212b2e19a680410ac1ab3fe4f18cdcb318afaa67

It can be fixed by ensuring that the first data

[2022-11-17 08:21] #9495 closed

[2022-11-17 08:27] lb- commented on #7168
See potentially related/similar issue - https://github.com/wagtail/wagtail/issues/6919

[2022-11-17 09:22] Theresa-o commented on #9674
Thank you for reporting @onno-timmerman, I would investigate this and provide feedback shortly.

[2022-11-17 10:29] salty-ivy commented on #9521
@lb- are we sure about the fact that context has been passed through normal way through views and classes or is there any unknown way like may be through static js or any other way ?

[2022-11-17 10:39] lb- commented on #9521
Sorry - not sure on that.

[2022-11-17 11:45] AnishaSingh0118 commented on #9178
Hello @biofsphere .. could you clarify should I make these changes ?

![IMG_20221117_171329](https://user-images.githubusercontent.com/76876709/202437726-d6ce8032-0182-4631-a892-169fe17abd75.jpg)
![IMG_20221117_171358](https://user-images.githubusercontent.com/76876709/202437760-a2fdd637-7ae8-4024-b1a5-14b6714afd58.jpg)

[2022-11-17 11:52] laymonage commented on #9680
Thank you @mikaraunio! Pretty sure that `ParentalKey` and `ParentalManyToManyField` only changes the application-level representation of the fields, (i.e. the database representation is the same as that of `ForeignKey` and `ManyToManyField`), so there should be no data loss (as you confirmed).

For slightly more technical details, the `RevisionMixin` relies on the `serializable_data()` and `from_s

[2022-11-17 12:16] gasman commented on #9178
@AnishaSingh0118 The screenshot you've posted doesn't seem to relate to this issue.

(To be clear - @biofsphere is just the reporter for this issue, not a member of the Wagtail core team, and is not in a position to advise on what you should work on.)

[2022-11-17 12:33] AnishaSingh0118 commented on #9178
Oh, ok may be i posted the wrong image. I will update on this.

[2022-11-17 12:37] AnishaSingh0118 commented on #9656
@onno-timmerman .. Could you suggest which one I am trying to fix is appropriate for this particular issue so that I can have a better idea towards it.

1)
![IMG_20221117_171329](https://user-images.githubusercontent.com/76876709/202447850-6f26334b-dfe9-46ad-aba6-3db916539f74.jpg)

2)
![IMG_20221117_171358](https://user-images.githubusercontent.com/76876709/202447881-3167acc2-7840-4f0b-80cc-da63c1

[2022-11-17 13:36] onno-timmerman commented on #9656
You can fill this in but in the default template that Wagtail deliver base.html the tag is not filled in. It would be nice that its by default there just like the title meta tag

 <meta name="description" content="" />

[2022-11-17 13:37] jessemenn commented on #9666
User alerts me that I misstated:

From user:

Using Wagtail 3, I've never actually said "click collapse…" for showing or hiding a field. It's only in Wagtail 4, where I experimented with the new expandable and collapsible sections, where I have tried to use voice to expand or collapse those sections. It's because the chevron behaviour suggests the words "expand" and "collapse" that I assumed sayin

[2022-11-17 14:20] laymonage opened #9692 "`django.db.utils.ProgrammingError: can't adapt type 'dict'` against Django main"
### Issue Summary

As of https://github.com/django/django/commit/5c23d9f0c32f166c81ecb6f3f01d5077a6084318 in https://github.com/django/django/pull/16297, our tests fails against Django's `main` branch.

That commit separates how `JSONField` and its lookups serialise the data. Previously, the serialisation is handled in `get_prep_value()`, which is database-agnostic. As of that commit, the serialis

[2022-11-17 15:28] allcaps commented on #9232
A bit late, but might be useful in the future: https://github.com/wagtail/bakerydemo/pull/368

[2022-11-17 15:44] mikaraunio commented on #9680
Thanks @laymonage! #9691 looks good to me.

[2022-11-17 15:47] salty-ivy commented on #9521
@lb-  so far i have looked into it a little couldn't find any reference to errors_count,
so far i have found this react tsx  file that refers to errors_count, https://github.com/wagtail/wagtail/blob/119f288a3cf91775687aafffe19ac4c92bb45e0a/wagtail/admin/templates/wagtailadmin/shared/tabs/tab_nav_link.stories.tsx#L28

i couldn't figure out much about it, could you please have a look,

[2022-11-17 15:52] salty-ivy commented on #9521
would soon still look more into it

[2022-11-17 16:07] salty-ivy commented on #9521
also the div still inherits ```!w-flex``` class which was not supposed to be assigned to it considering the code changes

[2022-11-17 16:23] #9658 closed

[2022-11-17 16:37] #9613 closed

[2022-11-17 16:40] thibaudcolas commented on #9613
Thank you @allcaps! This will be fixed in v4.1.2 and the February release.

[2022-11-18 07:39] TonisPiip commented on #8990
Would it be possible to have a quick fix to show which section has the error using the has() css selector?  :thinking:

has() doesn't have full browser support, but it's something anyone can add, even when using older versions of TW.

[2022-11-18 10:59] lelit commented on #8990
I did a quick upgrade of one of my apps to Wagtail 4.1.1, just enough to have a better idea of the new edit UI.

The vertical navigation panel is nice and handy, but at least with my configuration (remember, I'm using the new default of collapsing all sections) is not ideal: when I have an error in one of the section, I see the red badge in the side navigation, but clicking on it has basically no

[2022-11-18 14:06] #8160 closed

[2022-11-18 15:12] thibaudcolas commented on #9545
I believe this has been addressed by #9517? This is a different solution so we might want to do more but at least for the time being the relationship with treebeard seems clear to me.

[2022-11-18 15:12] #9545 closed

[2022-11-18 15:16] thibaudcolas commented on #9342
Confirmed! Thank you for the report @Lovelyfin00.

I’m not sure what’s happening here, but yes you’d expect clicking the toggle to _close_ the userbar when it’s opened.

Relevant code: https://github.com/wagtail/wagtail/blob/main/client/src/entrypoints/admin/userbar.js

[2022-11-18 22:03] thibaudcolas commented on #7210
I’ve marked #9651 as a fix for this, and it seems to me like an improvement to the status quo, however I don’t think I understand the bug report as stated here.

Our TextField implementation uses jQuery’s autosize widget, which is meant to control the height of the textarea on users’ behalf. We can allow both horizontal and vertical resizing but ultimately vertical resizing will be updated by the

[2022-11-18 23:01] gasman commented on #9692
Thanks @laymonage - I really appreciate your inside view on this. I can't imagine how long it would have taken to untangle this for myself!

So, to make sure I'm following this correctly:

* Despite StreamField not actually being a JSONField, the `filter(body__contains=value)` still (somehow) correctly identifies `django.db.models.fields.json.DataContains` as the lookup class it should be using.
*

[2022-11-18 23:07] #9543 closed

[2022-11-18 23:08] thibaudcolas commented on #9543
Fixed in #9549 for DateField, DateTimeField, TimeField. If there are other fields where we still don’t do this right please open a new ticket.

[2022-11-18 23:20] allcaps commented on #9669
The imports are introduced when needed. So the first snippet has most imports. Only if a new import is required, it is added. See a few snippets down, `import datetime` is introduced. This pattern is very consistent throughout the docs.

Repeating all imports on each and every snippet will make the snippets longer than necessary. The repetition of similar imports will feel complex and bloated.

[2022-11-18 23:28] gasman commented on #7210
@thibaudcolas My impression is that the intent of the code in jquery.autosize.js was to disable the ability to vertically resize the textarea by dragging, so that vertical sizing was entirely under the control of the plugin. As I said in https://github.com/wagtail/wagtail/issues/7210#issuecomment-847705405, I suspect that at some point browsers switched the default style of `<textarea>` from being

[2022-11-18 23:42] allcaps commented on #9285
Would it be a logical strategy to _only_ check live pages for duplicate slugs?

If Wagtail would check slug uniqueness on publish, the duplicate slugs in drafts would be irrelevant.

I'm probably forgetting about scenario's which refute this proposal... :)

[2022-11-18 23:56] allcaps commented on #9222
You'd have to register a collection as a snippet to get a modal.

[code]

The downside is that this also gives a "Snippets menu" with a terrible create/update form (treebeardfields).

[2022-11-19 04:21] tbrlpld commented on #7210
@thibaudcolas My confusion with the demonstrated behaviour is that horizontal resizing works while vertical does not. This is because the field is already fairly wide but does not have much vertical space. To me it would feel more natural to be able to resize vertically, but that may be a matter of taste. I think not being able to manually resize and only have the field automatically resize would

[2022-11-19 04:56] lb- commented on #9521
@salty-ivy  I think you are right about the JS stuff - searching in the code for `data-dabts-errors` uncovers this file.

client/src/entrypoints/admin/page-editor.js see `initErrorDetection`

[2022-11-19 05:45] salty-ivy commented on #9521
Would look into it soon

[2022-11-19 06:37] Theresa-o commented on #9674
I have been able to reproduce this using 1 to 3 images to see how the image position changes with the suggestion made by @onno-timmerman and how the various images changed with the original repo code (auto-fit).

These are my observations and suggestions;

I reproduced the images with the original code and - when there is just one image, from my observation, the initial intention was for it to be

[2022-11-19 08:09] th3hamm0r commented on #9285
I think this would increase the probability of shooting yourself in the foot 😉
The current solution is not bad, because it also validates uniqueness for scheduled publications for example. Django just validates all unique fields against the db, just before we write all the data into a new revision.

I think the only inconsistency left is, that the initial creation of a draft writes into the page t

[2022-11-19 15:12] salty-ivy commented on #9521
errors_count variable in the template is not making any difference it contains nothing all the class assignment and error text in the template is being added by JS  ```initErrorDetection```

[2022-11-19 18:32] salty-ivy commented on #9521
@lb-  i have made the PR, kindly review at your ease and let me know about any suggestions and ideas, thank you

[2022-11-19 19:03] AnishaSingh0118 commented on #9342
Hello @thibaudcolas as I had an idea to resolve this issue or to reach to the point where it gets resolved, I tried to make efforts and have come up with a PR.

Kindly guide what else could be done.
Would appreciate your feedback!

[2022-11-20 09:11] salty-ivy commented on #9656
@AnishaSingh0118 it is very much possible to fix it through manual input,
the issue is all about default behaviour and its customization ,

in case if you are stuck , let me know you should first open a draft PR i will help you out through the commits

[2022-11-20 09:27] AnishaSingh0118 commented on #9656
Ok, thanks for your support. I making a draft.

[2022-11-20 11:04] lb- commented on #9674
Have confirmed this but flagging as an enhancement instead of a bug.

[2022-11-20 11:18] #9674 closed

[2022-11-20 11:46] lb- commented on #7483
@hazho I agree that the form pages listing could do with some refinements, but at the moment we have a pretty consistent behaviour of the first column on the row linking to the 'thing'. In other cases where we do have buttons we have them inside the main thing row with buttons on hover.

See modeladmin, snippet listing and others for existing conventions.

For now I think this needs some further i

[2022-11-20 11:47] lb- commented on #7483
I will update the title of this to be a bit more generic and also have labelled as needs design decision before moving forward too much in this direction.

[2022-11-20 11:53] #3589 closed

[2022-11-20 12:47] Lovelyfin00 commented on #9342
Hi @AnishaSingh0118
I was going to work on it
But since you have already done that, then it's cool
Before working or creating a PR for other issues, find out if someone else is already working on it

[2022-11-20 13:52] AnishaSingh0118 commented on #9342
I have not entirely resolved the issue, you could still do it.

[2022-11-20 14:26] lb- commented on #9342
hey all - I think you should keep at this @AnishaSingh0118

@Lovelyfin00  - I am sure there are many other things to get your help on, and you are actively already working on some at the moment in parallel.

I think there has been a bit of confusion on this issue as it was not confirmed as something we wanted to fix until recently.

Thanks all for wanting to help improve Wagtail but Anisha - I enc

[2022-11-20 14:28] AnishaSingh0118 commented on #9342
Yes, I am working on it. Thank you so much for your support and for clearing this confusion.

[2022-11-20 15:37] Lovelyfin00 commented on #9342
Yeah @lb-
It was confirmed late
Thanks for working on this @AnishaSingh0118

[2022-11-21 09:48] laymonage commented on #9692
Yep, it's because we have these overrides:

https://github.com/wagtail/wagtail/blob/682ed3b21fa6924b1e1a6023f80ce7beea570071/wagtail/fields.py#L130-L138

Correct.

Correct.

Yes, but only when the method falls to the `else` block:

https://github.com/wagtail/wagtail/blob/682ed3b21fa6924b1e1a6023f80ce7beea570071/wagtail/fields.py#L196-L215

That happens when `get_prep_value()` is called by the `Dat

[2022-11-21 10:27] laymonage commented on #9692
Updated #9693 with the new approach.

[2022-11-21 15:26] chosak opened #9702 "Wagtail 3 removed the ability to manually set root page locale"
In Wagtail 2.16 and below, with Wagtail i18n enabled, it is possible to manually select a page's locale when creating it at the Wagtail root. This allows for manual creation of page trees in different languages even without using a translation package like simple_translation or wagtail-localize. This behavior was removed in Wagtail 3.0 and up due to the page editor redesign, perhaps inadvertently.

[2022-11-21 17:28] #9692 closed

[2022-11-21 19:00] prgood opened #9703 "Locked page with a mandatory blank field cannot be unlocked"
### Issue Summary

A locked page with a mandatory empty field cannot be unlocked. A exception is throw

### Steps to Reproduce

1. Create a new page and publish it
2. Lock this page
3. Add to the page's model a new mandatory text field (blank=False)
4. Try to unlock the page
5. We will receive an exception 'This field cannot be blank.'

Any other relevant information. For example, why do you consi

[2022-11-21 21:52] rgs258 opened #9704 "Setting to Pin Minimap by default"
### Is your proposal related to a problem?

It'd be great if the Minimap could be loaded open/pinned on each page, and then dismissed by users who want it to only engage on hover.

### Describe the solution you'd like

The easiest thing is probably to add a global setting to show the Minimap pinned. The better solution would be for the pinned state to be remembered for each user, the same as the l

[2022-11-22 02:43] coredumperror commented on #1250
We recently switched to wagtail-generic-chooser for our custom choosers (largely to allow us to use a custom base queryset for the chooser listing), and it's been great! We were able to remove a bunch of much jankier code that we'd written to support this, and the whole thing feels a lot more solid, now.

Really hoping this functionality gets added to Wagtail core soon.

[2022-11-22 08:15] lb- commented on #4098
Flagging as needs info - it would be good if this issue could be updated or added to with current state and ideas or proposals for a better approach.

Also - maybe we should check what template customisation is available here, it might be a lack of docs.

[2022-11-22 10:48] lb- commented on #9363
Fixed via #9382 4cf0cd62399288fe1941eaf73b880fdae3bef666

[2022-11-22 10:48] #9363 closed

[2022-11-22 10:50] lb- commented on #9202
Is anyone actively working on this issue?

@alvinokafor  @OsujiPius  or @Buduzz

[2022-11-22 10:51] lb- commented on #9227
@akshay-gupta7  are you still working on this? It's OK if not - just trying to get a sense of things.

[2022-11-22 10:52] lb- commented on #8656
@salty-ivy let me know if this is something you may be keen on picking up - it's not really a JS thing but a Django templates thing but would be great to get this one resolved.

[2022-11-22 10:59] lb- commented on #8565
Adding this to the Stimulus RFC project as a potential bit of scope.

[2022-11-22 11:00] lb- commented on #8483
@salty-ivy  here is a JS only one - you may be keen on investigating.

[2022-11-22 11:09] lb- commented on #7160
Might be fixed from https://github.com/wagtail/wagtail/pull/7810

[2022-11-22 11:12] lb- commented on #6899
Relates to https://github.com/wagtail/wagtail/issues/7160

May have been fixed via https://github.com/wagtail/wagtail/pull/7810

[2022-11-22 11:14] lb- commented on #6281
@albinazs  how did you go with this? Are you still ok to continue on this, no problems if not, just checking in.

[2022-11-22 11:16] lb- commented on #6089
Partial work to make banner addition easier is done via this PR https://github.com/wagtail/wagtail/pull/8605

[2022-11-22 11:18] lb- commented on #8656
See related issue https://github.com/wagtail/wagtail/issues/5778 (status tag contrast)

[2022-11-22 11:24] lb- commented on #5060
This may be fixed or at least improved via https://github.com/wagtail/wagtail/pull/8697

[2022-11-22 11:26] lb- commented on #4870
See discussion about development for beginners - lots of overlap with Windows issues documented there https://github.com/wagtail/wagtail/discussions/9557

This issue, however, may be fixed (or at least progress made) via this PR https://github.com/wagtail/wagtail/pull/9559

[2022-11-22 11:29] lb- commented on #4615
Some minor improvement will have been made towards this most likely via https://github.com/wagtail/wagtail/pull/8598 (lazy loading).

The underlying issue is not yet fixed I think but just flagging.

[2022-11-22 11:31] fgiering opened #9705 "Page jumps to top on "save draft""
### Is your proposal related to a problem?

I'm always frustrated when I save a page draft in the wagtail admin-backend and the reload put me back to the top of the page, but I want to work on the last edited component further down. So I always need to search for the component I was editing. And at some components I also need to expand them on multiple levels to get there...

### Describe the solu

[2022-11-22 11:33] lb- commented on #3604
If anyone can confirm this is still an issue in 4.1 LTS - would be good to check.

[2022-11-22 11:34] lb- commented on #2936
Flagging as potentially in scope of the RFC78 stimulus project - much of the JS in this file will be replaced with Stimulus controller logic most likely.

[2022-11-22 11:37] lb- commented on #2087
This may have been resolved via https://github.com/wagtail/wagtail/pull/8385

[2022-11-22 11:40] lb- commented on #1230
Note that since this issue has been created it is now much easier to have custom Django widgets in place for form builder.

Not the exact docs but similar use case (custom field types) https://docs.wagtail.org/en/stable/reference/contrib/forms/customisation.html#adding-a-custom-field-type

Maybe we can consider this closed or solve with an example in the docs for this kind of thing.

It's a tricky

[2022-11-22 11:45] lb- commented on #492
Not sure if this can be closed now that we have extensive logging / page history and auditing features.

https://docs.wagtail.org/en/stable/extending/audit_log.html

[2022-11-22 11:47] lb- commented on #161
Kind of related - https://github.com/wagtail/wagtail/issues/1063 (live fields, where some field is automatically updated based on some other field/s).

[2022-11-22 11:57] salty-ivy commented on #8656
@lb- sure why not, I am fine with python/Django work got better experience with that.
Open to all kinds !

[2022-11-22 11:58] salty-ivy commented on #8656
Would look into it asap.

[2022-11-22 12:15] waldmann-sebastian commented on #9705
We've the same problem.

[2022-11-22 12:23] gasman commented on #492
Yep, closing. While @kaedroho does specify that this refers to Python logging to the console / logfiles as distinct from the database, I believe the audit log serves this purpose for 'INFO' level logging. That just leaves 'warning' logs, and since the list suggested here is open-ended, this doesn't count as an actionable task that can ever be considered 'complete'.

If anyone still feels there are

[2022-11-22 12:23] #492 closed

[2022-11-22 12:30] gasman commented on #9705
The long-term plan is to implement auto-saving, so that 'save draft' ultimately becomes unnecessary. It's not likely that this will be implemented in full any time soon, but a useful step towards it would be to have saving happen as a background action so that there's no need for a page reload. (This would require having sufficient front-end code to give the necessary feedback to the user, includi

[2022-11-22 12:35] lb- commented on #8056
Added this as a likely scope item for the Stimulus RFC 78 project.

[2022-11-22 12:37] dkirkham opened #9706 "RichTextField with no block elements renders with unhelpful UI components"
### RichTextField with no block elements renders with unhelpful UI components

This is more a cosmetic issue, than a bug per se. It might be more of a bug from an accessibility point of view.

When specifying a RichTextField _without_ any block elements in the feature list, the widget still renders:
* an empty menu of block elements when the circle/plus icon is clicked
* the placeholder text sugge

[2022-11-22 12:39] gasman commented on #3604
This does still exist in current main:

![Screenshot 2022-11-22 at 12 33 05](https://user-images.githubusercontent.com/85097/203315483-65e12d7b-d636-457e-bdf6-cf64b4c2006f.png)

It appears that it was fixed for date pickers in modals as part of #8901, though.

[2022-11-22 12:48] gasman opened #9707 "Rich text toolbar has no item for <hr> horizontal rules"
### Issue Summary

As per https://github.com/wagtail/wagtail/issues/9281#issuecomment-1302146328 - when the 'hr' rich text feature is enabled (which it is as default, according to https://docs.wagtail.org/en/stable/advanced_topics/customisation/page_editing_interface.html#limiting-features-in-a-rich-text-field), there is no item for it in the rich text block-element menu as expected. They can stil

[2022-11-22 13:42] akshay-gupta7 commented on #9227
@lb- yes I'm working on this, I'll provide you with an update by this weekend.

[2022-11-22 13:53] lb- commented on #9227
@akshay-gupta7 no problems at all & no rush. Just add a comment to this issue if you're stuck with anything or have any questions.

[2022-11-22 13:55] akshay-gupta7 commented on #9227
Appreciate the support @lb- !

[2022-11-22 14:32] gasman opened #9708 "Reference indexing fails when a ParentalKey relation is masked by a property of the same name"
Developers will often set ParentalKey to point to the base `Page` model rather than the specific page type it relates to, meaning that the relation is defined on all page types, even if it's not used as such:

    class FooPage(Page):
        # ...

    class FooStatistics(Orderable):
        page = ParentalKey(Page, related_name="statistics")  # should really be FooPage
        # ...

The `Refere

[2022-11-22 15:03] salty-ivy commented on #8656
@lb- could you please give me a heads up, probably like  what exactly needs to be done (pin pointed file as its little tedious to look for it in the codebase as i am new to it) ? would be appreciated

[2022-11-22 21:52] #9521 closed

[2022-11-22 22:31] #5899 closed

[2022-11-22 22:33] lb- commented on #6281
@albinazs  no rush - you may end up more focused on other tasks in the short term - happy for you to leave this and I am sure another contributor can pick it up.

[2022-11-22 22:45] #8337 closed

[2022-11-23 03:36] salty-ivy commented on #9493
alright, got it.

[2022-11-23 04:46] salty-ivy commented on #8483
Would look into it

[2022-11-23 09:23] dkirkham commented on #9652
Hi @thibaudcolas and @laymonage, giving this a bump as I'd like some core team guidance on how we specify the icon for a snippet and for a page; doing it in this issue as it is the feature request compared with my draft PR #9653 which implements part of this feature.

Options I can suggest are:
1. use a property (eg. `admin_icon`):
    - pro: simple
    - con: eats into namespace in the snippet or

[2022-11-23 12:22] laymonage opened #9710 "Extract revisions and draft state logic from generic views"
As part of introducing workflows for snippets, we will add the code that will handle the workflow actions in snippets' create/edit views. We can add this to the snippet views directly, but with our previous work on making revisions and draft state available for snippets and our ongoing plan to bring snippets and pages closer together, we'd like to extract the logic for these optional features outs

[2022-11-23 14:06] vallabhtiwari commented on #9683
Hi @onno-timmerman , I would like to work on this please? This would be my first good first issue so it may take some time. Also, devdocs are written in Ruby but I have never worked with it, but I will figure it out.

[2022-11-23 16:14] gasman commented on #9664
This could be hard to introduce in a backwards-compatible way - for example, if a developer specifies `content_panels` in full (hard-coding `FieldPanel('title')` rather than `Page.content_panels + [...]`) but leaves `promote_panels` unchanged, they'll end up with a missing slug field unless Wagtail takes specific steps to identify and correct for this.

[2022-11-23 17:53] zerolab opened #9712 "Add ability to customise account panels"
https://github.com/wagtail/wagtail/blob/main/wagtail/admin/views/account.py#L226-L238

Use case: I want to selectively disable certain panels (e.g. password change form) depending on some conditions.

We allow this for the home panels - https://github.com/wagtail/wagtail/blob/main/wagtail/admin/views/home.py#L277-L289

[2022-11-23 20:25] lb- commented on #8885
Closing this as the main goal (small cleanup & Dev docs) has been done via https://github.com/wagtail/wagtail/commit/30585340fd020391aae6d406b02aea4ab73c4177

https://github.com/wagtail/wagtail/pull/8886

[2022-11-23 20:25] #8885 closed

[2022-11-23 20:40] lb- commented on #6107
Now that https://github.com/wagtail/wagtail/pull/8886 is merged, I would like to prepare a pull request that updates the icon classname usage from `class_name` to `classname`. See docs - https://docs.wagtail.org/en/latest/contributing/general_guidelines.html#use-classname-in-python-html-template-tag-variables

**I will try to get this PR up soon but wanted to post here unless there are critical ob

[2022-11-23 21:29] lb- commented on #8656
@salty-ivy  issue is updated - hopefully it's a bit clearer

[2022-11-23 21:40] lb- commented on #2087
Just read the issue again, this is specific to `ImageChooserBlock` and hence is probably not fixed by the recent changes - I have updated the title to include `ImageChooserBlock`.

[2022-11-23 21:52] lb- commented on #7160
Update

* https://github.com/wagtail/wagtail/pull/7810 made a lot improvements to how the collection ID can be passed around to the various add/edit pages
* It does not fix this issue though
* PR https://github.com/wagtail/wagtail/pull/7756 is looking close but now needs to be rebased on main and refactored to account for the new approach that #7810 brought in

@bmihelac  - Are you still keen on p

[2022-11-23 21:57] lb- commented on #5060
Update - looks like the approach is basically the same with a nicer hover.

I might also flag this as Needs UI Design - cc @thibaudcolas

<img width="1727" alt="Screen Shot 2022-11-24 at 7 56 42 am" src="https://user-images.githubusercontent.com/1396140/203652739-1b948ab8-30ca-47b8-b603-9668d5aa2e43.png">

[2022-11-23 22:00] gasman commented on #7210
Reopening as I believe this has been misdiagnosed in #9651. The jquery.autosize plugin (in its original version) intentionally disables manual vertical resizing so that the element height is solely under the control of the auto-size logic. Taking out this step means that resizing the box and then editing the text causes it to suddenly jump to its natural height, which I think is just as undesirabl

[2022-11-24 02:31] salty-ivy commented on #8656
Alright thanks a lot !

[2022-11-24 12:35] gasman commented on #6126
Looks like this has been fixed as part of the chooser refactoring in 4.0, most likely in #8776.

[2022-11-24 12:35] #6126 closed

[2022-11-24 13:58] gasman opened #9714 "Implement a 'choose' permission for pages"
### Is your proposal related to a problem?

The page chooser modal allows users to choose any page from the entire tree, regardless of permission (because it should be possible to create links to pages you don't have edit permission on, for example). This is undesirable in a multi-tenant setup where users on one site should ideally not even know of the existence of others.

Similar situations aris

[2022-11-24 15:08] thibaudcolas commented on #6281
I’ve re-titled this issue because I think there are other changes we’d ideally do to this:

- [ ] Use semantic markup for the toggle, and the popover
- [ ] Use Tippy.js to drive the rendering of the popover
- [ ] Use Stimulus to instantiate those widgets
- [ ] Update the popover’s designs to match the newer ones implemented in the page editor redesign

This is the kind of design I’d expect at this

[2022-11-24 15:20] thibaudcolas opened #9715 "Login screen design improvements"
Figma link: https://www.figma.com/file/h67EsVXdWsfu38WGGxWfpi/Wagtail-Design-System?node-id=9578%3A57713&t=zxYy9ZM5omAblLZd-4

## TODO

- [ ] Switch to the full Wagtail logotype, with updated bird (thicker feathers white stroke)
- [ ] Remove "*" asterisk indicators next to field labels

## TBC

- [ ] Move "Forgotten password?" to be off to the right of the "Remember me" checkbox
- [ ] Change forgo

[2022-11-24 15:23] thibaudcolas opened #9716 "Always-available comment buttons in page editor"
Discussed during design review with @benenright as a simple improvement to the commenting UX.

- [ ] The "Add" and "view existing comments" buttons could always be available, triggering the "comments" side panel to reveal when clicked.
- [ ] The "Add" button in rich text should also always be there
- [ ] Remove extra spacing to the right of fields

Related: #8147

---

Once we implement this, we n

[2022-11-24 15:34] thibaudcolas commented on #5982
It looks like YouTube has (finally!) fixed this on their side – so I’ll close this now.

[2022-11-24 15:34] #5982 closed

[2022-11-24 15:50] zerolab commented on #9716
Worth noting this should only be available with `WAGTAILADMIN_COMMENTS_ENABLED = True`

[2022-11-24 16:36] zerolab opened #9717 "`TypedTableBlock`"
`TypedTableBlock`s are cut off in the 4.x UI

e.g. https://github.com/wagtail/wagtail.org/blob/main/wagtailio/core/blocks.py#L136-L152

For https://wagtail.org/wagtail-vs-wordpress/ we see
![Screenshot 2022-11-24 at 16 32 33](https://user-images.githubusercontent.com/31622/203832358-a3c36580-7384-440e-a229-3f4b9ad9f2b6.png)

[2022-11-24 16:38] pvetch commented on #9717
This might not be a problem in itself but it is hard to figure out how to see the clipped content (it's possible if you persevere, but by no means obvious)

[2022-11-24 20:41] lb- commented on #9715
I cannot seem to access that Figma (might not be public), nonetheless, here are some comments from previous work done via https://github.com/wagtail/wagtail/issues/2309 & others (links below).

Not huge blockers - more just notes from what we learned.

### Considerations

* Wagtail Logo on login page - need to consider windows high contrast mode both dark & light variants
* Asterisk indicators - I

[2022-11-24 20:42] lb- commented on #6281
I have added this to the Stimulus RFC project.

[2022-11-25 09:09] nimasmi commented on #5982
:relieved:

[2022-11-25 09:20] thibaudcolas commented on #7210
@gasman personally I’m happy with either allowing both directions of manual resizing (what I’ve merged) or none (your PR).

The point in allowing vertical resizing in addition to horizontal is that people can make a field narrower as needed, and also change the height of the field so they can still see the whole content, without having to press "Enter" in the field to let the auto-size kick in. Pr

[2022-11-25 12:02] laymonage opened #9720 "Add docs and tests for adding `publish` permissions for snippets"
When we implemented the draft/publishing feature for snippets, the publishing action requires a `publish` permission on the snippet model. However, we haven't explicitly documented and tested that the permission should be set up (and how). We need to add the docs, tests, and possibly a helper function or mechanism within Wagtail to automatically show and create the permission objects and controls

[2022-11-25 12:14] thibaudcolas commented on #9706
Thank you for the report @dkirkham! This feels like a clear UX issue. I’m not too clear on what the right fix or fixes would be for this, and whether it qualifies as a bug or not.

I agree with your plan on how to fix this, though am finding this a bit hard to reason about so any further input / feedback is very welcome.

[2022-11-25 13:15] dkirkham commented on #9706
@thibaudcolas, is the issue my use case (ie. not wanting the block elements) being unreasonable, or is it deciding exactly how to present the UI in this circumstance?

Since the issue doesn’t prevent any work being done, nor does it corrupt any data or cause a crash, I’m quite happy for this not to be classified as a bug, but instead as a feature request to clean up the UI.

[2022-11-25 17:16] #9318 closed

[2022-11-25 17:21] thibaudcolas commented on #9318
For everyone interested in this, we’ve adjusted slightly in #9719 by using `:placeholder-shown` so the title field’s border appears when the field is empty. We’re hoping this alleviates the problem without us having to rely on autofocusing the field, which could cause issues for screen reader and keyboard users.

[2022-11-26 10:51] pauloxnet opened #9722 "Add ActivityPub support"
### Is your proposal related to a problem?

I want the readers of my Wagtail based website will be able to follow my news on Mastodon and other federated platforms that support [ActivityPub](https://activitypub.rocks/).

### Describe the solution you'd like

Add support for ActivityPub in Wagtail so that it works out-of-the-box.

### Describe alternatives you've considered

Wordpress already have

[2022-11-26 12:06] pky-repos commented on #9705
@gasman We can also have a button saying "Save and Keep editing" (in addition to the save button) which would take the scroll to the component last edited (until we have the autosave implemented)!?

[2022-11-26 15:14] salty-ivy commented on #8656
@lb-  could you please tell me what's the use of
wagtail/admin/templates/wagtailadmin/shared/page_status_tag_new.html
because there's already
wagtail/admin/templates/wagtailadmin/shared/page_status_tag.html

[2022-11-26 16:45] andrewgodwin commented on #9722
So, as an alleged expert in this now, here's what I think the basic coverage of ActivityPub (i.e. sending posts to followers with only a single "account" you follow for the whole server) would entail:

* A Follower model that tracks which ActivityPub Actors are following the server
* A FanOut model that tracks which Actors have been delivered which posts
* A background worker, like Takahē's Stator

[2022-11-26 21:34] lb- commented on #9722
I personally think that something like this would be better suited to be an external package. Maybe even starting as a blog post or two from anyone in the community.

While I agree that this capability would be awesome and I'm all for ActivityPub - this is not something that all sites would use and might not be suitable for Wagtail core.

It might be worth discussing what parts are missing that ma

[2022-11-26 22:50] lb- commented on #7111
Implemented via https://github.com/wagtail/wagtail/pull/9377 & https://github.com/wagtail/wagtail/commit/5c1c2c8f531d96f4568f6dfa6ce71bc32dd9d16c

[2022-11-26 22:50] #7111 closed

[2022-11-26 23:12] pauloxnet commented on #9722
Thanks for your feedback.
I'm not a Wagtail or ActivityPub expert but I thought that integrating ActivitPub in Wagtail can be a great features that can attract more users and developers.
I opened this issue to start a discussion about this feature but I don't know if it can be implemented as an external package or not, I hope others can share their thoughts.

[2022-11-26 23:25] lb- commented on #7112
@loicteixeira how did you go with checks from changes done in May?

[2022-11-26 23:35] lb- commented on #8656
@salty-ivy good question, I might need to defer to @thibaudcolas as to the long term plan here but here's my best guess.

From the looks of these, they are a specific usage of the status tag to show the page's love status only.

So I think that `page_status_tag` would end up using the new component you create.

Then... The new one is a new design that uses Tippy for the same purpose. So I guess a

[2022-11-27 02:23] lb- commented on #9722
Thanks @pauloxnet - I 100% think this is a good discussion to have and agree that the more Wagtail can do for developers the better it is. However, some things are often best suited as an external package even if it may end up in core in the future.

Let's give others a week or so to give feedback and thoughts - we may end up moving this to a discussion not an issue from there.

[2022-11-27 08:03] pauloxnet commented on #9722
I agree with you. Maybe this would be a starting point for an external package, if feasible.

[2022-11-27 09:56] salty-ivy commented on #8656
Alright, I see it now

[2022-11-28 09:02] loicteixeira commented on #7112
Ah! I forgot to comment here after testing 😞

Unfortunately, enabling the setting did not seem to do anything. So I either did something wrong, or misunderstood what it is supposed to do. I'll give it another go.

FWIW, the rule was off this morning, so I turned it back into a warning, but will investigate further later.

[2022-11-28 10:46] laymonage opened #9725 "Saving a draft snippet should remain on the editor instead of redirecting to the listing page"
When saving a snippet with a `DraftStateMixin` applied, Wagtail responds with a redirect to the listing page. This is fine (and is the existing behaviour) for snippets without `DraftStateMixin` (or when doing the Publish action instead), as the changes are made to the "live" instance immediately.

However, when saving a draft, it's desirable to remain on the editor as users may want to make additi

[2022-11-28 15:55] thibaudcolas commented on #8533
If anyone wants to work on this, here is the problematic code: https://github.com/wagtail/wagtail/blob/beab3d4e7feba37c4542565dcd85daeeb351d35f/client/src/components/StreamField/blocks/BaseSequenceBlock.js#L161-L163

In other parts of Wagtail we at least have a "if icon starts with `fa-`" adjustment to special-case the FontAwesome icon font. It’s not very elegant but does the trick.

[2022-11-28 18:51] gasman commented on #1250
As of Wagtail 4 the core replacement for wagtail-generic-chooser is now in place - https://docs.wagtail.org/en/stable/extending/generic_views.html#chooserviewset

It isn't currently a like-for-like replacement for the page chooser, as it doesn't support tree-based navigation, but maybe it'll fit your needs.

[2022-11-28 20:03] Julietadeboye commented on #9202
Hi LB, I'll work on this issue. Thanks

[2022-11-28 20:29] lb- commented on #9202
Thanks @Julietadeboye - assigned to you for now.

[2022-11-29 11:42] gasman commented on #7915
As of #8194 the inline_panel.js template code has now been moved into wagtail/admin/templates/wagtailadmin/panels/inline_panel.html alongside the corresponding HTML template code. It's still using the 'template code inside JS' antipattern, and it would be nice to eliminate this, but at this point it's more or less at parity with the numerous other components that do `<script>initFoo(...)</script>`

[2022-11-29 11:50] jffr opened #9727 "Filtering or excluding stream field values in queryset throws an exception"
### Issue Summary

I'm trying to generate a report that only shows pages that are using a specific stream field. An empty stream field doesn't contain a `NULL` value but the text `'[]'`. When I try to exclude that in my queryset it throws the error: `'str' object has no attribute 'get_prep_value'`.

Is it possible to filter/exclude stream field values?

### Steps to Reproduce

1. Create a model wi

[2022-11-29 12:03] #9727 closed

[2022-11-29 12:26] gasman commented on #2203
I'm working on this with a target of getting it into Wagtail 4.2.

The proposed developer / user journey:

* A child model is set up in the same way as for InlinePanel (with a ParentalKey pointing back to the page or other ClusterableModel)
* The developer imports `from wagtail.admin.panels import MultipleChooserPanel` and uses that in the panel definition in place of InlinePanel - this follows th

[2022-11-29 13:54] brylie commented on #1250
Is there a recommended way to specify the `queryset` for a `ChooserViewset`, or do we override the `get_object_list` method?

[2022-11-29 15:29] nicklee commented on #8823
If we want to stick with the green theme, we could go a little minty to ensure we're not too close to any existing colours, I've updated @thibaudcolas's grid here with the addition of the "new focus":

https://contrast-grid.eightshapes.com/?version=1.1.0&background-colors=%23FFFFFF%2C%20white%0D%0A%232E1F5E%2C%20primary%0D%0A%23F6F6F8%2C%20grey-50%0D%0A%23E0E0E0%2C%20grey-100%0D%0A%23929292%2C%20g

[2022-11-29 16:50] gasman commented on #2203
Sub-tasks:

- [ ] Build a mechanism that lets us access the Javascript API for a chooser widget definition from within the InlinePanel JS code
- [ ] Refactor the chooser widget JS API to provide an endpoint for opening the chooser modal (and passing it the `multiple=true` parameter) and receiving the result, without it being tied to a single chooser widget instance
- [ ] Modify the base chooser mo

[2022-11-29 17:56] gasman opened #9728 "Setting WAGTAILIMAGES_RENDITION_STORAGE generates a migration in wagtailimages"
### Issue Summary

Running `./manage.py makemigrations` while WAGTAILIMAGES_RENDITION_STORAGE is set to something other than the default storage causes a migration to be generated within the wagtailimages app

### Steps to Reproduce

1. (for example) Start a new project with `wagtail start myproject`
2. Run `./manage.py migrate` and `./manage.py makemigrations`; this outputs "No changes detected"

[2022-11-29 18:04] gasman commented on #9728
It looks like this is caused by a logic error in https://github.com/django/django/commit/2d42e23b6d8fd76f93a96b2310b2c9dfd441d009. Adding the callable `storage` kwarg to Rendition.file should have generated a migration in wagtailimages regardless of the WAGTAILIMAGES_RENDITION_STORAGE setting - which we would have then shipped with Wagtail. However, the `if self.storage is not default_storage:` ch

[2022-11-29 19:32] andre-fuchs opened #9729 "Wagtail User Guide Background Image Bug"
Not sure how this is meant to look, but the text in front of the images here is not legible at all.

### Pertinent section of the Wagtail docs
[https://guide.wagtail.org/en-latest/how-to/how-to-promote-search-results/](
https://guide.wagtail.org/en-latest/how-to/how-to-promote-search-results/)

### Details
Firefox 105.0.3 on Pop!_OS

![Screenshot from 2022-11-29 20-27-56](https://user-images.githu

[2022-11-29 20:30] lb- commented on #7915
This issue has been added to the Stimulus RFC project - the aim is to migrate InlinePanel to this new approach.

[2022-11-29 20:44] lb- commented on #2203
I'd like to see how this can tie in with the Stimulus adoption for InlinePanel widgets. I think Stimulus will give us some nice options on how to connect to the JS behaviour.

See also
- https://github.com/wagtail/wagtail/issues/7915 (moving away from inline JS)
- https://github.com/wagtail/wagtail/issues/9105

Not sure how we should co-ordinate this - I had planned on doing the InlinePanel migrat

[2022-11-29 21:57] #9667 closed

[2022-11-29 22:15] lb- commented on #8664
My latest attempt at this https://github.com/lb-/wagtail/commit/2356ec367738bf8f44fcf2540bb245ef98ec2e65

However, it breaks the height of all the sidebars content (such as minimap), the height of these no longer tracks with long content in pages.

[2022-11-30 03:50] hvanness opened #9730 "Wagtail requires django-taggit>=3.0, but setup.py specifies django-taggit>=2.0,<4.0"
### Issue Summary

Wagtail requires django-taggit>=3.0, but setup.py specifies django-taggit>=2.0,<4.0

### Steps to Reproduce

Clicking an image tag in the image admin causes a server error:
File "[...]/lib/python3.8/site-packages/wagtail/images/views/images.py", line 116, in get_context_data
    images = images.filter(tags__name=self.current_tag)
*** django.core.exceptions.FieldError: Related Fi

[2022-11-30 06:11] dkirkham opened #9731 "Additional control of models indexed with ReferenceIndex"
### Is your proposal related to a problem?

`ReferenceIndex`, and its related management command, `rebuild_references_index` will by default find relationships between all models in one's project, unless the models have the attribute `wagtail_reference_index_ignore` set to `True`.

This method poses a difficulty for 3rd-party apps that are loaded as a package, but even for "in-house" apps, one end

[2022-11-30 08:58] gasman commented on #9730
Hi @hvanness - please see the discussion on #9244. The requirement for django-taggit 3.0 comes from Django 4.1, rather than Wagtail - running Wagtail against an older Django version and django-taggit 2.x is still supported.

[2022-11-30 08:58] #9730 closed

[2022-11-30 10:05] lb- commented on #7112
thanks for investigating Loic.

[2022-11-30 11:48] laymonage opened #9733 "Make `LockableMixin` applicable to snippets and add locking for scheduled publishing"
The workflows feature makes use of the `LockableMixin` and Wagtail's `WorkflowLock` object to lock the page when it's awaiting review. The locking mechanism in workflows itself doesn't actually make use of the database fields in `LockableMixin`, as it only uses the mixin as an interface by returning the `WorkflowLock` object in `get_lock()`.

The `LockableMixin` is currently not applicable to non-

[2022-11-30 11:50] gasman commented on #1250
@brylie Overriding `get_object_list` is indeed the way to go.

[2022-11-30 12:19] gasman commented on #9728
Issue opened against Django: https://code.djangoproject.com/ticket/34192

[2022-11-30 12:38] laymonage opened #9734 "Workflow information dialog uses hardcoded "Moderators approval" title"
### Issue Summary

When a page is submitted to a workflow, we show an "In Moderation" information in the status side panel:

<img width="525" alt="image" src="https://user-images.githubusercontent.com/6379424/204793101-40c073ad-56d5-4517-bd54-2699a95e185b.png">

Upon clicking the "View details" button, a dialog pops up to show the details of the steps within the workflow.

<img width="618" alt="im

[2022-11-30 13:09] vallabhtiwari commented on #9683
Hi @tajbaba999 , I have already made the PR on the external repo. Soon it would be merged and this issue will be closed.

[2022-11-30 13:40] gasman commented on #2203
On "Build a mechanism that lets us access the Javascript API for a chooser widget definition from within the InlinePanel JS code":

There are two points where MultipleChooserPanel will need to talk to the chooser widget JS API:

* triggering the modal
* populating each widget with the data chosen

Within an InlinePanel, fields are rendered using the standard Django `Widget.render` method, which in

[2022-11-30 14:01] zerolab commented on #9683
https://github.com/freeCodeCamp/devdocs/pull/1879 for reference

[2022-11-30 15:26] tajbaba999 commented on #9683
Thank you for replying can you please help me in my open-source contribution journey? I tried to reach you on Twitter.

[2022-11-30 16:52] zerolab commented on #9683
@tajbaba999 I would recommend joining the Wagtail Slack - https://github.com/wagtail/wagtail/#-community-support, especially the `#new-contributors` channel.

[2022-11-30 17:22] tajbaba999 commented on #9683
I am already in the slack channel can you help me out me with the good first issues?